<a href="https://colab.research.google.com/github/TheJoys2019/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/Artin%20Sinani%20-%20_LS_DS3_122_Join_datasets_LIVE_LESSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [7]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 21:37:53--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.177.125
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.177.125|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  43.9MB/s    in 5.0s

2019-03-26 21:37:59 (39.2 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [8]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [9]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [10]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [11]:
!ls -lh

total 877M
-rw-r--r-- 1  502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1  502 staff  270 May  2  2017 departments.csv
drwxr-xr-x 2  502 staff 4.0K May  2  2017 instacart_2017_05_01
-rw-r--r-- 1 root root  197M Oct 20  2017 instacart_online_grocery_shopping_2017_05_01.tar.gz
-rw-r--r-- 1  502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1  502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1  502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1  502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')

In [13]:
aisles.shape

(134, 2)

In [14]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [15]:
display(example)

aisles doesn't have any columns we need

### departments

In [0]:
dept = pd.read_csv('departments.csv')

In [17]:
dept.shape

(21, 2)

In [18]:
dept.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [19]:
display(example)

deptartments don't have any columns that we need

### order_products__prior

In [0]:
opp = pd.read_csv('order_products__prior.csv')

In [21]:
opp.shape

(32434489, 4)

In [22]:
opp.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

**order_products_prior** has
- order id
- product_id
- add_to_cart_order

In [23]:
display(example)

In [24]:
opp.groupby('order_id')['product_id'].count()

order_id
2           9
3           8
4          13
5          26
6           3
7           2
8           1
9          15
10         15
11          5
12         15
13         13
14         11
15          5
16          3
18         28
19          3
20          8
21          5
22         14
23         14
24          3
25         14
26          8
27         27
28         16
29          5
30          3
31         10
32          9
           ..
3421048     8
3421050    13
3421051    31
3421052     2
3421053     9
3421055    19
3421057     5
3421059     6
3421060    17
3421061    22
3421062     7
3421064     3
3421065     5
3421066     6
3421067     1
3421068    14
3421069    12
3421071     5
3421072    12
3421073     2
3421074     4
3421075     8
3421076     8
3421077     4
3421078     9
3421079     1
3421080     9
3421081     7
3421082     7
3421083    10
Name: product_id, Length: 3214874, dtype: int64

In [25]:
opp.groupby('order_id')['product_id'].count().mean()

10.088883421247614

### order_products__train

In [0]:
opt = pd.read_csv('order_products__train.csv')

In [27]:
opt.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [0]:
optATCO = opt['add_to_cart_order']

**Order_Products__prior** and **order_products__train** have the exact same columns.

In [29]:
opt.shape

(1384617, 4)

### orders

In [0]:
order = pd.read_csv('orders.csv')

In [31]:
order.shape

(3421083, 7)

In [32]:
order.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [33]:
display(example)

**orders** has:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

### products

In [0]:
products = pd.read_csv('products.csv')

In [35]:
products.shape

(49688, 4)

In [36]:
products.head(200)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
5,6,Dry Nose Oil,11,11
6,7,Pure Coconut Water With Orange,98,7
7,8,Cut Russet Potatoes Steam N' Mash,116,1
8,9,Light Strawberry Blueberry Yogurt,120,16
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7
10,11,Peach Mango Juice,31,7
11,12,Chocolate Fudge Layer Cake,119,1
12,13,Saline Nasal Mist,11,11
13,14,Fresh Scent Dishwasher Cleaner,74,17
14,15,Overnight Diapers Size 6,56,18
15,16,Mint Chocolate Flavored Syrup,103,19
16,17,Rendered Duck Fat,35,12
17,18,Pizza for One Suprema Frozen Pizza,79,1
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7
20,21,Small & Medium Dental Dog Treats,40,8
21,22,Fresh Breath Oral Rinse Mild Mint,20,11
22,23,Organic Turkey Burgers,49,12
23,24,Tri-Vi-Sol® Vitamins A-C-and D Supplement Drop...,47,11
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19
25,26,Fancy Feast Trout Feast Flaked Wet Cat Food,41,8
26,27,Complete Spring Water Foaming Antibacterial Ha...,127,11
27,28,Wheat Chex Cereal,121,14
28,29,Fresh Cut Golden Sweet No Salt Added Whole Ker...,81,15
29,30,"Three Cheese Ziti, Marinara with Meatballs",38,1
...,...,...,...,...
170,171,Steakhouse Onion Burger with Garlic Seasoning,5,13
171,172,Gluten Free All Natural Chocolate Chip Cookies,61,19
172,173,Habanero Lime Shrimp Flavor Ramen Noodle Soup,4,9
173,174,Vanishing Acne Treatment Cream,73,11
174,175,T Bone Steak,122,12
175,176,Original Turkey,96,20
176,177,Citrus Terere Yerba Mate,94,7
177,178,Vegan Santa Fe Style Flour Tortilla Rolled Tacos,42,1
178,179,Penne Rigate With Spinach,131,9
179,180,Simply Beyond Black Bean Tortilla Chips,107,19
180,181,Country Style Baked Beans,59,15
181,182,Acti-Fresh Body Shape Long Unscented To Go Pan...,126,11
182,183,Cookie Dough Performance Energy,3,19
183,184,Kisses Milk Chocolate Candy,45,19
184,185,Chicken Nugget Meal,38,1
185,186,Fresh Scent Dishwasher Detergent with Dawn,74,17
186,187,Wild Sardines in Marinara Sauce,95,15
187,188,Mild El Nino Salsa,67,20
188,189,Healthfull Nuts & Seeds Bread,112,3
189,190,Classic Culinary Low Sodium Vegetable Broth,69,15
190,191,Medium Spicy Butter Chicken Simmer Sauce,9,9
191,192,Israeli Style Gefilte Fish,33,6
192,193,fruitwater® Strawberry Kiwi Sparkling Water,98,7
193,194,Lamb Rib Chops,122,12
194,195,Grade A Pasteurized 2% Milkfat Lowfat Cottage ...,108,16
195,196,Soda,77,7
196,197,Cold Brew Coffee Tahitian Vanilla,26,7
197,198,Tzatziki Cucumber Sauce,67,20
198,199,Herb Thyme Clamshell,16,4
199,200,Radiant Pantiliners Regular Wrapped Unscented,126,11

**products** has
- product_id
- product_name

In [49]:
products.sort_values(products['product_id'])

KeyError: ignored

In [0]:
display(example)

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([opp, opt])

In [0]:
order_products.shape, opp.shape, opt.shape

In [0]:
assert len(order_products) == len(opp) + len(opt)

In [0]:
assert len(order_products.columns) == len(opp.columns) == len(opt.columns)

In [0]:
order_products.shape[0]

In [0]:
rows, columns = order_products.shape

In [0]:
print('Rows:', rows)
print('Columns:', columns)

In [0]:
a_rows, a_col = opp.shape
b_rows, b_col = opt.shape
c_rows, c_col = order_products.shape

assert a_col == b_col == c_col
assert a_rows + b_rows == c_rows

In [0]:
display(example)

In [0]:
condition = order_products['order_id']==2539329
order_products[condition]

## Get a subset of orders — the first two orders for user id 1

From `orders` dataframe:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
order.head()

In [0]:
order[order['user_id']==1].head(2) # [:2]

In [0]:
condition2 = (order['user_id'] == 1) & (order['order_number'] <= 2)

In [39]:
order[(order['user_id'] == 1) & (order['order_number'] <= 2)]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0

In [40]:
condition2 = (order['user_id'] == 1) & (order['order_number'] <= 2)

columns = ['user_id' ,
           'order_id',
           'order_number',
           'order_dow',
           'order_hour_of_day']

order.loc[condition2, columns]

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

In [0]:
subset = order.loc[condition2, columns]

In [42]:
subset

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

## Merge dataframes

Merge the subset from `orders` with columns from `order_products`

In [0]:
columns = ['order_id', 'add_to_cart_order', 'product_id']

merged = pd.merge(subset, order_products[columns])

In [53]:
subset.shape, order_products.shape, merged.shape

((2, 5), (33819106, 4), (11, 7))

In [54]:
subset

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

In [55]:
order_products[columns].head(1)

   order_id  add_to_cart_order  product_id
0         2                  1       33120

In [56]:
merged.head(1)

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id
0,1,2539329,1,2,8,1,196

In [57]:
display(example)

In [58]:
order.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [59]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

Merge with columns from `products`

In [0]:
final = pd.merge(merged, products[['product_id','product_name']],
               how='inner', on='product_id')

In [61]:
merged.shape, products.shape, products[['product_id','product_name']].shape, final.shape

((11, 7), (49688, 4), (49688, 2), (11, 8))

In [62]:
final.sort_values(by=['order_number', 'add_to_cart_order'])

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id,product_name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
8,1,2398795,2,3,7,2,10258,Pistachios
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

In [63]:
final = final.rename(columns=('user_id',                             ''

SyntaxError: ignored

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
bananas = pd.merge(order_products[['order_id', 'product_id']], products[['product_id','product_name']])

In [71]:
bananas.head(10)

   order_id  product_id        product_name
0         2       33120  Organic Egg Whites
1        26       33120  Organic Egg Whites
2       120       33120  Organic Egg Whites
3       327       33120  Organic Egg Whites
4       390       33120  Organic Egg Whites
5       537       33120  Organic Egg Whites
6       582       33120  Organic Egg Whites
7       608       33120  Organic Egg Whites
8       623       33120  Organic Egg Whites
9       689       33120  Organic Egg Whites

In [74]:
oranges = bananas['product_name'].value_counts()

oranges.head(10)

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.