<a href="https://colab.research.google.com/github/TheJoys2019/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/Artin%20Sinani%20-%20DS3_124_Make_features_LIVE_LESSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-03-28 20:22:55--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [               <=>  ]  21.29M   891KB/s    in 25s

2019-03-28 20:23:20 (883 KB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22329081]

In [126]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [127]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2386.02","2386.02","167.02","167.02","113.98","53.04","0.0","0.0","0.0","Feb-2019","84.92","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","29387.75","29387.75","1507.11","1507.11","612.25","894.86","0.0","0.0","0.0","Feb-2019","777.23","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4787.21","4787.21","353.89","353.89","212.79","141.10","0.0","0.0","0.0","Feb-2019","180.69","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 18.94%","146.51","D","D2","IT Supervisor","10+ years","MORTGAGE","92000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","985xx","WA","16.74","0","Feb-2006","0","","","10","0","5468","78.1%","13","w","3831.93","3831.93","286.71","286.71","168.07","118.64","0.0","0.0","0.0","Feb-2019","146.51","Mar-2019","Feb-2019","0","","1","Individual","","","","0","686","305049","1","5","3","5","5","30683","68","0","0","3761","70","7000","2","4","3","5","30505","1239","75.2","0","0","62","154","64","5","3","64","","5","","0","1","2","1","2","7","2","3","2","10","0","0","0","3","100","100","0","0","385183","36151","5000","44984","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 16.14%","731.78","C","C4","Mechanic","10+ years","MORTGAGE","57250","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","212xx","MD","26.35","0","Dec-2000","0","","","12","0","829","3.6%","26","w","29339.02","29339.02","1423.21","1423.21","660.98","762.23","0.0","0.0","0.0","Feb-2019","731.78","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","116007","3","5","3","5","4","28845","89","2","4","516","54","23100","1","0","0","9","9667","8471","8.9","0","0","53","216","2","2","2","2","","13","","0","2","2","3","8","9","6","15","2","12","0","0","0","5","92.3","0","0","0","157548","29674","9300","32332","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5550","5550","5550"," 36 months"," 15.02%","192.45","C","C3","Director COE","10+ years","MORTGAGE","152500","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","461xx","IN","37.94","0","Sep-2002","3","","","18","0","53854","48.1%","44","w","5302.50","5302.50","377.95","377.95","247.50","130.45","0.0","0.0","0.0","Feb-2019","192.45","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","685749","1","7","2","3","4","131524","72","1","4","17584","58","111900","2","4","6","8","40338","23746","64","0","0","195","176","10","4","6","20","","3","","0","4","6","6","10","23","9","15","7","18","0","0","0","4","100","60","0","0","831687","185378","65900","203159","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","2000","2000","2000"," 36 months"," 17.97%","72.28","D","D1","Account Manager","4 years","RENT","51000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","606xx","IL","2.4","0","Nov-2004","1","","","1","0","0","","9","w","1914.71","1914.71","141.56","141.56","85.29","56.27","0.0","0.0","0.0","Feb-2019","72.28","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","854","0","0","2","3","7","0","","0","1","0","100","0","0","0","1","4","854","","","0","0","169","40","23","7","0","","","1","","0","0","0","0","3","5","0","3","0","1","0","0","0","2","100","","0","0","854","854","0","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","6000","6000","6000"," 36 months"," 13.56%","203.79","C","C1","Assistant Director","10+ years","RENT","65000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","460xx","IN","30.1","0","Nov-1997","0","","","19","0","38476","69.3%","37","w","5864.01","5864.01","201.53","201.53","135.99","65.54","0.0","0.0","0.0","Feb-2019","208.31","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","91535","0","5","0","1","23","53059","87","0","2","9413","74","55500","1","2","0","3","5085","3034","90.8","0","0","169","253","13","13","1","14","","13","","0","7","12","8","10","15","14","20","12","19","0","0","0","0","100","85.7","0","0","117242","91535","33100","61742","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""

In [128]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","5083.61","5083.61","750.29","750.29","516.39","233.90","0.0","0.0","0.0","Feb-2019","190.21","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","9096.85","9096.85","1378.7","1378.70","903.15","475.55","0.0","0.0","0.0","Feb-2019","346.76","Mar-2019","Feb-2019","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","4538.94","4538.94","675.55","675.55","461.06","214.49","0.0","0.0","0.0","Feb-2019","169.83","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","9044.84","8818.72","1295.36","1262.98","955.16","340.20","0.0","0.0","0.0","Feb-2019","327.68","Mar-2019","Feb-2019","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","9120.98","9120.98","1414.93","1414.93","879.02","535.91","0.0","0.0","0.0","Feb-2019","356.08","Mar-2019","Feb-2019","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [296]:
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

# Used the skiprow to skip the first row as indicated
# Used the skipfooter to not include the tail end two rows

KeyboardInterrupt: ignored

In [297]:
# Displays the max columns to 500
pd.options.display.max_columns = 500

# Displays the max rows to 500
pd.options.display.max_rows = 500

# Displays the transpose view of the head() which is easier to read in this case
df.head().T

,0,1,2,3,4
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,2500,30000,5000,4000,30000
funded_amnt,2500,30000,5000,4000,30000
funded_amnt_inv,2500,30000,5000,4000,30000
term,36,60,36,36,60
int_rate,13.56,18.94,17.97,18.94,16.14
installment,84.92,777.23,180.69,146.51,731.78
grade,C,D,D,D,C
sub_grade,C1,D2,D1,D2,C4
emp_title,Chef,Postmaster,Administrative,IT Supervisor,Mechanic
emp_length,10+ years,10+ years,6 years,10+ years,10+ years
home_ownership,RENT,MORTGAGE,MORTGAGE,MORTGAGE,MORTGAGE
annual_inc,55000,90000,59280,92000,57250
verification_status,Not Verified,Source Verified,Source Verified,Source Verified,Not Verified
issue_d,Dec-2018,Dec-2018,Dec-2018,Dec-2018,Dec-2018
loan_status,Current,Current,Current,Current,Current
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,NaN,NaN,NaN,NaN,NaN
purpose,debt_consolidation,debt_consolidation,debt_consolidation,debt_consolidation,debt_consolidation
title,Debt consolidation,Debt consolidation,Debt consolidation,Debt consolidation,Debt consolidation
zip_code,109xx,713xx,490xx,985xx,212xx
addr_state,NY,LA,MI,WA,MD
dti,18.24,26.52,10.51,16.74,26.35
delinq_2yrs,0,0,0,0,0
earliest_cr_line,Apr-2001,Jun-1987,Apr-2011,Feb-2006,Dec-2000
inq_last_6mths,1,0,0,0,0
mths_since_last_delinq,NaN,71,NaN,NaN,NaN
mths_since_last_record,45,75,NaN,NaN,NaN
open_acc,9,13,8,10,12
pub_rec,1,1,0,0,0
revol_bal,4341,12315,4599,5468,829
revol_util,10.3%,24.2%,19.1%,78.1%,3.6%
total_acc,34,44,13,13,26
initial_list_status,w,w,w,w,w
out_prncp,2386.02,29387.8,4787.21,3831.93,29339
out_prncp_inv,2386.02,29387.8,4787.21,3831.93,29339
total_pymnt,167.02,1507.11,353.89,286.71,1423.21
total_pymnt_inv,167.02,1507.11,353.89,286.71,1423.21
total_rec_prncp,113.98,612.25,212.79,168.07,660.98
total_rec_int,53.04,894.86,141.1,118.64,762.23
total_rec_late_fee,0,0,0,0,0
recoveries,0,0,0,0,0
collection_recovery_fee,0,0,0,0,0
last_pymnt_d,Feb-2019,Feb-2019,Feb-2019,Feb-2019,Feb-2019
last_pymnt_amnt,84.92,777.23,180.69,146.51,731.78
next_pymnt_d,Mar-2019,Mar-2019,Mar-2019,Mar-2019,Mar-2019
last_credit_pull_d,Feb-2019,Feb-2019,Feb-2019,Feb-2019,Feb-2019
collections_12_mths_ex_med,0,0,0,0,0
mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
policy_code,1,1,1,1,1
application_type,Individual,Individual,Individual,Individual,Individual
annual_inc_joint,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,0,0,0,0,0
tot_coll_amt,0,1208,0,686,0
tot_cur_bal,16901,321915,110299,305049,116007
open_acc_6m,2,4,0,1,3
open_act_il,2,4,1,5,5
open_il_12m,1,2,0,3,3
open_il_24m,2,3,2,5,5
mths_since_rcnt_il,2,3,14,5,4
total_bal_il,12560,87153,7150,30683,28845
il_util,69,88,72,68,89
open_rv_12m,2,4,0,0,2
open_rv_24m,7,5,2,0,4
max_bal_bc,2137,998,0,3761,516
all_util,28,57,35,70,54
total_rev_hi_lim,42000,50800,24100,7000,23100
inq_fi,1,2,1,2,1
total_cu_tl,11,15,5,4,0
inq_last_12m,2,2,0,3,0
acc_open_past_24mths,9,10,4,5,9
avg_cur_bal,1878,24763,18383,30505,9667
bc_open_to_buy,34360,13761,13800,1239,8471
bc_util,5.9,8.3,0,75.2,8.9
chargeoff_within_12_mths,0,0,0,0,0
delinq_amnt,0,0,0,0,0
mo_sin_old_il_acct,140,163,87,62,53
mo_sin_old_rev_tl_op,212,378,92,154,216
mo_sin_rcnt_rev_tl_op,1,4,15,64,2
mo_sin_rcnt_tl,1,3,14,5,2
mort_acc,0,3,2,3,2
mths_since_recent_bc,1,4,77,64,2
mths_since_recent_bc_dlq,NaN,NaN,NaN,NaN,NaN
mths_since_recent_inq,2,4,14,5,13
mths_since_recent_revol_delinq,NaN,NaN,NaN,NaN,NaN
num_accts_ever_120_pd,0,0,0,0,0
num_actv_bc_tl,2,2,0,1,2
num_actv_rev_tl,5,4,3,2,2
num_bc_sats,3,4,3,1,3
num_bc_tl,3,9,3,2,8
num_il_tl,16,27,4,7,9
num_op_rev_tl,7,8,6,2,6
num_rev_accts,18,14,7,3,15
num_rev_tl_bal_gt_0,5,4,3,2,2
num_sats,9,13,8,10,12
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,0,0
num_tl_op_past_12m,3,6,0,3,5
pct_tl_nvr_dlq,100,95,100,100,92.3
percent_bc_gt_75,0,0,0,100,0
pub_rec_bankruptcies,1,1,0,0,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,60124,372872,136927,385183,157548
total_bal_ex_mort,16901,99468,11749,36151,29674
total_bc_limit,36500,15000,13800,5000,9300
total_il_high_credit_limit,18124,94072,10000,44984,32332
revol_bal_joint,NaN,NaN,NaN,NaN,NaN
sec_app_earliest_cr_line,NaN,NaN,NaN,NaN,NaN
sec_app_inq_last_6mths,NaN,NaN,NaN,NaN,NaN
sec_app_mort_acc,NaN,NaN,NaN,NaN,NaN
sec_app_open_acc,NaN,NaN,NaN,NaN,NaN
sec_app_revol_util,NaN,NaN,NaN,NaN,NaN
sec_app_open_act_il,NaN,NaN,NaN,NaN,NaN
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,NaN
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,NaN
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,NaN
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
disbursement_method,Cash,Cash,Cash,Cash,Cash
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN
loan_status_is_great,0,0,0,0,0

In [298]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great
0,NaN,NaN,2500,2500,2500.0,36,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
1,NaN,NaN,30000,30000,30000.0,60,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,Feb-2019,777.23,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,5000,5000,5000.0,36,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
3,NaN,NaN,4000,4000,4000.0,36,18.94,146.51,D,D2,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,985xx,WA,16.74,0,Feb-2006,0,NaN,NaN,10,0,5468,78.1%,13,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.0,0.0,0.0,Feb-2019,146.51,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,686,305049,1,5,3,5,5.0,30683,68.0,0,0,3761,70.0,7000,2,4,3,5,30505.0,1239.0,75.2,0,0,62.0,154,64,5,3,64.0,NaN,5.0,NaN,0,1,2,1,2,7,2,3,2,10,0.0,0,0,3,100.0,100.0,0,0,385183,36151,5000,44984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
4,NaN,NaN,30000,30000,30000.0,60,16.14,731.78,C,C4,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,26.35,0,Dec-2000,0,NaN,NaN,12,0,829,3.6%,26,w,29339.02,29339.02,1423.21,1423.21,660.98,762.23,0.0,0.0,0.0,Feb-2019,731.78,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,116007,3,5,3,5,4.0,28845,89.0,2,4,516,54.0,23100,1,0,0,9,9667.0,8471.0,8.9,0,0,53.0,216,2,2,2,2.0,NaN,13.0,NaN,0,2,2,3,8,9,6,15,2,12,0.0,0,0,5,92.3,0.0,0,0,157548,29674,9300,32332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0

In [299]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128412 entries, 0 to 128411
Columns: 146 entries, id to loan_status_is_great
dtypes: float64(58), int64(53), object(35)
memory usage: 143.0+ MB

In [300]:
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great
128407,NaN,NaN,23000,23000,23000.0,36,15.02,797.53,C,C3,Tax Consultant,10+ years,MORTGAGE,75000.0,Source Verified,Oct-2018,Charged Off,n,NaN,NaN,debt_consolidation,Debt consolidation,352xx,AL,20.95,1,Aug-1985,2,22.0,NaN,12,0,22465,43.6%,28,w,0.00,0.00,1547.08,1547.08,1025.67,521.41,0.0,0.0,0.0,Dec-2018,797.53,NaN,Nov-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,259658,4,2,3,3,6.0,18149,86.0,4,6,12843,56.0,51500,2,2,5,11,21638.0,26321.0,44.1,0,0,12.0,397,4,4,6,5.0,22.0,4.0,22.0,0,4,5,7,14,3,9,19,5,12,0.0,0,0,7,96.4,14.3,0,0,296500,40614,47100,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1
128408,NaN,NaN,10000,10000,10000.0,36,15.02,346.76,C,C3,security guard,5 years,MORTGAGE,38000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,443xx,OH,13.16,3,Jul-1982,0,6.0,NaN,11,0,5634,37.1%,16,w,9096.85,9096.85,1378.70,1378.70,903.15,475.55,0.0,0.0,0.0,Feb-2019,346.76,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,155,77424,0,1,0,0,34.0,200,10.0,1,1,1866,42.0,15200,2,0,0,2,7039.0,4537.0,50.1,0,0,34.0,434,11,11,3,11.0,6.0,17.0,6.0,0,3,5,5,6,1,8,11,5,11,0.0,0,0,1,73.3,40.0,0,0,91403,9323,9100,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
128409,NaN,NaN,5000,5000,5000.0,36,13.56,169.83,C,C1,Payoff Clerk,10+ years,MORTGAGE,35360.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,381xx,TN,11.30,1,Jun-2006,0,21.0,NaN,9,0,2597,27.3%,15,f,4538.94,4538.94,675.55,675.55,461.06,214.49,0.0,0.0,0.0,Feb-2019,169.83,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1413,69785,0,2,0,1,16.0,2379,40.0,3,4,1826,32.0,9500,0,0,1,5,8723.0,1174.0,60.9,0,0,147.0,85,9,9,2,10.0,21.0,9.0,21.0,0,1,3,2,2,6,6,7,3,9,0.0,0,0,3,92.9,50.0,0,0,93908,4976,3000,6028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
128410,NaN,NaN,10000,10000,9750.0,36,11.06,327.68,B,B3,NaN,NaN,RENT,44400.0,Source Verified,Oct-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,980xx,WA,11.78,0,Oct-2008,2,40.0,NaN,15,0,6269,13.1%,25,f,9044.84,8818.72,1295.36,1262.98,955.16,340.20,0.0,0.0,0.0,Feb-2019,327.68,Mar-2019,Feb-2019,0,53.0,1,Individual,NaN,NaN,NaN,0,520,16440,3,1,1,1,2.0,10171,100.0,2,5,404,28.0,47700,0,3,5,6,1265.0,20037.0,2.3,0,0,61.0,119,1,1,0,1.0,NaN,1.0,40.0,1,2,4,6,8,3,14,22,4,15,0.0,0,0,3,92.0,0.0,0,0,57871,16440,20500,10171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0
128411,NaN,NaN,10000,10000,10000.0,36,16.91,356.08,C,C5,Key Accounts Manager,2 years,RENT,80000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,other,Other,021xx,MA,17.72,1,Sep-2006,0,14.0,NaN,17,0,1942,30.8%,31,w,9120.98,9120.98,1414.93,1414.93,879.02,535.91,0.0,0.0,0.0,Feb-2019,356.08,Mar-2019,Feb-2019,0,25.0,1,Individual,NaN,NaN,NaN,0,0,59194,0,15,1,1,12.0,57252,85.0,0,0,1942,80.0,6300,0,5,0,1,3482.0,2058.0,48.5,0,0,144.0,142,40,12,0,131.0,30.0,NaN,30.0,3,1,1,1,5,22,2,9,1,17,0.0,0,0,1,74.2,0.0,0,0,73669,59194,4000,67369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0

In [301]:
df.isnull().sum().sort_values()

total_cu_tl                                        0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_old_rev_tl_op                               0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
inq_fi                                             0
total_rev_hi_lim                                   0
max_bal_bc                                         0
mo_sin_rcnt_tl                                     0
open_rv_24m                                        0
total_bal_il                                       0
open_il_24m                                        0
open_il_12m                                        0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
open_rv_12m                                        0
mort_acc                                           0
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
debt_settlement_flag                               0
disbursement_method                                0
hardship_flag                                      0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
num_tl_30dpd                                       0
num_sats                                           0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
policy_code                                        0
collections_12_mths_ex_med                         0
loan_status_is_great                               0
issue_d                                            0
revol_bal                                          0
loan_status                                        0
pub_rec                                            0
open_acc                                           0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
earliest_cr_line                                   0
delinq_2yrs                                        0
annual_inc                                         0
verification_status                                0
addr_state                                         0
zip_code                                           0
title                                              0
purpose                                            0
total_acc                                          0
initial_list_status                                0
grade                                              0
installment                                        0
loan_amnt                                          0
last_pymnt_amnt                                    0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
collection_recovery_fee                            0
recoveries                                         0
out_prncp                                          0
total_rec_int                                      0
total_rec_late_fee                                 0
pymnt_plan                                         0
total_pymnt_inv                                    0
total_pymnt                                        0
total_rec_prncp                                    0
int_rate                                           0
out_prncp_inv                                      0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     162
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
next_pymnt_d                                    3471
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
emp_length                                     11704
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20947
mths_since_last_delinq                         72196
mths_since_recent_revol_delinq                 91630
mths_since_last_major_derog                    99232
mths_since_recent_bc_dlq                      103243
sec_app_num_rev_accts                         111630
sec_app_open_act_il                           111630
sec_app_open_acc                              111630
sec_app_mort_acc                              111630
sec_app_inq_last_6mths                        111630
sec_app_chargeoff_within_12_mths              111630
revol_bal_joint                               111630
dti_joint                                     111630
annual_inc_joint                              111630
sec_app_earliest_cr_line                      111630
sec_app_collections_12_mths_ex_med            111630
sec_app_revol_util                            111888
mths_since_last_record                        112962
verification_status_joint                     113564
sec_app_mths_since_last_major_derog           123258
settlement_status                             128410
debt_settlement_flag_date                     128410
settlement_amount                             128410
settlement_term                               128410
settlement_percentage                         128410
settlement_date                               128410
hardship_start_date                           128411
hardship_end_date                             128411
payment_plan_start_date                       128411
deferral_term                                 128411
hardship_dpd                                  128411
hardship_loan_status                          128411
orig_projected_additional_accrued_interest    128411
hardship_payoff_balance_amount                128411
hardship_last_payment_amount                  128411
hardship_status                               128411
hardship_reason                               128411
hardship_type                                 128411
hardship_amount                               128411
hardship_length                               128411
desc                                          128412
url                                           128412
member_id                                     128412
id                                            128412
dtype: int64

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [302]:
df.describe(exclude='number')

,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,128412,128412,107465,116708,128412,128412,128412,128412,128412,128412,128412,128412,128412,128412,128256,128412,128250,124941,128411,128412,14848,16782,128412,1,1,1,1,1,1,1,128412,128412,2,2,2
unique,7,35,43892,11,4,3,3,6,2,12,12,880,50,644,1074,2,5,3,7,2,3,573,2,1,1,1,1,1,1,1,2,2,1,1,1
top,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Oct-2018,Current,n,debt_consolidation,Debt consolidation,112xx,CA,Aug-2006,0%,w,Feb-2019,Mar-2019,Feb-2019,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,Feb-2019,Apr-2019,Feb-2019,Late (16-30 days),Cash,N,Feb-2019,ACTIVE,Feb-2019
freq,38011,9770,2090,38826,63490,58350,46305,123768,128411,70603,70603,1370,17879,1130,1132,114498,123797,124903,125061,111630,6360,155,128411,1,1,1,1,1,1,1,102516,128410,2,2,2

### Convert `int_rate`

In [303]:
# Using strip to strip away the '%' symbol
'13.56%'.strip('%')

'13.56'

In [304]:
# Using type to determine the dtype, which is str in this case
type('13.56%'.strip('%'))

str

In [305]:
# Converting the first position of the str in dataframe int_rate into a float 
# using the float command
float(df['int_rate'][0].strip('%'))

AttributeError: ignored

In [0]:
# Using the head() to see if the previous code did its job
df['int_rate'].str.strip('%').astype(float).head(10)

In [0]:
# Converting the entire column 'int_rate' into a float using astype
df['int_rate'] = df['int_rate'].str.strip('%').astype(float)

In [0]:
(df['int_rate'] / 100).head()


Define a function to remove percent signs from strings and convert to floats

In [0]:
string = '13.56%'

def remove_percent(string):
    return float(string.strip('%'))

remove_percent(string)


# string = '13.56%'

# def remove_percent(string):
#   return float(string.strip('%'))

# remove_percent(string)

Apply the function to the `int_rate` column

In [0]:
df['int_rate'] = df['int_rate'].apply(remove_percent)

In [0]:
df['int_rate'].apply(remove_percent)

### Clean `emp_title`

Look at top 20 titles

In [0]:
df['emp_title'].head(20)

In [0]:
df['emp_title'].value_counts().head(20)

How often is `emp_title` null?

In [306]:
df['emp_title'].isnull().sum()

20947

Clean the title and handle missing values

- capitalize
- strip spaces
- Replace NaN with 'Missing'

Clean the title and handle missing values

In [307]:
# ASK for help for someone to explain this part! Ryan is talkign so fast, having trouble grasping
import numpy as np

examples = ['owner', 'Supervisor ', 'Project Manager', np.nan]

def clean_title(x):
  if isinstance(x, str):
    return x.strip().title()
  else:
    return 'Unknown'
[clean_title(x) for x in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [308]:
df['emp_title'].apply(clean_title)

0                                             Chef
1                                       Postmaster
2                                   Administrative
3                                    It Supervisor
4                                         Mechanic
5                                     Director Coe
6                                  Account Manager
7                               Assistant Director
8                              Legal Assistant Iii
9                                          Unknown
10                                         Unknown
11                                      Consultant
12                            Job Coach Supervisor
13                          Quality Field Engineer
14                                          Teller
15                            Respritory Therapist
16                                Worship Director
17                                       Processor
18                     Neonatal Nurse Practitioner
19                             Stationary Engineer
20                                         Unknown
21                               Exhibits Director
22                              Driver Coordinator
23                                   Gas Attendant
24                Financial Relationship Associate
25                                         Unknown
26                             Sale Representative
27                                        Operator
28                                         Manager
29                              Nursing Supervisor
30                                         Unknown
31                                Material Handler
32                       Instructional Coordinator
33                                 Program Manager
34                                         Unknown
35                 Budget & Procurement Specialist
36                                         Unknown
37                                    Foreman Shop
38                       Substance Abuse Counselor
39                  Business Intelligence Engineer
40                                              Fc
41                                         Unknown
42                          Information Technology
43                                         Unknown
44                                          Banker
45                       Program Support Assistant
46                                         Unknown
47                                Business Analyst
48                                         Unknown
49                                 Program Manager
50                                      Millwright
51                               Fuel Truck Driver
52         Publications And Images Project Manager
53                                         Trainer
54                          Armed Security Officer
55                                         Unknown
56                                        Director
57                                         Manager
58                                           Agent
59                         Mortgage Loan Processor
60                                             Cfo
61                                         Unknown
62                                         Laborer
63                                          Driver
64            Lead Transportation Security Officer
65                                 General Manager
66                                  Vice President
67                            Construction Manager
68                        Administrative Assistant
69                          Transportation Manager
70                                      Pharmacist
71                             Structural Engineer
72                                    It Assistant
73        Anti Money Laundering Compliance Manager
74                             Compliance Director
75                                        Security
76                                 Header Operator
77                                          Banker
78                            Warehouse Associates
79                                         Teacher
80                         Paramedic/ Fire Fighter
81                                      Supervisor
82                            Overnight Supervisor
83                                          Dealer
84                                  Office Manager
85                                       Goldsmith
86                                             Lpn
87                                         Teacher
88                                        Lab Tech
89                                Customer Service
90                                         Unknown
91                                         Unknown
92                       Facility Maintenance Tech
93                                         Plumber
94                                        Asst.Mgr
95                                  Police Captain
96                            Veterinary Assistant
97                                 Project Manager
98                                Regional Manager
99                            Direct Care Provider
100                                     Supervisor
101                                        Unknown
102                                Account Manager
103                                     Controller
104                                   Senior Buyer
105                                        Manager
106                                     Consultant
107                                        Unknown
108                                          Sales
109                                      President
110                               Nurse Technician
111                            Maintenance Manager
112                                Math Instructor
113                                    Firefighter
114                      Senior Area Sales Manager
115                        Director Of Reinsurance
116                                 Office Manager
117                                          Sever
118                                 Vice President
119                                    Tech Driver
120                                        Teacher
121                             Operations Manager
122                                        Unknown
123                           Supply Chain Analyst
124                                        Unknown
125                                        Unknown
126                       Product Line Specilalist
127                                 Medical Doctor
128                    Enrollment Services Advisor
129                                           Army
130                                 Room Attendant
131                                    Maintenance
132                                       Sales Vp
133                                        Unknown
134                                General Manager
135                                  Medical Coder
136                        Plant Logistics Manager
137                                        Unknown
138                                       Optician
139                                        Unknown
140                                 Bill Collector
141                             Production Manager
142                                            Cna
143                              Financial Advisor
144                                        Unknown
145                                        Unknown
146                                    City Crrier
147                                       Engineer
148                       Reimbursement Specialist
149                                  Asst. Manager
150               Instructor For Training Squadron
151                                         Driver
152           Assistant To The Treasurer (Payroll)
153                                   Ups/Shipping
154                               Attorney-Adviser
155                                        Teacher
156                          Sales Account Manager
157                                        Unknown
158                               Vacation Advisor
159                                        Manager
160                           Operation S Director
161                             Machinst/Programer
162                           Help Tech Supervisor
163                         Operations Coordinator
164                                        Analyst
165            Corporate Communications Strategist
166                                Project Manager
167                                  Service Tech.
168                                  Especialist 1
169                                       Shipping
170                                        Teacher
171                                   Receptionist
172                                        Teacher
173                                        Unknown
174                                     Supervisor
175                            Extrusion Assistant
176                         District Sales Manager
177                                Staff Physician
178                                 Claims Analyst
179                         Procurement Supervisor
180                        Radiologic Technologist
181                               Training Manager
182                                             Rn
183                      Elementary School Teacher
184                                     Supervisor
185                                Sale Consultant
186                          Accounts Examiner Iii
187                                        Unknown
188                                       Educator
189                                        Unknown
190                                General Manager
191       Assistant Athletic Director Of Marketing
192                               Sr Sales Manager
193                                    Casino Host
194                                      Carpenter
195                            Maintenance Planner
196                                        Unknown
197                                        Unknown
198                            Firefighter/Captain
199             Executive Administrative Assistant
200                                        Unknown
201                                        Unknown
202                               Shift Supervisor
203                                        Unknown
204                              Workforce Analyst
205                                        Captain
206                                 Senior Manager
207                         Reference/Ya Librarian
208                       Senior Software Engineer
209                            Software Consultant
210                              Financial Planner
211                       Manager, Patient Finance
212                                     Bus Driver
213                                 Bakery Manager
214                                    Esthetician
215                Senior Director Risk Management
216                                        Unknown
217                              Software Engineer
218                                        Unknown
219                                        Manager
220                       Vp, Solutions Management
221                                        Teacher
222                          Private Client Banker
223                                       Operator
224                                         Driver
225                             Service Consultant
226                                        Teacher
227                                        Unknown
228                                   Case Manager
229                               Shift Supervisor
230               Sr. Vice President -Risk Manager
231                             Compliance Manager
232                                    Haz Mat S/R
233                                        Unknown
234                                         Server
235                              Director Of Sales
236                                        Printer
237                                Program Manager
238                              Surgery Scheduler
239                          Mail Processing Clerk
240                                      Conductor
241                                           Lmsw
242                                       Attorney
243                                        Teacher
244                                            Lpn
245                                Project Manager
246                           Medical Technologist
247                                        Teacher
248                                Sr. Cae Analyst
249                                   Tire Builder
                            ...
128162                       Region Sales Director
128163                     Senior Project Engineer
128164                               Salon Manager
128165                              Senior Manager
128166                               Admin Manager
128167                                         Cpa
128168                                     Unknown
128169                Network Server Administrator
128170                                    Attorney
128171                        Automotive  Mechanic
128172                                     Unknown
128173                          Nurse Practitioner
128174                                    Clerical
128175                                      Driver
128176                                     Unknown
128177                                   Maintence
128178                           Quality Inspector
128179                               Lumber Grader
128180                Supervisor Of Administration
128181                                     Unknown
128182                                     Unknown
128183                                     Unknown
128184                                     Unknown
128185                          Clerical Associate
128186                              Warehouse Lead
128187                                 Bank Teller
128188                                     Manager
128189                       Computer Operator Iii
128190                                       Nurse
128191                                     Unknown
128192                        Fsc Sales Supervisor
128193                    Assembly Line Technician
128194                                   Assembler
128195                                  Operations
128196     Sr. Vice President Business Development
128197                                  Maint Tech
128198                                     Unknown
128199                                     Unknown
128200                                     Unknown
128201                            Sales Consultant
128202                                City Carrier
128203                             General Manager
128204                 Senior Director Engineering
128205                        Childcare Instructor
128206                              Physician Asst
128207                            Sales/Technician
128208                                     Unknown
128209                                     Unknown
128210                             Project Manager
128211          Supervisory Air Interdiction Agent
128212                                       Nurse
128213                           Systems Developer
128214                Operational Risk  Consultant
128215                                     Unknown
128216                               Scientist Iii
128217                           Level 1 Inspector
128218                     Human Resource Director
128219                               Plant Manager
128220                               Hvac Mechanic
128221                                     Stocker
128222                                     Unknown
128223        Senior Client Service Representative
128224                                   Architect
128225               Quality Assurance Coordinator
128226                                     Bellman
128227                            It Systems Spec.
128228                              Superintendent
128229                                    Prepador
128230                                     Unknown
128231                             General Clerk 2
128232                       Senior Cad Technician
128233                               Probate Judge
128234                 Certified Medical Assistant
128235                                     Unknown
128236                       Operations Specialist
128237                                     Manager
128238                                     Unknown
128239              Major Hampton Sheriff'S Office
128240                                          Rn
128241                                     Unknown
128242        Service Member- Sergeant First Class
128243                                     Unknown
128244                   Network Security Engineer
128245                            Bsa Investigator
128246                    Advance Quality Engineer
128247        Vice President, Business Development
128248                                     Unknown
128249                              Executive Chef
128250                                  Controller
128251                                     Unknown
128252                                     Unknown
128253              Sales Manager/Used Car Manager
128254                                  Specialist
128255                                     Unknown
128256                                     Unknown
128257                                   Professor
128258                               Administrator
128259                                        Chef
128260                             General Manager
128261                      Senior Center Director
128262                                     Unknown
128263                                     Unknown
128264                                 Maintenance
128265                              Office Manager
128266                                  Rsr Driver
128267                                 Coordinator
128268                    Financial Administration
128269                                     Unknown
128270                                     Unknown
128271                      Insurance Under Writer
128272                                  Bookkeeper
128273                                     Unknown
128274                              Budget Manager
128275                                     Unknown
128276                                  Data Clerk
128277                                   Paralegal
128278                           Campus Supervisor
128279                              Home Caregiver
128280                          Casino Table Games
128281                            Retail Associate
128282                         Hr Business Partner
128283          Senior Manager Of Audio Production
128284                            Paint Technician
128285                                     Unknown
128286                                    Ap Clerk
128287                                Vp, Of Sales
128288                                     Unknown
128289                                     Unknown
128290                            Dental Hygienist
128291                              Client Partner
128292                     Materials Launch Manage
128293                                     Unknown
128294                                Line Manager
128295                          Service Technician
128296                    Public Health Specialist
128297                          Operations Manager
128298                           Software Engineer
128299                           Assistant Manager
128300                       Customer Service Lead
128301                    Corporate Vice President
128302                           Postal Supervisor

In [309]:
df['emp_title'].value_counts().head(20)

Teacher                     2090
Manager                     1773
Registered Nurse             952
Driver                       924
RN                           726
Supervisor                   697
Sales                        580
Project Manager              526
General Manager              523
Office Manager               521
Owner                        420
Director                     402
Truck Driver                 387
Operations Manager           387
Nurse                        326
Engineer                     325
Sales Manager                304
manager                      301
Supervisor                   270
Administrative Assistant     269
Name: emp_title, dtype: int64

In [310]:
df['emp_title'].head(10)

0                   Chef
1            Postmaster
2         Administrative
3          IT Supervisor
4               Mechanic
5           Director COE
6        Account Manager
7     Assistant Director
8    Legal Assistant III
9                    NaN
Name: emp_title, dtype: object

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [311]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')

df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great,emp_title_manager
0,NaN,NaN,2500,2500,2500.0,36,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0,False
1,NaN,NaN,30000,30000,30000.0,60,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,Feb-2019,777.23,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0,False
2,NaN,NaN,5000,5000,5000.0,36,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0,False
3,NaN,NaN,4000,4000,4000.0,36,18.94,146.51,D,D2,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,985xx,WA,16.74,0,Feb-2006,0,NaN,NaN,10,0,5468,78.1%,13,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.0,0.0,0.0,Feb-2019,146.51,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,686,305049,1,5,3,5,5.0,30683,68.0,0,0,3761,70.0,7000,2,4,3,5,30505.0,1239.0,75.2,0,0,62.0,154,64,5,3,64.0,NaN,5.0,NaN,0,1,2,1,2,7,2,3,2,10,0.0,0,0,3,100.0,100.0,0,0,385183,36151,5000,44984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0,False
4,NaN,NaN,30000,30000,30000.0,60,16.14,731.78,C,C4,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,26.35,0,Dec-2000,0,NaN,NaN,12,0,829,3.6%,26,w,29339.02,29339.02,1423.21,1423.21,660.98,762.23,0.0,0.0,0.0,Feb-2019,731.78,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,116007,3,5,3,5,4.0,28845,89.0,2,4,516,54.0,23100,1,0,0,9,9667.0,8471.0,8.9,0,0,53.0,216,2,2,2,2.0,NaN,13.0,NaN,0,2,2,3,8,9,6,15,2,12,0.0,0,0,5,92.3,0.0,0,0,157548,29674,9300,32332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,0,False

In [312]:
df.shape

(128412, 147)

In [313]:
df['emp_title_manager'].value_counts(normalize=True)

False    0.869055
True     0.130945
Name: emp_title_manager, dtype: float64

In [314]:
df.groupby('emp_title_manager')['int_rate'].mean()
# When ETM is False = 12.95
# When ETM is True = 12.65

emp_title_manager
False    12.954774
True     12.655238
Name: int_rate, dtype: float64

In [315]:
df['emp_title'].nunique()

43892

In [316]:
df.isnull().sum().sort_values(ascending=False) / len(df)

id                                            1.000000
desc                                          1.000000
url                                           1.000000
member_id                                     1.000000
hardship_dpd                                  0.999992
hardship_type                                 0.999992
hardship_status                               0.999992
deferral_term                                 0.999992
hardship_amount                               0.999992
hardship_start_date                           0.999992
hardship_end_date                             0.999992
payment_plan_start_date                       0.999992
hardship_length                               0.999992
hardship_reason                               0.999992
hardship_loan_status                          0.999992
hardship_payoff_balance_amount                0.999992
hardship_last_payment_amount                  0.999992
orig_projected_additional_accrued_interest    0.999992
settlement_date                               0.999984
settlement_term                               0.999984
settlement_percentage                         0.999984
settlement_amount                             0.999984
settlement_status                             0.999984
debt_settlement_flag_date                     0.999984
sec_app_mths_since_last_major_derog           0.959864
verification_status_joint                     0.884372
mths_since_last_record                        0.879684
sec_app_revol_util                            0.871320
dti_joint                                     0.869311
sec_app_inq_last_6mths                        0.869311
annual_inc_joint                              0.869311
revol_bal_joint                               0.869311
sec_app_earliest_cr_line                      0.869311
sec_app_open_act_il                           0.869311
sec_app_mort_acc                              0.869311
sec_app_open_acc                              0.869311
sec_app_num_rev_accts                         0.869311
sec_app_chargeoff_within_12_mths              0.869311
sec_app_collections_12_mths_ex_med            0.869311
mths_since_recent_bc_dlq                      0.803998
mths_since_last_major_derog                   0.772763
mths_since_recent_revol_delinq                0.713563
mths_since_last_delinq                        0.562222
emp_title                                     0.163123
emp_title_manager                             0.163123
il_util                                       0.157882
mths_since_recent_inq                         0.124965
emp_length                                    0.091144
mo_sin_old_il_acct                            0.034872
mths_since_rcnt_il                            0.034872
next_pymnt_d                                  0.027030
num_tl_120dpd_2m                              0.022264
bc_util                                       0.013659
percent_bc_gt_75                              0.013176
bc_open_to_buy                                0.013169
mths_since_recent_bc                          0.012390
dti                                           0.001846
last_pymnt_d                                  0.001262
revol_util                                    0.001215
all_util                                      0.000288
avg_cur_bal                                   0.000101
last_credit_pull_d                            0.000008
open_acc                                      0.000000
inq_last_6mths                                0.000000
earliest_cr_line                              0.000000
total_bal_ex_mort                             0.000000
total_bc_limit                                0.000000
num_tl_90g_dpd_24m                            0.000000
pub_rec                                       0.000000
revol_bal                                     0.000000
delinq_2yrs                                   0.000000
initial_list_status                           0.000000
out_prncp                                     0.000000
out_prncp_inv                                 0.000000
total_pymnt                                   0.000000
total_pymnt_inv                               0.000000
total_rec_prncp                               0.000000
total_rec_int                                 0.000000
total_acc                                     0.000000
title                                         0.000000
addr_state                                    0.000000
disbursement_method                           0.000000
debt_settlement_flag                          0.000000
loan_amnt                                     0.000000
funded_amnt                                   0.000000
funded_amnt_inv                               0.000000
term                                          0.000000
int_rate                                      0.000000
installment                                   0.000000
grade                                         0.000000
sub_grade                                     0.000000
home_ownership                                0.000000
zip_code                                      0.000000
annual_inc                                    0.000000
verification_status                           0.000000
issue_d                                       0.000000
loan_status                                   0.000000
pymnt_plan                                    0.000000
hardship_flag                                 0.000000
total_il_high_credit_limit                    0.000000
purpose                                       0.000000
recoveries                                    0.000000
total_rec_late_fee                            0.000000
tot_hi_cred_lim                               0.000000
collection_recovery_fee                       0.000000
num_accts_ever_120_pd                         0.000000
chargeoff_within_12_mths                      0.000000
delinq_amnt                                   0.000000
mo_sin_old_rev_tl_op                          0.000000
mo_sin_rcnt_rev_tl_op                         0.000000
mo_sin_rcnt_tl                                0.000000
mort_acc                                      0.000000
pct_tl_nvr_dlq                                0.000000
num_tl_op_past_12m                            0.000000
num_actv_bc_tl                                0.000000
loan_status_is_great                          0.000000
num_actv_rev_tl                               0.000000
num_bc_sats                                   0.000000
num_bc_tl                                     0.000000
num_il_tl                                     0.000000
num_op_rev_tl                                 0.000000
num_rev_accts                                 0.000000
num_rev_tl_bal_gt_0                           0.000000
num_sats                                      0.000000
acc_open_past_24mths                          0.000000
total_cu_tl                                   0.000000
last_pymnt_amnt                               0.000000
tot_cur_bal                                   0.000000
collections_12_mths_ex_med                    0.000000
num_tl_30dpd                                  0.000000
policy_code                                   0.000000
application_type                              0.000000
tax_liens                                     0.000000
pub_rec_bankruptcies                          0.000000
acc_now_delinq                                0.000000
tot_coll_amt                                  0.000000
open_acc_6m                                   0.000000
inq_fi                                        0.000000
open_act_il                                   0.000000
open_il_12m                                   0.000000
open_il_24m                                   0.000000
total_bal_il                                  0.000000
open_rv_12m                                   0.000000
open_rv_24m                                   0.000000
max_bal_bc                                    0.000000
total_rev_hi_lim                              0.000000
inq_last_12m                                  0.000000
dtype: float64

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [317]:
df['issue_d'].head().values

array(['Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018'],
      dtype=object)

In [318]:
df['issue_d'].describe()

count       128412
unique           3
top       Oct-2018
freq         46305
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [320]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [321]:
df['issue_d'].describe()

count                  128412
unique                      3
top       2018-10-01 00:00:00
freq                    46305
first     2018-10-01 00:00:00
last      2018-12-01 00:00:00
Name: issue_d, dtype: object

In [0]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

In [323]:
df.shape

(128412, 149)

In [324]:
df['issue_month'].sample(n=10).values

array([12, 12, 11, 10, 11, 12, 12, 11, 10, 12])

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], 
                                        infer_datetime_format=True)

In [326]:
df['earliest_cr_line'].head()

0   2001-04-01
1   1987-06-01
2   2011-04-01
3   2006-02-01
4   2000-12-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [0]:
df['days_from_earliest_credit_to_issue'] = (
    df['issue_d'] - df['earliest_cr_line']).dt.days

In [328]:
df['days_from_earliest_credit_to_issue'].describe()

count    128412.000000
mean       5859.891490
std        2886.535578
min        1126.000000
25%        4049.000000
50%        5266.000000
75%        7244.000000
max       25171.000000
Name: days_from_earliest_credit_to_issue, dtype: float64

In [329]:
25171 / 365

68.96164383561644

In [330]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
for col in ['last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
    df[col] = pd.to_datetime(df[col], infer_datetime_format=True)

In [332]:
df.describe(include='datetime')

,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
count,128412,128412,128250,124941,128411
unique,3,644,5,3,7
top,2018-10-01 00:00:00,2006-08-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-02-01 00:00:00
freq,46305,1130,123797,124903,125061
first,2018-10-01 00:00:00,1950-01-01 00:00:00,2018-10-01 00:00:00,2019-02-01 00:00:00,2018-08-01 00:00:00
last,2018-12-01 00:00:00,2015-11-01 00:00:00,2019-02-01 00:00:00,2019-04-01 00:00:00,2019-02-01 00:00:00

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

# Let's convert the `term` column from a string to an integer.

In [333]:
df['term'].value_counts(dropna=False)

36    88179
60    40233
Name: term, dtype: int64

In [334]:
df['loan_status'].value_counts(dropna=False)

Current               123768
Fully Paid              3438
Late (31-120 days)       509
In Grace Period          441
Late (16-30 days)        223
Charged Off               33
Name: loan_status, dtype: int64

In [335]:
df.describe(exclude='number')

,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,emp_title_manager
count,128412,128412,107465,116708,128412,128412,128412,128412,128412,128412,128412,128412,128412,128412,128256,128412,128250,124941,128411,128412,14848,16782,128412,1,1,1,1,1,1,1,128412,128412,2,2,2,107465
unique,7,35,43892,11,4,3,3,6,2,12,12,880,50,644,1074,2,5,3,7,2,3,573,2,1,1,1,1,1,1,1,2,2,1,1,1,2
top,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,2018-10-01 00:00:00,Current,n,debt_consolidation,Debt consolidation,112xx,CA,2006-08-01 00:00:00,0%,w,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-02-01 00:00:00,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,Feb-2019,Apr-2019,Feb-2019,Late (16-30 days),Cash,N,Feb-2019,ACTIVE,Feb-2019,False
freq,38011,9770,2090,38826,63490,58350,46305,123768,128411,70603,70603,1370,17879,1130,1132,114498,123797,124903,125061,111630,6360,155,128411,1,1,1,1,1,1,1,102516,128410,2,2,2,93393
first,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1950-01-01 00:00:00,NaN,NaN,2018-10-01 00:00:00,2019-02-01 00:00:00,2018-08-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-01 00:00:00,NaN,NaN,2019-02-01 00:00:00,2019-04-01 00:00:00,2019-02-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [336]:
df['term'] = df['term'].str.strip('months').astype(int)

AttributeError: ignored

In [0]:
df['term']

## Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- I'm a little proud of myself here, I found this piece of code that does the job. I'm not sure how well it does the job though. Would love some feedback if it worked.

In [0]:
# Check to see if any null values exist in df
df['loan_status'].isnull().sum()

In [0]:
import numpy as np
df['loan_status_is_great'] = np.where(df['loan_status'] == 'Current', df['loan_status_is_great'],1)
# df['loan_status_is_great'] = np.where(df['loan_status'] == 'Fully Paid', df['loan_status_is_great'],0)

In [0]:
df['loan_status_is_great'].tail(10)

In [0]:
# df['loan_status_is_great'] = df['loan_status'].str.contains('Current')

In [0]:
df['loan_status_is_great'].value_counts(normalize=True)

##  Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [338]:
df['last_pymnt_d'].head()

0   2019-02-01
1   2019-02-01
2   2019-02-01
3   2019-02-01
4   2019-02-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [341]:
df['last_pymnt_d'].head().values

# df['last_pymnt_d_month'] = df['last_pymnt_d'].dtype.month

array(['2019-02-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-02-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-02-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [342]:
df['last_pymnt_d'].describe()

count                  128250
unique                      5
top       2019-02-01 00:00:00
freq                   123797
first     2018-10-01 00:00:00
last      2019-02-01 00:00:00
Name: last_pymnt_d, dtype: object

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [344]:
# Checking to see if we created the columns and it looks successful! 
df.shape

(128412, 152)

In [346]:
df['last_pymnt_d_year'].head()

0    2019.0
1    2019.0
2    2019.0
3    2019.0
4    2019.0
Name: last_pymnt_d_year, dtype: float64

In [348]:
# Checking to see if we add the columns successfully and it looks pretty nice! 
df.head().T

,0,1,2,3,4
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,2500,30000,5000,4000,30000
funded_amnt,2500,30000,5000,4000,30000
funded_amnt_inv,2500,30000,5000,4000,30000
term,36,60,36,36,60
int_rate,13.56,18.94,17.97,18.94,16.14
installment,84.92,777.23,180.69,146.51,731.78
grade,C,D,D,D,C
sub_grade,C1,D2,D1,D2,C4
emp_title,Chef,Postmaster,Administrative,IT Supervisor,Mechanic
emp_length,10+ years,10+ years,6 years,10+ years,10+ years
home_ownership,RENT,MORTGAGE,MORTGAGE,MORTGAGE,MORTGAGE
annual_inc,55000,90000,59280,92000,57250
verification_status,Not Verified,Source Verified,Source Verified,Source Verified,Not Verified
issue_d,2018-12-01 00:00:00,2018-12-01 00:00:00,2018-12-01 00:00:00,2018-12-01 00:00:00,2018-12-01 00:00:00
loan_status,Current,Current,Current,Current,Current
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,NaN,NaN,NaN,NaN,NaN
purpose,debt_consolidation,debt_consolidation,debt_consolidation,debt_consolidation,debt_consolidation
title,Debt consolidation,Debt consolidation,Debt consolidation,Debt consolidation,Debt consolidation
zip_code,109xx,713xx,490xx,985xx,212xx
addr_state,NY,LA,MI,WA,MD
dti,18.24,26.52,10.51,16.74,26.35
delinq_2yrs,0,0,0,0,0
earliest_cr_line,2001-04-01 00:00:00,1987-06-01 00:00:00,2011-04-01 00:00:00,2006-02-01 00:00:00,2000-12-01 00:00:00
inq_last_6mths,1,0,0,0,0
mths_since_last_delinq,NaN,71,NaN,NaN,NaN
mths_since_last_record,45,75,NaN,NaN,NaN
open_acc,9,13,8,10,12
pub_rec,1,1,0,0,0
revol_bal,4341,12315,4599,5468,829
revol_util,10.3%,24.2%,19.1%,78.1%,3.6%
total_acc,34,44,13,13,26
initial_list_status,w,w,w,w,w
out_prncp,2386.02,29387.8,4787.21,3831.93,29339
out_prncp_inv,2386.02,29387.8,4787.21,3831.93,29339
total_pymnt,167.02,1507.11,353.89,286.71,1423.21
total_pymnt_inv,167.02,1507.11,353.89,286.71,1423.21
total_rec_prncp,113.98,612.25,212.79,168.07,660.98
total_rec_int,53.04,894.86,141.1,118.64,762.23
total_rec_late_fee,0,0,0,0,0
recoveries,0,0,0,0,0
collection_recovery_fee,0,0,0,0,0
last_pymnt_d,2019-02-01 00:00:00,2019-02-01 00:00:00,2019-02-01 00:00:00,2019-02-01 00:00:00,2019-02-01 00:00:00
last_pymnt_amnt,84.92,777.23,180.69,146.51,731.78
next_pymnt_d,2019-03-01 00:00:00,2019-03-01 00:00:00,2019-03-01 00:00:00,2019-03-01 00:00:00,2019-03-01 00:00:00
last_credit_pull_d,2019-02-01 00:00:00,2019-02-01 00:00:00,2019-02-01 00:00:00,2019-02-01 00:00:00,2019-02-01 00:00:00
collections_12_mths_ex_med,0,0,0,0,0
mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
policy_code,1,1,1,1,1
application_type,Individual,Individual,Individual,Individual,Individual
annual_inc_joint,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,0,0,0,0,0
tot_coll_amt,0,1208,0,686,0
tot_cur_bal,16901,321915,110299,305049,116007
open_acc_6m,2,4,0,1,3
open_act_il,2,4,1,5,5
open_il_12m,1,2,0,3,3
open_il_24m,2,3,2,5,5
mths_since_rcnt_il,2,3,14,5,4
total_bal_il,12560,87153,7150,30683,28845
il_util,69,88,72,68,89
open_rv_12m,2,4,0,0,2
open_rv_24m,7,5,2,0,4
max_bal_bc,2137,998,0,3761,516
all_util,28,57,35,70,54
total_rev_hi_lim,42000,50800,24100,7000,23100
inq_fi,1,2,1,2,1
total_cu_tl,11,15,5,4,0
inq_last_12m,2,2,0,3,0
acc_open_past_24mths,9,10,4,5,9
avg_cur_bal,1878,24763,18383,30505,9667
bc_open_to_buy,34360,13761,13800,1239,8471
bc_util,5.9,8.3,0,75.2,8.9
chargeoff_within_12_mths,0,0,0,0,0
delinq_amnt,0,0,0,0,0
mo_sin_old_il_acct,140,163,87,62,53
mo_sin_old_rev_tl_op,212,378,92,154,216
mo_sin_rcnt_rev_tl_op,1,4,15,64,2
mo_sin_rcnt_tl,1,3,14,5,2
mort_acc,0,3,2,3,2
mths_since_recent_bc,1,4,77,64,2
mths_since_recent_bc_dlq,NaN,NaN,NaN,NaN,NaN
mths_since_recent_inq,2,4,14,5,13
mths_since_recent_revol_delinq,NaN,NaN,NaN,NaN,NaN
num_accts_ever_120_pd,0,0,0,0,0
num_actv_bc_tl,2,2,0,1,2
num_actv_rev_tl,5,4,3,2,2
num_bc_sats,3,4,3,1,3
num_bc_tl,3,9,3,2,8
num_il_tl,16,27,4,7,9
num_op_rev_tl,7,8,6,2,6
num_rev_accts,18,14,7,3,15
num_rev_tl_bal_gt_0,5,4,3,2,2
num_sats,9,13,8,10,12
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,0,0
num_tl_op_past_12m,3,6,0,3,5
pct_tl_nvr_dlq,100,95,100,100,92.3
percent_bc_gt_75,0,0,0,100,0
pub_rec_bankruptcies,1,1,0,0,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,60124,372872,136927,385183,157548
total_bal_ex_mort,16901,99468,11749,36151,29674
total_bc_limit,36500,15000,13800,5000,9300
total_il_high_credit_limit,18124,94072,10000,44984,32332
revol_bal_joint,NaN,NaN,NaN,NaN,NaN
sec_app_earliest_cr_line,NaN,NaN,NaN,NaN,NaN
sec_app_inq_last_6mths,NaN,NaN,NaN,NaN,NaN
sec_app_mort_acc,NaN,NaN,NaN,NaN,NaN
sec_app_open_acc,NaN,NaN,NaN,NaN,NaN
sec_app_revol_util,NaN,NaN,NaN,NaN,NaN
sec_app_open_act_il,NaN,NaN,NaN,NaN,NaN
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,NaN
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,NaN
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,NaN
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
disbursement_method,Cash,Cash,Cash,Cash,Cash
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN
loan_status_is_great,0,0,0,0,0
emp_title_manager,False,False,False,False,False
issue_year,2018,2018,2018,2018,2018
issue_month,12,12,12,12,12
days_from_earliest_credit_to_issue,6453,11506,2801,4686,6574
last_pymnt_d_month,2,2,2,2,2
last_pymnt_d_year,2019,2019,2019,2019,2019

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01