In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-05-09 19:34:49--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.136.85
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.136.85|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: 'instacart_online_grocery_shopping_2017_05_01.tar.gz'

instacart_online_gr 100%[===================>] 196.03M  1.47MB/s    in 2m 20s

2019-05-09 19:37:09 (1.40 MB/s) - 'instacart_online_grocery_shopping_2017_05_01.tar.gz' saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

x instacart_2017_05_01/
x instacart_2017_05_01/._aisles.csv
x instacart_2017_05_01/aisles.csv
x instacart_2017_05_01/._departments.csv
x instacart_2017_05_01/departments.csv
x instacart_2017_05_01/._order_products__prior.csv
x instacart_2017_05_01/order_products__prior.csv
x instacart_2017_05_01/._order_products__train.csv
x instacart_2017_05_01/order_products__train.csv
x instacart_2017_05_01/._orders.csv
x instacart_2017_05_01/orders.csv
x instacart_2017_05_01/._products.csv
x instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/Users/imac/Downloads/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r--@ 1 imac  staff   2.5K May  2  2017 aisles.csv
-rw-r--r--@ 1 imac  staff   270B May  2  2017 departments.csv
-rw-r--r--@ 1 imac  staff   551M May  2  2017 order_products__prior.csv
-rw-r--r--@ 1 imac  staff    24M May  2  2017 order_products__train.csv
-rw-r--r--@ 1 imac  staff   104M May  2  2017 orders.csv
-rw-r--r--@ 1 imac  staff   2.1M May  2  2017 products.csv

In [5]:
import pandas as pd

In [6]:
order_products__prior = pd.read_csv('order_products__prior.csv')
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
order_products__train = pd.read_csv('order_products__train.csv')
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [8]:
orders = pd.read_csv('orders.csv')
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [9]:
products = pd.read_csv('products.csv')
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [10]:
order_concat = pd.concat([order_products__prior, order_products__train])

In [11]:
merged = pd.merge(orders, order_concat, on='order_id')

In [12]:
final = pd.merge(merged, products, on='product_id')

In [13]:
df = final[['product_id', 'product_name']]
df.head()

   product_id product_name
0         196         Soda
1         196         Soda
2         196         Soda
3         196         Soda
4         196         Soda

In [21]:
df['product_name'].value_counts().head(10)

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64