<a href="https://colab.research.google.com/github/corbittcoder/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_123_Make_Explanatory_Visualizations_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT

### 1) Replicate the lesson code. I recommend that you [do not copy-paste](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit).

### 2) Reproduce one of the following using the matplotlib or seaborn libraries:

- [thanksgiving-2015](https://fivethirtyeight.com/features/heres-what-your-part-of-america-eats-on-thanksgiving/) (try the [`altair`](https://altair-viz.github.io/gallery/index.html#maps) library)
- [candy-power-ranking](https://fivethirtyeight.com/features/the-ultimate-halloween-candy-power-ranking/) (try the [`statsmodels`](https://www.statsmodels.org/stable/index.html) library)
- or another example of your choice!

In [0]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/thanksgiving-2015/thanksgiving-2015-poll-data.csv')
df.head(1)

   RespondentID  ...        US Region
0    4337954960  ...  Middle Atlantic

[1 rows x 65 columns]

In [0]:
dish = df[['What is typically the main dish at your Thanksgiving dinner?', 'US Region']]
dish.head()

  What is typically the main dish at your Thanksgiving dinner?           US Region
0                                             Turkey               Middle Atlantic
1                                             Turkey            East South Central
2                                             Turkey                      Mountain
3                                             Turkey                       Pacific
4                                           Tofurkey                       Pacific

In [0]:
#Find most common dish by region
dish.columns = ['dish', 'region']
dish.head()

       dish              region
0    Turkey     Middle Atlantic
1    Turkey  East South Central
2    Turkey            Mountain
3    Turkey             Pacific
4  Tofurkey             Pacific

In [0]:
dish.groupby(['region']).dish.value_counts()

region              dish
East North Central  Turkey                    135
                    Other (please specify)      5
                    Ham/Pork                    4
                    Tofurkey                    1
East South Central  Turkey                     50
                    Other (please specify)      4
                    Ham/Pork                    1
                    Roast beef                  1
Middle Atlantic     Turkey                    130
                    Tofurkey                    5
                    Other (please specify)      4
                    Ham/Pork                    2
                    Roast beef                  2
                    Chicken                     1
                    Turducken                   1
Mountain            Turkey                     37
                    Tofurkey                    2
                    Chicken                     1
                    Ham/Pork                    1
New England         Turkey                     51
                    Chicken                     2
                    Other (please specify)      1
                    Tofurkey                    1
Pacific             Turkey                    107
                    Other (please specify)      9
                    Ham/Pork                    6
                    Tofurkey                    4
                    Turducken                   2
                    I don't know                1
                    Roast beef                  1
South Atlantic      Turkey                    181
                    Ham/Pork                    7
                    Other (please specify)      6
                    Chicken                     3
                    Roast beef                  3
                    Tofurkey                    3
West North Central  Turkey                     60
                    Ham/Pork                    4
                    Other (please specify)      3
                    Tofurkey                    2
                    Chicken                     1
                    I don't know                1
West South Central  Turkey                     77
                    Other (please specify)      3
                    Ham/Pork                    2
                    Tofurkey                    2
                    Chicken                     1
Name: dish, dtype: int64

In [0]:
df.columns

Index(['RespondentID', 'Do you celebrate Thanksgiving?',
       'What is typically the main dish at your Thanksgiving dinner?',
       'What is typically the main dish at your Thanksgiving dinner? - Other (please specify)',
       'How is the main dish typically cooked?',
       'How is the main dish typically cooked? - Other (please specify)',
       'What kind of stuffing/dressing do you typically have?',
       'What kind of stuffing/dressing do you typically have? - Other (please specify)',
       'What type of cranberry saucedo you typically have?',
       'What type of cranberry saucedo you typically have? - Other (please specify)',
       'Do you typically have gravy?',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Brussel sprouts',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Carrots',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cauliflower',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Corn',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cornbread',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Fruit salad',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Green beans/green bean casserole',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Macaroni and cheese',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Mashed potatoes',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Rolls/biscuits',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Squash',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Vegetable salad',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Yams/sweet potato casserole',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify)',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify).1',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Buttermilk',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Cherry',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Chocolate',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Coconut cream',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Key lime',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Peach',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Sweet Potato',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - None',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify)',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify).1',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Apple cobbler',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Blondies',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Brownies',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Carrot cake',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cheesecake',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cookies',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Fudge',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Ice cream',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Peach cobbler',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - None',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Other (please specify)',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Other (please specify).1',
       'Do you typically pray before or after the Thanksgiving meal?',
       'How far will you travel for Thanksgiving?',
       'Will you watch any of the following programs on Thanksgiving? Please select all that apply. - Macy's Parade',
       'What's the age cutoff at your "kids' table" at Thanksgiving?',
       'Have you ever tried to meet up with hometown friends on Thanksgiving night?',
       'Have you ever attended a "Friendsgiving?"',
       'Will you shop any Black Friday sales on Thanksgiving Day?',
       'Do you work in retail?',
       'Will you employer make you work on Black Friday?',
       'How would you describe where you live?', 'Age', 'What is your gender?',
       'How much total combined money did all members of your HOUSEHOLD earn last year?',
       'US Region'],
      dtype='object')

In [0]:
df = df[['Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Brussel sprouts',
         'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Carrots',
         'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cauliflower',
         'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Corn',
         'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cornbread',
         'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Fruit salad',
         'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Green beans/green bean casserole',
         'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Macaroni and cheese',
         'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Mashed potatoes',
         'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Rolls/biscuits',
         'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Squash',
         'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Vegetable salad',
         'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Yams/sweet potato casserole',
         'US Region']]

In [0]:
df.columns

Index(['Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Brussel sprouts',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Carrots',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cauliflower',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Corn',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cornbread',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Fruit salad',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Green beans/green bean casserole',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Macaroni and cheese',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Mashed potatoes',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Rolls/biscuits',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Squash',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Vegetable salad',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Yams/sweet potato casserole',
       'US Region'],
      dtype='object')

In [0]:
new_columns = []
for column in df.columns[0:13]:
  new_columns.append(column.split(' - ')[1])
  
new_columns.append('region')
df.columns = new_columns

df.head()

   Brussel sprouts  Carrots  ...  Yams/sweet potato casserole              region
0              NaN  Carrots  ...  Yams/sweet potato casserole     Middle Atlantic
1              NaN      NaN  ...  Yams/sweet potato casserole  East South Central
2  Brussel sprouts  Carrots  ...                          NaN            Mountain
3  Brussel sprouts      NaN  ...  Yams/sweet potato casserole             Pacific
4  Brussel sprouts      NaN  ...  Yams/sweet potato casserole             Pacific

[5 rows x 14 columns]

In [0]:
df.head()

   Brussel sprouts  Carrots  ...  Yams/sweet potato casserole              region
0              NaN  Carrots  ...  Yams/sweet potato casserole     Middle Atlantic
1              NaN      NaN  ...  Yams/sweet potato casserole  East South Central
2  Brussel sprouts  Carrots  ...                          NaN            Mountain
3  Brussel sprouts      NaN  ...  Yams/sweet potato casserole             Pacific
4  Brussel sprouts      NaN  ...  Yams/sweet potato casserole             Pacific

[5 rows x 14 columns]

In [0]:
import numpy as np

dish = df.copy()
for column in dish.columns[0:13]:
  dish[column] = pd.isnull(dish[column])
dish.head()

   Brussel sprouts  Carrots  ...  Yams/sweet potato casserole              region
0             True    False  ...                        False     Middle Atlantic
1             True     True  ...                        False  East South Central
2            False    False  ...                         True            Mountain
3            False     True  ...                        False             Pacific
4            False     True  ...                        False             Pacific

[5 rows x 14 columns]

In [0]:
dish.head()

   Brussel sprouts  Carrots  ...  Yams/sweet potato casserole              region
0             True    False  ...                        False     Middle Atlantic
1             True     True  ...                        False  East South Central
2            False    False  ...                         True            Mountain
3            False     True  ...                        False             Pacific
4            False     True  ...                        False             Pacific

[5 rows x 14 columns]

In [0]:
sum_dishes = dish.groupby('region').sum()

In [0]:
sum_dishes

                    Brussel sprouts  ...  Yams/sweet potato casserole
region                               ...
East North Central            128.0  ...                         60.0
East South Central             53.0  ...                         16.0
Middle Atlantic               118.0  ...                         60.0
Mountain                       41.0  ...                         21.0
New England                    46.0  ...                         24.0
Pacific                       117.0  ...                         61.0
South Atlantic                187.0  ...                         70.0
West North Central             71.0  ...                         41.0
West South Central             87.0  ...                         28.0

[9 rows x 13 columns]

In [0]:
#The below code didn't work because two regions dominated, so I needed to add this cell to normalize the regions.
from sklearn import preprocessing

x = sum_dishes.values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x.T)
sum_dishes = pd.DataFrame(x_scaled.T, columns = sum_dishes.columns, index=sum_dishes.index)
sum_dishes

                    Brussel sprouts  ...  Yams/sweet potato casserole
region                               ...
East North Central         0.921053  ...                     0.324561
East South Central         0.954545  ...                     0.113636
Middle Atlantic            0.809091  ...                     0.281818
Mountain                   0.914286  ...                     0.342857
New England                0.833333  ...                     0.375000
Pacific                    0.873684  ...                     0.284211
South Atlantic             0.891156  ...                     0.095238
West North Central         0.984127  ...                     0.507937
West South Central         0.985714  ...                     0.142857

[9 rows x 13 columns]

In [0]:
#Now I have my table, I need to find uniquely preferred dish by region.

dish_region = {}
# for region, row in sum_dishes.iterrows():
#   print(row[1])

#create enum for regions, for later reference
region_enum = {}
for i in range(len(dish['region'])):
  region_enum.update({dish['region'][i]: i})

# Now find out which region is #1 in each food
for col in sum_dishes.columns:
  greatest_num = 0
  gap = 0
  region = 0
  dish = ""
  for i in range(len(sum_dishes[col])):
    if sum_dishes[col][i] > greatest_num:
      gap = sum_dishes[col][i] - greatest_num #the difference between popularity in one region and nearest competitor
      greatest_num = sum_dishes[col][i]
      region = i
      dish = col
  #now check if that region is already #1 in something else, and compare gap if so
  if region in dish_region:
    if dish_region[region][1] < gap:
      dish_region.update({region: (dish, gap)})
  else:
    dish_region.update({region: (dish, gap)})

display(dish_region)

{0: ('Cauliflower', 1.0),
 1: ('Mashed potatoes', 0.09090909090909094),
 2: ('Macaroni and cheese', 0.07017543859649122),
 4: ('Green beans/green bean casserole', 0.050378787878787856),
 5: ('Squash', 0.01754385964912286),
 7: ('Yams/sweet potato casserole', 0.1329365079365079),
 8: ('Brussel sprouts', 0.0015873015873015817)}

I officially don't know what "Most Uniquely Prefers" means in this context...Apparently only two regions beat the others in anything else.

So I normalized the data by region, so everybody would win at least one. Then I discovered that Nate doesn't have the correct number of regions?

In [0]:
import altair as alt
from vega_datasets import data

states = alt.topo_feature(data.us_10m.url, 'states')
source = data.population_engineers_hurricanes.url
variable_list = ['population', 'engineers', 'hurricanes']

alt.Chart(states).mark_geoshape().encode(
    alt.Color(alt.repeat('row'), type='quantitative')
).transform_lookup(
    lookup='id',
    from_=alt.LookupData(source, 'id', variable_list)
).properties(
    width=500,
    height=300
).project(
    type='albersUsa'
).repeat(
    row=variable_list
).resolve_scale(
    color='independent'
)

alt.RepeatChart(...)

In [0]:
data

In [0]:
alt.Chart(states).mark_geoshape()

alt.Chart(...)

# STRETCH OPTIONS

### 2) Reproduce another example from [FiveThityEight's shared data repository](https://data.fivethirtyeight.com/).


### 3) Make more charts!

Choose a chart you want to make, from [Visual Vocabulary - Vega Edition](http://ft.com/vocabulary).

Find the chart in an example gallery of a Python data visualization library:
- [Seaborn](http://seaborn.pydata.org/examples/index.html)
- [Altair](https://altair-viz.github.io/gallery/index.html)
- [Matplotlib](https://matplotlib.org/gallery.html)
- [Pandas](https://pandas.pydata.org/pandas-docs/stable/visualization.html)

Reproduce the chart. [Optionally, try the "Ben Franklin Method."](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit) If you want, experiment and make changes.

Take notes. Consider sharing your work with your cohort!

In [0]:
# More Work Here