<a href="https://colab.research.google.com/github/KhaSab5292/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_124_Sequence_your_narrative_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Sequence Your Narrative - Assignment

Today we will create a sequence of visualizations inspired by [Hans Rosling's 200 Countries, 200 Years, 4 Minutes](https://www.youtube.com/watch?v=jbkSRLYSojo).

Using this [data from Gapminder](https://github.com/open-numbers/ddf--gapminder--systema_globalis/):
- [Income Per Person (GDP Per Capital, Inflation Adjusted) by Geo & Time](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--income_per_person_gdppercapita_ppp_inflation_adjusted--by--geo--time.csv)
- [Life Expectancy (in Years) by Geo & Time](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--life_expectancy_years--by--geo--time.csv)
- [Population Totals, by Geo & Time](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Entities](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv)
- [Concepts](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--concepts.csv)

Objectives
- sequence multiple visualizations
- combine qualitative anecdotes with quantitative aggregates

Links
- [Hans Roslingâ€™s TED talks](https://www.ted.com/speakers/hans_rosling)
- [Spiralling global temperatures from 1850-2016](https://twitter.com/ed_hawkins/status/729753441459945474)
- "[The Pudding](https://pudding.cool/) explains ideas debated in culture with visual essays."
- [A Data Point Walks Into a Bar](https://lisacharlotterost.github.io/2016/12/27/datapoint-in-bar/): a thoughtful blog post about emotion and empathy in data storytelling

# ASSIGNMENT
 

1.   Replicate the Lesson Code
2.   Take it further by using the same gapminder dataset to create a sequence of visualizations that combined tell a story of your choosing.

Get creative! Use text annotations to call out specific countries, maybe: change how the points are colored, change the opacity of the points, change their sized, pick a specific time window. Maybe only work with a subset of countries, change fonts, change background colors, etc. make it your own!

In [0]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [0]:
income = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--income_per_person_gdppercapita_ppp_inflation_adjusted--by--geo--time.csv')
lifespan = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--life_expectancy_years--by--geo--time.csv')
population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')
entities = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
concepts = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--concepts.csv')

In [0]:
income.shape, lifespan.shape, population.shape, entities.shape, concepts.shape

((46513, 3), (44370, 3), (59297, 3), (273, 33), (590, 16))

In [0]:
income.head()

   geo  time  income_per_person_gdppercapita_ppp_inflation_adjusted
0  afg  1800                                                603
1  afg  1801                                                603
2  afg  1802                                                603
3  afg  1803                                                603
4  afg  1804                                                603

In [0]:
lifespan.head()

   geo  time  life_expectancy_years
0  abw  1800                  34.42
1  abw  1801                  34.42
2  abw  1802                  34.42
3  abw  1803                  34.42
4  abw  1804                  34.42

In [0]:
population.head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [0]:
entities.head()

  country alt_5  ... world_4region        world_6region
0    abkh   NaN  ...        europe  europe_central_asia
1     abw   NaN  ...      americas              america
2     afg   NaN  ...          asia           south_asia
3     ago   NaN  ...        africa   sub_saharan_africa
4     aia   NaN  ...      americas              america

[5 rows x 33 columns]

In [0]:
concepts.head()

                                             concept  ...                        tags
0                  adults_with_hiv_percent_age_15_49  ...                         hiv
1                          age_at_1st_marriage_women  ...                  population
2                 aged_15_24_employment_rate_percent  ...             employment_rate
3               aged_15_24_unemployment_rate_percent  ...                unemployment
4  aged_15_64_labour_force_participation_rate_per...  ...  labour_force_participation

[5 rows x 16 columns]

In [15]:
merged1 = pd.merge(income, lifespan)
income.shape, lifespan.shape, merge.shape

((46513, 3), (44370, 3), (40437, 4))

In [16]:
merged1.head()

   geo  ...  life_expectancy_years
0  afg  ...                  28.21
1  afg  ...                  28.20
2  afg  ...                  28.19
3  afg  ...                  28.18
4  afg  ...                  28.17

[5 rows x 4 columns]

In [17]:
merged2 = pd.merge(merged1, population)
merged1.shape, population.shape, merged2.shape

((40437, 4), (59297, 3), (40437, 5))

In [18]:
merged2.head()

   geo  time  ...  life_expectancy_years  population_total
0  afg  1800  ...                  28.21           3280000
1  afg  1801  ...                  28.20           3280000
2  afg  1802  ...                  28.19           3280000
3  afg  1803  ...                  28.18           3280000
4  afg  1804  ...                  28.17           3280000

[5 rows x 5 columns]

In [21]:
merged3 = pd.merge(merged2, entities[['country', 'name', 'world_4region', 'world_6region']], left_on = 'geo', right_on = 'country')
merged2.shape, entities.shape, merged3.shape

((40437, 5), (273, 33), (40437, 9))

In [32]:
merged3.head()

   geo  time  ...  world_4region  world_6region
0  afg  1800  ...           asia     south_asia
1  afg  1801  ...           asia     south_asia
2  afg  1802  ...           asia     south_asia
3  afg  1803  ...           asia     south_asia
4  afg  1804  ...           asia     south_asia

[5 rows x 9 columns]

# STRETCH OPTIONS

## 1. Animate!

- [How to Create Animated Graphs in Python](https://towardsdatascience.com/how-to-create-animated-graphs-in-python-bb619cc2dec1)
- Try using [Plotly](https://plot.ly/python/animations/)!
- [The Ultimate Day of Chicago Bikeshare](https://chrisluedtke.github.io/divvy-data.html) (Lambda School Data Science student)
- [Using Phoebe for animations in Google Colab](https://colab.research.google.com/github/phoebe-project/phoebe2-docs/blob/2.1/tutorials/animations.ipynb)

## 2. Study for the Sprint Challenge

- Concatenate DataFrames
- Merge DataFrames
- Reshape data with `pivot_table()` and `.melt()`
- Be able to reproduce a FiveThirtyEight graph using Matplotlib or Seaborn.

## 3. Work on anything related to your portfolio site / Data Storytelling Project

In [0]:
# TODO