<a href="https://colab.research.google.com/github/KhaSab5292/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_121_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [4]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-09-10 20:33:34--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.110.213
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.110.213|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  97.9MB/s    in 2.0s

2019-09-10 20:33:36 (97.9 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [5]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [6]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [8]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
# Columns = product id, product name, order id,
import pandas as pd

In [10]:
order_products__prior = pd.read_csv('order_products__prior.csv')
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
order_products__train = pd.read_csv('order_products__train.csv')
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [12]:
products = pd.read_csv('products.csv')
products.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [13]:
print(order_products__prior.shape)
print(order_products__train.shape)
order_products = pd.concat([order_products__prior, order_products__train])
print(order_products.shape)

(32434489, 4)
(1384617, 4)
(33819106, 4)

In [14]:
subset1 = order_products[['order_id',	'product_id']]
subset1.shape

(33819106, 2)

In [15]:
subset2 = products[['product_id', 'product_name']]
subset2.shape

(49688, 2)

In [20]:
merged = pd.merge(subset1, subset2, how='inner', on='product_id')
print(merged.shape)
merged.head()

(33819106, 3)

   order_id  product_id        product_name
0         2       33120  Organic Egg Whites
1        26       33120  Organic Egg Whites
2       120       33120  Organic Egg Whites
3       327       33120  Organic Egg Whites
4       390       33120  Organic Egg Whites

In [21]:
merged['product_name'].value_counts(dropna=False).head(10)

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [23]:
import seaborn as sns
flights = sns.load_dataset('flights')

from IPython.display import display, Image

example = Image(url='https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png', width=600)
display(example)

In [24]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.head()

(3421083, 7)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [25]:
print(order_products.shape)
order_products.head()

(33819106, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [26]:
condition = (orders['user_id'] == 1) & (orders['order_number'] <= 2)

columns_orders = ['user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day']

orders = orders.loc[condition, columns_orders]
orders.head()

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

In [27]:
columns_order_products = ['order_id', 'add_to_cart_order', 'product_id']
order_products = order_products[columns_order_products]
print(order_products.shape)
order_products.head()

(33819106, 3)

   order_id  add_to_cart_order  product_id
0         2                  1       33120
1         2                  2       28985
2         2                  3        9327
3         2                  4       45918
4         2                  5       30035

In [28]:
dfmerged = pd.merge(orders, order_products, how='inner', on='order_id')

dfmerged.head()

   user_id  order_id  ...  add_to_cart_order  product_id
0        1   2539329  ...                  1         196
1        1   2539329  ...                  2       14084
2        1   2539329  ...                  3       12427
3        1   2539329  ...                  4       26088
4        1   2539329  ...                  5       26405

[5 rows x 7 columns]

In [29]:
display(example)

In [30]:
print(subset2.shape)
subset2.head()

(49688, 2)

   product_id                                       product_name
0           1                         Chocolate Sandwich Cookies
1           2                                   All-Seasons Salt
2           3               Robust Golden Unsweetened Oolong Tea
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4           5                          Green Chile Anytime Sauce

In [31]:
finalmerge = pd.merge(dfmerged, subset2, how='inner', on='product_id')
finalmerge.head(10)

   user_id  order_id  ...  product_id                             product_name
0        1   2539329  ...         196                                     Soda
1        1   2398795  ...         196                                     Soda
2        1   2539329  ...       14084  Organic Unsweetened Vanilla Almond Milk
3        1   2539329  ...       12427                      Original Beef Jerky
4        1   2398795  ...       12427                      Original Beef Jerky
5        1   2539329  ...       26088               Aged White Cheddar Popcorn
6        1   2398795  ...       26088               Aged White Cheddar Popcorn
7        1   2539329  ...       26405         XL Pick-A-Size Paper Towel Rolls
8        1   2398795  ...       10258                               Pistachios
9        1   2398795  ...       13176                   Bag of Organic Bananas

[10 rows x 8 columns]

In [34]:
finalmerge = finalmerge.sort_values(by=['order_number', 'add_to_cart_order'])
finalmerge.head(11)

    user_id  order_id  ...  product_id                             product_name
0         1   2539329  ...         196                                     Soda
2         1   2539329  ...       14084  Organic Unsweetened Vanilla Almond Milk
3         1   2539329  ...       12427                      Original Beef Jerky
5         1   2539329  ...       26088               Aged White Cheddar Popcorn
7         1   2539329  ...       26405         XL Pick-A-Size Paper Towel Rolls
1         1   2398795  ...         196                                     Soda
8         1   2398795  ...       10258                               Pistachios
4         1   2398795  ...       12427                      Original Beef Jerky
9         1   2398795  ...       13176                   Bag of Organic Bananas
6         1   2398795  ...       26088               Aged White Cheddar Popcorn
10        1   2398795  ...       13032                    Cinnamon Toast Crunch

[11 rows x 8 columns]

In [33]:
display(example)

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####