<a href="https://colab.research.google.com/github/RecursiveOuroboros/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/Copy_of_LS_DS_122_Join_datasets_Jason_Meil_DS3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [0]:
#Includes Here
from os import listdir
from os.path import isfile, join
import pandas as pd
import numpy as np

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-04-02 21:55:46--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.108.165
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.108.165|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.6’

instacart_online_gr 100%[===================>] 196.03M  98.1MB/s    in 2.0s

2019-04-02 21:55:48 (98.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.6’ saved [205548478/205548478]

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [0]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

In [0]:
onlyfiles = [f for f in listdir('./') if isfile(join('./', f))]
print(onlyfiles)
onlynormalfiles = [x for x in onlyfiles if x[0] != '.']

print(onlynormalfiles)

['._departments.csv', '._products.csv', 'products.csv', '._order_products__prior.csv', 'aisles.csv', '._aisles.csv', 'departments.csv', 'orders.csv', 'order_products__train.csv', '._order_products__train.csv', 'order_products__prior.csv', '._orders.csv']
['products.csv', 'aisles.csv', 'departments.csv', 'orders.csv', 'order_products__train.csv', 'order_products__prior.csv']

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

In [0]:
# csvfiles = []
# data = pd.DataFrame()

# #for x in onlynormalfiles:
# #    f = pd.read_csv(x)
    
    
# data = pd.join([pd.read_csv(x) for x in onlynormalfiles])
# print(data.head(5))
# print(data)

### aisles

In [0]:
aisles_df = pd.read_csv('aisles.csv')
print(aisles_df.shape)
print(aisles_df.head(5))

(134, 2)
   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

### departments

In [0]:
departments_df = pd.read_csv('departments.csv')
print(departments_df.shape)
print(departments_df.head(5))

(21, 2)
   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

### order_products__prior

In [0]:
order_products_prior_df = pd.read_csv('order_products__prior.csv')
print(order_products_prior_df.shape)
print(order_products_prior_df.head(5))

(32434489, 4)
   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### order_products__train

In [0]:
order_products__train_df = pd.read_csv('order_products__train.csv')
print(order_products__train_df.shape)
print(order_products__train_df.head(5))

(1384617, 4)
   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### orders

In [0]:
orders_df = pd.read_csv('orders.csv')
print(orders_df.shape)
print(orders_df.head(5))

(3421083, 7)
   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0

### products

In [0]:
products_df = pd.read_csv('products.csv')
print(products_df.shape)
print(products_df.head(5))

(49688, 4)
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13

## Concatenate order_products__prior and order_products__train

In [0]:
ex_order_df = pd.concat([order_products_prior_df, order_products__train_df])
print(ex_order_df.head(5))

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## Get a subset of orders — the first two orders for user id 1

In [0]:
subset_orders_uid1_df = orders_df.loc[orders_df['user_id'] == 1]
print(subset_orders_uid1_df.head(2))

   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7

   days_since_prior_order
0                     NaN
1                    15.0

## Merge dataframes

Need Features
- user_id
- order id
- order number
- order dow
- order hour of day
- add to cart order
- product id
- product name

:, df1.loc['a'] > 0]

In [0]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
order_id                  int64
user_id                   int64
eval_set                  object
order_number              int64
order_dow                 int64
order_hour_of_day         int64
days_since_prior_order    float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [0]:
same_output_df = orders_df[['user_id', 'order_id', 'order_number','order_dow', 'order_hour_of_day']]
same_output_df.head(5)

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7
2        1    473747             3          3                 12
3        1   2254736             4          4                  7
4        1    431534             5          4                 15

In [0]:
#same_output_df = same_output_df.merge(ex_order_df, on='order_id')

In [0]:
same_output_df.head()

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7
2        1    473747             3          3                 12
3        1   2254736             4          4                  7
4        1    431534             5          4                 15

In [0]:
same_output_df = same_output_df.loc[same_output_df['order_number'] <= 2]

In [0]:
same_output_df = same_output_df.loc[same_output_df['user_id'] == 1]

In [0]:
#same_output_df.drop('reordered')

ValueError: ignored

In [0]:
same_output_df.head(20)

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

In [0]:
same_output_df = same_output_df.merge(products_df[['product_id', 'product_name']], on='product_id')

KeyError: ignored

In [0]:
print(same_output_df)

In [0]:
same_output_df.drop('reordered', axis=1)

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
# Add thislater will be interesting to see trends. orders_df
#products_df
#ex_order_df

In [0]:
lookup = [
    'Banana'
    'Bag of Organic Bananas'
    'Organic Strawberries'
    'Organic Baby Spinach'
    'Organic Hass Avocado'
    'Organic Avocado'
    'Large Lemon'
    'Strawberries'
    'Limes'
    'Organic Whole Milk'
]

In [0]:
assign_df['product_name'].value_counts().head(10)

In [0]:
assign_df = ex_order_df.merge(products_df, on='product_id')
assign_df = assign_df.merge(orders_df, on='order_id')

top 25 products ordered after Noon in the assign_df dataframe.

select order hour of the day > 12
result_dataset['product_name'].valuecounts.head(25)

Will need to calculate the percent of orders by product at each hour of the day for every product.
for each hour calculate the total number of items bought in that hour
for each set calculate the percentage of each item purchased in that hour.

In [0]:
assign_df.info()

In [0]:
stretch_df = assign_df.loc[assign_df['order_hour_of_day'] >= 12]
product_id_df = products_df['product_id']

In [0]:
# #stretch_df['product_name'].value_counts()
# #It is easier for me now to cut and paste these as there are only 24, if there were hundreds, I would apply list comprehensions

# hour0 = assign_df.loc[assign_df['order_hour_of_day'] == 0]

# hour1 = assign_df.loc[assign_df['order_hour_of_day'] == 1]

# hour2 = assign_df.loc[assign_df['order_hour_of_day'] == 2]

# hour3 = assign_df.loc[assign_df['order_hour_of_day'] == 3]

# hour4 = assign_df.loc[assign_df['order_hour_of_day'] == 4]

# hour5 = assign_df.loc[assign_df['order_hour_of_day'] == 5]

# hour6 = assign_df.loc[assign_df['order_hour_of_day'] == 6]

# hour7 = assign_df.loc[assign_df['order_hour_of_day'] == 7]

# hour8 = assign_df.loc[assign_df['order_hour_of_day'] == 8]

# hour9 = assign_df.loc[assign_df['order_hour_of_day'] == 9]

# hour10 = assign_df.loc[assign_df['order_hour_of_day'] == 10]

# hour11 = assign_df.loc[assign_df['order_hour_of_day'] == 11]

# hour12 = assign_df.loc[assign_df['order_hour_of_day'] == 12]

# hour13 = assign_df.loc[assign_df['order_hour_of_day'] == 13]

# hour14 = assign_df.loc[assign_df['order_hour_of_day'] == 14]

# hour15 = assign_df.loc[assign_df['order_hour_of_day'] == 15]

# hour16 = assign_df.loc[assign_df['order_hour_of_day'] == 16]

# hour17 = assign_df.loc[assign_df['order_hour_of_day'] == 17]

# hour18 = assign_df.loc[assign_df['order_hour_of_day'] == 18]

# hour19 = assign_df.loc[assign_df['order_hour_of_day'] == 19]

# hour20 = assign_df.loc[assign_df['order_hour_of_day'] == 20]

# hour21 = assign_df.loc[assign_df['order_hour_of_day'] == 21]

# hour22 = assign_df.loc[assign_df['order_hour_of_day'] == 22]

# hour23 = assign_df.loc[assign_df['order_hour_of_day'] == 23]

for each type of product in the above DF's calculate percentages.

I have to get list of the product names that are in each hour,
find that.

In [0]:
hour1_percent = [hour1[x] for x in (hour1['product_name'].unique())]

In [0]:
hour1['product_name'].unique()
type(hour1['product_name'].value_counts())

for each product in product_id_df create 24 columns with percentages of that product ordered at that time, if #products purchased that hour return 0.

In [0]:
hour1

In [0]:
#for prod in product_id_df:
#    if prod in hour1['product_id'].unique():
#        print(prod)

In [0]:
newdf = pd.DataFrame()

In [0]:
hoursdf = pd.DataFrame()
time = pd.Series()

In [0]:
hours_list = ['hour0', 'hour1', 'hour2', 'hour3', 'hour4', 'hour5','hour6', 'hour7', 'hour8', 'hour9', 'hour10', 'hour11', 'hour12']

In [0]:
hoursdf['hour0'] = hour0['product_name'].value_counts()
hoursdf['hour1'] = hour1['product_name'].value_counts()

In [0]:
#[x['product_name'].value_counts() for x in hours_list]

#[hoursdf[x] for x in hours_list]
hoursdf = products_df['product_name']

In [0]:
test = [assign_df.loc[assign_df['order_hour_of_day'] == x] for x in range(0,24)]

In [0]:
hoursdf['hour0'] = test[0]

In [0]:
for x in range(0,24):
    time[('hour' + str(x))] = pd.DataFrame(np.array(test[x]))

In [0]:
product_names_in_time = pd.Series()

In [0]:
for x in range(0,24):
    product_names_in_time[('hour' + str(x))] = time[('hour'+ str(x))][4].value_counts()

In [0]:
pd.set_option("display.max_rows", 100000)

In [0]:
product_names_in_time['hour0'].shape

In [0]:
product_names_in_time['hour12']['Banana']

In [0]:
product_names_in_time.to_pickle('product_names_in_time.pkl')