<a href="https://colab.research.google.com/github/danhorsley/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/Copy_of_LS_DS_122_Join_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 19:57:10--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.100.165
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.100.165|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.2’

instacart_online_gr 100%[===================>] 196.03M  80.6MB/s    in 2.4s

2019-03-26 19:57:13 (80.6 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.2’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [4]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [5]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [6]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

we don't need the aisles dataframe

### departments

In [7]:
departments = pd.read_csv('departments.csv')
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

departments doesnt have columns we need

### order_products__prior

In [9]:
order_products_prior = pd.read_csv('order_products__prior.csv')
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
order_products_prior.shape

(32434489, 4)

**order_products_prior has
- order_id
- product_id
- add to cart order

In [0]:
order_products_prior.groupby('order_id')['product_id'].count()

### order_products__train

In [10]:
order_products__train = pd.read_csv('order_products__train.csv')
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### orders

order prod prior and order prod train have same exact columns

In [15]:
orders = pd.read_csv('orders.csv')
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [60]:
orders.shape

(3421083, 7)

orders has user_id, order_id, _order number, order dow, order hour

### products

In [11]:

products = pd.read_csv('products.csv')
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

**prodcuts has product name and product id

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])

In [31]:
order_products.shape, order_products__prior.shape, order_products__train.shape

((33819106, 4), (32434489, 4), (1384617, 4))

In [61]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
assert len(order_products) == len(order_products__prior) + len(order_products__train)

In [33]:
rows, columns = order_products.shape
print('Rows:',rows)
print('Columns:',columns)

Rows: 33819106
Columns: 4

In [0]:
a_rows, a_columns = order_products__prior.shape
b_rows, b_columns = order_products__train.shape
c_rows, c_columns = order_products.shape

assert a_columns == b_columns == c_columns
assert a_rows + b_rows == c_rows

In [35]:
condition = order_products['order_id']==2539329
order_products[condition]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

## Get a subset of orders — the first two orders for user id 1

from orders dataframe - user_id, order_id, _order_number, order_dow, order_hour_of_day

In [0]:
condition = (orders['user_id']==1) & (orders['order_number']<=2) 

columns = ['user_id',
          'order_id',
          'order_number',
          'order_dow',
          'order_hour_of_day']

subset = orders.loc[condition, columns]

## Merge dataframes

In [0]:
columns = ['order_id', 'add_to_cart_order', 'product_id']
merged = pd.merge(subset, order_products[columns])

In [58]:
merged.head()

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id
0,1,2539329,1,2,8,1,196
1,1,2539329,1,2,8,2,14084
2,1,2539329,1,2,8,3,12427
3,1,2539329,1,2,8,4,26088
4,1,2539329,1,2,8,5,26405

In [44]:
subset.shape, order_products.shape, merged.shape

((2, 5), (33819106, 4), (11, 7))

In [0]:
final= pd.merge(merged, products[['product_id','product_name']])

In [47]:
merged.shape, products[['product_id','product_name']].shape, final.shape

((11, 7), (49688, 2), (11, 8))

In [59]:
final.head()

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id,product_name
0,1,2539329,1,2,8,1,196,Soda
1,1,2398795,2,3,7,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
4,1,2398795,2,3,7,3,12427,Original Beef Jerky

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [12]:
#  we need the columns['product name'] , ['order_id']
# so we need products dataframe and order_products train and order products prior
#first concatenate the two order dfs

order_prior_train = pd.concat([order_products_prior,order_products__train])
order_prior_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
#now we merge product name and orders

df_new = pd.merge(order_prior_train,products)

In [26]:
#checking out my merged df
df_new.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,33120,1,1,Organic Egg Whites,86,16
1,26,33120,5,0,Organic Egg Whites,86,16
2,120,33120,13,0,Organic Egg Whites,86,16
3,327,33120,5,1,Organic Egg Whites,86,16
4,390,33120,28,1,Organic Egg Whites,86,16

In [0]:
foods = ['Banana',
'Bag of Organic Bananas',
'Organic Strawberries',
'Organic Baby Spinach',
'Organic Hass Avocado',
'Organic Avocado',
'Large Lemon', 
'Strawberries',
'Limes', 
'Organic Whole Milk']

In [25]:
#this will loop through the food list and count the number of times each one was ordered
# we could have done this a number of different ways that may have been better.  maybe value counts on a masked df
ordercounts = []
for food in foods:
  food_condition = (df_new['product_name']==food) 
  df_temp = df_new[food_condition].copy()
  numberoforders = len(df_temp)
  tup = (food, numberoforders)
  ordercounts.append(tup)
  
ordercounts

[('Banana', 491291),
 ('Bag of Organic Bananas', 394930),
 ('Organic Strawberries', 275577),
 ('Organic Baby Spinach', 251705),
 ('Organic Hass Avocado', 220877),
 ('Organic Avocado', 184224),
 ('Large Lemon', 160792),
 ('Strawberries', 149445),
 ('Limes', 146660),
 ('Organic Whole Milk', 142813)]

In [16]:
#for stretch goal we need to add order hour of day and cut some columns
#first me make a cut down orders df so not to crash colab
orders_cut = orders[['order_id','order_hour_of_day']].copy()
orders_cut.head()

   order_id  order_hour_of_day
0   2539329                  8
1   2398795                  7
2    473747                 12
3   2254736                  7
4    431534                 15

In [17]:
#now make cut down version of df_new
df_cut = df_new[['order_id','product_name']].copy()
df_cut.head()

   order_id        product_name
0         2  Organic Egg Whites
1        26  Organic Egg Whites
2       120  Organic Egg Whites
3       327  Organic Egg Whites
4       390  Organic Egg Whites

In [0]:
#now to merge these bad boys
dont_crash = pd.merge(df_cut,orders_cut)

In [19]:
dont_crash.head()

   order_id           product_name  order_hour_of_day
0         2     Organic Egg Whites                  9
1         2  Michigan Organic Kale                  9
2         2          Garlic Powder                  9
3         2         Coconut Butter                  9
4         2      Natural Sweetener                  9

In [20]:
#now mask the dataframe into products with more than 2900 orders
popprods = dont_crash['product_name'].value_counts()
popprods = popprods[popprods>2900]
popprods.index

Index(['Banana', 'Bag of Organic Bananas', 'Organic Strawberries',
       'Organic Baby Spinach', 'Organic Hass Avocado', 'Organic Avocado',
       'Large Lemon', 'Strawberries', 'Limes', 'Organic Whole Milk',
       ...
       'Oh My Yog! Pacific Coast Strawberry Trilayer Yogurt',
       'Lemon Cayenne Agave Cold Pressed Juice Beverage', 'Chives',
       'Stage 2 Sweet Potato Corn & Apple Baby Food',
       'Organic Free Range Grade A Large Brown Eggs',
       'Creamy Deluxe Macaroni Dinner Elbows & Four Cheese Sauce',
       'Organic Spelt Tortillas', 'Whole Chia Seeds', 'Stage 1 - Just Prunes',
       '3 lb Clementines'],
      dtype='object', length=2051)

In [38]:
prod_condition = dont_crash['product_name'].isin(list(popprods.index))
dc_filter = dont_crash[prod_condition]
dc_filter.head()

   order_id           product_name  order_hour_of_day
0         2     Organic Egg Whites                  9
1         2  Michigan Organic Kale                  9
2         2          Garlic Powder                  9
5         2                Carrots                  9
9        26     Organic Egg Whites                 16

In [0]:
#now we need to find the mean order_hour_of_day for each product_name
ordermeans = dc_filter.groupby(['product_name']).mean()

In [41]:
ordermeans.head()

                              order_id  order_hour_of_day
product_name
0% Fat Free Organic Milk  1.735806e+06          13.233899
0% Greek Strained Yogurt  1.704922e+06          12.298806
1 Liter                   1.700314e+06          13.696120
1% Low Fat Milk           1.688792e+06          13.377029
1% Lowfat Milk            1.715519e+06          13.285121

In [42]:
#now sort by order_hour_of_day and take top 25
answerlist = ordermeans.sort_values(by=['order_hour_of_day'], ascending=False)
answerlist.index[:25]

Index(['Half Baked Frozen Yogurt', 'The Tonight Dough™ Ice Cream',
       'Americone Dream® Ice Cream', 'Half Baked® Ice Cream',
       'Phish Food® Ice Cream', 'Milk and Cookies Ice Cream',
       'Sicilian Pistachio', 'Chocolate Peanut Butter Cup Gelato',
       'Birthday Cake Light Ice Cream', 'Cherry Garcia Ice Cream',
       'Strawberry Ice Cream', 'Vanilla Bean Light Ice Cream',
       'Coffee Ice Cream', 'Roman Raspberry Sorbetto',
       'Mediterranean Mint Gelato', 'Caramel Cookie Crunch Gelato',
       'Chocolate Chip Cookie Dough Ice Cream', 'Mint Chip',
       'Coconut Almond Minis Frozen Dessert Bars',
       'Mint Chocolate Chip Ice Cream', 'Chocolate Peanut Butter Ice Cream',
       'Vanilla Milk Chocolate Almond Ice Cream Bars',
       'Sea Salt Caramel Gelato', 'Vanilla Bean Ice Cream',
       'Rising Crust Pepperoni Pizza'],
      dtype='object', name='product_name')

In [0]:
#this looks like a lot of ice cream!!

In [0]:
#these are random checks i did later
answerlist.head(50)

In [0]:
dc_filter['product_name'].value_counts()