<a href="https://colab.research.google.com/github/derek-shing/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/Copy_of_LS_DS_122_Join_datasets_LIVE_LESSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-01-16 07:29:14--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.165.197
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.165.197|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  59.4MB/s    in 3.3s

2019-01-16 07:29:18 (59.2 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [4]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [5]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')

In [0]:
aisles

### departments

In [0]:
departments = pd.read_csv('departments.csv')

In [0]:
departments.head()

### order_products__prior

In [0]:
order_products_prior=pd.read_csv('order_products__prior.csv')

In [0]:
order_products_prior

In [0]:
display(example)

### order_products__train

In [0]:
order_products_train = pd.read_csv('order_products__train.csv')

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [28]:
display(example)

### products

In [0]:
products = pd.read_csv('products.csv')

In [30]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products_prior, order_products_train])

In [39]:
order_products.shape, order_products_prior.shape, order_products_train.shape

((33819106, 4), (32434489, 4), (1384617, 4))

In [40]:
len(order_products)==len(order_products_prior) + len(order_products_train)

True

## Get a subset of orders — the first two orders for user id 1

In [0]:
orders

orders[orders.user_id==1].sort_values(by='order_number').head(2)

subset = orders[(orders.user_id==1) & (orders.order_number<=2)]

## Merge dataframes

In [17]:
order_products
columns = ['order_id','add_to_cart_order','product_id']

temp = pd.merge(subset,order_products[columns])

products

columns = ['product_id', 'product_name']
temp
#pd.concat([temp,products[columns]],axis =9)

final = pd.merge(temp, products[['product_id', 'product_name']])
final

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,product_id,product_name
0,2539329,1,prior,1,2,8,NaN,1,196,Soda
1,2398795,1,prior,2,3,7,15.0,1,196,Soda
2,2539329,1,prior,1,2,8,NaN,2,14084,Organic Unsweetened Vanilla Almond Milk
3,2539329,1,prior,1,2,8,NaN,3,12427,Original Beef Jerky
4,2398795,1,prior,2,3,7,15.0,3,12427,Original Beef Jerky
5,2539329,1,prior,1,2,8,NaN,4,26088,Aged White Cheddar Popcorn
6,2398795,1,prior,2,3,7,15.0,5,26088,Aged White Cheddar Popcorn
7,2539329,1,prior,1,2,8,NaN,5,26405,XL Pick-A-Size Paper Towel Rolls
8,2398795,1,prior,2,3,7,15.0,2,10258,Pistachios
9,2398795,1,prior,2,3,7,15.0,4,13176,Bag of Organic Bananas
10,2398795,1,prior,2,3,7,15.0,6,13032,Cinnamon Toast Crunch

In [0]:
final = final.sort_values(by=['order_number', 'add_to_cart_order'])

In [20]:
#Rename

final.columns = [column.replace('_', ' ') for column in final]
final

,order id,user id,eval set,order number,order dow,order hour of day,days since prior order,add to cart order,product id,product name
0,2539329,1,prior,1,2,8,NaN,1,196,Soda
2,2539329,1,prior,1,2,8,NaN,2,14084,Organic Unsweetened Vanilla Almond Milk
3,2539329,1,prior,1,2,8,NaN,3,12427,Original Beef Jerky
5,2539329,1,prior,1,2,8,NaN,4,26088,Aged White Cheddar Popcorn
7,2539329,1,prior,1,2,8,NaN,5,26405,XL Pick-A-Size Paper Towel Rolls
1,2398795,1,prior,2,3,7,15.0,1,196,Soda
8,2398795,1,prior,2,3,7,15.0,2,10258,Pistachios
4,2398795,1,prior,2,3,7,15.0,3,12427,Original Beef Jerky
9,2398795,1,prior,2,3,7,15.0,4,13176,Bag of Organic Bananas
6,2398795,1,prior,2,3,7,15.0,5,26088,Aged White Cheddar Popcorn
10,2398795,1,prior,2,3,7,15.0,6,13032,Cinnamon Toast Crunch

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [21]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [50]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [51]:

order_products['total number ordered']=order_products['add_to_cart_order']+ order_products['reordered']

order_products.head(1)


#Get the total number of ordered by each product ID

total = order_products.groupby('product_id')['total number ordered'].count()
type(total)

total.values

array([1928,   94,  283, ...,  127,   14,   93])

In [0]:
newdf = pd.DataFrame(total)

In [0]:
newdf = newdf.sort_values(by='total number ordered', ascending=False)

In [100]:
newdf.shape

(49685, 2)

In [0]:
#pd.merge can't work on index column

newdf['product_id']=newdf.index
top_10 = pd.merge(newdf, products[['product_id', 'product_name']]).head(10)

In [57]:
top_10

   total number ordered  product_id            product_name
0                491291       24852                  Banana
1                394930       13176  Bag of Organic Bananas
2                275577       21137    Organic Strawberries
3                251705       21903    Organic Baby Spinach
4                220877       47209    Organic Hass Avocado
5                184224       47766         Organic Avocado
6                160792       47626             Large Lemon
7                149445       16797            Strawberries
8                146660       26209                   Limes
9                142813       27845      Organic Whole Milk

In [0]:
hourdf = pd.merge(order_products,orders[['order_id','order_hour_of_day']])

hourdf

In [60]:
hourdf.head(1)

,order_id,product_id,add_to_cart_order,reordered,total number ordered,order_hour_of_day
0,2,33120,1,1,2,9

In [15]:
hourdf.describe()

,order_id,product_id,add_to_cart_order,reordered,order_hour_of_day
count,3.381911e+07,3.381911e+07,3.381911e+07,3.381911e+07,3.381911e+07
mean,1.710566e+06,2.557551e+04,8.367738e+00,5.900617e-01,1.343123e+01
std,9.874008e+05,1.409770e+04,7.139540e+00,4.918220e-01,4.246149e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,8.554130e+05,1.351900e+04,3.000000e+00,0.000000e+00,1.000000e+01
50%,1.710660e+06,2.525600e+04,6.000000e+00,1.000000e+00,1.300000e+01
75%,2.565587e+06,3.793500e+04,1.100000e+01,1.000000e+00,1.600000e+01
max,3.421083e+06,4.968800e+04,1.450000e+02,1.000000e+00,2.300000e+01

In [0]:
#Try to get a df of order after 23:00

latest = hourdf[hourdf['order_hour_of_day']>=23]
total = latest.groupby('product_id')['order_id'].count()

total
latestdf = pd.DataFrame(total)
latestdf['product_id']=latestdf.index

latestdf = latestdf.rename(columns={"order_id":"Number of sales"})

latestdf = latestdf.sort_values(by='Number of sales', ascending=False)

latestdf

In [31]:
latest_final = pd.merge(latestdf,products[['product_id','product_name']])

latest_final.head(25)

    Number of sales  product_id                          product_name
0              5587       24852                                Banana
1              5098       13176                Bag of Organic Bananas
2              3677       21137                  Organic Strawberries
3              3304       21903                  Organic Baby Spinach
4              2702       47209                  Organic Hass Avocado
5              2280       47766                       Organic Avocado
6              1920       16797                          Strawberries
7              1906       47626                           Large Lemon
8              1872       27966                   Organic Raspberries
9              1870       27845                    Organic Whole Milk
10             1823       26209                                 Limes
11             1533       39275                   Organic Blueberries
12             1508       45007                      Organic Zucchini
13             1463       24964                        Organic Garlic
14             1394       22935                  Organic Yellow Onion
15             1250       49683                        Cucumber Kirby
16             1191        5876                         Organic Lemon
17             1180       30391                      Organic Cucumber
18             1165       40706                Organic Grape Tomatoes
19             1137        4920                   Seedless Red Grapes
20             1103       42265                  Organic Baby Carrots
21             1074       31717                      Organic Cilantro
22             1045       19057  Organic Large Extra Fancy Fuji Apple
23             1037       17794                               Carrots
24             1015        8277              Apple Honeycrisp Organic

In [14]:
# Assume hours<12 mean earlier in the day

isearly = hourdf['order_hour_of_day']>=23
hourdf['isearly']=isearly
hourdf.head(10)

,order_id,product_id,add_to_cart_order,reordered,order_hour_of_day,isearly
0,2,33120,1,1,9,True
1,2,28985,2,1,9,True
2,2,9327,3,0,9,True
3,2,45918,4,1,9,True
4,2,30035,5,0,9,True
5,2,17794,6,1,9,True
6,2,40141,7,1,9,True
7,2,1819,8,1,9,True
8,2,43668,9,0,9,True
9,3,33754,1,1,17,False

In [0]:
morningdf = hourdf[hourdf['isearly']==True]

morningdf

morningtotal = morningdf.groupby('product_id')['order_id'].count()

morningdf = pd.DataFrame(morningtotal)

In [0]:



morningdf.reset_index(inplace=True)
morningdf = morningdf.rename(columns={'order_id':'Number of sales'})
#morningdf['product_id']=morningdf.index
morningdf


morningdf = morningdf.sort_values(by='Number of sales', ascending=False)

morningdf

In [0]:
morningfinal = pd.merge(morningdf,products[['product_id', 'product_name']])

In [0]:
morningfinal.head(25)

***Can't understand the defination of the term "the top 25 latest ordered products "***