<a href="https://colab.research.google.com/github/Skantastico/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_121_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [4]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-09-19 03:11:09--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.146.157
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.146.157|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  87.1MB/s    in 2.3s

2019-09-19 03:11:11 (87.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [5]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [6]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [7]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

I need:
- order_id (orders, order_products__prior)
- Product_id (products, order_products_prior)
- product_name (products)
- add_to_cart_order (order_products_prior)
- reordered (order_products_prior)

In [0]:
import pandas as pd
import numpy as np

In [2]:
orders = pd.read_csv('orders.csv')
orders.head()

FileNotFoundError: ignored

In [3]:
orders.shape

NameError: ignored

In [8]:
products = pd.read_csv('products.csv')
products.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [9]:
order_products_prior = pd.read_csv('order_products__prior.csv')
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
order_products_train = pd.read_csv('order_products__train.csv')
order_products_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [12]:
#Concat order producs prior and train

order_products = pd.concat([order_products_prior, order_products_train])

order_products.shape

(33819106, 4)

In [0]:
#group by product_id
# group by product id and sum

grouped_order = order_products.groupby('product_id')

In [14]:
grouped_order.head()

         order_id  product_id  add_to_cart_order  reordered
0               2       33120                  1          1
1               2       28985                  2          1
2               2        9327                  3          0
3               2       45918                  4          1
4               2       30035                  5          0
5               2       17794                  6          1
6               2       40141                  7          1
7               2        1819                  8          1
8               2       43668                  9          0
9               3       33754                  1          1
10              3       24838                  2          1
11              3       17704                  3          1
12              3       21903                  4          1
13              3       17668                  5          1
14              3       46667                  6          1
15              3       17461                  7          1
16              3       32665                  8          1
17              4       46842                  1          0
18              4       26434                  2          1
19              4       39758                  3          1
20              4       27761                  4          1
21              4       10054                  5          1
22              4       21351                  6          1
23              4       22598                  7          1
24              4       34862                  8          1
25              4       40285                  9          1
26              4       17616                 10          1
27              4       25146                 11          1
28              4       32645                 12          1
29              4       41276                 13          1
...           ...         ...                ...        ...
1321256   3263622       44693                  5          0
1323552   3269548       24023                  1          0
1324227   3271417       15903                  4          0
1325013   3273471       30582                  2          0
1326156   3276819        6554                 11          0
1328327   3282262       49238                  1          1
1331143   3288681       32021                  8          0
1332104   3291477       24428                  6          0
1333483   3295193       38552                 19          1
1337711   3305541       11356                 17          0
1338373   3306822       19438                 27          1
1344200   3321425       27580                  2          0
1344298   3321552       33447                 30          0
1344337   3321593        5526                 13          0
1346666   3327068       31522                 27          0
1351200   3338626       33723                  2          0
1354075   3345438       30296                 11          0
1358963   3358267       34088                  1          0
1361839   3366040       25248                  7          0
1362635   3367615       39292                 15          0
1363491   3369734       36509                  2          0
1365201   3375115       45697                  1          0
1365688   3376312       36233                  6          0
1369292   3385060       18177                 17          1
1370788   3388853        2857                  3          1
1371055   3389597       17413                 15          0
1371765   3391702         672                  8          0
1375145   3399614       24581                  4          1
1381046   3413648         618                 15          1
1383343   3418735       39701                  2          0

[245404 rows x 4 columns]

In [15]:
grouped_order.get_group(5)

          order_id  product_id  add_to_cart_order  reordered
2727543     287805           5                  7          1
2981906     314800           5                  5          1
5278467     557126           5                  7          1
5493937     579844           5                  3          1
11155999   1177796           5                  3          1
12251360   1293120           5                  5          1
13667617   1442556           5                  3          0
15447792   1630036           5                  4          1
23797434   2509794           5                  7          0
24006301   2531851           5                 12          1
24864226   2622339           5                  8          0
24885103   2624555           5                 16          0
25060712   2643104           5                  4          0
31250449   3296060           5                  6          1
31556862   3328347           5                  7          0
753520     1854678           5                  5          1

In [16]:
pd.value_counts(order_products['product_id'].values, sort=True)

24852    491291
13176    394930
21137    275577
21903    251705
47209    220877
47766    184224
47626    160792
16797    149445
26209    146660
27845    142813
27966    142603
22935    117716
24964    113936
45007    109412
39275    105026
49683     99728
28204     92889
5876      91251
40706     88078
8277      87272
4920      86748
30391     85005
45066     83320
42265     80493
44632     79245
49235     79006
19057     78056
4605      76929
21616     75752
37646     75655
          ...
6786          1
39522         1
46278         1
43098         1
34463         1
45273         1
47680         1
3426          1
13397         1
7712          1
49540         1
16790         1
44982         1
38045         1
42464         1
25888         1
48211         1
20223         1
28504         1
44986         1
41800         1
9818          1
15901         1
7198          1
33097         1
42235         1
5255          1
44495         1
36079         1
20759         1
Length: 49685, dtype: int64

In [17]:
# This has every column I need
columns = ['order_id', 'product_id', 'add_to_cart_order']
merged = pd.merge(products[['product_id', 'product_name']], order_products[columns], how='inner')

merged.head()

   product_id                product_name  order_id  add_to_cart_order
0           1  Chocolate Sandwich Cookies      1107                  7
1           1  Chocolate Sandwich Cookies      5319                  3
2           1  Chocolate Sandwich Cookies      7540                  4
3           1  Chocolate Sandwich Cookies      9228                  2
4           1  Chocolate Sandwich Cookies      9273                 30

In [18]:
#These are the values sorted in descending order, but I cannot link the produt names

merged['product_id'].value_counts()

24852    491291
13176    394930
21137    275577
21903    251705
47209    220877
47766    184224
47626    160792
16797    149445
26209    146660
27845    142813
27966    142603
22935    117716
24964    113936
45007    109412
39275    105026
49683     99728
28204     92889
5876      91251
40706     88078
8277      87272
4920      86748
30391     85005
45066     83320
42265     80493
44632     79245
49235     79006
19057     78056
4605      76929
21616     75752
37646     75655
          ...
6786          1
39522         1
46278         1
43098         1
34463         1
45273         1
47680         1
3426          1
13397         1
7712          1
49540         1
16790         1
44982         1
38045         1
42464         1
25888         1
48211         1
20223         1
28504         1
44986         1
41800         1
9818          1
15901         1
7198          1
33097         1
42235         1
5255          1
44495         1
36079         1
20759         1
Name: product_id, Length: 49685, dtype: int64

In [0]:
merged_sorted = merged.sort_values(by=['product_id'])

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import seaborn as sns

flights = sns.load_dataset('flights')cola

In [21]:
flights.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [22]:
flights.pivot_table(index=['month', 'year'], values=['passengers'])

               passengers
month    year
January  1949         112
         1950         115
         1951         145
         1952         171
         1953         196
         1954         204
         1955         242
         1956         284
         1957         315
         1958         340
         1959         360
         1960         417
February 1949         118
         1950         126
         1951         150
         1952         180
         1953         196
         1954         188
         1955         233
         1956         277
         1957         301
         1958         318
         1959         342
         1960         391
March    1949         132
         1950         141
         1951         178
         1952         193
         1953         236
         1954         235
...                   ...
October  1955         274
         1956         306
         1957         347
         1958         359
         1959         407
         1960         461
November 1949         104
         1950         114
         1951         146
         1952         172
         1953         180
         1954         203
         1955         237
         1956         271
         1957         305
         1958         310
         1959         362
         1960         390
December 1949         118
         1950         140
         1951         166
         1952         194
         1953         201
         1954         229
         1955         278
         1956         306
         1957         336
         1958         337
         1959         405
         1960         432

[144 rows x 1 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####