_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-03-28 20:37:00--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [                <=> ]  21.29M   824KB/s    in 28s

2019-03-28 20:37:29 (777 KB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22329081]

In [0]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2386.02","2386.02","167.02","167.02","113.98","53.04","0.0","0.0","0.0","Feb-2019","84.92","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","29387.75","29387.75","1507.11","1507.11","612.25","894.86","0.0","0.0","0.0","Feb-2019","777.23","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4787.21","4787.21","353.89","353.89","212.79","141.10","0.0","0.0","0.0","Feb-2019","180.69","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 18.94%","146.51","D","D2","IT Supervisor","10+ years","MORTGAGE","92000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","985xx","WA","16.74","0","Feb-2006","0","","","10","0","5468","78.1%","13","w","3831.93","3831.93","286.71","286.71","168.07","118.64","0.0","0.0","0.0","Feb-2019","146.51","Mar-2019","Feb-2019","0","","1","Individual","","","","0","686","305049","1","5","3","5","5","30683","68","0","0","3761","70","7000","2","4","3","5","30505","1239","75.2","0","0","62","154","64","5","3","64","","5","","0","1","2","1","2","7","2","3","2","10","0","0","0","3","100","100","0","0","385183","36151","5000","44984","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 16.14%","731.78","C","C4","Mechanic","10+ years","MORTGAGE","57250","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","212xx","MD","26.35","0","Dec-2000","0","","","12","0","829","3.6%","26","w","29339.02","29339.02","1423.21","1423.21","660.98","762.23","0.0","0.0","0.0","Feb-2019","731.78","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","116007","3","5","3","5","4","28845","89","2","4","516","54","23100","1","0","0","9","9667","8471","8.9","0","0","53","216","2","2","2","2","","13","","0","2","2","3","8","9","6","15","2","12","0","0","0","5","92.3","0","0","0","157548","29674","9300","32332","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5550","5550","5550"," 36 months"," 15.02%","192.45","C","C3","Director COE","10+ years","MORTGAGE","152500","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","461xx","IN","37.94","0","Sep-2002","3","","","18","0","53854","48.1%","44","w","5302.50","5302.50","377.95","377.95","247.50","130.45","0.0","0.0","0.0","Feb-2019","192.45","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","685749","1","7","2","3","4","131524","72","1","4","17584","58","111900","2","4","6","8","40338","23746","64","0","0","195","176","10","4","6","20","","3","","0","4","6","6","10","23","9","15","7","18","0","0","0","4","100","60","0","0","831687","185378","65900","203159","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","2000","2000","2000"," 36 months"," 17.97%","72.28","D","D1","Account Manager","4 years","RENT","51000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","606xx","IL","2.4","0","Nov-2004","1","","","1","0","0","","9","w","1914.71","1914.71","141.56","141.56","85.29","56.27","0.0","0.0","0.0","Feb-2019","72.28","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","854","0","0","2","3","7","0","","0","1","0","100","0","0","0","1","4","854","","","0","0","169","40","23","7","0","","","1","","0","0","0","0","3","5","0","3","0","1","0","0","0","2","100","","0","0","854","854","0","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","6000","6000","6000"," 36 months"," 13.56%","203.79","C","C1","Assistant Director","10+ years","RENT","65000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","460xx","IN","30.1","0","Nov-1997","0","","","19","0","38476","69.3%","37","w","5864.01","5864.01","201.53","201.53","135.99","65.54","0.0","0.0","0.0","Feb-2019","208.31","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","91535","0","5","0","1","23","53059","87","0","2","9413","74","55500","1","2","0","3","5085","3034","90.8","0","0","169","253","13","13","1","14","","13","","0","7","12","8","10","15","14","20","12","19","0","0","0","0","100","85.7","0","0","117242","91535","33100","61742","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""

In [0]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","5083.61","5083.61","750.29","750.29","516.39","233.90","0.0","0.0","0.0","Feb-2019","190.21","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","9096.85","9096.85","1378.7","1378.70","903.15","475.55","0.0","0.0","0.0","Feb-2019","346.76","Mar-2019","Feb-2019","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","4538.94","4538.94","675.55","675.55","461.06","214.49","0.0","0.0","0.0","Feb-2019","169.83","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","9044.84","8818.72","1295.36","1262.98","955.16","340.20","0.0","0.0","0.0","Feb-2019","327.68","Mar-2019","Feb-2019","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","9120.98","9120.98","1414.93","1414.93","879.02","535.91","0.0","0.0","0.0","Feb-2019","356.08","Mar-2019","Feb-2019","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

In [0]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
128407,NaN,NaN,23000,23000,23000.0,36 months,15.02%,797.53,C,C3,Tax Consultant,10+ years,MORTGAGE,75000.0,Source Verified,Oct-2018,Charged Off,n,NaN,NaN,debt_consolidation,Debt consolidation,352xx,AL,20.95,1,Aug-1985,2,22.0,NaN,12,0,22465,43.6%,28,w,0.00,0.00,1547.08,1547.08,1025.67,521.41,0.0,0.0,0.0,Dec-2018,797.53,NaN,Nov-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,259658,4,2,3,3,6.0,18149,86.0,4,6,12843,56.0,51500,2,2,5,11,21638.0,26321.0,44.1,0,0,12.0,397,4,4,6,5.0,22.0,4.0,22.0,0,4,5,7,14,3,9,19,5,12,0.0,0,0,7,96.4,14.3,0,0,296500,40614,47100,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
128408,NaN,NaN,10000,10000,10000.0,36 months,15.02%,346.76,C,C3,security guard,5 years,MORTGAGE,38000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,443xx,OH,13.16,3,Jul-1982,0,6.0,NaN,11,0,5634,37.1%,16,w,9096.85,9096.85,1378.70,1378.70,903.15,475.55,0.0,0.0,0.0,Feb-2019,346.76,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,155,77424,0,1,0,0,34.0,200,10.0,1,1,1866,42.0,15200,2,0,0,2,7039.0,4537.0,50.1,0,0,34.0,434,11,11,3,11.0,6.0,17.0,6.0,0,3,5,5,6,1,8,11,5,11,0.0,0,0,1,73.3,40.0,0,0,91403,9323,9100,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
128409,NaN,NaN,5000,5000,5000.0,36 months,13.56%,169.83,C,C1,Payoff Clerk,10+ years,MORTGAGE,35360.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,381xx,TN,11.30,1,Jun-2006,0,21.0,NaN,9,0,2597,27.3%,15,f,4538.94,4538.94,675.55,675.55,461.06,214.49,0.0,0.0,0.0,Feb-2019,169.83,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1413,69785,0,2,0,1,16.0,2379,40.0,3,4,1826,32.0,9500,0,0,1,5,8723.0,1174.0,60.9,0,0,147.0,85,9,9,2,10.0,21.0,9.0,21.0,0,1,3,2,2,6,6,7,3,9,0.0,0,0,3,92.9,50.0,0,0,93908,4976,3000,6028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
128410,NaN,NaN,10000,10000,9750.0,36 months,11.06%,327.68,B,B3,NaN,NaN,RENT,44400.0,Source Verified,Oct-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,980xx,WA,11.78,0,Oct-2008,2,40.0,NaN,15,0,6269,13.1%,25,f,9044.84,8818.72,1295.36,1262.98,955.16,340.20,0.0,0.0,0.0,Feb-2019,327.68,Mar-2019,Feb-2019,0,53.0,1,Individual,NaN,NaN,NaN,0,520,16440,3,1,1,1,2.0,10171,100.0,2,5,404,28.0,47700,0,3,5,6,1265.0,20037.0,2.3,0,0,61.0,119,1,1,0,1.0,NaN,1.0,40.0,1,2,4,6,8,3,14,22,4,15,0.0,0,0,3,92.0,0.0,0,0,57871,16440,20500,10171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
128411,NaN,NaN,10000,10000,10000.0,36 months,16.91%,356.08,C,C5,Key Accounts Manager,2 years,RENT,80000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,other,Other,021xx,MA,17.72,1,Sep-2006,0,14.0,NaN,17,0,1942,30.8%,31,w,9120.98,9120.98,1414.93,1414.93,879.02,535.91,0.0,0.0,0.0,Feb-2019,356.08,Mar-2019,Feb-2019,0,25.0,1,Individual,NaN,NaN,NaN,0,0,59194,0,15,1,1,12.0,57252,85.0,0,0,1942,80.0,6300,0,5,0,1,3482.0,2058.0,48.5,0,0,144.0,142,40,12,0,131.0,30.0,NaN,30.0,3,1,1,1,5,22,2,9,1,17,0.0,0,0,1,74.2,0.0,0,0,73669,59194,4000,67369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [0]:
df.describe(exclude='number')

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,128412,128412,128412,128412,107465,116708,128412,128412,128412,128412,128412,128412,128412,128412,128412,128412,128256,128412,128250,124941,128411,128412,14848,16782,128412,1,1,1,1,1,1,1,128412,128412,2,2,2
unique,2,46,7,35,43892,11,4,3,3,6,2,12,12,880,50,644,1074,2,5,3,7,2,3,573,2,1,1,1,1,1,1,1,2,2,1,1,1
top,36 months,13.56%,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Oct-2018,Current,n,debt_consolidation,Debt consolidation,112xx,CA,Aug-2006,0%,w,Feb-2019,Mar-2019,Feb-2019,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,Feb-2019,Apr-2019,Feb-2019,Late (16-30 days),Cash,N,Feb-2019,ACTIVE,Feb-2019
freq,88179,6976,38011,9770,2090,38826,63490,58350,46305,123768,128411,70603,70603,1370,17879,1130,1132,114498,123797,124903,125061,111630,6360,155,128411,1,1,1,1,1,1,1,102516,128410,2,2,2

### Convert `int_rate`

In [0]:
'13.56%'.strip('%')

'13.56'

In [0]:
type('13.56%'.strip('%'))

str

In [0]:
float('13.56%'.strip('%'))

13.56

In [0]:
type(float('13.56%'.strip('%')))

float

In [0]:
df['int_rate'] = df['int_rate'].str.strip('%').astype(float)

In [0]:
(df['int_rate'] / 100).head()

0    0.1356
1    0.1894
2    0.1797
3    0.1894
4    0.1614
Name: int_rate, dtype: float64

Define a function to remove percent signs from strings and convert to floats

In [0]:
string = '13.56%'

def remove_percent(string):
    return float(string.strip('%'))

remove_percent(string)

13.56

Apply the function to the `int_rate` column

**As Ryan said during the lecture, this only works if you don't apply the above methods. If all cells are run, the following two will return an AttributeError**

In [0]:
df['int_rate'] = df['int_rate'].apply(remove_percent)

In [0]:
df['int_rate'].apply(remove_percent)

### Clean `emp_title`

Look at top 20 titles

In [0]:
df['emp_title'].value_counts().head(20)

Teacher                     2090
Manager                     1773
Registered Nurse             952
Driver                       924
RN                           726
Supervisor                   697
Sales                        580
Project Manager              526
General Manager              523
Office Manager               521
Owner                        420
Director                     402
Operations Manager           387
Truck Driver                 387
Nurse                        326
Engineer                     325
Sales Manager                304
manager                      301
Supervisor                   270
Administrative Assistant     269
Name: emp_title, dtype: int64

How often is `emp_title` null?

In [0]:
df['emp_title'].isnull().sum()

20947

Clean the title and handle missing values

*   Capitalize
*   Strip spaces
*   Replace NaN with 'Unknown'

In [0]:
import numpy as np

examples = ['owner', 'Supervisor ', 
            ' Project Manager', np.nan]

def clean_title(x):
    if isinstance(x, str):
        return x.strip().title()
    else:
        return 'Unknown'

[clean_title(x) for x in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

In [0]:
df['emp_title'].head(10)

0                   Chef
1             Postmaster
2         Administrative
3          It Supervisor
4               Mechanic
5           Director Coe
6        Account Manager
7     Assistant Director
8    Legal Assistant Iii
9                Unknown
Name: emp_title, dtype: object

In [0]:
df['emp_title'].value_counts().head(20)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')

In [0]:
df['emp_title_manager'].value_counts(normalize=True)

False    0.860745
True     0.139255
Name: emp_title_manager, dtype: float64

In [0]:
df.groupby('emp_title_manager')['int_rate'].mean()

emp_title_manager
False    12.958054
True     12.761840
Name: int_rate, dtype: float64

In [0]:
df['emp_title'].nunique()

34902

In [0]:
df['emp_title'].value_counts()

Unknown                                     20947
Teacher                                      2557
Manager                                      2395
Registered Nurse                             1418
Driver                                       1258
Supervisor                                   1160
Truck Driver                                  920
Rn                                            834
Office Manager                                805
Sales                                         803
General Manager                               791
Project Manager                               720
Owner                                         625
Director                                      523
Operations Manager                            518
Sales Manager                                 500
Police Officer                                440
Nurse                                         425
Technician                                    420
Engineer                                      412
Administrative Assistant                      409
Store Manager                                 398
Mechanic                                      391
Assistant Manager                             383
Server                                        357
Account Manager                               355
Vice President                                352
Accountant                                    335
Foreman                                       302
Electrician                                   302
President                                     293
Machine Operator                              284
Customer Service                              283
Executive Assistant                           278
Operator                                      267
Branch Manager                                267
Attorney                                      264
Maintenance                                   254
Paralegal                                     249
Superintendent                                248
Bartender                                     237
Program Manager                               226
Software Engineer                             221
Cashier                                       215
Analyst                                       214
Medical Assistant                             212
Machinist                                     209
Cook                                          200
Cna                                           196
Sales Associate                               191
Controller                                    187
Service Manager                               186
Lpn                                           185
Clerk                                         184
Laborer                                       183
Director Of Operations                        179
Nurse Practitioner                            176
Executive Director                            174
Security Officer                              172
Administrator                                 171
Business Analyst                              169
Account Executive                             168
Social Worker                                 165
Secretary                                     164
Carpenter                                     162
Bookkeeper                                    161
Welder                                        159
Custodian                                     157
District Manager                              157
Principal                                     153
Ceo                                           151
Case Manager                                  150
Production Manager                            149
Receptionist                                  149
Consultant                                    140
Professor                                     140
Sales Representative                          140
Property Manager                              136
Correctional Officer                          135
Legal Assistant                               131
Customer Service Representative               131
Chef                                          129
Physician                                     129
Loan Officer                                  128
Associate                                     127
Finance Manager                               125
Flight Attendant                              123
It Manager                                    123
Dental Assistant                              120
Dental Hygienist                              120
Financial Advisor                             119
Pharmacist                                    119
Financial Analyst                             116
Bus Driver                                    116
Accounting Manager                            115
Caregiver                                     114
Dispatcher                                    112
Sales Rep                                     112
Delivery Driver                               111
Firefighter                                   108
Software Developer                            108
Service Technician                            107
Senior Manager                                107
Business Manager                              107
Sales Consultant                              106
Warehouse Manager                             105
Respiratory Therapist                         105
Pharmacy Technician                           105
Officer                                       101
Instructor                                    100
Plumber                                        99
Team Leader                                    98
Customer Service Rep                           98
Tech                                           96
Special Education Teacher                      93
Material Handler                               93
Pilot                                          92
Painter                                        92
Staff Accountant                               92
Marketing Manager                              92
Production                                     92
Maintenance Supervisor                         90
Assistant Store Manager                        89
Department Manager                             88
Accounting                                     88
Agent                                          88
Warehouse                                      87
Paramedic                                      86
Security                                       86
Underwriter                                    86
Counselor                                      86
Production Supervisor                          85
Management                                     85
Physical Therapist                             85
Deputy Sheriff                                 84
Insurance Agent                                84
Regional Manager                               84
Realtor                                        84
Area Manager                                   81
Bus Operator                                   81
Operations Supervisor                          80
Pastor                                         80
Service Advisor                                80
Hr Manager                                     79
Project Coordinator                            79
Managing Director                              79
Csr                                            78
Buyer                                          78
Systems Engineer                               78
Installer                                      77
Inspector                                      77
Assembler                                      76
Senior Accountant                              76
Maintenance Technician                         76
Educator                                       76
Assistant Principal                            76
Regional Sales Manager                         75
Conductor                                      74
Plant Manager                                  74
Letter Carrier                                 73
Banker                                         73
Equipment Operator                             73
Estimator                                      72
Personal Banker                                72
Legal Secretary                                72
Physician Assistant                            71
Product Manager                                71
Auditor                                        71
Assistant Professor                            71
Teller                                         71
Senior Software Engineer                       70
Captain                                        70
Recruiter                                      70
Coordinator                                    69
It Specialist                                  69
Cfo                                            69
Inside Sales                                   69
Designer                                       68
Assistant Director                             68
Housekeeping                                   68
Office Assistant                               68
Corrections Officer                            67
Senior Project Manager                         67
Business Development Manager                   67
Service Tech                                   67
Partner                                        66
Investigator                                   66
Project Engineer                               66
Network Engineer                               65
Vp                                             65
Salesman                                       65
Correction Officer                             64
Automotive Technician                          64
Heavy Equipment Operator                       64
Labor                                          63
Admin                                          62
Waitress                                       61
Territory Manager                              61
Deputy                                         60
Nursing Assistant                              60
Director Of Sales                              60
Customer Service Manager                       59
Lieutenant                                     59
Team Lead                                      59
Sergeant                                       58
Warehouse Supervisor                           58
Data Analyst                                   58
Administration                                 58
Sales Director                                 58
Occupational Therapist                         57
Program Director                               57
Parts Manager                                  57
Systems Analyst                                57
School Counselor                               57
Quality Manager                                56
Pharmacy Tech                                  56
Housekeeper                                    56
Maintenance Tech                               56
Mail Carrier                                   56
Forklift Operator                              56
Security Guard                                 55
Human Resources                                55
Executive Chef                                 55
Senior Consultant                              55
Quality Control                                55
Maintenance Mechanic                           54
Maintenance Manager                            54
Senior Associate                               53
Paraprofessional                               53
Senior Vice President                          53
Warehouse Associate                            53
Program Coordinator                            52
Electrical Engineer                            52
School Bus Driver                              52
Phlebotomist                                   52
Accounting Clerk                               51
Program Analyst                                51
Graphic Designer                               51
Coo                                            50
Associate Professor                            50
Gm                                             50
Human Resources Manager                        49
Marketing Director                             49
Teacher/Coach                                  49
Office Administrator                           49
Medical Technologist                           49
Claims Adjuster                                49
Detective                                      48
Assistant                                      48
Lab Technician                                 48
                                            ...
Principal Data Mining Analyst Ea                1
Infrastructure Enginee                          1
Sr. Manager Of Project Management               1
Cyber Security Lead                             1
Business Analyst,Avp                            1
Pos Specialist                                  1
Glass Blower                                    1
Q.C. Inspector                                  1
Catering & Event Manager                        1
Private                                         1
Rn Surveyor                                     1
Medical Records Director                        1
Clinical Research Professional (Crp)            1
Chief Technical Inspector                       1
Ats                                             1
Digital Solutions Manager                       1
Medical Billing Rep                             1
Marketing & Sales Manager                       1
Prefferred Banker                               1
Consumer Relations Rep                          1
Director Of Fleet Maintenance                   1
Technical Operator 2                            1
Teacher/Coordinator                             1
Student Service Rep                             1
Gs 12                                           1
Sr. Application Engineer                        1
Retail Leasing & Activation Manager             1
Mission Critical Project Manager                1
Business Financial Manager                      1
Senior Investment Specialist                    1
Quality/Lean Coordinator                        1
System Integrator                               1
Evs Housekeeper                                 1
Fms Analyst                                     1
Travel Crop Adjuster                            1
Director, Software Architecture                 1
Coding Educator Supervisor                      1
Radon Technician                                1
Finishing Saw Operator                          1
Principle Technologist                          1
Assistant Communications Director               1
Global Payroll Manager                          1
Act Instructor                                  1
Ra/Cna (Nurse Assistant)                        1
Server, Bartender                               1
Patient Care Technologist                       1
Senior Site Manager                             1
Gm2                                             1
Nurse Practitione                               1
Hub Controller                                  1
Artificial Lift Tech                            1
Field Compliance Inspector                      1
Disel Mechanic                                  1
Financial Reporting Associate                   1
Stock/Cashier                                   1
Av/Vc Supervisor                                1
Mgr.-Operations Data                            1
Superintendent-Water Management                 1
Licensed Relationship Banker                    1
Horticulture Interior Gardener                  1
Advanced Technical Developer                    1
Emergency Telecommunicator Iii                  1
Lean Process Engineer                           1
Inv. Speical                                    1
Transportation Craftworker 3                    1
Service Tech 3                                  1
Instrument Sales Specialist                     1
Tco                                             1
Sever/Prep Cook                                 1
Dining Services Worker                          1
Finished Goods Case Monitor                     1
Product Management Coordinator                  1
Director Network Engineering                    1
Digital Technology                              1
Source Control Supervisor                       1
Claims Adjustor                                 1
Manufacturing Engineering Technician- Cs        1
Cashier Associate                               1
Corporate Lender                                1
Director Of Arkansas Deaf Career Center         1
Executive Chef Partner                          1
Drug Abuse Program Coordinator                  1
Senior Area Sales Manager                       1
Vehicle Condition Assessor                      1
Support Services Rep                            1
Cafateria Manager                               1
Middle School Special Education Teacher         1
Safety And Compliance Specialist                1
Project Manager/Scrum Master                    1
Pharamaceutical Sales                           1
Sr. Hr Generalist                               1
Director-Admin & Finance                        1
Medical Center Administrator                    1
Sr. Customer Associate                          1
Heavey Equipment Operator                       1
Technical Partner                               1
Principle Solutions Architect                   1
Crane Maintenance                               1
Bop Operator                                    1
Records Retention Clerk                         1
Flexo Operator                                  1
Central Group Leader                            1
Education Abroad Coordinator                    1
Director Client Services                        1
Customer Support Analyst                        1
Senior Admissions Producer                      1
Egineering Department  Qmed Oiler               1
Sr. Investment Manager                          1
Sr Continuous Improvement Process Leader        1
Software Engineer, Sr                           1
Senior Medical Science Liaison                  1
Sr Sales Manager                                1
Traffic Officer Ii                              1
Manufacturing Planner                           1
Statewide Network Manager                       1
Hris Sql Developer                              1
Health Benfeefts Advisor                        1
Head Tutor                                      1
Showkeeper                                      1
Releasing Coordinator                           1
Family Based Safety Services Specialist         1
National Lending Executive                      1
Cpc+ Rn Care Navigator                          1
General Manager/ Estimator                      1
Driver / Nursery Worker                         1
Municipal Government                            1
Senior Buyer Ii                                 1
Mechanist                                       1
Consulting Engineering Manager                  1
Annuity Specialist                              1
Systems/Software Engineer Vi                    1
Set-Up Supervisor                               1
Money Room Cashier                              1
Compliance Liaison Officer                      1
Warehouse Agent                                 1
It Integration Engineer                         1
Utility Manager                                 1
Hr, Employee Benefits Account Manager           1
Corrections Lieutenant                          1
Shop Forman / Tech                              1
Corp Sec & Pilot                                1
Epiccare Clinical Specialist                    1
Sr. Director, Business Development              1
Language Operations Manager                     1
Application Developer Supervisor                1
Team Lead Mathematical Statistician             1
Senior Cryptocurrency Specialist                1
Class A Driver/Laborer                          1
Quality Tec                                     1

In [0]:
df.isnull().sum().sort_values(ascending=False) / len(df)

id                                            1.000000
member_id                                     1.000000
url                                           1.000000
desc                                          1.000000
hardship_length                               0.999992
hardship_amount                               0.999992
hardship_type                                 0.999992
hardship_reason                               0.999992
hardship_status                               0.999992
hardship_last_payment_amount                  0.999992
hardship_payoff_balance_amount                0.999992
orig_projected_additional_accrued_interest    0.999992
hardship_loan_status                          0.999992
hardship_dpd                                  0.999992
deferral_term                                 0.999992
payment_plan_start_date                       0.999992
hardship_end_date                             0.999992
hardship_start_date                           0.999992
settlement_date                               0.999984
settlement_percentage                         0.999984
settlement_term                               0.999984
settlement_amount                             0.999984
debt_settlement_flag_date                     0.999984
settlement_status                             0.999984
sec_app_mths_since_last_major_derog           0.959864
verification_status_joint                     0.884372
mths_since_last_record                        0.879684
sec_app_revol_util                            0.871320
sec_app_earliest_cr_line                      0.869311
annual_inc_joint                              0.869311
dti_joint                                     0.869311
revol_bal_joint                               0.869311
sec_app_collections_12_mths_ex_med            0.869311
sec_app_inq_last_6mths                        0.869311
sec_app_mort_acc                              0.869311
sec_app_open_acc                              0.869311
sec_app_open_act_il                           0.869311
sec_app_num_rev_accts                         0.869311
sec_app_chargeoff_within_12_mths              0.869311
mths_since_recent_bc_dlq                      0.803998
mths_since_last_major_derog                   0.772763
mths_since_recent_revol_delinq                0.713563
mths_since_last_delinq                        0.562222
il_util                                       0.157882
mths_since_recent_inq                         0.124965
emp_length                                    0.091144
mths_since_rcnt_il                            0.034872
mo_sin_old_il_acct                            0.034872
next_pymnt_d                                  0.027030
num_tl_120dpd_2m                              0.022264
bc_util                                       0.013659
percent_bc_gt_75                              0.013176
bc_open_to_buy                                0.013169
mths_since_recent_bc                          0.012390
dti                                           0.001846
last_pymnt_d                                  0.001262
revol_util                                    0.001215
all_util                                      0.000288
avg_cur_bal                                   0.000101
last_credit_pull_d                            0.000008
loan_status                                   0.000000
total_pymnt                                   0.000000
int_rate                                      0.000000
out_prncp_inv                                 0.000000
installment                                   0.000000
total_pymnt_inv                               0.000000
total_rec_late_fee                            0.000000
total_rec_prncp                               0.000000
total_rec_int                                 0.000000
initial_list_status                           0.000000
recoveries                                    0.000000
collection_recovery_fee                       0.000000
term                                          0.000000
funded_amnt_inv                               0.000000
funded_amnt                                   0.000000
last_pymnt_amnt                               0.000000
loan_amnt                                     0.000000
out_prncp                                     0.000000
grade                                         0.000000
total_acc                                     0.000000
revol_bal                                     0.000000
verification_status                           0.000000
purpose                                       0.000000
title                                         0.000000
zip_code                                      0.000000
addr_state                                    0.000000
annual_inc                                    0.000000
home_ownership                                0.000000
delinq_2yrs                                   0.000000
earliest_cr_line                              0.000000
inq_last_6mths                                0.000000
emp_title                                     0.000000
sub_grade                                     0.000000
open_acc                                      0.000000
pub_rec                                       0.000000
pymnt_plan                                    0.000000
issue_d                                       0.000000
emp_title_manager                             0.000000
collections_12_mths_ex_med                    0.000000
policy_code                                   0.000000
num_actv_rev_tl                               0.000000
num_bc_sats                                   0.000000
num_bc_tl                                     0.000000
num_il_tl                                     0.000000
num_op_rev_tl                                 0.000000
num_rev_accts                                 0.000000
num_rev_tl_bal_gt_0                           0.000000
num_sats                                      0.000000
num_tl_30dpd                                  0.000000
num_tl_90g_dpd_24m                            0.000000
num_tl_op_past_12m                            0.000000
pct_tl_nvr_dlq                                0.000000
pub_rec_bankruptcies                          0.000000
tax_liens                                     0.000000
tot_hi_cred_lim                               0.000000
total_bal_ex_mort                             0.000000
total_bc_limit                                0.000000
total_il_high_credit_limit                    0.000000
hardship_flag                                 0.000000
disbursement_method                           0.000000
debt_settlement_flag                          0.000000
num_actv_bc_tl                                0.000000
num_accts_ever_120_pd                         0.000000
mort_acc                                      0.000000
open_rv_12m                                   0.000000
application_type                              0.000000
acc_now_delinq                                0.000000
tot_coll_amt                                  0.000000
tot_cur_bal                                   0.000000
open_acc_6m                                   0.000000
open_act_il                                   0.000000
open_il_12m                                   0.000000
open_il_24m                                   0.000000
total_bal_il                                  0.000000
open_rv_24m                                   0.000000
mo_sin_rcnt_tl                                0.000000
max_bal_bc                                    0.000000
total_rev_hi_lim                              0.000000
inq_fi                                        0.000000
inq_last_12m                                  0.000000
acc_open_past_24mths                          0.000000
chargeoff_within_12_mths                      0.000000
delinq_amnt                                   0.000000
mo_sin_old_rev_tl_op                          0.000000
mo_sin_rcnt_rev_tl_op                         0.000000
total_cu_tl                                   0.000000
dtype: float64

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [0]:
df['issue_d'].head().values

array(['Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018'],
      dtype=object)

In [0]:
df['issue_d'].describe()

count       128412
unique           3
top       Oct-2018
freq         46305
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [0]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [0]:
df['issue_d'].describe()

count                  128412
unique                      3
top       2018-10-01 00:00:00
freq                    46305
first     2018-10-01 00:00:00
last      2018-12-01 00:00:00
Name: issue_d, dtype: object

In [0]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

In [0]:
df.shape

(128412, 148)

In [0]:
df['issue_month'].sample(n=10).values

array([11, 11, 10, 11, 10, 10, 11, 12, 11, 12])

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], 
                                        infer_datetime_format=True)

In [0]:
df['earliest_cr_line'].head()

0   2001-04-01
1   1987-06-01
2   2011-04-01
3   2006-02-01
4   2000-12-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [0]:
df['days_from_earliest_credit_to_issue'] = (
    df['issue_d'] - df['earliest_cr_line']).dt.days

In [0]:
df['days_from_earliest_credit_to_issue'].describe()

count    128412.000000
mean       5859.891490
std        2886.535578
min        1126.000000
25%        4049.000000
50%        5266.000000
75%        7244.000000
max       25171.000000
Name: days_from_earliest_credit_to_issue, dtype: float64

In [0]:
25171 / 365

68.96164383561644

In [0]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
for col in ['last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
    df[col] = pd.to_datetime(df[col], infer_datetime_format=True)

In [0]:
df.describe(include='datetime')

,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
count,128412,128412,128250,124941,128411
unique,3,644,5,3,7
top,2018-10-01 00:00:00,2006-08-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-02-01 00:00:00
freq,46305,1130,123797,124903,125061
first,2018-10-01 00:00:00,1950-01-01 00:00:00,2018-10-01 00:00:00,2019-02-01 00:00:00,2018-08-01 00:00:00
last,2018-12-01 00:00:00,2015-11-01 00:00:00,2019-02-01 00:00:00,2019-04-01 00:00:00,2019-02-01 00:00:00

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
# Convert term column from string to integer

df['term'] = df['term'].str.strip(' months').astype(int)

In [0]:
# Just checking out this column...

df['loan_status'].head()

0    Current
1    Current
2    Current
3    Current
4    Current
Name: loan_status, dtype: object

In [0]:
# Create new column loan_status_is_great

df['loan_status_is_great'] = df['loan_status'].str.contains('Current|Fully Paid')

In [0]:
# Encode True/False as 1/0

df['loan_status_is_great'] = df['loan_status_is_great'].astype(int)

In [0]:
df['loan_status_is_great'].head(10000)

In [0]:
# Examining data

df['last_pymnt_d'].head(100)

0    2019-02-01
1    2019-02-01
2    2019-02-01
3    2019-02-01
4    2019-02-01
5    2019-02-01
6    2019-02-01
7    2019-02-01
8    2019-02-01
9    2019-02-01
10   2019-02-01
11   2019-02-01
12   2019-02-01
13   2019-02-01
14   2019-02-01
15   2019-02-01
16   2019-02-01
17   2019-02-01
18   2019-02-01
19   2019-02-01
20   2019-02-01
21   2019-02-01
22   2019-02-01
23   2019-02-01
24   2019-02-01
25   2019-02-01
26   2019-02-01
27   2019-02-01
28   2019-02-01
29   2019-02-01
30   2019-02-01
31   2019-02-01
32   2019-02-01
33   2019-02-01
34   2019-02-01
35   2019-02-01
36   2019-02-01
37   2019-02-01
38   2019-02-01
39   2019-02-01
40   2019-02-01
41   2019-02-01
42   2019-02-01
43   2019-02-01
44   2019-02-01
45   2019-02-01
46   2019-02-01
47   2019-02-01
48   2019-02-01
49   2019-02-01
50   2019-02-01
51   2019-02-01
52   2019-02-01
53   2019-02-01
54   2019-02-01
55   2019-02-01
56   2019-02-01
57   2019-02-01
58   2019-02-01
59   2019-02-01
60   2019-02-01
61   2019-02-01
62   2019-02-01
63   2019-02-01
64   2019-02-01
65   2019-02-01
66   2019-02-01
67   2019-02-01
68   2019-02-01
69   2019-02-01
70   2019-02-01
71   2019-02-01
72   2019-02-01
73   2019-02-01
74   2019-02-01
75   2019-02-01
76   2019-02-01
77   2019-02-01
78   2019-02-01
79   2019-02-01
80   2019-02-01
81   2019-02-01
82   2019-02-01
83   2019-02-01
84   2019-02-01
85   2019-02-01
86   2019-02-01
87   2019-02-01
88   2019-02-01
89   2019-02-01
90   2019-02-01
91   2019-02-01
92   2019-02-01
93   2019-02-01
94   2019-02-01
95   2019-02-01
96   2019-02-01
97   2019-02-01
98   2019-02-01
99   2019-02-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
# Creating two new columns

df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [0]:
df['last_pymnt_d_month'].head()

0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
Name: last_pymnt_d_month, dtype: float64

In [0]:
df['last_pymnt_d_year'].head()

0    2019.0
1    2019.0
2    2019.0
3    2019.0
4    2019.0
Name: last_pymnt_d_year, dtype: float64

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01