<a href="https://colab.research.google.com/github/SamH3pn3r/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/Copy_of_Black_Friday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd

In [0]:
# Url
black_friday_csv_link = "https://raw.githubusercontent.com/pierretd/datasets-1/master/BlackFriday.csv"
# Reading in csv
black_friday_df = pd.read_csv(black_friday_csv_link)

In [0]:
black_friday_df.head(10)

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969
5  1000003  P00193542      M  ...                2.0                 NaN    15227
6  1000004  P00184942      M  ...                8.0                17.0    19215
7  1000004  P00346142      M  ...               15.0                 NaN    15854
8  1000004   P0097242      M  ...               16.0                 NaN    15686
9  1000005  P00274942      M  ...                NaN                 NaN     7871

[10 rows x 12 columns]

### The above dataset has already been loaded in for you, answer the following questions. If you get done quickly, move onto stretch goals and super stretch goals. Work on improving your model until 8:40.

#### 1) Clean the data set and drop the Null/NaN values. Rename  Product_Category_1-3 columns with an actual Product.

In [0]:
black_friday_df = black_friday_df.dropna()

In [0]:
black_friday_df.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [0]:
black_friday_df = black_friday_df.rename(index = str, columns={"Product_Category_1": "Widscreen Tv", "Product_Category_2": "Nintendo Wii", "Product_Category_3": "Electronic Drumset"})

In [0]:
black_friday_df.head()

    User_ID Product_ID Gender  ... Nintendo Wii  Electronic Drumset Purchase
1   1000001  P00248942      F  ...          6.0                14.0    15200
6   1000004  P00184942      M  ...          8.0                17.0    19215
13  1000005  P00145042      M  ...          2.0                 5.0    15665
14  1000006  P00231342      F  ...          8.0                14.0     5378
16  1000006   P0096642      F  ...          3.0                 4.0    13055

[5 rows x 12 columns]

#### 2) How many unique user_ids does the data set contain?

In [0]:
unique_values = black_friday_df['User_ID'].value_counts()

In [0]:
print(len(unique_values))

5868

#### 3) How many unique age brackets are in the dataset. Which Age bracket has the most entries? Which has the least?

In [0]:
unique_ages = black_friday_df['Age'].value_counts()

In [0]:
len(unique_ages)

7

In [0]:
unique_ages

26-35    65916
36-45    32758
18-25    30889
46-50    13135
51-55    11018
55+       5773
0-17      4789
Name: Age, dtype: int64

#### 4) Transform the Gender categorical variable into a numerical variable. Then transform that numerical value into a Boolean.

In [0]:
black_friday_df['Gender'] = black_friday_df['Gender'].replace("M",0)
black_friday_df['Gender'] = black_friday_df['Gender'].replace("F",1)

In [0]:
black_friday_df.head(10)

    User_ID Product_ID  Gender  ... Nintendo Wii  Electronic Drumset Purchase
1   1000001  P00248942       1  ...          6.0                14.0    15200
6   1000004  P00184942       0  ...          8.0                17.0    19215
13  1000005  P00145042       0  ...          2.0                 5.0    15665
14  1000006  P00231342       1  ...          8.0                14.0     5378
16  1000006   P0096642       1  ...          3.0                 4.0    13055
18  1000007  P00036842       0  ...         14.0                16.0    11788
19  1000008  P00249542       0  ...          5.0                15.0    19614
24  1000008  P00303442       0  ...          8.0                14.0    11927
28  1000009  P00078742       0  ...          8.0                14.0     5391
29  1000010  P00085942       1  ...          4.0                 8.0    16352

[10 rows x 12 columns]

In [0]:
black_friday_df['Gender'] = black_friday_df['Gender'].replace(0,"F")
black_friday_df['Gender'] = black_friday_df['Gender'].replace(1,"T")

In [0]:
black_friday_df.head()

    User_ID Product_ID Gender  ... Nintendo Wii  Electronic Drumset Purchase
1   1000001  P00248942      T  ...          6.0                14.0    15200
6   1000004  P00184942      F  ...          8.0                17.0    19215
13  1000005  P00145042      F  ...          2.0                 5.0    15665
14  1000006  P00231342      T  ...          8.0                14.0     5378
16  1000006   P0096642      T  ...          3.0                 4.0    13055

[5 rows x 12 columns]

#### 5) What is the average Occupation score? What is the Standard Deviation? What is the maximum and minimum value?

In [0]:
black_friday_df['Occupation'].describe()

count    164278.000000
mean          8.180383
std           6.486705
min           0.000000
25%           2.000000
50%           7.000000
75%          14.000000
max          20.000000
Name: Occupation, dtype: float64

#### 6) Group Age by Gender and print out a cross tab with age as the y axis

In [0]:
pd.crosstab(black_friday_df['Age'], black_friday_df['Gender'])

Gender      F      T
Age
0-17     3237   1552
18-25   23919   6970
26-35   52552  13364
36-45   25030   7728
46-50    9563   3572
51-55    8539   2479
55+      4506   1267

### Stretch Goal:

#### Build a linear regression model to predict the purchase amount given the other features in the data set with scikit learn.

### Super Stretch Goals:

#### Plot the actual values vs the predicted values.

#### Find a good way to measure your model's predictive power.