<a href="https://colab.research.google.com/github/tomfox1/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/Copy_of_LS_DS3_122_Join_datasets_LIVE_LESSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 22:49:53--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.177.189
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.177.189|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.4’

instacart_online_gr 100%[===================>] 196.03M  43.6MB/s    in 4.9s

2019-03-26 22:49:58 (40.3 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.4’ saved [205548478/205548478]

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

## Goal: Reproduce this example

The first two orders for user id 1:

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [0]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')

In [0]:
aisles.shape

(134, 2)

In [0]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [0]:
display(example)

aisles doesn't have any columns we need

### departments

In [0]:
departments = pd.read_csv('departments.csv')

In [0]:
departments.shape

(21, 2)

In [0]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [0]:
display(example)

departments doesn't have any columns we need

### order_products__prior

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')

In [0]:
order_products__prior.shape

(32434489, 4)

In [0]:
order_products__prior.groupby('order_id')['product_id'].count().mean()

10.088883421247614

In [0]:
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

**order_products__prior** has
- order_id
- product_id
- add_to_cart_order

In [0]:
display(example)

### order_products__train

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')

In [0]:
order_products__train.shape

(1384617, 4)

In [0]:
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

**order_products__prior** and **order_products__train** have the exact same columns.

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [0]:
orders.shape

(3421083, 7)

In [0]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

**orders** has:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
display(example)

### products

In [0]:
products = pd.read_csv('products.csv')

In [0]:
products.shape

(49688, 4)

In [0]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

**products** has:
- product_id
- product_name

In [0]:
display(example)

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])

In [0]:
order_products.shape, order_products__prior.shape, order_products__train.shape

((33819106, 4), (32434489, 4), (1384617, 4))

In [0]:
assert len(order_products) == len(order_products__prior) + len(order_products__train)

In [0]:
assert (len(order_products.columns) == 
        len(order_products__prior.columns) == 
        len(order_products__train.columns))

In [0]:
rows, columns = order_products.shape

print('Rows:', rows)
print('Columns:', columns)

Rows: 33819106
Columns: 4

In [0]:
a_rows, a_columns = order_products__prior.shape
b_rows, b_columns = order_products__train.shape
c_rows, c_columns = order_products.shape

assert a_columns == b_columns == c_columns
assert a_rows + b_rows == c_rows

In [0]:
condition = order_products['order_id']==2539329
order_products[condition]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

## Get a subset of orders — the first two orders for user id 1

From `orders` dataframe:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
condition = (orders['user_id'] == 1) & (orders['order_number'] <= 2)

columns = ['user_id', 
           'order_id', 
           'order_number', 
           'order_dow', 
           'order_hour_of_day']

subset = orders.loc[condition, columns]

In [0]:
display(example)

## Merge dataframes

Merge the subset from `orders` with columns from `order_products`

In [0]:
columns = ['order_id', 'add_to_cart_order', 'product_id']

merged = pd.merge(subset, order_products[columns], 
                  how='inner', on='order_id')

In [0]:
subset.shape, order_products.shape, merged.shape

((2, 5), (33819106, 4), (11, 7))

In [0]:
subset

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

In [0]:
order_products[columns].head(1)

   order_id  add_to_cart_order  product_id
0         2                  1       33120

In [0]:
merged

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id
0,1,2539329,1,2,8,1,196
1,1,2539329,1,2,8,2,14084
2,1,2539329,1,2,8,3,12427
3,1,2539329,1,2,8,4,26088
4,1,2539329,1,2,8,5,26405
5,1,2398795,2,3,7,1,196
6,1,2398795,2,3,7,2,10258
7,1,2398795,2,3,7,3,12427
8,1,2398795,2,3,7,4,13176
9,1,2398795,2,3,7,5,26088
10,1,2398795,2,3,7,6,13032

In [0]:
display(example)

Merge with columns from `products`

In [0]:
final = pd.merge(merged, products[['product_id', 'product_name']], 
                 how='inner', on='product_id')

In [0]:
merged.shape, products[['product_id', 'product_name']].shape, final.shape

((11, 7), (49688, 2), (11, 8))

In [0]:
final = final.sort_values(by=['order_number', 'add_to_cart_order'])

In [0]:
final.columns = [column.replace('_', ' ') for column in final]

In [0]:
final

,user id,order id,order number,order dow,order hour of day,add to cart order,product id,product name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
8,1,2398795,2,3,7,2,10258,Pistachios
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

In [0]:
order_products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 0 to 1384616
Data columns (total 4 columns):
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtypes: int64(4)
memory usage: 1.3 GB

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
#columns needed: order id, product name 
#df's needed: order_products & orders/products

In [0]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [0]:
orders.shape

(3421083, 7)

In [0]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [0]:
products.shape

(49688, 4)

In [0]:
# the dataframes "orders" and "practice" have the columns we're looking for
#however, no columns coincide in either dataframe and so merge wouldn't work
#by concatenating "order products prior" and "order products train" we can later merge "order_products" with either "orders" or "products"
order_products = pd.concat([order_products__prior, order_products__train])

In [0]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
#our columns and rows add up 
order_products__prior.shape, order_products__train.shape, order_products.shape

len(order_products) == len(order_products__train) + len(order_products__prior)

True

In [0]:
#our "products" and "order_products" dataframes share the "product_id" column and so we're able to merge them together
merged = pd.merge(products, order_products)

In [0]:
merged.head()

,product_id,product_name,aisle_id,department_id,order_id,add_to_cart_order,reordered
0,1,Chocolate Sandwich Cookies,61,19,1107,7,0
1,1,Chocolate Sandwich Cookies,61,19,5319,3,1
2,1,Chocolate Sandwich Cookies,61,19,7540,4,1
3,1,Chocolate Sandwich Cookies,61,19,9228,2,0
4,1,Chocolate Sandwich Cookies,61,19,9273,30,0

In [0]:
#this makes sense, our "merged" column count is now 7, since "product_id" is shared amongst them our total would be: "8" - "1" = "7"
#our "merged" row count is unchanged since our "merged" dataframe already includes all instances of the "product" column and does not repeat these
merged.shape, products.shape, order_products.shape

((33819106, 7), (49688, 4), (33819106, 4))

In [0]:
#top 10 ordered foods 
merged["product_name"].value_counts(sort = True).head(10)

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

In [0]:
merged2 = pd.merge(order_products, orders)

In [0]:
merged2.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0

In [0]:
#tried solving the stretch goal and colab kept crashing probably because I was incorrectly coding something and RAM went through the roof
#I was thinking we could group are data in different time bins, 1st time bin: 18-20, 2nd bin: 20-22, 3rd bin: 22-24 and then also create bins for our product id counts
#I would then use the crosstabulation function to map out the top products ordered by "order hour of day" 
merged2["order_hour_of_day"].sort_values(ascending = False)

18291834    23
25143523    23
2818118     23
2818119     23
2818120     23
2818121     23
2818122     23
2818123     23
2818124     23
2818125     23
2818126     23
2818127     23
2818128     23
2818129     23
13303789    23
13303790    23
13303791    23
13303792    23
13303793    23
13303794    23
13303795    23
2818117     23
25143524    23
13303797    23
25143525    23
25143529    23
25143528    23
13303442    23
13303443    23
13303444    23
            ..
17320403     0
32750077     0
17320394     0
32750076     0
32750075     0
32750074     0
32750073     0
32750072     0
32750071     0
17320388     0
17320389     0
17320390     0
17320391     0
17320392     0
17320393     0
17320395     0
17320402     0
17320396     0
1530909      0
1530910      0
1530911      0
1530912      0
1530913      0
1530914      0
17320397     0
17320398     0
17320399     0
17320400     0
17320401     0
26376019     0
Name: order_hour_of_day, Length: 33819106, dtype: int64