<a href="https://colab.research.google.com/github/macscheffer/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/DS_Data_Wrangling%2C_Make_Features_Mac_Scheffer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip

--2019-01-17 18:54:40--  https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q3.csv.zip’

LoanStats_2018Q3.cs     [         <=>        ]  21.42M  1.68MB/s    in 13s

2019-01-17 18:54:53 (1.66 MB/s) - ‘LoanStats_2018Q3.csv.zip’ saved [22461905]

In [0]:
!unzip LoanStats_2018Q3.csv.zip

Archive:  LoanStats_2018Q3.csv.zip
  inflating: LoanStats_2018Q3.csv

In [0]:
!head LoanStats_2018Q3.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","20000","20000","20000"," 60 months"," 17.97%","507.55","D","D1","Motor Vehicle Operator","7 years","RENT","68000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","254xx","WV","15.8","0","Feb-2009","1","30","118","11","1","13483","69.1%","26","w","19580.78","19580.78","975.17","975.17","419.22","555.95","0.0","0.0","0.0","Dec-2018","507.55","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","194908","0","2","0","2","17","45299","93","0","1","9815","86","19500","1","4","2","5","19491","2185","81.8","0","0","115","94","13","7","4","25","","2","30","0","1","3","2","4","11","8","10","3","11","0","0","0","1","92.3","50","1","0","205625","58782","12000","48733","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 13.56%","576.02","C","C1","Firefighter","7 years","MORTGAGE","61000","Verified","Sep-2018","Current","n","","","major_purchase","Major purchase","770xx","TX","16.74","0","Jan-2009","0","","","5","0","6299","48.5%","14","w","24109.45","24109.45","1567.98","1567.98","890.55","677.43","0.0","0.0","0.0","Dec-2018","576.02","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","204007","1","2","0","1","19","13862","37","0","0","0","40","13000","0","7","4","2","40801","1500","0","0","0","54","116","26","3","1","74","","4","","0","0","1","1","2","5","2","8","1","5","0","0","0","1","100","0","0","0","234573","20161","1500","37273","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 36 months"," 18.94%","1098.78","D","D2","","< 1 year","RENT","100000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","300xx","GA","16.07","0","Mar-2008","1","","114","6","1","14574","70.1%","9","w","28739.57","28739.57","2134.43","2134.43","1260.43","874.00","0.0","0.0","0.0","Dec-2018","1098.78","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","44048","1","2","1","1","1","29474","69","1","2","8521","69","20800","1","0","2","3","8810","5226","73.6","0","0","126","104","11","1","0","17","","1","","0","2","2","2","2","4","4","5","2","6","0","0","0","2","100","0","1","0","63636","44048","19800","42836","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","6000","6000","6000"," 36 months","  7.84%","187.58","A","A4","","n/a","RENT","30000","Not Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","923xx","CA","5.44","0","Apr-2000","0","","104","8","1","5936","34.5%","11","w","5702.27","5702.27","369.93","369.93","297.73","72.20","0.0","0.0","0.0","Dec-2018","187.58","Jan-2019","Dec-2018","0","","1","Individual","","","","0","350","5936","0","0","0","1","23","0","","1","4","2913","35","17200","2","0","0","5","848","7698","35.9","0","0","139","221","7","7","0","7","","18","","0","2","3","4","4","2","8","9","3","8","0","0","0","1","100","33.3","1","0","17200","5936","12000","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","10650","10650","10650"," 36 months","  7.84%","332.95","A","A4","","n/a","RENT","28000","Verified","Sep-2018","Current","n","","","medical","Medical expenses","430xx","OH","16.89","0","Nov-2002","0","","","3","0","37","0.3%","3","w","10121.54","10121.54","656.62","656.62","528.46","128.16","0.0","0.0","0.0","Dec-2018","332.95","Jan-2019","Dec-2018","0","","1","Joint App","43000","14.01","Source Verified","0","0","18254","0","1","0","1","16","18217","81","0","0","0","54","11500","1","1","0","1","6085","","","0","0","16","190","113","16","0","","","16","","0","0","1","0","0","1","2","2","2","3","0","0","0","0","100","","0","0","33876","18254","0","22376","2024","Oct-1996","0","0","8","18.7","1","9","0","0","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","9000","9000","9000"," 36 months","  6.11%","274.25","A","A1","","n/a","OWN","25000","Not Verified","Sep-2018","Current","n","","","credit_card","Credit card refinancing","224xx","VA","12.1","0","Apr-1999","0","56","","6","0","8996","33.8%","18","w","8541.98","8541.98","550.03","550.03","458.02","92.01","0.0","0.0","0.0","Dec-2018","274.25","Jan-2019","Dec-2018","0","56","1","Individual","","","","0","160","8996","0","0","0","0","66","0","","0","1","6920","34","26600","0","0","0","1","1799","13466","35.3","0","0","66","233","14","14","2","77","","14","56","2","2","4","3","4","1","6","15","4","6","0","0","0","0","83.3","0","0","0","26600","8996","20800","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","20000","20000","20000"," 36 months","  6.67%","614.53","A","A2","General Manager","< 1 year","MORTGAGE","125000","Not Verified","Sep-2018","Current","n","","","house","Home buying","750xx","TX","15.55","1","Jul-2003","0","21","","24","0","5832","11.4%","36","w","18990.48","18990.48","1214.24","1214.24","1009.52","204.72","0.0","0.0","0.0","Dec-2018","614.53","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","63577","2","1","0","1","22","54244","","2","4","3048","17","51100","1","0","6","6","3027","36050","11.9","0","0","148","182","6","6","2","24","21","1","21","0","5","6","16","19","6","22","26","6","24","0","0","0","2","97.2","7.7","0","0","133998","63577","40900","78764","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","20000","20000","20000"," 36 months","  7.84%","625.26","A","A4","Teacher","10+ years","MORTGAGE","48186","Not Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","641xx","MO","24.68","0","Aug-1996","0","","","17","0","23822","58.8%","38","w","18506.50","18506.50","1803.14","1803.14","1493.50","309.64","0.0","0.0","0.0","Dec-2018","625.26","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","191246","0","9","0","2","16","14800","48","1","1","11800","54","40500","1","0","0","3","11250","13078","57.8","0","0","265","239","8","8","2","8","","16","","0","3","4","6","7","27","7","9","4","17","0","0","0","1","100","16.7","0","0","234182","38622","31000","30832","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""

In [0]:
!tail LoanStats_2018Q3.csv

"","","12000","12000","12000"," 36 months"," 14.03%","410.31","C","C2","Medical Support Staff","10+ years","OWN","53414","Source Verified","Jul-2018","Current","n","","","home_improvement","Home improvement","136xx","NY","25.68","0","Mar-1997","0","","","8","0","6527","44.4%","20","w","10618.01","10618.01","2037.52","2037.52","1381.99","655.53","0.0","0.0","0.0","Dec-2018","410.31","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","29869","0","2","0","2","13","23342","73","0","0","3977","64","14700","1","1","0","2","3734","7173","47.6","0","0","139","255","42","13","0","66","","18","","0","2","2","5","9","8","6","12","2","8","0","0","0","0","100","40","0","0","46792","29869","13700","32092","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 16.46%","176.93","C","C5","Labor Worker","3 years","MORTGAGE","57000","Not Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","781xx","TX","33.09","0","Jul-2008","0","25","","11","0","7449","41.4%","47","w","4443.20","4443.20","875.51","875.51","556.80","318.71","0.0","0.0","0.0","Dec-2018","176.93","Jan-2019","Dec-2018","0","","1","Individual","","","","0","236","45088","1","5","3","4","7","37639","58","1","2","0","54","18000","3","10","1","6","4099","","","0","0","119","80","1","1","0","","","8","25","0","0","4","0","1","39","6","8","4","11","0","0","0","4","93.6","","0","0","83496","45088","0","65496","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months","  6.19%","152.55","A","A2","Host/cashier","4 years","RENT","22000","Not Verified","Jul-2018","Current","n","","","credit_card","Credit card refinancing","731xx","OK","11.67","0","Apr-2001","0","","","6","0","7118","23.3%","19","w","4359.64","4359.64","759.31","759.31","640.36","118.95","0.0","0.0","0.0","Dec-2018","152.55","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","7118","1","0","0","0","127","0","","1","1","3841","23","30500","1","0","0","1","1186","23382","23.3","0","0","168","206","3","3","0","3","","17","","0","3","3","6","10","4","6","15","3","6","0","0","0","1","100","0","0","0","30500","7118","30500","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","20000","20000","20000"," 36 months"," 15.49%","698.12","C","C4","Client manager","10+ years","MORTGAGE","80000","Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","913xx","CA","22.14","0","Apr-1994","0","43","","27","0","28994","63%","47","w","17742.70","17742.70","3456.18","3456.18","2257.30","1198.88","0.0","0.0","0.0","Dec-2018","698.12","Jan-2019","Dec-2018","0","43","1","Individual","","","","0","0","314886","0","1","0","0","37","15336","61","1","9","5067","64","46000","1","6","0","10","11662","3359","83.8","0","0","129","186","10","10","3","10","43","13","43","3","8","22","8","15","6","24","36","22","27","0","0","0","1","93.6","75","0","0","349879","47229","20700","25295","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 11.05%","327.63","B","B4","Operator","5 years","RENT","60000","Not Verified","Jul-2018","Current","n","","","credit_card","Credit card refinancing","952xx","CA","10.72","0","Apr-2015","0","27","","8","0","2301","28.1%","12","w","8800.60","8800.60","1628.94","1628.94","1199.40","429.54","0.0","0.0","0.0","Dec-2018","327.63","Jan-2019","Dec-2018","0","27","1","Individual","","","","0","0","9572","0","2","1","1","12","7271","60","3","4","1624","47","8200","0","0","1","5","1197","3099","42.6","0","0","34","38","9","9","0","11","","9","","1","3","3","5","6","3","6","8","3","8","0","0","0","4","100","20","0","0","20377","9572","5400","12177","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 16.46%","141.54","C","C5","jewelry","5 years","RENT","9600","Source Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","925xx","CA","14.5","1","Nov-2014","0","15","","5","0","3545","45.4%","5","w","3554.58","3554.58","700.38","700.38","445.42","254.96","0.0","0.0","0.0","Dec-2018","141.54","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","3545","1","0","0","0","","0","","1","2","1515","45","7800","0","0","0","2","709","285","84.2","0","0","","43","1","1","0","33","","","15","0","1","3","1","1","0","5","5","3","5","0","0","0","1","80","100","0","0","7800","3545","1800","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""


Total amount funded in policy code 1: 2063142975
Total amount funded in policy code 2: 823319310

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd

df = pd.read_csv('LoanStats_2018Q3.csv', skiprows=1, skipfooter=2)

df.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

(128194, 145)

In [0]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500

In [0]:
df['hardship_payoff_balance_amount'].isnull().sum() / len(df)

0.999898591197716

## Work with strings

For machine learning, we usually want to replace strings with numbers

In [0]:
import numpy as np

def all_numeric(df):
    return all((df.dtypes==np.number) | 
               (df.dtypes==bool))

def no_nulls(df):
    return not any(df.isnull().sum())

def ready_for_sklearn(df):
    return all_numeric(df) and no_nulls(df)

In [0]:
ready_for_sklearn(df)

False

In [0]:
all_numeric(df)

False

We can get info about which columns have a datatype of "object" (strings)

In [0]:
df.select_dtypes('object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128194 entries, 0 to 128193
Data columns (total 37 columns):
term                         128194 non-null object
int_rate                     128194 non-null object
grade                        128194 non-null object
sub_grade                    128194 non-null object
emp_title                    114757 non-null object
emp_length                   117807 non-null object
home_ownership               128194 non-null object
verification_status          128194 non-null object
issue_d                      128194 non-null object
loan_status                  128194 non-null object
pymnt_plan                   128194 non-null object
purpose                      128194 non-null object
title                        128194 non-null object
zip_code                     128194 non-null object
addr_state                   128194 non-null object
earliest_cr_line             128194 non-null object
revol_util                   128065 non-null object
initial_list_status          128194 non-null object
last_pymnt_d                 128048 non-null object
next_pymnt_d                 123298 non-null object
last_credit_pull_d           128190 non-null object
application_type             128194 non-null object
verification_status_joint    15729 non-null object
sec_app_earliest_cr_line     17785 non-null object
hardship_flag                128194 non-null object
hardship_type                13 non-null object
hardship_reason              13 non-null object
hardship_status              13 non-null object
hardship_start_date          13 non-null object
hardship_end_date            13 non-null object
payment_plan_start_date      13 non-null object
hardship_loan_status         13 non-null object
disbursement_method          128194 non-null object
debt_settlement_flag         128194 non-null object
debt_settlement_flag_date    5 non-null object
settlement_status            5 non-null object
settlement_date              5 non-null object
dtypes: object(37)
memory usage: 36.2+ MB

### Convert `int_rate`

In [0]:
df.int_rate.head().values

array([' 17.97%', ' 13.56%', ' 18.94%', '  7.84%', '  7.84%'],
      dtype=object)

Define a function to remove percent signs from strings and convert to floats

In [0]:
def remove_percent(string):
    return float(string.strip('%'))/100

Apply the function to the `int_rate` column

In [0]:
df['int_rate'] = df['int_rate'].apply(remove_percent)

In [0]:
df['int_rate'].head()

0    0.1797
1    0.1356
2    0.1894
3    0.0784
4    0.0784
Name: int_rate, dtype: float64

### Clean `emp_title`

Look at top 20 titles

In [0]:
df['emp_title'].value_counts().head(20)

Teacher               2294
Manager               2075
Owner                 1231
Driver                1089
Registered Nurse       944
Supervisor             810
RN                     757
Sales                  726
Project Manager        637
General Manager        548
Office Manager         542
Director               482
owner                  398
Engineer               383
Truck Driver           367
Operations Manager     366
President              350
Sales Manager          323
Supervisor             321
Server                 319
Name: emp_title, dtype: int64

In [0]:
df['emp_title'].value_counts().head(20).index

Index(['Teacher', 'Manager', 'Owner', 'Driver', 'Registered Nurse',
       'Supervisor', 'RN', 'Sales', 'Project Manager', 'General Manager',
       'Office Manager', 'Director', 'owner', 'Engineer', 'Truck Driver',
       'Operations Manager', 'President', 'Sales Manager', 'Supervisor ',
       'Server'],
      dtype='object')

How often is `emp_title` null?

In [0]:
df['emp_title'].isnull().sum()

13437

Clean the title and handle missing values

In [0]:
examples = ['owner', 'Supervisor ', 
            ' Project manager', np.nan]

def clean_title(x):
    if isinstance(x, str):        
        return x.strip().title()
    else:
        return 'Unknown'

for example in examples:
    print(clean_title(example))

Owner
Supervisor
Project Manager
Unknown

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

In [0]:
df['emp_title'].value_counts().head(20)

Unknown                     13437
Teacher                      2843
Manager                      2749
Owner                        1856
Driver                       1498
Registered Nurse             1386
Supervisor                   1345
Sales                         980
Truck Driver                  921
Rn                            905
Office Manager                846
Project Manager               835
General Manager               809
Director                      585
Operations Manager            516
Sales Manager                 510
Engineer                      474
Administrative Assistant      466
Store Manager                 466
President                     464
Name: emp_title, dtype: int64

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
# Boolean column, True if `emp_title` contains 'Manager',
# otherwise False

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')

In [0]:
df['emp_title_manager'].value_counts()

False    109498
True      18696
Name: emp_title_manager, dtype: int64

In [0]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager
0,NaN,NaN,20000,20000,20000,60 months,0.1797,507.55,D,D1,Motor Vehicle Operator,7 years,RENT,68000.0,Source Verified,Sep-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,254xx,WV,15.80,0,Feb-2009,1,30.0,118.0,11,1,13483,69.1%,26,w,19580.78,19580.78,975.17,975.17,419.22,555.95,0.0,0.0,0.0,Dec-2018,507.55,Jan-2019,Dec-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,194908,0,2,0,2,17.0,45299,93.0,0,1,9815,86.0,19500,1,4,2,5,19491.0,2185.0,81.8,0,0,115.0,94,13,7,4,25.0,NaN,2.0,30.0,0,1,3,2,4,11,8,10,3,11,0.0,0,0,1,92.3,50.0,1,0,205625,58782,12000,48733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False
1,NaN,NaN,25000,25000,25000,60 months,0.1356,576.02,C,C1,Firefighter,7 years,MORTGAGE,61000.0,Verified,Sep-2018,Current,n,NaN,NaN,major_purchase,Major purchase,770xx,TX,16.74,0,Jan-2009,0,NaN,NaN,5,0,6299,48.5%,14,w,24109.45,24109.45,1567.98,1567.98,890.55,677.43,0.0,0.0,0.0,Dec-2018,576.02,Jan-2019,Dec-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,204007,1,2,0,1,19.0,13862,37.0,0,0,0,40.0,13000,0,7,4,2,40801.0,1500.0,0.0,0,0,54.0,116,26,3,1,74.0,NaN,4.0,NaN,0,0,1,1,2,5,2,8,1,5,0.0,0,0,1,100.0,0.0,0,0,234573,20161,1500,37273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False
2,NaN,NaN,30000,30000,30000,36 months,0.1894,1098.78,D,D2,Unknown,< 1 year,RENT,100000.0,Source Verified,Sep-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,300xx,GA,16.07,0,Mar-2008,1,NaN,114.0,6,1,14574,70.1%,9,w,28739.57,28739.57,2134.43,2134.43,1260.43,874.00,0.0,0.0,0.0,Dec-2018,1098.78,Jan-2019,Dec-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,44048,1,2,1,1,1.0,29474,69.0,1,2,8521,69.0,20800,1,0,2,3,8810.0,5226.0,73.6,0,0,126.0,104,11,1,0,17.0,NaN,1.0,NaN,0,2,2,2,2,4,4,5,2,6,0.0,0,0,2,100.0,0.0,1,0,63636,44048,19800,42836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False
3,NaN,NaN,6000,6000,6000,36 months,0.0784,187.58,A,A4,Unknown,NaN,RENT,30000.0,Not Verified,Sep-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,923xx,CA,5.44,0,Apr-2000,0,NaN,104.0,8,1,5936,34.5%,11,w,5702.27,5702.27,369.93,369.93,297.73,72.20,0.0,0.0,0.0,Dec-2018,187.58,Jan-2019,Dec-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,350,5936,0,0,0,1,23.0,0,NaN,1,4,2913,35.0,17200,2,0,0,5,848.0,7698.0,35.9,0,0,139.0,221,7,7,0,7.0,NaN,18.0,NaN,0,2,3,4,4,2,8,9,3,8,0.0,0,0,1,100.0,33.3,1,0,17200,5936,12000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False
4,NaN,NaN,10650,10650,10650,36 months,0.0784,332.95,A,A4,Unknown,NaN,RENT,28000.0,Verified,Sep-2018,Current,n,NaN,NaN,medical,Medical expenses,430xx,OH,16.89,0,Nov-2002,0,NaN,NaN,3,0,37,0.3%,3,w,10121.54,10121.54,656.62,656.62,528.46,128.16,0.0,0.0,0.0,Dec-2018,332.95,Jan-2019,Dec-2018,0,NaN,1,Joint App,43000.0,14.01,Source Verified,0,0,18254,0,1,0,1,16.0,18217,81.0,0,0,0,54.0,11500,1,1,0,1,6085.0,NaN,NaN,0,0,16.0,190,113,16,0,NaN,NaN,16.0,NaN,0,0,1,0,0,1,2,2,2,3,0.0,0,0,0,100.0,NaN,0,0,33876,18254,0,22376,2024.0,Oct-1996,0.0,0.0,8.0,18.7,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False

In [0]:
df.shape

(128194, 146)

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [0]:
df['issue_d'].head().values

array(['Sep-2018', 'Sep-2018', 'Sep-2018', 'Sep-2018', 'Sep-2018'],
      dtype=object)

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], 
                               infer_datetime_format=True)

In [0]:
df['issue_d'].head().values

array(['2018-09-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2018-09-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2018-09-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [0]:
df['issue_d'].describe()

count                  128194
unique                      3
top       2018-08-01 00:00:00
freq                    46079
first     2018-07-01 00:00:00
last      2018-09-01 00:00:00
Name: issue_d, dtype: object

In [0]:
df['issue_year']  = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

In [0]:
df['issue_month'].sample(n=10).values

array([8, 8, 9, 9, 9, 7, 8, 9, 8, 8])

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], 
                                        infer_datetime_format=True)

In [0]:
df['days_from_earliest_credit_to_issue'] = (
    df['issue_d'] - df['earliest_cr_line']).dt.days

In [0]:
df['days_from_earliest_credit_to_issue'].head().values

array([3499, 3530, 3836, 6727, 5783])

In [0]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
for col in ['last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
    df[col] = pd.to_datetime(df[col],
                             infer_datetime_format=True)

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term',
       'emp_title_manager', 'issue_year', 'issue_month',
       'days_from_earliest_credit_to_issue'],
      dtype='object', length=149)

In [0]:
df['term'] = df.term.str.replace('months','').astype(int)

In [0]:
df['term'].sample(n=5)

106685    36
20865     36
52541     36
125179    36
51693     36
Name: term, dtype: int64

In [0]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term',
       'emp_title_manager', 'issue_year', 'issue_month',
       'days_from_earliest_credit_to_issue'],
      dtype='object', length=149)

In [0]:
df.loan_status.unique()

array(['Current', 'Fully Paid', 'In Grace Period', 'Late (31-120 days)',
       'Late (16-30 days)', 'Charged Off'], dtype=object)

In [0]:
def loanstatus(series):
  if series == 'Current' or series == 'Fully Paid':
    series = 1
  else:
    series = 0
  return series

df['loan_status_is_great'] = df.loan_status.apply(loanstatus)

In [0]:
df.loan_status_is_great.sample(25)

In [0]:
# Make last_pymnt_d_month and last_pymnt_d_year columns.

df['last_pymnt_d_month'] = df.last_pymnt_d.dt.month
df['last_pymnt_d_year'] = df.last_pymnt_d.dt.year

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Process the dataframe so that `ready_for_sklearn(df)` returns `True`. You can drop columns, or select the subset of numeric columns with no missing values. (Or you can try automating the process to handle missing values and convert objects to numbers!)
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [0]:
df.grade.head()

0    D
1    C
2    D
3    A
4    A
Name: grade, dtype: object

In [0]:
df.sub_grade.head()

0    D1
1    C1
2    D2
3    A4
4    A4
Name: sub_grade, dtype: object

In [0]:
df['lc_grade'] = str(df.grade) + df.sub_grade

In [0]:
df = df.drop('lc_grade',axis='columns')

In [0]:
df.pivot_table(index='sub_grade', values='int_rate').plot.bar();

In [0]:
df.pivot_table(index='sub_grade', values='annual_inc').plot.bar();

In [0]:
df.pivot_table(index='sub_grade', values='annual_inc_joint').plot.bar();

In [0]:
# if you open up the annual_inc and annual_inc_joint you can see that when there is not a big discrep, 
# they are usually placed in the lowest sub_grade

df['annual_inc_joint_minus_single'] = df.annual_inc_joint - df.annual_inc

In [0]:
df.annual_inc_joint_minus_single.corr(df.int_rate)

-0.09285012438557147