<a href="https://colab.research.google.com/github/HadenMoore/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/DS_Unit_1_Sprint_Challenge_2_Data_Wrangling_and_Storytelling_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling and Storytelling

Taming data from its raw form into informative insights and stories.

## Data Wrangling

In this Sprint Challenge you will first "wrangle" some data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the first part of this sprint challenge.
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

### Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

### Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [87]:
# Looking at its head 
cell_phones.head()

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0
3  abw  1975                0.0
4  abw  1976                0.0

In [88]:
# Looking at the shape of the dataframe 
cell_phones.shape

(9215, 3)

In [89]:
#Checking for NaNs
cell_phones.isnull().sum()

geo                  0
time                 0
cell_phones_total    0
dtype: int64

In [90]:
# Looking at its head 
population.head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [91]:
# Looking at the shape of the dataframe 
population.shape

(59297, 3)

In [92]:
#Checking for NaNs
population.isnull().sum()

geo                 0
time                0
population_total    0
dtype: int64

In [93]:
#inner joining on Geo and Time 
merge1 = pd.merge(cell_phones, population, how='inner', on=['geo','time'])
print(merge1)

      geo  time  cell_phones_total  population_total
0     afg  1960                0.0           8996351
1     afg  1965                0.0           9938414
2     afg  1970                0.0          11126123
3     afg  1975                0.0          12590286
4     afg  1976                0.0          12840299
5     afg  1977                0.0          13067538
6     afg  1978                0.0          13237734
7     afg  1979                0.0          13306695
8     afg  1980                0.0          13248370
9     afg  1981                0.0          13053954
10    afg  1982                0.0          12749645
11    afg  1983                0.0          12389269
12    afg  1984                0.0          12047115
13    afg  1985                0.0          11783050
14    afg  1986                0.0          11601041
15    afg  1987                0.0          11502761
16    afg  1988                0.0          11540888
17    afg  1989                0.0          11777609
18    afg  1990                0.0          12249114
19    afg  1991                0.0          12993657
20    afg  1992                0.0          13981231
21    afg  1993                0.0          15095099
22    afg  1994                0.0          16172719
23    afg  1995                0.0          17099541
24    afg  1996                0.0          17822884
25    afg  1997                0.0          18381605
26    afg  1998                0.0          18863999
27    afg  1999                0.0          19403676
28    afg  2000                0.0          20093756
29    afg  2001                0.0          20966463
...   ...   ...                ...               ...
8560  zwe  1988                0.0           9604302
8561  zwe  1989                0.0           9902540
8562  zwe  1990                0.0          10183113
8563  zwe  1991                0.0          10443043
8564  zwe  1992                0.0          10682868
8565  zwe  1993                0.0          10905756
8566  zwe  1994                0.0          11116948
8567  zwe  1995                0.0          11320346
8568  zwe  1996                0.0          11518262
8569  zwe  1997            5,734.0          11709997
8570  zwe  1998           19,000.0          11893272
8571  zwe  1999          174,000.0          12064537
8572  zwe  2000          266,441.0          12222251
8573  zwe  2001          314,002.0          12366165
8574  zwe  2002          338,779.0          12500525
8575  zwe  2003          363,651.0          12633897
8576  zwe  2004          425,745.0          12777511
8577  zwe  2005          647,110.0          12940032
8578  zwe  2006          849,146.0          13124267
8579  zwe  2007        1,225,654.0          13329909
8580  zwe  2008        1,654,721.0          13558469
8581  zwe  2009        3,991,000.0          13810599
8582  zwe  2010        7,700,000.0          14086317
8583  zwe  2011        9,200,000.0          14386649
8584  zwe  2012       12,613,935.0          14710826
8585  zwe  2013       13,633,167.0          15054506
8586  zwe  2014       11,798,652.0          15411675
8587  zwe  2015       12,757,410.0          15777451
8588  zwe  2016       12,878,926.0          16150362
8589  zwe  2017       14,092,104.0          16529904

[8590 rows x 4 columns]

In [94]:
# I'm just saying, I freaking did this. I'm so proud of myself
# This is to check the final shape after the inner merge
merge1.shape

(8590, 4)

Then, select the `geo` and `country` columns from the `geo_country_codes` dataframe, and join with your population and cell phone data.

The resulting dataframe's shape should be: (8590, 5)

In [95]:
#Looking at columns 
geo_country_codes.head()

    geo alt_5  ... world_4region        world_6region
0  abkh   NaN  ...        europe  europe_central_asia
1   abw   NaN  ...      americas              america
2   afg   NaN  ...          asia           south_asia
3   ago   NaN  ...        africa   sub_saharan_africa
4   aia   NaN  ...      americas              america

[5 rows x 33 columns]

In [96]:
# Checking Shape of DataFrame 
geo_country_codes.shape

(273, 33)

In [97]:
#Checking Value Counts of Country Column
geo_country_codes['country'].value_counts()

Netherlands                       1
Guernsey                          1
Chad                              1
Heard and McDonald Islands        1
Morocco                           1
St. Martin                        1
Wallis et Futuna                  1
Niue                              1
Italy                             1
Somalia                           1
Aruba                             1
Brazil                            1
Ukraine                           1
Bahamas                           1
Holy See                          1
Papua New Guinea                  1
St.-Pierre-et-Miquelon            1
Switzerland                       1
Central African Republic          1
Slovak Republic                   1
Qatar                             1
Argentina                         1
Bolivia                           1
India                             1
South Ossetia                     1
El Salvador                       1
Norway                            1
Egypt                             1
British Indian Ocean Territory    1
North Korea                       1
                                 ..
Colombia                          1
Pitcairn                          1
Haiti                             1
Senegal                           1
Martinique                        1
Congo, Rep.                       1
Anguilla                          1
Liberia                           1
Mexico                            1
Finland                           1
Cambodia                          1
Grenada                           1
Åland                             1
Costa Rica                        1
Mauritania                        1
Poland                            1
American Samoa                    1
Serbia and Montenegro             1
Oman                              1
Libya                             1
Cape Verde                        1
Turkey                            1
Guinea                            1
Czechoslovakia                    1
Antarctica                        1
Fiji                              1
Mayotte                           1
Madagascar                        1
Vietnam                           1
Kiribati                          1
Name: country, Length: 273, dtype: int64

In [0]:
#Creating variable to hold country and geo columns
column = ['geo', 'country']

In [99]:
final = pd.merge(merge1, geo_country_codes[column], how='inner', on='geo')
print(final)

      geo  time  cell_phones_total  population_total      country
0     afg  1960                0.0           8996351  Afghanistan
1     afg  1965                0.0           9938414  Afghanistan
2     afg  1970                0.0          11126123  Afghanistan
3     afg  1975                0.0          12590286  Afghanistan
4     afg  1976                0.0          12840299  Afghanistan
5     afg  1977                0.0          13067538  Afghanistan
6     afg  1978                0.0          13237734  Afghanistan
7     afg  1979                0.0          13306695  Afghanistan
8     afg  1980                0.0          13248370  Afghanistan
9     afg  1981                0.0          13053954  Afghanistan
10    afg  1982                0.0          12749645  Afghanistan
11    afg  1983                0.0          12389269  Afghanistan
12    afg  1984                0.0          12047115  Afghanistan
13    afg  1985                0.0          11783050  Afghanistan
14    afg  1986                0.0          11601041  Afghanistan
15    afg  1987                0.0          11502761  Afghanistan
16    afg  1988                0.0          11540888  Afghanistan
17    afg  1989                0.0          11777609  Afghanistan
18    afg  1990                0.0          12249114  Afghanistan
19    afg  1991                0.0          12993657  Afghanistan
20    afg  1992                0.0          13981231  Afghanistan
21    afg  1993                0.0          15095099  Afghanistan
22    afg  1994                0.0          16172719  Afghanistan
23    afg  1995                0.0          17099541  Afghanistan
24    afg  1996                0.0          17822884  Afghanistan
25    afg  1997                0.0          18381605  Afghanistan
26    afg  1998                0.0          18863999  Afghanistan
27    afg  1999                0.0          19403676  Afghanistan
28    afg  2000                0.0          20093756  Afghanistan
29    afg  2001                0.0          20966463  Afghanistan
...   ...   ...                ...               ...          ...
8560  zwe  1988                0.0           9604302     Zimbabwe
8561  zwe  1989                0.0           9902540     Zimbabwe
8562  zwe  1990                0.0          10183113     Zimbabwe
8563  zwe  1991                0.0          10443043     Zimbabwe
8564  zwe  1992                0.0          10682868     Zimbabwe
8565  zwe  1993                0.0          10905756     Zimbabwe
8566  zwe  1994                0.0          11116948     Zimbabwe
8567  zwe  1995                0.0          11320346     Zimbabwe
8568  zwe  1996                0.0          11518262     Zimbabwe
8569  zwe  1997            5,734.0          11709997     Zimbabwe
8570  zwe  1998           19,000.0          11893272     Zimbabwe
8571  zwe  1999          174,000.0          12064537     Zimbabwe
8572  zwe  2000          266,441.0          12222251     Zimbabwe
8573  zwe  2001          314,002.0          12366165     Zimbabwe
8574  zwe  2002          338,779.0          12500525     Zimbabwe
8575  zwe  2003          363,651.0          12633897     Zimbabwe
8576  zwe  2004          425,745.0          12777511     Zimbabwe
8577  zwe  2005          647,110.0          12940032     Zimbabwe
8578  zwe  2006          849,146.0          13124267     Zimbabwe
8579  zwe  2007        1,225,654.0          13329909     Zimbabwe
8580  zwe  2008        1,654,721.0          13558469     Zimbabwe
8581  zwe  2009        3,991,000.0          13810599     Zimbabwe
8582  zwe  2010        7,700,000.0          14086317     Zimbabwe
8583  zwe  2011        9,200,000.0          14386649     Zimbabwe
8584  zwe  2012       12,613,935.0          14710826     Zimbabwe
8585  zwe  2013       13,633,167.0          15054506     Zimbabwe
8586  zwe  2014       11,798,652.0          15411675     Zimbabwe
8587  zwe  2015       12,757,410.0          15777451     Zimbabwe
8588  zwe  2016       12,878,926.0          16150362     Zimbabwe
8589  zwe  2017       14,092,104.0          16529904     Zimbabwe

[8590 rows x 5 columns]

In [100]:
#Answer 
final.shape

(8590, 5)

### Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [101]:
# creating function to calculate phones per person 
phones_per_person =final['cell_phones_total'] / final['population_total']
print(phones_per_person)

0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0
5                        0.0
6                        0.0
7                        0.0
8                        0.0
9                        0.0
10                       0.0
11                       0.0
12                       0.0
13                       0.0
14                       0.0
15                       0.0
16                       0.0
17                       0.0
18                       0.0
19                       0.0
20                       0.0
21                       0.0
22                       0.0
23                       0.0
24                       0.0
25                       0.0
26                       0.0
27                       0.0
28                       0.0
29                       0.0
                ...
8560                     0.0
8561                     0.0
8562                     0.0
8563                     0.0
8564                     0.0
8565                     0.0
8566                     0.0
8567                     0.0
8568                     0.0
8569   0.0004896670767720948
8570   0.0015975418707316203
8571     0.01442243494300693
8572     0.02179966685351168
8573    0.025392027358522227
8574    0.027101181750366486
8575    0.028783755321101636
8576     0.03331986957397259
8577    0.050008377104477024
8578     0.06470045146140352
8579     0.09194766445892466
8580     0.12204335164980648
8581      0.2889809486177971
8582      0.5466297542501706
8583      0.6394817862033055
8584      0.8574593296120829
8585      0.9055871378310255
8586      0.7655658453737183
8587       0.808584986256652
8588      0.7974388437856688
8589      0.8525218295278666
Length: 8590, dtype: float64

In [102]:
final['phones_per_person']= phones_per_person
print(final)

      geo  time  ...      country     phones_per_person
0     afg  1960  ...  Afghanistan                   0.0
1     afg  1965  ...  Afghanistan                   0.0
2     afg  1970  ...  Afghanistan                   0.0
3     afg  1975  ...  Afghanistan                   0.0
4     afg  1976  ...  Afghanistan                   0.0
5     afg  1977  ...  Afghanistan                   0.0
6     afg  1978  ...  Afghanistan                   0.0
7     afg  1979  ...  Afghanistan                   0.0
8     afg  1980  ...  Afghanistan                   0.0
9     afg  1981  ...  Afghanistan                   0.0
10    afg  1982  ...  Afghanistan                   0.0
11    afg  1983  ...  Afghanistan                   0.0
12    afg  1984  ...  Afghanistan                   0.0
13    afg  1985  ...  Afghanistan                   0.0
14    afg  1986  ...  Afghanistan                   0.0
15    afg  1987  ...  Afghanistan                   0.0
16    afg  1988  ...  Afghanistan                   0.0
17    afg  1989  ...  Afghanistan                   0.0
18    afg  1990  ...  Afghanistan                   0.0
19    afg  1991  ...  Afghanistan                   0.0
20    afg  1992  ...  Afghanistan                   0.0
21    afg  1993  ...  Afghanistan                   0.0
22    afg  1994  ...  Afghanistan                   0.0
23    afg  1995  ...  Afghanistan                   0.0
24    afg  1996  ...  Afghanistan                   0.0
25    afg  1997  ...  Afghanistan                   0.0
26    afg  1998  ...  Afghanistan                   0.0
27    afg  1999  ...  Afghanistan                   0.0
28    afg  2000  ...  Afghanistan                   0.0
29    afg  2001  ...  Afghanistan                   0.0
...   ...   ...  ...          ...                   ...
8560  zwe  1988  ...     Zimbabwe                   0.0
8561  zwe  1989  ...     Zimbabwe                   0.0
8562  zwe  1990  ...     Zimbabwe                   0.0
8563  zwe  1991  ...     Zimbabwe                   0.0
8564  zwe  1992  ...     Zimbabwe                   0.0
8565  zwe  1993  ...     Zimbabwe                   0.0
8566  zwe  1994  ...     Zimbabwe                   0.0
8567  zwe  1995  ...     Zimbabwe                   0.0
8568  zwe  1996  ...     Zimbabwe                   0.0
8569  zwe  1997  ...     Zimbabwe 0.0004896670767720948
8570  zwe  1998  ...     Zimbabwe 0.0015975418707316203
8571  zwe  1999  ...     Zimbabwe   0.01442243494300693
8572  zwe  2000  ...     Zimbabwe   0.02179966685351168
8573  zwe  2001  ...     Zimbabwe  0.025392027358522227
8574  zwe  2002  ...     Zimbabwe  0.027101181750366486
8575  zwe  2003  ...     Zimbabwe  0.028783755321101636
8576  zwe  2004  ...     Zimbabwe   0.03331986957397259
8577  zwe  2005  ...     Zimbabwe  0.050008377104477024
8578  zwe  2006  ...     Zimbabwe   0.06470045146140352
8579  zwe  2007  ...     Zimbabwe   0.09194766445892466
8580  zwe  2008  ...     Zimbabwe   0.12204335164980648
8581  zwe  2009  ...     Zimbabwe    0.2889809486177971
8582  zwe  2010  ...     Zimbabwe    0.5466297542501706
8583  zwe  2011  ...     Zimbabwe    0.6394817862033055
8584  zwe  2012  ...     Zimbabwe    0.8574593296120829
8585  zwe  2013  ...     Zimbabwe    0.9055871378310255
8586  zwe  2014  ...     Zimbabwe    0.7655658453737183
8587  zwe  2015  ...     Zimbabwe     0.808584986256652
8588  zwe  2016  ...     Zimbabwe    0.7974388437856688
8589  zwe  2017  ...     Zimbabwe    0.8525218295278666

[8590 rows x 6 columns]

In [103]:
usa = final[final.country=='United States']
usa.head()

      geo  time  ...        country  phones_per_person
8092  usa  1960  ...  United States                0.0
8093  usa  1965  ...  United States                0.0
8094  usa  1970  ...  United States                0.0
8095  usa  1975  ...  United States                0.0
8096  usa  1976  ...  United States                0.0

[5 rows x 6 columns]

In [104]:
answer = usa[usa.time.isin([2017])]
print(answer)

      geo  time  ...        country  phones_per_person
8134  usa  2017  ...  United States 1.2201246847283354

[1 rows x 6 columns]

Modify the `geo` column to make the geo codes uppercase instead of lowercase.

In [105]:
final['geo'] = final['geo'].str.upper()
final.head()

   geo  time  ...      country  phones_per_person
0  AFG  1960  ...  Afghanistan                0.0
1  AFG  1965  ...  Afghanistan                0.0
2  AFG  1970  ...  Afghanistan                0.0
3  AFG  1975  ...  Afghanistan                0.0
4  AFG  1976  ...  Afghanistan                0.0

[5 rows x 6 columns]

### Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In [106]:
import numpy as np 
final.describe(include='all')

         geo                time  ...   country     phones_per_person
count   8590             8,590.0  ...      8590               8,590.0
unique   195                 nan  ...       195                   nan
top      BEL                 nan  ...  Bulgaria                   nan
freq      46                 nan  ...        46                   nan
mean     NaN 1,994.1934807916182  ...       NaN    0.2796385558059151
std      NaN  14.257974607310302  ...       NaN     0.454246656214052
min      NaN             1,960.0  ...       NaN                   0.0
25%      NaN             1,983.0  ...       NaN                   0.0
50%      NaN             1,995.0  ...       NaN 0.0015636266438163813
75%      NaN             2,006.0  ...       NaN    0.4611491855201403
max      NaN             2,017.0  ...       NaN     2.490242818521353

[11 rows x 6 columns]

In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|    ?    |     1,474,097,000 |
|    ?    |     1,168,902,277 |
|    ?    |       458,923,202 |
|    ?    |       395,881,000 |
|    ?    |       236,488,548 |

In [0]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format

In [108]:
final[final.time ==2017].sort_values('cell_phones_total', ascending=False).head(5)

      geo  time  ...        country  phones_per_person
1496  CHN  2017  ...          China 1.0458168186766978
3595  IND  2017  ...          India 0.8728491809526382
3549  IDN  2017  ...      Indonesia  1.738402230172827
8134  USA  2017  ...  United States 1.2201246847283354
1084  BRA  2017  ...         Brazil 1.1299655683535224

[5 rows x 6 columns]

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

In [109]:
usa = final[final.country=='United States']
usa[['time','cell_phones_total','population_total']]

      time  cell_phones_total  population_total
8092  1960                0.0         186808228
8093  1965                0.0         199815540
8094  1970                0.0         209588150
8095  1975                0.0         219205296
8096  1976                0.0         221239215
8097  1977                0.0         223324042
8098  1978                0.0         225449657
8099  1979                0.0         227599878
8100  1980                0.0         229763052
8101  1984           91,600.0         238573861
8102  1985          340,213.0         240824120
8103  1986          681,825.0         243098935
8104  1987        1,230,855.0         245402864
8105  1988        2,069,441.0         247739582
8106  1989        3,508,944.0         250113187
8107  1990        5,283,055.0         252529950
8108  1991        7,557,148.0         254974819
8109  1992       11,032,753.0         257454273
8110  1993       16,009,461.0         260020186
8111  1994       24,134,421.0         262741566
8112  1995       33,785,661.0         265658849
8113  1996       44,042,992.0         268803424
8114  1997       55,312,293.0         272136551
8115  1998       69,209,321.0         275542603
8116  1999       86,047,003.0         278862277
8117  2000      109,478,031.0         281982778
8118  2001      128,500,000.0         284852391
8119  2002      141,800,000.0         287506847
8120  2003      160,637,000.0         290027624
8121  2004      184,819,000.0         292539324
8122  2005      203,700,000.0         295129501
8123  2006      229,600,000.0         297827356
8124  2007      249,300,000.0         300595175
8125  2008      261,300,000.0         303374067
8126  2009      274,283,000.0         306076362
8127  2010      285,118,000.0         308641391
8128  2011      297,404,000.0         311051373
8129  2012      304,838,000.0         313335423
8130  2013      310,698,000.0         315536676
8131  2014      355,500,000.0         317718779
8132  2015      382,307,000.0         319929162
8133  2016      395,881,000.0         322179605
8134  2017      395,881,000.0         324459463

In [0]:
#Answer is 2014

### Part 4. Reshape data

*This part is not needed to pass the sprint challenge, only to get a 3! Only work on this after completing the other sections.*

Create a pivot table:
- Columns: Years 2007—2017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

In [0]:
import seaborn as sns
import matplotlib.pyplot as plt

In [0]:
countries = ('China','India','United States','Indonesia','Brazil')
years = ['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015','2016','2017']

In [113]:
final.pivot_table(columns='years', index=countries, values='cell_phones_total').plot

KeyError: ignored

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

If you have the time and curiosity, what other questions can you ask and answer with this data?

## Data Storytelling

In this part of the sprint challenge you'll work with a dataset from **FiveThirtyEight's article, [Every Guest Jon Stewart Ever Had On ‘The Daily Show’](https://fivethirtyeight.com/features/every-guest-jon-stewart-ever-had-on-the-daily-show/)**!

### Part 0 — Run this starter code

You don't need to add or change anything here. Just run this cell and it loads the data for you, into a dataframe named `df`.

(You can explore the data if you want, but it's not required to pass the Sprint Challenge.)

In [0]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

url = 'https://raw.githubusercontent.com/fivethirtyeight/data/master/daily-show-guests/daily_show_guests.csv'
df = pd.read_csv(url).rename(columns={'YEAR': 'Year', 'Raw_Guest_List': 'Guest'})

def get_occupation(group):
    if group in ['Acting', 'Comedy', 'Musician']:
        return 'Acting, Comedy & Music'
    elif group in ['Media', 'media']:
        return 'Media'
    elif group in ['Government', 'Politician', 'Political Aide']:
        return 'Government and Politics'
    else:
        return 'Other'
      
df['Occupation'] = df['Group'].apply(get_occupation)

### Part 1 — What's the breakdown of guests’ occupations per year?

For example, in 1999, what percentage of guests were actors, comedians, or musicians? What percentage were in the media? What percentage were in politics? What percentage were from another occupation?

Then, what about in 2000? In 2001? And so on, up through 2015.

So, **for each year of _The Daily Show_, calculate the percentage of guests from each occupation:**
- Acting, Comedy & Music
- Government and Politics
- Media
- Other

#### Hints:
You can make a crosstab. (See pandas documentation for examples, explanation, and parameters.)

You'll know you've calculated correctly when the percentage of "Acting, Comedy & Music" guests is 90.36% in 1999, and 45% in 2015.

In [0]:
df.head()

In [0]:
# Creating a crosstab to view the data better
pd.crosstab(df['Occupation'], df['Year'])

In [0]:
pd.crosstab(df['Year'], df['Occupation'], normalize='index')

### Part 2 — Recreate this explanatory visualization:

In [0]:
from IPython.display import display, Image
png = 'https://fivethirtyeight.com/wp-content/uploads/2015/08/hickey-datalab-dailyshow.png'
example = Image(png, width=500)
display(example)

**Hints:**
- You can choose any Python visualization library you want. I've verified the plot can be reproduced with matplotlib, pandas plot, or seaborn. I assume other libraries like altair or plotly would work too.
- If you choose to use seaborn, you may want to upgrade the version to 0.9.0.

**Expectations:** Your plot should include:
- 3 lines visualizing "occupation of guests, by year." The shapes of the lines should look roughly identical to 538's example. Each line should be a different color. (But you don't need to use the _same_ colors as 538.)
- Legend or labels for the lines. (But you don't need each label positioned next to its line or colored like 538.)
- Title in the upper left: _"Who Got To Be On 'The Daily Show'?"_ with more visual emphasis than the subtitle. (Bolder and/or larger font.)
- Subtitle underneath the title: _"Occupation of guests, by year"_

**Optional Bonus Challenge:**
- Give your plot polished aesthetics, with improved resemblance to the 538 example.
- Any visual element not specifically mentioned in the expectations is an optional bonus.

In [0]:
ct = pd.crosstab(df['Year'], df['Occupation'], normalize='index')
ct

In [0]:
ct.plot(kind='bar', legend=True);