<a href="https://colab.research.google.com/github/extrajp2014/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/DS_Unit_1_Sprint_Challenge_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling

In this Sprint Challenge you will use data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the Sprint Challenge!
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html]) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

## Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

## Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [111]:
df1=cell_phones
df2=population
df3=geo_country_codes
print(cell_phones.head())
print(population.head())

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0
3  abw  1975                0.0
4  abw  1976                0.0
   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [112]:
# Join data
# df1=cell_phones
# df2=population
# df3=geo_country_codes
merged=df1.merge(df2, on=['geo', 'time'], how='inner')
print(merged.shape)
merged.head()

(8590, 4)

   geo  time  cell_phones_total  population_total
0  afg  1960                0.0           8996351
1  afg  1965                0.0           9938414
2  afg  1970                0.0          11126123
3  afg  1975                0.0          12590286
4  afg  1976                0.0          12840299

Then, select the `geo` and `country` columns from the `geo_country_codes` dataframe, and join with your population and cell phone data.

The resulting dataframe's shape should be: (8590, 5)

In [113]:
# df1=cell_phones
# df2=population
# df3=geo_country_codes
columns = ['geo', 'country']
final=merged.merge(df3[columns], on='geo', how='inner')
print(final.shape)
final.head()

(8590, 5)

   geo  time  cell_phones_total  population_total      country
0  afg  1960                0.0           8996351  Afghanistan
1  afg  1965                0.0           9938414  Afghanistan
2  afg  1970                0.0          11126123  Afghanistan
3  afg  1975                0.0          12590286  Afghanistan
4  afg  1976                0.0          12840299  Afghanistan

## Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [115]:
final.dtypes

geo                   object
time                   int64
cell_phones_total    float64
population_total       int64
country               object
dtype: object

In [0]:
# df=final
# df1=cell_phones
# df2=population
# df3=geo_country_codes
# Calculate the number of cell phones per person, and add this column onto your dataframe.
# (You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

final['Cell Phones Per Person'] = final.cell_phones_total / final.population_total

In [97]:
pd.set_option('display.max_rows', 500)
final.sort_values(by='country').tail(400).head(10)

      geo  time  cell_phones_total  population_total        country  Cell Phones Per Person
8130  USA  2013      310,698,000.0         315536676  United States      0.9846652501340288
8120  USA  2003      160,637,000.0         290027624  United States      0.5538679308699229
8132  USA  2015      382,307,000.0         319929162  United States      1.1949739048796058
8133  USA  2016      395,881,000.0         322179605  United States       1.228758722948959
8134  USA  2017      395,881,000.0         324459463  United States      1.2201246847283354
8128  USA  2011      297,404,000.0         311051373  United States      0.9561250192584747
8118  USA  2001      128,500,000.0         284852391  United States     0.45111083515532086
8092  USA  1960                0.0         186808228  United States                     0.0
8094  USA  1970                0.0         209588150  United States                     0.0
8116  USA  1999       86,047,003.0         278862277  United States     0.30856451408807795

Modify the `geo` column to make the geo codes uppercase instead of lowercase.

In [117]:
temp = final.geo.str.upper()
type(temp)
final['geo']=temp
final.head()

   geo  time  cell_phones_total  population_total      country  Cell Phones Per Person
0  AFG  1960                0.0           8996351  Afghanistan                     0.0
1  AFG  1965                0.0           9938414  Afghanistan                     0.0
2  AFG  1970                0.0          11126123  Afghanistan                     0.0
3  AFG  1975                0.0          12590286  Afghanistan                     0.0
4  AFG  1976                0.0          12840299  Afghanistan                     0.0

## Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In [118]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format
# geo                        object
# time                        int64
# cell_phones_total         float64
# population_total            int64
# country                    object
# Cell Phones Per Person    float64
# dtype: object
final.dtypes

pd.set_option('display.max_columns', 500)
print(final.describe())
print("\n")
print(final.geo.describe())
print("\n")
print(final.country.describe())

                     time    cell_phones_total     population_total  Cell Phones Per Person
count             8,590.0              8,590.0              8,590.0                 8,590.0
mean  1,994.1934807916182  9,004,949.642905472 29,838,230.581722934     0.27963855580591535
std    14.257974607310278 55,734,084.872176506 116,128,377.47477297     0.45424665621404714
min               1,960.0                  0.0              4,433.0                     0.0
25%               1,983.0                  0.0          1,456,148.0                     0.0
50%               1,995.0              6,200.0          5,725,062.5   0.0015636266438163813
75%               2,006.0          1,697,652.0         18,105,812.0      0.4611491855201403
max               2,017.0      1,474,097,000.0      1,409,517,397.0       2.490242818521353


count     8590
unique     195
top        CAN
freq        46
Name: geo, dtype: object


count        8590
unique        195
top       Ukraine
freq           46
Name: country, dtype: object

In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|    ?    |     1,474,097,000 |
|    ?    |     1,168,902,277 |
|    ?    |       458,923,202 |
|    ?    |       395,881,000 |
|    ?    |       236,488,548 |

In [119]:
# print(final.sort_values(by='cell_phones_total', ascending=False).head())
top=final[['country','cell_phones_total']].sort_values('cell_phones_total', ascending=False).drop_duplicates(['country'])
print(top.head())

            country  cell_phones_total
1496          China    1,474,097,000.0
3595          India    1,168,902,277.0
3549      Indonesia      458,923,202.0
8134  United States      395,881,000.0
1081         Brazil      280,728,796.0

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

In [120]:
condition = (final.country == 'United States') & (final.cell_phones_total > final.population_total)
temp=final.loc[condition, 'time']
print(type(temp))
print("\n")
print(temp.head())
print("\n")
print("first year that the USA had more cell phones than people")
print(temp.head(1))

<class 'pandas.core.series.Series'>


8131    2014
8132    2015
8133    2016
8134    2017
Name: time, dtype: int64


first year that the USA had more cell phones than people
8131    2014
Name: time, dtype: int64

## Part 4. Reshape data

Create a pivot table:
- Columns: Years 2007—2017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

In [134]:
# Current Variables
# ['pd', 'population', 'df1', 'df2', 'df3', 'merged', 'columns', 'final', 'temp'
#     , 'np', 'df', 'top', 'condition']
# Current df column names
# ['geo', 'time', 'cell_phones_total', 'population_total', 'country', 
#  'Cell Phones Per Person']
# Columns: Years 2007—2017
# Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
# Values: Cell Phones Total

final2=final
print(final2.shape)
a=["China", "India", "United States", "Indonesia", "Brazil"]
final2 = final2[df['country'].isin(a)]
final2 = final2[final2['time'] >= 2007]

print(final2.country.value_counts())
print(final2.time.value_counts())
print(final2.shape, final.shape)

final2.pivot_table(index='country', 
                   columns='time', 
                   values='cell_phones_total').head()

(8590, 6)
China            11
United States    11
Indonesia        11
Brazil           11
India            11
Name: country, dtype: int64
2017    5
2016    5
2015    5
2014    5
2013    5
2012    5
2011    5
2010    5
2009    5
2008    5
2007    5
Name: time, dtype: int64
(55, 6) (8590, 6)

time                   2007          2008          2009          2010          2011            2012            2013            2014            2015            2016            2017
country
Brazil        120,980,103.0 150,641,403.0 169,385,584.0 196,929,978.0 234,357,507.0   248,323,703.0   271,099,799.0   280,728,796.0   257,814,274.0   244,067,356.0   236,488,548.0
China         547,306,000.0 641,245,000.0 747,214,000.0 859,003,000.0 986,253,000.0 1,112,155,000.0 1,229,113,000.0 1,286,093,000.0 1,291,984,200.0 1,364,934,000.0 1,474,097,000.0
India         233,620,000.0 346,890,000.0 525,090,000.0 752,190,000.0 893,862,478.0   864,720,917.0   886,304,245.0   944,008,677.0 1,001,056,000.0 1,127,809,000.0 1,168,902,277.0
Indonesia      93,386,881.0 140,578,243.0 163,676,961.0 211,290,235.0 249,805,619.0   281,963,665.0   313,226,914.0   325,582,819.0   338,948,340.0   385,573,398.0   458,923,202.0
United States 249,300,000.0 261,300,000.0 274,283,000.0 285,118,000.0 297,404,000.0   304,838,000.0   310,698,000.0   355,500,000.0   382,307,000.0   395,881,000.0   395,881,000.0

#### OPTIONAL BONUS QUESTION!

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

In [156]:
# Current Variables
# ['pd', 'population', 'df1', 'df2', 'df3', 'merged', 'columns', 'final', 'final2',
#  'temp', 'np', 'df', 'top', 'condition']

# Current df column names
# ['geo', 'time', 'cell_phones_total', 'population_total', 'country', 
#  'Cell Phones Per Person']


final3 = final2.pivot_table(index='country', 
                   columns='time', 
                   values='cell_phones_total')

final3['2phoneIncrease'] = (final3[2017]-final3[2007])
print(final3['2phoneIncrease'])
print(final3.sort_values(by='2phoneIncrease', ascending=False))

# Which country had 935,282,277 more cell phones in 2017 versus 2007?
# India

country
Brazil          115,508,445.0
China           926,791,000.0
India           935,282,277.0
Indonesia       365,536,321.0
United States   146,581,000.0
Name: 2phoneIncrease, dtype: float64
time                   2007          2008          2009          2010          2011            2012            2013            2014            2015            2016            2017  2phoneIncrease
country
India         233,620,000.0 346,890,000.0 525,090,000.0 752,190,000.0 893,862,478.0   864,720,917.0   886,304,245.0   944,008,677.0 1,001,056,000.0 1,127,809,000.0 1,168,902,277.0   935,282,277.0
China         547,306,000.0 641,245,000.0 747,214,000.0 859,003,000.0 986,253,000.0 1,112,155,000.0 1,229,113,000.0 1,286,093,000.0 1,291,984,200.0 1,364,934,000.0 1,474,097,000.0   926,791,000.0
Indonesia      93,386,881.0 140,578,243.0 163,676,961.0 211,290,235.0 249,805,619.0   281,963,665.0   313,226,914.0   325,582,819.0   338,948,340.0   385,573,398.0   458,923,202.0   365,536,321.0
United States 249,300,000.0 261,300,000.0 274,283,000.0 285,118,000.0 297,404,000.0   304,838,000.0   310,698,000.0   355,500,000.0   382,307,000.0   395,881,000.0   395,881,000.0   146,581,000.0
Brazil        120,980,103.0 150,641,403.0 169,385,584.0 196,929,978.0 234,357,507.0   248,323,703.0   271,099,799.0   280,728,796.0   257,814,274.0   244,067,356.0   236,488,548.0   115,508,445.0

If you have the time and curiosity, what other questions can you ask and answer with this data?