<a href="https://colab.research.google.com/github/tjHendrixx/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/DS_Unit_1_Sprint_Challenge_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling

In this Sprint Challenge you will use data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the Sprint Challenge!
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html]) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

## Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

## Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [4]:
cell_phones.head(25)

    geo  time  cell_phones_total
0   abw  1960                0.0
1   abw  1965                0.0
2   abw  1970                0.0
3   abw  1975                0.0
4   abw  1976                0.0
5   abw  1977                0.0
6   abw  1978                0.0
7   abw  1979                0.0
8   abw  1980                0.0
9   abw  1981                0.0
10  abw  1982                0.0
11  abw  1983                0.0
12  abw  1984                0.0
13  abw  1985                0.0
14  abw  1986                0.0
15  abw  1987                0.0
16  abw  1988                0.0
17  abw  1989                0.0
18  abw  1990                0.0
19  abw  1991                0.0
20  abw  1992               20.0
21  abw  1995             1718.0
22  abw  1996             3000.0
23  abw  1997             3402.0
24  abw  1998             5380.0

In [5]:
population.head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [0]:
cell_pop = pd.merge(cell_phones, population, on=['geo', 'time'])

In [7]:
cell_pop

      geo  time  cell_phones_total  population_total
0     afg  1960                0.0           8996351
1     afg  1965                0.0           9938414
2     afg  1970                0.0          11126123
3     afg  1975                0.0          12590286
4     afg  1976                0.0          12840299
5     afg  1977                0.0          13067538
6     afg  1978                0.0          13237734
7     afg  1979                0.0          13306695
8     afg  1980                0.0          13248370
9     afg  1981                0.0          13053954
10    afg  1982                0.0          12749645
11    afg  1983                0.0          12389269
12    afg  1984                0.0          12047115
13    afg  1985                0.0          11783050
14    afg  1986                0.0          11601041
15    afg  1987                0.0          11502761
16    afg  1988                0.0          11540888
17    afg  1989                0.0          11777609
18    afg  1990                0.0          12249114
19    afg  1991                0.0          12993657
20    afg  1992                0.0          13981231
21    afg  1993                0.0          15095099
22    afg  1994                0.0          16172719
23    afg  1995                0.0          17099541
24    afg  1996                0.0          17822884
25    afg  1997                0.0          18381605
26    afg  1998                0.0          18863999
27    afg  1999                0.0          19403676
28    afg  2000                0.0          20093756
29    afg  2001                0.0          20966463
...   ...   ...                ...               ...
8560  zwe  1988                0.0           9604302
8561  zwe  1989                0.0           9902540
8562  zwe  1990                0.0          10183113
8563  zwe  1991                0.0          10443043
8564  zwe  1992                0.0          10682868
8565  zwe  1993                0.0          10905756
8566  zwe  1994                0.0          11116948
8567  zwe  1995                0.0          11320346
8568  zwe  1996                0.0          11518262
8569  zwe  1997             5734.0          11709997
8570  zwe  1998            19000.0          11893272
8571  zwe  1999           174000.0          12064537
8572  zwe  2000           266441.0          12222251
8573  zwe  2001           314002.0          12366165
8574  zwe  2002           338779.0          12500525
8575  zwe  2003           363651.0          12633897
8576  zwe  2004           425745.0          12777511
8577  zwe  2005           647110.0          12940032
8578  zwe  2006           849146.0          13124267
8579  zwe  2007          1225654.0          13329909
8580  zwe  2008          1654721.0          13558469
8581  zwe  2009          3991000.0          13810599
8582  zwe  2010          7700000.0          14086317
8583  zwe  2011          9200000.0          14386649
8584  zwe  2012         12613935.0          14710826
8585  zwe  2013         13633167.0          15054506
8586  zwe  2014         11798652.0          15411675
8587  zwe  2015         12757410.0          15777451
8588  zwe  2016         12878926.0          16150362
8589  zwe  2017         14092104.0          16529904

[8590 rows x 4 columns]

In [8]:
cell_pop.shape

(8590, 4)

Then, select the `geo` and `country` columns from the `geo_country_codes` dataframe, and join with your population and cell phone data.

The resulting dataframe's shape should be: (8590, 5)

In [9]:
geo_country_codes.head()

,geo,alt_5,alternative_1,alternative_2,alternative_3,alternative_4_cdiac,arb1,arb2,arb3,arb4,...,latitude,longitude,main_religion_2008,country,pandg,un_state,unicode_region_subtag,upper_case_name,world_4region,world_6region
0,abkh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Abkhazia,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,NaN,NaN,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,...,12.50000,-69.96667,christian,Aruba,NaN,False,AW,ARUBA,americas,america
2,afg,NaN,Islamic Republic of Afghanistan,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,...,33.00000,66.00000,muslim,Afghanistan,AFGHANISTAN,True,AF,AFGHANISTAN,asia,south_asia
3,ago,NaN,NaN,NaN,NaN,Angola,NaN,NaN,NaN,NaN,...,-12.50000,18.50000,christian,Angola,ANGOLA,True,AO,ANGOLA,africa,sub_saharan_africa
4,aia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.21667,-63.05000,christian,Anguilla,NaN,False,AI,ANGUILLA,americas,america

In [10]:
merged = pd.merge(cell_pop, geo_country_codes, how='left, left_on')

KeyError: ignored

In [0]:
merged = cell_pop.merge(geo_country_codes[['geo', 'country']], on='geo', how='outer')

In [12]:
merged

,geo,time,cell_phones_total,population_total,country
0,afg,1960.0,0.0,8996351.0,Afghanistan
1,afg,1965.0,0.0,9938414.0,Afghanistan
2,afg,1970.0,0.0,11126123.0,Afghanistan
3,afg,1975.0,0.0,12590286.0,Afghanistan
4,afg,1976.0,0.0,12840299.0,Afghanistan
5,afg,1977.0,0.0,13067538.0,Afghanistan
6,afg,1978.0,0.0,13237734.0,Afghanistan
7,afg,1979.0,0.0,13306695.0,Afghanistan
8,afg,1980.0,0.0,13248370.0,Afghanistan
9,afg,1981.0,0.0,13053954.0,Afghanistan
10,afg,1982.0,0.0,12749645.0,Afghanistan
11,afg,1983.0,0.0,12389269.0,Afghanistan
12,afg,1984.0,0.0,12047115.0,Afghanistan
13,afg,1985.0,0.0,11783050.0,Afghanistan
14,afg,1986.0,0.0,11601041.0,Afghanistan
15,afg,1987.0,0.0,11502761.0,Afghanistan
16,afg,1988.0,0.0,11540888.0,Afghanistan
17,afg,1989.0,0.0,11777609.0,Afghanistan
18,afg,1990.0,0.0,12249114.0,Afghanistan
19,afg,1991.0,0.0,12993657.0,Afghanistan
20,afg,1992.0,0.0,13981231.0,Afghanistan
21,afg,1993.0,0.0,15095099.0,Afghanistan
22,afg,1994.0,0.0,16172719.0,Afghanistan
23,afg,1995.0,0.0,17099541.0,Afghanistan
24,afg,1996.0,0.0,17822884.0,Afghanistan
25,afg,1997.0,0.0,18381605.0,Afghanistan
26,afg,1998.0,0.0,18863999.0,Afghanistan
27,afg,1999.0,0.0,19403676.0,Afghanistan
28,afg,2000.0,0.0,20093756.0,Afghanistan
29,afg,2001.0,0.0,20966463.0,Afghanistan
...,...,...,...,...,...
8638,nld_curacao,NaN,NaN,NaN,Curaçao
8639,pcn,NaN,NaN,NaN,Pitcairn
8640,pri,NaN,NaN,NaN,Puerto Rico
8641,pse_gaza,NaN,NaN,NaN,Gaza Strip
8642,pse_west_bank,NaN,NaN,NaN,West Bank
8643,pyf,NaN,NaN,NaN,French Polynesia
8644,reu,NaN,NaN,NaN,Reunion
8645,scg,NaN,NaN,NaN,Serbia and Montenegro
8646,scg_ex_kos,NaN,NaN,NaN,Serbia excluding Kosovo
8647,sgero_a_ssandw,NaN,NaN,NaN,South Georgia and the South Sandwich Islands
8648,shn,NaN,NaN,NaN,St. Helena
8649,sjm,NaN,NaN,NaN,Svalbard
8650,som_somland,NaN,NaN,NaN,Somaliland
8651,sosset,NaN,NaN,NaN,South Ossetia
8652,spm,NaN,NaN,NaN,St.-Pierre-et-Miquelon
8653,stbar,NaN,NaN,NaN,St. Barthélemy
8654,stmar,NaN,NaN,NaN,St. Martin
8655,sxm,NaN,NaN,NaN,Sint Maarten (Dutch part)
8656,tca,NaN,NaN,NaN,Turks and Caicos Islands
8657,tkl,NaN,NaN,NaN,Tokelau
8658,transn,NaN,NaN,NaN,Transnistria
8659,twn,NaN,NaN,NaN,Taiwan
8660,usa_minor_out_isl,NaN,NaN,NaN,US Minor Outlying Islands
8661,ussr,NaN,NaN,NaN,USSR
8662,vgb,NaN,NaN,NaN,British Virgin Islands
8663,vir,NaN,NaN,NaN,Virgin Islands (U.S.)
8664,wlf,NaN,NaN,NaN,Wallis et Futuna
8665,yem_north,NaN,NaN,NaN,North Yemen (former)
8666,yem_south,NaN,NaN,NaN,South Yemen (former)
8667,yug,NaN,NaN,NaN,Yugoslavia

In [13]:
merged.shape

(8668, 5)

## Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [0]:
merged['Phones Per Person'] = merged['population_total']//merged['cell_phones_total']

In [15]:
merged.head(100)

,geo,time,cell_phones_total,population_total,country,Phones Per Person
0,afg,1960.0,0.0,8996351.0,Afghanistan,NaN
1,afg,1965.0,0.0,9938414.0,Afghanistan,NaN
2,afg,1970.0,0.0,11126123.0,Afghanistan,NaN
3,afg,1975.0,0.0,12590286.0,Afghanistan,NaN
4,afg,1976.0,0.0,12840299.0,Afghanistan,NaN
5,afg,1977.0,0.0,13067538.0,Afghanistan,NaN
6,afg,1978.0,0.0,13237734.0,Afghanistan,NaN
7,afg,1979.0,0.0,13306695.0,Afghanistan,NaN
8,afg,1980.0,0.0,13248370.0,Afghanistan,NaN
9,afg,1981.0,0.0,13053954.0,Afghanistan,NaN
10,afg,1982.0,0.0,12749645.0,Afghanistan,NaN
11,afg,1983.0,0.0,12389269.0,Afghanistan,NaN
12,afg,1984.0,0.0,12047115.0,Afghanistan,NaN
13,afg,1985.0,0.0,11783050.0,Afghanistan,NaN
14,afg,1986.0,0.0,11601041.0,Afghanistan,NaN
15,afg,1987.0,0.0,11502761.0,Afghanistan,NaN
16,afg,1988.0,0.0,11540888.0,Afghanistan,NaN
17,afg,1989.0,0.0,11777609.0,Afghanistan,NaN
18,afg,1990.0,0.0,12249114.0,Afghanistan,NaN
19,afg,1991.0,0.0,12993657.0,Afghanistan,NaN
20,afg,1992.0,0.0,13981231.0,Afghanistan,NaN
21,afg,1993.0,0.0,15095099.0,Afghanistan,NaN
22,afg,1994.0,0.0,16172719.0,Afghanistan,NaN
23,afg,1995.0,0.0,17099541.0,Afghanistan,NaN
24,afg,1996.0,0.0,17822884.0,Afghanistan,NaN
25,afg,1997.0,0.0,18381605.0,Afghanistan,NaN
26,afg,1998.0,0.0,18863999.0,Afghanistan,NaN
27,afg,1999.0,0.0,19403676.0,Afghanistan,NaN
28,afg,2000.0,0.0,20093756.0,Afghanistan,NaN
29,afg,2001.0,0.0,20966463.0,Afghanistan,NaN
...,...,...,...,...,...,...
70,ago,1996.0,3298.0,14682284.0,Angola,4451.0
71,ago,1997.0,7052.0,15088981.0,Angola,2139.0
72,ago,1998.0,9820.0,15504318.0,Angola,1578.0
73,ago,1999.0,24000.0,15949766.0,Angola,664.0
74,ago,2000.0,25806.0,16440924.0,Angola,637.0
75,ago,2001.0,75000.0,16983266.0,Angola,226.0
76,ago,2002.0,140000.0,17572649.0,Angola,125.0
77,ago,2003.0,350000.0,18203369.0,Angola,52.0
78,ago,2004.0,740000.0,18865716.0,Angola,25.0
79,ago,2005.0,1611118.0,19552542.0,Angola,12.0
80,ago,2006.0,3054620.0,20262399.0,Angola,6.0
81,ago,2007.0,4961536.0,20997687.0,Angola,4.0
82,ago,2008.0,6773356.0,21759420.0,Angola,3.0
83,ago,2009.0,8109421.0,22549547.0,Angola,2.0
84,ago,2010.0,9403365.0,23369131.0,Angola,2.0
85,ago,2011.0,12073218.0,24218565.0,Angola,2.0
86,ago,2012.0,12785109.0,25096150.0,Angola,1.0
87,ago,2013.0,13285198.0,25998340.0,Angola,1.0
88,ago,2014.0,14052558.0,26920466.0,Angola,1.0
89,ago,2015.0,13884532.0,27859305.0,Angola,2.0
90,ago,2016.0,13001124.0,28813463.0,Angola,2.0
91,ago,2017.0,13323952.0,29784193.0,Angola,2.0
92,alb,1960.0,0.0,1636056.0,Albania,NaN
93,alb,1965.0,0.0,1896125.0,Albania,NaN
94,alb,1970.0,0.0,2150598.0,Albania,NaN
95,alb,1975.0,0.0,2411229.0,Albania,NaN
96,alb,1976.0,0.0,2464336.0,Albania,NaN
97,alb,1977.0,0.0,2517872.0,Albania,NaN
98,alb,1978.0,0.0,2571850.0,Albania,NaN
99,alb,1979.0,0.0,2626286.0,Albania,NaN

Modify the `geo` column to make the geo codes uppercase instead of lowercase.

In [0]:
merged['geo'] = merged['geo'].str.upper()

In [0]:
merged.head(100)

## Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In [0]:
import numpy as np

In [17]:
merged.describe(include=[np.number])

              time  cell_phones_total  population_total  Phones Per Person
count  8590.000000       8.590000e+03      8.590000e+03       4.835000e+03
mean   1994.193481       9.004950e+06      2.983823e+07       2.036213e+03
std      14.257975       5.573408e+07      1.161284e+08       2.982834e+04
min    1960.000000       0.000000e+00      4.433000e+03       0.000000e+00
25%    1983.000000       0.000000e+00      1.456148e+06       1.000000e+00
50%    1995.000000       6.200000e+03      5.725062e+06       3.000000e+00
75%    2006.000000       1.697652e+06      1.810581e+07       5.800000e+01
max    2017.000000       1.474097e+09      1.409517e+09       1.587631e+06

In [18]:
merged.describe(include=[np.object])

         geo   country
count   8668      8668
unique   273       273
top      pan  Cambodia
freq      46        46

In [19]:
merged.describe(include='all')

,geo,time,cell_phones_total,population_total,country,Phones Per Person
count,8668,8590.000000,8.590000e+03,8.590000e+03,8668,4.835000e+03
unique,273,NaN,NaN,NaN,273,NaN
top,pan,NaN,NaN,NaN,Cambodia,NaN
freq,46,NaN,NaN,NaN,46,NaN
mean,NaN,1994.193481,9.004950e+06,2.983823e+07,NaN,2.036213e+03
std,NaN,14.257975,5.573408e+07,1.161284e+08,NaN,2.982834e+04
min,NaN,1960.000000,0.000000e+00,4.433000e+03,NaN,0.000000e+00
25%,NaN,1983.000000,0.000000e+00,1.456148e+06,NaN,1.000000e+00
50%,NaN,1995.000000,6.200000e+03,5.725062e+06,NaN,3.000000e+00
75%,NaN,2006.000000,1.697652e+06,1.810581e+07,NaN,5.800000e+01
max,NaN,2017.000000,1.474097e+09,1.409517e+09,NaN,1.587631e+06

In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|    ?    |     1,474,097,000 |
|    ?    |     1,168,902,277 |
|    ?    |       458,923,202 |
|    ?    |       395,881,000 |
|    ?    |       236,488,548 |

In [23]:
merged.fillna(method='mean')

ValueError: ignored

In [0]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

In [0]:
merged.pivot[]

## Part 4. Reshape data

Create a pivot table:
- Columns: Years 2007—2017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

#### OPTIONAL BONUS QUESTION!

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

If you have the time and curiosity, what other questions can you ask and answer with this data?