<a href="https://colab.research.google.com/github/DylanGraves/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/DS_Unit_1_Sprint_Challenge_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling

In this Sprint Challenge you will use data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the Sprint Challenge!
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html]) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

## Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

## Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [2]:
cell_phones.shape

(9215, 3)

In [3]:
population.shape

(59297, 3)

In [4]:
cell_phones.head()

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0
3  abw  1975                0.0
4  abw  1976                0.0

In [5]:
population.head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [6]:
new_data = pd.merge(cell_phones, population, how='inner', on=['geo', 'time'])

new_data.shape

# Looks like it worked since I got the right answer

(8590, 4)

In [7]:
new_data.head()

   geo  time  cell_phones_total  population_total
0  afg  1960                0.0           8996351
1  afg  1965                0.0           9938414
2  afg  1970                0.0          11126123
3  afg  1975                0.0          12590286
4  afg  1976                0.0          12840299

In [9]:
new_data.sort_values(by=['time'])

      geo  time  cell_phones_total  population_total
0     afg  1960                0.0           8996351
4083  kgz  1960                0.0           2170093
4129  khm  1960                0.0           5722370
535   bel  1960                0.0           9167365
8407  yem  1960                0.0           5172135
7165  svk  1960                0.0           4140129
4175  kir  1960                0.0             41233
4221  kna  1960                0.0             51195
4037  ken  1960                0.0           8105440
4262  kor  1960                0.0          25340918
489   bdi  1960                0.0           2786106
4306  kwt  1960                0.0            269618
4352  lao  1960                0.0           2120896
4398  lbn  1960                0.0           1804926
7073  stp  1960                0.0             64253
4443  lbr  1960                0.0           1120313
4488  lby  1960                0.0           1448417
7119  sur  1960                0.0            289966
443   aze  1960                0.0           3895396
7211  svn  1960                0.0           1586637
581   ben  1960                0.0           2431622
3504  idn  1960                0.0          87792515
3550  ind  1960                0.0         449480608
673   bgd  1960                0.0          48199747
3596  irl  1960                0.0           2822110
8364  wsm  1960                0.0            108646
7348  syc  1960                0.0             41540
3642  irn  1960                0.0          21906903
3991  kaz  1960                0.0           9996000
3688  irq  1960                0.0           7289761
...   ...   ...                ...               ...
7530  tgo  2017          6219981.0           7797694
3181  grd  2017           113177.0            107825
6347  pol  2017         49828596.0          38170712
3273  guy  2017           643210.0            777859
3319  hkg  2017         18340347.0           7364883
7439  syr  2017         15650000.0          18269868
3365  hnd  2017          8233499.0           9265067
3411  hrv  2017          4315580.0           4189353
3135  grc  2017         12937106.0          11159773
7393  syc  2017           167282.0             94737
7682  tls  2017          1546624.0           1296311
2588  fin  2017          7307800.0           5523231
1906  cub  2017          4613782.0          11484636
1952  cyp  2017          1176801.0           1179551
1998  cze  2017         12634937.0          10618303
2044  deu  2017        106000000.0          82114224
2090  dji  2017           373052.0            956985
7863  tur  2017         77800170.0          80745020
2181  dnk  2017          6978348.0           5733551
2634  fji  2017          1033915.0            905502
2224  dom  2017          8769127.0          10766998
2270  dza  2017         49873389.0          41318142
2316  ecu  2017         13881562.0          16624858
2362  egy  2017        102958194.0          97553151
7773  tto  2017          2030637.0           1369125
2450  esp  2017         52484655.0          46354321
2496  est  2017          1904425.0           1309632
2542  eth  2017         62617000.0         104957438
7817  tun  2017         14334080.0          11532127
8589  zwe  2017         14092104.0          16529904

[8590 rows x 4 columns]

Then, select the `geo` and `country` columns from the `geo_country_codes` dataframe, and join with your population and cell phone data.

The resulting dataframe's shape should be: (8590, 5)

In [10]:
geo_country_codes.head()

,geo,alt_5,alternative_1,alternative_2,alternative_3,alternative_4_cdiac,arb1,arb2,arb3,arb4,...,latitude,longitude,main_religion_2008,country,pandg,un_state,unicode_region_subtag,upper_case_name,world_4region,world_6region
0,abkh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Abkhazia,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,NaN,NaN,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,...,12.50000,-69.96667,christian,Aruba,NaN,False,AW,ARUBA,americas,america
2,afg,NaN,Islamic Republic of Afghanistan,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,...,33.00000,66.00000,muslim,Afghanistan,AFGHANISTAN,True,AF,AFGHANISTAN,asia,south_asia
3,ago,NaN,NaN,NaN,NaN,Angola,NaN,NaN,NaN,NaN,...,-12.50000,18.50000,christian,Angola,ANGOLA,True,AO,ANGOLA,africa,sub_saharan_africa
4,aia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.21667,-63.05000,christian,Anguilla,NaN,False,AI,ANGUILLA,americas,america

In [14]:
subset = geo_country_codes[['geo', 'country']]

final = pd.merge(new_data, subset)

final.shape

(8590, 5)

In [15]:
final.head()

   geo  time  cell_phones_total  population_total      country
0  afg  1960                0.0           8996351  Afghanistan
1  afg  1965                0.0           9938414  Afghanistan
2  afg  1970                0.0          11126123  Afghanistan
3  afg  1975                0.0          12590286  Afghanistan
4  afg  1976                0.0          12840299  Afghanistan

In [17]:
final.sort_values(by=['cell_phones_total'], ascending=False)

# All the data I have seen so far has had cell_phones_total as 0, so I wanted 
# to make sure that I did not mess up the data by deleting it all or something,
# so I did a quick sort to make sure there were actually non-zero values.

      geo  time  cell_phones_total  population_total            country
1496  chn  2017       1.474097e+09        1409517397              China
1495  chn  2016       1.364934e+09        1403500365              China
1494  chn  2015       1.291984e+09        1397028553              China
1493  chn  2014       1.286093e+09        1390110388              China
1492  chn  2013       1.229113e+09        1382793212              China
3595  ind  2017       1.168902e+09        1339180127              India
3594  ind  2016       1.127809e+09        1324171354              India
1491  chn  2012       1.112155e+09        1375198619              China
3593  ind  2015       1.001056e+09        1309053980              India
1490  chn  2011       9.862530e+08        1367480264              China
3592  ind  2014       9.440087e+08        1293859294              India
3589  ind  2011       8.938625e+08        1247236029              India
3591  ind  2013       8.863042e+08        1278562207              India
3590  ind  2012       8.647209e+08        1263065852              India
1489  chn  2010       8.590030e+08        1359755102              China
3588  ind  2010       7.521900e+08        1230980691              India
1488  chn  2009       7.472140e+08        1352068091              China
1487  chn  2008       6.412450e+08        1344415227              China
1486  chn  2007       5.473060e+08        1336800506              China
3587  ind  2009       5.250900e+08        1214270132              India
1485  chn  2006       4.610580e+08        1329209094              China
3549  idn  2017       4.589232e+08         263991379          Indonesia
8134  usa  2017       3.958810e+08         324459463      United States
8133  usa  2016       3.958810e+08         322179605      United States
1484  chn  2005       3.934060e+08        1321623490              China
3548  idn  2016       3.855734e+08         261115456          Indonesia
8132  usa  2015       3.823070e+08         319929162      United States
8131  usa  2014       3.555000e+08         317718779      United States
3586  ind  2008       3.468900e+08        1197146906              India
3547  idn  2015       3.389483e+08         258162113          Indonesia
...   ...   ...                ...               ...                ...
3064  gnq  1991       0.000000e+00            440624  Equatorial Guinea
3021  gnb  1994       0.000000e+00           1113541      Guinea-Bissau
3063  gnq  1990       0.000000e+00            426846  Equatorial Guinea
3062  gnq  1989       0.000000e+00            414138  Equatorial Guinea
3061  gnq  1988       0.000000e+00            402326  Equatorial Guinea
3060  gnq  1987       0.000000e+00            390173  Equatorial Guinea
3059  gnq  1986       0.000000e+00            376024  Equatorial Guinea
3058  gnq  1985       0.000000e+00            358896  Equatorial Guinea
3057  gnq  1984       0.000000e+00            338086  Equatorial Guinea
3056  gnq  1983       0.000000e+00            314475  Equatorial Guinea
3055  gnq  1982       0.000000e+00            290617  Equatorial Guinea
3054  gnq  1981       0.000000e+00            270063  Equatorial Guinea
3053  gnq  1980       0.000000e+00            255325  Equatorial Guinea
3052  gnq  1979       0.000000e+00            247078  Equatorial Guinea
3051  gnq  1978       0.000000e+00            244485  Equatorial Guinea
3050  gnq  1977       0.000000e+00            246677  Equatorial Guinea
3049  gnq  1976       0.000000e+00            252194  Equatorial Guinea
3048  gnq  1975       0.000000e+00            259747  Equatorial Guinea
3047  gnq  1970       0.000000e+00            306515  Equatorial Guinea
3046  gnq  1965       0.000000e+00            277396  Equatorial Guinea
3045  gnq  1960       0.000000e+00            255323  Equatorial Guinea
3029  gnb  2002       0.000000e+00           1293523      Guinea-Bissau
3028  gnb  2001       0.000000e+00           1267512      Guinea-Bissau
3027  gnb  2000       0.000000e+00           1243229      Guinea-Bissau
3026  gnb  1999       0.000000e+00           1220794      Guinea-Bissau
3025  gnb  1998       0.000000e+00           1199915      Guinea-Bissau
3024  gnb  1997       0.000000e+00           1179727      Guinea-Bissau
3023  gnb  1996       0.000000e+00           1159060      Guinea-Bissau
3022  gnb  1995       0.000000e+00           1137122      Guinea-Bissau
0     afg  1960       0.000000e+00           8996351        Afghanistan

[8590 rows x 5 columns]

## Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [19]:
final['cell_phones_per_person'] = (final['cell_phones_total'] / final['population_total'])

final.head()

,geo,time,cell_phones_total,population_total,country,cell_phones_per_person
0,afg,1960,0.0,8996351,Afghanistan,0.0
1,afg,1965,0.0,9938414,Afghanistan,0.0
2,afg,1970,0.0,11126123,Afghanistan,0.0
3,afg,1975,0.0,12590286,Afghanistan,0.0
4,afg,1976,0.0,12840299,Afghanistan,0.0

In [22]:
final.tail()

,geo,time,cell_phones_total,population_total,country,cell_phones_per_person
8585,zwe,2013,13633167.0,15054506,Zimbabwe,0.905587
8586,zwe,2014,11798652.0,15411675,Zimbabwe,0.765566
8587,zwe,2015,12757410.0,15777451,Zimbabwe,0.808585
8588,zwe,2016,12878926.0,16150362,Zimbabwe,0.797439
8589,zwe,2017,14092104.0,16529904,Zimbabwe,0.852522

In [23]:
final.sort_values(by=['cell_phones_per_person'], ascending=False)

,geo,time,cell_phones_total,population_total,country,cell_phones_per_person
3319,hkg,2017,18340347.0,7364883,"Hong Kong, China",2.490243
3318,hkg,2016,17584969.0,7302843,"Hong Kong, China",2.407962
3315,hkg,2013,16973133.0,7148571,"Hong Kong, China",2.374339
3316,hkg,2014,16959455.0,7194563,"Hong Kong, China",2.357260
3317,hkg,2015,16724440.0,7245701,"Hong Kong, China",2.308188
3314,hkg,2012,16387536.0,7106399,"Hong Kong, China",2.306025
3313,hkg,2011,15292924.0,7065815,"Hong Kong, China",2.164354
218,are,2016,19905093.0,9269612,United Arab Emirates,2.147349
219,are,2017,19826224.0,9400145,United Arab Emirates,2.109140
809,bhr,2016,2994865.0,1425171,Bahrain,2.101407
5327,mne,2009,1294167.0,622852,Montenegro,2.077808
5056,mdv,2017,900120.0,436330,Maldives,2.062934
4348,kwt,2014,7600000.0,3782450,Kuwait,2.009280
3312,hkg,2010,13793729.0,7025221,"Hong Kong, China",1.963458
217,are,2015,17942560.0,9154302,United Arab Emirates,1.960014
6704,sau,2011,54000000.0,28238020,Saudi Arabia,1.912315
5055,mdv,2016,812128.0,427756,Maldives,1.898578
6703,sau,2010,51564375.0,27425676,Saudi Arabia,1.880150
5328,mne,2010,1170000.0,624285,Montenegro,1.874144
5326,mne,2008,1158032.0,621205,Montenegro,1.864170
216,are,2014,16819024.0,9070867,United Arab Emirates,1.854180
5329,mne,2011,1159112.0,625466,Montenegro,1.853197
345,atg,2011,176008.0,95719,Antigua and Barbuda,1.838799
808,bhr,2015,2519055.0,1371855,Bahrain,1.836240
6143,pan,2010,6646348.0,3643222,Panama,1.824305
6705,sau,2012,53000000.0,29086357,Saudi Arabia,1.822160
6144,pan,2011,6735429.0,3707782,Panama,1.816566
3311,hkg,2009,12597171.0,6983272,"Hong Kong, China",1.803907
1860,cri,2017,8840342.0,4905769,Costa Rica,1.802030
4031,kaz,2012,30235400.0,16921179,Kazakhstan,1.786838
...,...,...,...,...,...,...
4511,lby,1995,0.0,4948798,Libya,0.000000
4510,lby,1994,0.0,4855003,Libya,0.000000
4509,lby,1993,0.0,4755289,Libya,0.000000
4508,lby,1992,0.0,4651004,Libya,0.000000
4507,lby,1991,0.0,4544293,Libya,0.000000
4506,lby,1990,0.0,4436661,Libya,0.000000
4505,lby,1989,0.0,4328914,Libya,0.000000
4504,lby,1988,0.0,4220418,Libya,0.000000
4503,lby,1987,0.0,4109703,Libya,0.000000
4502,lby,1986,0.0,3994591,Libya,0.000000
735,bgr,1988,0.0,8936557,Bulgaria,0.000000
4534,lca,1965,0.0,96302,St. Lucia,0.000000
4551,lca,1990,0.0,138185,St. Lucia,0.000000
4535,lca,1970,0.0,104160,St. Lucia,0.000000
4550,lca,1989,0.0,135956,St. Lucia,0.000000
4549,lca,1988,0.0,133533,St. Lucia,0.000000
4548,lca,1987,0.0,131034,St. Lucia,0.000000
4547,lca,1986,0.0,128619,St. Lucia,0.000000
4546,lca,1985,0.0,126418,St. Lucia,0.000000
4545,lca,1984,0.0,124468,St. Lucia,0.000000
4544,lca,1983,0.0,122740,St. Lucia,0.000000
4543,lca,1982,0.0,121154,St. Lucia,0.000000
4542,lca,1981,0.0,119594,St. Lucia,0.000000
4541,lca,1980,0.0,117987,St. Lucia,0.000000
4540,lca,1979,0.0,116290,St. Lucia,0.000000
4539,lca,1978,0.0,114546,St. Lucia,0.000000
4538,lca,1977,0.0,112831,St. Lucia,0.000000
4537,lca,1976,0.0,111208,St. Lucia,0.000000
4536,lca,1975,0.0,109769,St. Lucia,0.000000
0,afg,1960,0.0,8996351,Afghanistan,0.000000

In [24]:
final.loc[final['country'] == 'United States']

# Down there at the bottom of this list, it looks like I got the right answer so
# it seems like I succeeded.

,geo,time,cell_phones_total,population_total,country,cell_phones_per_person
8092,usa,1960,0.0,186808228,United States,0.000000
8093,usa,1965,0.0,199815540,United States,0.000000
8094,usa,1970,0.0,209588150,United States,0.000000
8095,usa,1975,0.0,219205296,United States,0.000000
8096,usa,1976,0.0,221239215,United States,0.000000
8097,usa,1977,0.0,223324042,United States,0.000000
8098,usa,1978,0.0,225449657,United States,0.000000
8099,usa,1979,0.0,227599878,United States,0.000000
8100,usa,1980,0.0,229763052,United States,0.000000
8101,usa,1984,91600.0,238573861,United States,0.000384
8102,usa,1985,340213.0,240824120,United States,0.001413
8103,usa,1986,681825.0,243098935,United States,0.002805
8104,usa,1987,1230855.0,245402864,United States,0.005016
8105,usa,1988,2069441.0,247739582,United States,0.008353
8106,usa,1989,3508944.0,250113187,United States,0.014029
8107,usa,1990,5283055.0,252529950,United States,0.020921
8108,usa,1991,7557148.0,254974819,United States,0.029639
8109,usa,1992,11032753.0,257454273,United States,0.042853
8110,usa,1993,16009461.0,260020186,United States,0.061570
8111,usa,1994,24134421.0,262741566,United States,0.091856
8112,usa,1995,33785661.0,265658849,United States,0.127177
8113,usa,1996,44042992.0,268803424,United States,0.163848
8114,usa,1997,55312293.0,272136551,United States,0.203252
8115,usa,1998,69209321.0,275542603,United States,0.251175
8116,usa,1999,86047003.0,278862277,United States,0.308565
8117,usa,2000,109478031.0,281982778,United States,0.388244
8118,usa,2001,128500000.0,284852391,United States,0.451111
8119,usa,2002,141800000.0,287506847,United States,0.493206
8120,usa,2003,160637000.0,290027624,United States,0.553868
8121,usa,2004,184819000.0,292539324,United States,0.631775
8122,usa,2005,203700000.0,295129501,United States,0.690205
8123,usa,2006,229600000.0,297827356,United States,0.770916
8124,usa,2007,249300000.0,300595175,United States,0.829355
8125,usa,2008,261300000.0,303374067,United States,0.861313
8126,usa,2009,274283000.0,306076362,United States,0.896126
8127,usa,2010,285118000.0,308641391,United States,0.923784
8128,usa,2011,297404000.0,311051373,United States,0.956125
8129,usa,2012,304838000.0,313335423,United States,0.972881
8130,usa,2013,310698000.0,315536676,United States,0.984665
8131,usa,2014,355500000.0,317718779,United States,1.118914
8132,usa,2015,382307000.0,319929162,United States,1.194974
8133,usa,2016,395881000.0,322179605,United States,1.228759
8134,usa,2017,395881000.0,324459463,United States,1.220125

Modify the `geo` column to make the geo codes uppercase instead of lowercase.

In [25]:
final['geo'].isna().sum()

# No null values, so that's nice.

0

In [0]:
def capitalize(string):
  return string.title()

In [0]:
final['geo'] = final['geo'].apply(capitalize)

In [28]:
final.head()

# Worked : )

,geo,time,cell_phones_total,population_total,country,cell_phones_per_person
0,Afg,1960,0.0,8996351,Afghanistan,0.0
1,Afg,1965,0.0,9938414,Afghanistan,0.0
2,Afg,1970,0.0,11126123,Afghanistan,0.0
3,Afg,1975,0.0,12590286,Afghanistan,0.0
4,Afg,1976,0.0,12840299,Afghanistan,0.0

## Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In [30]:
import numpy as np

final.describe(include = [np.number])

# All numeric columns.

,time,cell_phones_total,population_total,cell_phones_per_person
count,8590.000000,8.590000e+03,8.590000e+03,8590.000000
mean,1994.193481,9.004950e+06,2.983823e+07,0.279639
std,14.257975,5.573408e+07,1.161284e+08,0.454247
min,1960.000000,0.000000e+00,4.433000e+03,0.000000
25%,1983.000000,0.000000e+00,1.456148e+06,0.000000
50%,1995.000000,6.200000e+03,5.725062e+06,0.001564
75%,2006.000000,1.697652e+06,1.810581e+07,0.461149
max,2017.000000,1.474097e+09,1.409517e+09,2.490243

In [31]:
final.describe()

# Although the default provides the same thing.

,time,cell_phones_total,population_total,cell_phones_per_person
count,8590.000000,8.590000e+03,8.590000e+03,8590.000000
mean,1994.193481,9.004950e+06,2.983823e+07,0.279639
std,14.257975,5.573408e+07,1.161284e+08,0.454247
min,1960.000000,0.000000e+00,4.433000e+03,0.000000
25%,1983.000000,0.000000e+00,1.456148e+06,0.000000
50%,1995.000000,6.200000e+03,5.725062e+06,0.001564
75%,2006.000000,1.697652e+06,1.810581e+07,0.461149
max,2017.000000,1.474097e+09,1.409517e+09,2.490243

In [32]:
final.describe(include = [np.object])

# All non-numeric columns.

         geo         country
count   8590            8590
unique   195             195
top      Nzl  United Kingdom
freq      46              46

In [33]:
final.describe(include='all')

# Making sure I didn't miss any columns.

,geo,time,cell_phones_total,population_total,country,cell_phones_per_person
count,8590,8590.000000,8.590000e+03,8.590000e+03,8590,8590.000000
unique,195,NaN,NaN,NaN,195,NaN
top,Nzl,NaN,NaN,NaN,United Kingdom,NaN
freq,46,NaN,NaN,NaN,46,NaN
mean,NaN,1994.193481,9.004950e+06,2.983823e+07,NaN,0.279639
std,NaN,14.257975,5.573408e+07,1.161284e+08,NaN,0.454247
min,NaN,1960.000000,0.000000e+00,4.433000e+03,NaN,0.000000
25%,NaN,1983.000000,0.000000e+00,1.456148e+06,NaN,0.000000
50%,NaN,1995.000000,6.200000e+03,5.725062e+06,NaN,0.001564
75%,NaN,2006.000000,1.697652e+06,1.810581e+07,NaN,0.461149
max,NaN,2017.000000,1.474097e+09,1.409517e+09,NaN,2.490243

In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|    ?    |     1,474,097,000 |
|    ?    |     1,168,902,277 |
|    ?    |       458,923,202 |
|    ?    |       395,881,000 |
|    ?    |       236,488,548 |

In [0]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format

In [35]:
final.sort_values(by=['cell_phones_total'], ascending=False)

# Same code that I did before.

,geo,time,cell_phones_total,population_total,country,cell_phones_per_person
1496,Chn,2017,"1,474,097,000.0",1409517397,China,1.0458168186766978
1495,Chn,2016,"1,364,934,000.0",1403500365,China,0.9725213003418065
1494,Chn,2015,"1,291,984,200.0",1397028553,China,0.9248087286588194
1493,Chn,2014,"1,286,093,000.0",1390110388,China,0.9251732891877361
1492,Chn,2013,"1,229,113,000.0",1382793212,China,0.8888624772913624
3595,Ind,2017,"1,168,902,277.0",1339180127,India,0.8728491809526382
3594,Ind,2016,"1,127,809,000.0",1324171354,India,0.8517092569576913
1491,Chn,2012,"1,112,155,000.0",1375198619,China,0.8087231797896388
3593,Ind,2015,"1,001,056,000.0",1309053980,India,0.7647171280133154
1490,Chn,2011,"986,253,000.0",1367480264,China,0.7212191838989495
3592,Ind,2014,"944,008,677.0",1293859294,India,0.7296069065451255
3589,Ind,2011,"893,862,478.0",1247236029,India,0.7166746768185286
3591,Ind,2013,"886,304,245.0",1278562207,India,0.6932038505029893
3590,Ind,2012,"864,720,917.0",1263065852,India,0.6846206123225949
1489,Chn,2010,"859,003,000.0",1359755102,China,0.6317336105130495
3588,Ind,2010,"752,190,000.0",1230980691,India,0.6110493897259677
1488,Chn,2009,"747,214,000.0",1352068091,China,0.5526452439590929
1487,Chn,2008,"641,245,000.0",1344415227,China,0.4769694564014336
1486,Chn,2007,"547,306,000.0",1336800506,China,0.409414865975522
3587,Ind,2009,"525,090,000.0",1214270132,India,0.43243260800225297
1485,Chn,2006,"461,058,000.0",1329209094,China,0.3468664200998914
3549,Idn,2017,"458,923,202.0",263991379,Indonesia,1.738402230172827
8134,Usa,2017,"395,881,000.0",324459463,United States,1.2201246847283354
8133,Usa,2016,"395,881,000.0",322179605,United States,1.228758722948959
1484,Chn,2005,"393,406,000.0",1321623490,China,0.2976687407394673
3548,Idn,2016,"385,573,398.0",261115456,Indonesia,1.4766395061654258
8132,Usa,2015,"382,307,000.0",319929162,United States,1.1949739048796058
8131,Usa,2014,"355,500,000.0",317718779,United States,1.118914031833164
3586,Ind,2008,"346,890,000.0",1197146906,India,0.2897639364571018
3547,Idn,2015,"338,948,340.0",258162113,Indonesia,1.3129282839422685
...,...,...,...,...,...,...
3064,Gnq,1991,0.0,440624,Equatorial Guinea,0.0
3021,Gnb,1994,0.0,1113541,Guinea-Bissau,0.0
3063,Gnq,1990,0.0,426846,Equatorial Guinea,0.0
3062,Gnq,1989,0.0,414138,Equatorial Guinea,0.0
3061,Gnq,1988,0.0,402326,Equatorial Guinea,0.0
3060,Gnq,1987,0.0,390173,Equatorial Guinea,0.0
3059,Gnq,1986,0.0,376024,Equatorial Guinea,0.0
3058,Gnq,1985,0.0,358896,Equatorial Guinea,0.0
3057,Gnq,1984,0.0,338086,Equatorial Guinea,0.0
3056,Gnq,1983,0.0,314475,Equatorial Guinea,0.0
3055,Gnq,1982,0.0,290617,Equatorial Guinea,0.0
3054,Gnq,1981,0.0,270063,Equatorial Guinea,0.0
3053,Gnq,1980,0.0,255325,Equatorial Guinea,0.0
3052,Gnq,1979,0.0,247078,Equatorial Guinea,0.0
3051,Gnq,1978,0.0,244485,Equatorial Guinea,0.0
3050,Gnq,1977,0.0,246677,Equatorial Guinea,0.0
3049,Gnq,1976,0.0,252194,Equatorial Guinea,0.0
3048,Gnq,1975,0.0,259747,Equatorial Guinea,0.0
3047,Gnq,1970,0.0,306515,Equatorial Guinea,0.0
3046,Gnq,1965,0.0,277396,Equatorial Guinea,0.0
3045,Gnq,1960,0.0,255323,Equatorial Guinea,0.0
3029,Gnb,2002,0.0,1293523,Guinea-Bissau,0.0
3028,Gnb,2001,0.0,1267512,Guinea-Bissau,0.0
3027,Gnb,2000,0.0,1243229,Guinea-Bissau,0.0
3026,Gnb,1999,0.0,1220794,Guinea-Bissau,0.0
3025,Gnb,1998,0.0,1199915,Guinea-Bissau,0.0
3024,Gnb,1997,0.0,1179727,Guinea-Bissau,0.0
3023,Gnb,1996,0.0,1159060,Guinea-Bissau,0.0
3022,Gnb,1995,0.0,1137122,Guinea-Bissau,0.0
0,Afg,1960,0.0,8996351,Afghanistan,0.0

In [40]:
country_phone_subset = final[['country', 'cell_phones_total', 'time']]

country_phone_subset.sort_values(by=['cell_phones_total'], ascending=False)

# Same data, but to clean up the data I made a subset with only country, total number of cell phones, and the year.

                country  cell_phones_total  time
1496              China    1,474,097,000.0  2017
1495              China    1,364,934,000.0  2016
1494              China    1,291,984,200.0  2015
1493              China    1,286,093,000.0  2014
1492              China    1,229,113,000.0  2013
3595              India    1,168,902,277.0  2017
3594              India    1,127,809,000.0  2016
1491              China    1,112,155,000.0  2012
3593              India    1,001,056,000.0  2015
1490              China      986,253,000.0  2011
3592              India      944,008,677.0  2014
3589              India      893,862,478.0  2011
3591              India      886,304,245.0  2013
3590              India      864,720,917.0  2012
1489              China      859,003,000.0  2010
3588              India      752,190,000.0  2010
1488              China      747,214,000.0  2009
1487              China      641,245,000.0  2008
1486              China      547,306,000.0  2007
3587              India      525,090,000.0  2009
1485              China      461,058,000.0  2006
3549          Indonesia      458,923,202.0  2017
8134      United States      395,881,000.0  2017
8133      United States      395,881,000.0  2016
1484              China      393,406,000.0  2005
3548          Indonesia      385,573,398.0  2016
8132      United States      382,307,000.0  2015
8131      United States      355,500,000.0  2014
3586              India      346,890,000.0  2008
3547          Indonesia      338,948,340.0  2015
...                 ...                ...   ...
3064  Equatorial Guinea                0.0  1991
3021      Guinea-Bissau                0.0  1994
3063  Equatorial Guinea                0.0  1990
3062  Equatorial Guinea                0.0  1989
3061  Equatorial Guinea                0.0  1988
3060  Equatorial Guinea                0.0  1987
3059  Equatorial Guinea                0.0  1986
3058  Equatorial Guinea                0.0  1985
3057  Equatorial Guinea                0.0  1984
3056  Equatorial Guinea                0.0  1983
3055  Equatorial Guinea                0.0  1982
3054  Equatorial Guinea                0.0  1981
3053  Equatorial Guinea                0.0  1980
3052  Equatorial Guinea                0.0  1979
3051  Equatorial Guinea                0.0  1978
3050  Equatorial Guinea                0.0  1977
3049  Equatorial Guinea                0.0  1976
3048  Equatorial Guinea                0.0  1975
3047  Equatorial Guinea                0.0  1970
3046  Equatorial Guinea                0.0  1965
3045  Equatorial Guinea                0.0  1960
3029      Guinea-Bissau                0.0  2002
3028      Guinea-Bissau                0.0  2001
3027      Guinea-Bissau                0.0  2000
3026      Guinea-Bissau                0.0  1999
3025      Guinea-Bissau                0.0  1998
3024      Guinea-Bissau                0.0  1997
3023      Guinea-Bissau                0.0  1996
3022      Guinea-Bissau                0.0  1995
0           Afghanistan                0.0  1960

[8590 rows x 3 columns]

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

In [42]:
final.loc[final['country'] == 'United States'].sort_values(by=['cell_phones_total'], ascending=False)

# Doing a quick sort you can see that 2014 was the first year that the USA had 
# more cell phones than people, but I think I can do better.

,geo,time,cell_phones_total,population_total,country,cell_phones_per_person
8134,Usa,2017,"395,881,000.0",324459463,United States,1.2201246847283354
8133,Usa,2016,"395,881,000.0",322179605,United States,1.228758722948959
8132,Usa,2015,"382,307,000.0",319929162,United States,1.1949739048796058
8131,Usa,2014,"355,500,000.0",317718779,United States,1.118914031833164
8130,Usa,2013,"310,698,000.0",315536676,United States,0.9846652501340288
8129,Usa,2012,"304,838,000.0",313335423,United States,0.9728807457559626
8128,Usa,2011,"297,404,000.0",311051373,United States,0.9561250192584747
8127,Usa,2010,"285,118,000.0",308641391,United States,0.9237840688710478
8126,Usa,2009,"274,283,000.0",306076362,United States,0.8961260458264333
8125,Usa,2008,"261,300,000.0",303374067,United States,0.8613129084629373
8124,Usa,2007,"249,300,000.0",300595175,United States,0.8293546295279024
8123,Usa,2006,"229,600,000.0",297827356,United States,0.7709164231374367
8122,Usa,2005,"203,700,000.0",295129501,United States,0.6902054837276331
8121,Usa,2004,"184,819,000.0",292539324,United States,0.6317748925952943
8120,Usa,2003,"160,637,000.0",290027624,United States,0.5538679308699229
8119,Usa,2002,"141,800,000.0",287506847,United States,0.4932056452902494
8118,Usa,2001,"128,500,000.0",284852391,United States,0.45111083515532086
8117,Usa,2000,"109,478,031.0",281982778,United States,0.3882436784845066
8116,Usa,1999,"86,047,003.0",278862277,United States,0.30856451408807795
8115,Usa,1998,"69,209,321.0",275542603,United States,0.25117466499363805
8114,Usa,1997,"55,312,293.0",272136551,United States,0.20325198065731348
8113,Usa,1996,"44,042,992.0",268803424,United States,0.16384832955104026
8112,Usa,1995,"33,785,661.0",265658849,United States,0.12717687036278622
8111,Usa,1994,"24,134,421.0",262741566,United States,0.09185612070227213
8110,Usa,1993,"16,009,461.0",260020186,United States,0.06157006979450434
8109,Usa,1992,"11,032,753.0",257454273,United States,0.042853252624010636
8108,Usa,1991,"7,557,148.0",254974819,United States,0.02963880131237587
8107,Usa,1990,"5,283,055.0",252529950,United States,0.02092050863669834
8106,Usa,1989,"3,508,944.0",250113187,United States,0.01402942420624947
8105,Usa,1988,"2,069,441.0",247739582,United States,0.008353291723887707
8104,Usa,1987,"1,230,855.0",245402864,United States,0.005015650510093476
8103,Usa,1986,"681,825.0",243098935,United States,0.0028047222831313516
8102,Usa,1985,"340,213.0",240824120,United States,0.0014127031793991398
8101,Usa,1984,"91,600.0",238573861,United States,0.0003839481811462992
8097,Usa,1977,0.0,223324042,United States,0.0
8094,Usa,1970,0.0,209588150,United States,0.0
8095,Usa,1975,0.0,219205296,United States,0.0
8096,Usa,1976,0.0,221239215,United States,0.0
8093,Usa,1965,0.0,199815540,United States,0.0
8098,Usa,1978,0.0,225449657,United States,0.0
8099,Usa,1979,0.0,227599878,United States,0.0
8100,Usa,1980,0.0,229763052,United States,0.0
8092,Usa,1960,0.0,186808228,United States,0.0

In [47]:
condition = ((final.country=='United States') & (final.cell_phones_total > final.population_total))

columns = ['country',
          'cell_phones_total',
          'population_total',
          'time']

subset2 = final.loc[condition, columns]

subset2.head()

# A subset of all the years in which there were more cell phones than people in the United States.

            country  cell_phones_total  population_total  time
8131  United States      355,500,000.0         317718779  2014
8132  United States      382,307,000.0         319929162  2015
8133  United States      395,881,000.0         322179605  2016
8134  United States      395,881,000.0         324459463  2017

## Part 4. Reshape data

Create a pivot table:
- Columns: Years 2007—2017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

In [54]:
# pivot_subset = final[final.country != ['United States', 'Brazil', 'Indonesia', 'China', 'India']]

# pivot_subset = final.ix[~(final['country'] == ['United States', 'Brazil', 'Indonesia', 'China', 'India'])]

# pivot_subset = ~final.country.isin(['United States', 'Brazil', 'Indonesia', 'China', 'India'])

# pivot_subset.head()

0    True
1    True
2    True
3    True
4    True
Name: country, dtype: bool

In [0]:
# print(final[pivot_subset])

In [0]:
# rows = final['country'] != ['United States', 'Brazil', 'Indonesia', 'China', 'India']

# final.set_index('country').drop(rows).reset_index()

# final.head()

In [0]:
# df = df[df.line_race != 0]

final_pivot = final.pivot(index='country', columns='time', values='cell_phones_total')

In [51]:
final_pivot.shape

# The pivot table is made, but it is not the right shape.

(195, 46)

In [57]:
final_pivot.head()

time,1960,1965,1970,1975,1976,1977,1978,1979,1980,1981,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"7,898,909.0","10,500,000.0","10,215,840.0","13,797,879.0","15,340,115.0","16,807,156.0","18,407,168.0","19,709,038.0","21,602,982.0","23,929,713.0"
Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"1,859,632.0","2,463,741.0","2,692,372.0","3,100,000.0","3,500,000.0","3,685,983.0","3,359,654.0","3,400,955.0","3,369,756.0","3,497,950.0"
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"27,031,472.0","32,729,824.0","32,780,165.0","35,615,926.0","37,527,703.0","39,517,045.0","43,298,174.0","43,227,643.0","47,041,321.0","49,873,389.0"
Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"64,202.0","64,549.0","65,495.0","65,044.0","63,865.0","63,931.0","66,241.0","71,336.0","76,132.0","80,337.0"
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"6,773,356.0","8,109,421.0","9,403,365.0","12,073,218.0","12,785,109.0","13,285,198.0","14,052,558.0","13,884,532.0","13,001,124.0","13,323,952.0"

In [97]:
# final_pivot.drop('1960')

final_pivot.head()

time,1960,1965,1970,1975,1976,1977,1978,1979,1980,1981,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"7,898,909.0","10,500,000.0","10,215,840.0","13,797,879.0","15,340,115.0","16,807,156.0","18,407,168.0","19,709,038.0","21,602,982.0","23,929,713.0"
Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"1,859,632.0","2,463,741.0","2,692,372.0","3,100,000.0","3,500,000.0","3,685,983.0","3,359,654.0","3,400,955.0","3,369,756.0","3,497,950.0"
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"27,031,472.0","32,729,824.0","32,780,165.0","35,615,926.0","37,527,703.0","39,517,045.0","43,298,174.0","43,227,643.0","47,041,321.0","49,873,389.0"
Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"64,202.0","64,549.0","65,495.0","65,044.0","63,865.0","63,931.0","66,241.0","71,336.0","76,132.0","80,337.0"
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"6,773,356.0","8,109,421.0","9,403,365.0","12,073,218.0","12,785,109.0","13,285,198.0","14,052,558.0","13,884,532.0","13,001,124.0","13,323,952.0"

In [93]:
# final['country'] = final.country['United States', 'Brazil', 'Indonesia', 'China', 'India']

# final.head()

ValueError: ignored

In [94]:
condition = ((final.country=='United States') or 
             (final.country=='Brazil') or 
             (final.country=='India') or
             (final.country=='China') or
             (final.country=='Indonesia') & 
             (final.time > 2006))

# columns = ['country',
#           'cell_phones_total',
#           'population_total',
#           'time']

# subset3 = final.loc[condition, columns]

# subset3.head()

ValueError: ignored

In [0]:
# ['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']

In [0]:
condition = [final.country == ('United States', 'Brazil', 'Indonesia', 'China', 'India')]

In [0]:
condition2 = [(final.time > 2006)]

In [82]:
# pivoted = pd.merge(condition, condition2, how='inner')

# pivoted.head()


# columns = ['user_id', 
#            'order_id', 
#            'order_number', 
#            'order_dow', 
#            'order_hour_of_day']

subset3 = final.loc[condition, condition2]

ValueError: ignored

In [66]:
# placeholder = (final['time'] != ['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'])

# df = final.drop(final[final.time < 2007].index)

# df.head(15)

# final_pivot.drop(columns=[placeholder])

,geo,time,cell_phones_total,population_total,country,cell_phones_per_person
35,Afg,2007,"4,668,096.0",26616792,Afghanistan,0.17538161623684778
36,Afg,2008,"7,898,909.0",27294031,Afghanistan,0.2894006019118246
37,Afg,2009,"10,500,000.0",28004331,Afghanistan,0.3749420045063744
38,Afg,2010,"10,215,840.0",28803167,Afghanistan,0.3546776644387751
39,Afg,2011,"13,797,879.0",29708599,Afghanistan,0.46444058166458807
40,Afg,2012,"15,340,115.0",30696958,Afghanistan,0.49972753000476466
41,Afg,2013,"16,807,156.0",31731688,Afghanistan,0.5296647313562393
42,Afg,2014,"18,407,168.0",32758020,Afghanistan,0.5619133268738464
43,Afg,2015,"19,709,038.0",33736494,Afghanistan,0.5842052822679203
44,Afg,2016,"21,602,982.0",34656032,Afghanistan,0.6233541681863636
45,Afg,2017,"23,929,713.0",35530081,Afghanistan,0.6735057260353557
81,Ago,2007,"4,961,536.0",20997687,Angola,0.23628964466419564
82,Ago,2008,"6,773,356.0",21759420,Angola,0.3112838485584634
83,Ago,2009,"8,109,421.0",22549547,Angola,0.3596267809725845
84,Ago,2010,"9,403,365.0",23369131,Angola,0.4023840253195551

In [69]:
# df = df.drop(df[df.country] != ['United States', 'Brazil', 'Indonesia', 'China', 'India'], axis=1)

KeyError: ignored

#### OPTIONAL BONUS QUESTION!

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

If you have the time and curiosity, what other questions can you ask and answer with this data?