<a href="https://colab.research.google.com/github/coding-ss/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/DS_Unit_1_Sprint_Challenge_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling

In this Sprint Challenge you will use data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the Sprint Challenge!
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html]) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

## Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

## Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [2]:
cell_phones.head()

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0
3  abw  1975                0.0
4  abw  1976                0.0

In [3]:
population.head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [0]:
merged = pd.merge(population,cell_phones,how='inner', on=('geo','time'))

In [7]:
merged.shape

(8590, 4)

Then, select the `geo` and `country` columns from the `geo_country_codes` dataframe, and join with your population and cell phone data.

The resulting dataframe's shape should be: (8590, 5)

In [8]:
geo_country_codes.head()

,geo,alt_5,alternative_1,alternative_2,alternative_3,alternative_4_cdiac,arb1,arb2,arb3,arb4,...,latitude,longitude,main_religion_2008,country,pandg,un_state,unicode_region_subtag,upper_case_name,world_4region,world_6region
0,abkh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Abkhazia,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,NaN,NaN,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,...,12.50000,-69.96667,christian,Aruba,NaN,False,AW,ARUBA,americas,america
2,afg,NaN,Islamic Republic of Afghanistan,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,...,33.00000,66.00000,muslim,Afghanistan,AFGHANISTAN,True,AF,AFGHANISTAN,asia,south_asia
3,ago,NaN,NaN,NaN,NaN,Angola,NaN,NaN,NaN,NaN,...,-12.50000,18.50000,christian,Angola,ANGOLA,True,AO,ANGOLA,africa,sub_saharan_africa
4,aia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.21667,-63.05000,christian,Anguilla,NaN,False,AI,ANGUILLA,americas,america

In [0]:
final = pd.merge(merged,geo_country_codes[['geo','country']])

In [13]:
final.shape

(8590, 5)

In [18]:
final

      geo  time  population_total  cell_phones_total      country
0     afg  1960           8996351                0.0  Afghanistan
1     afg  1965           9938414                0.0  Afghanistan
2     afg  1970          11126123                0.0  Afghanistan
3     afg  1975          12590286                0.0  Afghanistan
4     afg  1976          12840299                0.0  Afghanistan
5     afg  1977          13067538                0.0  Afghanistan
6     afg  1978          13237734                0.0  Afghanistan
7     afg  1979          13306695                0.0  Afghanistan
8     afg  1980          13248370                0.0  Afghanistan
9     afg  1981          13053954                0.0  Afghanistan
10    afg  1982          12749645                0.0  Afghanistan
11    afg  1983          12389269                0.0  Afghanistan
12    afg  1984          12047115                0.0  Afghanistan
13    afg  1985          11783050                0.0  Afghanistan
14    afg  1986          11601041                0.0  Afghanistan
15    afg  1987          11502761                0.0  Afghanistan
16    afg  1988          11540888                0.0  Afghanistan
17    afg  1989          11777609                0.0  Afghanistan
18    afg  1990          12249114                0.0  Afghanistan
19    afg  1991          12993657                0.0  Afghanistan
20    afg  1992          13981231                0.0  Afghanistan
21    afg  1993          15095099                0.0  Afghanistan
22    afg  1994          16172719                0.0  Afghanistan
23    afg  1995          17099541                0.0  Afghanistan
24    afg  1996          17822884                0.0  Afghanistan
25    afg  1997          18381605                0.0  Afghanistan
26    afg  1998          18863999                0.0  Afghanistan
27    afg  1999          19403676                0.0  Afghanistan
28    afg  2000          20093756                0.0  Afghanistan
29    afg  2001          20966463                0.0  Afghanistan
...   ...   ...               ...                ...          ...
8560  zwe  1988           9604302                0.0     Zimbabwe
8561  zwe  1989           9902540                0.0     Zimbabwe
8562  zwe  1990          10183113                0.0     Zimbabwe
8563  zwe  1991          10443043                0.0     Zimbabwe
8564  zwe  1992          10682868                0.0     Zimbabwe
8565  zwe  1993          10905756                0.0     Zimbabwe
8566  zwe  1994          11116948                0.0     Zimbabwe
8567  zwe  1995          11320346                0.0     Zimbabwe
8568  zwe  1996          11518262                0.0     Zimbabwe
8569  zwe  1997          11709997             5734.0     Zimbabwe
8570  zwe  1998          11893272            19000.0     Zimbabwe
8571  zwe  1999          12064537           174000.0     Zimbabwe
8572  zwe  2000          12222251           266441.0     Zimbabwe
8573  zwe  2001          12366165           314002.0     Zimbabwe
8574  zwe  2002          12500525           338779.0     Zimbabwe
8575  zwe  2003          12633897           363651.0     Zimbabwe
8576  zwe  2004          12777511           425745.0     Zimbabwe
8577  zwe  2005          12940032           647110.0     Zimbabwe
8578  zwe  2006          13124267           849146.0     Zimbabwe
8579  zwe  2007          13329909          1225654.0     Zimbabwe
8580  zwe  2008          13558469          1654721.0     Zimbabwe
8581  zwe  2009          13810599          3991000.0     Zimbabwe
8582  zwe  2010          14086317          7700000.0     Zimbabwe
8583  zwe  2011          14386649          9200000.0     Zimbabwe
8584  zwe  2012          14710826         12613935.0     Zimbabwe
8585  zwe  2013          15054506         13633167.0     Zimbabwe
8586  zwe  2014          15411675         11798652.0     Zimbabwe
8587  zwe  2015          15777451         12757410.0     Zimbabwe
8588  zwe  2016          16150362         12878926.0     Zimbabwe
8589  zwe  2017          16529904         14092104.0     Zimbabwe

[8590 rows x 5 columns]

In [31]:
final['country'].value_counts().head(500)

Togo                    46
Panama                  46
Rwanda                  46
Hong Kong, China        46
Sri Lanka               46
Malawi                  46
Azerbaijan              46
Uganda                  46
Georgia                 46
Philippines             46
Finland                 46
Fiji                    46
Bulgaria                46
Slovak Republic         46
Niger                   46
Trinidad and Tobago     46
Germany                 46
Honduras                46
Cyprus                  46
Cape Verde              46
Zimbabwe                46
Hungary                 46
Switzerland             46
Seychelles              46
Guyana                  46
Syria                   46
China                   46
Angola                  46
France                  46
Mozambique              46
                        ..
North Korea             45
Dominica                45
South Korea             44
Tuvalu                  44
Guinea                  44
Tunisia                 44
St. Lucia               43
Samoa                   43
United States           43
Dominican Republic      43
Congo, Dem. Rep.        43
Spain                   43
Singapore               42
Sierra Leone            42
St. Kitts and Nevis     41
Antigua and Barbuda     39
Qatar                   38
Marshall Islands        36
United Arab Emirates    36
Nauru                   35
Israel                  28
Saudi Arabia            28
San Marino              27
Palestine               22
Liechtenstein           21
Timor-Leste             16
Montenegro              14
Palau                   14
Serbia                  14
South Sudan              8
Name: country, Length: 195, dtype: int64

## Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [17]:
cell_phones_per_person = len('cell_phones_total')/len('population_total')
cell_phones_per_person

1.0625

In [46]:
final.loc[(final['country'] == 'United States') & (final['time'] == 2017)]

      geo  time  population_total  cell_phones_total        country
8134  USA  2017         324459463        395881000.0  United States

In [47]:
395881000.0/324459463

1.2201246847283354

Modify the `geo` column to make the geo codes uppercase instead of lowercase.

In [26]:
final['geo'] = final['geo'].str.upper()
final['geo'].head()

0    AFG
1    AFG
2    AFG
3    AFG
4    AFG
Name: geo, dtype: object

## Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In [32]:
final.describe()

              time  population_total  cell_phones_total
count  8590.000000      8.590000e+03       8.590000e+03
mean   1994.193481      2.983823e+07       9.004950e+06
std      14.257975      1.161284e+08       5.573408e+07
min    1960.000000      4.433000e+03       0.000000e+00
25%    1983.000000      1.456148e+06       0.000000e+00
50%    1995.000000      5.725062e+06       6.200000e+03
75%    2006.000000      1.810581e+07       1.697652e+06
max    2017.000000      1.409517e+09       1.474097e+09

In [36]:
# To show all numeric columns

import numpy as np 

final.describe(include=[np.number])

              time  population_total  cell_phones_total
count  8590.000000      8.590000e+03       8.590000e+03
mean   1994.193481      2.983823e+07       9.004950e+06
std      14.257975      1.161284e+08       5.573408e+07
min    1960.000000      4.433000e+03       0.000000e+00
25%    1983.000000      1.456148e+06       0.000000e+00
50%    1995.000000      5.725062e+06       6.200000e+03
75%    2006.000000      1.810581e+07       1.697652e+06
max    2017.000000      1.409517e+09       1.474097e+09

In [37]:
# To show all non-numeric columns

final.describe(include=[np.object])

         geo country
count   8590    8590
unique   195     195
top      ZMB    Togo
freq      46      46

In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|    ?    |     1,474,097,000 |
|    ?    |     1,168,902,277 |
|    ?    |       458,923,202 |
|    ?    |       395,881,000 |
|    ?    |       236,488,548 |

In [152]:
f2 = final.sort_values(by='time').tail(168)

      geo  time  population_total  cell_phones_total                country
8543  ZMB  2017          17094130       13,438,539.0                 Zambia
311   ARM  2017           2930450        3,488,524.0                Armenia
8497  ZAF  2017          56717156       91,878,275.0           South Africa
219   ARE  2017           9400145       19,826,224.0   United Arab Emirates
183   AND  2017             76965           80,337.0                Andorra
137   ALB  2017           2930187        3,497,950.0                Albania
91    AGO  2017          29784193       13,323,952.0                 Angola
396   AUS  2017          24450561       27,553,000.0              Australia
45    AFG  2017          35530081       23,929,713.0            Afghanistan
265   ARG  2017          44271041       61,897,379.0              Argentina
3227  GTM  2017          16913503       19,986,482.0              Guatemala
488   AZE  2017           9827589       10,127,000.0             Azerbaijan
4305  KOR  2017          50982212       63,658,688.0            South Korea
4351  KWT  2017           4136528        5,136,384.0                 Kuwait
4397  LAO  2017           6858160        3,711,813.0                    Lao
7072  SSD  2017          12575714        1,511,529.0            South Sudan
7064  SRB  2017           8790574        8,626,903.0                 Serbia
7005  SMR  2017             33400           38,000.0             San Marino
4575  LCA  2017            178844          176,694.0              St. Lucia
6978  SLV  2017           6377853        9,982,186.0            El Salvador
4596  LIE  2017             37922           46,625.0          Liechtenstein
4642  LKA  2017          20876917       28,199,083.0              Sri Lanka
4688  LSO  2017           2233339        2,380,804.0                Lesotho
4734  LTU  2017           2890297        4,361,329.0              Lithuania
4780  LUX  2017            583455          794,000.0             Luxembourg
4826  LVA  2017           1949670        2,464,122.0                 Latvia
6890  SLB  2017            611343          465,331.0        Solomon Islands
7118  STP  2017            204327          173,646.0  Sao Tome and Principe
4261  KNA  2017             55345           76,878.0    St. Kitts and Nevis
4220  KIR  2017            116398           46,123.0               Kiribati
...   ...   ...               ...                ...                    ...
7530  TGO  2017           7797694        6,219,981.0                   Togo
3181  GRD  2017            107825          113,177.0                Grenada
6347  POL  2017          38170712       49,828,596.0                 Poland
3273  GUY  2017            777859          643,210.0                 Guyana
3319  HKG  2017           7364883       18,340,347.0       Hong Kong, China
7439  SYR  2017          18269868       15,650,000.0                  Syria
3365  HND  2017           9265067        8,233,499.0               Honduras
3411  HRV  2017           4189353        4,315,580.0                Croatia
3135  GRC  2017          11159773       12,937,106.0                 Greece
7393  SYC  2017             94737          167,282.0             Seychelles
7682  TLS  2017           1296311        1,546,624.0            Timor-Leste
2588  FIN  2017           5523231        7,307,800.0                Finland
1906  CUB  2017          11484636        4,613,782.0                   Cuba
1952  CYP  2017           1179551        1,176,801.0                 Cyprus
1998  CZE  2017          10618303       12,634,937.0         Czech Republic
2044  DEU  2017          82114224      106,000,000.0                Germany
2090  DJI  2017            956985          373,052.0               Djibouti
7863  TUR  2017          80745020       77,800,170.0                 Turkey
2181  DNK  2017           5733551        6,978,348.0                Denmark
2634  FJI  2017            905502        1,033,915.0                   Fiji
2224  DOM  2017          10766998        8,769,127.0     Dominican Republic
2270  DZA  2017          41318142       49,873,389.0                Algeria
2316  ECU  2017          16624858       13,881,562.0                Ecuador
2362  EGY  2017          97553151      102,958,194.0                  Egypt
7773  TTO  2017           1369125        2,030,637.0    Trinidad and Tobago
2450  ESP  2017          46354321       52,484,655.0                  Spain
2496  EST  2017           1309632        1,904,425.0                Estonia
2542  ETH  2017         104957438       62,617,000.0               Ethiopia
7817  TUN  2017          11532127       14,334,080.0                Tunisia
8589  ZWE  2017          16529904       14,092,104.0               Zimbabwe

[168 rows x 5 columns]

In [0]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

In [0]:

f = final.query('cell_phones_total > population_total')

In [141]:
# In 2014, US had more cell phones than people

f.tail(50)

,geo,time,population_total,cell_phones_total,country
8039,UKR,2011,45576307,"55,576,481.0",Ukraine
8040,UKR,2012,45349333,"59,343,693.0",Ukraine
8041,UKR,2013,45115785,"62,458,800.0",Ukraine
8042,UKR,2014,44883426,"61,170,229.0",Ukraine
8043,UKR,2015,44657704,"60,720,073.0",Ukraine
8044,UKR,2016,44438625,"56,717,856.0",Ukraine
8045,UKR,2017,44222947,"55,714,733.0",Ukraine
8082,URY,2008,3350824,"3,507,816.0",Uruguay
8083,URY,2009,3362755,"4,111,560.0",Uruguay
8084,URY,2010,3374415,"4,437,158.0",Uruguay
8085,URY,2011,3385624,"4,757,425.0",Uruguay
8086,URY,2012,3396777,"4,995,459.0",Uruguay
8087,URY,2013,3408005,"5,267,947.0",Uruguay
8088,URY,2014,3419546,"5,497,094.0",Uruguay
8089,URY,2015,3431552,"5,165,474.0",Uruguay
8090,URY,2016,3444006,"5,116,736.0",Uruguay
8091,URY,2017,3456750,"5,097,569.0",Uruguay
8131,USA,2014,317718779,"355,500,000.0",United States
8132,USA,2015,319929162,"382,307,000.0",United States
8133,USA,2016,322179605,"395,881,000.0",United States
8134,USA,2017,324459463,"395,881,000.0",United States
8215,VCT,2007,109047,"110,491.0",St. Vincent and the Grenadines
8216,VCT,2008,109165,"130,098.0",St. Vincent and the Grenadines
8217,VCT,2009,109253,"121,114.0",St. Vincent and the Grenadines
8218,VCT,2010,109315,"131,791.0",St. Vincent and the Grenadines
8219,VCT,2011,109341,"131,809.0",St. Vincent and the Grenadines
8220,VCT,2012,109328,"126,992.0",St. Vincent and the Grenadines
8221,VCT,2013,109320,"125,378.0",St. Vincent and the Grenadines
8222,VCT,2014,109357,"115,017.0",St. Vincent and the Grenadines
8223,VCT,2015,109455,"113,371.0",St. Vincent and the Grenadines
8224,VCT,2016,109643,"112,649.0",St. Vincent and the Grenadines
8225,VCT,2017,109897,"116,161.0",St. Vincent and the Grenadines
8266,VEN,2012,29893080,"30,569,073.0",Venezuela
8267,VEN,2013,30317848,"30,896,079.0",Venezuela
8309,VNM,2009,87565407,"98,223,980.0",Vietnam
8310,VNM,2010,88472512,"111,570,201.0",Vietnam
8311,VNM,2011,89436644,"127,318,045.0",Vietnam
8312,VNM,2012,90451881,"131,673,724.0",Vietnam
8313,VNM,2013,91497725,"123,735,557.0",Vietnam
8314,VNM,2014,92544915,"136,148,124.0",Vietnam
8315,VNM,2015,93571567,"120,324,052.0",Vietnam
8316,VNM,2016,94569072,"120,600,235.0",Vietnam
8317,VNM,2017,95540800,"120,016,181.0",Vietnam
8491,ZAF,2011,52263516,"64,000,000.0",South Africa
8492,ZAF,2012,52998213,"68,394,000.0",South Africa
8493,ZAF,2013,53767396,"76,865,278.0",South Africa
8494,ZAF,2014,54539571,"79,280,731.0",South Africa
8495,ZAF,2015,55291225,"87,999,492.0",South Africa
8496,ZAF,2016,56015473,"82,412,880.0",South Africa
8497,ZAF,2017,56717156,"91,878,275.0",South Africa

## Part 4. Reshape data

Create a pivot table:
- Columns: Years 2007—2017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

In [0]:

time1= final.loc[(final['time'] >= 2007) & (final['time'] <= 2017)]
time1

In [81]:

final['country'].value_counts().head(100).index

Index(['Togo', 'Panama', 'Rwanda', 'Hong Kong, China', 'Sri Lanka', 'Malawi',
       'Azerbaijan', 'Uganda', 'Georgia', 'Philippines', 'Finland', 'Fiji',
       'Bulgaria', 'Slovak Republic', 'Niger', 'Trinidad and Tobago',
       'Germany', 'Honduras', 'Cyprus', 'Cape Verde', 'Zimbabwe', 'Hungary',
       'Switzerland', 'Seychelles', 'Guyana', 'Syria', 'China', 'Angola',
       'France', 'Mozambique', 'Suriname', 'Moldova', 'Mexico', 'Iceland',
       'Nepal', 'Mauritius', 'Argentina', 'Poland', 'Ireland', 'Denmark',
       'Albania', 'Australia', 'Bosnia and Herzegovina', 'Guinea-Bissau',
       'Ecuador', 'Kuwait', 'Vietnam', 'Portugal', 'Pakistan', 'Malta',
       'Bolivia', 'Chile', 'Sao Tome and Principe', 'Paraguay', 'Peru',
       'Andorra', 'Lao', 'Burundi', 'Tanzania', 'Sweden', 'Indonesia',
       'Guatemala', 'Austria', 'Thailand', 'Solomon Islands', 'Iraq',
       'Costa Rica', 'Norway', 'Canada', 'Vanuatu', 'Comoros', 'Gabon',
       'Bangladesh', 'India', 'Mauritania', 'Slovenia', 'Belgium', 'Cuba',
       'Benin', 'Iran', 'Japan', 'Haiti', 'Croatia', 'Algeria',
       'Czech Republic', 'Venezuela', 'Djibouti', 'Uruguay', 'Estonia',
       'Mongolia', 'Maldives', 'New Zealand', 'Bahrain', 'Botswana', 'Kenya',
       'Senegal', 'Burkina Faso', 'Macedonia, FYR', 'Grenada', 'Egypt'],
      dtype='object')

In [0]:

final['country']=final['country'].str.strip()

In [0]:
country1 = final.groupby(['country']).groups.keys()

In [113]:
                   
table = final.pivot_table(values = 'cell_phones_total',
                  index=['country'],
                  columns=['time'])

table.head()

time,1960,1965,1970,1975,1976,1977,1978,1979,1980,1981,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7898909.0,10500000.0,10215840.0,13797879.0,15340115.0,16807156.0,18407168.0,19709038.0,21602982.0,23929713.0
Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1859632.0,2463741.0,2692372.0,3100000.0,3500000.0,3685983.0,3359654.0,3400955.0,3369756.0,3497950.0
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27031472.0,32729824.0,32780165.0,35615926.0,37527703.0,39517045.0,43298174.0,43227643.0,47041321.0,49873389.0
Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,64202.0,64549.0,65495.0,65044.0,63865.0,63931.0,66241.0,71336.0,76132.0,80337.0
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6773356.0,8109421.0,9403365.0,12073218.0,12785109.0,13285198.0,14052558.0,13884532.0,13001124.0,13323952.0

In [118]:
table1 = table.groupby(['country'])
table1.head()

time,1960,1965,1970,1975,1976,1977,1978,1979,1980,1981,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7898909.0,10500000.0,10215840.0,13797879.0,15340115.0,16807156.0,18407168.0,19709038.0,21602982.0,23929713.0
Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1859632.0,2463741.0,2692372.0,3100000.0,3500000.0,3685983.0,3359654.0,3400955.0,3369756.0,3497950.0
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27031472.0,32729824.0,32780165.0,35615926.0,37527703.0,39517045.0,43298174.0,43227643.0,47041321.0,49873389.0
Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,64202.0,64549.0,65495.0,65044.0,63865.0,63931.0,66241.0,71336.0,76132.0,80337.0
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6773356.0,8109421.0,9403365.0,12073218.0,12785109.0,13285198.0,14052558.0,13884532.0,13001124.0,13323952.0
Antigua and Barbuda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,136592.0,134925.0,167970.0,176008.0,127381.0,114358.0,120041.0,176000.0,180000.0,NaN
Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,46508774.0,52482780.0,57082298.0,60722729.0,64327647.0,67361515.0,61234216.0,61842011.0,63723692.0,61897379.0
Armenia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1442000.0,2191500.0,3865354.0,3211215.0,3322837.0,3346275.0,3459137.0,3464490.0,3434567.0,3488524.0
Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22120000.0,22200000.0,22500000.0,23789000.0,24338000.0,24940000.0,25060000.0,25770000.0,26551000.0,27553000.0
Austria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10816000.0,11434000.0,12241000.0,13022578.0,13588000.0,13272000.0,12952605.0,13470623.0,14270000.0,14924340.0
Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6548000.0,7757120.0,9100113.0,10120105.0,10125200.0,10130102.0,10552520.0,10697132.0,10189000.0,10127000.0
Bahamas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,358050.0,358812.0,428377.0,298790.0,300000.0,287000.0,314842.0,311175.0,360200.0,353540.0
Bahrain,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1440782.0,1401974.0,1567000.0,1693650.0,2123903.0,2210190.0,2328994.0,2519055.0,2994865.0,2364477.0
Bangladesh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,44640000.0,51359315.0,67923887.0,84368700.0,97180000.0,116553076.0,126866091.0,131375724.0,135981846.0,145113669.0
Barbados,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,288662.0,337061.0,350061.0,347917.0,349296.0,307708.0,305456.0,334792.0,332208.0,337791.0
Belarus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8128000.0,9686200.0,10332900.0,10694900.0,10676471.0,11114440.0,11401927.0,11448281.0,11439866.0,11415141.0
Belgium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11341704.0,11775240.0,12154041.0,12495934.0,12313375.0,12315217.0,12734724.0,12774090.0,12550821.0,11961089.0
Belize,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,160032.0,161783.0,194201.0,222407.0,172423.0,174615.0,172300.0,211946.0,227000.0,NaN
Benin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3625366.0,5033349.0,7074914.0,7765206.0,8407846.0,9627447.0,8660432.0,9317955.0,8892490.0,8773044.0
Bhutan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,253429.0,338938.0,394316.0,484189.0,560890.0,544337.0,624536.0,675747.0,698373.0,730623.0
Bolivia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5038600.0,6464390.0,7179293.0,8353273.0,9493207.0,10425704.0,10450341.0,10162829.0,10106216.0,10963224.0
Bosnia and Herzegovina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3179036.0,3257239.0,3110233.0,3171283.0,3357541.0,3488319.0,3491188.0,3443520.0,3404043.0,3440085.0
Botswana,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1485791.0,1874101.0,2363411.0,2900263.0,3081726.0,3246787.0,3410507.0,3475327.0,3288986.0,3240589.0
Brazil,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,150641403.0,169385584.0,196929978.0,234357507.0,248323703.0,271099799.0,280728796.0,257814274.0,244067356.0,236488548.0
Brunei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,398857.0,412882.0,435104.0,443161.0,469740.0,468814.0,452054.0,463384.0,523453.0,544732.0
Bulgaria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10429012.0,10454822.0,10199942.0,10475083.0,10780732.0,10486824.0,9486927.0,9194633.0,8973869.0,8532908.0
Burkina Faso,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3024150.0,3823625.0,5707850.0,7682100.0,9976105.0,11240886.0,12494391.0,14446897.0,15404040.0,17946375.0
Burundi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,480584.0,920749.0,1678029.0,1914586.0,2247126.0,2536831.0,3193257.0,4997696.0,5357816.0,5920612.0
Cambodia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4237000.0,6268000.0,8150764.0,13757000.0,19105115.0,20264514.0,20451982.0,20850543.0,19915503.0,18572973.0
Cameroon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6160893.0,8004120.0,8636652.0,10486614.0,13108058.0,15664666.0,17039059.0,18160667.0,18717503.0,19706027.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sudan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11991469.0,15339895.0,18093231.0,25056185.0,27658595.0,27657875.0,27796611.0,27938507.0,27807293.0,28644139.0
Suriname,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,657106.0,763912.0,521166.0,533522.0,569069.0,868600.0,927800.0,750458.0,806881.0,795871.0
Swaziland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,531643.0,664432.0,725802.0,766540.0,805000.0,893000.0,916800.0,941000.0,995000.0,NaN
Sweden,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20362.0,...,10014000.0,10440000.0,10992407.0,11454252.0,11848449.0,12014368.0,12312533.0,12638827.0,12543188.0,12435709.0
Switzerland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8896706.0,9322580.0,9644157.0,10082636.0,10561075.0,11048637.0,11150000.0,11243210.0,11242100.0,11292000.0
Syria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7056158.0,10021861.0,11696000.0,12917000.0,12980000.0,12291150.0,14039749.0,14312271.0,13349860.0,15650000.0
Tajikistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3673520.0,4900000.0,5940842.0,6324000.0,6528000.0,7537100.0,7999100.0,8489000.0,9400000.0,NaN
Tanzania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13006793.0,17469486.0,20983853.0,25666455.0,27219283.0,27442823.0,31862656.0,39665600.0,40044186.0,39953860.0
Thailand,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,61837164.0,65952313.0,71726300.0,77449000.0,85012000.0,93849000.0,97096000.0,102942000.0,119669000.0,121530000.0
Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,125002.0,350891.0,473020.0,614151.0,621000.0,650000.0,1375749.0,1376669.0,1492124.0,1546624.0
Togo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1549542.0,2187334.0,2602283.0,2695335.0,3312239.0,4262993.0,4516114.0,4855206.0,5505424.0,6219981.0
Tonga,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,50472.0,53000.0,54300.0,55000.0,56000.0,57500.0,68000.0,73493.0,80000.0,NaN
Trinidad and Tobago,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1806120.0,1846345.0,1894240.0,1826200.0,1883683.0,1943873.0,1980566.0,2123374.0,2165847.0,2030637.0
Tunisia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8602164.0,9797026.0,11114206.0,12387656.0,12843889.0,12712365.0,14283633.0,14595875.0,14282078.0,14334080.0
Turkey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,65824110.0,62779554.0,61769635.0,65321745.0,67680547.0,69661108.0,71888416.0,73639261.0,75061699.0,77800170.0
Turkmenistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1135150.0,2132890.0,3197624.0,5300000.0,5900000.0,6125300.0,7206100.0,7842000.0,8575000.0,NaN
Tuvalu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1000.0,1600.0,2130.0,2800.0,3400.0,3800.0,6600.0,7600.0,NaN
Uganda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8554864.0,9383734.0,12828264.0,16696992.0,16356387.0,18068648.0,20365941.0,20220273.0,22838486.0,24948878.0
Ukraine,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,55681476.0,54942815.0,53928830.0,55576481.0,59343693.0,62458800.0,61170229.0,60720073.0,56717856.0,55714733.0
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9357735.0,10671878.0,10926019.0,11727401.0,13775252.0,16063547.0,16819024.0,17942560.0,19905093.0,19826224.0
United Kingdom,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,74940937.0,76481053.0,76729827.0,77162298.0,78329355.0,78673978.0,78460684.0,79250793.0,78931386.0,79173658.0
United States,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,261300000.0,274283000.0,285118000.0,297404000.0,304838000.0,310698000.0,355500000.0,382307000.0,395881000.0,395881000.0
Uruguay,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3507816.0,4111560.0,4437158.0,4757425.0,4995459.0,5267947.0,5497094.0,5165474.0,5116736.0,5097569.0
Uzbekistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12375274.0,16417914.0,20952000.0,25441789.0,20274090.0,21500000.0,21639200.0,21783300.0,23265389.0,24265460.0
Vanuatu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,36000.0,131682.0,169935.0,136956.0,146084.0,127244.0,156051.0,174818.0,218603.0,228016.0
Venezuela,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27414377.0,28123570.0,27880132.0,28781999.0,30569073.0,30896079.0,30528022.0,29093517.0,27600893.0,24493687.0
Vietnam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,74872310.0,98223980.0,111570201.0,127318045.0,131673724.0,123735557.0,136148124.0,120324052.0,120600235.0,120016181.0
Yemen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6445000.0,8313000.0,11085000.0,11668000.0,13900000.0,16844700.0,17100000.0,15021953.0,16433055.0,NaN
Zambia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3539003.0,4406682.0,5446991.0,8164553.0,10524676.0,10395801.0,10114867.0,11557725.0,12017034.0,13438539.0
Zimbabwe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1654721.0,3991000.0,7700000.0,9200000.0,12613935.0,13633167.0,11798652.0,12757410.0,12878926.0,14092104.0

In [119]:
table1.loc[(table1['country'] == 'China') & (df['country'] == 'Brazil')]

AttributeError: ignored

In [120]:
table_df = pd.DataFrame(table)
table_df

time,1960,1965,1970,1975,1976,1977,1978,1979,1980,1981,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7898909.0,10500000.0,10215840.0,13797879.0,15340115.0,16807156.0,18407168.0,19709038.0,21602982.0,23929713.0
Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1859632.0,2463741.0,2692372.0,3100000.0,3500000.0,3685983.0,3359654.0,3400955.0,3369756.0,3497950.0
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27031472.0,32729824.0,32780165.0,35615926.0,37527703.0,39517045.0,43298174.0,43227643.0,47041321.0,49873389.0
Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,64202.0,64549.0,65495.0,65044.0,63865.0,63931.0,66241.0,71336.0,76132.0,80337.0
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6773356.0,8109421.0,9403365.0,12073218.0,12785109.0,13285198.0,14052558.0,13884532.0,13001124.0,13323952.0
Antigua and Barbuda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,136592.0,134925.0,167970.0,176008.0,127381.0,114358.0,120041.0,176000.0,180000.0,NaN
Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,46508774.0,52482780.0,57082298.0,60722729.0,64327647.0,67361515.0,61234216.0,61842011.0,63723692.0,61897379.0
Armenia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1442000.0,2191500.0,3865354.0,3211215.0,3322837.0,3346275.0,3459137.0,3464490.0,3434567.0,3488524.0
Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22120000.0,22200000.0,22500000.0,23789000.0,24338000.0,24940000.0,25060000.0,25770000.0,26551000.0,27553000.0
Austria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10816000.0,11434000.0,12241000.0,13022578.0,13588000.0,13272000.0,12952605.0,13470623.0,14270000.0,14924340.0
Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6548000.0,7757120.0,9100113.0,10120105.0,10125200.0,10130102.0,10552520.0,10697132.0,10189000.0,10127000.0
Bahamas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,358050.0,358812.0,428377.0,298790.0,300000.0,287000.0,314842.0,311175.0,360200.0,353540.0
Bahrain,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1440782.0,1401974.0,1567000.0,1693650.0,2123903.0,2210190.0,2328994.0,2519055.0,2994865.0,2364477.0
Bangladesh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,44640000.0,51359315.0,67923887.0,84368700.0,97180000.0,116553076.0,126866091.0,131375724.0,135981846.0,145113669.0
Barbados,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,288662.0,337061.0,350061.0,347917.0,349296.0,307708.0,305456.0,334792.0,332208.0,337791.0
Belarus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8128000.0,9686200.0,10332900.0,10694900.0,10676471.0,11114440.0,11401927.0,11448281.0,11439866.0,11415141.0
Belgium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11341704.0,11775240.0,12154041.0,12495934.0,12313375.0,12315217.0,12734724.0,12774090.0,12550821.0,11961089.0
Belize,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,160032.0,161783.0,194201.0,222407.0,172423.0,174615.0,172300.0,211946.0,227000.0,NaN
Benin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3625366.0,5033349.0,7074914.0,7765206.0,8407846.0,9627447.0,8660432.0,9317955.0,8892490.0,8773044.0
Bhutan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,253429.0,338938.0,394316.0,484189.0,560890.0,544337.0,624536.0,675747.0,698373.0,730623.0
Bolivia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5038600.0,6464390.0,7179293.0,8353273.0,9493207.0,10425704.0,10450341.0,10162829.0,10106216.0,10963224.0
Bosnia and Herzegovina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3179036.0,3257239.0,3110233.0,3171283.0,3357541.0,3488319.0,3491188.0,3443520.0,3404043.0,3440085.0
Botswana,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1485791.0,1874101.0,2363411.0,2900263.0,3081726.0,3246787.0,3410507.0,3475327.0,3288986.0,3240589.0
Brazil,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,150641403.0,169385584.0,196929978.0,234357507.0,248323703.0,271099799.0,280728796.0,257814274.0,244067356.0,236488548.0
Brunei,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,398857.0,412882.0,435104.0,443161.0,469740.0,468814.0,452054.0,463384.0,523453.0,544732.0
Bulgaria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10429012.0,10454822.0,10199942.0,10475083.0,10780732.0,10486824.0,9486927.0,9194633.0,8973869.0,8532908.0
Burkina Faso,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3024150.0,3823625.0,5707850.0,7682100.0,9976105.0,11240886.0,12494391.0,14446897.0,15404040.0,17946375.0
Burundi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,480584.0,920749.0,1678029.0,1914586.0,2247126.0,2536831.0,3193257.0,4997696.0,5357816.0,5920612.0
Cambodia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4237000.0,6268000.0,8150764.0,13757000.0,19105115.0,20264514.0,20451982.0,20850543.0,19915503.0,18572973.0
Cameroon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6160893.0,8004120.0,8636652.0,10486614.0,13108058.0,15664666.0,17039059.0,18160667.0,18717503.0,19706027.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sudan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11991469.0,15339895.0,18093231.0,25056185.0,27658595.0,27657875.0,27796611.0,27938507.0,27807293.0,28644139.0
Suriname,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,657106.0,763912.0,521166.0,533522.0,569069.0,868600.0,927800.0,750458.0,806881.0,795871.0
Swaziland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,531643.0,664432.0,725802.0,766540.0,805000.0,893000.0,916800.0,941000.0,995000.0,NaN
Sweden,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20362.0,...,10014000.0,10440000.0,10992407.0,11454252.0,11848449.0,12014368.0,12312533.0,12638827.0,12543188.0,12435709.0
Switzerland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8896706.0,9322580.0,9644157.0,10082636.0,10561075.0,11048637.0,11150000.0,11243210.0,11242100.0,11292000.0
Syria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7056158.0,10021861.0,11696000.0,12917000.0,12980000.0,12291150.0,14039749.0,14312271.0,13349860.0,15650000.0
Tajikistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3673520.0,4900000.0,5940842.0,6324000.0,6528000.0,7537100.0,7999100.0,8489000.0,9400000.0,NaN
Tanzania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13006793.0,17469486.0,20983853.0,25666455.0,27219283.0,27442823.0,31862656.0,39665600.0,40044186.0,39953860.0
Thailand,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,61837164.0,65952313.0,71726300.0,77449000.0,85012000.0,93849000.0,97096000.0,102942000.0,119669000.0,121530000.0
Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,125002.0,350891.0,473020.0,614151.0,621000.0,650000.0,1375749.0,1376669.0,1492124.0,1546624.0
Togo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1549542.0,2187334.0,2602283.0,2695335.0,3312239.0,4262993.0,4516114.0,4855206.0,5505424.0,6219981.0
Tonga,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,50472.0,53000.0,54300.0,55000.0,56000.0,57500.0,68000.0,73493.0,80000.0,NaN
Trinidad and Tobago,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1806120.0,1846345.0,1894240.0,1826200.0,1883683.0,1943873.0,1980566.0,2123374.0,2165847.0,2030637.0
Tunisia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8602164.0,9797026.0,11114206.0,12387656.0,12843889.0,12712365.0,14283633.0,14595875.0,14282078.0,14334080.0
Turkey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,65824110.0,62779554.0,61769635.0,65321745.0,67680547.0,69661108.0,71888416.0,73639261.0,75061699.0,77800170.0
Turkmenistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1135150.0,2132890.0,3197624.0,5300000.0,5900000.0,6125300.0,7206100.0,7842000.0,8575000.0,NaN
Tuvalu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,1000.0,1600.0,2130.0,2800.0,3400.0,3800.0,6600.0,7600.0,NaN
Uganda,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8554864.0,9383734.0,12828264.0,16696992.0,16356387.0,18068648.0,20365941.0,20220273.0,22838486.0,24948878.0
Ukraine,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,55681476.0,54942815.0,53928830.0,55576481.0,59343693.0,62458800.0,61170229.0,60720073.0,56717856.0,55714733.0
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9357735.0,10671878.0,10926019.0,11727401.0,13775252.0,16063547.0,16819024.0,17942560.0,19905093.0,19826224.0
United Kingdom,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,74940937.0,76481053.0,76729827.0,77162298.0,78329355.0,78673978.0,78460684.0,79250793.0,78931386.0,79173658.0
United States,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,261300000.0,274283000.0,285118000.0,297404000.0,304838000.0,310698000.0,355500000.0,382307000.0,395881000.0,395881000.0
Uruguay,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3507816.0,4111560.0,4437158.0,4757425.0,4995459.0,5267947.0,5497094.0,5165474.0,5116736.0,5097569.0
Uzbekistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12375274.0,16417914.0,20952000.0,25441789.0,20274090.0,21500000.0,21639200.0,21783300.0,23265389.0,24265460.0
Vanuatu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,36000.0,131682.0,169935.0,136956.0,146084.0,127244.0,156051.0,174818.0,218603.0,228016.0
Venezuela,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27414377.0,28123570.0,27880132.0,28781999.0,30569073.0,30896079.0,30528022.0,29093517.0,27600893.0,24493687.0
Vietnam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,74872310.0,98223980.0,111570201.0,127318045.0,131673724.0,123735557.0,136148124.0,120324052.0,120600235.0,120016181.0
Yemen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6445000.0,8313000.0,11085000.0,11668000.0,13900000.0,16844700.0,17100000.0,15021953.0,16433055.0,NaN
Zambia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3539003.0,4406682.0,5446991.0,8164553.0,10524676.0,10395801.0,10114867.0,11557725.0,12017034.0,13438539.0
Zimbabwe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1654721.0,3991000.0,7700000.0,9200000.0,12613935.0,13633167.0,11798652.0,12757410.0,12878926.0,14092104.0

#### OPTIONAL BONUS QUESTION!

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

If you have the time and curiosity, what other questions can you ask and answer with this data?