<a href="https://colab.research.google.com/github/Distortedlogic/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/Jeremy_Meek_LS_DS_121_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-09-09 23:04:29--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.179.109
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.179.109|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.3’

instacart_online_gr 100%[===================>] 196.03M  45.2MB/s    in 4.8s

2019-09-09 23:04:34 (40.8 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.3’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
# I need products dataframe to convert product IDs to product names
# I need to concat order history and training

import pandas as pd
orders_prior = pd.read_csv('order_products__prior.csv')
train = pd.read_csv('order_products__train.csv')
products = pd.read_csv('products.csv').drop(columns=['aisle_id', 'department_id']).set_index('product_id')

order_hist = pd.concat([orders_prior, train])
assert orders_prior.shape[0] + train.shape[0] == order_hist.shape[0]

In [0]:
top_10 = order_hist['product_id'].value_counts().nlargest(10)

In [47]:
top_10_names = (pd.merge(top_10, products, how='inner', left_index=True, right_index=True)
                  .rename(columns={'product_id':'num_purchases'})
                  .set_index('product_name'))

top_10_names

                        num_purchases
product_name
Banana                         491291
Bag of Organic Bananas         394930
Organic Strawberries           275577
Organic Baby Spinach           251705
Organic Hass Avocado           220877
Organic Avocado                184224
Large Lemon                    160792
Strawberries                   149445
Limes                          146660
Organic Whole Milk             142813

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

In [49]:
table1 = table1.reset_index()
tidy = table1.melt(id_vars='index', value_vars=['treatmenta', 'treatmentb'])
tidy = tidy.rename(columns={
    'index': 'name', 
    'variable': 'trt', 
    'value': 'result'
})
tidy.trt = tidy.trt.str.replace('treatment', '')

tidy

           name trt  result
0    John Smith   a     NaN
1      Jane Doe   a    16.0
2  Mary Johnson   a     3.0
3    John Smith   b     2.0
4      Jane Doe   b    11.0
5  Mary Johnson   b     1.0

In [50]:
table2 = table2.reset_index()
tidy2 = table2.melt(id_vars='index', value_vars=['John Smith', 'Jane Doe', 'Mary Johnson'])
tidy2 = tidy2.rename(columns={
    'index': 'trt', 
    'variable': 'name', 
    'value': 'result'
})
tidy2.trt = tidy2.trt.str.replace('treatment', '')

tidy2

  trt          name  result
0   a    John Smith     NaN
1   b    John Smith     2.0
2   a      Jane Doe    16.0
3   b      Jane Doe    11.0
4   a  Mary Johnson     3.0
5   b  Mary Johnson     1.0

In [0]:
import seaborn as sns
flights = sns.load_dataset('flights')

In [52]:
flights.pivot_table(index='year', 
                   columns='month', 
                   values='passengers')

month  January  February  March  April  ...  September  October  November  December
year                                    ...
1949       112       118    132    129  ...        136      119       104       118
1950       115       126    141    135  ...        158      133       114       140
1951       145       150    178    163  ...        184      162       146       166
1952       171       180    193    181  ...        209      191       172       194
1953       196       196    236    235  ...        237      211       180       201
1954       204       188    235    227  ...        259      229       203       229
1955       242       233    267    269  ...        312      274       237       278
1956       284       277    317    313  ...        355      306       271       306
1957       315       301    356    348  ...        404      347       305       336
1958       340       318    362    348  ...        404      359       310       337
1959       360       342    406    396  ...        463      407       362       405
1960       417       391    419    461  ...        508      461       390       432

[12 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
import pandas as pd
orders_prior = pd.read_csv('order_products__prior.csv').drop(columns=['add_to_cart_order', 'reordered'])
train = pd.read_csv('order_products__train.csv').drop(columns=['add_to_cart_order', 'reordered'])
products = pd.read_csv('products.csv').drop(columns=['aisle_id', 'department_id'])

columns=['user_id', 'eval_set', 'order_number', 'order_dow', 'days_since_prior_order']
orders = pd.read_csv('orders.csv').drop(columns=columns)

order_hist = pd.concat([orders_prior, train])
assert (orders_prior.shape[0] + train.shape[0]) == order_hist.shape[0]

In [0]:
merged = (products[['product_id', 'product_name']]
          .merge(order_hist[['order_id', 'product_id']])
          .merge(orders[['order_id', 'order_hour_of_day']])
          .drop(columns=['order_id', 'product_id']))

In [15]:
temp = merged['product_name'].value_counts(ascending=False)
temp = df[df >= 2900]
popular = merged[merged['product_name'].isin(temp.index)]
final = (popular.groupby('product_name')
                .mean()
                .sort_values('order_hour_of_day', ascending=False)
                .reset_index())
final[:25]

                                    product_name  order_hour_of_day
0                       Half Baked Frozen Yogurt          14.526986
1                   The Tonight Dough™ Ice Cream          14.526299
2                     Americone Dream® Ice Cream          14.394912
3                          Half Baked® Ice Cream          14.388942
4                          Phish Food® Ice Cream          14.373308
5                     Milk and Cookies Ice Cream          14.369711
6                             Sicilian Pistachio          14.306421
7             Chocolate Peanut Butter Cup Gelato          14.303480
8                  Birthday Cake Light Ice Cream          14.292018
9                        Cherry Garcia Ice Cream          14.270300
10                          Strawberry Ice Cream          14.268841
11                  Vanilla Bean Light Ice Cream          14.257849
12                              Coffee Ice Cream          14.256280
13                      Roman Raspberry Sorbetto          14.248191
14                     Mediterranean Mint Gelato          14.233542
15                  Caramel Cookie Crunch Gelato          14.224069
16         Chocolate Chip Cookie Dough Ice Cream          14.204325
17                                     Mint Chip          14.189235
18      Coconut Almond Minis Frozen Dessert Bars          14.156069
19                 Mint Chocolate Chip Ice Cream          14.134992
20             Chocolate Peanut Butter Ice Cream          14.120449
21  Vanilla Milk Chocolate Almond Ice Cream Bars          14.104662
22                       Sea Salt Caramel Gelato          14.083895
23                        Vanilla Bean Ice Cream          14.039406
24                  Rising Crust Pepperoni Pizza          14.027699

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

I am working on my first portfolio project instead of continuing this stretch goal