<a href="https://colab.research.google.com/github/LilySu/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/Lily_Su_Sprint2_DS_Unit_1_Sprint_Challenge_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling

In this Sprint Challenge you will use data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the Sprint Challenge!
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html]) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

## Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

## Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [22]:
cell_phones.shape, population.shape, geo_country_codes.shape

((9215, 3), (59297, 3), (273, 33))

In [23]:
cell_phones.head(3)

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0

In [24]:
population.head(3)

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000

In [32]:
cell_phones_by_pop = pd.merge(cell_phones, population, how='outer', on=['geo', 'time'])
cell_phones_by_pop.head(3)

   geo  time  cell_phones_total  population_total
0  abw  1960                0.0               NaN
1  abw  1965                0.0               NaN
2  abw  1970                0.0               NaN

In [33]:
cell_phones_by_pop.shape

(59922, 4)

In [39]:
cell_phones_by_pop_nona = cell_phones_by_pop.dropna()
cell_phones_by_pop_nona.shape

(8590, 4)

Then, select the `geo` and `country` columns from the `geo_country_codes` dataframe, and join with your population and cell phone data.

The resulting dataframe's shape should be: (8590, 5)

In [7]:
geo_country_codes.head(3)

,geo,alt_5,alternative_1,alternative_2,alternative_3,alternative_4_cdiac,arb1,arb2,arb3,arb4,...,latitude,longitude,main_religion_2008,country,pandg,un_state,unicode_region_subtag,upper_case_name,world_4region,world_6region
0,abkh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Abkhazia,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,NaN,NaN,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,...,12.5,-69.96667,christian,Aruba,NaN,False,AW,ARUBA,americas,america
2,afg,NaN,Islamic Republic of Afghanistan,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,...,33.0,66.00000,muslim,Afghanistan,AFGHANISTAN,True,AF,AFGHANISTAN,asia,south_asia

In [8]:
geo_country_codes.T

,0,1,2,3,4,5,6,7,8,9,...,263,264,265,266,267,268,269,270,271,272
geo,abkh,abw,afg,ago,aia,akr_a_dhe,ala,alb,and,ant,...,vut,wlf,wsm,yem,yem_north,yem_south,yug,zaf,zmb,zwe
alt_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
alternative_1,NaN,NaN,Islamic Republic of Afghanistan,NaN,NaN,NaN,√Öland,NaN,NaN,Neth. Antilles,...,NaN,Wallis and Futuna,Samoa (Western),Yemen Republic,NaN,NaN,Yugoslav SFR,South Africa Republic,NaN,NaN
alternative_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Wallis and Futuna Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
alternative_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
alternative_4_cdiac,NaN,Aruba,Afghanistan,Angola,NaN,NaN,NaN,Albania,NaN,Netherland Antilles,...,Vanuatu,NaN,Samoa,Yemen,NaN,NaN,Yugoslavia,South Africa,Zambia,Zimbabwe
arb1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South_Africa,NaN,NaN
arb2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
arb3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
arb4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
arb5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
arb6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
g77_and_oecd_countries,others,others,g77,g77,others,others,others,others,others,others,...,g77,others,g77,g77,others,others,others,g77,g77,g77
gapminder_list,Abkhazia,Aruba,Afghanistan,Angola,Anguilla,Akrotiri and Dhekelia,Åland,Albania,Andorra,Netherlands Antilles,...,Vanuatu,Wallis et Futuna,Samoa,"Yemen, Rep.",Yemen Arab Republic (Former),Yemen Democratic (Former),Yugoslavia,South Africa,Zambia,Zimbabwe
god_id,GE-AB,AW,AF,AO,AI,Akrotiri_Dhekelia,AX,AL,AD,AN,...,VU,WF,WS,YE,North_Yemen,South_Yemen,Yugoslavia,ZA,ZM,ZW
gwid,i0,i12,i1,i7,i8,i2,i258,i3,i6,i157,...,i245,i244,i193,i254,i252,i253,i255,i209,i256,i257
income_groups,NaN,high_income,low_income,upper_middle_income,NaN,NaN,NaN,upper_middle_income,high_income,NaN,...,lower_middle_income,NaN,lower_middle_income,lower_middle_income,NaN,NaN,NaN,upper_middle_income,lower_middle_income,low_income
is--country,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
iso3166_1_alpha2,NaN,AW,AF,AO,AI,NaN,AX,AL,AD,NaN,...,VU,WF,WS,YE,NaN,NaN,NaN,ZA,ZM,ZW
iso3166_1_alpha3,NaN,ABW,AFG,AGO,AIA,NaN,ALA,ALB,AND,NaN,...,VUT,WLF,WSM,YEM,NaN,NaN,NaN,ZAF,ZMB,ZWE
iso3166_1_numeric,NaN,533,4,24,660,NaN,248,8,20,NaN,...,548,876,882,887,NaN,NaN,NaN,710,894,716
iso3166_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
landlocked,NaN,coastline,landlocked,coastline,coastline,coastline,coastline,coastline,landlocked,coastline,...,coastline,coastline,coastline,coastline,coastline,coastline,coastline,coastline,landlocked,landlocked
latitude,NaN,12.5,33,-12.5,18.2167,NaN,60.25,41,42.5078,NaN,...,-16,-13.3,-13.8,15.5,NaN,NaN,NaN,-29,-14.3333,-19
longitude,NaN,-69.9667,66,18.5,-63.05,NaN,20,20,1.52109,NaN,...,167,-176.2,-172.133,47.5,NaN,NaN,NaN,24,28.5,29.75
main_religion_2008,NaN,christian,muslim,christian,christian,NaN,NaN,muslim,christian,NaN,...,christian,christian,christian,muslim,NaN,NaN,NaN,christian,christian,christian
country,Abkhazia,Aruba,Afghanistan,Angola,Anguilla,Akrotiri and Dhekelia,Åland,Albania,Andorra,Netherlands Antilles,...,Vanuatu,Wallis et Futuna,Samoa,Yemen,North Yemen (former),South Yemen (former),Yugoslavia,South Africa,Zambia,Zimbabwe
pandg,NaN,NaN,AFGHANISTAN,ANGOLA,NaN,NaN,NaN,ALBANIA,NaN,NaN,...,NaN,NaN,NaN,YEMEN,NaN,NaN,NaN,SOUTH AFRICA,ZAMBIA,ZIMBABWE
un_state,False,False,True,True,False,False,False,True,True,False,...,True,False,True,True,False,False,False,True,True,True
unicode_region_subtag,NaN,AW,AF,AO,AI,NaN,AX,AL,AD,NaN,...,VU,WF,WS,YE,NaN,NaN,NaN,ZA,ZM,ZW
upper_case_name,NaN,ARUBA,AFGHANISTAN,ANGOLA,ANGUILLA,NaN,AALAND ISLANDS,ALBANIA,ANDORRA,NETHERLANDS ANTILLES,...,VANUATU,WALLIS AND FUTUNA ISLANDS,SAMOA,YEMEN,FORMER YEMEN,FORMER DEMOCRATIC YEMEN,YUGOSLAVIA (FORMER SOCIALIST FEDERAL REPUBLIC),SOUTH AFRICA,ZAMBIA,ZIMBABWE
world_4region,europe,americas,asia,africa,americas,europe,europe,europe,europe,americas,...,asia,asia,asia,asia,asia,asia,europe,africa,africa,africa
world_6region,europe_central_asia,america,south_asia,sub_saharan_africa,america,europe_central_asia,europe_central_asia,europe_central_asia,europe_central_asia,america,...,east_asia_pacific,east_asia_pacific,east_asia_pacific,middle_east_north_africa,middle_east_north_africa,middle_east_north_africa,europe_central_asia,sub_saharan_africa,sub_saharan_africa,sub_saharan_africa

In [40]:
geo_country_codes_just_geo_country = geo_country_codes.iloc[:,[0, 26]]
geo_country_codes_just_geo_country.head(3)

    geo      country
0  abkh     Abkhazia
1   abw        Aruba
2   afg  Afghanistan

In [42]:
geo_country_codes_just_geo_country.shape, cell_phones_by_pop_nona.shape

((273, 2), (8590, 4))

In [49]:
cell_phones_by_pop_nona.head(3)

    geo  time  cell_phones_total  population_total
41  afg  1960                0.0         8996351.0
42  afg  1965                0.0         9938414.0
43  afg  1970                0.0        11126123.0

In [53]:
cell_phones_by_pop_updated = pd.merge(cell_phones_by_pop_nona, geo_country_codes_just_geo_country,how='left', on='geo')
cell_phones_by_pop_updated.shape

(8590, 5)

## Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [0]:
def findmean(x):
      length = len(cell_phones_by_pop_updated['cell_phones_total'])
      for i in cell_phones_by_pop_updated['cell_phones_total']:
      get_sum = sum(i)
      mean = get_sum/length
      print(mean)

In [0]:
cell_phones_by_pop_updated['cell_phones_total'] = cell_phones_by_pop_updated['cell_phones_total'].astype(int)

In [64]:
cell_phones_by_pop_updated['cell_phones_total'].apply(findmean)

TypeError: ignored

Modify the `geo` column to make the geo codes uppercase instead of lowercase.

## Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|    ?    |     1,474,097,000 |
|    ?    |     1,168,902,277 |
|    ?    |       458,923,202 |
|    ?    |       395,881,000 |
|    ?    |       236,488,548 |

In [0]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

## Part 4. Reshape data

Create a pivot table:
- Columns: Years 2007—2017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

#### OPTIONAL BONUS QUESTION!

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

If you have the time and curiosity, what other questions can you ask and answer with this data?