<a href="https://colab.research.google.com/github/mkirby1995/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/Copy_of_LS_DS3_122_Join_datasets_LIVE_LESSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 19:53:45--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.238.37
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.238.37|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  67.2MB/s    in 2.9s

2019-03-26 19:53:48 (67.2 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

## Goal: Reproduce this example

The first two orders for user id 1:

In [6]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [5]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')

In [9]:
aisles.shape

(134, 2)

In [10]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

### departments

In [14]:
dept = pd.read_csv('departments.csv')
dept.shape

(21, 2)

In [15]:
dept.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

### order_products__prior

In [17]:
prior = pd.read_csv('order_products__prior.csv')
prior.shape

(32434489, 4)

In [18]:
prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [30]:
prior.groupby('order_id')['product_id'].count().mean()

10.088883421247614

Order ID

### order_products__train

In [23]:
train = pd.read_csv('order_products__train.csv')

train.shape

(1384617, 4)

In [22]:
train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### orders

In [24]:
orders = pd.read_csv('orders.csv')

orders.shape

(3421083, 7)

In [25]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

### products

In [26]:
products = pd.read_csv('products.csv')

products.shape

(49688, 4)

In [31]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

## Concatenate order_products__prior and order_products__train

In [33]:
order_products = pd.concat([prior, train])
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [37]:
rows, columns = order_products.shape

rows, columns

(33819106, 4)

In [38]:
condition = order_products['order_id']==2539329
order_products[condition]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

## Get a subset of orders — the first two orders for user id 1

from orders dataframe 

- user id

- order id 

- order number 

- order dow

- order hour of day

In [0]:
condition = ( orders['user_id'] == 1 )  &  ( orders['order_number'] <= 2 )

columns = ['user_id',
           'order_id',
           'order_number',
           'order_dow',
           'order_hour_of_day']


subset = orders.loc[condition, columns]

## Merge dataframes

In [0]:
orders.head()

merge subset from orders with columns from prder products

In [56]:
columns = ['order_id', 'add_to_cart_order', 'product_id']

newdf = pd.merge(subset, order_products[columns],
                how='inner', on='order_id')

newdf.head(11)

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id
0,1,2539329,1,2,8,1,196
1,1,2539329,1,2,8,2,14084
2,1,2539329,1,2,8,3,12427
3,1,2539329,1,2,8,4,26088
4,1,2539329,1,2,8,5,26405
5,1,2398795,2,3,7,1,196
6,1,2398795,2,3,7,2,10258
7,1,2398795,2,3,7,3,12427
8,1,2398795,2,3,7,4,13176
9,1,2398795,2,3,7,5,26088
10,1,2398795,2,3,7,6,13032

merge with columns from products

In [0]:
columns = ['product_name', 'product_id']

final = pd.merge(newdf, products[columns],
         how='inner', on='product_id')

In [0]:
final = final.sort_values(by=['order_number', 'add_to_cart_order'])

In [0]:
final.columns = [column.replace('_', ' ') for column in final]

In [65]:
final.head(11)

,user id,order id,order number,order dow,order hour of day,add to cart order,product id,product name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
8,1,2398795,2,3,7,2,10258,Pistachios
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.



---

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 21:46:05--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.80.139
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.80.139|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.4’

instacart_online_gr 100%[===================>] 196.03M  96.1MB/s    in 2.0s

2019-03-26 21:46:08 (96.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.4’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment Solution

**Load CSVs and Print Shape of Each**

In [5]:
csvs = ['aisles.csv',
        'departments.csv',
        'order_products__prior.csv',
        'order_products__train.csv',
        'orders.csv',
        'products.csv',]

import pandas as pd

aisles = pd.read_csv(csvs[0])
departments = pd.read_csv(csvs[1])
order_products__prior = pd.read_csv(csvs[2])
order_products__train = pd.read_csv(csvs[3])
orders = pd.read_csv(csvs[4])
products = pd.read_csv(csvs[5])

print('\naisles', aisles.shape,
      '\ndepartments', departments.shape,
      '\norder_products__prior', order_products__prior.shape,
      '\norder_products__train', order_products__train.shape,
      '\norders', orders.shape,
      '\nproducts', products.shape)

aisles (134, 2)
departments (21, 2)
order_products__prior (32434489, 4)
order_products__train (1384617, 4)
orders (3421083, 7)
products (49688, 4)



---

**Combine DataFrames into Useable Dataset**

In [6]:
order_products = pd.concat([order_products__prior, order_products__train])
print(order_products.shape)

order_products = order_products.drop(['reordered', 'add_to_cart_order'], axis=1)
                                      
order_products.head()

(33819106, 4)

   order_id  product_id
0         2       33120
1         2       28985
2         2        9327
3         2       45918
4         2       30035

In [7]:
columns = ['product_id', 'product_name']

order_products_id = pd.merge(order_products, products[columns],
                    how='inner', on='product_id')


print(order_products_id.shape)

(33819106, 3)

In [8]:
product_orders = order_products_id.sort_values(by=['product_id'])

product_orders.head()

          order_id  product_id                product_name
23893886    871235           1  Chocolate Sandwich Cookies
23894452   1916586           1  Chocolate Sandwich Cookies
23894453   1917070           1  Chocolate Sandwich Cookies
23894454   1921350           1  Chocolate Sandwich Cookies
23894455   1928479           1  Chocolate Sandwich Cookies



---

**Top 10 Item Counts**

In [9]:
Banana = product_orders['product_name'] == 'Banana'
product_orders[Banana].shape[0]

491291

In [10]:
Bag_of_Organic_Bananas = product_orders['product_name'] == 'Bag of Organic Bananas'
product_orders[Bag_of_Organic_Bananas].shape[0]

394930

In [11]:
Organic_Strawberries = product_orders['product_name'] == 'Organic Strawberries'
product_orders[Organic_Strawberries].shape[0]

275577

In [12]:
Organic_Baby_Spinach = product_orders['product_name'] == 'Organic Baby Spinach'
product_orders[Organic_Baby_Spinach].shape[0]

251705

In [13]:
Organic_Hass_Avocado = product_orders['product_name'] == 'Organic Hass Avocado'
product_orders[Organic_Hass_Avocado].shape[0]

220877

In [14]:
Organic_Avocado = product_orders['product_name'] == 'Organic Avocado'
product_orders[Organic_Avocado].shape[0]

184224

In [15]:
Large_Lemon = product_orders['product_name'] == 'Large Lemon'
product_orders[Large_Lemon].shape[0]

160792

In [16]:
Strawberries = product_orders['product_name'] == 'Strawberries'
product_orders[Strawberries].shape[0]

149445

In [17]:
Limes = product_orders['product_name'] == 'Limes'
product_orders[Limes].shape[0]

146660

In [18]:
Organic_Whole_Milk = product_orders['product_name'] == 'Organic Whole Milk'
product_orders[Organic_Whole_Milk].shape[0]

142813



---

# Stretch Goal

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
columns = ['order_id', 'order_hour_of_day']

hour_of_day = pd.merge(product_orders, orders[columns],
                    how='inner', on='order_id')

In [0]:
hour_of_day = hour_of_day.sort_values(by=['order_hour_of_day', 'product_name'], ascending=False)

In [0]:
condition = (  hour_of_day['order_hour_of_day'] >= 12  ) & (  hour_of_day['order_hour_of_day'] <= 20 )

late_hour_subset = hour_of_day[condition]

#late_hour_subset.head(20)

In [0]:
from collections import Counter

In [0]:
products = [product_name for product_name in late_hour_subset['product_name']]

In [0]:
data = {'product_name': list(Counter(products).keys()), 'times_purchased': list(Counter(products).values())}

products_counted = pd.DataFrame.from_dict(data)

In [54]:
products_counted.head()

                                        product_name  times_purchased
0           with a Splash of Pineapple Coconut Water               39
1               with a Splash of Mango Coconut Water               16
2  with Xylitol Watermelon Twist 18 Sticks Sugar ...               41
3  with Xylitol Unwrapped Spearmint 50 Sticks Sug...               41
4  with Xylitol Unwrapped Original Flavor 50 Stic...               22

In [0]:
columns = ['product_name', 'times_purchased']

late_hour_subset = pd.merge(late_hour_subset, products_counted[columns],
                    how='inner', on='product_name')

In [0]:
late_hour_subset = late_hour_subset.sort_values(by=['order_hour_of_day', 'times_purchased'], ascending=False)

In [0]:
condition = (  late_hour_subset['times_purchased'] >= 2900  )

late_hour_subset = late_hour_subset[condition]

In [58]:
late_hour_subset.head()

,order_id,product_id,product_name,order_hour_of_day,times_purchased
18211577,675001,24852,Banana,20,286400
18211578,1308325,24852,Banana,20,286400
18211579,1837977,24852,Banana,20,286400
18211580,1245181,24852,Banana,20,286400
18211581,2157381,24852,Banana,20,286400