<a href="https://colab.research.google.com/github/wjarvis2/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/LS_DS_122_Join_datasets_LIVE_LESSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [2]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-01-15 23:26:23--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.225.187
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.225.187|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.2’

instacart_online_gr 100%[===================>] 196.03M  33.7MB/s    in 6.2s

2019-01-15 23:26:30 (31.5 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.2’ saved [205548478/205548478]

In [8]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [4]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [5]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [6]:
import pandas as pd 
aisles = pd.read_csv('aisles.csv')
print (aisles.shape)
print (aisles.head())

(134, 2)
   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

### departments

In [7]:
departments = pd.read_csv('departments.csv')
print (departments.shape)
print (departments.head())

(21, 2)
   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

departments does not show what we need. I bet I need to map it with a dictionary or something.

### order_products__prior

In [8]:
order_products_prior = pd.read_csv('order_products__prior.csv')
print (order_products_prior.shape)
print (order_products_prior.head())

(32434489, 4)
   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### order_products__train

In [9]:
order_products_train = pd.read_csv('order_products__train.csv')
print (order_products_train.shape)
print (order_products_train.head())

(1384617, 4)
   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### orders

In [10]:
orders = pd.read_csv('orders.csv')
print (orders.shape)
print (orders.head())

(3421083, 7)
   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0

### products

In [11]:
products = pd.read_csv('products.csv')
print (products.shape)
print (products.head())

(49688, 4)
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products_prior, order_products_train])

order_products.shape, order_products_prior.shape, order_products_train.shape
assert len(order_products) == len(order_products_prior) + len(order_products_train)
assert (len(order_products.columns) == 
        len(order_products_prior.columns) ==
        len(order_products_train.columns))

## Get a subset of orders — the first two orders for user id 1

In [13]:
condition = (orders.user_id==1) & (orders.order_number <=2)

columns = ['user_id',
          'order_id',
          'order_number',
          'order_dow',
          'order_hour_of_day']
subset = orders.loc[condition, columns]
subset.head()

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

## Merge dataframes

In [14]:
columns = ['order_id', 'add_to_cart_order', 'product_id']

merged = pd.merge(subset, order_products[columns], 
                  how= 'inner', on= 'order_id')
print (subset.shape)
print (merged.shape)

print ('\n')
print ('subset head')
print (subset.head())
print ('\n')
print ('merged head')
print (merged.head())

(2, 5)
(11, 7)


subset head
   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7


merged head
   user_id  order_id  order_number  order_dow  order_hour_of_day  \
0        1   2539329             1          2                  8
1        1   2539329             1          2                  8
2        1   2539329             1          2                  8
3        1   2539329             1          2                  8
4        1   2539329             1          2                  8

   add_to_cart_order  product_id
0                  1         196
1                  2       14084
2                  3       12427
3                  4       26088
4                  5       26405

In [15]:
final = pd.merge(merged, products[['product_id', 'product_name']])
final = final.sort_values(by= ['order_number', 'add_to_cart_order'])
final.columns = [column.replace('_', ' ')
                for column in final]

print (final.head())

   user id  order id  order number  order dow  order hour of day  \
0        1   2539329             1          2                  8
2        1   2539329             1          2                  8
3        1   2539329             1          2                  8
5        1   2539329             1          2                  8
7        1   2539329             1          2                  8

   add to cart order  product id                             product name
0                  1         196                                     Soda
2                  2       14084  Organic Unsweetened Vanilla Almond Milk
3                  3       12427                      Original Beef Jerky
5                  4       26088               Aged White Cheddar Popcorn
7                  5       26405         XL Pick-A-Size Paper Towel Rolls

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

Files for my reference instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/**aisles.csv**
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/**departments.csv**
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/**order_products__prior.csv**
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/**order_products__train.csv**
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/**orders.csv**
instacart_2017_05_01/._products.csv
instacart_2017_05_01/**products.csv**

In [16]:
# Just to see what we are working with
print ('aisle df columns:', aisles.columns)
print ('\n')
print ('departments df columns:', departments.columns)
print ('\n')
print ('order products prior df cols:', order_products_prior.columns)
print ('\n')
print ('order products train df cols:', order_products_train.columns)
print ('\n')
print ('orders columns:', orders.columns)
print ('\n')
print ('products columns:', products.columns)
print ('\n')
print ('final columns:', final.columns)
print ('\n')
print ('merged columns:', merged.columns)
print ('order products columns:', order_products.columns)

aisle df columns: Index(['aisle_id', 'aisle'], dtype='object')


departments df columns: Index(['department_id', 'department'], dtype='object')


order products prior df cols: Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')


order products train df cols: Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')


orders columns: Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')


products columns: Index(['product_id', 'product_name', 'aisle_id', 'department_id'], dtype='object')


final columns: Index(['user id', 'order id', 'order number', 'order dow', 'order hour of day',
       'add to cart order', 'product id', 'product name'],
      dtype='object')


merged columns: Index(['user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'add_to_cart_order', 'product_id'],
      dtype='object')
order products columns: Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [0]:
order_products.head()
products.shape
products.head()
# It looks like the order products df has all of the almost 3.4mm orders with order ids and product ids,
# so I just need to 

testdf = pd.merge(order_products, products[['product_id', 'product_name']])

In [0]:
most_common_list = testdf.groupby(['product_name']).size().sort_values(ascending=False)

In [22]:
print ('The most commonly ordered items are as follows:')
print (most_common_list[:10])

The most commonly ordered items are as follows:
product_name
Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
dtype: int64

In [24]:
testdf.head()
biggerdf = pd.merge(testdf, orders[['product_id', 'product_name']])

   order_id  product_id  add_to_cart_order  reordered        product_name
0         2       33120                  1          1  Organic Egg Whites
1        26       33120                  5          0  Organic Egg Whites
2       120       33120                 13          0  Organic Egg Whites
3       327       33120                  5          1  Organic Egg Whites
4       390       33120                 28          1  Organic Egg Whites