<a href="https://colab.research.google.com/github/Rice-from-data/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/LS_DS_122_Join_datasets_Ned_Horsey_3_26_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [2]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-27 21:24:25--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.239.117
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.239.117|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  35.8MB/s    in 6.1s

2019-03-27 21:24:31 (32.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [3]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [4]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [5]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

## Goal: Reproduce this example

The first two orders for user id 1:

In [6]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [7]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd

aisles = pd.read_csv('aisles.csv')

In [9]:
aisles.shape

(134, 2)

In [10]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [11]:
display(example)

aisles doesn't have any columns we need

### departments

In [0]:
departments = pd.read_csv('departments.csv')

In [13]:
departments.shape

(21, 2)

In [14]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [15]:
display(example)

 no columns we need

### order_products__prior

In [16]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

In [0]:
opp = pd.read_csv('order_products__prior.csv')

In [18]:
opp.shape

(32434489, 4)

In [19]:
opp.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [20]:
display(example)

yes, **OPP**  we need:

-order_id

-add_to_cart_order

-product_id

In [21]:
opp.groupby('order_id')['product_id'].count().mean()

10.088883421247614

In [0]:
# onlyfiles = [f for f in listdir('./') if isfile(join('./', f))]
# print(onlyfiles)
# # onlynormalfiles = [x for x in onlyfiles if x[0] != '.']
# # csvfiles = []
# # data = pd.DataFrame()

# #for x in onlynormalfiles:
# #    f = pd.read_csv(x)
    
    
# data = pd.join([pd.read_csv(x) for x in onlynormalfiles])

### order_products__train

In [0]:
opt = pd.read_csv('order_products__train.csv')

In [23]:
opt.shape

(1384617, 4)

In [24]:
opt.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

**OPT** has same columns as OPP

-product_id

-order_id

-add_to_cart_order

In [25]:
display(example)

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [27]:
orders.shape

(3421083, 7)

In [28]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

**Orders** has what we need:
-order_id

-user_id

-order_number

-order_dow	

-order_hour_of_day

In [29]:
display(example)

### products

In [0]:
products = pd.read_csv('products.csv')

In [31]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

**products**:

-product_id

-product_name

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([opp, opt])

In [33]:
order_products.shape, opp.shape, opt.shape
# confirm shape adds up

((33819106, 4), (32434489, 4), (1384617, 4))

In [0]:
assert len(order_products) == len(opp) + len(opt)

In [0]:
# assert 2 + 4 == 1

assert (len (order_products.columns) ==
        len(opt.columns) ==
        len(opp.columns))

In [36]:
rows, columns = order_products.shape
print('Rows:', rows)
print('Columns:', columns)

Rows: 33819106
Columns: 4

In [0]:
opp_row, opp_col = opp.shape
opt_row, opt_col = opt.shape

assert opp_col == opt_col == columns
assert opt_row + opp_row == rows

In [38]:
condition = order_products['order_id'] == 2539329
order_products[condition]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

## Get a subset of orders — the first two orders for user id 1

From the `orders` dataframe:

- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [39]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [40]:
orders['order_number'].describe()

count    3.421083e+06
mean     1.715486e+01
std      1.773316e+01
min      1.000000e+00
25%      5.000000e+00
50%      1.100000e+01
75%      2.300000e+01
max      1.000000e+02
Name: order_number, dtype: float64

In [0]:
condition1 = (orders['user_id']==1)  
condition2 =  (orders['order_number'] <= 2)

columns = ['user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day']

subset = orders[condition1 & condition2][columns] #.head(2) # [:2]

## Merge dataframes

Merge the subset from `orders` with the columns from order_products

In [42]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [43]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
columns = ['order_id', 'add_to_cart_order', 'product_id']
merged = pd.merge(subset, order_products[columns], how='inner')

In [45]:
# goop = pd.merge(orders, order_products, how='left', on='order_id')
# display(example)

subset.shape, order_products.shape, merged.shape

((2, 5), (33819106, 4), (11, 7))

Merge with columns from products

In [0]:
final = pd.merge(merged, products[['product_id', 'product_name']], how='inner', on='product_id')

In [47]:
merged.shape, products[['product_id', 'product_name']].shape, final.shape

((11, 7), (49688, 2), (11, 8))

In [0]:
final = final.sort_values(by=['order_number', 'add_to_cart_order'])

In [49]:
display(example)

In [0]:
# rename columns
final.columns = [column.replace('_', ' ') for column in final]

In [51]:
final.head()

,user id,order id,order number,order dow,order hour of day,add to cart order,product id,product name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
# order_products.head()

# products.head()

I will need from order_products:

- add_to_cart_order
- product_id

From products I will need:

- product_name 

and they will be joined by the product_id

In [0]:
# First I merge the columns I want into the freq_ordered df

o_sub = order_products[['add_to_cart_order', 'product_id']] 
freq_ordered = pd.merge(o_sub, products, how='left', on='product_id')

In [54]:
freq_ordered.head()
# checking to see if I have what I need

,add_to_cart_order,product_id,product_name,aisle_id,department_id
0,1,33120,Organic Egg Whites,86,16
1,2,28985,Michigan Organic Kale,83,4
2,3,9327,Garlic Powder,104,13
3,4,45918,Coconut Butter,19,13
4,5,30035,Natural Sweetener,17,13

In [0]:
# condition1 = (orders['user_id']==1)  
# condition2 =  (orders['order_number'] <= 2)
# columns = ['user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day']
# subset = orders[condition1 & condition2][columns] #.head(2) # [:2

In [56]:
freq_ordered.groupby('product_name')['add_to_cart_order'].count().sort_values(ascending=False).nlargest(10)

product_name
Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: add_to_cart_order, dtype: int64

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [57]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

Interesting, so we want to sort by products more than 2,900 orders.

Then sort by the latest ordered 

Then take the top 25.

So the columns I need are:

product_name
add_to_cart_order
orders.order_hour_of_day

In [58]:
opp.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [59]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [0]:
df = pd.merge(opp[['order_id', 'product_id']], products[['product_id','product_name']])

In [0]:
product_sales = df.product_name.value_counts()

In [62]:
product_sales.head(10)

Banana                    472565
Bag of Organic Bananas    379450
Organic Strawberries      264683
Organic Baby Spinach      241921
Organic Hass Avocado      213584
Organic Avocado           176815
Large Lemon               152657
Strawberries              142951
Limes                     140627
Organic Whole Milk        137905
Name: product_name, dtype: int64

In [0]:
# we need to add in order_hour_of_day

df = pd.merge(df, orders[['order_id','order_hour_of_day']])

In [0]:
# this I don't quite understand so will iterate, it has to do with the mean average of when the product was ordered and the count

times_and_sales = (df.groupby('product_name').order_hour_of_day.agg(['mean', 'count'])
                            .rename(columns={'mean':'Average Order Time'
                                            , 'count' : 'Total Sales'}))

In [0]:
popular = times_and_sales[times_and_sales['Total Sales'] > 2900]

In [71]:
popular.shape, times_and_sales.shape, df.shape

((1964, 2), (49677, 2), (32434489, 4))

In [72]:
popular.sort_values(by='Average Order Time', ascending=False).head(25)

                                              Average Order Time  Total Sales
product_name
The Tonight Dough™ Ice Cream                           14.514968         2973
Americone Dream® Ice Cream                             14.395288         6155
Half Baked® Ice Cream                                  14.386134         5928
Phish Food® Ice Cream                                  14.374505         3028
Milk and Cookies Ice Cream                             14.357585         5003
Birthday Cake Light Ice Cream                          14.315656         5129
Sicilian Pistachio                                     14.315616         3029
Chocolate Peanut Butter Cup Gelato                     14.312211         4324
Strawberry Ice Cream                                   14.288302         6129
Cherry Garcia Ice Cream                                14.279944         4283
Coffee Ice Cream                                       14.255703         3770
Roman Raspberry Sorbetto                               14.252653         3016
Vanilla Bean Light Ice Cream                           14.251610         4813
Mediterranean Mint Gelato                              14.242246         7319
Caramel Cookie Crunch Gelato                           14.212616         5517
Chocolate Chip Cookie Dough Ice Cream                  14.193192         8137
Mint Chip                                              14.185932         5502
Coconut Almond Minis Frozen Dessert Bars               14.159353         3213
Mint Chocolate Chip Ice Cream                          14.131663         3433
Vanilla Milk Chocolate Almond Ice Cream Bars           14.128868         4136
Chocolate Peanut Butter Ice Cream                      14.107854         3514
Sea Salt Caramel Gelato                                14.076750         6671
Vanilla Bean Ice Cream                                 14.018328         4474
Rising Crust Pepperoni Pizza                           14.014529         3648
Talenti Double Dark Chocolate Gelato                   13.990662         3427

In [73]:
popular['Half Baked Frozen Yogurt']

KeyError: ignored

Below is another failed attempt, solution above here.

In [0]:
# I need to create an intermediary dataset to connect order hour of day and add_to_cart_order, then I will add the product names

subset_m = pd.merge(orders[['order_id', 'order_hour_of_day']], opp[['product_id', 'add_to_cart_order','order_id' ]], on='order_id')

# subset_m.head()

late_orders = pd.merge(subset_m, products, on='product_id')

In [0]:
late_orders.head() #, late_orders.shape

In [0]:
# I had a lot of trouble with my dataframe crashing, so I'm going to drop some colums to slim this down

late_orders = late_orders.drop(columns=['product_id', 'order_id', 'aisle_id', 'department_id'])

# order_counts = late_orders.groupby('product_name')['add_to_cart_order'].sum()

In [0]:
# now I need to make my late_orders actually late so I'l trim all the early hour values
late_orders =late_orders[late_orders['order_hour_of_day'] > 16]

In [0]:
late_orders.order_hour_of_day.describe()
# so we've slimmed this dataset tremendously

In [0]:
late_orders.shape

In [0]:
late_orders.head()

In [0]:
# now I want to start doing some grouping but it still keeps crashing. 

# late_orders.groupby('order_hour_of_day')['product_name'].sum()

# order_counts = late_orders.groupby('add_to_cart_order')['product_name'].sum()

Below this cell is a lot of garbage that didn't work but I am keeping around as there might be some useful code there. Please ignore.

In [0]:
late_orders.head()

In [0]:
# order_counts.shape
# type(order_counts)
# order_counts.nlargest(10)

order_counts_dict = order_counts.to_dict()

# order_counts_dict
late_orders_counts = late_orders.copy()
late_orders_counts['product_counts'] = late_orders['product_name'].map(order_counts_dict)

In [0]:
late_orders_counts.head()

,order_id,order_hour_of_day,product_id,add_to_cart_order,product_name,aisle_id,department_id,product_counts
0,2539329,8,196,1,Soda,77,7,133206
1,2398795,7,196,1,Soda,77,7,133206
2,473747,12,196,1,Soda,77,7,133206
3,2254736,7,196,1,Soda,77,7,133206
4,431534,15,196,1,Soda,77,7,133206

In [0]:
condition1 = (orders['user_id']==1)  
condition2 =  (orders['order_number'] <= 2)

columns = 
subset = orders[condition1 & condition2][columns]

SyntaxError: ignored

In [0]:
condition = (late_orders_counts['product_counts'] > 2900)
columns = ['order_id', 'order_hour_of_day', 'product_name', 'product_counts']

# final = final.sort_values(by=['order_number', 'add_to_cart_order'])

late_orders_counts.sort_values(by=['order_hour_of_day'])

# grouby('order_hour_of_day')