<a href="https://colab.research.google.com/github/Rice-from-data/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/LS_DS_124_Make_features_Ned_Horsey_3_28_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-03-28 16:06:28--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [               <=>  ]  21.29M   876KB/s    in 25s

2019-03-28 16:06:53 (868 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22329081]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [3]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2386.02","2386.02","167.02","167.02","113.98","53.04","0.0","0.0","0.0","Feb-2019","84.92","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","29387.75","29387.75","1507.11","1507.11","612.25","894.86","0.0","0.0","0.0","Feb-2019","777.23","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4787.21","4787.21","353.89","353.89","212.79","141.10","0.0","0.0","0.0","Feb-2019","180.69","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 18.94%","146.51","D","D2","IT Supervisor","10+ years","MORTGAGE","92000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","985xx","WA","16.74","0","Feb-2006","0","","","10","0","5468","78.1%","13","w","3831.93","3831.93","286.71","286.71","168.07","118.64","0.0","0.0","0.0","Feb-2019","146.51","Mar-2019","Feb-2019","0","","1","Individual","","","","0","686","305049","1","5","3","5","5","30683","68","0","0","3761","70","7000","2","4","3","5","30505","1239","75.2","0","0","62","154","64","5","3","64","","5","","0","1","2","1","2","7","2","3","2","10","0","0","0","3","100","100","0","0","385183","36151","5000","44984","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 16.14%","731.78","C","C4","Mechanic","10+ years","MORTGAGE","57250","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","212xx","MD","26.35","0","Dec-2000","0","","","12","0","829","3.6%","26","w","29339.02","29339.02","1423.21","1423.21","660.98","762.23","0.0","0.0","0.0","Feb-2019","731.78","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","116007","3","5","3","5","4","28845","89","2","4","516","54","23100","1","0","0","9","9667","8471","8.9","0","0","53","216","2","2","2","2","","13","","0","2","2","3","8","9","6","15","2","12","0","0","0","5","92.3","0","0","0","157548","29674","9300","32332","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5550","5550","5550"," 36 months"," 15.02%","192.45","C","C3","Director COE","10+ years","MORTGAGE","152500","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","461xx","IN","37.94","0","Sep-2002","3","","","18","0","53854","48.1%","44","w","5302.50","5302.50","377.95","377.95","247.50","130.45","0.0","0.0","0.0","Feb-2019","192.45","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","685749","1","7","2","3","4","131524","72","1","4","17584","58","111900","2","4","6","8","40338","23746","64","0","0","195","176","10","4","6","20","","3","","0","4","6","6","10","23","9","15","7","18","0","0","0","4","100","60","0","0","831687","185378","65900","203159","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","2000","2000","2000"," 36 months"," 17.97%","72.28","D","D1","Account Manager","4 years","RENT","51000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","606xx","IL","2.4","0","Nov-2004","1","","","1","0","0","","9","w","1914.71","1914.71","141.56","141.56","85.29","56.27","0.0","0.0","0.0","Feb-2019","72.28","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","854","0","0","2","3","7","0","","0","1","0","100","0","0","0","1","4","854","","","0","0","169","40","23","7","0","","","1","","0","0","0","0","3","5","0","3","0","1","0","0","0","2","100","","0","0","854","854","0","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","6000","6000","6000"," 36 months"," 13.56%","203.79","C","C1","Assistant Director","10+ years","RENT","65000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","460xx","IN","30.1","0","Nov-1997","0","","","19","0","38476","69.3%","37","w","5864.01","5864.01","201.53","201.53","135.99","65.54","0.0","0.0","0.0","Feb-2019","208.31","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","91535","0","5","0","1","23","53059","87","0","2","9413","74","55500","1","2","0","3","5085","3034","90.8","0","0","169","253","13","13","1","14","","13","","0","7","12","8","10","15","14","20","12","19","0","0","0","0","100","85.7","0","0","117242","91535","33100","61742","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""

most are comma seperated values but there's a url in the first line

In [4]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","5083.61","5083.61","750.29","750.29","516.39","233.90","0.0","0.0","0.0","Feb-2019","190.21","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","9096.85","9096.85","1378.7","1378.70","903.15","475.55","0.0","0.0","0.0","Feb-2019","346.76","Mar-2019","Feb-2019","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","4538.94","4538.94","675.55","675.55","461.06","214.49","0.0","0.0","0.0","Feb-2019","169.83","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","9044.84","8818.72","1295.36","1262.98","955.16","340.20","0.0","0.0","0.0","Feb-2019","327.68","Mar-2019","Feb-2019","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","9120.98","9120.98","1414.93","1414.93","879.02","535.91","0.0","0.0","0.0","Feb-2019","356.08","Mar-2019","Feb-2019","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd

df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

In [25]:
df.shape

(128412, 145)

In [31]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94%,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,Feb-2019,777.23,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94%,146.51,D,D2,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,985xx,WA,16.74,0,Feb-2006,0,NaN,NaN,10,0,5468,78.1%,13,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.0,0.0,0.0,Feb-2019,146.51,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,686,305049,1,5,3,5,5.0,30683,68.0,0,0,3761,70.0,7000,2,4,3,5,30505.0,1239.0,75.2,0,0,62.0,154,64,5,3,64.0,NaN,5.0,NaN,0,1,2,1,2,7,2,3,2,10,0.0,0,0,3,100.0,100.0,0,0,385183,36151,5000,44984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14%,731.78,C,C4,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,26.35,0,Dec-2000,0,NaN,NaN,12,0,829,3.6%,26,w,29339.02,29339.02,1423.21,1423.21,660.98,762.23,0.0,0.0,0.0,Feb-2019,731.78,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,116007,3,5,3,5,4.0,28845,89.0,2,4,516,54.0,23100,1,0,0,9,9667.0,8471.0,8.9,0,0,53.0,216,2,2,2,2.0,NaN,13.0,NaN,0,2,2,3,8,9,6,15,2,12,0.0,0,0,5,92.3,0.0,0,0,157548,29674,9300,32332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.isnull().sum().sort_values(ascending=False)

id                                            128412
member_id                                     128412
url                                           128412
desc                                          128412
hardship_loan_status                          128411
hardship_amount                               128411
hardship_start_date                           128411
hardship_end_date                             128411
payment_plan_start_date                       128411
hardship_length                               128411
hardship_dpd                                  128411
hardship_payoff_balance_amount                128411
orig_projected_additional_accrued_interest    128411
hardship_status                               128411
hardship_last_payment_amount                  128411
hardship_reason                               128411
hardship_type                                 128411
deferral_term                                 128411
settlement_percentage                         128410
settlement_term                               128410
settlement_status                             128410
debt_settlement_flag_date                     128410
settlement_amount                             128410
settlement_date                               128410
sec_app_mths_since_last_major_derog           123258
verification_status_joint                     113564
mths_since_last_record                        112962
sec_app_revol_util                            111888
sec_app_num_rev_accts                         111630
sec_app_open_act_il                           111630
                                               ...
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
hardship_flag                                      0
num_accts_ever_120_pd                              0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
mo_sin_rcnt_rev_tl_op                              0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
debt_settlement_flag                               0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
inq_fi                                             0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_rev_tl_op                               0
total_cu_tl                                        0
Length: 145, dtype: int64

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [32]:
df.describe(exclude='number')

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,128412,128412,128412,128412,107465,116708,128412,128412,128412,128412,128412,128412,128412,128412,128412,128412,128256,128412,128250,124941,128411,128412,14848,16782,128412,1,1,1,1,1,1,1,128412,128412,2,2,2
unique,2,46,7,35,43892,11,4,3,3,6,2,12,12,880,50,644,1074,2,5,3,7,2,3,573,2,1,1,1,1,1,1,1,2,2,1,1,1
top,36 months,13.56%,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Oct-2018,Current,n,debt_consolidation,Debt consolidation,112xx,CA,Aug-2006,0%,w,Feb-2019,Mar-2019,Feb-2019,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,Feb-2019,Apr-2019,Feb-2019,Late (16-30 days),Cash,N,Feb-2019,ACTIVE,Feb-2019
freq,88179,6976,38011,9770,2090,38826,63490,58350,46305,123768,128411,70603,70603,1370,17879,1130,1132,114498,123797,124903,125061,111630,6360,155,128411,1,1,1,1,1,1,1,102516,128410,2,2,2

### Convert `int_rate`

In [39]:
type(float('13.56%'.strip('%')))

float

In [0]:
df.int_rate.str.strip('%').astype(float).head()

In [0]:
df.int_rate = df.int_rate.str.strip('%').astype(float)

Define a function to remove percent signs from strings and convert to floats

In [62]:
string = '13.56%'

def remove_percent(string):
    return float(string.strip('%'))
  
    
   
    
remove_percent(string)

SyntaxError: ignored

Apply the function to the `int_rate` column

In [0]:
df.int_rate = df['int_rate'].apply(remove_percent)

In [46]:
(df['int_rate'] / 100).head()

0    0.1356
1    0.1894
2    0.1797
3    0.1894
4    0.1614
Name: int_rate, dtype: float64

### Clean `emp_title`

Look at top 20 titles

In [65]:
df['emp_title'].value_counts().head(20)

Teacher                     2090
Manager                     1773
Registered Nurse             952
Driver                       924
RN                           726
Supervisor                   697
Sales                        580
Project Manager              526
General Manager              523
Office Manager               521
Owner                        420
Director                     402
Truck Driver                 387
Operations Manager           387
Nurse                        326
Engineer                     325
Sales Manager                304
manager                      301
Supervisor                   270
Administrative Assistant     269
Name: emp_title, dtype: int64

How often is `emp_title` null?

In [66]:
df['emp_title'].isnull().sum()

20947

Clean the title and handle missing values
- Capitalize
- Strip Spaces
- Replace `NaN` with `Unknown`

In [70]:
import numpy as np
examples = ['owner', 'Supervisor ', ' Project Manager', np.nan]

def clean_title(x):
  if isinstance(x, str):
    return x.strip().title()
  else:
    return 'Unknown'
  
[clean_title(x) for x in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [71]:
df['emp_title'].apply(clean_title).value_counts().head(20)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')

In [73]:
df['emp_title_manager'].value_counts(normalize=True)

False    0.869055
True     0.130945
Name: emp_title_manager, dtype: float64

In [74]:
df.groupby('emp_title_manager')['int_rate'].mean()

emp_title_manager
False    12.954774
True     12.655238
Name: int_rate, dtype: float64

In [79]:
df['emp_title'].nunique()

43892

In [81]:
df['emp_title'].value_counts().head(25)

Teacher                     2090
Manager                     1773
Registered Nurse             952
Driver                       924
RN                           726
Supervisor                   697
Sales                        580
Project Manager              526
General Manager              523
Office Manager               521
Owner                        420
Director                     402
Truck Driver                 387
Operations Manager           387
Nurse                        326
Engineer                     325
Sales Manager                304
manager                      301
Supervisor                   270
Administrative Assistant     269
Accountant                   268
Server                       265
Vice President               261
Mechanic                     258
Account Manager              254
Name: emp_title, dtype: int64

In [83]:
df.groupby('emp_title')['int_rate'].mean()

emp_title
\tSlot technician                           16.910000
\tVP - Operations                           12.980000
 \tAuto Body Repair                         11.550000
 \tSr highway safety Specialist             25.340000
     CNA                                    14.470000
  Director                                  19.920000
  Supervisor                                13.560000
  Supervisory                               17.970000
  Teacher                                   16.140000
  Truck driver                              20.890000
 2                                          16.910000
 Account Development Specialist             17.970000
 Accountant                                  8.190000
 Accounts Payable specialist                16.910000
 Admin                                       7.210000
 Assistant Manager                           8.810000
 Assistant manager                          24.370000
 BK Operational Specialist II               18.940000
 BR MANAGER                                 16.140000
 Behavioral Specialist                      20.890000
 Branch Manager                              8.190000
 Branch manager                              7.560000
 Building Maintenance Tech                  12.980000
 Business Development                       13.560000
 Casino administrator                       22.350000
 Certified registered nurse practitioner     7.840000
 Certified veterinary technician            13.560000
 Chief operations officer                   10.470000
 Claims adjuster                             6.460000
 Client Partner Connected Solutions         14.470000
 Clinical Social Worker                      8.190000
 Coach/Educator                             10.330000
 Commercial Lending Assistant               13.560000
 Consultant                                 11.800000
 Correction Officer- Sargeant               12.980000
 Customer service                           10.720000
 Customer service agent                     16.910000
 Dietary Manager                            10.720000
 Director IT SOM                             7.840000
 Director Quality Assurance                 10.330000
 Director of CR Field Services              11.310000
 Director of Community Life                 12.980000
 Director of assessment                      6.460000
 Driver                                      8.190000
 Educational diagnostician                  11.310000
 Educator                                   15.020000
 Electrican                                 10.470000
 Electrician                                13.305000
 Engineer                                   15.020000
 Estimator                                  19.920000
 Events Officer                              6.110000
 Examiner support specialists               16.140000
 Excavator                                  22.350000
 Facility manager                           12.980000
 Financial Analyst                          24.370000
 Fire fighter                               11.550000
 Fire safety technician Salesman            12.730000
 Food service manager                        6.110000
 Fulfillment Associate                      27.270000
 General manager                             7.840000
 Guest service agent                        18.940000
 Heavy equipment  Operator                  17.970000
 Hilton North Hills                         16.910000
 Horticulture interior gardener             12.980000
 Inventory                                  19.920000
 Journey man sign installer                 10.080000
 Journeyman plumber                         14.470000
 Laborer                                    10.720000
 Lead DIESEL FLEET TECH                     10.720000
 Lead enrollment counselor                  11.310000
 Lead installer                             11.310000
 MANAGER                                     7.020000
 MASSAGE THERAPIST                          15.020000
 Mail handler                               16.910000
 Maintenance                                19.920000
 Maintenance dispatcher                      7.210000
 Maintenance engineer                       16.140000
 Maintenance painter                        16.140000
 Maintenance supervisor                     11.800000
 Manager                                    13.103333
 Manager, People Business Partners           6.460000
 Manuf Operator                             14.470000
 Matrone                                    11.800000
 Mechanic                                   14.470000
 Mechanic                                   13.560000
 Medical assistant                          10.080000
 Medical records technician                 15.020000
 Mental  Health  Professional               19.920000
 Motorcycle Technician                      18.940000
 National Sales Director                    17.970000
 Network Telecom Engineer                   16.140000
 Nurse                                      14.470000
 Operation Senior Manager                   15.020000
 Operations manager                         13.560000
 Organizer                                   8.460000
 Parts Whole sale manager                   17.970000
 Payroll Administrator                      13.560000
 Personal assistant                         10.080000
 Personnel Manager                          26.310000
 Pharmaceutical sales representative        25.340000
 Pharmacy technician                        26.310000
 Photographer                                7.840000
 Porter/ receiver                            7.840000
 Preschool teacher                          26.310000
 Principal                                  11.550000
 Private Client Banker                      14.470000
 Product Sales Logistics Manager            23.400000
 Project manager/ Site superviser           13.560000
 Protective Security Officer                 6.670000
 Provider Resolution Specialist              8.460000
 Public Works Director                       7.020000
 RN, Staff Development Coordinator          26.310000
 Railroad Engineer                           6.670000
 Regional manager                           14.470000
 Registered Nurse                            7.840000
 Registered nurse                           16.910000
 Reimbursement Dept                         10.330000
 Repair man                                 20.890000
 Research Assistant                         13.560000
 Resolutions clerk                          13.560000
 Respiratory Therapist                       8.190000
 Risk manager                               16.140000
 Rural Carrier                              11.060000
 Rural carrier                              17.970000
 SALES AGENT                                10.330000
 Sales Manager                              16.140000
 Sales Manager                              10.080000
 Sales and Marketing Coordinator             8.810000
 Sandwich artist                            14.470000
 Security Officer                            6.110000
 Security officer                           19.920000
 Senior  maintenance technician              7.840000
 Senior ClientOfficer                       14.470000
 Senior Systems Engineer                     7.840000
 Senior Technology Lifecycle Coordinator    15.020000
 Senior manager                             10.330000
 Shipping Manager                           12.980000
 Sr. HSSE Tech                              26.310000
 Sterile processing technician              19.920000
 Superintend                                20.890000
 Superintendent                             10.470000
 Superintendent                              7.840000
 Supervisor                                 21.125000
 Teacher                                    11.155000
 Teacher                                    13.560000
 Technical Analyst                          16.910000
 Technician                                 10.720000
 Technology Support Specialist              11.060000
 Terminal manager / Driver                  15.020000
 Treasury Associate                         14.470000
 Truck Driver                                7.840000
 VP Human Resources                         10.470000
 Veterinary Technician                      10.330000
 Vice President                              8.190000
 Welder                                      6.670000
 X-ray technition                           15.020000
 associate                                  12.980000
 auditor                                    16.140000
 bartender                                  11.800000
 burner                                     12.980000
 bussiness operation analyst                25.340000
 caseworker                                  8.810000
 clerk                                      11.800000
 counter sales                              18.940000
 electronic technician                      19.920000
 engineering                                15.020000
 field engineer                              6.110000
 floor associate/customer service expert    10.470000
 foreman                                    13.560000
 key account manager                        27.270000
 lead senior process tech                   10.720000
 mental health counselor                    18.940000
 nurse                                      11.800000
 operario de maquina                        22.350000
 operator                                    7.840000
 owner                                      11.550000
 project coordinator                        13.560000
 registered nurse                           11.310000
 returns processor                          13.560000
 server                                     10.470000
 service electrician                        16.140000
 state bail administrator                   16.910000
 supervisor                                 10.465000
 support staff supervisor                   19.920000
 tech asst                                  16.140000
(MPE) mechi                                 16.140000
/STYLIST                                    11.060000
043 Toolclerk                               11.550000
04A                                         15.020000
09S (Officer Candidate)                     16.910000
0operations manager                         13.560000
0ptician                                    20.890000
1 on 1                                       7.210000
100% share holder                           26.310000
11-7 nursing supervisor                     22.350000
112                                         12.730000
11CMF Infantry Instructor                    7.840000
11b                                         11.550000
121 Gamma Drive                              6.670000
13F                                         16.140000
14P                                         27.270000
15T20                                       11.060000
18-wheeler driver                           10.720000
18D Special forces Medical Sgt              11.060000
1A                                           7.210000
1class u&m substation line side              6.460000
1st AD                                      10.720000
1st Assistant                               24.370000
1st Assistant                               16.910000
1st Class Mechanic                          11.060000
1st Engineer                                10.720000
1st Field Clerk                             12.980000
1st Grade Teacher                            6.110000
1st Lieutenant                              12.980000
1st SGT                                     15.020000
1st VP Operations Manager                   13.560000
1st VP Senior Manager                       14.470000
1st class engineering                        8.460000
1st grade teacher                           14.470000
1st mate                                    13.560000
1st pressman                                11.060000
21 dealer                                   11.550000
2LT                                          6.110000
2nd AC                                       8.460000
2nd Assistant                               12.400000
2nd Assistant Store Director                17.970000
2nd Asst. Admin                             13.560000
2nd Deptuy                                  10.720000
2nd Grade Teacher                           16.276667
2nd Lieutenant                              12.980000
2nd Shift Supervisor                        16.910000
2nd grade teacher                           12.980000
2nd grade teacher                           12.980000
2nd mate                                     6.670000
2nd operator                                22.350000
2nd shift Lead Man                          16.140000
2ndry billing Coordnator                    10.330000
31C                                         16.910000
340B Account Operations Specialist          11.800000
3D Designer                                 11.550000
3D Printing Specialist                      10.330000
3D Product Owner                            10.470000
3d visual artist                             8.190000
3rd Grade Teacher                            6.110000
3rd Key Carrier (Person In Charge)          17.970000
3rd Key Manager                             11.800000
3rd grade teacher                            9.846667
3rd shift mod crew                          12.980000
3rd shift supervisor                        15.020000
3rd shift supervisor                        16.140000
                                              ...
traffic signal technician                    7.840000
train conductor                             16.910000
train operator                              22.350000
trainee                                     12.980000
trainer                                      8.876000
training                                    11.550000
training administrator                      16.910000
training coordinater                         6.460000
training coordinator                        10.470000
trans supervisor                            17.970000
transcriber                                 11.310000
transcript evaluator                        11.800000
transcriptionist 2                           6.670000
transit operator                            12.026667
transit operator                             8.810000
transitional work serviced instructor        7.840000
transport administrator                     14.470000
transport driver                             6.460000
transportation                              15.020000
transportation                              11.550000
transportation consultant                   10.470000
transportation manager                      11.060000
transportation mgr.                         11.800000
transportation officer                       7.210000
transportation router                        7.840000
transportation supervisor                   11.800000
transporter                                 25.340000
transportion services supervisor II         12.980000
trasnsportation manager                     10.470000
travel RN                                   12.980000
travel agent                                 8.190000
travel nurse                                18.940000
travel tech                                 13.560000
treasury clerk                              15.020000
treatment coordinator                       12.390000
triage screener                             18.940000
trim saw operator                           20.890000
trk driver                                  20.890000
trock dravi concrete finiche                11.800000
trooper                                     10.330000
tropical plant technician                   25.340000
truck Driver                                10.413333
truck diver                                 15.020000
truck driver                                13.888087
truck driver                                13.630000
truck driver/ Courier Officer               30.790000
truck driver/laborer                        11.310000
truck driver/owner operator                 10.330000
truckdriver                                 11.597500
trucker                                     16.910000
trucking                                     8.190000
truss plant superviser                      16.910000
tube bender                                 12.730000
tug captain                                  7.840000
tv director                                 11.310000
uber driver                                 24.370000
uc tax regional director                     8.810000
ui developer                                14.470000
ultrasound tech                             14.745000
ultrasound tech                             11.310000
ultrasound technologist                     14.470000
underground miner                           10.720000
underwriter                                 13.305000
underwriting consultant                     16.140000
uniform attendant                            6.460000
union carpenter                             16.910000
union glazer                                10.470000
union glazier                               15.020000
union operator                              21.225000
union pipefitter                            10.080000
union represenative                         15.020000
union worker                                14.470000
unit Coordinator                             8.190000
unit manager                                16.910000
unloader                                    11.800000
uph pd                                       8.460000
upholster                                    8.810000
upholstery                                  10.470000
us army recruiter                           11.550000
used sales manager                          16.140000
utility billing coordinator                 13.560000
utility instructor                          12.730000
utility line clearanceforeman               25.340000
utility mechanic                            10.720000
utility operator                            16.140000
utility porter                              20.890000
utility supervisor                          14.470000
utility systems operator                    13.560000
utility tech                                20.890000
utility worker                              13.165000
utilization review nurse                    27.270000
utilization review specialist               10.720000
vArchitect                                  19.920000
valet                                       17.225000
validation technician                       10.080000
valve tech                                  17.925000
vegetation manager                           8.190000
vendor                                       8.460000
vendor                                      12.730000
vendor receive                              15.020000
ventas                                       8.460000
verification                                16.910000
verification Specialist                     19.920000
verification manager                        14.470000
verifier/checker                            11.550000
vessel factory foreman                       7.020000
vet assistant                               16.140000
vet tech                                    13.880000
veterinarian                                 7.255000
veterinarian, medical director              12.730000
veterinary technician                       12.470000
vice President                              13.560000
vice precident of ground operatiosn         18.940000
vice president                              11.391333
vice president interactive                  11.060000
vice president of operations                11.800000
vice president tecnology                    11.310000
vice president, finance manager              8.190000
vice presient                               11.800000

## Work with dates

In [84]:
df.isnull().sum().sort_values(ascending=False) / len(df)

id                                            1.000000
desc                                          1.000000
url                                           1.000000
member_id                                     1.000000
hardship_dpd                                  0.999992
hardship_reason                               0.999992
hardship_status                               0.999992
deferral_term                                 0.999992
hardship_amount                               0.999992
hardship_start_date                           0.999992
hardship_end_date                             0.999992
payment_plan_start_date                       0.999992
hardship_length                               0.999992
hardship_type                                 0.999992
hardship_loan_status                          0.999992
orig_projected_additional_accrued_interest    0.999992
hardship_payoff_balance_amount                0.999992
hardship_last_payment_amount                  0.999992
settlement_term                               0.999984
debt_settlement_flag_date                     0.999984
settlement_status                             0.999984
settlement_date                               0.999984
settlement_amount                             0.999984
settlement_percentage                         0.999984
sec_app_mths_since_last_major_derog           0.959864
verification_status_joint                     0.884372
mths_since_last_record                        0.879684
sec_app_revol_util                            0.871320
sec_app_open_act_il                           0.869311
sec_app_num_rev_accts                         0.869311
sec_app_open_acc                              0.869311
sec_app_mort_acc                              0.869311
sec_app_inq_last_6mths                        0.869311
sec_app_earliest_cr_line                      0.869311
revol_bal_joint                               0.869311
sec_app_chargeoff_within_12_mths              0.869311
sec_app_collections_12_mths_ex_med            0.869311
annual_inc_joint                              0.869311
dti_joint                                     0.869311
mths_since_recent_bc_dlq                      0.803998
mths_since_last_major_derog                   0.772763
mths_since_recent_revol_delinq                0.713563
mths_since_last_delinq                        0.562222
emp_title                                     0.163123
emp_title_manager                             0.163123
il_util                                       0.157882
mths_since_recent_inq                         0.124965
emp_length                                    0.091144
mths_since_rcnt_il                            0.034872
mo_sin_old_il_acct                            0.034872
next_pymnt_d                                  0.027030
num_tl_120dpd_2m                              0.022264
bc_util                                       0.013659
percent_bc_gt_75                              0.013176
bc_open_to_buy                                0.013169
mths_since_recent_bc                          0.012390
dti                                           0.001846
last_pymnt_d                                  0.001262
revol_util                                    0.001215
all_util                                      0.000288
avg_cur_bal                                   0.000101
last_credit_pull_d                            0.000008
earliest_cr_line                              0.000000
inq_last_6mths                                0.000000
total_bal_ex_mort                             0.000000
total_bc_limit                                0.000000
num_tl_30dpd                                  0.000000
open_acc                                      0.000000
pub_rec                                       0.000000
revol_bal                                     0.000000
delinq_2yrs                                   0.000000
initial_list_status                           0.000000
out_prncp                                     0.000000
out_prncp_inv                                 0.000000
total_pymnt                                   0.000000
total_pymnt_inv                               0.000000
total_rec_prncp                               0.000000
total_acc                                     0.000000
title                                         0.000000
addr_state                                    0.000000
disbursement_method                           0.000000
debt_settlement_flag                          0.000000
loan_amnt                                     0.000000
funded_amnt                                   0.000000
funded_amnt_inv                               0.000000
term                                          0.000000
int_rate                                      0.000000
installment                                   0.000000
grade                                         0.000000
sub_grade                                     0.000000
home_ownership                                0.000000
zip_code                                      0.000000
annual_inc                                    0.000000
verification_status                           0.000000
issue_d                                       0.000000
loan_status                                   0.000000
pymnt_plan                                    0.000000
hardship_flag                                 0.000000
total_il_high_credit_limit                    0.000000
purpose                                       0.000000
total_rec_late_fee                            0.000000
total_rec_int                                 0.000000
tot_hi_cred_lim                               0.000000
recoveries                                    0.000000
num_accts_ever_120_pd                         0.000000
chargeoff_within_12_mths                      0.000000
delinq_amnt                                   0.000000
mo_sin_old_rev_tl_op                          0.000000
mo_sin_rcnt_rev_tl_op                         0.000000
mo_sin_rcnt_tl                                0.000000
mort_acc                                      0.000000
num_tl_op_past_12m                            0.000000
num_tl_90g_dpd_24m                            0.000000
num_actv_bc_tl                                0.000000
inq_last_12m                                  0.000000
num_actv_rev_tl                               0.000000
num_bc_sats                                   0.000000
num_bc_tl                                     0.000000
num_il_tl                                     0.000000
num_op_rev_tl                                 0.000000
num_rev_accts                                 0.000000
num_rev_tl_bal_gt_0                           0.000000
num_sats                                      0.000000
acc_open_past_24mths                          0.000000
pct_tl_nvr_dlq                                0.000000
collection_recovery_fee                       0.000000
tot_cur_bal                                   0.000000
last_pymnt_amnt                               0.000000
collections_12_mths_ex_med                    0.000000
policy_code                                   0.000000
application_type                              0.000000
tax_liens                                     0.000000
pub_rec_bankruptcies                          0.000000
acc_now_delinq                                0.000000
tot_coll_amt                                  0.000000
open_acc_6m                                   0.000000
inq_fi                                        0.000000
open_act_il                                   0.000000
open_il_12m                                   0.000000
open_il_24m                                   0.000000
total_bal_il                                  0.000000
open_rv_12m                                   0.000000
open_rv_24m                                   0.000000
max_bal_bc                                    0.000000
total_rev_hi_lim                              0.000000
total_cu_tl                                   0.000000
dtype: float64

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [86]:
df['issue_d'].head().values

array(['Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018'],
      dtype=object)

In [87]:
df['issue_d'].describe()

count       128412
unique           3
top       Oct-2018
freq         46305
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [90]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [94]:
df['issue_d'].describe()

count                  128412
unique                      3
top       2018-10-01 00:00:00
freq                    46305
first     2018-10-01 00:00:00
last      2018-12-01 00:00:00
Name: issue_d, dtype: object

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [0]:
df['days_from_earliest_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

In [103]:
df['days_from_earliest_credit_to_issue'].describe()

count    128412.000000
mean       5859.891490
std        2886.535578
min        1126.000000
25%        4049.000000
50%        5266.000000
75%        7244.000000
max       25171.000000
Name: days_from_earliest_credit_to_issue, dtype: float64

In [104]:
# this will iterate over columns
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [113]:
for col in [col for col in df if col.endswith('_d')]:
  print(col)
  df[col] = pd.to_datetime(df[col], infer_datetime_format=True)

issue_d
last_pymnt_d
next_pymnt_d
last_credit_pull_d

In [114]:
df.describe(include='datetime')

,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
count,128412,128412,128250,124941,128411
unique,3,644,5,3,7
top,2018-10-01 00:00:00,2006-08-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-02-01 00:00:00
freq,46305,1130,123797,124903,125061
first,2018-10-01 00:00:00,1950-01-01 00:00:00,2018-10-01 00:00:00,2019-02-01 00:00:00,2018-08-01 00:00:00
last,2018-12-01 00:00:00,2015-11-01 00:00:00,2019-02-01 00:00:00,2019-04-01 00:00:00,2019-02-01 00:00:00

In [106]:
[col for col in df if col.endswith('credit')]

[]

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [116]:
# First we'll check value counts and include nans
df.term.value_counts(dropna=False)

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [118]:
# looks like no nans but I'll sum it to check again
df.term.isna().sum()

0

In [119]:
# ok so now we check out the df, and it seems to have  just 2 values
df.term.describe()

count         128412
unique             2
top        36 months
freq           88179
Name: term, dtype: object

In [0]:
# I'm going to make a test list for my function
term_examples = df['term'].head().values.tolist()

In [142]:
# basically stealing ryan's function, but keeping it super simple

def clean_term(x):
  if isinstance(x, str):
    return int(x.strip('months').strip())
#   else:
#     return 'Unknown'

# checking this out, and it seems to be working
[clean_term(x) for x in term_examples], type([clean_term(x) for x in term_examples][1])

([36, 60, 36, 36, 60], int)

In [0]:
# applied now I'll check dtype
df.term = df['term'].apply(clean_term)

In [139]:
df.term.dtype
# I'm getting an int, that's right

dtype('int64')

In [143]:
# Everything looks right
df.term.head()

0    36
1    60
2    36
3    36
4    60
Name: term, dtype: int64

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

In [144]:
# explore the loan_status column so I know what I'm working with
df.loan_status.isna().sum()

0

In [145]:
df.loan_status.describe()
# 6 uniques, I'd like to know what they are so I can deal with them

count      128412
unique          6
top       Current
freq       123768
Name: loan_status, dtype: object

In [146]:
df.loan_status.unique()

array(['Current', 'Fully Paid', 'Late (31-120 days)', 'In Grace Period',
       'Charged Off', 'Late (16-30 days)'], dtype=object)

In [156]:
# So it looks like we will want to read these strings and output a 1 for Current or Fully Paid, and a 0 otherwise

test_status = df.loan_status.unique().tolist()

print(test_status)

def loan_reader(status):
   if isinstance(status, str):
      if status == 'Current' or status == 'Fully Paid':
        return 1
      else:
        return 0

# checking this out, and it seems to be working
[loan_reader(x) for x in test_status], type([loan_reader(x) for x in test_status][1])

['Current', 'Fully Paid', 'Late (31-120 days)', 'In Grace Period', 'Charged Off', 'Late (16-30 days)']

([1, 1, 0, 0, 0, 0], int)

In [0]:
# now to apply it

df['loan_status_is_great'] = df['loan_status'].apply(loan_reader)

In [164]:
# now to check our output
# df['loan_status_is_great'].describe()
# df['loan_status_is_great'].unique()
# df['loan_status_is_great'].tail()
df['loan_status'].shape, df['loan_status_is_great'].shape

((128412,), (128412,))

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [168]:
# I'll check the last_pymnt_d paramater first
df.last_pymnt_d.head(), df.last_pymnt_d.shape, df.last_pymnt_d.describe()

(0   2019-02-01
 1   2019-02-01
 2   2019-02-01
 3   2019-02-01
 4   2019-02-01
 Name: last_pymnt_d, dtype: datetime64[ns],
 (128412,),
 count                  128250
 unique                      5
 top       2019-02-01 00:00:00
 freq                   123797
 first     2018-10-01 00:00:00
 last      2019-02-01 00:00:00
 Name: last_pymnt_d, dtype: object)

In [171]:
# I'll test a method to extract the month
df.last_pymnt_d.dt.month.head()

# that worked for the head, so what about the year?

df.last_pymnt_d.dt.year.head()

0    2019.0
1    2019.0
2    2019.0
3    2019.0
4    2019.0
Name: last_pymnt_d, dtype: float64

In [0]:
# so I can make these columns with this simple mehtod:
df['last_pymnt_d_month'] = df.last_pymnt_d.dt.month
df['last_pymnt_d_d'] = df.last_pymnt_d.dt.day

In [191]:
df['last_pymnt_d_month'].head(), df['last_pymnt_d_d'].head(), df['last_pymnt_d'].head()
# df['last_pymnt_d_month'].dtype

(0   1970-01-01 00:00:00.000000002
 1   1970-01-01 00:00:00.000000002
 2   1970-01-01 00:00:00.000000002
 3   1970-01-01 00:00:00.000000002
 4   1970-01-01 00:00:00.000000002
 Name: last_pymnt_d_month, dtype: datetime64[ns], 0    1.0
 1    1.0
 2    1.0
 3    1.0
 4    1.0
 Name: last_pymnt_d_d, dtype: float64, 0   2019-02-01
 1   2019-02-01
 2   2019-02-01
 3   2019-02-01
 4   2019-02-01
 Name: last_pymnt_d, dtype: datetime64[ns])

Looks good but these guys are floats not datetime, let's see if I can fix that

In [193]:
pd.to_datetime(df.last_pymnt_d.dt.month).head()

0   1970-01-01 00:00:00.000000002
1   1970-01-01 00:00:00.000000002
2   1970-01-01 00:00:00.000000002
3   1970-01-01 00:00:00.000000002
4   1970-01-01 00:00:00.000000002
Name: last_pymnt_d, dtype: datetime64[ns]

Whelp. Looks like I can't fix that with date time since a DT object needs a year. Without one it's just an int.

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01