<a href="https://colab.research.google.com/github/Rice-from-data/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/LS_DS_123_Reshape_data_Ned_Horsey_3_27_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Reshape data

Objectives
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- pandas documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

## Why reshape data?

#### Some libraries prefer data in different formats

For example, the Seaborn data visualization library prefers data in "Tidy" format often (but not always).

> "[Seaborn will be most powerful when your datasets have a particular organization.](https://seaborn.pydata.org/introduction.html#organizing-datasets) This format ia alternately called “long-form” or “tidy” data and is described in detail by Hadley Wickham. The rules can be simply stated:

> - Each variable is a column
- Each observation is a row

> A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

#### Data science is often about putting square pegs in round holes

Here's an inspiring [video clip from _Apollo 13_](https://www.youtube.com/watch?v=ry55--J4_VQ): “Invent a way to put a square peg in a round hole.” It's a good metaphor for data wrangling!

## Upgrade Seaborn

Run the cell below which upgrades Seaborn and automatically restarts your Google Colab Runtime.

In [0]:
# !pip install seaborn --upgrade
# import os
# os.kill(os.getpid(), 9)

In [25]:
import seaborn as sns
sns.__version__

'0.7.1'

## Hadley Wickham's Examples

From his paper, [Tidy Data](http://vita.had.co.nz/papers/tidy-data.html)

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

"Table 1 provides some data about an imaginary experiment in a format commonly seen in the wild. 

The table has two columns and three rows, and both rows and columns are labelled."

In [27]:
table1

              treatmenta  treatmentb
John Smith           NaN           2
Jane Doe            16.0          11
Mary Johnson         3.0           1

"There are many ways to structure the same underlying data. 

Table 2 shows the same data as Table 1, but the rows and columns have been transposed. The data is the same, but the layout is different."

In [28]:
table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

%lsmagic

"Table 3 reorganises Table 1 to make the values, variables and obserations more clear.

Table 3 is the tidy version of Table 1. Each row represents an observation, the result of one treatment on one person, and each column is a variable."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

## Table 1 --> Tidy

We can use the pandas `melt` function to reshape Table 1 into Tidy format.

In [29]:
# table3 = pd.melt(table1)
table1.columns.tolist()

['treatmenta', 'treatmentb']

In [30]:
table1.index.tolist()

['John Smith', 'Jane Doe', 'Mary Johnson']

In [31]:
tidy = table1.reset_index().melt(id_vars='index').rename(columns = { 'index' : 'name', 'variable' : 'trt', 'value' : 'result'})

tidy['trt'] = tidy['trt'].str.replace('treatment','')

tidy.set_index('name')

             trt  result
name
John Smith     a     NaN
Jane Doe       a    16.0
Mary Johnson   a     3.0
John Smith     b     2.0
Jane Doe       b    11.0
Mary Johnson   b     1.0

#seaborn challenge

In [32]:
sns.catplot(x='trt', y='result', col='name',
           kind='bar', data=tidy, height=2)

AttributeError: ignored

#Extra challenge
What if we wanted to change a and b to 0 and 1?

In [0]:
tidy['trt'].replace('a', 0).replace('b', 1)

In [0]:
tidy['trt'].map({'a':0, 'b':1})

In [0]:
(tidy['trt'] == 'b').astype(int)

In [0]:
tidy['trt'].apply(lambda x: ord(x)- ord('a'))

## Tidy --> Table 1

The `pivot_table` function is the inverse of `melt`.

In [0]:
table1

In [0]:
tidy

In [0]:
tidy.set_index('name').pivot(columns = 'trt', values='result').rename_axis(None).rename(columns = {'a': 'treatmenta', 'b': 'treatmentb'})

## Table 2 --> Tidy

In [0]:
table2

In [0]:
tidy

In [0]:
table2.melt()

## Tidy --> Table 2

In [0]:
tidy

In [0]:
table2

In [0]:
tidy.set_index('trt').pivot(columns = 'name', values = 'result').rename( index={'a': 'treatmenta', 'b':'treatmentb'}).rename_axis(None)

## Load Instacart data

Let's return to the dataset of [3 Million Instacart Orders](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)

If necessary, uncomment and run the cells below to re-download and extract the data

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

Run these cells to load the data

In [0]:
# !ls
%cd instacart_2017_05_01

In [0]:
products = pd.read_csv('products.csv')

order_products = pd.concat([pd.read_csv('order_products__prior.csv'), 
                            pd.read_csv('order_products__train.csv')])

orders = pd.read_csv('orders.csv')

In [0]:
orders.head()

## Goal: Reproduce part of this example

Instead of a plot with 50 products, we'll just do two — the first products from each list
- Half And Half Ultra Pasteurized
- Half Baked Frozen Yogurt

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*wKfV6OV-_1Ipwrl7AjjSuw.png'
example = Image(url=url, width=600)

display(example)

So, given a `product_name` we need to calculate its `order_hour_of_day` pattern.

## Subset and Merge

In [0]:
product_names = ['Half Baked Frozen Yogurt', 'Half And Half Ultra Pasteurized']

In [0]:
products.columns.tolist(), order_products.columns.tolist(), orders.columns.tolist()

In [0]:
# need to combine product names with hour of day
merged = (products[['product_id', 'product_name']]
          .merge(order_products[['order_id','product_id']])
          .merge(orders[['order_id', 'order_hour_of_day']]))

In [0]:
products.shape, order_products.shape, orders.shape, merged.shape

In [0]:
merged.head()

In [0]:
# merged.memory_usage()
# what condition will filter merged into just the 2 products we care about.

# This is equivalent ....
condition = (merged['product_name'] == 'Haf Baked Frozen Yogurt')


# ....to this:

condition = merged['product_name'].isin(product_names)

subset = merged[condition]

In [0]:
merged.shape, subset.shape

In [0]:
subset.sample(5)

## 4 ways to reshape and plot

### 1. value_counts

In [0]:
cream = subset[subset['product_name'] == 'Half And Half Ultra Pasteurized']
froyo = subset[subset['product_name'] == 'Half Baked Frozen Yogurt']

In [0]:
froyo['order_hour_of_day'].value_counts(normalize=True).sort_index().plot();
cream['order_hour_of_day'].value_counts(normalize=True).sort_index().plot();

### 2. crosstab

In [0]:
pd.crosstab(subset['order_hour_of_day'],
           subset['product_name'],
           ).plot();

In [0]:
(pd.crosstab(subset['order_hour_of_day'],
           subset['product_name'],
           normalize='columns')*100).plot();

### 3. pivot_table

In [0]:
subset.pivot_table(index='order_hour_of_day',
                  columns='product_name',
                  values='order_id',
                   aggfunc=len
                  ).plot();

### 4. melt

In [0]:
table = pd.crosstab(subset['order_hour_of_day'],
                   subset['product_name'],
                   normalize=True)

melted = (table.reset_index()
 .melt(id_vars=
       'order_hour_of_day')
.rename(columns={'order_hour_of_day' : 'Hour of Day Ordered',
                 'product_name' : 'Product',
                 'value': 'Percent of Orders by Product'
                }))

sns.relplot(x='Hour of Day Ordered',
           y='Percent of Orders by Product',
           hue='Product',
           data=melted,
           kind='line');

In [0]:
display(example)

# ASSIGNMENT
- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
  - Table 2 --> Tidy
  - Tidy --> Table 2

- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
flights = sns.load_dataset('flights')

In [0]:
flights.shape

In [0]:
flights.head()

In [0]:
flights.pivot_table(index='year',
                  columns='month',
                  values='passengers',
                   )#.plot();

# STRETCH OPTIONS

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"


- I'll try this, basically, we want to put hour of the day ordered on the x axis, maybe as the index, then % of orders by product as the y value.

In [0]:
merged.head()#, merged.shape

In [0]:
hour_index = merged.drop(['product_id','order_id'], axis = 1)

In [0]:
hour_index.head()

In [0]:
hour_index['Total Sales']= hour_index.groupby('order_hour_of_day').product_name.agg('count')

In [0]:
hour_index.sample(3)
# this gives us the product name and time of day, but we also need value counts to determine popular items

In [0]:
time_and_sales = (hour_index.groupby('product_name')
                 .order_hour_of_day.agg(['mean', 'count'])
                 .rename(columns={'mean': 'average time', 
                                    'count': 'total sales'}))

In [0]:
# time_and_sales.sample(15)

popular = time_and_sales[time_and_sales['total sales'] > 2900]

In [0]:
pop_late = popular.sort_values(by='average time', ascending=False).head(25)
pop_early = popular.sort_values(by='average time', ascending=False).tail(25)

In [23]:
# now that I have a list of popular early and late products,  I can use these to filter a crosstab with normalized sales over hours

late_df = hour_index[hour_index['product_name'].isin(list(pop_late.index))]
early_df = hour_index[hour_index['product_name'].isin(list(pop_early.index))]

NameError: ignored

In [22]:
early_df.head()

NameError: ignored

In [0]:
# hour_table = 
# pd.crosstab(index = early_df['product_name'],
#                    columns = early_df['order_hour_of_day'], values = early_df['total_sales'], 
#                    normalize=True)

# pivot_table(early_df, values = 'total_sales', index='product_name', columns = 'order_hour_of_day', aggfunc=np.normalize)


# since I'm having trouble with the crosstab syntax, I'm going to try just mapping a normalize into a column

early_df['Normalized Sales'] = (early_df['total_sales'] - early_df['total_sales'].mean())/ early_df['total_sales'].std()

In [21]:
early_df.head()

NameError: ignored

In [0]:

table_melted = (popular_table.reset_index()
 .melt(id_vars=
       'order_hour_of_day')
.rename(columns={'order_hour_of_day' : 'Hour of Day Ordered',
                 'product_name' : 'Product',
                 'value': 'Percent of Orders by Product'
                }))

sns.relplot(x='Hour of Day Ordered',
           y='Percent of Orders by Product',
           hue='Product',
           data=melted,
           kind='line');