<a href="https://colab.research.google.com/github/JLDaniel77/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/LS_DS3_124_Make_features_LIVE_LESSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-03-28 16:06:34--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [        <=>         ]  21.29M  1.64MB/s    in 13s

2019-03-28 16:06:47 (1.64 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22329081]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [3]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2386.02","2386.02","167.02","167.02","113.98","53.04","0.0","0.0","0.0","Feb-2019","84.92","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","29387.75","29387.75","1507.11","1507.11","612.25","894.86","0.0","0.0","0.0","Feb-2019","777.23","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4787.21","4787.21","353.89","353.89","212.79","141.10","0.0","0.0","0.0","Feb-2019","180.69","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 18.94%","146.51","D","D2","IT Supervisor","10+ years","MORTGAGE","92000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","985xx","WA","16.74","0","Feb-2006","0","","","10","0","5468","78.1%","13","w","3831.93","3831.93","286.71","286.71","168.07","118.64","0.0","0.0","0.0","Feb-2019","146.51","Mar-2019","Feb-2019","0","","1","Individual","","","","0","686","305049","1","5","3","5","5","30683","68","0","0","3761","70","7000","2","4","3","5","30505","1239","75.2","0","0","62","154","64","5","3","64","","5","","0","1","2","1","2","7","2","3","2","10","0","0","0","3","100","100","0","0","385183","36151","5000","44984","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 16.14%","731.78","C","C4","Mechanic","10+ years","MORTGAGE","57250","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","212xx","MD","26.35","0","Dec-2000","0","","","12","0","829","3.6%","26","w","29339.02","29339.02","1423.21","1423.21","660.98","762.23","0.0","0.0","0.0","Feb-2019","731.78","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","116007","3","5","3","5","4","28845","89","2","4","516","54","23100","1","0","0","9","9667","8471","8.9","0","0","53","216","2","2","2","2","","13","","0","2","2","3","8","9","6","15","2","12","0","0","0","5","92.3","0","0","0","157548","29674","9300","32332","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5550","5550","5550"," 36 months"," 15.02%","192.45","C","C3","Director COE","10+ years","MORTGAGE","152500","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","461xx","IN","37.94","0","Sep-2002","3","","","18","0","53854","48.1%","44","w","5302.50","5302.50","377.95","377.95","247.50","130.45","0.0","0.0","0.0","Feb-2019","192.45","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","685749","1","7","2","3","4","131524","72","1","4","17584","58","111900","2","4","6","8","40338","23746","64","0","0","195","176","10","4","6","20","","3","","0","4","6","6","10","23","9","15","7","18","0","0","0","4","100","60","0","0","831687","185378","65900","203159","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","2000","2000","2000"," 36 months"," 17.97%","72.28","D","D1","Account Manager","4 years","RENT","51000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","606xx","IL","2.4","0","Nov-2004","1","","","1","0","0","","9","w","1914.71","1914.71","141.56","141.56","85.29","56.27","0.0","0.0","0.0","Feb-2019","72.28","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","854","0","0","2","3","7","0","","0","1","0","100","0","0","0","1","4","854","","","0","0","169","40","23","7","0","","","1","","0","0","0","0","3","5","0","3","0","1","0","0","0","2","100","","0","0","854","854","0","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","6000","6000","6000"," 36 months"," 13.56%","203.79","C","C1","Assistant Director","10+ years","RENT","65000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","460xx","IN","30.1","0","Nov-1997","0","","","19","0","38476","69.3%","37","w","5864.01","5864.01","201.53","201.53","135.99","65.54","0.0","0.0","0.0","Feb-2019","208.31","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","91535","0","5","0","1","23","53059","87","0","2","9413","74","55500","1","2","0","3","5085","3034","90.8","0","0","169","253","13","13","1","14","","13","","0","7","12","8","10","15","14","20","12","19","0","0","0","0","100","85.7","0","0","117242","91535","33100","61742","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""

In [4]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","5083.61","5083.61","750.29","750.29","516.39","233.90","0.0","0.0","0.0","Feb-2019","190.21","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","9096.85","9096.85","1378.7","1378.70","903.15","475.55","0.0","0.0","0.0","Feb-2019","346.76","Mar-2019","Feb-2019","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","4538.94","4538.94","675.55","675.55","461.06","214.49","0.0","0.0","0.0","Feb-2019","169.83","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","9044.84","8818.72","1295.36","1262.98","955.16","340.20","0.0","0.0","0.0","Feb-2019","327.68","Mar-2019","Feb-2019","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","9120.98","9120.98","1414.93","1414.93","879.02","535.91","0.0","0.0","0.0","Feb-2019","356.08","Mar-2019","Feb-2019","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [5]:
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,123,124,125,126,127,128,129,130,131,132,133,134,135,136,139,140,141,142,143,144) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.shape

(128415, 1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 128415 entries, (id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...) to (Total amount funded in policy code 2: 820109297, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, ...)
Data columns (total 1 columns):
Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)    3 non-null object
dtypes: object(1)
memory usage: 36.0+ MB

In [9]:
# How to skip first row to load dataset correctly
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df.shape

(128414, 145)

In [12]:
df.isnull().sum().sort_values()

total_cu_tl                                        2
mo_sin_old_rev_tl_op                               2
delinq_amnt                                        2
chargeoff_within_12_mths                           2
acc_open_past_24mths                               2
inq_last_12m                                       2
inq_fi                                             2
total_rev_hi_lim                                   2
max_bal_bc                                         2
open_rv_24m                                        2
open_rv_12m                                        2
total_bal_il                                       2
debt_settlement_flag                               2
open_il_12m                                        2
open_act_il                                        2
open_acc_6m                                        2
tot_cur_bal                                        2
tot_coll_amt                                       2
acc_now_delinq                                     2
application_type                                   2
mo_sin_rcnt_rev_tl_op                              2
mo_sin_rcnt_tl                                     2
mort_acc                                           2
num_accts_ever_120_pd                              2
hardship_flag                                      2
total_il_high_credit_limit                         2
total_bc_limit                                     2
total_bal_ex_mort                                  2
tot_hi_cred_lim                                    2
tax_liens                                          2
                                               ...
sec_app_open_act_il                           111632
sec_app_num_rev_accts                         111632
sec_app_revol_util                            111890
mths_since_last_record                        112964
verification_status_joint                     113566
sec_app_mths_since_last_major_derog           123260
settlement_date                               128412
settlement_amount                             128412
debt_settlement_flag_date                     128412
settlement_status                             128412
id                                            128412
settlement_term                               128412
settlement_percentage                         128412
hardship_type                                 128413
hardship_reason                               128413
hardship_last_payment_amount                  128413
hardship_status                               128413
orig_projected_additional_accrued_interest    128413
deferral_term                                 128413
hardship_dpd                                  128413
hardship_length                               128413
payment_plan_start_date                       128413
hardship_end_date                             128413
hardship_start_date                           128413
hardship_amount                               128413
hardship_loan_status                          128413
hardship_payoff_balance_amount                128413
desc                                          128414
url                                           128414
member_id                                     128414
Length: 145, dtype: int64

In [0]:
# how to remove 2 last rows with bad data
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

In [14]:
df.shape

(128412, 145)

In [16]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56%,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94%,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97%,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94%,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14%,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500

In [19]:
df.tail().T

,128407,128408,128409,128410,128411
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,23000,10000,5000,10000,10000
funded_amnt,23000,10000,5000,10000,10000
funded_amnt_inv,23000,10000,5000,9750,10000
term,36 months,36 months,36 months,36 months,36 months
int_rate,15.02%,15.02%,13.56%,11.06%,16.91%
installment,797.53,346.76,169.83,327.68,356.08
grade,C,C,C,B,C
sub_grade,C3,C3,C1,B3,C5
emp_title,Tax Consultant,security guard,Payoff Clerk,NaN,Key Accounts Manager
emp_length,10+ years,5 years,10+ years,NaN,2 years
home_ownership,MORTGAGE,MORTGAGE,MORTGAGE,RENT,RENT
annual_inc,75000,38000,35360,44400,80000
verification_status,Source Verified,Not Verified,Not Verified,Source Verified,Not Verified
issue_d,Oct-2018,Oct-2018,Oct-2018,Oct-2018,Oct-2018
loan_status,Charged Off,Current,Current,Current,Current
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,NaN,NaN,NaN,NaN,NaN
purpose,debt_consolidation,debt_consolidation,debt_consolidation,credit_card,other
title,Debt consolidation,Debt consolidation,Debt consolidation,Credit card refinancing,Other
zip_code,352xx,443xx,381xx,980xx,021xx
addr_state,AL,OH,TN,WA,MA
dti,20.95,13.16,11.3,11.78,17.72
delinq_2yrs,1,3,1,0,1
earliest_cr_line,Aug-1985,Jul-1982,Jun-2006,Oct-2008,Sep-2006
inq_last_6mths,2,0,0,2,0
mths_since_last_delinq,22,6,21,40,14
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,12,11,9,15,17
pub_rec,0,0,0,0,0
revol_bal,22465,5634,2597,6269,1942
revol_util,43.6%,37.1%,27.3%,13.1%,30.8%
total_acc,28,16,15,25,31
initial_list_status,w,w,f,f,w
out_prncp,0,9096.85,4538.94,9044.84,9120.98
out_prncp_inv,0,9096.85,4538.94,8818.72,9120.98
total_pymnt,1547.08,1378.7,675.55,1295.36,1414.93
total_pymnt_inv,1547.08,1378.7,675.55,1262.98,1414.93
total_rec_prncp,1025.67,903.15,461.06,955.16,879.02
total_rec_int,521.41,475.55,214.49,340.2,535.91
total_rec_late_fee,0,0,0,0,0
recoveries,0,0,0,0,0
collection_recovery_fee,0,0,0,0,0
last_pymnt_d,Dec-2018,Feb-2019,Feb-2019,Feb-2019,Feb-2019
last_pymnt_amnt,797.53,346.76,169.83,327.68,356.08
next_pymnt_d,NaN,Mar-2019,Mar-2019,Mar-2019,Mar-2019
last_credit_pull_d,Nov-2018,Feb-2019,Feb-2019,Feb-2019,Feb-2019
collections_12_mths_ex_med,0,0,0,0,0
mths_since_last_major_derog,NaN,NaN,NaN,53,25
policy_code,1,1,1,1,1
application_type,Individual,Individual,Individual,Individual,Individual
annual_inc_joint,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,0,0,0,0,0
tot_coll_amt,0,155,1413,520,0
tot_cur_bal,259658,77424,69785,16440,59194
open_acc_6m,4,0,0,3,0
open_act_il,2,1,2,1,15
open_il_12m,3,0,0,1,1
open_il_24m,3,0,1,1,1
mths_since_rcnt_il,6,34,16,2,12
total_bal_il,18149,200,2379,10171,57252
il_util,86,10,40,100,85
open_rv_12m,4,1,3,2,0
open_rv_24m,6,1,4,5,0
max_bal_bc,12843,1866,1826,404,1942
all_util,56,42,32,28,80
total_rev_hi_lim,51500,15200,9500,47700,6300
inq_fi,2,2,0,0,0
total_cu_tl,2,0,0,3,5
inq_last_12m,5,0,1,5,0
acc_open_past_24mths,11,2,5,6,1
avg_cur_bal,21638,7039,8723,1265,3482
bc_open_to_buy,26321,4537,1174,20037,2058
bc_util,44.1,50.1,60.9,2.3,48.5
chargeoff_within_12_mths,0,0,0,0,0
delinq_amnt,0,0,0,0,0
mo_sin_old_il_acct,12,34,147,61,144
mo_sin_old_rev_tl_op,397,434,85,119,142
mo_sin_rcnt_rev_tl_op,4,11,9,1,40
mo_sin_rcnt_tl,4,11,9,1,12
mort_acc,6,3,2,0,0
mths_since_recent_bc,5,11,10,1,131
mths_since_recent_bc_dlq,22,6,21,NaN,30
mths_since_recent_inq,4,17,9,1,NaN
mths_since_recent_revol_delinq,22,6,21,40,30
num_accts_ever_120_pd,0,0,0,1,3
num_actv_bc_tl,4,3,1,2,1
num_actv_rev_tl,5,5,3,4,1
num_bc_sats,7,5,2,6,1
num_bc_tl,14,6,2,8,5
num_il_tl,3,1,6,3,22
num_op_rev_tl,9,8,6,14,2
num_rev_accts,19,11,7,22,9
num_rev_tl_bal_gt_0,5,5,3,4,1
num_sats,12,11,9,15,17
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,0,0
num_tl_op_past_12m,7,1,3,3,1
pct_tl_nvr_dlq,96.4,73.3,92.9,92,74.2
percent_bc_gt_75,14.3,40,50,0,0
pub_rec_bankruptcies,0,0,0,0,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,296500,91403,93908,57871,73669
total_bal_ex_mort,40614,9323,4976,16440,59194
total_bc_limit,47100,9100,3000,20500,4000
total_il_high_credit_limit,21000,2000,6028,10171,67369
revol_bal_joint,NaN,NaN,NaN,NaN,NaN
sec_app_earliest_cr_line,NaN,NaN,NaN,NaN,NaN
sec_app_inq_last_6mths,NaN,NaN,NaN,NaN,NaN
sec_app_mort_acc,NaN,NaN,NaN,NaN,NaN
sec_app_open_acc,NaN,NaN,NaN,NaN,NaN
sec_app_revol_util,NaN,NaN,NaN,NaN,NaN
sec_app_open_act_il,NaN,NaN,NaN,NaN,NaN
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,NaN
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,NaN
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,NaN
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
disbursement_method,Cash,Cash,Cash,Cash,Cash
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [20]:
df.describe(exclude='number')

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,128412,128412,128412,128412,107465,116708,128412,128412,128412,128412,128412,128412,128412,128412,128412,128412,128256,128412,128250,124941,128411,128412,14848,16782,128412,1,1,1,1,1,1,1,128412,128412,2,2,2
unique,2,46,7,35,43892,11,4,3,3,6,2,12,12,880,50,644,1074,2,5,3,7,2,3,573,2,1,1,1,1,1,1,1,2,2,1,1,1
top,36 months,13.56%,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Oct-2018,Current,n,debt_consolidation,Debt consolidation,112xx,CA,Aug-2006,0%,w,Feb-2019,Mar-2019,Feb-2019,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,Feb-2019,Apr-2019,Feb-2019,Late (16-30 days),Cash,N,Feb-2019,ACTIVE,Feb-2019
freq,88179,6976,38011,9770,2090,38826,63490,58350,46305,123768,128411,70603,70603,1370,17879,1130,1132,114498,123797,124903,125061,111630,6360,155,128411,1,1,1,1,1,1,1,102516,128410,2,2,2

### Convert `int_rate`

In [22]:
float('13.56%'.strip('%'))

13.56

In [23]:
df['int_rate'].head()

0     13.56%
1     18.94%
2     17.97%
3     18.94%
4     16.14%
Name: int_rate, dtype: object

In [25]:
df['int_rate'] = df['int_rate'].str.strip('%').astype(float)
df['int_rate'].head()

0    13.56
1    18.94
2    17.97
3    18.94
4    16.14
Name: int_rate, dtype: float64

Define a function to remove percent signs from strings and convert to floats

In [27]:
string = '13.56%'

def remove_percent(string):
  return float(string.strip('%'))

remove_percent(string)

13.56

Apply the function to the `int_rate` column

In [0]:
# df['int_rate'] = df['int_rate'].apply(remove_percent)
# df['int_rate'].head()

### Clean `emp_title`

Look at top 20 titles

In [30]:
df['emp_title'].head(20)

0                            Chef
1                     Postmaster
2                  Administrative
3                   IT Supervisor
4                        Mechanic
5                    Director COE
6                 Account Manager
7              Assistant Director
8             Legal Assistant III
9                             NaN
10                            NaN
11                     Consultant
12           Job Coach Supervisor
13         Quality Field Engineer
14                        Teller
15           respritory therapist
16               Worship Director
17                     Processor
18    Neonatal Nurse Practitioner
19            Stationary Engineer
Name: emp_title, dtype: object

In [31]:
df['emp_title'].value_counts().head(20)

Teacher                     2090
Manager                     1773
Registered Nurse             952
Driver                       924
RN                           726
Supervisor                   697
Sales                        580
Project Manager              526
General Manager              523
Office Manager               521
Owner                        420
Director                     402
Operations Manager           387
Truck Driver                 387
Nurse                        326
Engineer                     325
Sales Manager                304
manager                      301
Supervisor                   270
Administrative Assistant     269
Name: emp_title, dtype: int64

How often is `emp_title` null?

In [32]:
df['emp_title'].isnull().sum()

20947

Clean the title and handle missing values

Clean the title and handle missing values:
- Capitalize
- Strip spaces
- Replace NaN with 'Missing'

In [34]:
import numpy as np

examples = ['owner', 'Supervisor ', ' Project Manager', np.nan]

def clean_title(x):
  if isinstance(x, str):
    return x.strip().title()
  else:
    return 'Unknown'

[clean_title(x) for x in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [38]:
df['emp_title'].head(10)

0                   Chef
1             Postmaster
2         Administrative
3          It Supervisor
4               Mechanic
5           Director Coe
6        Account Manager
7     Assistant Director
8    Legal Assistant Iii
9                Unknown
Name: emp_title, dtype: object

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')

In [41]:
df['emp_title_manager'].value_counts(normalize=True)

False    0.860745
True     0.139255
Name: emp_title_manager, dtype: float64

In [42]:
df.groupby('emp_title_manager')['int_rate'].mean()

emp_title_manager
False    12.958054
True     12.761840
Name: int_rate, dtype: float64

In [43]:
df.isnull().sum().sort_values(ascending=False) / len(df)

id                                            1.000000
member_id                                     1.000000
url                                           1.000000
desc                                          1.000000
hardship_length                               0.999992
hardship_amount                               0.999992
hardship_type                                 0.999992
hardship_reason                               0.999992
hardship_status                               0.999992
hardship_last_payment_amount                  0.999992
hardship_payoff_balance_amount                0.999992
orig_projected_additional_accrued_interest    0.999992
hardship_loan_status                          0.999992
hardship_dpd                                  0.999992
deferral_term                                 0.999992
payment_plan_start_date                       0.999992
hardship_end_date                             0.999992
hardship_start_date                           0.999992
settlement_date                               0.999984
settlement_percentage                         0.999984
settlement_term                               0.999984
settlement_amount                             0.999984
debt_settlement_flag_date                     0.999984
settlement_status                             0.999984
sec_app_mths_since_last_major_derog           0.959864
verification_status_joint                     0.884372
mths_since_last_record                        0.879684
sec_app_revol_util                            0.871320
sec_app_earliest_cr_line                      0.869311
annual_inc_joint                              0.869311
dti_joint                                     0.869311
revol_bal_joint                               0.869311
sec_app_collections_12_mths_ex_med            0.869311
sec_app_inq_last_6mths                        0.869311
sec_app_mort_acc                              0.869311
sec_app_open_acc                              0.869311
sec_app_open_act_il                           0.869311
sec_app_num_rev_accts                         0.869311
sec_app_chargeoff_within_12_mths              0.869311
mths_since_recent_bc_dlq                      0.803998
mths_since_last_major_derog                   0.772763
mths_since_recent_revol_delinq                0.713563
mths_since_last_delinq                        0.562222
il_util                                       0.157882
mths_since_recent_inq                         0.124965
emp_length                                    0.091144
mths_since_rcnt_il                            0.034872
mo_sin_old_il_acct                            0.034872
next_pymnt_d                                  0.027030
num_tl_120dpd_2m                              0.022264
bc_util                                       0.013659
percent_bc_gt_75                              0.013176
bc_open_to_buy                                0.013169
mths_since_recent_bc                          0.012390
dti                                           0.001846
last_pymnt_d                                  0.001262
revol_util                                    0.001215
all_util                                      0.000288
avg_cur_bal                                   0.000101
last_credit_pull_d                            0.000008
loan_status                                   0.000000
total_pymnt                                   0.000000
int_rate                                      0.000000
out_prncp_inv                                 0.000000
installment                                   0.000000
total_pymnt_inv                               0.000000
total_rec_late_fee                            0.000000
total_rec_prncp                               0.000000
total_rec_int                                 0.000000
initial_list_status                           0.000000
recoveries                                    0.000000
collection_recovery_fee                       0.000000
term                                          0.000000
funded_amnt_inv                               0.000000
funded_amnt                                   0.000000
last_pymnt_amnt                               0.000000
loan_amnt                                     0.000000
out_prncp                                     0.000000
grade                                         0.000000
total_acc                                     0.000000
revol_bal                                     0.000000
verification_status                           0.000000
purpose                                       0.000000
title                                         0.000000
zip_code                                      0.000000
addr_state                                    0.000000
annual_inc                                    0.000000
home_ownership                                0.000000
delinq_2yrs                                   0.000000
earliest_cr_line                              0.000000
inq_last_6mths                                0.000000
emp_title                                     0.000000
sub_grade                                     0.000000
open_acc                                      0.000000
pub_rec                                       0.000000
pymnt_plan                                    0.000000
issue_d                                       0.000000
emp_title_manager                             0.000000
collections_12_mths_ex_med                    0.000000
policy_code                                   0.000000
num_actv_rev_tl                               0.000000
num_bc_sats                                   0.000000
num_bc_tl                                     0.000000
num_il_tl                                     0.000000
num_op_rev_tl                                 0.000000
num_rev_accts                                 0.000000
num_rev_tl_bal_gt_0                           0.000000
num_sats                                      0.000000
num_tl_30dpd                                  0.000000
num_tl_90g_dpd_24m                            0.000000
num_tl_op_past_12m                            0.000000
pct_tl_nvr_dlq                                0.000000
pub_rec_bankruptcies                          0.000000
tax_liens                                     0.000000
tot_hi_cred_lim                               0.000000
total_bal_ex_mort                             0.000000
total_bc_limit                                0.000000
total_il_high_credit_limit                    0.000000
hardship_flag                                 0.000000
disbursement_method                           0.000000
debt_settlement_flag                          0.000000
num_actv_bc_tl                                0.000000
num_accts_ever_120_pd                         0.000000
mort_acc                                      0.000000
open_rv_12m                                   0.000000
application_type                              0.000000
acc_now_delinq                                0.000000
tot_coll_amt                                  0.000000
tot_cur_bal                                   0.000000
open_acc_6m                                   0.000000
open_act_il                                   0.000000
open_il_12m                                   0.000000
open_il_24m                                   0.000000
total_bal_il                                  0.000000
open_rv_24m                                   0.000000
mo_sin_rcnt_tl                                0.000000
max_bal_bc                                    0.000000
total_rev_hi_lim                              0.000000
inq_fi                                        0.000000
inq_last_12m                                  0.000000
acc_open_past_24mths                          0.000000
chargeoff_within_12_mths                      0.000000
delinq_amnt                                   0.000000
mo_sin_old_rev_tl_op                          0.000000
mo_sin_rcnt_rev_tl_op                         0.000000
total_cu_tl                                   0.000000
dtype: float64

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [44]:
df['issue_d'].head().values

array(['Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018'],
      dtype=object)

In [45]:
df['issue_d'].describe()

count       128412
unique           3
top       Oct-2018
freq         46305
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [48]:
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,url,desc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,0.0,128412.000000,128412.000000,128412.000000,128412.000000,128412.00000,1.284120e+05,0.0,0.0,128175.000000,128412.000000,128412.000000,56216.000000,15450.000000,128412.000000,128412.000000,1.284120e+05,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.0,128412.0,128412.000000,128412.000000,29180.000000,128412.0,1.678200e+04,16782.000000,128412.0,128412.000000,1.284120e+05,128412.000000,128412.000000,128412.000000,128412.000000,123934.000000,1.284120e+05,108138.000000,128412.000000,128412.000000,128412.000000,128375.000000,1.284120e+05,128412.000000,128412.000000,128412.000000,128412.000000,128399.000000,126721.000000,126658.000000,128412.000000,128412.000000,123934.000000,128412.000000,128412.000000,128412.000000,128412.000000,126821.000000,25169.000000,112365.000000,36782.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,125553.0,128412.0,128412.000000,128412.000000,128412.000000,126720.000000,128412.000000,128412.0,1.284120e+05,1.284120e+05,128412.000000,1.284120e+05,1.678200e+04,16782.000000,16782.000000,16782.000000,16524.000000,16782.000000,16782.000000,16782.000000,16782.000000,5154.000000,1.0,1.00,1.0,1.0,1.00,1.00,1.00,2.000000,2.0,2.0
mean,NaN,NaN,15971.321021,15971.321021,15968.496025,12.930730,463.26249,8.279733e+04,NaN,NaN,19.933178,0.227837,0.447038,36.880337,86.130162,11.564052,0.121850,1.689800e+04,22.677413,14634.609953,14632.105964,1814.301062,1813.904214,1332.882773,481.328067,0.090221,0.0,0.0,832.170531,0.017958,46.553461,1.0,1.335516e+05,19.226602,0.0,188.304286,1.467922e+05,0.939507,2.760202,0.689071,1.572665,20.201519,3.627228e+04,68.211757,1.195901,2.540783,6062.072275,54.298812,3.938218e+04,1.114561,1.519928,1.876912,4.382698,13828.378874,15357.302957,50.048701,0.007087,0.967768,123.056925,173.063623,15.431634,8.635400,1.323155,26.013957,40.415233,7.552832,37.817275,0.461553,3.659876,5.414128,4.882129,7.065944,8.288524,8.199210,12.866702,5.386342,11.546717,0.0,0.0,0.059488,2.011642,94.659843,32.900756,0.121733,0.0,1.884852e+05,5.356097e+04,27439.534163,4.682180e+04,3.664280e+04,0.585985,1.587177,11.436003,55.878831,3.027112,12.423907,0.036170,0.062984,38.515910,3.0,378.39,3.0,22.0,1135.17,15351.85,1045.41,7781.000000,65.0,18.0
std,NaN,NaN,10150.384233,10150.384233,10152.171207,5.090136,285.71765,1.082985e+05,NaN,NaN,20.143542,0.733793,0.734480,21.813805,21.880055,5.981599,0.332825,2.408255e+04,12.129216,9850.574076,9852.002644,3034.807763,3034.669005,2969.463748,411.240684,1.900954,0.0,0.0,2754.091189,0.146569,21.801716,0.0,9.687001e+04,8.141631,0.0,1569.290033,1.738727e+05,1.145306,2.942377,0.935776,1.565118,24.869930,4.726387e+04,23.589461,1.470123,2.524326,5932.797469,20.655736,3.794575e+04,1.501455,2.712328,2.296951,3.209299,17487.605341,19792.599023,28.791276,0.095924,112.158421,56.581697,100.200199,19.053976,9.573207,1.713149,34.306721,22.305270,6.057088,22.023835,1.349412,2.448079,3.439644,3.205305,4.517165,7.389195,4.958905,7.873911,3.388380,5.977599,0.0,0.0,0.410652,1.880559,8.989288,34.899647,0.332552,0.0,1.965536e+05,5.599335e+04,26377.282557,4.957491e+04,3.252566e+04,0.936053,1.801878,6.690119,26.071241,3.254318,8.190067,0.347726,0.364083,23.659436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3306.431309,0.0,0.0
min,NaN,NaN,1000.000000,1000.000000,725.000000,6.000000,30.48000,0.000000e+00,NaN,NaN,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000e+00,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,1.0,9.000000e+03,0.000000,0.0,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,378.39,3.0,22.0,1135.17,15351.85,1045.41,5443.000000,65.0,18.0
25%,NaN,NaN,8000.000000,8000.000000,8000.000000,8.460000,253.63000,4.705800e+04,NaN,NaN,11.760000,0.000000,0.000000,19.000000,72.000000,7.000000,0.000000,5.599000e+03,14.000000,7241.120000,7235.890000,698.627500,698.210000,444.430000,187.370000,0.000000,0.0,0.0,259.240000,0.000000,29.000000,1.0,8.739400e+04,13.200000,0.0,0.000000,2.746550e+04,0.000000,1.000000,0.000000,0.000000,6.000000,8.194000e+03,54.000000,0.000000,1.000000,2291.000000,40.000000,1.700000e+04,0.000000,0.000000,0.000000,2.000000,2927.000000,3006.000000,26.400000,0.000000,0.000000,84.000000,98.000000,4.000000,3.000000,0.000000,6.000000,23.000000,3.000000,20.000000,0.000000,2.000000,3.000000,3.000000,4.000000,3.000000,5.000000,7.000000,3.000000,7.000000,0.0,0.0,0.000000,1.000000,92.300000,0.000000,0.000000,0.0,5.315975e+04,2.009100e+04,10100.000000,1.500000e+04,1.610400e+04,0.000000,0.000000,7.000000,36.400000,1.000000,7.000000,0.000000,0.000000,19.000000,3.0,378.39,3.0,22.0,1135.17,15351.85,1045.41,6612.000000,65.0,18.0
50%,NaN,NaN,14000.000000,14000.000000,14000.000000,11.800000,382.90500,6.800000e+04,NaN,NaN,17.990000,0.000000,0.000000,34.000000,90.000000,10.000000,0.000000,1.119950e+04,21.000000,12262.185000,12260.995000,1193.595000,1193.480000,736.335000,360.670000,0.000000,0.0,0.0,396.750000,0.000000,47.000000,1.0,1.170000e+05,18.655000,0.0,0.000000,7.498500e+04,1.000000,2.000000,0.000000,1.000000,13.000000,2.299000e+04,71.000000,1.000000,2.000000,4583.000000,55.000000,2.970000e+04,1.000000,0.000000,1.000000,4.000000,7048.000000,8628.000000,48.900000,0.000000,0.000000,130.000000,155.000000,9.000000,6.000000,1.000000,15.000000,38.000000,6.000000,35.000000,0.000000,3.000000,5.000000,4.000000,6.000000,6.000000,7.000000,11.000000,5.000000,10.000000,0.0,0.0,0.000000,2.000000,100.000000,25.000000,0.000000,0.0,1.177000e+05,3.846900e+04,19800.000000,3.460500e+04,2.858500e+04,0.000000,1.000000,10.000000,57.500000,2.000000,11.000000,0.000000,0.000000,37.000000,3.0,378.39,3.0,22.0,1135.17,15351.85,1045.41,7781.000000,65.0,18.0
75%,NaN,NaN,21600.000000,21600.000000,21600.000000,16.140000,622.68000,9.900000e+04,NaN,NaN,25.300000,0.000000,1.000000,53.000000,104.000000,15.000000,0.000000,2.056300e+04,29.000000,19882.602500,19881.270000,1956.050000,1955.940000,1246.770000,653.220000,0.000000,0.0,0.0,652.130000,0.000000,64.000000,1.0,1.586790e+05,24.930000,0.0,0.000000,2.218235e+05,1.000000,3.000000,1.000000,2.000000,24.000000,4.683025e+04,85.000000,2.000000,4.000000,8013.000000,69.000000,4.980000e+04,2.000000,2.000000,3.000000,6.000000,19122.500000,20181.000000,74.200000,0.000000,0.000000,156.000000,224.000000,20.000000,11.000000,2.000000,31.000000,57.000000,12.000000,53.000000,0.000000,5.000000,7.000000,6.000000,9.000000,11.000000,10.000000,17.000000,7.000000,14.000000,0.0,0.0,0.000000,3.000000,100.000000,55.600000,0.000000,0.0,2.736065e+05,6.804125e+04,36100.000000,6.328950e+04,4.722875e+04,1.000000,3.000000,15.000000,76.900000,4.000000,16.000000,0.000000,0.000000,58.000000,3.0,378.39,3.0,22.0,1135.17,15351.85,1045.41,8950.000000,65.0,18.0
max,NaN,NaN,40000.000000,40000.000000,40000.000000,30.990000,1618.24000,9.757200e+06,NaN,NaN,999.000000,24.000000,5.000000,160.000000,119.000000,94.000000,6.000000,2.358150e+06,160.000000,40000.000000,40000.000000,41894.412366,41894.410000,40000.000000,3986.690000,141.600000,0.0,0.0,41253.540000,8.000000,162.000000,1.0,6.282000e+06,39.990000,0.0,208593.000000,9.971659e+06,13.000000,56.000000,6.000000,19.000000,505.000000,1.837038e+06,428.000000,22.000000,40.000000,338224.000000,188.000000,1.596201e+06,29.000000,56.000000,51.000000,43.000000,623229.000000,605996.000000,183.800000,7.000000,31593.000000,827.000000,826.000000,382.000000,382.000000,87.000000,640.000000,152.000000,25.000000,160.000000,31.000000,48.000000,59.000000,64.000000,69.000000,130.000000,69.000000,127.000000,37.000000,94.000000,0.0,0.0,23.000000,24.000000,100.000000,100.000000,6.000000,0.0,9.999999e+06,2.622906e+06,666200.000000,2.118996e+06,1.110019e+06,6.000000,15.000000,67.000000,170.100000,34.000000,95.000000,21.000000,15.000000,153.000000,3.0,378.39,3.0,22.0,1135.17,15351.85,1045.41,10119.000000,65.0,18.0

In [49]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [0]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

In [51]:
df.shape

(128412, 148)

In [54]:
df['issue_month'].sample(n=10).values

array([11, 10, 12, 10, 11, 10, 12, 11, 10, 11])

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'],
                                       infer_datetime_format=True)

In [56]:
df['earliest_cr_line'].head().values

array(['2001-04-01T00:00:00.000000000', '1987-06-01T00:00:00.000000000',
       '2011-04-01T00:00:00.000000000', '2006-02-01T00:00:00.000000000',
       '2000-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [57]:
df['earliest_cr_line'].head()

0   2001-04-01
1   1987-06-01
2   2011-04-01
3   2006-02-01
4   2000-12-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [0]:
df['days_from_earliest_credit_to_issue'] = (
    df['issue_d'] - df['earliest_cr_line']).dt.days

In [62]:
df['days_from_earliest_credit_to_issue'].describe()

count    128412.000000
mean       5859.891490
std        2886.535578
min        1126.000000
25%        4049.000000
50%        5266.000000
75%        7244.000000
max       25171.000000
Name: days_from_earliest_credit_to_issue, dtype: float64

In [63]:
# search for all date columns with _d
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
for col in ['last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
  df[col] = pd.to_datetime(df[col], infer_datetime_format=True)

In [65]:
df.describe(include='datetime')

,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
count,128412,128412,128250,124941,128411
unique,3,644,5,3,7
top,2018-10-01 00:00:00,2006-08-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-02-01 00:00:00
freq,46305,1130,123797,124903,125061
first,2018-10-01 00:00:00,1950-01-01 00:00:00,2018-10-01 00:00:00,2019-02-01 00:00:00,2018-08-01 00:00:00
last,2018-12-01 00:00:00,2015-11-01 00:00:00,2019-02-01 00:00:00,2019-04-01 00:00:00,2019-02-01 00:00:00

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

### Convert the 'term' column from string to integer.

In [66]:
df['term'].value_counts(dropna=False)

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [69]:
df['term'].head()

0     36 months
1     60 months
2     36 months
3     36 months
4     60 months
Name: term, dtype: object

In [70]:
'36 months'.strip(' months')

'36'

In [71]:
type('36 months'.strip(' months'))

str

In [75]:
type(int('36 months'.strip(' months')))

int

In [76]:
df['term'] = df['term'].str.strip(' months').astype(int)
df['term'].head()

0    36
1    60
2    36
3    36
4    60
Name: term, dtype: int64

### Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

In [67]:
df['loan_status'].value_counts(dropna=False)

Current               123768
Fully Paid              3438
Late (31-120 days)       509
In Grace Period          441
Late (16-30 days)        223
Charged Off               33
Name: loan_status, dtype: int64

In [77]:
df['loan_status'].isnull().sum()

0

In [0]:
def status(x):
  if x == 'Current':
    return 1
  elif x == 'Fully Paid':
    return 1
  else:
    return 0

In [0]:
df['loan_status_is_great'] = df['loan_status'].apply(status)

In [98]:
df[['loan_status', 'loan_status_is_great']]

               loan_status  loan_status_is_great
0                  Current                     1
1                  Current                     1
2                  Current                     1
3                  Current                     1
4                  Current                     1
5                  Current                     1
6                  Current                     1
7                  Current                     1
8                  Current                     1
9                  Current                     1
10                 Current                     1
11                 Current                     1
12                 Current                     1
13                 Current                     1
14                 Current                     1
15                 Current                     1
16                 Current                     1
17                 Current                     1
18                 Current                     1
19                 Current                     1
20                 Current                     1
21                 Current                     1
22                 Current                     1
23                 Current                     1
24                 Current                     1
25                 Current                     1
26                 Current                     1
27                 Current                     1
28                 Current                     1
29                 Current                     1
30                 Current                     1
31                 Current                     1
32                 Current                     1
33                 Current                     1
34                 Current                     1
35                 Current                     1
36                 Current                     1
37                 Current                     1
38                 Current                     1
39                 Current                     1
40                 Current                     1
41                 Current                     1
42                 Current                     1
43                 Current                     1
44                 Current                     1
45                 Current                     1
46                 Current                     1
47                 Current                     1
48                 Current                     1
49                 Current                     1
50                 Current                     1
51                 Current                     1
52                 Current                     1
53                 Current                     1
54                 Current                     1
55                 Current                     1
56                 Current                     1
57                 Current                     1
58                 Current                     1
59                 Current                     1
60                 Current                     1
61                 Current                     1
62                 Current                     1
63                 Current                     1
64                 Current                     1
65                 Current                     1
66                 Current                     1
67                 Current                     1
68                 Current                     1
69                 Current                     1
70                 Current                     1
71                 Current                     1
72                 Current                     1
73                 Current                     1
74                 Current                     1
75                 Current                     1
76                 Current                     1
77                 Current                     1
78                 Current                     1
79                 Current                     1
80                 Current                     1
81                 Current                     1
82                 Current                     1
83                 Current                     1
84                 Current                     1
85                 Current                     1
86                 Current                     1
87                 Current                     1
88                 Current                     1
89                 Current                     1
90                 Current                     1
91                 Current                     1
92                 Current                     1
93                 Current                     1
94                 Current                     1
95                 Current                     1
96                 Current                     1
97                 Current                     1
98                 Current                     1
99                 Current                     1
100             Fully Paid                     1
101                Current                     1
102                Current                     1
103                Current                     1
104                Current                     1
105                Current                     1
106                Current                     1
107                Current                     1
108                Current                     1
109                Current                     1
110                Current                     1
111                Current                     1
112                Current                     1
113                Current                     1
114                Current                     1
115                Current                     1
116                Current                     1
117                Current                     1
118                Current                     1
119                Current                     1
120                Current                     1
121                Current                     1
122                Current                     1
123                Current                     1
124                Current                     1
125                Current                     1
126                Current                     1
127                Current                     1
128                Current                     1
129                Current                     1
130                Current                     1
131                Current                     1
132                Current                     1
133                Current                     1
134                Current                     1
135                Current                     1
136                Current                     1
137                Current                     1
138                Current                     1
139                Current                     1
140                Current                     1
141                Current                     1
142                Current                     1
143                Current                     1
144                Current                     1
145                Current                     1
146                Current                     1
147                Current                     1
148                Current                     1
149                Current                     1
150                Current                     1
151                Current                     1
152             Fully Paid                     1
153                Current                     1
154                Current                     1
155                Current                     1
156                Current                     1
157                Current                     1
158                Current                     1
159                Current                     1
160                Current                     1
161                Current                     1
162                Current                     1
163                Current                     1
164                Current                     1
165                Current                     1
166                Current                     1
167                Current                     1
168                Current                     1
169                Current                     1
170             Fully Paid                     1
171                Current                     1
172                Current                     1
173                Current                     1
174                Current                     1
175                Current                     1
176                Current                     1
177                Current                     1
178                Current                     1
179                Current                     1
180                Current                     1
181                Current                     1
182                Current                     1
183                Current                     1
184                Current                     1
185                Current                     1
186             Fully Paid                     1
187                Current                     1
188                Current                     1
189                Current                     1
190                Current                     1
191                Current                     1
192                Current                     1
193                Current                     1
194                Current                     1
195                Current                     1
196                Current                     1
197                Current                     1
198                Current                     1
199                Current                     1
200                Current                     1
201                Current                     1
202                Current                     1
203                Current                     1
204                Current                     1
205                Current                     1
206                Current                     1
207                Current                     1
208                Current                     1
209                Current                     1
210                Current                     1
211                Current                     1
212                Current                     1
213                Current                     1
214                Current                     1
215             Fully Paid                     1
216                Current                     1
217                Current                     1
218                Current                     1
219                Current                     1
220                Current                     1
221                Current                     1
222                Current                     1
223                Current                     1
224                Current                     1
225                Current                     1
226                Current                     1
227                Current                     1
228                Current                     1
229                Current                     1
230                Current                     1
231                Current                     1
232                Current                     1
233                Current                     1
234                Current                     1
235                Current                     1
236                Current                     1
237                Current                     1
238                Current                     1
239                Current                     1
240                Current                     1
241                Current                     1
242                Current                     1
243                Current                     1
244                Current                     1
245                Current                     1
246                Current                     1
247                Current                     1
248                Current                     1
249                Current                     1
...                    ...                   ...
128162             Current                     1
128163             Current                     1
128164             Current                     1
128165             Current                     1
128166             Current                     1
128167             Current                     1
128168             Current                     1
128169             Current                     1
128170             Current                     1
128171             Current                     1
128172             Current                     1
128173             Current                     1
128174             Current                     1
128175             Current                     1
128176             Current                     1
128177             Current                     1
128178             Current                     1
128179             Current                     1
128180             Current                     1
128181             Current                     1
128182             Current                     1
128183             Current                     1
128184             Current                     1
128185             Current                     1
128186             Current                     1
128187     In Grace Period                     0
128188             Current                     1
128189             Current                     1
128190             Current                     1
128191             Current                     1
128192             Current                     1
128193             Current                     1
128194             Current                     1
128195             Current                     1
128196             Current                     1
128197             Current                     1
128198             Current                     1
128199             Current                     1
128200             Current                     1
128201             Current                     1
128202         Charged Off                     0
128203             Current                     1
128204             Current                     1
128205             Current                     1
128206             Current                     1
128207  Late (31-120 days)                     0
128208             Current                     1
128209             Current                     1
128210             Current                     1
128211             Current                     1
128212             Current                     1
128213             Current                     1
128214             Current                     1
128215             Current                     1
128216             Current                     1
128217             Current                     1
128218             Current                     1
128219             Current                     1
128220             Current                     1
128221             Current                     1
128222             Current                     1
128223             Current                     1
128224             Current                     1
128225             Current                     1
128226             Current                     1
128227             Current                     1
128228             Current                     1
128229             Current                     1
128230             Current                     1
128231             Current                     1
128232             Current                     1
128233             Current                     1
128234             Current                     1
128235             Current                     1
128236             Current                     1
128237             Current                     1
128238             Current                     1
128239             Current                     1
128240             Current                     1
128241             Current                     1
128242             Current                     1
128243             Current                     1
128244             Current                     1
128245   Late (16-30 days)                     0
128246             Current                     1
128247             Current                     1
128248             Current                     1
128249             Current                     1
128250             Current                     1
128251             Current                     1
128252             Current                     1
128253             Current                     1
128254             Current                     1
128255             Current                     1
128256             Current                     1
128257             Current                     1
128258             Current                     1
128259             Current                     1
128260             Current                     1
128261             Current                     1
128262             Current                     1
128263             Current                     1
128264             Current                     1
128265             Current                     1
128266             Current                     1
128267             Current                     1
128268             Current                     1
128269             Current                     1
128270             Current                     1
128271             Current                     1
128272             Current                     1
128273             Current                     1
128274             Current                     1
128275             Current                     1
128276             Current                     1
128277             Current                     1
128278             Current                     1
128279             Current                     1
128280             Current                     1
128281             Current                     1
128282             Current                     1
128283             Current                     1
128284             Current                     1
128285          Fully Paid                     1
128286             Current                     1
128287             Current                     1
128288             Current                     1
128289             Current                     1
128290             Current                     1
128291             Current                     1
128292             Current                     1
128293             Current                     1
128294   Late (16-30 days)                     0
128295             Current                     1
128296             Current                     1
128297             Current                     1
128298             Current                     1
128299             Current                     1
128300             Current                     1
128301             Current                     1
128302             Current                     1
128303             Current                     1
128304             Current                     1
128305             Current                     1
128306             Current                     1
128307             Current                     1
128308             Current                     1
128309             Current                     1
128310             Current                     1
128311             Current                     1
128312             Current                     1
128313             Current                     1
128314             Current                     1
128315             Current                     1
128316             Current                     1
128317             Current                     1

### Make last_pymnt_d_month and last_pymnt_d_year columns

In [116]:
df['last_pymnt_d'].head()

0   2019-02-01
1   2019-02-01
2   2019-02-01
3   2019-02-01
4   2019-02-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [126]:
df['last_pymnt_d'].value_counts()

2019-02-01    123797
2019-01-01      2464
2018-12-01      1074
2018-11-01       681
2018-10-01       234
Name: last_pymnt_d, dtype: int64

In [128]:
df.select_dtypes('object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128412 entries, 0 to 128411
Data columns (total 30 columns):
grade                        128412 non-null object
sub_grade                    128412 non-null object
emp_title                    128412 non-null object
emp_length                   116708 non-null object
home_ownership               128412 non-null object
verification_status          128412 non-null object
loan_status                  128412 non-null object
pymnt_plan                   128412 non-null object
purpose                      128412 non-null object
title                        128412 non-null object
zip_code                     128412 non-null object
addr_state                   128412 non-null object
revol_util                   128256 non-null object
initial_list_status          128412 non-null object
application_type             128412 non-null object
verification_status_joint    14848 non-null object
sec_app_earliest_cr_line     16782 non-null object
hardship_flag                128412 non-null object
hardship_type                1 non-null object
hardship_reason              1 non-null object
hardship_status              1 non-null object
hardship_start_date          1 non-null object
hardship_end_date            1 non-null object
payment_plan_start_date      1 non-null object
hardship_loan_status         1 non-null object
disbursement_method          128412 non-null object
debt_settlement_flag         128412 non-null object
debt_settlement_flag_date    2 non-null object
settlement_status            2 non-null object
settlement_date              2 non-null object
dtypes: object(30)
memory usage: 29.4+ MB

In [129]:
df['last_pymnt_d'].describe()

count                  128250
unique                      5
top       2019-02-01 00:00:00
freq                   123797
first     2018-10-01 00:00:00
last      2019-02-01 00:00:00
Name: last_pymnt_d, dtype: object

In [130]:
df['last_pymnt_d'] = df['last_pymnt_d'].fillna(method='ffill')
df['last_pymnt_d'].describe()

count                  128412
unique                      5
top       2019-02-01 00:00:00
freq                   123956
first     2018-10-01 00:00:00
last      2019-02-01 00:00:00
Name: last_pymnt_d, dtype: object

In [0]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'])

In [136]:
df['last_pymnt_d'].values

array(['2019-02-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-02-01T00:00:00.000000000', ...,
       '2019-02-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-02-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [137]:
df['last_pymnt_d'].dtypes

dtype('<M8[ns]')

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [139]:
df[['last_pymnt_d', 'last_pymnt_d_year', 'last_pymnt_d_month']].head()

  last_pymnt_d  last_pymnt_d_year  last_pymnt_d_month
0   2019-02-01               2019                   2
1   2019-02-01               2019                   2
2   2019-02-01               2019                   2
3   2019-02-01               2019                   2
4   2019-02-01               2019                   2

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01