<a href="https://colab.research.google.com/github/macscheffer/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/LSDS122_Mac_Scheffer_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-01-16 03:05:44--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.10.29
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.10.29|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  96.8MB/s    in 2.0s

2019-01-16 03:05:47 (96.8 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

In [5]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
drwxr-xr-x 4 502 staff 4.0K Jan 16 03:02 instacart_2017_05_01
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

In [0]:
import pandas as pd

aisles = pd.read_csv('aisles.csv')
departments = pd.read_csv('departments.csv')
order_products_prior = pd.read_csv('order_products__prior.csv')
order_products_train = pd.read_csv('order_products__train.csv')
orders = pd.read_csv('orders.csv')
products = pd.read_csv('products.csv')

In [7]:
list(order_products_prior)

['order_id', 'product_id', 'add_to_cart_order', 'reordered']

In [8]:
list(order_products_train)

['order_id', 'product_id', 'add_to_cart_order', 'reordered']

In [9]:
len(orders)

3421083

In [10]:
order_products = pd.concat([order_products_prior, order_products_train])
order_products.shape

(33819106, 4)

In [0]:
condition = (orders.user_id==1) & (orders.order_number <= 2)

cols = ['user_id', # 206209
        'order_id', # 3421083 unique order ids
        'order_number', # 100 unique order numbers
        'order_dow', # 0-6
        'order_hour_of_day'] # 0 - 23

subset = orders.loc[condition,cols]

In [12]:
subset.shape

(2, 5)

In [13]:
cols = ['order_id', 'add_to_cart_order', 'product_id']
merged = pd.merge(subset,order_products[cols], how='inner', on='order_id')
merged.shape

(11, 7)

In [14]:
subset.shape

(2, 5)

In [15]:
merged.shape

(11, 7)

In [16]:
display(example)

In [17]:
list(products)

['product_id', 'product_name', 'aisle_id', 'department_id']

In [18]:
cols = ['product_id', 'product_name']
final = pd.merge(merged,products[cols], how='inner', on='product_id')
final.sort_values(by=['order_number','add_to_cart_order'])

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id,product_name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
8,1,2398795,2,3,7,2,10258,Pistachios
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

In [19]:
list(products), list(orders)

(['product_id', 'product_name', 'aisle_id', 'department_id'],
 ['order_id',
  'user_id',
  'eval_set',
  'order_number',
  'order_dow',
  'order_hour_of_day',
  'days_since_prior_order'])

In [20]:
cols = ['order_id', 'add_to_cart_order', 'product_id']
df_close = pd.merge(orders, order_products[cols])
df_close.shape

(33819106, 9)

In [21]:
cols = ['product_id', 'product_name']
df = pd.merge(df_close, products[cols])
df.shape

(33819106, 10)

In [22]:
list(df.product_id.value_counts(sort=True,ascending=False).index[:10])

[24852, 13176, 21137, 21903, 47209, 47766, 47626, 16797, 26209, 27845]

In [0]:
top_10 = []
for val in list(df.product_id.value_counts(sort=True,ascending=False).index[:10]):
  top_10.append(df.product_name[df.product_id == val])

In [24]:
list(top_10[0])[0]

'Banana'

In [25]:
for i in range(10):
  print(list(top_10[i])[0])

Banana
Bag of Organic Bananas
Organic Strawberries
Organic Baby Spinach
Organic Hass Avocado
Organic Avocado
Large Lemon
Strawberries
Limes
Organic Whole Milk

In [26]:
# much easier

list(df.product_name.value_counts(sort=True,ascending=False).iloc[:10])

[491291,
 394930,
 275577,
 251705,
 220877,
 184224,
 160792,
 149445,
 146660,
 142813]

In [27]:
df.product_name.value_counts(sort=True,ascending=False).index[:10]

Index(['Banana', 'Bag of Organic Bananas', 'Organic Strawberries',
       'Organic Baby Spinach', 'Organic Hass Avocado', 'Organic Avocado',
       'Large Lemon', 'Strawberries', 'Limes', 'Organic Whole Milk'],
      dtype='object')

In [0]:
dict_products = dict(df.product_name.value_counts())

In [0]:
pop_products = {}
for key,val in dict_products.items():
  if dict_products[key] > 2900:
    pop_products[key] = val

In [30]:
min(pop_products.values())

2901

In [0]:
pop_df = pd.DataFrame.from_dict(pop_products, orient='index')

In [0]:
pop_df['product_name'] = pop_df.index

In [0]:
pop_df = pop_df.rename({0:'total_popularity'})

In [0]:
pop_df = pop_df.reset_index(drop=True)

In [35]:
pop_df.columns

Index([0, 'product_name'], dtype='object')

In [36]:
df.shape

(33819106, 10)

In [0]:
df = pd.merge(df, pop_df, how='inner', on='product_name')

In [39]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,product_id,product_name,0
0,2539329,1,prior,1,2,8,NaN,1,196,Soda,37298
1,2398795,1,prior,2,3,7,15.0,1,196,Soda,37298
2,473747,1,prior,3,3,12,21.0,1,196,Soda,37298
3,2254736,1,prior,4,4,7,29.0,1,196,Soda,37298
4,431534,1,prior,5,4,15,28.0,1,196,Soda,37298

In [0]:
pivot = df.pivot_table(index='product_name', values='order_hour_of_day')

In [51]:
pivot.index

Index(['0% Fat Free Organic Milk', '0% Greek Strained Yogurt', '1 Liter',
       '1% Low Fat Milk', '1% Lowfat Milk', '100 Calorie  Per Bag Popcorn',
       '100% Apple Juice', '100% Cranberry Juice',
       '100% Grated Parmesan Cheese', '100% Lactose Free Fat Free Milk',
       ...
       'Yogurt, Strained Low-Fat, Coconut',
       'Yotoddler Organic Pear Spinach Mango Yogurt',
       'Yukon Gold Potatoes 5lb Bag',
       'ZBar Organic Chocolate Brownie Energy Snack', 'Zen Tea',
       'Zero Calorie Cola', 'Zero Soda',
       'of Hanover 100 Calorie Pretzels Mini',
       'smartwater® Electrolyte Enhanced Water', 'with Crispy Almonds Cereal'],
      dtype='object', name='product_name', length=2051)

In [56]:
pivot['product_name'] = pivot.index

Index(['0% Fat Free Organic Milk', '0% Greek Strained Yogurt', '1 Liter',
       '1% Low Fat Milk', '1% Lowfat Milk', '100 Calorie  Per Bag Popcorn',
       '100% Apple Juice', '100% Cranberry Juice',
       '100% Grated Parmesan Cheese', '100% Lactose Free Fat Free Milk',
       ...
       'Yogurt, Strained Low-Fat, Coconut',
       'Yotoddler Organic Pear Spinach Mango Yogurt',
       'Yukon Gold Potatoes 5lb Bag',
       'ZBar Organic Chocolate Brownie Energy Snack', 'Zen Tea',
       'Zero Calorie Cola', 'Zero Soda',
       'of Hanover 100 Calorie Pretzels Mini',
       'smartwater® Electrolyte Enhanced Water', 'with Crispy Almonds Cereal'],
      dtype='object', name='product_name', length=2051)

In [57]:
pivot.columns

Index(['order_hour_of_day', 'product_name'], dtype='object')

In [58]:
# notice i did it wrong haha, the most popular products are probably around the mean order_hour_of_day for all products
pivot.describe()

       order_hour_of_day
count        2051.000000
mean           13.417831
std             0.266907
min            11.767279
25%            13.324060
50%            13.448697
75%            13.552506
max            14.526986

In [61]:
len(df.user_id.unique())

205704

In [63]:
list(df.user_id.unique())[50]

1256

In [66]:
df[df.user_id == 1256].order_hour_of_day.mean()

10.724137931034482

In [0]:
import numpy as np
def mac_mean(series):
  return np.mean(series)

cust_df = {'cust_mean_order_hour': [df[df.user_id == uid].order_hour_of_day.apply(mac_mean) for uid in df.user_id.unique()]}