In [12]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [15]:
import pandas as pd

# Data Frame to practice .loc[] techniques on
df = pd.DataFrame({'index':[1, 2, 3, 4, 5],
                   'name_1':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_2':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_3':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_4':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_5':['entry1', 'entry2', 'entry3', 'entry4', 'entry5']})

# Set Index
df.set_index('index', inplace=True)

### Select by a Single Label
#1 Select and print the '1' Row
print(df)
print(df.loc[1])



#2 Select and print Row 1 Label with Column 1 Label to get entry1
print(df.loc[1,'name_1'])






### Select Multiple Rows Using LISTS
#1 Select and print Row Labels 1, 2
print(df.loc[[1,2]])

#2 Select and print Row Labels 1, 3, 5
print(df.loc[[1,3,5]])
# Now Rows WITH desired Columns
#3 Select and print Row Labels 1, 2, 3 with Column Labels 'name_1', 'name_2', 'name_3'
print(df.loc[[1,2,3], ['name_1', 'name_2', 'name_3']])

#4 Select and print Row Labels 1, 3, 4, 5 with Column Labels 'name_1', 'name_3', 'name_4', 'name_5'

print(df.loc[[1,3,4,5], ['name_1', 'name_3', 'name_4', 'name_5']])





### Select Multiple Row & Column Labels Using SLICE
#1 Select and print Row Labels 1, 2
print(df.loc[1:2])
#2 Select and print Row Labels 1, 2, 3
print(df.loc[1:3])
#3 Select and print Row Labels 1, 2, 3 with Column Labels 'name_1', 'name_2', 'name_3'
print(df.loc[1:3,'name_1':'name_3'])
#4 Select and print Row Labels 3, 4, 5 with Column Labels 'name_3', 'name_4', 'name_5'
print(df.loc[3:5,'name_3':'name_5'])





### Select Multiple Row & Column Labels Using Booleans
# Reminder the Boolean List MUST be the same length as the Row/Column Axis
#1 Select and print Row Labels 1, 2
columns = ['name_1','name_2','name_3', 'name_4', 'name_5']
print(df.loc[[x in [1,2] for x in range(1,6)]])
#2 Select and print Row Labels 1, 3, 5
print(df.loc[[x in [1,3,5] for x in range(1,6)]])
#3 Select and print Row Labels 1, 2, 3 with Column Labels 'name_1', 'name_2', 'name_3'
print(df.loc[[x in [1,2,3] for x in range(1,6)], [x in ['name_1', 'name_2', 'name_3'] for x in columns]])

#4 Select and print Row Labels 1, 3, 4, 5 with Column Labels 'name_1', 'name_3', 'name_4', 'name_5'
print(df.loc[[x in [1,3,4,5] for x in range(1,6)], [x in ['name_1', 'name_2', 'name_4', 'name_5'] for x in columns]])

       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
2      entry2  entry2  entry2  entry2  entry2
3      entry3  entry3  entry3  entry3  entry3
4      entry4  entry4  entry4  entry4  entry4
5      entry5  entry5  entry5  entry5  entry5
name_1    entry1
name_2    entry1
name_3    entry1
name_4    entry1
name_5    entry1
Name: 1, dtype: object
entry1
       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
2      entry2  entry2  entry2  entry2  entry2
       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
3      entry3  entry3  entry3  entry3  entry3
5      entry5  entry5  entry5  entry5  entry5
       name_1  name_2  name_3
index
1      entry1  entry1  entry1
2      entry2  entry2  entry2
3      entry3  entry3  entry3
       name_1  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1
3      entry3  entry3  entry3  entry3
4      entry4  entry4  entry4  entry4
5      entry5  entry5  entry5  entry5
       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
2      entry2  entry2  entry2  entry2  entry2
       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
2      entry2  entry2  entry2  entry2  entry2
3      entry3  entry3  entry3  entry3  entry3
       name_1  name_2  name_3
index
1      entry1  entry1  entry1
2      entry2  entry2  entry2
3      entry3  entry3  entry3
       name_3  name_4  name_5
index
3      entry3  entry3  entry3
4      entry4  entry4  entry4
5      entry5  entry5  entry5
       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
2      entry2  entry2  entry2  entry2  entry2
       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
3      entry3  entry3  entry3  entry3  entry3
5      entry5  entry5  entry5  entry5  entry5
       name_1  name_2  name_3
index
1      entry1  entry1  entry1
2      entry2  entry2  entry2
3      entry3  entry3  entry3
       name_1  name_2  name_4  name_5
index
1      entry1  entry1  entry1  entry1
3      entry3  entry3  entry3  entry3
4      entry4  entry4  entry4  entry4
5      entry5  entry5  entry5  entry5

In [16]:
[x in [1,2] for x in range(1,6)]

[True, True, False, False, False]

In [17]:
[x in [1,3,5] for x in range(1,6)]

[True, False, True, False, True]

In [18]:
[x in [1,2,3] for x in range(1,6)]

[True, True, True, False, False]

In [19]:
[x in ['name_1', 'name_2', 'name_3'] for x in columns]

[True, True, True, False, False]

In [20]:
[x in [1,3,4,5] for x in range(1,6)]

[True, False, True, True, True]

In [22]:
 [x in ['name_1', 'name_2', 'name_4', 'name_5'] for x in columns]

[True, True, False, True, True]