<a href="https://colab.research.google.com/github/ericriveraisme/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/module1-join-and-reshape-data/ER_Copy_of_LS_DS_121_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [3]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-09-19 02:42:16--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.98.221
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.98.221|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  16.0MB/s    in 14s

2019-09-19 02:42:31 (14.5 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [4]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [5]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [7]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
import pandas as pd

# I need product name, reordered, add to cart

In [9]:
##### YOUR CODE HERE #####

aisles = pd.read_csv('aisles.csv')
aisles.head(5)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [10]:
aisles.shape

(134, 2)

In [11]:
products = pd.read_csv('products.csv')
products.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [12]:
products.shape

(49688, 4)

In [13]:
departments = pd.read_csv('departments.csv')
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [14]:
departments.shape

(21, 2)

In [15]:
aisles.columns

Index(['aisle_id', 'aisle'], dtype='object')

In [16]:
products.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id'], dtype='object')

In [17]:
departments.columns

Index(['department_id', 'department'], dtype='object')

In [18]:
order_products__prior = pd.read_csv('order_products__prior.csv')
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [19]:
order_products__prior.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [20]:
orders = pd.read_csv('orders.csv')

orders.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [0]:
condition = (products['product_name'] == 1)

In [22]:
merged = pd.merge(products,order_products__prior, on='product_id')
merged.head()

   product_id                product_name  ...  add_to_cart_order  reordered
0           1  Chocolate Sandwich Cookies  ...                  7          0
1           1  Chocolate Sandwich Cookies  ...                  3          1
2           1  Chocolate Sandwich Cookies  ...                  4          1
3           1  Chocolate Sandwich Cookies  ...                  2          0
4           1  Chocolate Sandwich Cookies  ...                 30          0

[5 rows x 7 columns]

In [23]:
#columns = ['product_id', 'product_name','add_to_cart_order','reordered']
merged1 = pd.merge(orders, merged)
merged1.head()

   order_id  user_id eval_set  ...  department_id  add_to_cart_order  reordered
0   2539329        1    prior  ...              7                  1          0
1   2539329        1    prior  ...             19                  3          0
2   2539329        1    prior  ...             16                  2          0
3   2539329        1    prior  ...             19                  4          0
4   2539329        1    prior  ...             17                  5          0

[5 rows x 13 columns]

In [0]:
merged1 = merged1.drop(columns=['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
                                'order_hour_of_day', 'days_since_prior_order', 'product_id', 'aisle_id', 'department_id'])

In [26]:
merged1.head()

                              product_name  add_to_cart_order  reordered
0                                     Soda                  1          0
1                      Original Beef Jerky                  3          0
2  Organic Unsweetened Vanilla Almond Milk                  2          0
3               Aged White Cheddar Popcorn                  4          0
4         XL Pick-A-Size Paper Towel Rolls                  5          0

In [0]:
popular_products = ['Banana','Bag of Organic Bananas','Organic Strawberries',
                    'Organic Baby Spinach','Organic Hass Avocado','Organic Avocado',
                    'Large Lemon','Strawberries','Limes','Organic Whole Milk']

In [0]:
condition = merged1['product_name'].isin(popular_products)

In [0]:
subset = merged1[condition]

In [31]:
subset.head()

              product_name  add_to_cart_order  reordered
9   Bag of Organic Bananas                  4          0
25  Bag of Organic Bananas                  8          1
60  Bag of Organic Bananas                 12          0
70         Organic Avocado                  2          0
74            Strawberries                  1          0

In [39]:
subset.groupby(['product_name']).sum()

                        add_to_cart_order  reordered
product_name
Bag of Organic Bananas            1933657     315913
Banana                            2312794     398609
Large Lemon                       1213412     106255
Limes                             1206836      95768
Organic Avocado                   1139505     134044
Organic Baby Spinach              1797386     186884
Organic Hass Avocado              1447034     170131
Organic Strawberries              1918661     205845
Organic Whole Milk                 749479     114510
Strawberries                      1017253      99802

In [0]:
#subset.value_counts(normalize=True)

In [62]:
?pd.DataFrame.Series.count

Object `pd.DataFrame.Series.count` not found.

In [58]:
subset.sort_values(by=['product_name','add_to_cart_order'], ascending=True)

                    product_name  add_to_cart_order  reordered
987       Bag of Organic Bananas                  1          0
1015      Bag of Organic Bananas                  1          1
1036      Bag of Organic Bananas                  1          1
2280      Bag of Organic Bananas                  1          1
2308      Bag of Organic Bananas                  1          1
5022      Bag of Organic Bananas                  1          0
6135      Bag of Organic Bananas                  1          1
6160      Bag of Organic Bananas                  1          1
6197      Bag of Organic Bananas                  1          1
6236      Bag of Organic Bananas                  1          1
6253      Bag of Organic Bananas                  1          1
6262      Bag of Organic Bananas                  1          1
6304      Bag of Organic Bananas                  1          1
6312      Bag of Organic Bananas                  1          1
7637      Bag of Organic Bananas                  1          1
7653      Bag of Organic Bananas                  1          1
8589      Bag of Organic Bananas                  1          1
8705      Bag of Organic Bananas                  1          1
8710      Bag of Organic Bananas                  1          1
8712      Bag of Organic Bananas                  1          1
8717      Bag of Organic Bananas                  1          1
8754      Bag of Organic Bananas                  1          1
9686      Bag of Organic Bananas                  1          1
9698      Bag of Organic Bananas                  1          1
9712      Bag of Organic Bananas                  1          1
9728      Bag of Organic Bananas                  1          1
10222     Bag of Organic Bananas                  1          1
10242     Bag of Organic Bananas                  1          1
10284     Bag of Organic Bananas                  1          1
10297     Bag of Organic Bananas                  1          1
...                          ...                ...        ...
12795325            Strawberries                 53          0
20645317            Strawberries                 53          1
110557              Strawberries                 54          0
15742157            Strawberries                 54          1
2793327             Strawberries                 55          1
5697280             Strawberries                 55          1
7970657             Strawberries                 55          1
15363769            Strawberries                 55          0
11254366            Strawberries                 56          0
15480542            Strawberries                 56          0
5146857             Strawberries                 57          1
19913683            Strawberries                 57          1
3946353             Strawberries                 58          0
13571243            Strawberries                 58          1
1791073             Strawberries                 59          1
9732529             Strawberries                 59          1
5371974             Strawberries                 60          0
2827605             Strawberries                 61          1
13620222            Strawberries                 61          0
21268204            Strawberries                 61          1
21039024            Strawberries                 63          1
10574465            Strawberries                 64          1
16109188            Strawberries                 67          0
16204961            Strawberries                 67          0
257701              Strawberries                 73          0
21920025            Strawberries                 74          0
17836227            Strawberries                 76          0
14282032            Strawberries                 80          1
31666960            Strawberries                 88          1
4916858             Strawberries                 96          1

[2323158 rows x 3 columns]

In [63]:
subset.count(axis='columns')

9           3
25          3
60          3
70          3
74          3
77          3
82          3
86          3
94          3
107         3
115         3
129         3
134         3
143         3
151         3
158         3
177         3
193         3
194         3
209         3
228         3
249         3
253         3
256         3
258         3
263         3
267         3
268         3
274         3
277         3
           ..
32434214    3
32434226    3
32434241    3
32434245    3
32434249    3
32434279    3
32434291    3
32434294    3
32434298    3
32434306    3
32434311    3
32434313    3
32434318    3
32434326    3
32434334    3
32434335    3
32434336    3
32434342    3
32434348    3
32434363    3
32434377    3
32434386    3
32434402    3
32434415    3
32434430    3
32434448    3
32434456    3
32434472    3
32434473    3
32434485    3
Length: 2323158, dtype: int64

In [0]:
#merged = products['product_id', 'product_name'].merge(order_products__prior['product_id', 'add_to_cart_order', 'reordered'])

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import seaborn as sns

In [0]:
flights = sns.load_dataset('flights')

In [68]:
flights.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [79]:
flights['nmonths'] = pd.to_datetime(flights['month'], infer_datetime_format=True)

OutOfBoundsDatetime: ignored

In [87]:
nmonths = flights['month'].unique()
nmonths.astype(int)

ValueError: ignored

In [77]:
##### YOUR CODE HERE #####

table1 = flights(
    'passengers',
     index='year',
     columns='month')
table1

TypeError: ignored

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####