<a href="https://colab.research.google.com/github/yvishyst/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/module1-join-and-reshape-data/LS_DS_121_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-08-13 13:35:36--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.108.197
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.108.197|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  47.1MB/s    in 4.6s

2019-08-13 13:35:41 (42.9 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
#Loading all csv files into dataframes
orders = pd.read_csv('orders.csv')
print(orders.shape)
print("Order\n",orders.columns.to_list())
products = pd.read_csv('products.csv')
print(products.shape)
print("products\n",products.columns.to_list())
aisles = pd.read_csv('aisles.csv')
print(aisles.shape)
print("aisles\n",aisles.columns.to_list())
departments = pd.read_csv('departments.csv')
print(departments.shape)
print("departments\n",departments.columns.to_list())
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
print("order_products__prior\n",order_products__prior.columns.to_list())
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
print("order_products__train\n",order_products__train.columns.to_list())

#Product Name is in the products df and the product id is in the order_products df and products, these two df needs to be merged.
#Before that, order_products__prior and order_prodcuts__trian df need to be appended.

(3421083, 7)
Order
 ['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']
(49688, 4)
products
 ['product_id', 'product_name', 'aisle_id', 'department_id']
(134, 2)
aisles
 ['aisle_id', 'aisle']
(21, 2)
departments
 ['department_id', 'department']
(32434489, 4)
order_products__prior
 ['order_id', 'product_id', 'add_to_cart_order', 'reordered']
(1384617, 4)
order_products__train
 ['order_id', 'product_id', 'add_to_cart_order', 'reordered']

In [7]:
order_products__train.tail(),order_products__train.head()

(         order_id  product_id  add_to_cart_order  reordered
 1384612   3421063       14233                  3          1
 1384613   3421063       35548                  4          1
 1384614   3421070       35951                  1          1
 1384615   3421070       16953                  2          1
 1384616   3421070        4724                  3          1,
    order_id  product_id  add_to_cart_order  reordered
 0         1       49302                  1          1
 1         1       11109                  2          1
 2         1       10246                  3          0
 3         1       49683                  4          0
 4         1       43633                  5          1)

In [8]:
order_products__prior.tail()

          order_id  product_id  add_to_cart_order  reordered
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

In [9]:
#Merging the dataframes
order_products = pd.concat([order_products__prior,order_products__train])
user_products = order_products[['order_id','product_id']].merge(products[['product_id','product_name']],on='product_id')
user_products.shape

(33819106, 3)

In [0]:
assert len(order_products)==len(user_products)

In [11]:
user_products.head()

   order_id  product_id        product_name
0         2       33120  Organic Egg Whites
1        26       33120  Organic Egg Whites
2       120       33120  Organic Egg Whites
3       327       33120  Organic Egg Whites
4       390       33120  Organic Egg Whites

In [12]:
#Now, getting the subset of the frequently ordered products
frequent_products = ['Banana','Bag of Organic Bananas','Organic Strawberries',
'Organic Baby Spinach',
'Organic Hass Avocado',
'Organic Avocado',
'Large Lemon',
'Strawberries',
'Limes',
'Organic Whole Milk']

top20_products = user_products[user_products.product_name.isin(frequent_products)]
print(top20_products.shape)
#Now getting the count
top20_products.product_name.value_counts().sort_values(ascending=False)

(2418314, 3)

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

In [14]:
table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [15]:
#Table2 to Tidy 
#Converting table2 to tidy data in a single line of code
tidy_table2 = table2.reset_index().melt(id_vars='index').rename(columns={'index':'treatment','variable':'name','value':'result'})
tidy_table2

    treatment          name  result
0  treatmenta    John Smith     NaN
1  treatmentb    John Smith     2.0
2  treatmenta      Jane Doe    16.0
3  treatmentb      Jane Doe    11.0
4  treatmenta  Mary Johnson     3.0
5  treatmentb  Mary Johnson     1.0

In [16]:
#tidy table2 to Table 2
#doing it in single line of code
tidy_table2 = tidy_table2.pivot('treatment',columns ='name',values='result')
tidy_table2

name        Jane Doe  John Smith  Mary Johnson
treatment
treatmenta      16.0         NaN           3.0
treatmentb      11.0         2.0           1.0

In [17]:
flights = sns.load_dataset('flights')
print(flights.shape)
flights.head()
#Creating pivot for the flights data
flights.pivot(index='year',columns='month',values='passengers')

(144, 3)

month  January  February  March  April  ...  September  October  November  December
year                                    ...
1949       112       118    132    129  ...        136      119       104       118
1950       115       126    141    135  ...        158      133       114       140
1951       145       150    178    163  ...        184      162       146       166
1952       171       180    193    181  ...        209      191       172       194
1953       196       196    236    235  ...        237      211       180       201
1954       204       188    235    227  ...        259      229       203       229
1955       242       233    267    269  ...        312      274       237       278
1956       284       277    317    313  ...        355      306       271       306
1957       315       301    356    348  ...        404      347       305       336
1958       340       318    362    348  ...        404      359       310       337
1959       360       342    406    396  ...        463      407       362       405
1960       417       391    419    461  ...        508      461       390       432

[12 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [18]:
user_products.head()

   order_id  product_id        product_name
0         2       33120  Organic Egg Whites
1        26       33120  Organic Egg Whites
2       120       33120  Organic Egg Whites
3       327       33120  Organic Egg Whites
4       390       33120  Organic Egg Whites

In [70]:
for ten_bill in range(0,160):
  for fifty_bill in range(0,160):
    continue
  else:
    print("test1",ten_bill)
    print("test2", fifty_bill)
    continue
  break

test1 0
test2 159
test1 1
test2 159
test1 2
test2 159
test1 3
test2 159
test1 4
test2 159
test1 5
test2 159
test1 6
test2 159
test1 7
test2 159
test1 8
test2 159
test1 9
test2 159
test1 10
test2 159
test1 11
test2 159
test1 12
test2 159
test1 13
test2 159
test1 14
test2 159
test1 15
test2 159
test1 16
test2 159
test1 17
test2 159
test1 18
test2 159
test1 19
test2 159
test1 20
test2 159
test1 21
test2 159
test1 22
test2 159
test1 23
test2 159
test1 24
test2 159
test1 25
test2 159
test1 26
test2 159
test1 27
test2 159
test1 28
test2 159
test1 29
test2 159
test1 30
test2 159
test1 31
test2 159
test1 32
test2 159
test1 33
test2 159
test1 34
test2 159
test1 35
test2 159
test1 36
test2 159
test1 37
test2 159
test1 38
test2 159
test1 39
test2 159
test1 40
test2 159
test1 41
test2 159
test1 42
test2 159
test1 43
test2 159
test1 44
test2 159
test1 45
test2 159
test1 46
test2 159
test1 47
test2 159
test1 48
test2 159
test1 49
test2 159
test1 50
test2 159
test1 51
test2 159
test1 52
test2 159
test1 53
test2 159
test1 54
test2 159
test1 55
test2 159
test1 56
test2 159
test1 57
test2 159
test1 58
test2 159
test1 59
test2 159
test1 60
test2 159
test1 61
test2 159
test1 62
test2 159
test1 63
test2 159
test1 64
test2 159
test1 65
test2 159
test1 66
test2 159
test1 67
test2 159
test1 68
test2 159
test1 69
test2 159
test1 70
test2 159
test1 71
test2 159
test1 72
test2 159
test1 73
test2 159
test1 74
test2 159
test1 75
test2 159
test1 76
test2 159
test1 77
test2 159
test1 78
test2 159
test1 79
test2 159
test1 80
test2 159
test1 81
test2 159
test1 82
test2 159
test1 83
test2 159
test1 84
test2 159
test1 85
test2 159
test1 86
test2 159
test1 87
test2 159
test1 88
test2 159
test1 89
test2 159
test1 90
test2 159
test1 91
test2 159
test1 92
test2 159
test1 93
test2 159
test1 94
test2 159
test1 95
test2 159
test1 96
test2 159
test1 97
test2 159
test1 98
test2 159
test1 99
test2 159
test1 100
test2 159
test1 101
test2 159
test1 102
test2 159
test1 103
test2 159
test1 104
test2 159
test1 105
test2 159
test1 106
test2 159
test1 107
test2 159
test1 108
test2 159
test1 109
test2 159
test1 110
test2 159
test1 111
test2 159
test1 112
test2 159
test1 113
test2 159
test1 114
test2 159
test1 115
test2 159
test1 116
test2 159
test1 117
test2 159
test1 118
test2 159
test1 119
test2 159
test1 120
test2 159
test1 121
test2 159
test1 122
test2 159
test1 123
test2 159
test1 124
test2 159
test1 125
test2 159
test1 126
test2 159
test1 127
test2 159
test1 128
test2 159
test1 129
test2 159
test1 130
test2 159
test1 131
test2 159
test1 132
test2 159
test1 133
test2 159
test1 134
test2 159
test1 135
test2 159
test1 136
test2 159
test1 137
test2 159
test1 138
test2 159
test1 139
test2 159
test1 140
test2 159
test1 141
test2 159
test1 142
test2 159
test1 143
test2 159
test1 144
test2 159
test1 145
test2 159
test1 146
test2 159
test1 147
test2 159
test1 148
test2 159
test1 149
test2 159
test1 150
test2 159
test1 151
test2 159
test1 152
test2 159
test1 153
test2 159
test1 154
test2 159
test1 155
test2 159
test1 156
test2 159
test1 157
test2 159
test1 158
test2 159
test1 159
test2 159

In [66]:
#Popular products at instacart are
user_orders['product_name'].value_counts().sort_values

Banana                                                                     491291
Bag of Organic Bananas                                                     394930
Organic Strawberries                                                       275577
Organic Baby Spinach                                                       251705
Organic Hass Avocado                                                       220877
Organic Avocado                                                            184224
Large Lemon                                                                160792
Strawberries                                                               149445
Limes                                                                      146660
Organic Whole Milk                                                         142813
Organic Raspberries                                                        142603
Organic Yellow Onion                                                       117716
Organic Garlic                                                             113936
Organic Zucchini                                                           109412
Organic Blueberries                                                        105026
Cucumber Kirby                                                              99728
Organic Fuji Apple                                                          92889
Organic Lemon                                                               91251
Organic Grape Tomatoes                                                      88078
Apple Honeycrisp Organic                                                    87272
Seedless Red Grapes                                                         86748
Organic Cucumber                                                            85005
Honeycrisp Apple                                                            83320
Organic Baby Carrots                                                        80493
Sparkling Water Grapefruit                                                  79245
Organic Half & Half                                                         79006
Organic Large Extra Fancy Fuji Apple                                        78056
Yellow Onions                                                               76929
Organic Baby Arugula                                                        75752
Organic Gala Apples                                                         75655
                                                                            ...
Vitality Chicken Breasts with Flaxseed & Vitamins Dog Treats                    1
Microwavable Triple Cheese Macaroni & Cheese                                    1
Sugar Leaf  Stevia and Raw Cane Sugar                                           1
Multigrain Penne Rigate                                                         1
Imported Stout Draught Style                                                    1
Sweetart Jelly Beans                                                            1
Yellow Fish Breading                                                            1
Midnight Brownie Cookies                                                        1
Wasabi Cheddar Spreadable Cheese                                                1
Organic Veggie Ground                                                           1
1,000 Mg Vitamin C Tangerine Grapefruit Effervescent Powdered Drink Mix         1
Salsa, Black Bean                                                               1
Jamaican Allspice                                                               1
Original Jerky                                                                  1
Orange Recharge                                                                 1
Hot Oatmeal Multigrain Raisin                                                   1
Kefir Raspberry                                                                 1
Greek Blended Cherry Fat Free Yogurt                                            1
Strawberry Energy Gel                                                           1
Indulgent Cherry & Dark Chocolate Whole Milk Greek Yogurt                       1
Bottle & Nipple Brush Set                                                       1
Mustard & Onion                                                                 1
Coconut Cardamom Almond Butter                                                  1
Gluten Free Almond Snap Cookies                                                 1
Bite Size Caramel Chocolates                                                    1
Chardonnay Carneros                                                             1
All Natural Stevia Liquid Extract Sweetener                                     1
Orangemint Flavored Water                                                       1
Tangerine Melon Bubble Bath                                                     1
Peachtree Schnapps                                                              1
Name: product_name, Length: 49685, dtype: int64

In [0]:
#To get the top 25 latest products by time of day, we need to merge user_products with orders including hour of day order_hour_of_day
user_orders = user_products.merge(orders[['order_id','order_hour_of_day']],on='order_id')

In [20]:
orders.shape,order_products.shape,user_orders.shape

((3421083, 7), (33819106, 4), (33819106, 4))

In [21]:
user_orders.groupby(['order_hour_of_day','product_name'])['product_id'].count()

order_hour_of_day  product_name
0                  #2 Coffee Filters                                                                      3
                   #4 Natural Brown Coffee Filters                                                        3
                   (70% Juice!) Mountain Raspberry Juice Squeeze                                          1
                   .5\" Waterproof Tape                                                                   1
                   0 Calorie Acai Raspberry Water Beverage                                                1
                   0 Calorie Strawberry Dragonfruit Water Beverage                                        1
                   0% Fat Black Cherry Greek Yogurt y                                                     1
                   0% Fat Blueberry Greek Yogurt                                                          4
                   0% Fat Free Organic Milk                                                              26
                   0% Fat Greek Yogurt Black Cherry on the Bottom                                         4
                   0% Fat Organic Greek Vanilla Yogurt                                                    9
                   0% Fat Strawberry Greek Yogurt                                                         4
                   0% Fat Superfruits Greek Yogurt                                                        5
                   0% Greek Strained Yogurt                                                              48
                   0% Greek Yogurt Black Cherry on the Bottom                                             6
                   0% Greek, Blueberry on the Bottom Yogurt                                              15
                   0% Milkfat Greek Plain Yogurt                                                          1
                   0% Milkfat Greek Yogurt Honey                                                          1
                   1 % Lowfat Milk                                                                        6
                   1 Apple + 1 Mango Fruit Bar                                                           11
                   1 Apple + 1 Pear Fruit Bar                                                             7
                   1 Liter                                                                               33
                   1 Mg Melatonin Sublingual Orange Tablets                                               1
                   1 Ply Paper Towels                                                                    22
                   1 to 1 Gluten Free Baking Flour                                                        1
                   1% Chocolate Milk                                                                      9
                   1% Low Fat Chocolate Milk                                                              8
                   1% Low Fat Milk                                                                       71
                   1% Lowfat Chocolate Milk                                                               1
                   1% Lowfat Milk                                                                        95
                                                                                                         ..
23                 \"Mokaccino\" Milk + Blue Bottle Coffee Chocolate                                      4
                   eat your vegetables Vegetable Chips Sour Cream & Onion                                 1
                   for All Mouth Sores Fresh Mint Oral Debriding Agent/Antiseptic Rinse/Pain Reliever     1
                   for Tots Apple Juice                                                                   6
                   for Tots Apple White Grape Juice                                                       2
                   from Concentrate Mango Nectar                                                          4
                   fruitwater® Strawberry Kiwi Sparkling Water                                            1
                   gel hand wash sea minerals                                                             6
                   gelato Coffee Toffee                                                                   4
                   go fresh Cool Moisture Beauty                                                          2
                   in 100% Juice Mixed Fruit                                                              1
                   of Hanover 100 Calorie Pretzels Mini                                                  32
                   of Norwich Original English Mustard Powder Double Superfine                            1
                   pumpkin spice                                                                          1
                   rich kiss Olive & Aloe Moisturizer 2 in 1                                              1
                   smart Blend Chicken & Rice Formula Dry Dog Food                                        1
                   smartwater® Electrolyte Enhanced Water                                                48
                   vitaminwater® XXX Acai Blueberry Pomegranate                                          20
                   with Bleach Powder Cleanser                                                            2
                   with Color Safe Brightener Power Paks 2in1 Stain Fighter                               1
                   with Crispy Almonds Cereal                                                            55
                   with Dawn Action Pacs Fresh Scent Dishwasher Detergent Pacs                            3
                   with Olive Oil Mayonnaise                                                              6
                   with Olive Oil Mayonnaise Dressing                                                     4
                   with Seasoned Roasted Potatoes Scrambled Eggs & Sausage                                1
                   with Sweet Cinnamon Bunches Cereal                                                     2
                   with Twist Ties Sandwich & Storage Bags                                                1
                   with Xylitol Cinnamon 18 Sticks Sugar Free Gum                                         7
                   with Xylitol Unwrapped Original Flavor 50 Sticks Sugar Free Gum                        2
                   with Xylitol Watermelon Twist 18 Sticks Sugar Free Gum                                 2
Name: product_id, Length: 777214, dtype: int64

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [59]:
user_orders[user_orders.product_id==34].count()

order_id             6779
product_id           6779
product_name         6779
order_hour_of_day    6779
dtype: int64

In [65]:
sum(kk['product_name']*kk['order_hour_of_day'])/6779

13.5112848502729

In [0]:
kk = user_orders[user_orders.product_id==34].groupby('order_hour_of_day')['product_name'].count().reset_index()

In [55]:
user_orders[(user_orders.order_hour_of_day ==10)].groupby('product_name')['order_hour_of_day'].count().sort_values(ascending=False)[:900]

product_name
Banana                                                     42234
Bag of Organic Bananas                                     33063
Organic Strawberries                                       21995
Organic Baby Spinach                                       20566
Organic Hass Avocado                                       17847
Organic Avocado                                            15027
Large Lemon                                                13764
Strawberries                                               12763
Limes                                                      12454
Organic Raspberries                                        11937
Organic Whole Milk                                         11764
Organic Yellow Onion                                       10029
Organic Garlic                                              9576
Organic Zucchini                                            8870
Organic Fuji Apple                                          8780
Organic Blueberries                                         8779
Organic Half & Half                                         8314
Cucumber Kirby                                              8006
Seedless Red Grapes                                         7681
Sparkling Water Grapefruit                                  7655
Organic Lemon                                               7588
Apple Honeycrisp Organic                                    7549
Honeycrisp Apple                                            7338
Organic Grape Tomatoes                                      7219
Half & Half                                                 7156
Organic Baby Carrots                                        6975
Organic Cucumber                                            6814
Organic Gala Apples                                         6624
Yellow Onions                                               6501
Organic Large Extra Fancy Fuji Apple                        6464
                                                           ...
Grilled Chicken Breast Strips                                555
Non-Fat Greek Yogurt With Strawberries on the Bottom         555
Synergy Organic & Raw Cosmic Cranberry                       553
White Giant Paper Towel Rolls                                553
Gluten Free White Sandwich Bread                             553
Organic YoKids Smoothie Strawberry Banana Lowfat Yogurt      552
with Crispy Almonds Cereal                                   552
Organic Fat-Free Milk                                        551
Liquid Egg Whites                                            551
Roasted Garlic Hummus                                        549
Fusilli No. 34                                               548
Dried Mangos                                                 547
Wheat Gluten Free Waffles                                    547
Cinnamon Raisin Bread                                        546
Butterhead Lettuce                                           546
Red Grapefruit                                               546
Cream Top Smooth & Creamy Vanilla Yogurt                     545
Grade A Large Brown Eggs                                     544
Mache Rosettes French Salad Mix                              542
Raspberry on the Bottom Nonfat Greek Yogurt                  542
Tomatoes, Whole Peeled                                       541
Artichokes                                                   540
Organic Marinara Pasta Sauce                                 540
Organic Cut Green Beans                                      540
Hazelnut Spread With Skim Milk & Cocoa                       539
Yoghurt Blueberry                                            539
Avocado Roll                                                 539
English Muffins                                              538
Tangerine                                                    537
Cherry Pie Fruit & Nut Bar                                   537
Name: order_hour_of_day, Length: 900, dtype: int64

In [48]:
user_orders[user_orders.product_name=='Popcorn'].groupby('order_hour_of_day').count()

                   order_id  product_id  product_name
order_hour_of_day
0                        28          28            28
1                        10          10            10
2                         8           8             8
3                         1           1             1
4                         6           6             6
5                        13          13            13
6                        43          43            43
7                       139         139           139
8                       509         509           509
9                       969         969           969
10                      983         983           983
11                      796         796           796
12                      558         558           558
13                      587         587           587
14                      576         576           576
15                      533         533           533
16                      509         509           509
17                      267         267           267
18                      138         138           138
19                       94          94            94
20                      100         100           100
21                      105         105           105
22                       81          81            81
23                       49          49            49

In [0]:
per_hour_day = pd.crosstab(user_orders['product_name'],user_orders['order_hour_of_day'],normalize='index').reset_index()

In [34]:
per_hour_day[per_hour_day.product_name=='Pub Mix']

order_hour_of_day product_name         0  ...        22        23
36431                  Pub Mix  0.004465  ...  0.006698  0.007144

[1 rows x 25 columns]

In [23]:
user_orders['product_name'].value_counts().reset_index()

                                                   index  product_name
0                                                 Banana        491291
1                                 Bag of Organic Bananas        394930
2                                   Organic Strawberries        275577
3                                   Organic Baby Spinach        251705
4                                   Organic Hass Avocado        220877
5                                        Organic Avocado        184224
6                                            Large Lemon        160792
7                                           Strawberries        149445
8                                                  Limes        146660
9                                     Organic Whole Milk        142813
10                                   Organic Raspberries        142603
11                                  Organic Yellow Onion        117716
12                                        Organic Garlic        113936
13                                      Organic Zucchini        109412
14                                   Organic Blueberries        105026
15                                        Cucumber Kirby         99728
16                                    Organic Fuji Apple         92889
17                                         Organic Lemon         91251
18                                Organic Grape Tomatoes         88078
19                              Apple Honeycrisp Organic         87272
20                                   Seedless Red Grapes         86748
21                                      Organic Cucumber         85005
22                                      Honeycrisp Apple         83320
23                                  Organic Baby Carrots         80493
24                            Sparkling Water Grapefruit         79245
25                                   Organic Half & Half         79006
26                  Organic Large Extra Fancy Fuji Apple         78056
27                                         Yellow Onions         76929
28                                  Organic Baby Arugula         75752
29                                   Organic Gala Apples         75655
...                                                  ...           ...
49655         Pasta & Enchilada Sauce, Organic, 7 Veggie             1
49656                                 Chocolate Go Bites             1
49657                               Escapes Variety Pack             1
49658                                  Vitamin D Gummies             1
49659        Buddy Bear Probiotic Orange Flavor Chewable             1
49660  Drink Distinct All Natural Soda Pineapple Coco...             1
49661                           Miss Treated Conditioner             1
49662                             Dried Porcini Mushroom             1
49663         11.3 Oz. Oreo Fudge Creme Double Chocolate             1
49664                    Tropic Thunder  Coconut & Cream             1
49665                              Organic Aleppo Pepper             1
49666                  Vanilla Bean Sheep Milk Ice Cream             1
49667    Pantene Pro-V Color Preserve Volume Conditioner             1
49668                                  Cld/Flu Van Chrry             1
49669          Vegan Coconut Milk Caramels With Sea Salt             1
49670                                      Brut Prosecco             1
49671                    Coconut Bliss Pineapple Coconut             1
49672                         12 Inch Taper Candle White             1
49673                      Organic Better Rest Tea Blend             1
49674                   Skin Firming Cellulite Gel Cream             1
49675  Ultra Sun Blossom Liquid 90 loads Fabric Enhan...             1
49676                          Orange Flavored Ice Cubes             1
49677                         Sloppy Joe Sandwich Makers             1
49678                       Pasta Shapes In Tomato Sauce             1
49679                       Cinnamon Rice Pudding Snacks             1
49680                   Fruit Me Up!  Applesauce Pouches             1
49681         Lindor Peppermint White Chocolate Truffles             1
49682                     Piquillo & Jalapeno Bruschetta             1
49683  Pure Performance Restorative Shampoo Chamomile...             1
49684                                 Peachtree Schnapps             1

[49685 rows x 2 columns]

In [0]:
##### YOUR CODE HERE #####