<a href="https://colab.research.google.com/github/AHartNtkn/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/module1-join-and-reshape-data/LS_DS7_121_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-08-12 18:45:25--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.145.77
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.145.77|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  44.0MB/s    in 4.5s

2019-08-12 18:45:30 (43.2 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [4]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
import pandas as pd

In [0]:
# This will give us our 'product_name', tied to 'product_id' 
products = pd.read_csv('products.csv')
# We don't need aisle or department information.
productsFiltered = products[['product_id', 'product_name']]

# This will get us all the items ordered
order_products = pd.concat([pd.read_csv('order_products__prior.csv'), pd.read_csv('order_products__train.csv')])
# This will give us a table of how many orders there were of each product_id
order_counts = order_products.groupby('product_id')['order_id'].count().reset_index().rename(columns={'order_id':'order_counts'})

In [6]:
order_counts.head()

   product_id  order_counts
0           1          1928
1           2            94
2           3           283
3           4           351
4           5            16

In [0]:
# Merge the datasets together using the product_id.
result = pd.merge(productsFiltered, pd.DataFrame(order_counts), on='product_id')

In [8]:
# Let's see the top results!
result.sort_values(by=['order_counts'], ascending=False).head(10)

       product_id            product_name  order_counts
24849       24852                  Banana        491291
13173       13176  Bag of Organic Bananas        394930
21134       21137    Organic Strawberries        275577
21900       21903    Organic Baby Spinach        251705
47205       47209    Organic Hass Avocado        220877
47762       47766         Organic Avocado        184224
47622       47626             Large Lemon        160792
16794       16797            Strawberries        149445
26206       26209                   Limes        146660
27842       27845      Organic Whole Milk        142813

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [9]:
# We start out by getting a list of product ids which are popular
popular_orders = order_counts[order_counts['order_counts'] >= 2900]
popular_orders.head()

     product_id  order_counts
33           34          6779
44           45         19038
78           79          3755
115         116          4518
116         117          3756

In [10]:
# Get the time of day of orders
orders_id_day = pd.read_csv('orders.csv')[['order_id','order_hour_of_day']]
orders_id_day.head()

   order_id  order_hour_of_day
0   2539329                  8
1   2398795                  7
2    473747                 12
3   2254736                  7
4    431534                 15

In [11]:
# Get the time of day products were ordered.
orders_w_ids = pd.merge(order_products[['order_id', 'product_id']], orders_id_day, on='order_id')
orders_w_ids.head()

   order_id  product_id  order_hour_of_day
0         2       33120                  9
1         2       28985                  9
2         2        9327                  9
3         2       45918                  9
4         2       30035                  9

In [0]:
# Group by product_ids and average order times.
product_mean_order_time = orders_w_ids.groupby('product_id')['order_hour_of_day'].mean().reset_index().rename(columns={'order_hour_of_day':'average_order_hour'})

In [13]:
product_mean_order_time.head()

   product_id  average_order_hour
0           1           13.227178
1           2           13.308511
2           3           12.130742
3           4           13.811966
4           5           10.812500

In [14]:
# Merge order times with product names
prods_names_times = pd.merge(product_mean_order_time, productsFiltered, on='product_id')

# Filter for popularity
popular_prods_names_times = pd.merge(prods_names_times, popular_orders, on='product_id')

# Let's see that top 25!
popular_prods_names_times.sort_values(by=['average_order_hour'], ascending=False).head(25)

      product_id  ...  order_counts
1258       30668  ...          2983
1874       45541  ...          3137
1885       45681  ...          6447
1905       46175  ...          6222
593        14335  ...          3177
1578       38374  ...          5223
1561       38003  ...          3146
1190       28682  ...          4511
2003       48523  ...          5462
1982       47993  ...          4495
1658       40002  ...          6409
883        21463  ...          5096
691        17334  ...          3941
1866       45368  ...          3179
850        20754  ...          7656
574        13885  ...          5717
497        12276  ...          8555
87          2361  ...          5871
1963       47652  ...          3460
1590       38563  ...          3578
931        22620  ...          3653
353         8638  ...          4290
1708       41319  ...          6973
179         4932  ...          4644
1126       27179  ...          3863

[25 rows x 4 columns]

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [18]:
# Let's get each user's most recent order.

# First, get all the orders
orders = pd.read_csv('orders.csv')
orders.head()

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [0]:
# Get the most recent orders
most_recent_orders = orders.groupby('user_id')['order_number'].max().reset_index()

# Filter to get only the most recent orders
recent_orders = pd.merge(most_recent_orders, orders, on=['user_id', 'order_number'])[['user_id', 'order_number', 'order_id']]

In [20]:
recent_orders.head()

   user_id  order_number  order_id
0        1            11   1187899
1        2            15   1492625
2        3            13   2774568
3        4             6    329954
4        5             5   2196797

In [0]:
# Get a table of order_ids and products
prod_id = pd.merge(productsFiltered, order_products[['order_id', 'product_id']], on='product_id')[['order_id', 'product_name']]

In [21]:
# Get the most recent orders with product names
recently_ordered_products = pd.merge(recent_orders, prod_id, on='order_id')

recently_ordered_products.head(20)

    user_id  order_number  order_id                              product_name
0         1            11   1187899                                      Soda
1         1            11   1187899                                Pistachios
2         1            11   1187899                     Cinnamon Toast Crunch
3         1            11   1187899                     Organic String Cheese
4         1            11   1187899                Aged White Cheddar Popcorn
5         1            11   1187899          XL Pick-A-Size Paper Towel Rolls
6         1            11   1187899                        Organic Whole Milk
7         1            11   1187899                  0% Greek Strained Yogurt
8         1            11   1187899                    Milk Chocolate Almonds
9         1            11   1187899                         Zero Calorie Cola
10        1            11   1187899                       Organic Half & Half
11        2            15   1492625         Organic Cashew Carrot Ginger Soup
12        2            15   1492625                                 Mint Chip
13        2            15   1492625                        Small Hass Avocado
14        2            15   1492625         Gluten Free Mushroom Risotto Bowl
15        2            15   1492625             Gluten Free Whole Grain Bread
16        2            15   1492625                       Granny Smith Apples
17        2            15   1492625                        Shelled Pistachios
18        2            15   1492625  Organic All Day Fresh Deodorant Lavender
19        2            15   1492625                       Indian Paneer Tikka