<a href="https://colab.research.google.com/github/salexashenko/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/module1-join-and-reshape-data/LS_DS_121_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-09-09 19:59:04--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.129.149
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.129.149|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  25.8MB/s    in 8.2s

2019-09-09 19:59:13 (23.9 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [5]:
import pandas as pd
aisles_df=pd.read_csv('aisles.csv')
aisles_df.shape
aisles_df.head()
departments_df=pd.read_csv('departments.csv')
departments_df.shape
departments_df.head()
order_products_prior_df=pd.read_csv('order_products__prior.csv')
order_products_prior_df.head()
# we need product id from the merged

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
order_products_train_df=pd.read_csv('order_products__train.csv')
order_products_train_df.head()
order_products = pd.concat([order_products_prior_df,order_products_train_df])
order_products.shape

#Need product id here

(33819106, 4)

In [7]:
orders_df=pd.read_csv('orders.csv')
orders_df.head()

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [8]:
products_df=pd.read_csv('products.csv')
products_df.head()

# we need product id product name

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [9]:
columns = ['product_id','product_name']
subset = products_df.loc[:,columns]
subset.head()

   product_id                                       product_name
0           1                         Chocolate Sandwich Cookies
1           2                                   All-Seasons Salt
2           3               Robust Golden Unsweetened Oolong Tea
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4           5                          Green Chile Anytime Sauce

In [0]:
merged = pd.merge(subset, order_products, how='inner', on='product_id')

In [11]:
merged['product_name'].value_counts()

Banana                                                       491291
Bag of Organic Bananas                                       394930
Organic Strawberries                                         275577
Organic Baby Spinach                                         251705
Organic Hass Avocado                                         220877
Organic Avocado                                              184224
Large Lemon                                                  160792
Strawberries                                                 149445
Limes                                                        146660
Organic Whole Milk                                           142813
Organic Raspberries                                          142603
Organic Yellow Onion                                         117716
Organic Garlic                                               113936
Organic Zucchini                                             109412
Organic Blueberries                                          105026
Cucumber Kirby                                                99728
Organic Fuji Apple                                            92889
Organic Lemon                                                 91251
Organic Grape Tomatoes                                        88078
Apple Honeycrisp Organic                                      87272
Seedless Red Grapes                                           86748
Organic Cucumber                                              85005
Honeycrisp Apple                                              83320
Organic Baby Carrots                                          80493
Sparkling Water Grapefruit                                    79245
Organic Half & Half                                           79006
Organic Large Extra Fancy Fuji Apple                          78056
Yellow Onions                                                 76929
Organic Baby Arugula                                          75752
Organic Gala Apples                                           75655
                                                              ...
Pure Performance Restorative Shampoo Chamomile & Honey            1
12 Inch Taper Candle White                                        1
Miss Treated Conditioner                                          1
Flatbread Pizza All Natural                                       1
Pappardelle Nests Pasta                                           1
Brut Prosecco                                                     1
Strawberry Energy Gel                                             1
11.3 Oz. Oreo Fudge Creme Double Chocolate                        1
Chocolate Peppermint Tart                                         1
Hennepin Farmhouse Ale                                            1
Indulgent Cherry & Dark Chocolate Whole Milk Greek Yogurt         1
Orange Flavored Ice Cubes                                         1
Tangerine Melon Bubble Bath                                       1
Peachtree Schnapps                                                1
Cinnamon Rice Pudding Snacks                                      1
Seasoned Southern Style Red Beans And Rice                        1
Escapes Variety Pack                                              1
Pantene Pro-V Color Preserve Volume Conditioner                   1
Berry Sprouted Blend Cereal                                       1
Buddy Bear Probiotic Orange Flavor Chewable                       1
Multigrain Penne Rigate                                           1
Bite Size Caramel Chocolates                                      1
Florentine Spinach and Cheese Pasta Sauce                         1
All Natural Stevia Liquid Extract Sweetener                       1
Aged Parmesan Cheese Sticks                                       1
'Swingtop' Premium Lager                                          1
Yellow Fish Breading                                              1
Super Nutrition Vanilla Shake                                     1
Thick 'n Chunky Salsa Mild                                        1
String Of Pearl White Sprinkles                                   1
Name: product_name, Length: 49685, dtype: int64

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import seaborn as sns
flights = sns.load_dataset('flights')

In [13]:
flights.head()
flights.pivot_table(index='year',columns='month',values='passengers')

month  January  February  March  April  ...  September  October  November  December
year                                    ...
1949       112       118    132    129  ...        136      119       104       118
1950       115       126    141    135  ...        158      133       114       140
1951       145       150    178    163  ...        184      162       146       166
1952       171       180    193    181  ...        209      191       172       194
1953       196       196    236    235  ...        237      211       180       201
1954       204       188    235    227  ...        259      229       203       229
1955       242       233    267    269  ...        312      274       237       278
1956       284       277    317    313  ...        355      306       271       306
1957       315       301    356    348  ...        404      347       305       336
1958       340       318    362    348  ...        404      359       310       337
1959       360       342    406    396  ...        463      407       362       405
1960       417       391    419    461  ...        508      461       390       432

[12 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [34]:
orders_df.shape

(3421083, 7)

In [0]:
merged2 = pd.merge(merged, orders_df, how='inner', on='order_id')

In [36]:
merged2.isna().sum()

product_id                      0
product_name                    0
order_id                        0
add_to_cart_order               0
reordered                       0
user_id                         0
eval_set                        0
order_number                    0
order_dow                       0
order_hour_of_day               0
days_since_prior_order    2078068
dtype: int64

In [0]:
top_products = merged['product_name'].value_counts()
top_products.shape
top_products=top_products[top_products > 2900]

In [16]:
top_products.head()

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Name: product_name, dtype: int64

In [0]:
merged3=merged2[merged2['product_name'].isin(top_products.index)]

In [0]:
merged3=merged3.groupby(['product_name']).mean()

In [21]:
merged3.head()

                          product_id  ...  days_since_prior_order
product_name                          ...
0% Fat Free Organic Milk     49517.0  ...               12.045393
0% Greek Strained Yogurt     38928.0  ...               10.375760
1 Liter                       5428.0  ...               10.107948
1% Low Fat Milk              31981.0  ...               11.950156
1% Lowfat Milk               24024.0  ...               11.115526

[5 rows x 9 columns]

In [22]:
merged3.nlargest(25,'order_hour_of_day')

                                              product_id  ...  days_since_prior_order
product_name                                              ...
Half Baked Frozen Yogurt                         30668.0  ...               12.968406
The Tonight Dough™ Ice Cream                     45541.0  ...               12.454922
Americone Dream® Ice Cream                       45681.0  ...               12.384097
Half Baked® Ice Cream                            46175.0  ...               12.941580
Phish Food® Ice Cream                            14335.0  ...               12.254232
Milk and Cookies Ice Cream                       38374.0  ...               11.823154
Sicilian Pistachio                               38003.0  ...               11.836289
Chocolate Peanut Butter Cup Gelato               28682.0  ...               11.917144
Birthday Cake Light Ice Cream                    48523.0  ...               12.486755
Cherry Garcia Ice Cream                          47993.0  ...               12.256435
Strawberry Ice Cream                             40002.0  ...               11.823677
Vanilla Bean Light Ice Cream                     21463.0  ...               11.255265
Coffee Ice Cream                                 17334.0  ...               12.088659
Roman Raspberry Sorbetto                         45368.0  ...               11.768481
Mediterranean Mint Gelato                        20754.0  ...               12.149333
Caramel Cookie Crunch Gelato                     13885.0  ...               11.828550
Chocolate Chip Cookie Dough Ice Cream            12276.0  ...               12.334609
Mint Chip                                         2361.0  ...               12.115254
Coconut Almond Minis Frozen Dessert Bars         47652.0  ...               11.236098
Mint Chocolate Chip Ice Cream                    38563.0  ...               11.844398
Chocolate Peanut Butter Ice Cream                22620.0  ...               11.840341
Vanilla Milk Chocolate Almond Ice Cream Bars      8638.0  ...               12.139576
Sea Salt Caramel Gelato                          41319.0  ...               12.220155
Vanilla Bean Ice Cream                            4932.0  ...               10.615156
Rising Crust Pepperoni Pizza                     27179.0  ...               14.306543

[25 rows x 9 columns]

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
last_orders = merged2.sort_values('order_id', ascending=False).drop_duplicates(['user_id'])

In [0]:
last_orders=last_orders[['user_id',
                       'order_id']]

In [30]:
last_orders.head()

          user_id  order_id
20538670    25247   3421083
30734620   175185   3421082
16352924   117076   3421081
22071001    52726   3421080
33621850   108687   3421079