In [0]:
# Change directory to VSCode workspace root so that relative path loads work correctly. Turn this addition off with the DataScience.changeDirOnImportExport setting
import os
try:
	os.chdir(os.path.join(os.getcwd(), '..'))
	#print(os.getcwd())
except:
	pass

In [1]:
import os
try:
	os.chdir(os.path.join(os.getcwd(), 'module1-join-and-reshape-data'))
	##print(os.getcwd())
except:
	pass

 _Lambda School Data Science_

 # Join and Reshape datasets

 Objectives
 - concatenate data with pandas
 - merge data with pandas
 -  understand tidy data formatting
 -  melt and pivot data with pandas

 Links
 - [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
 - [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
   - Combine Data Sets: Standard Joins
   - Tidy Data
   - Reshaping Data
 - Python Data Science Handbook
   - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
   - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
   - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
   - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables

 Reference
 - Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
 - Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [2]:
get_ipython().system('rm instacart_2017_05_01/*')
get_ipython().system('wget -N https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz')

--2019-09-09 16:41:07--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.113.117
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.113.117|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Server file no newer than local file ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ -- not retrieving.

In [3]:
get_ipython().system('tar -xzvf instacart_online_grocery_shopping_2017_05_01.tar.gz')

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [4]:
get_ipython().system('ls instacart_2017_05_01 -Alh')

total 681M
-rw-r--r--. 1 username username  226 May  2  2017 ._aisles.csv
-rw-r--r--. 1 username username 2.6K May  2  2017 aisles.csv
-rw-r--r--. 1 username username  226 May  2  2017 ._departments.csv
-rw-r--r--. 1 username username  270 May  2  2017 departments.csv
-rw-r--r--. 1 username username  226 May  2  2017 ._order_products__prior.csv
-rw-r--r--. 1 username username 551M May  2  2017 order_products__prior.csv
-rw-r--r--. 1 username username  226 May  2  2017 ._order_products__train.csv
-rw-r--r--. 1 username username  24M May  2  2017 order_products__train.csv
-rw-r--r--. 1 username username  226 May  2  2017 ._orders.csv
-rw-r--r--. 1 username username 104M May  2  2017 orders.csv
-rw-r--r--. 1 username username  226 May  2  2017 ._products.csv
-rw-r--r--. 1 username username 2.1M May  2  2017 products.csv

In [5]:
get_ipython().system('head instacart_2017_05_01/*.csv -n 3')

==> instacart_2017_05_01/aisles.csv <==
aisle_id,aisle
1,prepared soups salads
2,specialty cheeses

==> instacart_2017_05_01/departments.csv <==
department_id,department
1,frozen
2,other

==> instacart_2017_05_01/order_products__prior.csv <==
order_id,product_id,add_to_cart_order,reordered
2,33120,1,1
2,28985,2,1

==> instacart_2017_05_01/order_products__train.csv <==
order_id,product_id,add_to_cart_order,reordered
1,49302,1,1
1,11109,2,1

==> instacart_2017_05_01/orders.csv <==
order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2539329,1,prior,1,2,08,
2398795,1,prior,2,3,07,15.0

==> instacart_2017_05_01/products.csv <==
product_id,product_name,aisle_id,department_id
1,Chocolate Sandwich Cookies,61,19
2,All-Seasons Salt,104,13

 # Assignment

 ## Join Data Practice

 These are the top 10 most frequently ordered products. How many times was each ordered?

 1. Banana
 2. Bag of Organic Bananas
 3. Organic Strawberries
 4. Organic Baby Spinach
 5. Organic Hass Avocado
 6. Organic Avocado
 7. Large Lemon
 8. Strawberries
 9. Limes
 10. Organic Whole Milk

 First, write down which columns you need and which dataframes have them.

 Next, merge these into a single dataframe.

 Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [6]:
import pandas
order_products__prior = pandas.read_csv('instacart_2017_05_01/order_products__prior.csv')
order_products__train = pandas.read_csv('instacart_2017_05_01/order_products__train.csv')
order_products = pandas.concat([order_products__prior, order_products__train])
orders = pandas.read_csv('instacart_2017_05_01/orders.csv')
products = pandas.read_csv('instacart_2017_05_01/products.csv')

order_columns = ['order_id', 'order_hour_of_day']
product_columns = ['product_id', 'product_name']
order_product_columns = ['order_id', 'product_id']

df_instacart = pandas.merge(orders[order_columns],
					pandas.merge(products[product_columns], 
								order_products[order_product_columns], 
								on='product_id'),
					on='order_id')

df_instacart['product_name'].value_counts().head(10)

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

 ## Reshape Data Section

 - Replicate the lesson code
 - Complete the code cells we skipped near the beginning of the notebook
 - Table 2 --> Tidy
 - Tidy --> Table 2
 - Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [7]:
import pandas, numpy
table1 = pandas.DataFrame(
    [[numpy.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T.reset_index().rename(columns={'index':'treatment'})
table2.head(10)

    treatment  John Smith  Jane Doe  Mary Johnson
0  treatmenta         NaN      16.0           3.0
1  treatmentb         2.0      11.0           1.0

In [8]:


tidy = table2.melt(
				id_vars=['treatment'], 
				value_vars=['John Smith', 'Jane Doe', 'Mary Johnson'],
				var_name='name',
				value_name='result'
				).replace(
						to_replace={'treatmenta': 'a',
									'treatmentb': 'b'}
						)

tidy.head(10)

  treatment          name  result
0         a    John Smith     NaN
1         b    John Smith     2.0
2         a      Jane Doe    16.0
3         b      Jane Doe    11.0
4         a  Mary Johnson     3.0
5         b  Mary Johnson     1.0

In [9]:
table2_rebuilt = tidy.replace(
							to_replace={'a': 'treatmenta',
										'b': 'treatmentb'}
							).pivot_table(
										index='treatment',
										columns='name',
										values='result'
										)

table2_rebuilt.head(10)

name        Jane Doe  John Smith  Mary Johnson
treatment
treatmenta      16.0         NaN           3.0
treatmentb      11.0         2.0           1.0

In [10]:
import seaborn
flights = seaborn.load_dataset('flights')
flights.head(30)

    year      month  passengers
0   1949    January         112
1   1949   February         118
2   1949      March         132
3   1949      April         129
4   1949        May         121
5   1949       June         135
6   1949       July         148
7   1949     August         148
8   1949  September         136
9   1949    October         119
10  1949   November         104
11  1949   December         118
12  1950    January         115
13  1950   February         126
14  1950      March         141
15  1950      April         135
16  1950        May         125
17  1950       June         149
18  1950       July         170
19  1950     August         170
20  1950  September         158
21  1950    October         133
22  1950   November         114
23  1950   December         140
24  1951    January         145
25  1951   February         150
26  1951      March         178
27  1951      April         163
28  1951        May         172
29  1951       June         178

In [11]:
flights.pivot_table(
					index='year',
					columns='month',
					values='passengers'
					)

month,January,February,March,April,May,June,July,August,September,October,November,December
year,,,,,,,,,,,,
1949,112,118,132,129,121,135,148,148,136,119,104,118
1950,115,126,141,135,125,149,170,170,158,133,114,140
1951,145,150,178,163,172,178,199,199,184,162,146,166
1952,171,180,193,181,183,218,230,242,209,191,172,194
1953,196,196,236,235,229,243,264,272,237,211,180,201
1954,204,188,235,227,234,264,302,293,259,229,203,229
1955,242,233,267,269,270,315,364,347,312,274,237,278
1956,284,277,317,313,318,374,413,405,355,306,271,306
1957,315,301,356,348,355,422,465,467,404,347,305,336
1958,340,318,362,348,363,435,491,505,404,359,310,337
1959,360,342,406,396,420,472,548,559,463,407,362,405
1960,417,391,419,461,472,535,622,606,508,461,390,432

 ## Join Data Stretch Challenge

 The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)."

 The post says,

 > "We can also see the time of day that users purchase specific products.

 > Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

 > **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

 Your challenge is to reproduce the list of the top 25 latest ordered popular products.

 We'll define "popular products" as products with more than 2,900 orders.

 ### See Unit 1 Sprint 1 Module 4

 ## Reshape Data Stretch Challenge

 _Try whatever sounds most interesting to you!_

 - Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
 - Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
 - Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
 - Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [12]:
recent_orders = orders.sort_values('order_id', ascending=False).groupby(['user_id']).first().reset_index()
# Reset the index so we can preserve user_id post-merge

recent_orders_products = pandas.merge(recent_orders,
									pandas.merge(order_products,
												products,
												on='product_id'
												),
									on='order_id'
									)

recent_orders_products.head(20)

,user_id,order_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,1,3367565,prior,6,2,7,19.0,196,1,1,Soda,77,7
1,1,3367565,prior,6,2,7,19.0,10258,3,1,Pistachios,117,19
2,1,3367565,prior,6,2,7,19.0,25133,4,1,Organic String Cheese,21,16
3,1,3367565,prior,6,2,7,19.0,12427,2,1,Original Beef Jerky,23,19
4,2,3268552,prior,13,4,11,30.0,19057,8,0,Organic Large Extra Fancy Fuji Apple,24,4
5,2,3268552,prior,13,4,11,30.0,44303,5,0,Organic Shredded Unsweetened Coconut,17,13
6,2,3268552,prior,13,4,11,30.0,16521,6,0,Walnut Halves & Pieces,117,19
7,2,3268552,prior,13,4,11,30.0,42342,1,0,Roasted Turkey Breast,96,20
8,2,3268552,prior,13,4,11,30.0,45948,9,0,Gluten Free 7 Grain Bread,112,3
9,2,3268552,prior,13,4,11,30.0,39877,7,0,Organic Granny Smith Apple,24,4
10,2,3268552,prior,13,4,11,30.0,79,3,0,Wild Albacore Tuna No Salt Added,95,15
11,2,3268552,prior,13,4,11,30.0,30908,2,0,Teriyaki Turkey Jerky,23,19
12,2,3268552,prior,13,4,11,30.0,5869,4,0,Unsweetened Carob Chips,17,13
13,3,3225766,prior,8,0,17,7.0,21903,5,1,Organic Baby Spinach,123,4
14,3,3225766,prior,8,0,17,7.0,47766,6,1,Organic Avocado,24,4
15,3,3225766,prior,8,0,17,7.0,43961,3,1,Organic Peeled Whole Baby Carrots,123,4
16,3,3225766,prior,8,0,17,7.0,22035,2,1,Organic Whole String Cheese,21,16
17,3,3225766,prior,8,0,17,7.0,39190,1,1,Vanilla Unsweetened Almond Milk,91,16
18,3,3225766,prior,8,0,17,7.0,42557,7,0,Crunchy Almond Butter,88,13
19,3,3225766,prior,8,0,17,7.0,48523,8,0,Birthday Cake Light Ice Cream,37,1