<a href="https://colab.research.google.com/github/rsskga/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/module1-join-and-reshape-data/LS_DS_121_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-09-09 22:03:31--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.161.5
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.161.5|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  75.8MB/s    in 2.6s

2019-09-09 22:03:34 (75.8 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
import pandas as pd

In [19]:
aisles = pd.read_csv('aisles.csv')
aisles.head(1)

   aisle_id                  aisle
0         1  prepared soups salads

In [18]:
depts = pd.read_csv('departments.csv')
depts.head(1)

   department_id department
0              1     frozen

In [34]:
order_products__prior = pd.read_csv('order_products__prior.csv')
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [16]:
order_products__train = pd.read_csv('order_products__train.csv')
order_products__train.head(1)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1

In [15]:
orders = pd.read_csv('orders.csv')
orders.head(1)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN

[1 rows x 7 columns]

In [33]:
products = pd.read_csv('products.csv')
products.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [31]:
# How many times was each of the top 10 most frequently ordered products ordered?

# dataframes/columns needed:
# order_products__prior => product_id
# products => product_id, product_name

# merge these into a single dataframe
products_filtered = pd.concat([products['product_id'],
                              products['product_name']],
                              axis=1)

products_merged = products_filtered.merge(order_products__prior['product_id'],
                      left_on='product_id',
                      right_on='product_id')

products_merged.head()

   product_id                product_name
0           1  Chocolate Sandwich Cookies
1           1  Chocolate Sandwich Cookies
2           1  Chocolate Sandwich Cookies
3           1  Chocolate Sandwich Cookies
4           1  Chocolate Sandwich Cookies

In [36]:
# get the counts of the top 10 most frequently ordered products
# Banana
# Bag of Organic Bananas
# Organic Strawberries
# Organic Baby Spinach
# Organic Hass Avocado
# Organic Avocado
# Large Lemon
# Strawberries
# Limes
# Organic Whole Milk

products_merged['product_name'].value_counts()

Banana                                                      472565
Bag of Organic Bananas                                      379450
Organic Strawberries                                        264683
Organic Baby Spinach                                        241921
Organic Hass Avocado                                        213584
Organic Avocado                                             176815
Large Lemon                                                 152657
Strawberries                                                142951
Limes                                                       140627
Organic Whole Milk                                          137905
Organic Raspberries                                         137057
Organic Yellow Onion                                        113426
Organic Garlic                                              109778
Organic Zucchini                                            104823
Organic Blueberries                                         100060
Cucumber Kirby                                               97315
Organic Fuji Apple                                           89632
Organic Lemon                                                87746
Apple Honeycrisp Organic                                     85020
Organic Grape Tomatoes                                       84255
Seedless Red Grapes                                          82689
Organic Cucumber                                             80392
Honeycrisp Apple                                             79769
Organic Baby Carrots                                         76896
Organic Half & Half                                          76360
Sparkling Water Grapefruit                                   75886
Organic Large Extra Fancy Fuji Apple                         75165
Yellow Onions                                                73167
Organic Gala Apples                                          72846
Organic Baby Arugula                                         72829
                                                             ...
Organic Ice Cream Birthday Cake                                  1
Organic Aleppo Pepper                                            1
Zingz Queso Fundido Baked Snack Crackers                         1
Bite Size Caramel Chocolates                                     1
Jamaican Allspice                                                1
Max White With Polishing Star Soft Toothbrush                    1
Chocolate Peppermint Tart                                        1
All Natural Stevia Liquid Extract Sweetener                      1
Anarchy For Her Daily Fragrance                                  1
Flavor Snacks                                                    1
'Swingtop' Premium Lager                                         1
Master Blend Coffee                                              1
Vanilla Bean Sheep Milk Ice Cream                                1
Brut Prosecco                                                    1
Easter Basket                                                    1
Lndbrg White Quinoa 16 Z                                         1
Cinnamon Rice Pudding Snacks                                     1
Berry Sprouted Blend Cereal                                      1
Flatbread Pizza All Natural                                      1
The Ultimate Caramel Suace                                       1
Escapes Variety Pack                                             1
Sugar Leaf  Stevia and Raw Cane Sugar                            1
Blueberry Blast Fruit and Chia Seed Bar                          1
Vanilla Latte Iced Coffee Drink                                  1
Hot Oatmeal Multigrain Raisin                                    1
Pappardelle Nests Pasta                                          1
Freshmatic Ultra Automatic Spray Refill, Vanilla Passion         1
Tangerine Melon Bubble Bath                                      1
Pumpkin Spice Almond Nog                                         1
Wicked Good No-Fry Wing Marinade                                 1
Name: product_name, Length: 49677, dtype: int64

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
flights = sns.load_dataset('flights')

In [0]:
##### YOUR CODE HERE #####

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####