<a href="https://colab.research.google.com/github/mikvikpik/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/module1-join-and-reshape-data/LS_DS_121_Join_and_Reshape_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# used for machine learning when doing suggestions for purchasing

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [2]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-06-03 21:52:12--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.230.93
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.230.93|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  66.8MB/s    in 2.9s

2019-06-03 21:52:15 (66.8 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [3]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [4]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [5]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Join Datasets

## Goal: Reproduce this example

The first two orders for user id 1:

In [6]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example) #important to refer to what we are creating

## Load data

Here's a list of all six CSV filenames

In [7]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

In [0]:
import pandas as pd

### aisles

In [9]:
aisles = pd.read_csv('aisles.csv')
print(aisles.shape)
aisles.head()

(134, 2)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [10]:
display(example)
# aisles.csv not found or needed

### departments

In [11]:
!head departments.csv

department_id,department
1,frozen
2,other
3,bakery
4,produce
5,alcohol
6,international
7,beverages
8,pets
9,dry goods pasta

In [12]:
departments = pd.read_csv('departments.csv')
print(departments.shape)
departments.head()

(21, 2)

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [13]:
display(example)
# department.csv not needed either because not found

### order_products__prior

In [14]:
# order_products__prior has doublle underscore in second underscore
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [15]:
display(example)
# need order_id, product_id, add_to_cart_order, from order_products__prior

In [16]:
!free -m
#shows memory used in bang notation

              total        used        free      shared  buff/cache   available
Mem:          13022        2400        7490           0        3131       12325
Swap:             0           0           0

In [17]:
order_products__prior.groupby('order_id')
#creates a new dataframe, groupby object
#order_products__prior.groupby('order_id')['product_id'].count()
#shows total count of each item
#.mean() shows average count of ordered item

### order_products__train

In [18]:
order_products__train = pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [19]:
display(example)
# need order_id, product_id, add_to_cart_order, from order_products__train
# IMPORTANT - same data from order_products__prior
# beware of overwrite

### orders

In [20]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.head()
# best dataframe to start with

(3421083, 7)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [21]:
display(example)
# has order_id, order_number, order_dow, order_hour_of_day, from orders
# useful to match up for merge as index to match rows on

### products

In [22]:
products = pd.read_csv('products.csv')
print(products.shape)
products.head()

(49688, 4)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [23]:
display(example)
# need product_id, product_name, from products

## Concatenate order_products__prior and order_products__train

In [24]:
order_products__prior.shape

(32434489, 4)

In [25]:
order_products__train.shape

(1384617, 4)

In [26]:
# pd.concat used to add onto from 
order_products = pd.concat([order_products__prior, order_products__train])
order_products.shape

(33819106, 4)

In [0]:
# assert is used to simple test for usability
# refactoring is to make the dataframe more readable and precise
# no error means True statement
assert len(order_products)  == len(order_products__prior) + len(order_products__train)

In [28]:
# Filter order products to get as close as we can to example table
# condition used to filter 
# this shows True/False for condition
order_products['order_id'] == 2539329

0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
1384587    False
1384588    False
1384589    False
1384590    False
1384591    False
1384592    False
1384593    False
1384594    False
1384595    False
1384596    False
1384597    False
1384598    False
1384599    False
1384600    False
1384601    False
1384602    False
1384603    False
1384604    False
1384605    False
1384606    False
1384607    False
1384608    False
1384609    False
1384610    False
1384611    False
1384612    False
1384613    False
1384614    False
1384615    False
1384616    False
Name: order_id, Length: 33819106, dtype: bool

In [29]:
# shows data of what condition is True
order_products[order_products['order_id'] == 2539329]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

In [0]:
import numpy as np

In [31]:
order_products[np.logical_or((order_products['order_id'] == 2539329), (order_products['order_id'] == 2398795))]

          order_id  product_id  add_to_cart_order  reordered
22742744   2398795         196                  1          1
22742745   2398795       10258                  2          0
22742746   2398795       12427                  3          1
22742747   2398795       13176                  4          0
22742748   2398795       26088                  5          1
22742749   2398795       13032                  6          0
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

In [0]:
#condition = (orders['user_id' == 1]) & (orders['order_number'] <= 2)
#
#columns = [
#    'user_id',
#    'order_id',
#    'order_number',
#    'order_dow',
#    'order_hour_of_day'
#]
#
#subset = orders.loc[conditions, columns]
#subset

## Get a subset of orders — the first two orders for user id 1

From `orders` dataframe:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

## Merge dataframes

Merge the subset from `orders` with columns from `order_products`

In [0]:
# merging dataframes is the most important of today
help(pd.merge)

Merge with columns from `products`

# Reshape Datasets

## Why reshape data?

#### Some libraries prefer data in different formats

For example, the Seaborn data visualization library prefers data in "Tidy" format often (but not always).

> "[Seaborn will be most powerful when your datasets have a particular organization.](https://seaborn.pydata.org/introduction.html#organizing-datasets) This format ia alternately called “long-form” or “tidy” data and is described in detail by Hadley Wickham. The rules can be simply stated:

> - Each variable is a column
- Each observation is a row

> A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

#### Data science is often about putting square pegs in round holes

Here's an inspiring [video clip from _Apollo 13_](https://www.youtube.com/watch?v=ry55--J4_VQ): “Invent a way to put a square peg in a round hole.” It's a good metaphor for data wrangling!

## Hadley Wickham's Examples

From his paper, [Tidy Data](http://vita.had.co.nz/papers/tidy-data.html)

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

"Table 1 provides some data about an imaginary experiment in a format commonly seen in the wild. 

The table has two columns and three rows, and both rows and columns are labelled."

In [0]:
table1

"There are many ways to structure the same underlying data. 

Table 2 shows the same data as Table 1, but the rows and columns have been transposed. The data is the same, but the layout is different."

In [0]:
table2

"Table 3 reorganises Table 1 to make the values, variables and obserations more clear.

Table 3 is the tidy version of Table 1. Each row represents an observation, the result of one treatment on one person, and each column is a variable."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

## Table 1 --> Tidy

We can use the pandas `melt` function to reshape Table 1 into Tidy format.

## Table 2 --> Tidy

In [0]:
##### LEAVE BLANK --an assignment exercise #####

## Tidy --> Table 1

The `pivot_table` function is the inverse of `melt`.

## Tidy --> Table 2

In [0]:
##### LEAVE BLANK --an assignment exercise #####

# Seaborn example

The rules can be simply stated:

- Each variable is a column
- Each observation is a row

A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

In [0]:
sns.catplot(x='trt', y='result', col='name', 
            kind='bar', data=tidy, height=2);

## Now with Instacart data

In [0]:
products = pd.read_csv('products.csv')

order_products = pd.concat([pd.read_csv('order_products__prior.csv'), 
                            pd.read_csv('order_products__train.csv')])

orders = pd.read_csv('orders.csv')

## Goal: Reproduce part of this example

Instead of a plot with 50 products, we'll just do two — the first products from each list
- Half And Half Ultra Pasteurized
- Half Baked Frozen Yogurt

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*wKfV6OV-_1Ipwrl7AjjSuw.png'
example = Image(url=url, width=600)

display(example)

So, given a `product_name` we need to calculate its `order_hour_of_day` pattern.

## Subset and Merge

One challenge of performing a merge on this data is that the `products` and `orders` datasets do not have any common columns that we can merge on. Due to this we will have to use the `order_products` dataset to provide the columns that we will use to perform the merge.

## 4 ways to reshape and plot

### 1. value_counts

### 2. crosstab

### 3. Pivot Table

### 4. melt

# Assignment

## Join Data Section

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [36]:
# Join Data Section Assignment
# Need 'product_name', 'product_id' from 'products'
# Need products_list dataframe merged to orders
# Then need sum of produce_list frequency. Each time they were ordered.
# creating products_list from products
products_list = products[['product_name', 'product_id']]
print(products_list.shape)
products_list.head()

(49688, 2)

                                        product_name  product_id
0                         Chocolate Sandwich Cookies           1
1                                   All-Seasons Salt           2
2               Robust Golden Unsweetened Oolong Tea           3
3  Smart Ones Classic Favorites Mini Rigatoni Wit...           4
4                          Green Chile Anytime Sauce           5

In [41]:
# merge products list to orders by product_id
products_list = pd.merge(products_list, order_products, how='left', on='product_id')
print(products_list.shape)
products_list.head(20)

(33819109, 5)

                  product_name  product_id  ...  add_to_cart_order  reordered
0   Chocolate Sandwich Cookies           1  ...                7.0        0.0
1   Chocolate Sandwich Cookies           1  ...                3.0        1.0
2   Chocolate Sandwich Cookies           1  ...                4.0        1.0
3   Chocolate Sandwich Cookies           1  ...                2.0        0.0
4   Chocolate Sandwich Cookies           1  ...               30.0        0.0
5   Chocolate Sandwich Cookies           1  ...                5.0        1.0
6   Chocolate Sandwich Cookies           1  ...                1.0        1.0
7   Chocolate Sandwich Cookies           1  ...                4.0        0.0
8   Chocolate Sandwich Cookies           1  ...                3.0        1.0
9   Chocolate Sandwich Cookies           1  ...                4.0        1.0
10  Chocolate Sandwich Cookies           1  ...               13.0        1.0
11  Chocolate Sandwich Cookies           1  ...                1.0        1.0
12  Chocolate Sandwich Cookies           1  ...                1.0        1.0
13  Chocolate Sandwich Cookies           1  ...                5.0        0.0
14  Chocolate Sandwich Cookies           1  ...                9.0        1.0
15  Chocolate Sandwich Cookies           1  ...               12.0        0.0
16  Chocolate Sandwich Cookies           1  ...                2.0        0.0
17  Chocolate Sandwich Cookies           1  ...                1.0        0.0
18  Chocolate Sandwich Cookies           1  ...                3.0        0.0
19  Chocolate Sandwich Cookies           1  ...                2.0        1.0

[20 rows x 5 columns]

In [45]:
# create list of only shopping_list
shopping_list = ['Banana', 'Bag of Organic Bananas', 'Organic Strawberries',
                'Organic Baby Spinach', 'Organic Hass Avocado', 'Organic Avocado',
                'Large Lemon', 'Strawberries', 'Limes', 'Organic Whole Milk']
# filter products_list by shopping_list
products_list = products_list.drop(['add_to_cart_order','reordered'], axis=1)
products_list.head()

                 product_name  product_id  order_id
0  Chocolate Sandwich Cookies           1    1107.0
1  Chocolate Sandwich Cookies           1    5319.0
2  Chocolate Sandwich Cookies           1    7540.0
3  Chocolate Sandwich Cookies           1    9228.0
4  Chocolate Sandwich Cookies           1    9273.0

In [51]:
# created dataframe of only shopping_list items included
products_list = products_list[products_list['product_name'].isin(shopping_list)] 
print(products_list.shape)
products_list.head()

(2418314, 3)

                   product_name  product_id  order_id
7874747  Bag of Organic Bananas       13176       5.0
7874748  Bag of Organic Bananas       13176      27.0
7874749  Bag of Organic Bananas       13176      29.0
7874750  Bag of Organic Bananas       13176      32.0
7874751  Bag of Organic Bananas       13176      42.0

In [60]:
# counts of each item ordered
products_list['product_name'].value_counts()

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

In [0]:
#

In [0]:
flights = sns.load_dataset('flights')

In [0]:
##### YOUR CODE HERE #####

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)