<a href="https://colab.research.google.com/github/mpHarm88/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/module1-join-and-reshape-data/Mikio_Harman_LS_DS_121_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-09-09 19:42:38--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.84.91
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.84.91|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  40.9MB/s    in 5.2s

2019-09-09 19:42:43 (38.0 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [5]:
##### YOUR CODE HERE #####
import pandas as pd

orders = pd.read_csv('orders.csv')
orders.head()

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [6]:
products = pd.read_csv('products.csv')
products.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [7]:
order_prior = pd.read_csv('order_products__prior.csv')
order_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
order_train = pd.read_csv('order_products__train.csv')
order_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [9]:
order_Train_And_Prior = pd.concat([pd.read_csv('order_products__prior.csv'),
                                   pd.read_csv('order_products__train.csv')])
order_Train_And_Prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [10]:
subset = order_Train_And_Prior['product_id']
subset.shape

(33819106,)

In [20]:
top_20 = pd.merge(subset, products, how='inner', on='product_id')
top_20.head()

   product_id        product_name  aisle_id  department_id
0       33120  Organic Egg Whites        86             16
1       33120  Organic Egg Whites        86             16
2       33120  Organic Egg Whites        86             16
3       33120  Organic Egg Whites        86             16
4       33120  Organic Egg Whites        86             16

In [27]:
top_20['product_name'].value_counts()

Banana                                                        491291
Bag of Organic Bananas                                        394930
Organic Strawberries                                          275577
Organic Baby Spinach                                          251705
Organic Hass Avocado                                          220877
Organic Avocado                                               184224
Large Lemon                                                   160792
Strawberries                                                  149445
Limes                                                         146660
Organic Whole Milk                                            142813
Organic Raspberries                                           142603
Organic Yellow Onion                                          117716
Organic Garlic                                                113936
Organic Zucchini                                              109412
Organic Blueberries                                           105026
Cucumber Kirby                                                 99728
Organic Fuji Apple                                             92889
Organic Lemon                                                  91251
Organic Grape Tomatoes                                         88078
Apple Honeycrisp Organic                                       87272
Seedless Red Grapes                                            86748
Organic Cucumber                                               85005
Honeycrisp Apple                                               83320
Organic Baby Carrots                                           80493
Sparkling Water Grapefruit                                     79245
Organic Half & Half                                            79006
Organic Large Extra Fancy Fuji Apple                           78056
Yellow Onions                                                  76929
Organic Baby Arugula                                           75752
Organic Gala Apples                                            75655
                                                               ...
Natural Peanut Butter With Flaxseed                                1
Multi-Surface Sunflower Scent Everyday Cleaner                     1
Pappardelle Nests Pasta                                            1
Skin Firming Cellulite Gel Cream                                   1
Cajun Sides Dirty Rice                                             1
Citronge Extra Fine Orange Liqueur                                 1
Miss Treated Conditioner                                           1
Easter Basket                                                      1
Kefir Raspberry                                                    1
Coconut Cardamom Almond Butter                                     1
Multigrain Penne Rigate                                            1
Florentine Spinach and Cheese Pasta Sauce                          1
Sweetart Jelly Beans                                               1
Cinnamon Rice Pudding Snacks                                       1
Pure Squeezed  Lemonade                                            1
Piquillo & Jalapeno Bruschetta                                     1
Original Lager                                                     1
Ultra Sun Blossom Liquid 90 loads Fabric Enhancers                 1
Organic Ice Cream Birthday Cake                                    1
Vegan Coconut Milk Caramels With Sea Salt                          1
Frittata, Farmer's Market                                          1
Petite Black Eyed Peas                                             1
Indulgent Cherry & Dark Chocolate Whole Milk Greek Yogurt          1
Brut Prosecco                                                      1
Drink Distinct All Natural Soda Pineapple Coconut & Nutmeg         1
Organic Better Rest Tea Blend                                      1
Pure Peppermint Extract                                            1
Orange Recharge                                                    1
Tropic Thunder  Coconut & Cream                                    1
Flatbread Pizza All Natural                                        1
Name: product_name, Length: 49685, dtype: int64

In [39]:
 top_10 = top_20['product_name'].value_counts().to_frame()
top_10['Times Ordered'] = top_20['product_name'].value_counts()
top_10_Final = top_10.head(10)
top_10_Final = top_10_Final.reset_index()
top_10_Final.columns = ['Item', 'Product ID', 'Total Times Ordered']
top_10_Final.index += 1
top_10_Final

                      Item  Product ID  Total Times Ordered
1                   Banana      491291               491291
2   Bag of Organic Bananas      394930               394930
3     Organic Strawberries      275577               275577
4     Organic Baby Spinach      251705               251705
5     Organic Hass Avocado      220877               220877
6          Organic Avocado      184224               184224
7              Large Lemon      160792               160792
8             Strawberries      149445               149445
9                    Limes      146660               146660
10      Organic Whole Milk      142813               142813

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
flights = sns.load_dataset('flights')

In [0]:
##### YOUR CODE HERE #####

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####