<a href="https://colab.research.google.com/github/llpk79/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/Paul_K_Join_and_Reshape_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [2]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-04-30 21:39:40--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.101.229
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.101.229|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  45.3MB/s    in 4.7s

2019-04-30 21:39:50 (41.4 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [3]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [4]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
!ls -lh *.csv

# Join Datasets

## Goal: Reproduce this example

The first two orders for user id 1:

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [0]:
!ls -lh *.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
!head aisles.csv

In [0]:
!wc aisles.csv

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')
aisles.shape

(134, 2)

In [0]:
aisles.head()

In [0]:
display(example)

Aisles doesn't have any data we need to reproduce the example!

### departments

In [0]:
!head departments.csv

In [0]:
departments = pd.read_csv('departments.csv')
departments.shape

In [0]:
departments

Departments also doesn't have the data we need. Onwards!

### order_products__prior

In [0]:
!ls -lh

In [0]:
!head order_products__prior.csv

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')
order_products__prior.shape

In [0]:
!free -m

In [0]:
order_products__prior.head()

In [0]:
order_products__prior.isna().sum()

In [0]:
help(order_products__prior.isna)

In [0]:
order_products__prior.dtypes

In [0]:
dir(order_products__prior)

In [0]:
help(order_products__prior.groupby)

In [0]:
order_products__prior.groupby('order_id')['product_id'].count()

In [0]:
order_products__prior.groupby('order_id')['product_id'].count().mean()

In [0]:
display(example)

order_products__prior will help us figure our order id and product id columns, but we still need more.

### order_products__train

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')

In [0]:
order_products__train.shape

In [0]:
order_products__train.head()

order_products__train has the same columns as order_products__prior.

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [0]:
orders.head()

In [0]:
orders.shape

In [0]:
display(example)

orders data will give us:
- user id
- order number
- order dow/hour of day

order id/product id/cart order are in prior. So at this point, all we're missing is product name!

### products

In [0]:
products = pd.read_csv('products.csv')
products.shape

In [0]:
products.head()

And now we have product name, and the gang is all here! Let's put it together.

## Concatenate order_products__prior and order_products__train

In [0]:
order_products__prior.shape

In [0]:
order_products__train.shape

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])
order_products.shape

In [0]:
assert 1 == 1

In [0]:
assert 1 == 0

In [0]:
assert len(order_products) == len(order_products__prior) + len(order_products__train)

In [0]:
help(pd.concat)

In [0]:
order_products['order_id'] == 2539329

In [0]:
condition = order_products['order_id'] == 2539329
order_products[condition]

In [0]:
display(example)

## Get a subset of orders — the first two orders for user id 1

From `orders` dataframe:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
orders.shape

In [0]:
orders[orders['user_id'] == 1]

In [0]:
orders[orders['user_id'] == 1][orders['order_number'] <= 2]

In [0]:
condition = (orders['user_id'] == 1) & (orders['order_number'] <= 2)

columns = ['user_id',
           'order_id',
           'order_number',
           'order_dow',
           'order_hour_of_day']

subset = orders.loc[condition, columns]
subset

In [0]:
display(example)

## Merge dataframes

Merge the subset from `orders` with columns from `order_products`

In [0]:
columns = ['order_id', 'add_to_cart_order', 'product_id']

order_products[columns].head()

In [0]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
# What's in both s1 and s2? 2 and 3
s1.intersection(s2)

In [0]:
merged = pd.merge(subset, order_products[columns],
                  how='inner', on='order_id')
merged

In [0]:
display(example)

In [0]:
subset.shape, order_products.shape, merged.shape

Merge with columns from `products`

In [0]:
products.head()

In [0]:
final = pd.merge(merged, products[['product_id', 'product_name']],
                 how='inner', on='product_id')
final

In [0]:
display(example)

In [0]:
final = final.sort_values(by=['order_number', 'add_to_cart_order'])
final.columns = [column.replace('_', ' ') for column in final]
final

# Reshape Datasets

## Why reshape data?

#### Some libraries prefer data in different formats

For example, the Seaborn data visualization library prefers data in "Tidy" format often (but not always).

> "[Seaborn will be most powerful when your datasets have a particular organization.](https://seaborn.pydata.org/introduction.html#organizing-datasets) This format ia alternately called “long-form” or “tidy” data and is described in detail by Hadley Wickham. The rules can be simply stated:

> - Each variable is a column
- Each observation is a row

> A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

#### Data science is often about putting square pegs in round holes

Here's an inspiring [video clip from _Apollo 13_](https://www.youtube.com/watch?v=ry55--J4_VQ): “Invent a way to put a square peg in a round hole.” It's a good metaphor for data wrangling!

## Hadley Wickham's Examples

From his paper, [Tidy Data](http://vita.had.co.nz/papers/tidy-data.html)

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

"Table 1 provides some data about an imaginary experiment in a format commonly seen in the wild. 

The table has two columns and three rows, and both rows and columns are labelled."

In [0]:
table1

"There are many ways to structure the same underlying data. 

Table 2 shows the same data as Table 1, but the rows and columns have been transposed. The data is the same, but the layout is different."

In [0]:
table2

"Table 3 reorganises Table 1 to make the values, variables and obserations more clear.

Table 3 is the tidy version of Table 1. Each row represents an observation, the result of one treatment on one person, and each column is a variable."

| name         | trt | result |
|--------------|-----|--------|
| John Smith   | a   | -      |
| Jane Doe     | a   | 16     |
| Mary Johnson | a   | 3      |
| John Smith   | b   | 2      |
| Jane Doe     | b   | 11     |
| Mary Johnson | b   | 1      |

## Table 1 --> Tidy

We can use the pandas `melt` function to reshape Table 1 into Tidy format.

In [0]:
table1.columns.tolist()

In [0]:
table1.index

In [0]:
tidy = table1.reset_index().melt(id_vars='index')

tidy = tidy.rename(columns={
    'index': 'name', 
    'variable': 'trt', 
    'value': 'result'
})

tidy['trt'] = tidy['trt'].str.replace('treatment', '')

tidy.set_index('name')

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html

In [0]:
# We can replace values in a dataframe
tidy['trt'].replace('a', 0).replace('b', 1)

In [0]:
# Can also do this with a mapping dictionary
tidy['trt'].map({'a': 0, 'b': 1})

In [0]:
# Can also use astype
(tidy['trt'] == 'b').astype(int)

In [0]:
# Or can use a lambda - overkill here, but useful for flexibility
tidy['trt'].apply(lambda x: ord(x) - ord('a'))

## Table 2 --> Tidy

In [0]:
tidy2 = table2.reset_index()
tidy2 = tidy2.melt(id_vars='index')

In [0]:
tidy2 = tidy2.rename(columns={'index': 'trt', 'variable': 'name', 'value': 'result'})
tidy2['trt'] = tidy2['trt'].str.replace('treatment', '')
tidy2

## Tidy --> Table 1

The `pivot_table` function is the inverse of `melt`.

In [0]:
table1

In [0]:
tidy

In [0]:
tidy.pivot_table(index='name', columns='trt', values='result')

## Tidy --> Table 2

In [0]:
tidy2.pivot_table(index='trt', columns='name', values='result')

# Seaborn example

The rules can be simply stated:

- Each variable is a column
- Each observation is a row

A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

In [0]:
sns.catplot(x='trt', y='result', col='name', 
            kind='bar', data=tidy, height=2);

## Now with Instacart data

In [0]:
products = pd.read_csv('products.csv')

order_products = pd.concat([pd.read_csv('order_products__prior.csv'), 
                            pd.read_csv('order_products__train.csv')])

orders = pd.read_csv('orders.csv')

## Goal: Reproduce part of this example

Instead of a plot with 50 products, we'll just do two — the first products from each list
- Half And Half Ultra Pasteurized
- Half Baked Frozen Yogurt

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*wKfV6OV-_1Ipwrl7AjjSuw.png'
example = Image(url=url, width=600)

display(example)

So, given a `product_name` we need to calculate its `order_hour_of_day` pattern.

## Subset and Merge

One challenge of performing a merge on this data is that the `products` and `orders` datasets do not have any common columns that we can merge on. Due to this we will have to use the `order_products` dataset to provide the columns that we will use to perform the merge.

In [0]:
product_names = ['Half Baked Frozen Yogurt', 'Half And Half Ultra Pasteurized']

In [0]:
products.columns.tolist()

In [0]:
orders.columns.tolist()

In [0]:
order_products.columns.tolist()

In [0]:
merged = (products[['product_id', 'product_name']]
          .merge(order_products[['order_id', 'product_id']])
          .merge(orders[['order_id', 'order_hour_of_day']]))

In [0]:
products.shape, order_products.shape, orders.shape, merged.shape

In [0]:
merged.head()

In [0]:
# What conditon will filter `merged` to just the 2 products
# that we care about?

# This is equivalent ...

condition = ((merged['product_name']=='Half Baked Frozen Yogurt') |
             (merged['product_name']=='Half And Half Ultra Pasteurized'))

# ... to this:

product_names = ['Half Baked Frozen Yogurt', 'Half And Half Ultra Pasteurized']

condition = merged['product_name'].isin(product_names)

subset = merged[condition]
subset.sample(n=5)

In [0]:
subset.shape

## 4 ways to reshape and plot

### 1. value_counts

In [0]:
froyo = subset[subset['product_name']=='Half Baked Frozen Yogurt']
cream = subset[subset['product_name']=='Half And Half Ultra Pasteurized']

In [0]:
(cream['order_hour_of_day']
 .value_counts(normalize=True)
 .sort_index()
 .plot())

(froyo['order_hour_of_day']
 .value_counts(normalize=True)
 .sort_index()
 .plot());

### 2. crosstab

In [0]:
pd.crosstab(subset['order_hour_of_day'], 
            subset['product_name'])

In [0]:
(pd.crosstab(subset['order_hour_of_day'], 
             subset['product_name'], 
             normalize='columns') * 100).plot();

### 3. Pivot Table

In [0]:
subset.pivot_table(index='order_hour_of_day', 
                   columns='product_name', 
                   values='order_id', 
                   aggfunc=len).plot();

### 4. melt

In [0]:
table = pd.crosstab(subset['order_hour_of_day'], 
                    subset['product_name'], 
                    normalize=True)

melted = (table
 .reset_index()
 .melt(id_vars='order_hour_of_day')
 .rename(columns={
     'order_hour_of_day': 'Hour of Day Ordered', 
     'product_name': 'Product', 
     'value': 'Percent of Orders by Product'
 }))

sns.relplot(x='Hour of Day Ordered', 
            y='Percent of Orders by Product', 
            hue='Product', 
            data=melted, 
            kind='line');

In [0]:
display(example)

# Assignment

## Join Data Section

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
orders.head()

In [0]:
order_products.head()

In [0]:
products.head()

In [0]:
# Merge the product id and product names from order_products and products.
merged = pd.merge(order_products['product_id'], products[['product_name', 'product_id']], how='inner', on='product_id')
# I just grabbed the list from the text above and formatted with ''.
popular = ['Banana',
           'Bag of Organic Bananas',
           'Organic Strawberries',
           'Organic Baby Spinach',
           'Organic Hass Avocado',
           'Organic Avocado',
           'Large Lemon',
           'Strawberries',
           'Limes',
           'Organic Whole Milk']
# Add product name and sum of products matching the name to a dict.
counts = {product: sum(merged['product_name'] == product) for product in popular}
counts

In [0]:
flights = sns.load_dataset('flights')

In [0]:
flights.head()

Load seaborn's flights dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
flight_p = flights.pivot_table(index='year', columns='month', values='passengers')
flight_p

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [0]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
# Choose columns to merge.
order_columns = ['order_id', 'order_hour_of_day']
order_product_columns = ['order_id', 'product_id']
product_columns = ['product_id', 'product_name']

In [24]:
# Merge columns to one dataframe with 'order_id', 'order_hour_of_day', 'product_id' and 'product_name'.
merge = pd.merge(orders[order_columns], order_products[order_product_columns], how='inner', on='order_id')
merge = pd.merge(merge, products[product_columns], how='inner', on='product_id')
merge.head()

   order_id  order_hour_of_day  product_id product_name
0   2539329                  8         196         Soda
1   2398795                  7         196         Soda
2    473747                 12         196         Soda
3   2254736                  7         196         Soda
4    431534                 15         196         Soda

In [0]:
# Get number of sales for each item and average time each item was sold.
product_sales = merge['product_name'].value_counts()
product_times = merge.groupby('product_name').order_hour_of_day.mean()

In [0]:
# Reset indexes for merging.
product_sales = product_sales.reset_index()
product_times = product_times.reset_index()

In [0]:
# Change column names for merging and clarity.
product_sales.columns = ['product_name', 'total_sales']
product_times.columns = ['product_name', 'ave_time']

In [0]:
# Merge frames on product name.
sale_times = pd.merge(product_sales, product_times, how='inner', on='product_name')

In [31]:
sale_times.head()

             product_name  total_sales   ave_time
0                  Banana       491291  13.393433
1  Bag of Organic Bananas       394930  13.376434
2    Organic Strawberries       275577  13.467223
3    Organic Baby Spinach       251705  13.465795
4    Organic Hass Avocado       220877  13.482585

In [0]:
# Filter for popular items.
pop_sale_times = sale_times[pop_sale_times['total_sales'] > 2900]

In [0]:
# Sort by average time purchased.
pop_sale_times_sort = pop_sale_times.sort_values(by=['ave_time'], ascending=False)

In [62]:
# And there you have it.
pop_sale_times_sort.head(25)

                                      product_name  total_sales   ave_time
1985                      Half Baked Frozen Yogurt         2983  14.526986
1891                  The Tonight Dough™ Ice Cream         3137  14.526299
878                     Americone Dream® Ice Cream         6447  14.394912
914                          Half Baked® Ice Cream         6222  14.388942
1870                         Phish Food® Ice Cream         3177  14.373308
1093                    Milk and Cookies Ice Cream         5223  14.369711
1887                            Sicilian Pistachio         3146  14.306421
1296            Chocolate Peanut Butter Cup Gelato         4511  14.303480
1037                 Birthday Cake Light Ice Cream         5462  14.292018
1300                       Cherry Garcia Ice Cream         4495  14.270300
884                           Strawberry Ice Cream         6409  14.268841
1130                  Vanilla Bean Light Ice Cream         5096  14.257849
1501                              Coffee Ice Cream         3941  14.256280
1867                      Roman Raspberry Sorbetto         3179  14.248191
713                      Mediterranean Mint Gelato         7656  14.233542
988                   Caramel Cookie Crunch Gelato         5717  14.224069
617          Chocolate Chip Cookie Dough Ice Cream         8555  14.204325
960                                      Mint Chip         5871  14.189235
1719      Coconut Almond Minis Frozen Dessert Bars         3460  14.156069
1664                 Mint Chocolate Chip Ice Cream         3578  14.134992
1630             Chocolate Peanut Butter Ice Cream         3653  14.120449
1376  Vanilla Milk Chocolate Almond Ice Cream Bars         4290  14.104662
798                        Sea Salt Caramel Gelato         6973  14.083895
1259                        Vanilla Bean Ice Cream         4644  14.039406
1535                  Rising Crust Pepperoni Pizza         3863  14.027699