<a href="https://colab.research.google.com/github/macscheffer/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/module2-join-datasets/LS_DS_122_Join_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [5]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-01-15 20:48:31--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.0.53
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.0.53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  89.8MB/s    in 2.2s

2019-01-15 20:48:33 (89.8 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [6]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [7]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [8]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [9]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [10]:
import pandas as pd
aisles = pd.read_csv('aisles.csv') 
aisles.shape

(134, 2)

In [11]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [12]:
display(example)

In [13]:
list(aisles.columns)

['aisle_id', 'aisle']

### departments

In [14]:
departments = pd.read_csv('departments.csv')
departments.shape

(21, 2)

In [15]:
departments.sample(n=2)

    department_id department
20             21    missing
12             13     pantry

In [16]:
display(example)

### order_products__prior

In [0]:
order_products_prior = pd.read_csv('order_products__prior.csv')

In [18]:
order_products_prior.shape

(32434489, 4)

In [19]:
order_products_prior.head(3) # note we're going to need the order_id, product_id, add_to_cart_order

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0

### order_products__train

In [0]:
order_products_train = pd.read_csv('order_products__train.csv')

In [21]:
order_products_train.shape

(1384617, 4)

In [22]:
order_products_train.head() # going to need product_id, order_id, and add_to_cart_order

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [24]:
orders.shape

(3421083, 7)

In [25]:
orders.head() # going to need order_hour_of_day, order_id, user id

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

### products

In [0]:
products = pd.read_csv('products.csv')

In [27]:
products.shape

(49688, 4)

In [28]:
products.head() # we are going to need product_id, then we can look to add descriptions to the aisle and department ids from those dfs.

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products_prior, order_products_train])

## Get a subset of orders — the first two orders for user id 1

In [30]:
order_products_prior.shape, order_products_train.shape, order_products.shape

((32434489, 4), (1384617, 4), (33819106, 4))

In [0]:
assert len(order_products) == len(order_products_prior) + len(order_products_train)

In [32]:
rows, columns = order_products.shape  # tuple unpacking

columns

4

## Merge dataframes

In [0]:
condition = (orders.user_id==1) & (orders.order_number <= 2)

cols = ['user_id', # 206209
        'order_id', # 3421083 unique order ids
        'order_number', # 100 unique order numbers
        'order_dow', # 0-6
        'order_hour_of_day'] # 0 - 23

subset = orders.loc[condition,cols]

In [0]:
cols = ['order_id', 'add_to_cart_order', 'product_id']
merged = pd.merge(subset,order_products[cols])

In [35]:
len(orders.user_id.unique())

206209

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [36]:
display(example)

In [37]:
list(aisles.columns)

['aisle_id', 'aisle']

In [38]:
list(departments.columns)

['department_id', 'department']

In [39]:
list(order_products)# need the first 3 columns here

['order_id', 'product_id', 'add_to_cart_order', 'reordered']

In [40]:
list(orders)

['order_id',
 'user_id',
 'eval_set',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [41]:
list(products)

['product_id', 'product_name', 'aisle_id', 'department_id']

In [0]:
cols = ['order_id', 'product_id', 'add_to_cart_order']
new_df = pd.merge(orders, order_products[cols])

In [43]:
list(new_df) # now wejust need the 'product_name'

['order_id',
 'user_id',
 'eval_set',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order',
 'product_id',
 'add_to_cart_order']

In [44]:
new_df.shape

(33819106, 9)

In [0]:
df = pd.merge(new_df, products[['product_id','product_name']])

In [47]:
df.shape

(33819106, 10)

In [0]:
df.sort_values(by='order_number')