_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [3]:
#Includes Here
from os import listdir
from os.path import isfile, join
import pandas as pd
import numpy as np

In [11]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 11:48:13--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.32.171
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.32.171|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  11.3MB/s    in 17s

2019-03-26 11:48:31 (11.2 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [3]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [5]:
%cd instacart_2017_05_01

/home/jmurphy/git/DS-Unit-1-Sprint-2-Data-Wrangling/module2-join-datasets/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [5]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [13]:
!ls -lh

total 877M
-rw-r--r--. 1 jmurphy jmurphy 2.6K May  2  2017 aisles.csv
-rw-r--r--. 1 jmurphy jmurphy  270 May  2  2017 departments.csv
-rw-rw-r--. 1 jmurphy jmurphy 197M Oct 19  2017 instacart_online_grocery_shopping_2017_05_01.tar.gz
-rw-r--r--. 1 jmurphy jmurphy 551M May  2  2017 order_products__prior.csv
-rw-r--r--. 1 jmurphy jmurphy  24M May  2  2017 order_products__train.csv
-rw-r--r--. 1 jmurphy jmurphy 104M May  2  2017 orders.csv
-rw-r--r--. 1 jmurphy jmurphy 2.1M May  2  2017 products.csv

In [14]:
onlyfiles = [f for f in listdir('./') if isfile(join('./', f))]
print(onlyfiles)
onlynormalfiles = [x for x in onlyfiles if x[0] != '.']

print(onlynormalfiles)

['._products.csv', 'order_products__train.csv', '._aisles.csv', '._order_products__train.csv', 'order_products__prior.csv', 'orders.csv', '._orders.csv', 'products.csv', 'aisles.csv', '._departments.csv', 'instacart_online_grocery_shopping_2017_05_01.tar.gz', '._order_products__prior.csv', 'departments.csv']
['order_products__train.csv', 'order_products__prior.csv', 'orders.csv', 'products.csv', 'aisles.csv', 'instacart_online_grocery_shopping_2017_05_01.tar.gz', 'departments.csv']

In [15]:
csvfiles = []
data = pd.DataFrame()

#for x in onlynormalfiles:
#    f = pd.read_csv(x)
    
    
data = pd.join([pd.read_csv(x) for x in onlynormalfiles])
print(data.head(5))
print(data)

AttributeError: module 'pandas' has no attribute 'join'

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [6]:
aisles_df = pd.read_csv('aisles.csv')
print(aisles_df.shape)
print(aisles_df.head(5))

(134, 2)
   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

### departments

In [7]:
departments_df = pd.read_csv('departments.csv')
print(departments_df.shape)
print(departments_df.head(5))

(21, 2)
   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

### order_products__prior

In [8]:
order_products_prior_df = pd.read_csv('order_products__prior.csv')
print(order_products_prior_df.shape)
print(order_products_prior_df.head(5))

(32434489, 4)
   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### order_products__train

In [9]:
order_products__train_df = pd.read_csv('order_products__train.csv')
print(order_products__train_df.shape)
print(order_products__train_df.head(5))

(1384617, 4)
   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### orders

In [10]:
orders_df = pd.read_csv('orders.csv')
print(orders_df.shape)
print(orders_df.head(5))

(3421083, 7)
   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0

### products

In [11]:
products_df = pd.read_csv('products.csv')
print(products_df.shape)
print(products_df.head(5))

(49688, 4)
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13

## Concatenate order_products__prior and order_products__train

In [12]:
ex_order_df = pd.concat([order_products_prior_df, order_products__train_df])
print(ex_order_df.head(5))

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## Get a subset of orders — the first two orders for user id 1

In [13]:
subset_orders_uid1_df = orders_df.loc[orders_df['user_id'] == 1]
print(subset_orders_uid1_df.head(2))

   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7

   days_since_prior_order
0                     NaN
1                    15.0

## Merge dataframes

Need Features
- user_id
- order id
- order number
- order dow
- order hour of day
- add to cart order
- product id
- product name

:, df1.loc['a'] > 0]

In [44]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
order_id                  int64
user_id                   int64
eval_set                  object
order_number              int64
order_dow                 int64
order_hour_of_day         int64
days_since_prior_order    float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [55]:
same_output_df = orders_df[['user_id', 'order_id', 'order_number','order_dow', 'order_hour_of_day']]
same_output_df.head(5)

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7
2        1    473747             3          3                 12
3        1   2254736             4          4                  7
4        1    431534             5          4                 15

In [56]:
same_output_df = same_output_df.merge(ex_order_df, on='order_id')

In [57]:
same_output_df.head()

,user_id,order_id,order_number,order_dow,order_hour_of_day,product_id,add_to_cart_order,reordered
0,1,2539329,1,2,8,196,1,0
1,1,2539329,1,2,8,14084,2,0
2,1,2539329,1,2,8,12427,3,0
3,1,2539329,1,2,8,26088,4,0
4,1,2539329,1,2,8,26405,5,0

In [59]:
same_output_df = same_output_df.loc[same_output_df['order_number'] <= 2]

In [64]:
same_output_df = same_output_df.loc[same_output_df['user_id'] == 1]

In [68]:
same_output_df.drop('reordered', axis=1)

,user_id,order_id,order_number,order_dow,order_hour_of_day,product_id,add_to_cart_order
0,1,2539329,1,2,8,196,1
1,1,2539329,1,2,8,14084,2
2,1,2539329,1,2,8,12427,3
3,1,2539329,1,2,8,26088,4
4,1,2539329,1,2,8,26405,5
5,1,2398795,2,3,7,196,1
6,1,2398795,2,3,7,10258,2
7,1,2398795,2,3,7,12427,3
8,1,2398795,2,3,7,13176,4
9,1,2398795,2,3,7,26088,5
10,1,2398795,2,3,7,13032,6

In [69]:
same_output_df.head(20)

,user_id,order_id,order_number,order_dow,order_hour_of_day,product_id,add_to_cart_order,reordered
0,1,2539329,1,2,8,196,1,0
1,1,2539329,1,2,8,14084,2,0
2,1,2539329,1,2,8,12427,3,0
3,1,2539329,1,2,8,26088,4,0
4,1,2539329,1,2,8,26405,5,0
5,1,2398795,2,3,7,196,1,1
6,1,2398795,2,3,7,10258,2,0
7,1,2398795,2,3,7,12427,3,1
8,1,2398795,2,3,7,13176,4,0
9,1,2398795,2,3,7,26088,5,1
10,1,2398795,2,3,7,13032,6,0

In [70]:
same_output_df = same_output_df.merge(products_df[['product_id', 'product_name']], on='product_id')

In [72]:
print(same_output_df)

    user_id  order_id  order_number  order_dow  order_hour_of_day  product_id  \
0         1   2539329             1          2                  8         196
1         1   2398795             2          3                  7         196
2         1   2539329             1          2                  8       14084
3         1   2539329             1          2                  8       12427
4         1   2398795             2          3                  7       12427
5         1   2539329             1          2                  8       26088
6         1   2398795             2          3                  7       26088
7         1   2539329             1          2                  8       26405
8         1   2398795             2          3                  7       10258
9         1   2398795             2          3                  7       13176
10        1   2398795             2          3                  7       13032

    add_to_cart_order  reordered                             product_name
0                   1          0                                     Soda
1                   1          1                                     Soda
2                   2          0  Organic Unsweetened Vanilla Almond Milk
3                   3          0                      Original Beef Jerky
4                   3          1                      Original Beef Jerky
5                   4          0               Aged White Cheddar Popcorn
6                   5          1               Aged White Cheddar Popcorn
7                   5          0         XL Pick-A-Size Paper Towel Rolls
8                   2          0                               Pistachios
9                   4          0                   Bag of Organic Bananas
10                  6          0                    Cinnamon Toast Crunch

In [73]:
same_output_df.drop('reordered', axis=1)

,user_id,order_id,order_number,order_dow,order_hour_of_day,product_id,add_to_cart_order,product_name
0,1,2539329,1,2,8,196,1,Soda
1,1,2398795,2,3,7,196,1,Soda
2,1,2539329,1,2,8,14084,2,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,12427,3,Original Beef Jerky
4,1,2398795,2,3,7,12427,3,Original Beef Jerky
5,1,2539329,1,2,8,26088,4,Aged White Cheddar Popcorn
6,1,2398795,2,3,7,26088,5,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,26405,5,XL Pick-A-Size Paper Towel Rolls
8,1,2398795,2,3,7,10258,2,Pistachios
9,1,2398795,2,3,7,13176,4,Bag of Organic Bananas
10,1,2398795,2,3,7,13032,6,Cinnamon Toast Crunch

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [ ]:
# Add thislater will be interesting to see trends. orders_df
#products_df
#ex_order_df

In [74]:
lookup = [
    'Banana'
    'Bag of Organic Bananas'
    'Organic Strawberries'
    'Organic Baby Spinach'
    'Organic Hass Avocado'
    'Organic Avocado'
    'Large Lemon'
    'Strawberries'
    'Limes'
    'Organic Whole Milk'
]

In [81]:
assign_df = ex_order_df.merge(products_df, on='product_id')
assign_df = assign_df.merge(orders_df, on='order_id')

In [78]:
assign_df['product_name'].value_counts().head(10)

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

top 25 products ordered after Noon in the assign_df dataframe.

select order hour of the day > 12
result_dataset['product_name'].valuecounts.head(25)

Will need to calculate the percent of orders by product at each hour of the day for every product.
for each hour calculate the total number of items bought in that hour
for each set calculate the percentage of each item purchased in that hour.

In [80]:
assign_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 0 to 33819105
Data columns (total 7 columns):
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
product_name         object
aisle_id             int64
department_id        int64
dtypes: int64(6), object(1)
memory usage: 2.0+ GB

In [108]:
stretch_df = assign_df.loc[assign_df['order_hour_of_day'] >= 12]
product_id_df = products_df['product_id']

In [88]:
#stretch_df['product_name'].value_counts()
#It is easier for me now to cut and paste these as there are only 24, if there were hundreds, I would apply list comprehensions

hour0 = assign_df.loc[assign_df['order_hour_of_day'] == 0]

hour1 = assign_df.loc[assign_df['order_hour_of_day'] == 1]

hour2 = assign_df.loc[assign_df['order_hour_of_day'] == 2]

hour3 = assign_df.loc[assign_df['order_hour_of_day'] == 3]

hour4 = assign_df.loc[assign_df['order_hour_of_day'] == 4]

hour5 = assign_df.loc[assign_df['order_hour_of_day'] == 5]

hour6 = assign_df.loc[assign_df['order_hour_of_day'] == 6]

hour7 = assign_df.loc[assign_df['order_hour_of_day'] == 7]

hour8 = assign_df.loc[assign_df['order_hour_of_day'] == 8]

hour9 = assign_df.loc[assign_df['order_hour_of_day'] == 9]

hour10 = assign_df.loc[assign_df['order_hour_of_day'] == 10]

hour11 = assign_df.loc[assign_df['order_hour_of_day'] == 11]

hour12 = assign_df.loc[assign_df['order_hour_of_day'] == 12]

hour13 = assign_df.loc[assign_df['order_hour_of_day'] == 13]

hour14 = assign_df.loc[assign_df['order_hour_of_day'] == 14]

hour15 = assign_df.loc[assign_df['order_hour_of_day'] == 15]

hour16 = assign_df.loc[assign_df['order_hour_of_day'] == 16]

hour17 = assign_df.loc[assign_df['order_hour_of_day'] == 17]

hour18 = assign_df.loc[assign_df['order_hour_of_day'] == 18]

hour19 = assign_df.loc[assign_df['order_hour_of_day'] == 19]

hour20 = assign_df.loc[assign_df['order_hour_of_day'] == 20]

hour21 = assign_df.loc[assign_df['order_hour_of_day'] == 21]

hour22 = assign_df.loc[assign_df['order_hour_of_day'] == 22]

hour23 = assign_df.loc[assign_df['order_hour_of_day'] == 23]

for each type of product in the above DF's calculate percentages.

I have to get list of the product names that are in each hour,
find that.

In [94]:
hour1_percent = [hour1[x] for x in (hour1['product_name'].unique())]

(72660, 13)

In [105]:
hour1['product_name'].unique()
type(hour1['product_name'].value_counts())

pandas.core.series.Series

for each product in product_id_df create 24 columns with percentages of that product ordered at that time, if #products purchased that hour return 0.

In [112]:
hour1

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
514,5812,33120,4,0,Organic Egg Whites,86,16,78567,prior,2,1,1,13.0
515,5812,2361,2,1,Mint Chip,37,1,78567,prior,2,1,1,13.0
516,5812,43295,1,0,Unsweetened Vanilla Almond Milk,91,16,78567,prior,2,1,1,13.0
517,5812,40002,3,0,Strawberry Ice Cream,37,1,78567,prior,2,1,1,13.0
5382,60801,33120,5,0,Organic Egg Whites,86,16,67394,prior,2,5,1,30.0
5383,60801,21903,4,1,Organic Baby Spinach,123,4,67394,prior,2,5,1,30.0
5384,60801,8277,11,1,Apple Honeycrisp Organic,24,4,67394,prior,2,5,1,30.0
5385,60801,16521,18,1,Walnut Halves & Pieces,117,19,67394,prior,2,5,1,30.0
5386,60801,22124,14,1,Total 0% Raspberry Yogurt,120,16,67394,prior,2,5,1,30.0
5387,60801,10305,8,0,Black Plum,24,4,67394,prior,2,5,1,30.0
5388,60801,29941,9,0,Red Plums,24,4,67394,prior,2,5,1,30.0
5389,60801,32864,3,1,Organic Baby Rainbow Carrots,123,4,67394,prior,2,5,1,30.0
5390,60801,33846,2,0,Roasted Garlic Hummus,67,20,67394,prior,2,5,1,30.0
5391,60801,32465,6,0,Sliced White Mushrooms,123,4,67394,prior,2,5,1,30.0
5392,60801,22829,13,1,Multigrain Flax Seeded Flatbread Crackers,78,19,67394,prior,2,5,1,30.0
5393,60801,18926,16,1,Fat Free Strawberry Yogurt,120,16,67394,prior,2,5,1,30.0
5394,60801,48034,12,0,Peppered Turkey Jerky,23,19,67394,prior,2,5,1,30.0
5395,60801,42710,15,1,Organic Nonfat Greek Yogurt With Raspberries,120,16,67394,prior,2,5,1,30.0
5396,60801,32201,17,0,Nonfat Strawberry With Fruit On The Bottom Gre...,120,16,67394,prior,2,5,1,30.0
5397,60801,11087,19,1,Organic Unsweetened Black Tea,94,7,67394,prior,2,5,1,30.0
5398,60801,15153,20,0,Blue Machine Boosted 100% Juice Smoothie,31,7,67394,prior,2,5,1,30.0
5399,60801,43686,1,0,Vamp Kale Chips,107,19,67394,prior,2,5,1,30.0
5400,60801,13720,10,0,Yellow Peach,24,4,67394,prior,2,5,1,30.0
5401,60801,34129,7,1,Kale Blazer,31,7,67394,prior,2,5,1,30.0
5879,65263,33120,1,1,Organic Egg Whites,86,16,138711,prior,51,2,1,0.0
5880,65263,31915,3,1,Organic Red Delicious Apple,24,4,138711,prior,51,2,1,0.0
5881,65263,32655,2,1,Organic Large Grade AA Brown Eggs,86,16,138711,prior,51,2,1,0.0
6641,74744,33120,3,1,Organic Egg Whites,86,16,15993,prior,9,5,1,16.0
6642,74744,4945,1,1,Large Pineapple Chunks,123,4,15993,prior,9,5,1,16.0
6643,74744,7781,2,1,Organic Sticks Low Moisture Part Skim Mozzarel...,21,16,15993,prior,9,5,1,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33812886,2534579,146,1,1,Anti Diarrheal Caplets,70,11,68222,prior,9,1,1,4.0
33812922,3173502,5244,1,1,Devil's Food Cookie Cakes,61,19,196369,prior,35,0,1,15.0
33814784,2499572,35165,1,0,Fusion ProGlide Power Men's Razor Blade Refills,55,11,97892,prior,1,3,1,NaN
33814881,2362191,2273,1,1,Sweet Mint Gum,46,19,111682,prior,30,5,1,14.0
33814898,3096294,48789,1,1,Organic Cranberry Walnut Salad,123,4,51432,prior,59,2,1,2.0
33814912,1883783,17077,1,1,Dry Eye Relief,44,11,5740,prior,6,4,1,3.0
33815194,3318470,7868,1,1,Seaweed Salad,13,20,138608,prior,24,3,1,24.0
33815411,875918,44839,2,0,Moisturizing Sandalwood Shower Gel,25,11,192020,prior,3,5,1,7.0
33815412,875918,41851,1,0,White Gardenia Moisturizing Shower Gel,25,11,192020,prior,3,5,1,7.0
33815469,980157,27699,1,0,Everyone Relax Essential Oils Blend,6,2,197292,prior,1,5,1,NaN
33815470,980157,47745,2,0,Autumn Squash Soup,1,20,197292,prior,1,5,1,NaN
33815471,980157,19738,3,0,Quattro For Women Refill Blades,55,11,197292,prior,1,5,1,NaN
33815507,1286552,42779,1,1,Citrus Champagne Vinegar,19,13,89018,prior,38,0,1,1.0
33815680,3113042,21964,1,0,Eye Makeup Remover,109,11,133942,prior,88,0,1,3.0
33815711,1801348,19672,1,1,Roaster/Baker Pans & Lids,10,17,111625,prior,15,0,1,10.0
33815726,69966,26702,1,0,Permanent Hair Color Brown-Black 2N,22,11,6165,prior,7,6,1,23.0
33816412,1756825,34280,1,0,Purina Beyond Natural Cat Food Grain Free Ocea...,41,8,53019,prior,3,4,1,13.0
33816565,2157080,2906,1,1,Saline Spray/Drops For Noses,11,11,89478,prior,44,3,1,1.0
33816566,2157080,759,2,0,Pain Reliever and Fever Reducer Cherry Infant ...,11,11,89478,prior,44,3,1,1.0
33816603,2866926,13272,1,1,Pickle Pak Kosher Dill Petites,110,13,82703,prior,6,5,1,12.0
33816732,2612679,32801,1,0,Organic Papaya Chunks In Organic Pineapple Juice,99,15,93174,prior,20,2,1,2.0
33816844,1261252,4062,1,0,Green Tulsi Tea,94,7,160077,prior,1,3,1,NaN
33818149,2376936,40455,1,1,5-Day Max Care Powder,70,11,106008,prior,19,3,1,15.0
33818420,1981361,45941,1,1,Sugar Free Dressing Balsamic Vinaigrette,89,13,205980,prior,35,0,1,10.0
33818560,1060421,12582,1,0,ColorStay Eyeliner - Black Brown,132,11,54137,prior,5,0,1,4.0
33818650,2988068,5458,1,0,Soft Optic White Toothbrush + Whitening Pen,20,11,117750,prior,3,3,1,1.0
33818651,2988068,42433,2,0,Spinbrush Truly Radiant Deep Clean Soft Toothb...,20,11,117750,prior,3,3,1,1.0
33818750,3257773,33039,1,0,Intense Relief Hand Cream Tube Body Moisture,127,11,30280,prior,13,2,1,4.0
33818826,487745,2220,1,1,Daily Probiotic Supplement 250 mg Capsules,70,11,67004,prior,3,0,1,1.0
33818847,1379316,10395,1,1,"Kale Chips, Stumptown Original",50,19,65133,prior,3,0,1,2.0

In [133]:
#for prod in product_id_df:
#    if prod in hour1['product_id'].unique():
#        print(prod)

In [120]:
newdf = pd.DataFrame()

In [145]:
hoursdf = pd.DataFrame()
time = pd.Series()

In [129]:
hours_list = ['hour0', 'hour1', 'hour2', 'hour3', 'hour4', 'hour5','hour6', 'hour7', 'hour8', 'hour9', 'hour10', 'hour11', 'hour12']

In [127]:
hoursdf['hour0'] = hour0['product_name'].value_counts()
hoursdf['hour1'] = hour1['product_name'].value_counts()

In [142]:
#[x['product_name'].value_counts() for x in hours_list]

#[hoursdf[x] for x in hours_list]
hoursdf = products_df['product_name']

In [143]:
test = [assign_df.loc[assign_df['order_hour_of_day'] == x] for x in range(0,24)]

In [144]:
hoursdf['hour0'] = test[0]

/home/jmurphy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [153]:
for x in range(0,24):
    time[('hour' + str(x))] = pd.DataFrame(np.array(test[x]))

In [159]:
product_names_in_time = pd.Series()

In [160]:
for x in range(0,24):
    product_names_in_time[('hour' + str(x))] = time[('hour'+ str(x))][4].value_counts()

In [170]:
pd.set_option("display.max_rows", 100000)

In [164]:
product_names_in_time['hour0'].shape

(22743,)

In [172]:
product_names_in_time['hour12']['Banana']

37664

In [174]:
product_names_in_time.to_pickle('product_names_in_time.pkl')