<a href="https://colab.research.google.com/github/bundickm/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/module2-join-datasets/LS_DS_122_Join_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 22:20:12--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.144.21
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.144.21|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.16’

instacart_online_gr 100%[===================>] 196.03M  45.2MB/s    in 4.7s

2019-03-26 22:20:17 (41.5 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.16’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [4]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [5]:
!ls -lh

total 877M
-rw-r--r-- 1  502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1  502 staff  270 May  2  2017 departments.csv
drwxr-xr-x 2  502 staff 4.0K May  2  2017 instacart_2017_05_01
-rw-r--r-- 1 root root  197M Oct 20  2017 instacart_online_grocery_shopping_2017_05_01.tar.gz
-rw-r--r-- 1  502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1  502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1  502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1  502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

In [0]:
import pandas as pd

### aisles

In [7]:
aisles = pd.read_csv('aisles.csv')
print(aisles.shape)
print(aisles.head())
display(example)

(134, 2)
   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

### departments

In [8]:
departments = pd.read_csv('departments.csv')
print(departments.shape)
print(departments.head())
display(example)

(21, 2)
   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

### order_products__prior

In [9]:
order_products_prior = pd.read_csv('order_products__prior.csv')
print(order_products_prior.shape)
print(order_products_prior.head())
display(example)

(32434489, 4)
   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [10]:
order_products_prior.groupby('order_id')['product_id'].count()

order_id
2           9
3           8
4          13
5          26
6           3
7           2
8           1
9          15
10         15
11          5
12         15
13         13
14         11
15          5
16          3
18         28
19          3
20          8
21          5
22         14
23         14
24          3
25         14
26          8
27         27
28         16
29          5
30          3
31         10
32          9
           ..
3421048     8
3421050    13
3421051    31
3421052     2
3421053     9
3421055    19
3421057     5
3421059     6
3421060    17
3421061    22
3421062     7
3421064     3
3421065     5
3421066     6
3421067     1
3421068    14
3421069    12
3421071     5
3421072    12
3421073     2
3421074     4
3421075     8
3421076     8
3421077     4
3421078     9
3421079     1
3421080     9
3421081     7
3421082     7
3421083    10
Name: product_id, Length: 3214874, dtype: int64

### order_products__train

In [11]:
order_products_train = pd.read_csv('order_products__train.csv')
print(order_products_train.shape)
print(order_products_train.head())
display(example)

(1384617, 4)
   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### orders

In [12]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
print(orders.head())
display(example)

(3421083, 7)
   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0

In [13]:
orders['eval_set'].unique()

array(['prior', 'train', 'test'], dtype=object)

### products

In [14]:
products = pd.read_csv('products.csv')
print(products.shape)
print(products.head())
display(example)

(49688, 4)
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13

## Concatenate order_products__prior and order_products__train

In [15]:
order_products = pd.concat([order_products_prior, order_products_train])
print(order_products.shape)
order_products.head()

(33819106, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [16]:
len(order_products) == len(order_products_prior) + len(order_products_train)

True

In [17]:
display(example)

In [18]:
condition = (order_products['order_id'] == 2539329)
order_products[condition]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

## Get a subset of orders — the first two orders for user id 1

In [0]:
condition = (orders['user_id']==1) & (orders['order_number'] <= 2)

columns = ['user_id',
          'order_id',
          'order_number',
          'order_dow',
          'order_hour_of_day']

subset = orders.loc[condition, columns]

In [20]:
display(example)

## Merge dataframes

In [21]:
columns = ['order_id','add_to_cart_order','product_id']
merged = pd.merge(subset, order_products[columns], how='inner', on='order_id')
merged

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id
0,1,2539329,1,2,8,1,196
1,1,2539329,1,2,8,2,14084
2,1,2539329,1,2,8,3,12427
3,1,2539329,1,2,8,4,26088
4,1,2539329,1,2,8,5,26405
5,1,2398795,2,3,7,1,196
6,1,2398795,2,3,7,2,10258
7,1,2398795,2,3,7,3,12427
8,1,2398795,2,3,7,4,13176
9,1,2398795,2,3,7,5,26088
10,1,2398795,2,3,7,6,13032

In [22]:
merged.shape

(11, 7)

In [0]:
final = pd.merge(merged, products[['product_id', 'product_name']], how='inner', on='product_id')

In [24]:
print(final.shape)
final = final.sort_values(by=['order_number', 'add_to_cart_order'])
final

(11, 8)

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id,product_name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
8,1,2398795,2,3,7,2,10258,Pistachios
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

In [25]:
final.columns = [column.replace('_', ' ') for column in final]
final

,user id,order id,order number,order dow,order hour of day,add to cart order,product id,product name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
8,1,2398795,2,3,7,2,10258,Pistachios
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

In [26]:
display(example)

In [27]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [28]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

###1. Write down which columns you need and which dataframes have them.
Have:
* aisles: aisle id, aisle
* departments: department id, department
* order_products_prior: order id, product id, add to cart order, reordered
* order_products_train: order id, product id, add to cart order, reordered
* orders: order id, user id, eval set, order number, order dow, order hod, days since prior order
* products: product id, product name, aisle id, department id

Need:
* order id
* order number
* product id
* product name

From:
* order_products_prior
* order_products_train
* orders
* products

###2. Merge these into a single dataframe.
Merging all datasets so I have one central dataframe to explore. The end product will mean more storage and computing for any 1 problem, but more flexibility over multiple problems.

Combination Order:


1.   concat: order products prior/train
2.   merge: orders and prior/train
3.   merge: super orders and products
4.   merge: super orders and departments
5.   merge: super orders and aisles

In [0]:
#1. concat: order products prior/train
order_products = pd.concat([order_products_prior, order_products_train])

In [0]:
order_sub = orders.drop(columns=['eval_set', 'order_dow'])

In [31]:
order_sub.head()

   order_id  user_id  order_number  order_hour_of_day  days_since_prior_order
0   2539329        1             1                  8                     NaN
1   2398795        1             2                  7                    15.0
2    473747        1             3                 12                    21.0
3   2254736        1             4                  7                    29.0
4    431534        1             5                 15                    28.0

In [0]:
#2. merge: orders and prior/train
order_comb = pd.merge(order_sub, order_products)

In [0]:
products_sub = products.drop(columns=['aisle_id','department_id'])

In [0]:
#3. merge: super orders and products
order_comb = pd.merge(order_comb, products_sub)

In [0]:
#drop product id as it is the numerical dupe of product name
order_comb = order_comb.drop(columns='product_id')

In [0]:
#unfortunately these final two exceed the ram limits and crash

#4. merge: super orders and departments
#order_comb = pd.merge(order_comb, departments)

#5. merge: super orders and aisles
#order_comb = pd.merge(order_comb, aisles)

###3. Use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [37]:
#top ten items
order_comb['product_name'].value_counts()[0:10]

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
early_orders = order_comb[(order_comb['order_hour_of_day'] <= 12)]

In [52]:
early_orders['product_name'].value_counts()

Banana                                                          215571
Bag of Organic Bananas                                          173454
Organic Strawberries                                            118281
Organic Baby Spinach                                            107889
Organic Hass Avocado                                             94030
Organic Avocado                                                  77702
Large Lemon                                                      70041
Strawberries                                                     66564
Organic Raspberries                                              63002
Organic Whole Milk                                               62688
Limes                                                            62607
Organic Yellow Onion                                             50895
Organic Garlic                                                   48324
Organic Zucchini                                                 46531
Organic Blueberries                                              45594
Organic Fuji Apple                                               42684
Cucumber Kirby                                                   41754
Organic Half & Half                                              39534
Apple Honeycrisp Organic                                         39161
Organic Lemon                                                    38938
Seedless Red Grapes                                              38680
Organic Grape Tomatoes                                           37064
Honeycrisp Apple                                                 37039
Sparkling Water Grapefruit                                       35934
Organic Cucumber                                                 35860
Organic Baby Carrots                                             35801
Half & Half                                                      34691
Organic Large Extra Fancy Fuji Apple                             34304
Organic Gala Apples                                              33326
Yellow Onions                                                    32839
                                                                 ...
Hot Fudge Ice Cream Sauce                                            1
Sweet Cherry Lime Ice Cream                                          1
Cocoa Powder, Natural, Sweetened                                     1
Orange Peach Mango Juice                                             1
Organic Kiwi, Banana, & Apple with Super Grain Salba                 1
Classic French Veal Demi Glace                                       1
Lemon Pie                                                            1
3 Blades Shaver                                                      1
Easter Lily Plant                                                    1
Grilled Whitefish & Cheddar Cheese Feast Cat Food                    1
Mini Easter Candy Cane                                               1
Organic Dark Chocolate Chewy Banana Bites                            1
Garlic & Herb Salad Dressing & Recipe Mix                            1
Optic White Platinum Toothpaste White & Radiant Crystal Mint         1
Hibiscus & Cardamom Natural Hand Wash                                1
Honey Peanut Almond Protein Bar                                      1
Gourmet Selects Thai Style Tuna Pouch                                1
Shampoo, Miss Treated, Replenishing, Palmarosa Mint                  1
Chardonnay Carneros                                                  1
Mascarpone Pistachio Caramel Gelato                                  1
Free Ride Hibiscus Fruit Herbal Refresher Kombucha                   1
Red Currant Premium Fruit Spread                                     1
Gluten Free Cafe Black Bean Soup                                     1
Twist of Citrus Vodka                                                1
Max Cola                                                             1
Chicken & Beef Dinner Cat Food                                       1
Spiced Chicken Morocco                                               1
Butter Snaps Bonus Bag                                               1
Sea Salt Caramel                                                     1
VentAire Wide Bottle                                                 1
Name: product_name, Length: 49131, dtype: int64

In [100]:
early_orders.groupby('product_name')['order_hour_of_day']

In [0]:
#early_dic = dict(early_orders.groupby('product_name')['order_id'].count())

In [41]:
"""pop_in_am = {}
for key in early_dic:
  if early_dic[key] > 2900:
    pop_in_am[key] = early_dic[key]

print(pop_in_am)"""

'pop_in_am = {}\nfor key in early_dic:\n  if early_dic[key] > 2900:\n    pop_in_am[key] = early_dic[key]\n\nprint(pop_in_am)'

In [0]:
late_orders = order_comb[order_comb['order_hour_of_day'] > 22]