_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-01-15 09:12:45--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.168.149
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.168.149|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M   764KB/s    in 4m 23s

2019-01-15 09:17:09 (763 KB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip -xvf instacart_online_grocery_shopping_2017_05_01.tar.gz

x instacart_2017_05_01/
x instacart_2017_05_01/._aisles.csv
x instacart_2017_05_01/aisles.csv
x instacart_2017_05_01/._departments.csv
x instacart_2017_05_01/departments.csv
x instacart_2017_05_01/._order_products__prior.csv
x instacart_2017_05_01/order_products__prior.csv
x instacart_2017_05_01/._order_products__train.csv
x instacart_2017_05_01/order_products__train.csv
x instacart_2017_05_01/._orders.csv
x instacart_2017_05_01/orders.csv
x instacart_2017_05_01/._products.csv
x instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/Users/work/.work/src/projects/lambdaschool/unit-1/DS-Unit-1-Sprint-2-Data-Wrangling/module2-join-datasets/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [4]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [8]:
csvs = !ls -lh | awk '{ print $9}' | grep csv
csvs

['aisles.csv',
 'departments.csv',
 'order_products__prior.csv',
 'order_products__train.csv',
 'orders.csv',
 'products.csv']

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

In [9]:
import pandas as pd
import numpy as np
import matplotlib as plt

### aisles

In [12]:
aisels_csv = csvs[0]
aisels = pd.read_csv(aisels_csv)
aisels.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

### departments

In [14]:
departments_csv = csvs[1]
departments = pd.read_csv(departments_csv)
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

### order_products__prior

In [16]:
order_products_prior_csv = csvs[2]
order_products_prior = pd.read_csv(order_products_prior_csv)
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### order_products__train

In [18]:
order_products_train_csv = csvs[3]
order_products_train = pd.read_csv(order_products_train_csv)
order_products_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### orders

In [19]:
orders_csv = csvs[4]
orders = pd.read_csv(orders_csv)
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

### products

In [20]:
products_csv = csvs[5]
products = pd.read_csv(products_csv)
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

## Concatenate order_products__prior and order_products__train

In [33]:
product_orders = pd.concat([order_products_train, order_products_prior])

In [34]:
product_orders.shape, order_products_train.shape, order_products_prior.shape

((33819106, 4), (1384617, 4), (32434489, 4))

## Get a subset of orders — the first two orders for user id 1

In [36]:
orders[orders['user_id'] == 1][:2]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0

## Merge dataframes

In [39]:
product_orders_w_info = product_orders.merge(products, on='product_id')

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [55]:
# To get the top 10 you need to assign the product name to each order id so that we can count
# across all orders. Specifically, we need: product_name, order_id, product_id. I merged these
# in the above code cell

In [51]:
# Top 10!
top_10_products = product_orders_w_info['product_name'].value_counts().sort_values(ascending=False)[:10]
top_10_products

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [154]:
hour_of_day = orders[['order_id', 'order_hour_of_day']]
product_orders = product_orders.merge(hour_of_day)

In [161]:
product_grouped_by_name = product_orders.groupby('product_name')

In [175]:
product_grouped_by_name['order_hour_of_day'].agg(['mean', 'count']).sort_values('mean', ascending=False)

                                                         mean  count
product_name
Lindor Peppermint White Chocolate Truffles          23.000000      1
Berry Sprouted Blend Cereal                         22.000000      1
Sugar Leaf  Stevia and Raw Cane Sugar               22.000000      1
Coconut Cardamom Almond Butter                      21.000000      1
Organic Tom Yum Soup Starter Soup Base              20.666667      3
Organic Honey Bunch Grape Tomatoes                  20.500000      2
Private Stock Cheese Classic Vermont Cheddar        20.500000      4
Milk Chocolate Truffle Brûlée                       20.500000      2
Lightly Breaded Breast Tenders                      20.200000      5
WetJet Floor Mop Starter Kit                        20.200000      5
Organic Ice Cream Birthday Cake                     20.000000      1
Pappardelle Nests Pasta                             20.000000      1
Organic Chocolate Mint Caffeine Free Tea            20.000000      2
1,000 Mg Vitamin C Tangerine Grapefruit Efferve...  20.000000      1
Pumpkin Spice Almond Nog                            20.000000      1
Small Sterile Gauze Pads                            20.000000      3
Fruit Me Up!  Applesauce Pouches                    20.000000      1
Chicken Pot Pie Style Soup                          20.000000      3
Aloo Tikki Indian Bites                             20.000000      2
Lowfat Cherry Lime Supernova Kefir Cultured Mil...  20.000000      1
Calorie Free Thousand Island Dressing               19.666667      3
Cajun Style Red Beans with Seasonings and Veget...  19.666667      6
With Stainlifters Oxi Free Clear Laundry Detergent  19.600000      5
Gentle Scrunchies                                   19.500000      2
Dandelion & Burdock Soda                            19.500000      2
Foaming Hand Soap Kid Watermelon                    19.500000      2
Honey Mustard Spread                                19.333333      3
Tea Tree calming Conditioner  Revitalisant          19.333333      3
Cranberry Apple Crunch Protein Oatmeal              19.333333      3
Acai Organic Freeze-Dried Acai Powder               19.000000      3
...                                                       ...    ...
Turkey Chops                                         7.666667      3
Select Roasted Lamb with Vegetables & Barley Do...   7.500000      2
Chunky SoyNut Butter                                 7.500000      4
1000 Roses Moisturizing Color + Correct Sheer T...   7.428571      7
Chicken Flavored Stuffing Mix                        7.400000      5
Melatonin, 2.5 mg Liquid                             7.400000      5
Cherry Blossom Liquid Hand Soap                      7.333333      6
Hard Candies, Sugar Free, Caramel Apple              7.333333      6
Cherry Flavored Sublingual B-12 Dots 500 mcg         7.333333      3
Free & Gentle Pods Laundry Detergent                 7.333333      3
Hennepin Farmhouse Ale                               7.000000      1
Water With Electrolytes                              7.000000      1
Purely Vanilla Soymilk Non-Dairy Frozen Dessert      7.000000      2
White Wine & Garlic Sauces Skillet Shrimp Scampi     7.000000      2
Multigrain Penne Rigate                              7.000000      1
Fried Rice Seasoning Mix                             7.000000      2
Original Disney Princess Spaghetti Os Cool Shap...   6.666667      3
24 Hr Foam Mousse                                    6.333333      3
Zucchini Chips, Pesto                                6.000000      2
Organe Soda                                          6.000000      3
Vanilla Natural & Artificial Flavor Pudding Snacks   5.750000      4
Parmesan Mashed Potato Seasoning Sauce               5.666667      3
Baby Beets                                           5.500000      2
Organic Fair Trade Orange Infused Dark Chocolat...   5.500000      2
Great Lash Waterproof Mascara - Brownish Black 112   5.400000      5
Cola, Agave                                          5.000000      2
Black Beans & Long Grain Rice                        4.000000      3
Thick 'n Chunky Salsa Mild                           3.000000      1
Anjou Pear Hand Soap                                 1.000000      1
Easter Basket                                        0.000000      1

[49685 rows x 2 columns]