<a href="https://colab.research.google.com/github/dustiny5/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/module2-join-datasets/LS_DS_122_Join_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 23:29:35--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.105.253
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.105.253|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  40.8MB/s    in 5.2s

2019-03-26 23:29:40 (37.6 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [0]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')

In [0]:
aisles.shape

(134, 2)

In [0]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

aisles doesn't have any columns we need

### departments

In [0]:
departments = pd.read_csv('departments.csv')

In [0]:
departments.shape

(21, 2)

In [0]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

departments doesn't have any columns we need

### order_products__prior

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')

In [0]:
order_products__prior.shape

(32434489, 4)

In [0]:
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

order products prior have:  `order id, product id, and add to cart order`

In [0]:
order_products__prior.groupby('order_id')['product_id'].count().mean() # Group by order id and count how many product id for the order id.

10.088883421247614

### order_products__train

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')

In [0]:
order_products__train.shape

(1384617, 4)

In [0]:
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

order products train have: `order id, product id, and add to cart order`

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [0]:
orders.shape

(3421083, 7)

In [0]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

orders have: `order id, user id, order number, order dow, and order hour of day`

### products

In [0]:
products = pd.read_csv('products.csv')

In [0]:
products.shape

(49688, 4)

In [0]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

products id have: `product id and product name`

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])

In [0]:
order_products.shape, order_products__prior.shape, order_products__train.shape

((33819106, 4), (32434489, 4), (1384617, 4))

In [0]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
assert order_products__prior.shape[0] + order_products__train.shape[0] == order_products.shape[0]
#Verify if the concatenation worked
#assert doesn't return an output if true. If false it will return an error

In [0]:
#Check if the number of columns equal each other
assert len(order_products.columns) == len(order_products__prior.columns) == len(order_products__train.columns)

In [0]:
#Tuple unpacking
row, column = order_products.shape

In [0]:
row, column

(33819106, 4)

## Get a subset of orders — the first two orders for user id 1

From `orders` dataframe:
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [0]:
condition = order_products['order_id'] == 2539329
order_products[condition]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

In [0]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [0]:
#Select rows from orders df. Assuming the order_number is ordered
orders[:2]
orders[ orders.index <= 1 ]
orders.iloc[:2]
orders.loc[:1]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0

In [0]:
#Get the first 2 orders with a condition inside the df of orders. More precise it targets order_number 1 and 2
condition = (orders['user_id'] == 1) & (orders['order_number'] <= 2)

orders[condition]

#Will use to reorder the columns to match the example
columns = ['user_id', 'order_id', 'order_number', 'order_dow', 'order_hour_of_day']

#Both does the same
orders[condition][columns]
subset = orders.loc[condition, columns]
subset

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

In [0]:
display(example)

## Merge dataframes

Merge the subset from `orders` with columns from `order_products`

In [0]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [0]:
#Merge data of subset and order_products
columns = ['order_id', 'add_to_cart_order', 'product_id']

merged = pd.merge(subset, order_products[columns], how='inner', on='order_id')

In [0]:
subset.shape, order_products.shape, merged.shape

((2, 5), (33819106, 4), (11, 7))

In [0]:
subset

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

In [0]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
merged

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id
0,1,2539329,1,2,8,1,196
1,1,2539329,1,2,8,2,14084
2,1,2539329,1,2,8,3,12427
3,1,2539329,1,2,8,4,26088
4,1,2539329,1,2,8,5,26405
5,1,2398795,2,3,7,1,196
6,1,2398795,2,3,7,2,10258
7,1,2398795,2,3,7,3,12427
8,1,2398795,2,3,7,4,13176
9,1,2398795,2,3,7,5,26088
10,1,2398795,2,3,7,6,13032

In [0]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [0]:
columns = ['product_id', 'product_name']
final = pd.merge(merged, products[columns])

In [0]:
merged.shape, final.shape

((11, 7), (11, 8))

In [0]:
final.sort_values(by=['order_number', 'add_to_cart_order'])

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id,product_name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
8,1,2398795,2,3,7,2,10258,Pistachios
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

In [0]:
#Loop over column in the final df and save to the columns of final
final.columns = [column.replace('_', ' ') for column in final]
final

,user id,order id,order number,order dow,order hour of day,add to cart order,product id,product name
0,1,2539329,1,2,8,1,196,Soda
1,1,2398795,2,3,7,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
8,1,2398795,2,3,7,2,10258,Pistachios
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

### **Columns Needed:** 
- `add to cart order`
- `product name` 
- `product id`

In [0]:
import pandas as pd

In [0]:
#Load and save data
orders = pd.read_csv('orders.csv')
order_products__prior = pd.read_csv('order_products__prior.csv')
order_products__train = pd.read_csv('order_products__train.csv')
products = pd.read_csv('products.csv')

In [0]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [0]:
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [6]:
#Concat order_ordered products
order_products = pd.concat([order_products__prior, order_products__train])
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

order_products contain 'add_to_cart_order'

In [0]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

products contain product_name and product_id

In [7]:
#Merge df of order_products and products. Merged on product id
merge_products = pd.merge(order_products, products[['product_id','product_name']])
merge_products.columns = [columns.replace('_', ' ') for columns in merge_products.columns]
merge_products.head(20)

    order id  product id  add to cart order  reordered        product name
0          2       33120                  1          1  Organic Egg Whites
1         26       33120                  5          0  Organic Egg Whites
2        120       33120                 13          0  Organic Egg Whites
3        327       33120                  5          1  Organic Egg Whites
4        390       33120                 28          1  Organic Egg Whites
5        537       33120                  2          1  Organic Egg Whites
6        582       33120                  7          1  Organic Egg Whites
7        608       33120                  5          1  Organic Egg Whites
8        623       33120                  1          1  Organic Egg Whites
9        689       33120                  4          1  Organic Egg Whites
10       726       33120                  3          1  Organic Egg Whites
11       771       33120                 29          1  Organic Egg Whites
12       800       33120                  3          1  Organic Egg Whites
13       901       33120                  3          1  Organic Egg Whites
14      1005       33120                  5          1  Organic Egg Whites
15      1097       33120                 14          1  Organic Egg Whites
16      1193       33120                  5          1  Organic Egg Whites
17      1300       33120                  1          1  Organic Egg Whites
18      1887       33120                  6          1  Organic Egg Whites
19      2082       33120                 20          0  Organic Egg Whites

In [9]:
merge_products['product name'].value_counts()[:10]

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product name, dtype: int64

In [0]:
'''TEST
#Get the total order
merge_products['total_order'] = merge_products['add_to_cart_order'] + merge_products['add_to_cart_order'] * merge_products['reordered']
merge_products.head()
merge_products.drop(columns={'total_order'})
'''

In [0]:
#Group by name and get the sum of add to cart order for each product name
final = merge_products.groupby('product name')['add to cart order'].sum()

#Convert to a dataframe
final = pd.DataFrame(final)

final = final.sort_values(by='add to cart order', ascending=False)

final.head(10)

#Not getting the correct top 10 and not sure why. Probably, more data other than add to cart order?

                        add to cart order
product name
Banana                            2405664
Bag of Organic Bananas            2007396
Organic Strawberries              2005999
Organic Baby Spinach              1870623
Organic Hass Avocado              1497887
Large Lemon                       1279007
Limes                             1261016
Organic Avocado                   1187054
Strawberries                      1065577
Organic Raspberries               1031044

###Challenge
- orders ( order hour of day)
- add to cart order
- product name
- product id
- order products (prioir + train)

In [0]:
merge_products2 = pd.merge(merge_products, orders[['order_id','order_hour_of_day']], 
                           left_on='order id', right_on='order_id').drop('order_id', axis=1)
merge_products2.head()

,order id,product id,add to cart order,reordered,product name,order_hour_of_day
0,2,33120,1,1,Organic Egg Whites,9
1,2,28985,2,1,Michigan Organic Kale,9
2,2,9327,3,0,Garlic Powder,9
3,2,45918,4,1,Coconut Butter,9
4,2,30035,5,0,Natural Sweetener,9

In [0]:
final2 = merge_products2[['add to cart order', 'product name', 'order_hour_of_day']]
final2.head()

   add to cart order           product name  order_hour_of_day
0                  1     Organic Egg Whites                  9
1                  2  Michigan Organic Kale                  9
2                  3          Garlic Powder                  9
3                  4         Coconut Butter                  9
4                  5      Natural Sweetener                  9

In [0]:
#Bin the time of day
final2_bins = pd.cut(final2['order_hour_of_day'], len(final2['order_hour_of_day'].unique()))

In [0]:
#Group by hour of the day followed by the product name.
final2 = final2.groupby(['order_hour_of_day', 'product name'])['add to cart order'].sum()
final2 = pd.DataFrame(final2)
final2

                                                                      add to cart order
order_hour_of_day product name
0                 #2 Coffee Filters                                                  34
                  #4 Natural Brown Coffee Filters                                    12
                  (70% Juice!) Mountain Raspberry Juice Squeeze                       5
                  .5\" Waterproof Tape                                                8
                  0 Calorie Acai Raspberry Water Beverage                            16
                  0 Calorie Strawberry Dragonfruit Water Beverage                     2
                  0% Fat Black Cherry Greek Yogurt y                                 24
                  0% Fat Blueberry Greek Yogurt                                      36
                  0% Fat Free Organic Milk                                          160
                  0% Fat Greek Yogurt Black Cherry on the Bottom                     19
                  0% Fat Organic Greek Vanilla Yogurt                                53
                  0% Fat Strawberry Greek Yogurt                                     48
                  0% Fat Superfruits Greek Yogurt                                    32
                  0% Greek Strained Yogurt                                          169
                  0% Greek Yogurt Black Cherry on the Bottom                         36
                  0% Greek, Blueberry on the Bottom Yogurt                          111
                  0% Milkfat Greek Plain Yogurt                                      29
                  0% Milkfat Greek Yogurt Honey                                      16
                  1 % Lowfat Milk                                                    18
                  1 Apple + 1 Mango Fruit Bar                                       137
                  1 Apple + 1 Pear Fruit Bar                                        109
                  1 Liter                                                           274
                  1 Mg Melatonin Sublingual Orange Tablets                            3
                  1 Ply Paper Towels                                                130
                  1 to 1 Gluten Free Baking Flour                                     2
                  1% Chocolate Milk                                                  85
                  1% Low Fat Chocolate Milk                                          29
                  1% Low Fat Milk                                                   439
                  1% Lowfat Chocolate Milk                                           20
                  1% Lowfat Milk                                                    529
...                                                                                 ...
23                \"Mokaccino\" Milk + Blue Bottle Coffee Chocolate                  22
                  eat your vegetables Vegetable Chips Sour Cream ...                 12
                  for All Mouth Sores Fresh Mint Oral Debriding A...                  9
                  for Tots Apple Juice                                               26
                  for Tots Apple White Grape Juice                                   40
                  from Concentrate Mango Nectar                                      71
                  fruitwater® Strawberry Kiwi Sparkling Water                         7
                  gel hand wash sea minerals                                         47
                  gelato Coffee Toffee                                               60
                  go fresh Cool Moisture Beauty                                       8
                  in 100% Juice Mixed Fruit                                           3
                  of Hanover 100 Calorie Pretzels Mini                              354
                  of Norwich Original English Mustard Powder Doub...                  6
                  pumpkin spice                                                       1
                  rich kiss Olive & Aloe Moisturizer 2 in 1                           7
                  smart Blend Chicken & Rice Formula Dry Dog Food                    10
                  smartwater® Electrolyte Enhanced Water                            337
                  vitaminwater® XXX Acai Blueberry Pomegranate                      171
                  with Bleach Powder Cleanser                                         9
                  with Color Safe Brightener Power Paks 2in1 Stai...                 18
                  with Crispy Almonds Cereal                                        350
                  with Dawn Action Pacs Fresh Scent Dishwasher De...                 32
                  with Olive Oil Mayonnaise                                          39
                  with Olive Oil Mayonnaise Dressing                                 62
                  with Seasoned Roasted Potatoes Scrambled Eggs &...                 31
                  with Sweet Cinnamon Bunches Cereal                                 47
                  with Twist Ties Sandwich & Storage Bags                            25
                  with Xylitol Cinnamon 18 Sticks Sugar Free Gum                     20
                  with Xylitol Unwrapped Original Flavor 50 Stick...                 15
                  with Xylitol Watermelon Twist 18 Sticks Sugar F...                 14

[777214 rows x 1 columns]