<a href="https://colab.research.google.com/github/will-cotton4/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/module2-join-datasets/LS_DS_122_Join_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 16:02:31--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.227.235
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.227.235|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  43.3MB/s    in 4.9s

2019-03-26 16:02:37 (40.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [1]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [5]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

## Goal: Reproduce this example

The first two orders for user id 1:

In [4]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [6]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [9]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')
aisles.shape

(134, 2)

In [8]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [10]:
display(example)

Doesn't have anything we need

### departments

In [0]:
departments = pd.read_csv('departments.csv')

In [14]:
departments.shape

(21, 2)

In [12]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

Also don't need anything from here.

### order_products__prior

In [0]:
import pandas as pd
order_products_prior = pd.read_csv('order_products__prior.csv')

In [3]:
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
display(example)

We do have some stuff in here that we could use, looks like:

####order_id, product_id, and add_to_cart_order

### order_products__train

In [4]:
order_products_train = pd.read_csv('order_products__train.csv')
order_products_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

We need:
####order_id, product_id, add_to_cart_order

### orders

In [5]:
orders = pd.read_csv('orders.csv')
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

We need:
#### order_id, user_id, order_number, order_dow, order_hour_of_day

### products

In [6]:
products = pd.read_csv('products.csv')
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

We need:

#### product_id, product_name

## Concatenate order_products__prior and order_products__train

In [7]:
order_products = pd.concat([order_products_prior, order_products_train])
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## Get a subset of orders — the first two orders for user id 1

In [0]:
condition = (orders['user_id'] == 1) & (orders['order_number'] <= 2)

columns = ['user_id', 
           'order_id', 
           'order_number', 
           'order_dow', 
           'order_hour_of_day']

subset = orders.loc[condition, columns]

## Merge dataframes

Merge subset from `orders` with columns from `order_products`

In [29]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [30]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

Note: Can't just smash them together; the structures don't match, so we can't concatenate directly.

In [35]:
orders_merged = pd.merge(subset, 
         order_products[['order_id', 'add_to_cart_order', 'product_id']])
orders_merged.head()

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id
0,1,2539329,1,2,8,1,196
1,1,2539329,1,2,8,2,14084
2,1,2539329,1,2,8,3,12427
3,1,2539329,1,2,8,4,26088
4,1,2539329,1,2,8,5,26405

In [36]:
display(example)

Merge with columns from `products`

In [54]:
final_test = pd.merge(orders_merged, products[['product_id', 'product_name']])
final_test.sort_values(['order_number','add_to_cart_order']).head(11)

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id,product_name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
8,1,2398795,2,3,7,2,10258,Pistachios
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

# Assignment

These are the top 10 most frequently ordered products. **How many times was each ordered? **

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

**Because the data we're dealing with here is so large that it's crashed my runtime a few times, I'm going to re-save the CSV's as DataFrames down here:**

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

%cd instacart_2017_05_01

--2019-03-26 19:45:40--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.176.61
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.176.61|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  17.7MB/s    in 15s

2019-03-26 19:45:55 (13.3 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv
/content/instacart_2017_05_01

In [0]:
import pandas as pd

order_products = pd.concat([pd.read_csv('order_products__prior.csv'), pd.read_csv('order_products__train.csv')])
products = pd.read_csv('products.csv')
orders = pd.read_csv('orders.csv')


**First, write down which columns you need and which dataframes have them.**

**Need the following:**
- `order_id`
- `product_id`

**We can find these in a merged dataframe from `order_products` and `products`**

In [3]:
order_products.head(10)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
5         2       17794                  6          1
6         2       40141                  7          1
7         2        1819                  8          1
8         2       43668                  9          0
9         3       33754                  1          1

In [4]:
products.head(10)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
5,6,Dry Nose Oil,11,11
6,7,Pure Coconut Water With Orange,98,7
7,8,Cut Russet Potatoes Steam N' Mash,116,1
8,9,Light Strawberry Blueberry Yogurt,120,16
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7


**Next, merge these into a single dataframe.**

In [5]:
product_data_merged = pd.merge(order_products, products)
product_data_merged.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,33120,1,1,Organic Egg Whites,86,16
1,26,33120,5,0,Organic Egg Whites,86,16
2,120,33120,13,0,Organic Egg Whites,86,16
3,327,33120,5,1,Organic Egg Whites,86,16
4,390,33120,28,1,Organic Egg Whites,86,16


**Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.**

In [6]:
product_data_merged['product_name'].value_counts().head(10)

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64


## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

**Your challenge is to reproduce the list of the top 25 latest ordered popular products.**

We'll define "popular products" as products with more than 2,900 orders.

## I tried two things here. First thing was apparently not the assignment, but I don't want to get rid of it, so I'll collapse it:

**We need to include the hour of day in our dataframe, so I'll merge the `order_products`, `orders`, and `products` dataframes:**

In [4]:
complete_orders = pd.merge(pd.merge(order_products, orders), products)
complete_orders.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id
0,2,33120,1,1,202279,prior,3,5,9,8.0,Organic Egg Whites,86,16
1,26,33120,5,0,153404,prior,2,0,16,7.0,Organic Egg Whites,86,16
2,120,33120,13,0,23750,prior,11,6,8,10.0,Organic Egg Whites,86,16
3,327,33120,5,1,58707,prior,21,6,9,8.0,Organic Egg Whites,86,16
4,390,33120,28,1,166654,prior,48,0,12,9.0,Organic Egg Whites,86,16

**Here we split off the counts for purchases made early in the day:**

In [0]:
early_purchase_counts = complete_orders[ ( complete_orders['order_hour_of_day'] == 8 ) | ( complete_orders['order_hour_of_day'] == 9 ) ]['product_name'].value_counts()

**And divide the result component-wise, so that the resulting `Series` records the proportions of the desired objects purchased in the desired timeframe: **

In [0]:
early_purchase_props = early_purchase_counts.divide(complete_orders['product_name'].value_counts().where(complete_orders['product_name'].value_counts()>=2900)).sort_values(ascending=False)

**Here they are: different from the ones on the graph, for some reason...**

In [153]:
print(early_purchase_props[:25])

Half And Half Ultra Pasteurized            0.268114
Sweet & Salty Nut Granola Bars Peanut      0.220839
Apples                                     0.220446
Trail Mix                                  0.217919
Nutri Grain Bars Multi Pack                0.212973
French Vanilla Coffee Creamer              0.208548
Half And Half Cream                        0.208180
Popcorn                                    0.208110
Crunchy Oats 'n Honey Granola Bars         0.207113
Pub Mix                                    0.203170
Blackberry Yogurt                          0.202778
Dry Roasted Almonds                        0.202440
Cheez-It Baked Snack Crackers              0.202405
0% Greek Strained Yogurt                   0.200864
Pink Lady Apples                           0.200420
Cheez-It Cheddar Cracker                   0.199641
Cinnamon Brown Sugar Breakfast Biscuits    0.198746
with Crispy Almonds Cereal                 0.197196
Original Rice Krispies Treats              0.196119
Clementines                                0.195813
Extra Fancy Unsalted Mixed Nuts            0.195513
Cherrios Honey Nut                         0.194777
Original Almondmilk                        0.193663
Zen Tea                                    0.192616
Milk Chocolate Almonds                     0.192497
Name: product_name, dtype: float64

**And then we do the same thing for the late purchases:**

In [0]:
late_purchase_counts =  complete_orders[ ( complete_orders['order_hour_of_day'] == 16) |
                                         ( complete_orders['order_hour_of_day'] == 17) ]['product_name'].value_counts()

In [0]:
late_purchase_props = late_purchase_counts.divide(complete_orders['product_name'].value_counts().where(complete_orders['product_name'].value_counts()>=2900)).sort_values(ascending=False)

In [129]:
print(late_purchase_props[:25])

Cabernet Sauvignon                           0.204188
Half Baked® Ice Cream                        0.192864
Rising Crust Pepperoni Pizza                 0.192596
Chardonnay                                   0.190356
Milk and Cookies Ice Cream                   0.188397
Sauvignon Blanc                              0.188151
Americone Dream® Ice Cream                   0.188150
The Tonight Dough™ Ice Cream                 0.188078
Phish Food® Ice Cream                        0.187913
Four Cheese Rising Crust Pizza               0.187800
Sicilian Pistachio                           0.187540
Pinot Grigio                                 0.187407
Cherry Garcia Ice Cream                      0.187097
Coconut Almond Minis Frozen Dessert Bars     0.184393
Pinot Noir                                   0.184159
Mint Chocolate Chip Ice Cream                0.182225
Coffee Ice Cream                             0.182187
Rice Mac & Cheese                            0.182003
Chocolate Peanut Butter Cup Gelato           0.181778
Mediterranean Mint Gelato                    0.180120
Caramel Cookie Crunch Gelato                 0.179290
Mexican Style Four Cheese Shredded Cheese    0.178831
Chocolate Peanut Butter Ice Cream            0.177388
Mint Chip                                    0.177312
Extralean Ground Turkey Breast               0.177010
Name: product_name, dtype: float64

## And this will, hopefully, complete the stretch goal:

**First, add a column to include the count of purchases for each item:**

In [156]:
popular_items = complete_orders[['product_name', 'order_hour_of_day']]
popular_items['item_count'] = popular_items.groupby('product_name')['product_name'].transform('count')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [157]:
popular_items.head()

         product_name  order_hour_of_day  item_count
0  Organic Egg Whites                  9       20234
1  Organic Egg Whites                 16       20234
2  Organic Egg Whites                  8       20234
3  Organic Egg Whites                  9       20234
4  Organic Egg Whites                 12       20234

**Looks good so far. Now we'll add a column that takes the average time purchased for each item**

In [0]:
popular_items=popular_items[popular_items['item_count']>=2900].sort_values(['item_count','order_hour_of_day'])
popular_items['item_pop_time'] = popular_items.groupby('product_name')['order_hour_of_day'].transform('mean')

In [169]:
popular_items.sort_values('item_pop_time').head(20)

,product_name,order_hour_of_day,item_count,item_pop_time
8342984,Half And Half Ultra Pasteurized,12,2995,11.767279
8342247,Half And Half Ultra Pasteurized,13,2995,11.767279
8342251,Half And Half Ultra Pasteurized,13,2995,11.767279
8342281,Half And Half Ultra Pasteurized,13,2995,11.767279
8342283,Half And Half Ultra Pasteurized,13,2995,11.767279
8342290,Half And Half Ultra Pasteurized,13,2995,11.767279
8342294,Half And Half Ultra Pasteurized,13,2995,11.767279
8342298,Half And Half Ultra Pasteurized,13,2995,11.767279
8342301,Half And Half Ultra Pasteurized,13,2995,11.767279
8342316,Half And Half Ultra Pasteurized,13,2995,11.767279
8342331,Half And Half Ultra Pasteurized,13,2995,11.767279
8342338,Half And Half Ultra Pasteurized,13,2995,11.767279
8342340,Half And Half Ultra Pasteurized,13,2995,11.767279
8342368,Half And Half Ultra Pasteurized,13,2995,11.767279
8342397,Half And Half Ultra Pasteurized,13,2995,11.767279
8342422,Half And Half Ultra Pasteurized,13,2995,11.767279
8342424,Half And Half Ultra Pasteurized,13,2995,11.767279
8342430,Half And Half Ultra Pasteurized,13,2995,11.767279
8342431,Half And Half Ultra Pasteurized,13,2995,11.767279
8342439,Half And Half Ultra Pasteurized,13,2995,11.767279

**Looks... not so great. We need to clean this up: we only really want one entry for each item that includes the average time the item was purchased:**

In [172]:
popular_items[['product_name', 'item_pop_time']].drop_duplicates().sort_values('item_pop_time').head(25)

                                               product_name  item_pop_time
8340785                     Half And Half Ultra Pasteurized      11.767279
23969342              Sweet & Salty Nut Granola Bars Peanut      11.898340
25941251                                            Pub Mix      12.004019
23056324                        Nutri Grain Bars Multi Pack      12.049459
12881404                                          Trail Mix      12.059043
26424920                      Original Rice Krispies Treats      12.114576
12856238                                             Apples      12.123962
12894260                      Cheez-It Baked Snack Crackers      12.140281
23396377                                Dry Roasted Almonds      12.151995
21619026                                  Zero Calorie Cola      12.168894
12868835                 Crunchy Oats 'n Honey Granola Bars      12.188945
22443973                                Original Beef Jerky      12.270420
20462935                           Cheez-It Cheddar Cracker      12.271951
23059767                                            Popcorn      12.275556
23391223                             Milk Chocolate Almonds      12.288367
8046776                            0% Greek Strained Yogurt      12.298806
12831252                    Extra Fancy Unsalted Mixed Nuts      12.315155
21000895                                   Pink Lady Apples      12.330913
8022492                          with Crispy Almonds Cereal      12.348542
8017681                                 Original Almondmilk      12.353126
1271324                                         Clementines      12.368174
8035820                                 Half And Half Cream      12.374539
3112086                       French Vanilla Coffee Creamer      12.377249
25079694  Orange & Lemon Flavor Variety Pack Sparkling F...      12.395354
12878014            Cinnamon Brown Sugar Breakfast Biscuits      12.409215

**Oh look--that's one of our answers. Here's the other:**

In [174]:
popular_items[['product_name', 'item_pop_time']].drop_duplicates().sort_values('item_pop_time').tail(25).sort_values('item_pop_time', ascending=False)

                                          product_name  item_pop_time
23008302                      Half Baked Frozen Yogurt      14.526986
19066653                  The Tonight Dough™ Ice Cream      14.526299
8764626                     Americone Dream® Ice Cream      14.394912
4497637                          Half Baked® Ice Cream      14.388942
25603401                         Phish Food® Ice Cream      14.373308
19060785                    Milk and Cookies Ice Cream      14.369711
29830340                            Sicilian Pistachio      14.306421
8573391             Chocolate Peanut Butter Cup Gelato      14.303480
26965797                 Birthday Cake Light Ice Cream      14.292018
8467265                        Cherry Garcia Ice Cream      14.270300
18739415                          Strawberry Ice Cream      14.268841
23349202                  Vanilla Bean Light Ice Cream      14.257849
13350980                              Coffee Ice Cream      14.256280
8431438                       Roman Raspberry Sorbetto      14.248191
18660041                     Mediterranean Mint Gelato      14.233542
22810176                  Caramel Cookie Crunch Gelato      14.224069
10336051         Chocolate Chip Cookie Dough Ice Cream      14.204325
8842622                                      Mint Chip      14.189235
27549306      Coconut Almond Minis Frozen Dessert Bars      14.156069
28656001                 Mint Chocolate Chip Ice Cream      14.134992
10733073             Chocolate Peanut Butter Ice Cream      14.120449
12256880  Vanilla Milk Chocolate Almond Ice Cream Bars      14.104662
23299021                       Sea Salt Caramel Gelato      14.083895
15461090                        Vanilla Bean Ice Cream      14.039406
27344508                  Rising Crust Pepperoni Pizza      14.027699