<a href="https://colab.research.google.com/github/mbrady4/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/module2-join-datasets/LS_DS_122_Join_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [5]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 21:34:45--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.233.189
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.233.189|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M   100MB/s    in 2.0s

2019-03-26 21:34:47 (100 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [6]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [7]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [8]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [9]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

In [0]:
import pandas as pd

### aisles

In [11]:
aisles = pd.read_csv('aisles.csv')
aisles.shape

(134, 2)

In [12]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

**No columns from aisles will be needed**

### departments

In [13]:
departments = pd.read_csv('departments.csv')
departments.shape

(21, 2)

In [14]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

**No columns from departments dataframe will be needed**

### order_products__prior

In [15]:
order_products_prior = pd.read_csv('order_products__prior.csv')
order_products_prior.shape

(32434489, 4)

In [16]:
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

**Columns needed from Order_Products_Prior**
- order id
- product id
- add to cart order

### order_products__train

In [17]:
order_products_train = pd.read_csv('order_products__train.csv')
order_products_train.shape

(1384617, 4)

In [18]:
order_products_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

**Columns needed from Order_Products_Train:**
- order id
- product id 
- add to cart order

### orders

In [19]:
orders = pd.read_csv('orders.csv')
orders.shape

(3421083, 7)

In [20]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

**Columns from Orders dataframe**
- order id
- user id
- order number 
- order dow
- order hour of day

### products

In [21]:
products = pd.read_csv('products.csv')
products.shape

(49688, 4)

In [22]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

**Columns from Products dataframe:**
- product id
- product name

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products_prior, order_products_train])
row_a, col_a = order_products_train.shape
row_b, col_b = order_products_prior.shape
row_c, col_c = order_products.shape

assert row_a + row_b == row_c

In [24]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## Get a subset of orders — the first two orders for user id 1

In [25]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [26]:
condition = (orders['user_id'] == 1) & (orders['order_number'] <= 2)

columns = ['user_id', 
           'order_id', 
           'order_number', 
           'order_dow', 
           'order_hour_of_day']

subset = orders.loc[condition, columns]
subset

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

## Merge dataframes

**Need to merge subset with order_products dataframe (need add to cart order and product id from order_products)**

In [27]:
merged = pd.merge(subset, order_products, how='inner', on='order_id')
merged.head()

,user_id,order_id,order_number,order_dow,order_hour_of_day,product_id,add_to_cart_order,reordered
0,1,2539329,1,2,8,196,1,0
1,1,2539329,1,2,8,14084,2,0
2,1,2539329,1,2,8,12427,3,0
3,1,2539329,1,2,8,26088,4,0
4,1,2539329,1,2,8,26405,5,0

In [0]:
merged = merged.drop(columns=['reordered'])

In [29]:
merged = pd.merge(merged, products[['product_name', 'product_id']], how='inner', on='product_id')
merged.head(11)

,user_id,order_id,order_number,order_dow,order_hour_of_day,product_id,add_to_cart_order,product_name
0,1,2539329,1,2,8,196,1,Soda
1,1,2398795,2,3,7,196,1,Soda
2,1,2539329,1,2,8,14084,2,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,12427,3,Original Beef Jerky
4,1,2398795,2,3,7,12427,3,Original Beef Jerky
5,1,2539329,1,2,8,26088,4,Aged White Cheddar Popcorn
6,1,2398795,2,3,7,26088,5,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,26405,5,XL Pick-A-Size Paper Towel Rolls
8,1,2398795,2,3,7,10258,2,Pistachios
9,1,2398795,2,3,7,13176,4,Bag of Organic Bananas
10,1,2398795,2,3,7,13032,6,Cinnamon Toast Crunch

In [0]:
merged = merged.sort_values(by=['order_number', 'add_to_cart_order'])

In [0]:
merged.columns = [ column.replace('_',' ') for column in merged ]

In [32]:
merged

,user id,order id,order number,order dow,order hour of day,product id,add to cart order,product name
0,1,2539329,1,2,8,196,1,Soda
2,1,2539329,1,2,8,14084,2,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,12427,3,Original Beef Jerky
5,1,2539329,1,2,8,26088,4,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,26405,5,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,196,1,Soda
8,1,2398795,2,3,7,10258,2,Pistachios
4,1,2398795,2,3,7,12427,3,Original Beef Jerky
9,1,2398795,2,3,7,13176,4,Bag of Organic Bananas
6,1,2398795,2,3,7,26088,5,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,13032,6,Cinnamon Toast Crunch

In [33]:
columsTitles = ['user id', 'order id', 'order number', 'order dow', 'order hour of day', 'add to cart order', 'product id', 'product name']

merged = merged.reindex(columns=columsTitles)

merged

,user id,order id,order number,order dow,order hour of day,add to cart order,product id,product name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
8,1,2398795,2,3,7,2,10258,Pistachios
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [34]:
#Check to see what datasets are available 
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

In [35]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [36]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [37]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

## Approach to Determining the top 10 most frequently ordered products

Ultimately we need a sorted list of the number of orders for each unique product. To create this view, we need to leverage multiple datasets:

From products dataframe: 
- product_name
- product_id 

From orders_products dataframe:
- product_id

We will combine these datasets using merge.join on product_id.

In [0]:
#Merge required dataframes

order_list = pd.merge(order_products, products)

In [39]:
#Verify that the number of columns has expanded
order_list.shape

(33819106, 7)

In [40]:
order_list.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,33120,1,1,Organic Egg Whites,86,16
1,26,33120,5,0,Organic Egg Whites,86,16
2,120,33120,13,0,Organic Egg Whites,86,16
3,327,33120,5,1,Organic Egg Whites,86,16
4,390,33120,28,1,Organic Egg Whites,86,16

In [41]:
#Create new dataframe that removes unecessary columns
order_list = order_list[ ['product_id', 'product_name'] ] 
order_list.head()

   product_id        product_name
0       33120  Organic Egg Whites
1       33120  Organic Egg Whites
2       33120  Organic Egg Whites
3       33120  Organic Egg Whites
4       33120  Organic Egg Whites

In [42]:
order_list.shape

(33819106, 2)

In [43]:
#Calculate and print the top 10 products on instacart

top_products = order_list['product_name'].value_counts()

top_products[:10]

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

# Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

## Approach to solving

To determine the most popular ordered products late at night, we need to do the following:

From orders dataframe:
- order_hour_of_day
- order_id

From order_products dataframe:
- order_id
- product_id

From products:
- product_id
- product_name

We have a headstart from the prior assignment thanks to the ```ordered_list``` dataframe.

In [44]:
product_info = pd.merge(order_products, products)
product_info.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,33120,1,1,Organic Egg Whites,86,16
1,26,33120,5,0,Organic Egg Whites,86,16
2,120,33120,13,0,Organic Egg Whites,86,16
3,327,33120,5,1,Organic Egg Whites,86,16
4,390,33120,28,1,Organic Egg Whites,86,16

In [45]:
product_info = product_info[ ['order_id','product_id','product_name'] ]
product_info.head()

   order_id  product_id        product_name
0         2       33120  Organic Egg Whites
1        26       33120  Organic Egg Whites
2       120       33120  Organic Egg Whites
3       327       33120  Organic Egg Whites
4       390       33120  Organic Egg Whites

In [46]:
len(product_info), len(orders)

(33819106, 3421083)

In [0]:
order_column = ['order_id', 'product_id', 'product_name']
product_column = ['order_hour_of_day', 'order_id']
products_with_time = pd.merge(product_info[order_column], orders[product_column], on='order_id')

In [48]:
products_with_time.shape

(33819106, 4)

In [49]:
products_with_time.head()

   order_id  product_id           product_name  order_hour_of_day
0         2       33120     Organic Egg Whites                  9
1         2       28985  Michigan Organic Kale                  9
2         2        9327          Garlic Powder                  9
3         2       45918         Coconut Butter                  9
4         2       30035      Natural Sweetener                  9

In [0]:
late_products = products_with_time[ products_with_time['order_hour_of_day'] >= 12 ]
early_products = products_with_time[ products_with_time['order_hour_of_day'] < 12 ]

In [63]:
late = late_products['product_name'].value_counts()
late[:5]

Banana                    313384
Bag of Organic Bananas    252095
Organic Strawberries      178282
Organic Baby Spinach      164262
Organic Hass Avocado      144474
Name: product_name, dtype: int64

In [65]:
early = early_products['product_name'].value_counts()
early[:5]

Banana                    177907
Bag of Organic Bananas    142835
Organic Strawberries       97295
Organic Baby Spinach       87443
Organic Hass Avocado       76403
Name: product_name, dtype: int64

In [0]:
test = pd.DataFrame({'early purchases':early, 'late purchases': late})

In [70]:
test['total'] = (test['early purchases'] + test['late purchases'])
test.head()

                                        early purchases  late purchases  total
#2 Coffee Filters                                 284.0           515.0  799.0
#2 Cone White Coffee Filters                        8.0             6.0   14.0
#2 Mechanical Pencils                               5.0             4.0    9.0
#4 Natural Brown Coffee Filters                   117.0           130.0  247.0
& Go! Hazelnut Spread + Pretzel Sticks             64.0           110.0  174.0

In [71]:
test.shape

(49685, 3)

In [72]:
test = test[ test['total'] >= 2900 ]
test.shape

(2053, 3)

In [73]:
test['percent late night'] = (test['late purchases'] / test['total'])
test.head()

,early purchases,late purchases,total,percent late night
0% Fat Free Organic Milk,1567.0,2439.0,4006.0,0.608837
0% Greek Strained Yogurt,6795.0,6856.0,13651.0,0.502234
1 Liter,1377.0,2901.0,4278.0,0.678121
1% Low Fat Milk,3285.0,5648.0,8933.0,0.632262
1% Lowfat Milk,5477.0,9215.0,14692.0,0.627212

In [75]:
test.sort_values('percent late night', ascending=False)[:25]

,early purchases,late purchases,total,percent late night
The Tonight Dough™ Ice Cream,738.0,2399.0,3137.0,0.764743
Chocolate Peanut Butter Cup Gelato,1078.0,3433.0,4511.0,0.761029
Half Baked Frozen Yogurt,719.0,2264.0,2983.0,0.758967
Half Baked® Ice Cream,1520.0,4702.0,6222.0,0.755706
Americone Dream® Ice Cream,1592.0,4855.0,6447.0,0.753063
Cherry Garcia Ice Cream,1112.0,3383.0,4495.0,0.752614
Phish Food® Ice Cream,792.0,2385.0,3177.0,0.750708
Milk and Cookies Ice Cream,1317.0,3906.0,5223.0,0.747846
Caramel Cookie Crunch Gelato,1442.0,4275.0,5717.0,0.747770
Sicilian Pistachio,798.0,2348.0,3146.0,0.746345
Strawberry Ice Cream,1627.0,4782.0,6409.0,0.746138
Mediterranean Mint Gelato,1949.0,5707.0,7656.0,0.745428
Birthday Cake Light Ice Cream,1405.0,4057.0,5462.0,0.742768
Vanilla Bean Light Ice Cream,1318.0,3778.0,5096.0,0.741366
Coffee Ice Cream,1020.0,2921.0,3941.0,0.741182
Mint Chip,1531.0,4340.0,5871.0,0.739227
Roman Raspberry Sorbetto,831.0,2348.0,3179.0,0.738597
Chocolate Chip Cookie Dough Ice Cream,2251.0,6304.0,8555.0,0.736879
Cabernet Sauvignon,1696.0,4656.0,6352.0,0.732997
Mint Chocolate Chip Ice Cream,956.0,2622.0,3578.0,0.732812
Coconut Almond Minis Frozen Dessert Bars,935.0,2525.0,3460.0,0.729769
Pinot Noir,1126.0,2990.0,4116.0,0.726433
Chocolate Peanut Butter Ice Cream,1004.0,2649.0,3653.0,0.725157
Rising Crust Pepperoni Pizza,1063.0,2800.0,3863.0,0.724825
Tahitian Vanilla Bean Gelato,1476.0,3859.0,5335.0,0.723336