<a href="https://colab.research.google.com/github/Higgins2718/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/module2-join-datasets/LS_DS_122_Join_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 22:31:51--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.18.3
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.18.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  96.4MB/s    in 2.0s

2019-03-26 22:31:53 (96.4 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [4]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [5]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [6]:
!ls -lh

total 877M
-rw-r--r-- 1  502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1  502 staff  270 May  2  2017 departments.csv
drwxr-xr-x 2  502 staff 4.0K May  2  2017 instacart_2017_05_01
-rw-r--r-- 1 root root  197M Oct 20  2017 instacart_online_grocery_shopping_2017_05_01.tar.gz
-rw-r--r-- 1  502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1  502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1  502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1  502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')

In [8]:
aisles.shape

(134, 2)

In [9]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [10]:
display(example)

### departments

In [0]:
departments = pd.read_csv('departments.csv')

In [12]:
departments.shape

(21, 2)

In [13]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [14]:
display(example)

### order_products__prior

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')

In [16]:
order_products__prior.shape

(32434489, 4)

In [17]:
order_products__prior.groupby('order_id')['product_id'].count().mean()

10.088883421247614

In [18]:
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

Has: order_id product_id add_to_cart_order

In [19]:
display(example)

### order_products__train

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')

In [21]:
order_products__train.shape

(1384617, 4)

In [22]:
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

Same columns in order_products__prior and order_products__train.

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [24]:
orders.shape

(3421083, 7)

In [25]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

orders has:

user_id
order_id
order_number
order_dow
order_hour_of_day

In [26]:
display(example)

### products

In [0]:
products = pd.read_csv('products.csv')

In [28]:
products.shape

(49688, 4)

In [29]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

products has:

product_id
product_name

In [30]:
display(example)

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])

In [32]:
order_products.shape, order_products__prior.shape, order_products__train.shape

((33819106, 4), (32434489, 4), (1384617, 4))

In [0]:
assert len(order_products) == len(order_products__prior) + len(order_products__train)

In [0]:
assert (len(order_products.columns) == 
        len(order_products__prior.columns) == 
        len(order_products__train.columns))

In [35]:
rows, columns = order_products.shape

print('Rows:', rows)
print('Columns:', columns)

Rows: 33819106
Columns: 4

In [0]:
a_rows, a_columns = order_products__prior.shape
b_rows, b_columns = order_products__train.shape
c_rows, c_columns = order_products.shape

assert a_columns == b_columns == c_columns
assert a_rows + b_rows == c_rows

In [37]:
condition = order_products['order_id']==2539329
order_products[condition]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

## Get a subset of orders — the first two orders for user id 1

From orders dataframe:

user_id
order_id
order_number
order_dow
order_hour_of_day

In [0]:
#condition = (orders['user_id'] == 1) & (orders['order_number'] <= 2)

#columns = ['user_id', 
           'order_id', 
           'order_number', 
           'order_dow', 
           'order_hour_of_day']

#subset = orders.loc[condition, columns]

In [45]:
#display(example)

# IMPORTANT: The above code from lecture doesn't apply

As Ryan said, we need all users—not just user_id=1. In the following code cell, I've redefined subset to include all users as well as the other relevant columns.

## Merge dataframes

Merge the subset from orders with columns from order_products

In [0]:
columns = ['order_id', 'add_to_cart_order', 'product_id']
subset = orders[['user_id', 'order_id', 'order_number', 
           'order_dow', 
           'order_hour_of_day']]
merged = pd.merge(subset, order_products[columns], 
                  how='inner', on='order_id')

In [39]:
subset.shape, order_products.shape, merged.shape

((3421083, 5), (33819106, 4), (33819106, 7))

In [40]:
subset

         user_id  order_id  order_number  order_dow  order_hour_of_day
0              1   2539329             1          2                  8
1              1   2398795             2          3                  7
2              1    473747             3          3                 12
3              1   2254736             4          4                  7
4              1    431534             5          4                 15
5              1   3367565             6          2                  7
6              1    550135             7          1                  9
7              1   3108588             8          1                 14
8              1   2295261             9          1                 16
9              1   2550362            10          4                  8
10             1   1187899            11          4                  8
11             2   2168274             1          2                 11
12             2   1501582             2          5                 10
13             2   1901567             3          1                 10
14             2    738281             4          2                 10
15             2   1673511             5          3                 11
16             2   1199898             6          2                  9
17             2   3194192             7          2                 12
18             2    788338             8          1                 15
19             2   1718559             9          2                  9
20             2   1447487            10          1                 11
21             2   1402090            11          1                 10
22             2   3186735            12          1                  9
23             2   3268552            13          4                 11
24             2    839880            14          3                 10
25             2   1492625            15          1                 11
26             3   1374495             1          1                 14
27             3    444309             2          3                 19
28             3   3002854             3          3                 16
29             3   2037211             4          2                 18
...          ...       ...           ...        ...                ...
3421053   206208   2789700            35          3                 22
3421054   206208    844592            36          6                 15
3421055   206208   1541132            37          2                 12
3421056   206208   2808240            38          0                 15
3421057   206208   3027766            39          2                 14
3421058   206208   3356245            40          5                  9
3421059   206208    442304            41          2                 14
3421060   206208   2675140            42          1                 19
3421061   206208    167903            43          4                 14
3421062   206208   2393201            44          6                 16
3421063   206208   3292671            45          2                 11
3421064   206208   3059777            46          1                 10
3421065   206208   2239861            47          3                  4
3421066   206208   1285346            48          1                 11
3421067   206208   1882108            49          1                 22
3421068   206208    803273            50          5                 11
3421069   206209   3154581             1          3                 11
3421070   206209   1889163             2          3                 17
3421071   206209   1542354             3          5                 11
3421072   206209    688306             4          1                 10
3421073   206209   2307371             5          4                 15
3421074   206209   3186442             6          0                 16
3421075   206209    550836             7          2                 13
3421076   206209   2129269             8          3                 17
3421077   206209   2558525             9          4                 15
3421078   206209   2266710            10          5                 18
3421079   206209   1854736            11          4                 10
3421080   206209    626363            12          1                 12
3421081   206209   2977660            13          1                 12
3421082   206209    272231            14          6                 14

[3421083 rows x 5 columns]

In [41]:
order_products[columns].head(1)

   order_id  add_to_cart_order  product_id
0         2                  1       33120

In [42]:
merged

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id
0,1,2539329,1,2,8,1,196
1,1,2539329,1,2,8,2,14084
2,1,2539329,1,2,8,3,12427
3,1,2539329,1,2,8,4,26088
4,1,2539329,1,2,8,5,26405
5,1,2398795,2,3,7,1,196
6,1,2398795,2,3,7,2,10258
7,1,2398795,2,3,7,3,12427
8,1,2398795,2,3,7,4,13176
9,1,2398795,2,3,7,5,26088
10,1,2398795,2,3,7,6,13032
11,1,473747,3,3,12,1,196
12,1,473747,3,3,12,2,12427
13,1,473747,3,3,12,3,10258
14,1,473747,3,3,12,4,25133
15,1,473747,3,3,12,5,30450
16,1,2254736,4,4,7,1,196
17,1,2254736,4,4,7,2,12427
18,1,2254736,4,4,7,3,10258
19,1,2254736,4,4,7,4,25133
20,1,2254736,4,4,7,5,26405
21,1,431534,5,4,15,1,196
22,1,431534,5,4,15,2,12427
23,1,431534,5,4,15,3,10258
24,1,431534,5,4,15,4,25133
25,1,431534,5,4,15,5,10326
26,1,431534,5,4,15,6,17122
27,1,431534,5,4,15,7,41787
28,1,431534,5,4,15,8,13176
29,1,3367565,6,2,7,1,196
...,...,...,...,...,...,...,...
33819076,206209,626363,12,1,12,8,26209
33819077,206209,626363,12,1,12,9,33129
33819078,206209,626363,12,1,12,10,43961
33819079,206209,626363,12,1,12,11,23800
33819080,206209,626363,12,1,12,12,13838
33819081,206209,626363,12,1,12,13,48742
33819082,206209,626363,12,1,12,14,23594
33819083,206209,626363,12,1,12,15,20590
33819084,206209,626363,12,1,12,16,16168
33819085,206209,626363,12,1,12,17,33351
33819086,206209,626363,12,1,12,18,5622
33819087,206209,626363,12,1,12,19,23039
33819088,206209,626363,12,1,12,20,14727
33819089,206209,2977660,13,1,12,1,24852
33819090,206209,2977660,13,1,12,2,9405
33819091,206209,2977660,13,1,12,3,16168
33819092,206209,2977660,13,1,12,4,39216
33819093,206209,2977660,13,1,12,5,14197
33819094,206209,2977660,13,1,12,6,38730
33819095,206209,2977660,13,1,12,7,31477
33819096,206209,2977660,13,1,12,8,6567
33819097,206209,2977660,13,1,12,9,22920
33819098,206209,272231,14,6,14,1,6846
33819099,206209,272231,14,6,14,2,9405
33819100,206209,272231,14,6,14,3,24852
33819101,206209,272231,14,6,14,4,40603
33819102,206209,272231,14,6,14,5,15655
33819103,206209,272231,14,6,14,6,42606
33819104,206209,272231,14,6,14,7,37966
33819105,206209,272231,14,6,14,8,39216

In [43]:
display(example)

In [0]:
# Merge with columns from products

final = pd.merge(merged, products[['product_id', 'product_name']], 
                 how='inner', on='product_id')

In [45]:
merged.shape, products[['product_id', 'product_name']].shape, final.shape

((33819106, 7), (49688, 2), (33819106, 8))

I'm unable to run the notebook because it keeps crashing after the following cell runs

In [1]:
### It crashes here
final = final.sort_values(by=['order_number', 'add_to_cart_order'])

NameError: ignored

In [0]:
final.columns = [column.replace('_', ' ') for column in final]

In [58]:
final

,user id,order id,order number,order dow,order hour of day,add to cart order,product id,product name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
8,1,2398795,2,3,7,2,10258,Pistachios
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

In [59]:
order_products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33819106 entries, 0 to 1384616
Data columns (total 4 columns):
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtypes: int64(4)
memory usage: 1.3 GB

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

ASSIGNMENT NOTES:

Since I am completely unable to run the colab after a certain point, this is how I would get the top ten most frequently ordered products (Having successfully merged the requisite columns into a single dataframe— "final"). Keep in mind that I can't test this to see whether it is working.

In [3]:
# I think this would work for ordering products in terms of frequency
final['product name'].value_counts()

# For getting the top ten it should be this
ranked = final['product name'].value_counts()
ranked.head(10)

NameError: ignored