_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [117]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-04-03 02:36:20--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.110.165
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.110.165|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  52.0MB/s    in 3.8s

2019-04-03 02:36:24 (52.0 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [118]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [119]:
cd instacart_2017_05_01

/content/instacart_2017_05_01/instacart_2017_05_01/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [120]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [121]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')

In [123]:
aisles.shape

(134, 2)

In [124]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [125]:
display(example)

Aisles does not have any columns we need.

### departments

In [0]:
departments = pd.read_csv('departments.csv')

In [127]:
departments.shape

(21, 2)

In [128]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [129]:
departments

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [130]:
display(example)

Departments does not have any columns we need.

### order_products__prior

In [0]:
#Jason Murphy code
#onlyfiles = [f for f in listdir('./') if isfile(join('./', f))]
#print(onlyfiles)
#onlynormalfiles = [x for x in onlyfiles if x[0] != '.']
#csvfiles = []
#data = pd.DataFrame()

#for x in onlynormalfiles:
#    f = pd.read_csv(x)
    
    
#data = pd.join([pd.read_csv(x) for x in onlynormalfiles])

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')

In [133]:
order_products__prior.shape

(32434489, 4)

In [134]:
order_products__prior.head(10)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
5         2       17794                  6          1
6         2       40141                  7          1
7         2        1819                  8          1
8         2       43668                  9          0
9         3       33754                  1          1

In [135]:
display(example)

**order_products__prior** has

order_id

product_id

add_to_cart_order

In [136]:
order_products__prior.groupby('order_id')['product_id'].count().mean()

10.088883421247614

In [0]:
#order_products__prior.groupby('order_id')['product_id'].count()

### order_products__train

In [0]:
order_products__train = pd.read_csv('order_products__train.csv')

In [139]:
order_products__train.shape

(1384617, 4)

In [140]:
order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

order_products__prior & order_products__train have the exact same columns.

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [46]:
orders.shape

(3421083, 7)

In [47]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [144]:
display(example)

orders has:

user_id

order_id

order_number

order_dow

order_hour_of_day

### products

In [0]:
products = pd.read_csv('products.csv')

In [146]:
products.shape

(49688, 4)

In [147]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

products has

product_id

product_name

In [148]:
display(example)

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])

In [150]:
order_products.shape, order_products__prior.shape, order_products__train.shape

((33819106, 4), (32434489, 4), (1384617, 4))

In [151]:
len(order_products) == len(order_products__prior) + len(order_products__train)

True

In [0]:
#assert len(order_products) == len(order_products__prior) + len(order_products__train)
# something is true - no output = certification passed

In [0]:
assert 2 + 2 == 4

#assert 2 + 2 == 5 will give you an error message

In [154]:
(len(order_products.columns) == len(order_products__prior.columns) == len(order_products__train.columns))

True

In [0]:
assert (len(order_products.columns) == len(order_products__prior.columns) == len(order_products__train.columns))

In [156]:
order_products.shape[0]

33819106

In [157]:
order_products.shape[1]

4

In [158]:
rows, columns = order_products.shape

print('Rows:', rows)
print('Columns:', columns)

Rows: 33819106
Columns: 4

In [0]:
a_rows, a_columns = order_products__prior.shape
b_rows, b_columns = order_products__train.shape
c_rows, c_columns = order_products.shape

assert a_columns == b_columns == c_columns
assert a_rows + b_rows == c_rows

## Get a subset of orders — the first two orders for user id 1

In [160]:
display(example)

In [161]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [162]:
condition = order_products['order_id'] == 2539329
order_products[condition]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

From orders dataframe:

- user_id

- order_id

- order_number

- order_dow

- order_hour_of_day

In [163]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [164]:
orders[(orders['user_id'])==1]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0

In [165]:
orders[(orders['user_id'])==1].head(2) # Slice of [:2]

#assumptions need to be true for this to work

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0

In [166]:
orders[(orders['user_id']==1) & (orders['order_number']<=2)]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0

In [167]:
orders['order_number'].describe()

count    3.421083e+06
mean     1.715486e+01
std      1.773316e+01
min      1.000000e+00
25%      5.000000e+00
50%      1.100000e+01
75%      2.300000e+01
max      1.000000e+02
Name: order_number, dtype: float64

In [168]:
orders[(orders['user_id']==1) & (orders['order_number']<=2)]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0

In [169]:
condition = (orders['user_id']==1) & (orders['order_number']<=2)

columns = ['user_id',
          'order_id',
          'order_number',
          'order_dow',
          'order_hour_of_day']

orders[condition][columns]

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

In [170]:
condition = (orders['user_id']==1) & (orders['order_number']<=2)

columns = ['user_id',
          'order_id',
          'order_number',
          'order_dow',
          'order_hour_of_day']

orders.loc[condition][columns]

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

In [0]:
condition = (orders['user_id']==1) & (orders['order_number']<=2)

columns = ['user_id',
          'order_id',
          'order_number',
          'order_dow',
          'order_hour_of_day']

subset = orders.loc[condition][columns]

In [172]:
display(example)

## Merge dataframes

In [173]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [174]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [175]:
order_products[['order_id', 'add_to_cart_order', 'product_id']].head()

   order_id  add_to_cart_order  product_id
0         2                  1       33120
1         2                  2       28985
2         2                  3        9327
3         2                  4       45918
4         2                  5       30035

In [0]:
pd.merge(subset,
        order_products[['order_id', 'add_to_cart_order', 'product_id']])

In [0]:
display(example)

In [0]:
columns = ['order_id', 'add_to_cart_order','product_id']

merged = pd.merge(subset, order_products[columns])

In [0]:
subset.shape, order_products.shape, merged.shape

In [0]:
subset.head(1)

In [0]:
subset

In [0]:
order_products.head(1)

In [0]:
order_products[columns].head(1)

In [0]:
merged.head(1)

In [0]:
merged

In [0]:
columns = ['order_id', 'add_to_cart_order','product_id']

merged = pd.merge(subset, order_products[columns],
                 how = 'inner', on = 'order_id')

In [0]:
subset.shape, order_products.shape, merged.shape

In [0]:
subset

In [0]:
order_products[columns].head(1)

In [0]:
merged

In [0]:
display(example)

Merge the subset from 'orders' with columns from order_products

Merge with columns from products

In [0]:
final = pd.merge(merged, products[['product_id','product_name']])

In [0]:
merged.shape, products[['product_id','product_name']].shape, final.shape

In [0]:
final = pd.merge(merged, products[['product_id','product_name']],
                how='inner',on = 'product_id')

In [0]:
merged.shape, products[['product_id','product_name']].shape, final.shape

In [0]:
final

In [0]:
final.sort_values(by='order_number')

In [0]:
final.sort_values(by=['order_number', 'add_to_cart_order'])

In [0]:
[column for column in final]

In [0]:
#[column.replace('_', ' ') for column in final]

#trick to get rid of underscores.  MUST BE FINAL TO USE.  Screw up code if you put it in the middle.

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge - 04.02.19 - Below Assignment Coding

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [13]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-04-03 02:42:56--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.101.189
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.101.189|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  87.5MB/s    in 2.2s

2019-04-03 02:42:58 (87.5 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [14]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [15]:
cd instacart_2017_05_01

/content/instacart_2017_05_01

In [16]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

In [0]:
import pandas as pd

In [0]:
#product_name
#product_id
#add_to_cart_order

#I believe these columns can answer the question how many times were
#the Top 10 Ordered Prodcucts ordered?

#I can merge data from products.csv with order_products__prior.csv 
#to get the answers.

#The common attribute is product_id

In [0]:
products = pd.read_csv('products.csv')

In [19]:
products.shape

(49688, 4)

In [0]:
products.head

In [0]:
orderproducts = pd.read_csv('order_products__prior.csv')

In [22]:
orderproducts.shape

(32434489, 4)

In [0]:
orderproducts.head

In [24]:
len(products)

49688

In [25]:
len(orderproducts)

32434489

In [26]:
products.head(1)

   product_id                product_name  aisle_id  department_id
0           1  Chocolate Sandwich Cookies        61             19

In [27]:
orderproducts.head(1)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1

In [0]:
subset_1 = products[['product_id','product_name']]

In [0]:
subset_2 = orderproducts[['product_id','add_to_cart_order','order_id']]

In [0]:
import pandas as pd

In [0]:
merge_set = pd.merge(subset_1,subset_2)

In [54]:
merge_set.head()

   product_id                product_name  add_to_cart_order  order_id
0           1  Chocolate Sandwich Cookies                  7      1107
1           1  Chocolate Sandwich Cookies                  3      5319
2           1  Chocolate Sandwich Cookies                  4      7540
3           1  Chocolate Sandwich Cookies                  2      9228
4           1  Chocolate Sandwich Cookies                 30      9273

In [55]:
merge_set.shape

(32434489, 4)

In [0]:
#Data set with three columns complete.
#Now enter code to isolate the ten items.  Going to have to Slice.
#Then enter code to count up cart orders for each of the ten items.
#df.describe()???

In [0]:
import pandas as pd
import numpy as np

In [0]:
banana = merge_set

In [0]:
merge_set.value_counts()

In [0]:
banana = merge_set['product_id','product_name'=='Banana','add_to_cart_order']

In [0]:
[merge_set.product_name=='Banana']

In [0]:
merge_set['product_name'].value_counts()

In [0]:
header_test = merge_set['product_name'].value_counts()

In [60]:
header_test.head(10)

Banana                    472565
Bag of Organic Bananas    379450
Organic Strawberries      264683
Organic Baby Spinach      241921
Organic Hass Avocado      213584
Organic Avocado           176815
Large Lemon               152657
Strawberries              142951
Limes                     140627
Organic Whole Milk        137905
Name: product_name, dtype: int64

In [0]:
panda.iloc[]

## Stretch challenge - 04.02.19

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
df = merge_set

In [0]:
df = pd.merge(df, orders[['order_id','order_hour_of_day']])

In [72]:
df.head(10)

,product_id,product_name,add_to_cart_order,order_id,order_hour_of_day
0,1,Chocolate Sandwich Cookies,7,1107,11
1,769,Sliced American Cheese,10,1107,11
2,6184,Clementines,14,1107,11
3,8048,Packaged Grape Tomatoes,15,1107,11
4,9007,Frosted Flakes,17,1107,11
5,9434,Bag of Large Lemons,2,1107,11
6,12078,Shredded Mexican Blend Cheese,9,1107,11
7,13176,Bag of Organic Bananas,3,1107,11
8,16797,Strawberries,1,1107,11
9,24532,Cranberry Almond Chicken Salad,5,1107,11

In [0]:
merge001 = df.groupby('product_name').order_hour_of_day.agg(['mean', 'count'])

In [0]:
popular_products = merge001[merge001['count'] > 2900]

In [79]:
popular_products.sort_values(by='mean', ascending=False).head()

                                   mean  count
product_name
The Tonight Dough™ Ice Cream  14.514968   2973
Americone Dream® Ice Cream    14.395288   6155
Half Baked® Ice Cream         14.386134   5928
Phish Food® Ice Cream         14.374505   3028
Milk and Cookies Ice Cream    14.357585   5003