<a href="https://colab.research.google.com/github/bundickm/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/module2-join-datasets/LS_DS_122_Join_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [2]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-27 00:07:53--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.112.117
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.112.117|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  63.2MB/s    in 3.1s

2019-03-27 00:07:57 (63.2 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [3]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [4]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [5]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [6]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

In [0]:
import pandas as pd

### aisles

In [8]:
aisles = pd.read_csv('aisles.csv')
print(aisles.shape)
print(aisles.head())
display(example)

(134, 2)
   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

### departments

In [9]:
departments = pd.read_csv('departments.csv')
print(departments.shape)
print(departments.head())
display(example)

(21, 2)
   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

### order_products__prior

In [10]:
order_products_prior = pd.read_csv('order_products__prior.csv')
print(order_products_prior.shape)
print(order_products_prior.head())
display(example)

(32434489, 4)
   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
order_products_prior.groupby('order_id')['product_id'].count()

order_id
2           9
3           8
4          13
5          26
6           3
7           2
8           1
9          15
10         15
11          5
12         15
13         13
14         11
15          5
16          3
18         28
19          3
20          8
21          5
22         14
23         14
24          3
25         14
26          8
27         27
28         16
29          5
30          3
31         10
32          9
           ..
3421048     8
3421050    13
3421051    31
3421052     2
3421053     9
3421055    19
3421057     5
3421059     6
3421060    17
3421061    22
3421062     7
3421064     3
3421065     5
3421066     6
3421067     1
3421068    14
3421069    12
3421071     5
3421072    12
3421073     2
3421074     4
3421075     8
3421076     8
3421077     4
3421078     9
3421079     1
3421080     9
3421081     7
3421082     7
3421083    10
Name: product_id, Length: 3214874, dtype: int64

### order_products__train

In [12]:
order_products_train = pd.read_csv('order_products__train.csv')
print(order_products_train.shape)
print(order_products_train.head())
display(example)

(1384617, 4)
   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### orders

In [13]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
print(orders.head())
display(example)

(3421083, 7)
   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0

In [14]:
orders['eval_set'].unique()

array(['prior', 'train', 'test'], dtype=object)

### products

In [15]:
products = pd.read_csv('products.csv')
print(products.shape)
print(products.head())
display(example)

(49688, 4)
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13

## Concatenate order_products__prior and order_products__train

In [16]:
order_products = pd.concat([order_products_prior, order_products_train])
print(order_products.shape)
order_products.head()

(33819106, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
len(order_products) == len(order_products_prior) + len(order_products_train)

True

In [18]:
display(example)

In [19]:
condition = (order_products['order_id'] == 2539329)
order_products[condition]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

## Get a subset of orders — the first two orders for user id 1

In [0]:
condition = (orders['user_id']==1) & (orders['order_number'] <= 2)

columns = ['user_id',
          'order_id',
          'order_number',
          'order_dow',
          'order_hour_of_day']

subset = orders.loc[condition, columns]

In [21]:
display(example)

## Merge dataframes

In [22]:
columns = ['order_id','add_to_cart_order','product_id']
merged = pd.merge(subset, order_products[columns], how='inner', on='order_id')
merged

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id
0,1,2539329,1,2,8,1,196
1,1,2539329,1,2,8,2,14084
2,1,2539329,1,2,8,3,12427
3,1,2539329,1,2,8,4,26088
4,1,2539329,1,2,8,5,26405
5,1,2398795,2,3,7,1,196
6,1,2398795,2,3,7,2,10258
7,1,2398795,2,3,7,3,12427
8,1,2398795,2,3,7,4,13176
9,1,2398795,2,3,7,5,26088
10,1,2398795,2,3,7,6,13032

In [23]:
merged.shape

(11, 7)

In [0]:
final = pd.merge(merged, products[['product_id', 'product_name']], how='inner', on='product_id')

In [25]:
print(final.shape)
final = final.sort_values(by=['order_number', 'add_to_cart_order'])
final

(11, 8)

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id,product_name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
8,1,2398795,2,3,7,2,10258,Pistachios
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

In [26]:
final.columns = [column.replace('_', ' ') for column in final]
final

,user id,order id,order number,order dow,order hour of day,add to cart order,product id,product name
0,1,2539329,1,2,8,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
1,1,2398795,2,3,7,1,196,Soda
8,1,2398795,2,3,7,2,10258,Pistachios
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

In [27]:
display(example)

In [28]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [29]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

###1. Write down which columns you need and which dataframes have them.
Have:
* aisles: aisle id, aisle
* departments: department id, department
* order_products_prior: order id, product id, add to cart order, reordered
* order_products_train: order id, product id, add to cart order, reordered
* orders: order id, user id, eval set, order number, order dow, order hod, days since prior order
* products: product id, product name, aisle id, department id

Need:
* order id
* order number
* product id
* product name

From:
* order_products_prior
* order_products_train
* orders
* products

###2. Merge these into a single dataframe.
Merging all datasets so I have one central dataframe to explore. The end product will mean more storage and computing for any 1 problem, but more flexibility over multiple problems.

Combination Order:


1.   concat: order products prior/train
2.   merge: orders and prior/train
3.   merge: super orders and products
4.   merge: super orders and departments
5.   merge: super orders and aisles

In [0]:
#1. concat: order products prior/train
order_products = pd.concat([order_products_prior, order_products_train])

In [0]:
order_sub = orders.drop(columns=['eval_set', 'order_dow'])

In [32]:
order_sub.head()

   order_id  user_id  order_number  order_hour_of_day  days_since_prior_order
0   2539329        1             1                  8                     NaN
1   2398795        1             2                  7                    15.0
2    473747        1             3                 12                    21.0
3   2254736        1             4                  7                    29.0
4    431534        1             5                 15                    28.0

In [0]:
#2. merge: orders and prior/train
order_comb = pd.merge(order_sub, order_products)

In [0]:
products_sub = products.drop(columns=['aisle_id','department_id'])

In [0]:
#3. merge: super orders and products
order_comb = pd.merge(order_comb, products_sub)

In [0]:
#drop product id as it is the numerical dupe of product name
order_comb = order_comb.drop(columns='product_id')

In [0]:
#unfortunately these final two exceed the ram limits and crash

#4. merge: super orders and departments
#order_comb = pd.merge(order_comb, departments)

#5. merge: super orders and aisles
#order_comb = pd.merge(order_comb, aisles)

###3. Use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [38]:
#top ten items
order_comb['product_name'].value_counts()[0:10]

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
#get rid of anything not helpful
small = order_comb[['order_id', 'product_name', 'order_hour_of_day']]

In [0]:
#DataFrame of early and late orders
early_orders = small[(small['order_hour_of_day'] < 12)]
late_orders = small[small['order_hour_of_day'] >= 12]

In [0]:
#count products
early_product_count = early_orders['product_name'].value_counts()
late_product_count = late_orders['product_name'].value_counts()

In [73]:
#new data frame with product counts by time and total
product_counts = pd.DataFrame({'early_counts':early_product_count, 'late_counts':late_product_count})
product_counts['total'] = product_counts['early_counts'] + product_counts['late_counts']
product_counts.head()

                                        early_counts  late_counts  total
#2 Coffee Filters                              284.0        515.0  799.0
#2 Cone White Coffee Filters                     8.0          6.0   14.0
#2 Mechanical Pencils                            5.0          4.0    9.0
#4 Natural Brown Coffee Filters                117.0        130.0  247.0
& Go! Hazelnut Spread + Pretzel Sticks          64.0        110.0  174.0

In [0]:
#just the "popular ones"
pop_prod_counts = product_counts[product_counts['total'] > 2900]

In [75]:
#this is what I was missing, percent of total
pop_prod_counts['early percent'] = pop_prod_counts['early_counts']/pop_prod_counts['total']
pop_prod_counts['late percent'] = pop_prod_counts['late_counts']/pop_prod_counts['total']
pop_prod_counts.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,early_counts,late_counts,total,early percent,late percent
0% Fat Free Organic Milk,1567.0,2439.0,4006.0,0.391163,0.608837
0% Greek Strained Yogurt,6795.0,6856.0,13651.0,0.497766,0.502234
1 Liter,1377.0,2901.0,4278.0,0.321879,0.678121
1% Low Fat Milk,3285.0,5648.0,8933.0,0.367738,0.632262
1% Lowfat Milk,5477.0,9215.0,14692.0,0.372788,0.627212

In [76]:
#sort and show the top 25 for early
pop_prod_counts.sort_values('early percent', ascending=False)[:25]

,early_counts,late_counts,total,early percent,late percent
Half And Half Ultra Pasteurized,1657.0,1338.0,2995.0,0.553255,0.446745
Sweet & Salty Nut Granola Bars Peanut,2299.0,2039.0,4338.0,0.529968,0.470032
Pub Mix,2371.0,2108.0,4479.0,0.529359,0.470641
Nutri Grain Bars Multi Pack,1923.0,1777.0,3700.0,0.519730,0.480270
Apples,6692.0,6191.0,12883.0,0.519444,0.480556
Trail Mix,6506.0,6095.0,12601.0,0.516308,0.483692
Dry Roasted Almonds,1563.0,1470.0,3033.0,0.515331,0.484669
Original Rice Krispies Treats,2208.0,2121.0,4329.0,0.510049,0.489951
Crunchy Oats 'n Honey Granola Bars,4581.0,4501.0,9082.0,0.504404,0.495596
Cheez-It Baked Snack Crackers,2010.0,1982.0,3992.0,0.503507,0.496493
0% Greek Strained Yogurt,6795.0,6856.0,13651.0,0.497766,0.502234
Original Beef Jerky,3315.0,3382.0,6697.0,0.494998,0.505002
Cheez-It Cheddar Cracker,2202.0,2251.0,4453.0,0.494498,0.505502
Popcorn,3505.0,3597.0,7102.0,0.493523,0.506477
Pink Lady Apples,2575.0,2659.0,5234.0,0.491976,0.508024
Zero Calorie Cola,4366.0,4539.0,8905.0,0.490286,0.509714
Milk Chocolate Almonds,2581.0,2697.0,5278.0,0.489011,0.510989
Extra Fancy Unsalted Mixed Nuts,4903.0,5127.0,10030.0,0.488833,0.511167
Clementines,15583.0,16611.0,32194.0,0.484034,0.515966
Peaches,1422.0,1517.0,2939.0,0.483838,0.516162
Half And Half Cream,3139.0,3365.0,6504.0,0.482626,0.517374
with Crispy Almonds Cereal,2163.0,2330.0,4493.0,0.481416,0.518584
Original Almondmilk,2275.0,2491.0,4766.0,0.477339,0.522661
Earl Grey Tea,1562.0,1735.0,3297.0,0.473764,0.526236
Zen Tea,2361.0,2623.0,4984.0,0.473716,0.526284

In [77]:
#sort and show the top 25 for late
pop_prod_counts.sort_values('late percent', ascending=False)[:25]

,early_counts,late_counts,total,early percent,late percent
The Tonight Dough™ Ice Cream,738.0,2399.0,3137.0,0.235257,0.764743
Chocolate Peanut Butter Cup Gelato,1078.0,3433.0,4511.0,0.238971,0.761029
Half Baked Frozen Yogurt,719.0,2264.0,2983.0,0.241033,0.758967
Half Baked® Ice Cream,1520.0,4702.0,6222.0,0.244294,0.755706
Americone Dream® Ice Cream,1592.0,4855.0,6447.0,0.246937,0.753063
Cherry Garcia Ice Cream,1112.0,3383.0,4495.0,0.247386,0.752614
Phish Food® Ice Cream,792.0,2385.0,3177.0,0.249292,0.750708
Milk and Cookies Ice Cream,1317.0,3906.0,5223.0,0.252154,0.747846
Caramel Cookie Crunch Gelato,1442.0,4275.0,5717.0,0.252230,0.747770
Sicilian Pistachio,798.0,2348.0,3146.0,0.253655,0.746345
Strawberry Ice Cream,1627.0,4782.0,6409.0,0.253862,0.746138
Mediterranean Mint Gelato,1949.0,5707.0,7656.0,0.254572,0.745428
Birthday Cake Light Ice Cream,1405.0,4057.0,5462.0,0.257232,0.742768
Vanilla Bean Light Ice Cream,1318.0,3778.0,5096.0,0.258634,0.741366
Coffee Ice Cream,1020.0,2921.0,3941.0,0.258818,0.741182
Mint Chip,1531.0,4340.0,5871.0,0.260773,0.739227
Roman Raspberry Sorbetto,831.0,2348.0,3179.0,0.261403,0.738597
Chocolate Chip Cookie Dough Ice Cream,2251.0,6304.0,8555.0,0.263121,0.736879
Cabernet Sauvignon,1696.0,4656.0,6352.0,0.267003,0.732997
Mint Chocolate Chip Ice Cream,956.0,2622.0,3578.0,0.267188,0.732812
Coconut Almond Minis Frozen Dessert Bars,935.0,2525.0,3460.0,0.270231,0.729769
Pinot Noir,1126.0,2990.0,4116.0,0.273567,0.726433
Chocolate Peanut Butter Ice Cream,1004.0,2649.0,3653.0,0.274843,0.725157
Rising Crust Pepperoni Pizza,1063.0,2800.0,3863.0,0.275175,0.724825
Tahitian Vanilla Bean Gelato,1476.0,3859.0,5335.0,0.276664,0.723336