<a href="https://colab.research.google.com/github/donw385/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/module2-join-datasets/LS_DS_122_Join_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [0]:
import pandas as pd

In [3]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-01-16 19:09:22--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.128.29
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.128.29|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.2’

instacart_online_gr 100%[===================>] 196.03M  67.2MB/s    in 2.9s

2019-01-16 19:09:26 (67.2 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.2’ saved [205548478/205548478]

In [4]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [5]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [6]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [6]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

### departments

### order_products__prior

In [0]:
order_products_prior = pd.read_csv('order_products__prior.csv')

### order_products__train

In [0]:
order_products_train = pd.read_csv('order_products__train.csv')

### orders

In [0]:
orders = pd.read_csv('orders.csv')

### products

In [0]:
products = pd.read_csv('products.csv')

## Concatenate order_products__prior and order_products__train

In [17]:
#append columns, add, axis=1, but better to add axis = column

order_products = pd.concat([order_products_prior,order_products_train])

order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
#validate working properly

assert len(order_products) == len(order_products_prior) + len(order_products_train)

In [0]:
#validate columns
assert len(order_products.columns) == len(order_products_prior.columns) == len(order_products_train.columns)

## Get a subset of orders — the first two orders for user id 1

In [30]:
condition = (orders.user_id==1) & (orders.order_number <= 2)
columns = ['user_id', 'order_id','order_number','order_dow','order_hour_of_day']
subset = orders.loc[condition,columns]
subset.head()

   user_id  order_id  order_number  order_dow  order_hour_of_day
0        1   2539329             1          2                  8
1        1   2398795             2          3                  7

## Merge dataframes

In [0]:
columns =['order_id','add_to_cart_order','product_id']
merged = pd.merge(subset, order_products[columns], how='inner', on='order_id')

In [32]:
subset.shape, merged.shape

((2, 5), (11, 7))

In [33]:
merged['product_name'] = products['product_name']
merged.head()

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id,product_name
0,1,2539329,1,2,8,1,196,Chocolate Sandwich Cookies
1,1,2539329,1,2,8,2,14084,All-Seasons Salt
2,1,2539329,1,2,8,3,12427,Robust Golden Unsweetened Oolong Tea
3,1,2539329,1,2,8,4,26088,Smart Ones Classic Favorites Mini Rigatoni Wit...
4,1,2539329,1,2,8,5,26405,Green Chile Anytime Sauce

In [0]:
final = pd.merge(merged,products[['product_id','product_name']])
final = final.sort_values(by=['order_number', 'add_to_cart_order'])

In [0]:
final.columns = [column.replace('_', ' ') 
                 for column in final]

In [36]:
final.head()

Empty DataFrame
Columns: [user id, order id, order number, order dow, order hour of day, add to cart order, product id, product name]
Index: []

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
total = pd.merge(order_products, products)

In [38]:
total.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2,33120,1,1,Organic Egg Whites,86,16
1,26,33120,5,0,Organic Egg Whites,86,16
2,120,33120,13,0,Organic Egg Whites,86,16
3,327,33120,5,1,Organic Egg Whites,86,16
4,390,33120,28,1,Organic Egg Whites,86,16

In [39]:
total.shape, order_products.shape, products.shape

((33819106, 7), (33819106, 4), (49688, 4))

In [0]:
product_counts = total['product_name'].value_counts().sort_index()

In [41]:
#answer to assignment
product_counts.sort_values(ascending=False).head(10)

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

In [0]:
df = pd.merge(order_products[['order_id','product_id']],products[['product_id','product_name']])
df=pd.merge(df,orders[['order_id','order_hour_of_day']])

In [23]:
df.head()

(33819106, 4)

In [0]:
times_and_sales= (df.groupby('product_name').order_hour_of_day.agg(['mean','count']).rename(columns={'mean':'average time','count':'total sales'}))

In [25]:
times_and_sales.head()

                                        average time  total sales
product_name
#2 Coffee Filters                          13.330413          799
#2 Cone White Coffee Filters               12.000000           14
#2 Mechanical Pencils                      12.000000            9
#4 Natural Brown Coffee Filters            12.607287          247
& Go! Hazelnut Spread + Pretzel Sticks     13.229885          174

In [0]:
popular=times_and_sales[times_and_sales['total sales']>2900]

In [27]:
popular.sort_values(by='average time',ascending=False).head(25)

                                              average time  total sales
product_name
Half Baked Frozen Yogurt                         14.526986         2983
The Tonight Dough™ Ice Cream                     14.526299         3137
Americone Dream® Ice Cream                       14.394912         6447
Half Baked® Ice Cream                            14.388942         6222
Phish Food® Ice Cream                            14.373308         3177
Milk and Cookies Ice Cream                       14.369711         5223
Sicilian Pistachio                               14.306421         3146
Chocolate Peanut Butter Cup Gelato               14.303480         4511
Birthday Cake Light Ice Cream                    14.292018         5462
Cherry Garcia Ice Cream                          14.270300         4495
Strawberry Ice Cream                             14.268841         6409
Vanilla Bean Light Ice Cream                     14.257849         5096
Coffee Ice Cream                                 14.256280         3941
Roman Raspberry Sorbetto                         14.248191         3179
Mediterranean Mint Gelato                        14.233542         7656
Caramel Cookie Crunch Gelato                     14.224069         5717
Chocolate Chip Cookie Dough Ice Cream            14.204325         8555
Mint Chip                                        14.189235         5871
Coconut Almond Minis Frozen Dessert Bars         14.156069         3460
Mint Chocolate Chip Ice Cream                    14.134992         3578
Chocolate Peanut Butter Ice Cream                14.120449         3653
Vanilla Milk Chocolate Almond Ice Cream Bars     14.104662         4290
Sea Salt Caramel Gelato                          14.083895         6973
Vanilla Bean Ice Cream                           14.039406         4644
Rising Crust Pepperoni Pizza                     14.027699         3863