<a href="https://colab.research.google.com/github/jazzathoth/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/module4-make-features/LS_DS_124_Make_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-03-28 20:53:11--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [               <=>  ]  21.29M   895KB/s    in 25s

2019-03-28 20:53:37 (880 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22329081]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [3]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2386.02","2386.02","167.02","167.02","113.98","53.04","0.0","0.0","0.0","Feb-2019","84.92","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","29387.75","29387.75","1507.11","1507.11","612.25","894.86","0.0","0.0","0.0","Feb-2019","777.23","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4787.21","4787.21","353.89","353.89","212.79","141.10","0.0","0.0","0.0","Feb-2019","180.69","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 18.94%","146.51","D","D2","IT Supervisor","10+ years","MORTGAGE","92000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","985xx","WA","16.74","0","Feb-2006","0","","","10","0","5468","78.1%","13","w","3831.93","3831.93","286.71","286.71","168.07","118.64","0.0","0.0","0.0","Feb-2019","146.51","Mar-2019","Feb-2019","0","","1","Individual","","","","0","686","305049","1","5","3","5","5","30683","68","0","0","3761","70","7000","2","4","3","5","30505","1239","75.2","0","0","62","154","64","5","3","64","","5","","0","1","2","1","2","7","2","3","2","10","0","0","0","3","100","100","0","0","385183","36151","5000","44984","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 16.14%","731.78","C","C4","Mechanic","10+ years","MORTGAGE","57250","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","212xx","MD","26.35","0","Dec-2000","0","","","12","0","829","3.6%","26","w","29339.02","29339.02","1423.21","1423.21","660.98","762.23","0.0","0.0","0.0","Feb-2019","731.78","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","116007","3","5","3","5","4","28845","89","2","4","516","54","23100","1","0","0","9","9667","8471","8.9","0","0","53","216","2","2","2","2","","13","","0","2","2","3","8","9","6","15","2","12","0","0","0","5","92.3","0","0","0","157548","29674","9300","32332","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5550","5550","5550"," 36 months"," 15.02%","192.45","C","C3","Director COE","10+ years","MORTGAGE","152500","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","461xx","IN","37.94","0","Sep-2002","3","","","18","0","53854","48.1%","44","w","5302.50","5302.50","377.95","377.95","247.50","130.45","0.0","0.0","0.0","Feb-2019","192.45","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","685749","1","7","2","3","4","131524","72","1","4","17584","58","111900","2","4","6","8","40338","23746","64","0","0","195","176","10","4","6","20","","3","","0","4","6","6","10","23","9","15","7","18","0","0","0","4","100","60","0","0","831687","185378","65900","203159","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","2000","2000","2000"," 36 months"," 17.97%","72.28","D","D1","Account Manager","4 years","RENT","51000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","606xx","IL","2.4","0","Nov-2004","1","","","1","0","0","","9","w","1914.71","1914.71","141.56","141.56","85.29","56.27","0.0","0.0","0.0","Feb-2019","72.28","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","854","0","0","2","3","7","0","","0","1","0","100","0","0","0","1","4","854","","","0","0","169","40","23","7","0","","","1","","0","0","0","0","3","5","0","3","0","1","0","0","0","2","100","","0","0","854","854","0","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","6000","6000","6000"," 36 months"," 13.56%","203.79","C","C1","Assistant Director","10+ years","RENT","65000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","460xx","IN","30.1","0","Nov-1997","0","","","19","0","38476","69.3%","37","w","5864.01","5864.01","201.53","201.53","135.99","65.54","0.0","0.0","0.0","Feb-2019","208.31","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","91535","0","5","0","1","23","53059","87","0","2","9413","74","55500","1","2","0","3","5085","3034","90.8","0","0","169","253","13","13","1","14","","13","","0","7","12","8","10","15","14","20","12","19","0","0","0","0","100","85.7","0","0","117242","91535","33100","61742","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""

In [4]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","5083.61","5083.61","750.29","750.29","516.39","233.90","0.0","0.0","0.0","Feb-2019","190.21","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","9096.85","9096.85","1378.7","1378.70","903.15","475.55","0.0","0.0","0.0","Feb-2019","346.76","Mar-2019","Feb-2019","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","4538.94","4538.94","675.55","675.55","461.06","214.49","0.0","0.0","0.0","Feb-2019","169.83","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","9044.84","8818.72","1295.36","1262.98","955.16","340.20","0.0","0.0","0.0","Feb-2019","327.68","Mar-2019","Feb-2019","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","9120.98","9120.98","1414.93","1414.93","879.02","535.91","0.0","0.0","0.0","Feb-2019","356.08","Mar-2019","Feb-2019","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

In [5]:
!ls ../content

LoanStats_2018Q4.csv  LoanStats_2018Q4.csv.zip	sample_data

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv', 
                 skiprows=1, 
                 skipfooter=2, 
                 engine='python')

In [0]:
pd.options.display.max_rows = 500
pd.options.display.max_columns = 500

In [8]:
df.shape

(128412, 145)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128412 entries, 0 to 128411
Columns: 145 entries, id to settlement_term
dtypes: float64(57), int64(51), object(37)
memory usage: 142.1+ MB

In [10]:
df.isnull().sum()

id                                            128412
member_id                                     128412
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      20947
emp_length                                     11704
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                           128412
desc                                          128412
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                              237
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                         72196
mths_since_last_record                        112962
open_acc                                           0
pub_rec                                            0
revol_bal                                          0
revol_util                                       156
total_acc                                          0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
total_rec_int                                      0
total_rec_late_fee                                 0
recoveries                                         0
collection_recovery_fee                            0
last_pymnt_d                                     162
last_pymnt_amnt                                    0
next_pymnt_d                                    3471
last_credit_pull_d                                 1
collections_12_mths_ex_med                         0
mths_since_last_major_derog                    99232
policy_code                                        0
application_type                                   0
annual_inc_joint                              111630
dti_joint                                     111630
verification_status_joint                     113564
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
open_il_24m                                        0
mths_since_rcnt_il                              4478
total_bal_il                                       0
il_util                                        20274
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
all_util                                          37
total_rev_hi_lim                                   0
inq_fi                                             0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
avg_cur_bal                                       13
bc_open_to_buy                                  1691
bc_util                                         1754
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_il_acct                              4478
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
mths_since_recent_bc                            1591
mths_since_recent_bc_dlq                      103243
mths_since_recent_inq                          16047
mths_since_recent_revol_delinq                 91630
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_120dpd_2m                                2859
num_tl_30dpd                                       0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
percent_bc_gt_75                                1692
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
sec_app_revol_util                            111888
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_chargeoff_within_12_mths              111630
sec_app_collections_12_mths_ex_med            111630
sec_app_mths_since_last_major_derog           123258
hardship_flag                                      0
hardship_type                                 128411
hardship_reason                               128411
hardship_status                               128411
deferral_term                                 128411
hardship_amount                               128411
hardship_start_date                           128411
hardship_end_date                             128411
payment_plan_start_date                       128411
hardship_length                               128411
hardship_dpd                                  128411
hardship_loan_status                          128411
orig_projected_additional_accrued_interest    128411
hardship_payoff_balance_amount                128411
hardship_last_payment_amount                  128411
disbursement_method                                0
debt_settlement_flag                               0
debt_settlement_flag_date                     128410
settlement_status                             128410
settlement_date                               128410
settlement_amount                             128410
settlement_percentage                         128410
settlement_term                               128410
dtype: int64

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [11]:
df.describe(exclude='number')

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,128412,128412,128412,128412,107465,116708,128412,128412,128412,128412,128412,128412,128412,128412,128412,128412,128256,128412,128250,124941,128411,128412,14848,16782,128412,1,1,1,1,1,1,1,128412,128412,2,2,2
unique,2,46,7,35,43892,11,4,3,3,6,2,12,12,880,50,644,1074,2,5,3,7,2,3,573,2,1,1,1,1,1,1,1,2,2,1,1,1
top,36 months,13.56%,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Oct-2018,Current,n,debt_consolidation,Debt consolidation,112xx,CA,Aug-2006,0%,w,Feb-2019,Mar-2019,Feb-2019,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,Feb-2019,Apr-2019,Feb-2019,Late (16-30 days),Cash,N,Feb-2019,ACTIVE,Feb-2019
freq,88179,6976,38011,9770,2090,38826,63490,58350,46305,123768,128411,70603,70603,1370,17879,1130,1132,114498,123797,124903,125061,111630,6360,155,128411,1,1,1,1,1,1,1,102516,128410,2,2,2

In [12]:
type(df['int_rate'].str.strip('%').astype(float))

pandas.core.series.Series

In [0]:
df['int_rate'] = df['int_rate'].str.strip('%').astype(float)

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [14]:
string= '13.56%'

def remove_percent(string):
  return(float(string.strip('%')))
remove_percent(string)

13.56

Apply the function to the `int_rate` column

In [0]:
df['int_rate'].apply(remove_percent)

### Clean `emp_title`

Look at top 20 titles

In [18]:
df['emp_title'].value_counts().head(20)

Teacher                     2090
Manager                     1773
Registered Nurse             952
Driver                       924
RN                           726
Supervisor                   697
Sales                        580
Project Manager              526
General Manager              523
Office Manager               521
Owner                        420
Director                     402
Truck Driver                 387
Operations Manager           387
Nurse                        326
Engineer                     325
Sales Manager                304
manager                      301
Supervisor                   270
Administrative Assistant     269
Name: emp_title, dtype: int64

How often is `emp_title` null?

In [19]:
df['emp_title'].isnull().sum()

20947

Clean the title and handle missing values

In [20]:
import numpy as np
examples = ['owner', 'Supervisor ',
           ' Project Manager', np.nan]

def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return 'Unknown'

[clean_title(x) for x in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

In [22]:
df['emp_title'].head(10)

0                   Chef
1             Postmaster
2         Administrative
3          It Supervisor
4               Mechanic
5           Director Coe
6        Account Manager
7     Assistant Director
8    Legal Assistant Iii
9                Unknown
Name: emp_title, dtype: object

In [23]:
df['emp_title'].value_counts(ascending=False)

Unknown                                     20947
Teacher                                      2557
Manager                                      2395
Registered Nurse                             1418
Driver                                       1258
Supervisor                                   1160
Truck Driver                                  920
Rn                                            834
Office Manager                                805
Sales                                         803
General Manager                               791
Project Manager                               720
Owner                                         625
Director                                      523
Operations Manager                            518
Sales Manager                                 500
Police Officer                                440
Nurse                                         425
Technician                                    420
Engineer                                      412
Administrative Assistant                      409
Store Manager                                 398
Mechanic                                      391
Assistant Manager                             383
Server                                        357
Account Manager                               355
Vice President                                352
Accountant                                    335
Electrician                                   302
Foreman                                       302
President                                     293
Machine Operator                              284
Customer Service                              283
Executive Assistant                           278
Branch Manager                                267
Operator                                      267
Attorney                                      264
Maintenance                                   254
Paralegal                                     249
Superintendent                                248
Bartender                                     237
Program Manager                               226
Software Engineer                             221
Cashier                                       215
Analyst                                       214
Medical Assistant                             212
Machinist                                     209
Cook                                          200
Cna                                           196
Sales Associate                               191
Controller                                    187
Service Manager                               186
Lpn                                           185
Clerk                                         184
Laborer                                       183
Director Of Operations                        179
Nurse Practitioner                            176
Executive Director                            174
Security Officer                              172
Administrator                                 171
Business Analyst                              169
Account Executive                             168
Social Worker                                 165
Secretary                                     164
Carpenter                                     162
Bookkeeper                                    161
Welder                                        159
Custodian                                     157
District Manager                              157
Principal                                     153
Ceo                                           151
Case Manager                                  150
Receptionist                                  149
Production Manager                            149
Sales Representative                          140
Consultant                                    140
Professor                                     140
Property Manager                              136
Correctional Officer                          135
Customer Service Representative               131
Legal Assistant                               131
Chef                                          129
Physician                                     129
Loan Officer                                  128
Associate                                     127
Finance Manager                               125
It Manager                                    123
Flight Attendant                              123
Dental Assistant                              120
Dental Hygienist                              120
Pharmacist                                    119
Financial Advisor                             119
Financial Analyst                             116
Bus Driver                                    116
Accounting Manager                            115
Caregiver                                     114
Dispatcher                                    112
Sales Rep                                     112
Delivery Driver                               111
Firefighter                                   108
Software Developer                            108
Senior Manager                                107
Service Technician                            107
Business Manager                              107
Sales Consultant                              106
Respiratory Therapist                         105
Warehouse Manager                             105
Pharmacy Technician                           105
Officer                                       101
Instructor                                    100
Plumber                                        99
Team Leader                                    98
Customer Service Rep                           98
Tech                                           96
Special Education Teacher                      93
Material Handler                               93
Staff Accountant                               92
Painter                                        92
Pilot                                          92
Production                                     92
Marketing Manager                              92
Maintenance Supervisor                         90
Assistant Store Manager                        89
Department Manager                             88
Accounting                                     88
Agent                                          88
Warehouse                                      87
Security                                       86
Underwriter                                    86
Counselor                                      86
Paramedic                                      86
Physical Therapist                             85
Production Supervisor                          85
Management                                     85
Regional Manager                               84
Realtor                                        84
Deputy Sheriff                                 84
Insurance Agent                                84
Bus Operator                                   81
Area Manager                                   81
Operations Supervisor                          80
Service Advisor                                80
Pastor                                         80
Hr Manager                                     79
Project Coordinator                            79
Managing Director                              79
Csr                                            78
Buyer                                          78
Systems Engineer                               78
Inspector                                      77
Installer                                      77
Educator                                       76
Assembler                                      76
Senior Accountant                              76
Maintenance Technician                         76
Assistant Principal                            76
Regional Sales Manager                         75
Plant Manager                                  74
Conductor                                      74
Banker                                         73
Letter Carrier                                 73
Equipment Operator                             73
Personal Banker                                72
Legal Secretary                                72
Estimator                                      72
Auditor                                        71
Assistant Professor                            71
Teller                                         71
Physician Assistant                            71
Product Manager                                71
Captain                                        70
Recruiter                                      70
Senior Software Engineer                       70
It Specialist                                  69
Inside Sales                                   69
Coordinator                                    69
Cfo                                            69
Assistant Director                             68
Designer                                       68
Office Assistant                               68
Housekeeping                                   68
Corrections Officer                            67
Senior Project Manager                         67
Business Development Manager                   67
Service Tech                                   67
Project Engineer                               66
Investigator                                   66
Partner                                        66
Network Engineer                               65
Salesman                                       65
Vp                                             65
Heavy Equipment Operator                       64
Correction Officer                             64
Automotive Technician                          64
Labor                                          63
Admin                                          62
Territory Manager                              61
Waitress                                       61
Director Of Sales                              60
Deputy                                         60
Nursing Assistant                              60
Team Lead                                      59
Customer Service Manager                       59
Lieutenant                                     59
Sales Director                                 58
Sergeant                                       58
Data Analyst                                   58
Administration                                 58
Warehouse Supervisor                           58
School Counselor                               57
Program Director                               57
Occupational Therapist                         57
Parts Manager                                  57
Systems Analyst                                57
Maintenance Tech                               56
Housekeeper                                    56
Forklift Operator                              56
Pharmacy Tech                                  56
Quality Manager                                56
Mail Carrier                                   56
Senior Consultant                              55
Quality Control                                55
Security Guard                                 55
Human Resources                                55
Executive Chef                                 55
Maintenance Manager                            54
Maintenance Mechanic                           54
Warehouse Associate                            53
Senior Vice President                          53
Senior Associate                               53
Paraprofessional                               53
School Bus Driver                              52
Electrical Engineer                            52
Phlebotomist                                   52
Program Coordinator                            52
Accounting Clerk                               51
Graphic Designer                               51
Program Analyst                                51
Coo                                            50
Associate Professor                            50
Gm                                             50
Human Resources Manager                        49
Office Administrator                           49
Medical Technologist                           49
Teacher/Coach                                  49
Claims Adjuster                                49
Marketing Director                             49
Waiter                                         48
Care Giver                                     48
Radiologic Technologist                        48
                                            ...
Senior Branch Manager Vice President            1
Maintenance/Operator                            1
Business Banking                                1
Platesaw Operator                               1
Delevery Driver                                 1
Sr Sales Representative                         1
Utility 2                                       1
Cork                                            1
Manager, Installations                          1
Wise Care Coordinator                           1
Colour Advisor                                  1
Sr. Social Systems Analyst                      1
Software Quality Assurance Analyst              1
Customer Service Coordinator Operations         1
Senior Arts Director                            1
Trust Fund Specialist                           1
Juvenile Corrections Agent                      1
Pellet Operator                                 1
Global Commodity Leader                         1
Lead Support Specialist                         1
Ast Officer                                     1
Onsite                                          1
Operator 5                                      1
Director Dietary Services                       1
Senior Escrow Asst                              1
Sr Project Cost Estimator                       1
Utilization Review Coordinator                  1
Debit Card Fraud Investigator                   1
Director Of Programming                         1
Director Of Audio Visual Services               1
Sales Effectiveness Lead                        1
Sr Aircraft Specialist                          1
General Machines                                1
Construction Engineer 12N                       1
Senior Data Consultant                          1
Manager - Server Operations                     1
Manager - Business Applications                 1
Railroad Construction Manager                   1
School Psych./Behavioral Specialist             1
Director/Forensic Interviewer                   1
Senior Technical Representative                 1
Sr. Dba                                         1
Proposals Manager                               1
Cadet                                           1
Team Sales Manager                              1
Dock Lead                                       1
Facility Consultant                             1
Parts Rep                                       1
Director - Global Operations                    1
Library Tech                                    1
Public Services Supervisor                      1
Budget Analysts                                 1
Process Laboratory Technician                   1
Technical Administrative Assistant              1
Sr. Sales Director                              1
Imaging Tech                                    1
Correctional Food Service Supervisor            1
Executive Director Branch Manager               1
Leader Operator                                 1
Adminstrative Specialist                        1
Casino Poker Dealer                             1
Master Welder                                   1
Eviction Coordinator                            1
Sr Advisor - National Direct Mktg               1
Maintenance Process Coach                       1
Loss Prevention Assistant                       1
Project Specialist Exteriors                    1
Project Superintend                             1
Horse'S Trainer                                 1
Salesforce Admin                                1
Speech/ Language Pathologist                    1
Client Relations Representative                 1
Director Grants Accounting                      1
Journeyman Sub Tech                             1
Supt                                            1
Office Manager, R.D.A.                          1
Community Laision                               1
Owner/Realtor                                   1
Sr. Production Manager                          1
Sr. Network Admin                               1
Senior Uc Engineer                              1
Senior Pastor'S Secretary                       1
Eye Care Assistant                              1
Crash Data Specialist                           1
Truck Driver/Warehouse                          1
Analysis                                        1
Marketing And Events Designer                   1
Software Engineer, Sr                           1
Project Accountant Ii                           1
Network Security Specialist                     1
Campuss Police Officer                          1
Accounting Administrative                       1
C.O.O.                                          1
Customer Service And Securiry Specialist        1
Cyber Risk Consultant                           1
It / Online Operations                          1
Mgr Of Forensic Accounting & Litigation         1
Private                                         1
Server/Sommelier                                1
Paln Oprations                                  1
Hris Leader - Governance And Total Rewar        1
Senior Fx Technical Director                    1
Office Receptionist And Assistant               1
Fiscal Director                                 1
Therapeutic Recreator                           1
Process Expert Ii                               1
Microstrategy Architect                         1
Quality Controls (Inspector)                    1
Dough Prepper                                   1
Business Intelligence Specialist                1
Lead Facility Attendant                         1
Graduate Researcher                             1
Supervising Veterinarian                        1
Wall Laborer                                    1
Companion/Personal Assistant                    1
Program Coordinator Ii                          1
Vocational Services Manager                     1
Fms Analyst                                     1
Md, Physician                                   1
Supervising Child Support Officer               1
Fraccommand Applications Specialist             1
Specialist E-4                                  1
Assistant Food Server                           1
Mvle                                            1
Contract Payor Specialist                       1
Vice President, External Relations              1
Level Ii Drafter                                1
Nde Business Development                        1
Lnp Agent                                       1
Miscellaneous Equipment Operator                1
Area Superintendent                             1
Auto Glass Technician                           1
Junior Interior Designer                        1
Policy Manager                                  1
Senior Atm Technician                           1
Router                                          1
Genetal Manager                                 1
Associate Athletic Trainer                      1
V.P. Sales                                      1
Housing Advisor                                 1
Lead Technologist                               1
Electrical Tester                               1
Manager, Network Tools And Automation           1
Rn Administrator / Regional Manager             1
Durability Test Technician                      1
Management Information Specialist               1
Account Payable/Accounts Receivable             1
Adm.                                            1
Warehouse Logistics                             1

In [24]:
df['emp_title'].isnull().sum()

0

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')

In [26]:
df.shape

(128412, 146)

In [27]:
df['emp_title_manager'].value_counts(normalize=True)

False    0.860745
True     0.139255
Name: emp_title_manager, dtype: float64

In [28]:
df.groupby('emp_title_manager')['int_rate'].mean()

emp_title_manager
False    12.958054
True     12.761840
Name: int_rate, dtype: float64

In [29]:
# % data missing

df.isnull().sum().sort_values(ascending=False) / len(df)

id                                            1.000000
member_id                                     1.000000
url                                           1.000000
desc                                          1.000000
hardship_length                               0.999992
hardship_amount                               0.999992
hardship_type                                 0.999992
hardship_reason                               0.999992
hardship_status                               0.999992
hardship_last_payment_amount                  0.999992
hardship_payoff_balance_amount                0.999992
orig_projected_additional_accrued_interest    0.999992
hardship_loan_status                          0.999992
hardship_dpd                                  0.999992
deferral_term                                 0.999992
payment_plan_start_date                       0.999992
hardship_end_date                             0.999992
hardship_start_date                           0.999992
settlement_date                               0.999984
settlement_percentage                         0.999984
settlement_term                               0.999984
settlement_amount                             0.999984
debt_settlement_flag_date                     0.999984
settlement_status                             0.999984
sec_app_mths_since_last_major_derog           0.959864
verification_status_joint                     0.884372
mths_since_last_record                        0.879684
sec_app_revol_util                            0.871320
sec_app_earliest_cr_line                      0.869311
annual_inc_joint                              0.869311
dti_joint                                     0.869311
revol_bal_joint                               0.869311
sec_app_collections_12_mths_ex_med            0.869311
sec_app_inq_last_6mths                        0.869311
sec_app_mort_acc                              0.869311
sec_app_open_acc                              0.869311
sec_app_open_act_il                           0.869311
sec_app_num_rev_accts                         0.869311
sec_app_chargeoff_within_12_mths              0.869311
mths_since_recent_bc_dlq                      0.803998
mths_since_last_major_derog                   0.772763
mths_since_recent_revol_delinq                0.713563
mths_since_last_delinq                        0.562222
il_util                                       0.157882
mths_since_recent_inq                         0.124965
emp_length                                    0.091144
mths_since_rcnt_il                            0.034872
mo_sin_old_il_acct                            0.034872
next_pymnt_d                                  0.027030
num_tl_120dpd_2m                              0.022264
bc_util                                       0.013659
percent_bc_gt_75                              0.013176
bc_open_to_buy                                0.013169
mths_since_recent_bc                          0.012390
dti                                           0.001846
last_pymnt_d                                  0.001262
revol_util                                    0.001215
all_util                                      0.000288
avg_cur_bal                                   0.000101
last_credit_pull_d                            0.000008
loan_status                                   0.000000
total_pymnt                                   0.000000
int_rate                                      0.000000
out_prncp_inv                                 0.000000
installment                                   0.000000
total_pymnt_inv                               0.000000
total_rec_late_fee                            0.000000
total_rec_prncp                               0.000000
total_rec_int                                 0.000000
initial_list_status                           0.000000
recoveries                                    0.000000
collection_recovery_fee                       0.000000
term                                          0.000000
funded_amnt_inv                               0.000000
funded_amnt                                   0.000000
last_pymnt_amnt                               0.000000
loan_amnt                                     0.000000
out_prncp                                     0.000000
grade                                         0.000000
total_acc                                     0.000000
revol_bal                                     0.000000
verification_status                           0.000000
purpose                                       0.000000
title                                         0.000000
zip_code                                      0.000000
addr_state                                    0.000000
annual_inc                                    0.000000
home_ownership                                0.000000
delinq_2yrs                                   0.000000
earliest_cr_line                              0.000000
inq_last_6mths                                0.000000
emp_title                                     0.000000
sub_grade                                     0.000000
open_acc                                      0.000000
pub_rec                                       0.000000
pymnt_plan                                    0.000000
issue_d                                       0.000000
emp_title_manager                             0.000000
collections_12_mths_ex_med                    0.000000
policy_code                                   0.000000
num_actv_rev_tl                               0.000000
num_bc_sats                                   0.000000
num_bc_tl                                     0.000000
num_il_tl                                     0.000000
num_op_rev_tl                                 0.000000
num_rev_accts                                 0.000000
num_rev_tl_bal_gt_0                           0.000000
num_sats                                      0.000000
num_tl_30dpd                                  0.000000
num_tl_90g_dpd_24m                            0.000000
num_tl_op_past_12m                            0.000000
pct_tl_nvr_dlq                                0.000000
pub_rec_bankruptcies                          0.000000
tax_liens                                     0.000000
tot_hi_cred_lim                               0.000000
total_bal_ex_mort                             0.000000
total_bc_limit                                0.000000
total_il_high_credit_limit                    0.000000
hardship_flag                                 0.000000
disbursement_method                           0.000000
debt_settlement_flag                          0.000000
num_actv_bc_tl                                0.000000
num_accts_ever_120_pd                         0.000000
mort_acc                                      0.000000
open_rv_12m                                   0.000000
application_type                              0.000000
acc_now_delinq                                0.000000
tot_coll_amt                                  0.000000
tot_cur_bal                                   0.000000
open_acc_6m                                   0.000000
open_act_il                                   0.000000
open_il_12m                                   0.000000
open_il_24m                                   0.000000
total_bal_il                                  0.000000
open_rv_24m                                   0.000000
mo_sin_rcnt_tl                                0.000000
max_bal_bc                                    0.000000
total_rev_hi_lim                              0.000000
inq_fi                                        0.000000
inq_last_12m                                  0.000000
acc_open_past_24mths                          0.000000
chargeoff_within_12_mths                      0.000000
delinq_amnt                                   0.000000
mo_sin_old_rev_tl_op                          0.000000
mo_sin_rcnt_rev_tl_op                         0.000000
total_cu_tl                                   0.000000
dtype: float64

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [30]:
df['issue_d'].head().values

array(['Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018'],
      dtype=object)

In [31]:
df['issue_d'].describe()

count       128412
unique           3
top       Oct-2018
freq         46305
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [33]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [34]:
df['issue_d'].describe()

count                  128412
unique                      3
top       2018-10-01 00:00:00
freq                    46305
first     2018-10-01 00:00:00
last      2018-12-01 00:00:00
Name: issue_d, dtype: object

In [35]:
df['issue_d'].dt.month.value_counts()

10    46305
11    41973
12    40134
Name: issue_d, dtype: int64

In [0]:
df['issue_month'] = df['issue_d'].dt.month
df['issue_year'] = df['issue_d'].dt.year

In [37]:
df.shape

(128412, 148)

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [39]:
df['earliest_cr_line'].head()

0   2001-04-01
1   1987-06-01
2   2011-04-01
3   2006-02-01
4   2000-12-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [0]:
df['days_since_first_credit_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

In [41]:
df['days_since_first_credit_issue'].describe()

count    128412.000000
mean       5859.891490
std        2886.535578
min        1126.000000
25%        4049.000000
50%        5266.000000
75%        7244.000000
max       25171.000000
Name: days_since_first_credit_issue, dtype: float64

In [42]:
df['days_since_first_credit_issue']

0          6453
1         11506
2          2801
3          4686
4          6574
5          5935
6          5143
7          7700
8          7427
9          6088
10         4232
11         5479
12         5662
13         3713
14        10380
15        10957
16         5844
17         2983
18         4901
19         6512
20         5113
21         6270
22         5570
23         5174
24         3013
25         7001
26         4232
27         7973
28         8735
29         4870
30         4870
31         4992
32         4809
33         4413
34         7031
35         4474
36         8157
37         1310
38         6970
39         7305
40        10714
41         4686
42         2435
43         2282
44         2891
45         1979
46         4901
47         2648
48         7062
49         9862
50         4048
51         4079
52        11841
53         1491
54         8645
55         9649
56         4505
57        11018
58         5051
59         5966
60         5540
61         5357
62         4870
63         2435
64         4201
65        10349
66        10227
67         7823
68         4079
69        11048
70         3743
71         7243
72         4262
73         5235
74         4383
75         4474
76         4293
77         4444
78         1614
79         4962
80         5113
81         4444
82         8584
83         1736
84         5782
85         5935
86         4140
87         8188
88         1491
89        10196
90         7427
91        11048
92         3774
93         4018
94         3774
95         7761
96         6909
97         5082
98         4321
99         4748
100        2526
101        5174
102        7670
103        3562
104       10836
105        4566
106        1795
107        3470
108        4901
109       15920
110        1705
111        8096
112        5479
113        4232
114        7215
115        8766
116        3987
117        1705
118        7093
119        1764
120        6635
121        3044
122        9406
123        3501
124        9253
125        7670
126        7519
127        7396
128        2679
129       12448
130        6818
131        4870
132        5143
133        5723
134        4201
135        5693
136        8339
137        8370
138        5782
139        2891
140        5023
141        5570
142        6331
143        6635
144        2618
145       16346
146        4171
147        7608
148        4717
149        4658
150        5601
151        2801
152        3470
153        5174
154        3987
155        5327
156        1856
157        3621
158        5143
159        6331
160        5570
161        4383
162        4474
163        4293
164        6178
165       12509
166        4171
167        3075
168        6178
169        4079
170        7243
171        7580
172       10045
173        4262
174        8126
175        4474
176        9953
177        8645
178        7670
179        5113
180        7001
181        3621
182        8126
183        7580
184        2282
185       10137
186        5479
187        7396
188        2679
189        3044
190        7184
191        3409
192        5113
193        4079
194        6239
195        5113
196        5023
197        4627
198        7243
199        3287
200        4992
201       11718
202        5448
203        5874
204        8857
205        8157
206        5235
207        6849
208        1279
209        2070
210        6665
211        6453
212       14428
213       10592
214        4901
215        7731
216        6696
217       11445
218        4171
219        3713
220       10015
221       11201
222        1522
223        4413
224        1522
225        5997
226        3378
227        3136
228        6270
229        1522
230       12144
231        5174
232       10165
233        5509
234        7215
235        3197
236        4232
237        4962
238        4079
239        3075
240        8554
241        7731
242        6453
243        6818
244        8827
245       11476
246        3348
247        8004
248        5479
249        9192
          ...
128162     6757
128163    10380
128164     7032
128165    12876
128166     3348
128167     5479
128168     9649
128169     4232
128170     6117
128171    13210
128172     4079
128173     7032
128174     1249
128175     4232
128176     6940
128177     6239
128178     6970
128179     3805
128180     4260
128181     2922
128182     4901
128183     2618
128184     5296
128185     4505
128186     4110
128187    10684
128188     6788
128189    12387
128190     4717
128191     4840
128192     4079
128193     3529
128194     6270
128195     4444
128196     7366
128197     5296
128198     5235
128199     7032
128200     3866
128201     5327
128202     3652
128203    10561
128204     6178
128205     3774
128206     4079
128207     1675
128208     7305
128209     4931
128210     4625
128211     4748
128212    10227
128213     6239
128214     5356
128215     6574
128216     6543
128217     3075
128218     3682
128219     6086
128220     3256
128221     4505
128222     4809
128223     8218
128224     8035
128225     5966
128226     3744
128227     6696
128228     4840
128229     4717
128230     7912
128231     4536
128232     6148
128233    14671
128234     7244
128235     5601
128236     6909
128237     4291
128238     8249
128239     8157
128240     4140
128241    14214
128242     4444
128243     5693
128244     7670
128245     3866
128246     4232
128247     5143
128248     6574
128249     6117
128250    12326
128251     4140
128252     7001
128253     4444
128254     5509
128255     5387
128256     2679
128257    12295
128258     5783
128259     5052
128260     4110
128261     7943
128262    16375
128263     7609
128264    10745
128265     6848
128266     1887
128267     2830
128268     9801
128269     4840
128270     6178
128271     3744
128272     5540
128273     9526
128274     6543
128275     8858
128276     3591
128277     5721
128278     4809
128279     7274
128280     5540
128281    11841
128282     5601
128283     5479
128284     5082
128285     4990
128286     2587
128287    10410
128288     5693
128289     4140
128290     8705
128291     5113
128292     9070
128293     7943
128294     9223
128295     4990
128296    12723
128297     8004
128298     5082
128299     7305
128300     7274
128301    10745
128302     9710
128303     2374
128304     3164
128305     2434
128306     4656
128307     7700
128308     6848
128309     8584
128310    11596
128311    16254
128312     4778
128313     7335
128314     5509
128315     7700
128316     1369
128317     7032
128318     3591
128319     5721
128320     3195
128321     8401
128322     6086
128323     5418
128324     8309
128325     5235
128326     4352
128327     3195
128328     6970
128329     5174
128330     3529
128331     8218
128332     4778
128333     8523
128334     2891
128335     3713
128336     3774
128337     6940
128338     4444
128339     4840
128340     6909
128341     1675
128342     6788
128343     5540
128344     5752
128345     1310
128346    11657
128347     4597
128348    13422
128349     6513
128350     8278
128351     3744
128352     4383
128353     8004
128354    14275
128355     3226
128356    11231
128357     6331
128358     7792
128359     8766
128360     6482
128361     2130
128362     7001
128363     4110
128364     4566
128365    11506
128366     3195
128367     8431
128368     3560
128369     7213
128370     7912
128371     8401
128372     4870
128373     7823
128374     7274
128375     2313
128376    10622
128377     5448
128378     4962
128379     5540
128380     9923
128381     2861
128382     2557
128383     7032
128384     6178
128385     4048
128386     6848
128387     6757
128388     2952
128389     9070
128390     4990
128391     7062
128392     5327
128393     4505
128394     7853
128395     4505
128396    10045
128397     7123
128398     3987
128399     5601
128400     6209
128401     5418
128402     1279
128403     4748
128404     5448
128405    11506
128406     2252
128407    12114
128408    13241
128409     4505
128410     3652
128411     4413
Name: days_since_first_credit_issue, Length: 128412, dtype: int64

In [43]:
# find all columns with date/time content

[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
for col in ['last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
  df[col] = pd.to_datetime(df[col], infer_datetime_format=True)

In [45]:
df.describe(include='datetime')

,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
count,128412,128412,128250,124941,128411
unique,3,644,5,3,7
top,2018-10-01 00:00:00,2006-08-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-02-01 00:00:00
freq,46305,1130,123797,124903,125061
first,2018-10-01 00:00:00,1950-01-01 00:00:00,2018-10-01 00:00:00,2019-02-01 00:00:00,2018-08-01 00:00:00
last,2018-12-01 00:00:00,2015-11-01 00:00:00,2019-02-01 00:00:00,2019-04-01 00:00:00,2019-02-01 00:00:00

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
# Converting 'term' column to int by removing "months" and converting to int
df['term'] = (df['term']
              .str
              .replace('months', '')
              .astype(int))

In [61]:
# Check that it worked:
df['term'].dtypes

dtype('int64')

In [62]:
df['term'].value_counts()

36    88179
60    40233
Name: term, dtype: int64

In [63]:
df['loan_status'].value_counts()

Current               123768
Fully Paid              3438
Late (31-120 days)       509
In Grace Period          441
Late (16-30 days)        223
Charged Off               33
Name: loan_status, dtype: int64

In [73]:
(df['loan_status'] == 'Fully Paid').value_counts()

False    124974
True       3438
Name: loan_status, dtype: int64

In [78]:
status_condition = ((df['loan_status'] == 'Fully Paid') | 
                    (df['loan_status'] == 'Current'))

df.loc[status_condition].head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_month,issue_year,days_since_first_credit_issue
0,NaN,NaN,2500,2500,2500.0,36,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,2001-04-01,1,NaN,45.0,9,1,4341,10.3%,34,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,2019-02-01,84.92,2019-03-01,2019-02-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,12,2018,6453
1,NaN,NaN,30000,30000,30000.0,60,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,1987-06-01,0,71.0,75.0,13,1,12315,24.2%,44,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,2019-02-01,777.23,2019-03-01,2019-02-01,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,12,2018,11506
2,NaN,NaN,5000,5000,5000.0,36,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,2011-04-01,0,NaN,NaN,8,0,4599,19.1%,13,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.0,0.0,0.0,2019-02-01,180.69,2019-03-01,2019-02-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,12,2018,2801
3,NaN,NaN,4000,4000,4000.0,36,18.94,146.51,D,D2,It Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,985xx,WA,16.74,0,2006-02-01,0,NaN,NaN,10,0,5468,78.1%,13,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.0,0.0,0.0,2019-02-01,146.51,2019-03-01,2019-02-01,0,NaN,1,Individual,NaN,NaN,NaN,0,686,305049,1,5,3,5,5.0,30683,68.0,0,0,3761,70.0,7000,2,4,3,5,30505.0,1239.0,75.2,0,0,62.0,154,64,5,3,64.0,NaN,5.0,NaN,0,1,2,1,2,7,2,3,2,10,0.0,0,0,3,100.0,100.0,0,0,385183,36151,5000,44984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,12,2018,4686
4,NaN,NaN,30000,30000,30000.0,60,16.14,731.78,C,C4,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,26.35,0,2000-12-01,0,NaN,NaN,12,0,829,3.6%,26,w,29339.02,29339.02,1423.21,1423.21,660.98,762.23,0.0,0.0,0.0,2019-02-01,731.78,2019-03-01,2019-02-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,116007,3,5,3,5,4.0,28845,89.0,2,4,516,54.0,23100,1,0,0,9,9667.0,8471.0,8.9,0,0,53.0,216,2,2,2,2.0,NaN,13.0,NaN,0,2,2,3,8,9,6,15,2,12,0.0,0,0,5,92.3,0.0,0,0,157548,29674,9300,32332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,12,2018,6574

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01