<a href="https://colab.research.google.com/github/Granero0011/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/module4-make-features/LS_DS_124_Make_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-03-28 20:07:11--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [       <=>          ]  21.29M  1.66MB/s    in 13s

2019-03-28 20:07:24 (1.64 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22329081]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [3]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2386.02","2386.02","167.02","167.02","113.98","53.04","0.0","0.0","0.0","Feb-2019","84.92","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","29387.75","29387.75","1507.11","1507.11","612.25","894.86","0.0","0.0","0.0","Feb-2019","777.23","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4787.21","4787.21","353.89","353.89","212.79","141.10","0.0","0.0","0.0","Feb-2019","180.69","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 18.94%","146.51","D","D2","IT Supervisor","10+ years","MORTGAGE","92000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","985xx","WA","16.74","0","Feb-2006","0","","","10","0","5468","78.1%","13","w","3831.93","3831.93","286.71","286.71","168.07","118.64","0.0","0.0","0.0","Feb-2019","146.51","Mar-2019","Feb-2019","0","","1","Individual","","","","0","686","305049","1","5","3","5","5","30683","68","0","0","3761","70","7000","2","4","3","5","30505","1239","75.2","0","0","62","154","64","5","3","64","","5","","0","1","2","1","2","7","2","3","2","10","0","0","0","3","100","100","0","0","385183","36151","5000","44984","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 16.14%","731.78","C","C4","Mechanic","10+ years","MORTGAGE","57250","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","212xx","MD","26.35","0","Dec-2000","0","","","12","0","829","3.6%","26","w","29339.02","29339.02","1423.21","1423.21","660.98","762.23","0.0","0.0","0.0","Feb-2019","731.78","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","116007","3","5","3","5","4","28845","89","2","4","516","54","23100","1","0","0","9","9667","8471","8.9","0","0","53","216","2","2","2","2","","13","","0","2","2","3","8","9","6","15","2","12","0","0","0","5","92.3","0","0","0","157548","29674","9300","32332","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5550","5550","5550"," 36 months"," 15.02%","192.45","C","C3","Director COE","10+ years","MORTGAGE","152500","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","461xx","IN","37.94","0","Sep-2002","3","","","18","0","53854","48.1%","44","w","5302.50","5302.50","377.95","377.95","247.50","130.45","0.0","0.0","0.0","Feb-2019","192.45","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","685749","1","7","2","3","4","131524","72","1","4","17584","58","111900","2","4","6","8","40338","23746","64","0","0","195","176","10","4","6","20","","3","","0","4","6","6","10","23","9","15","7","18","0","0","0","4","100","60","0","0","831687","185378","65900","203159","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","2000","2000","2000"," 36 months"," 17.97%","72.28","D","D1","Account Manager","4 years","RENT","51000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","606xx","IL","2.4","0","Nov-2004","1","","","1","0","0","","9","w","1914.71","1914.71","141.56","141.56","85.29","56.27","0.0","0.0","0.0","Feb-2019","72.28","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","854","0","0","2","3","7","0","","0","1","0","100","0","0","0","1","4","854","","","0","0","169","40","23","7","0","","","1","","0","0","0","0","3","5","0","3","0","1","0","0","0","2","100","","0","0","854","854","0","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","6000","6000","6000"," 36 months"," 13.56%","203.79","C","C1","Assistant Director","10+ years","RENT","65000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","460xx","IN","30.1","0","Nov-1997","0","","","19","0","38476","69.3%","37","w","5864.01","5864.01","201.53","201.53","135.99","65.54","0.0","0.0","0.0","Feb-2019","208.31","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","91535","0","5","0","1","23","53059","87","0","2","9413","74","55500","1","2","0","3","5085","3034","90.8","0","0","169","253","13","13","1","14","","13","","0","7","12","8","10","15","14","20","12","19","0","0","0","0","100","85.7","0","0","117242","91535","33100","61742","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd
df=pd.read_csv("LoanStats_2018Q4.csv", skiprows=1, skipfooter=2, engine='python')

In [5]:
pd.options.display.max_columns=500
pd.options.display.max_rows=500
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
128407,NaN,NaN,23000,23000,23000.0,36 months,15.02%,797.53,C,C3,Tax Consultant,10+ years,MORTGAGE,75000.0,Source Verified,Oct-2018,Charged Off,n,NaN,NaN,debt_consolidation,Debt consolidation,352xx,AL,20.95,1,Aug-1985,2,22.0,NaN,12,0,22465,43.6%,28,w,0.00,0.00,1547.08,1547.08,1025.67,521.41,0.0,0.0,0.0,Dec-2018,797.53,NaN,Nov-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,259658,4,2,3,3,6.0,18149,86.0,4,6,12843,56.0,51500,2,2,5,11,21638.0,26321.0,44.1,0,0,12.0,397,4,4,6,5.0,22.0,4.0,22.0,0,4,5,7,14,3,9,19,5,12,0.0,0,0,7,96.4,14.3,0,0,296500,40614,47100,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
128408,NaN,NaN,10000,10000,10000.0,36 months,15.02%,346.76,C,C3,security guard,5 years,MORTGAGE,38000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,443xx,OH,13.16,3,Jul-1982,0,6.0,NaN,11,0,5634,37.1%,16,w,9096.85,9096.85,1378.70,1378.70,903.15,475.55,0.0,0.0,0.0,Feb-2019,346.76,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,155,77424,0,1,0,0,34.0,200,10.0,1,1,1866,42.0,15200,2,0,0,2,7039.0,4537.0,50.1,0,0,34.0,434,11,11,3,11.0,6.0,17.0,6.0,0,3,5,5,6,1,8,11,5,11,0.0,0,0,1,73.3,40.0,0,0,91403,9323,9100,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
128409,NaN,NaN,5000,5000,5000.0,36 months,13.56%,169.83,C,C1,Payoff Clerk,10+ years,MORTGAGE,35360.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,381xx,TN,11.30,1,Jun-2006,0,21.0,NaN,9,0,2597,27.3%,15,f,4538.94,4538.94,675.55,675.55,461.06,214.49,0.0,0.0,0.0,Feb-2019,169.83,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1413,69785,0,2,0,1,16.0,2379,40.0,3,4,1826,32.0,9500,0,0,1,5,8723.0,1174.0,60.9,0,0,147.0,85,9,9,2,10.0,21.0,9.0,21.0,0,1,3,2,2,6,6,7,3,9,0.0,0,0,3,92.9,50.0,0,0,93908,4976,3000,6028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
128410,NaN,NaN,10000,10000,9750.0,36 months,11.06%,327.68,B,B3,NaN,NaN,RENT,44400.0,Source Verified,Oct-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,980xx,WA,11.78,0,Oct-2008,2,40.0,NaN,15,0,6269,13.1%,25,f,9044.84,8818.72,1295.36,1262.98,955.16,340.20,0.0,0.0,0.0,Feb-2019,327.68,Mar-2019,Feb-2019,0,53.0,1,Individual,NaN,NaN,NaN,0,520,16440,3,1,1,1,2.0,10171,100.0,2,5,404,28.0,47700,0,3,5,6,1265.0,20037.0,2.3,0,0,61.0,119,1,1,0,1.0,NaN,1.0,40.0,1,2,4,6,8,3,14,22,4,15,0.0,0,0,3,92.0,0.0,0,0,57871,16440,20500,10171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
128411,NaN,NaN,10000,10000,10000.0,36 months,16.91%,356.08,C,C5,Key Accounts Manager,2 years,RENT,80000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,other,Other,021xx,MA,17.72,1,Sep-2006,0,14.0,NaN,17,0,1942,30.8%,31,w,9120.98,9120.98,1414.93,1414.93,879.02,535.91,0.0,0.0,0.0,Feb-2019,356.08,Mar-2019,Feb-2019,0,25.0,1,Individual,NaN,NaN,NaN,0,0,59194,0,15,1,1,12.0,57252,85.0,0,0,1942,80.0,6300,0,5,0,1,3482.0,2058.0,48.5,0,0,144.0,142,40,12,0,131.0,30.0,NaN,30.0,3,1,1,1,5,22,2,9,1,17,0.0,0,0,1,74.2,0.0,0,0,73669,59194,4000,67369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [6]:
df.describe(exclude='number')

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,128412,128412,128412,128412,107465,116708,128412,128412,128412,128412,128412,128412,128412,128412,128412,128412,128256,128412,128250,124941,128411,128412,14848,16782,128412,1,1,1,1,1,1,1,128412,128412,2,2,2
unique,2,46,7,35,43892,11,4,3,3,6,2,12,12,880,50,644,1074,2,5,3,7,2,3,573,2,1,1,1,1,1,1,1,2,2,1,1,1
top,36 months,13.56%,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Oct-2018,Current,n,debt_consolidation,Debt consolidation,112xx,CA,Aug-2006,0%,w,Feb-2019,Mar-2019,Feb-2019,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,Feb-2019,Apr-2019,Feb-2019,Late (16-30 days),Cash,N,Feb-2019,ACTIVE,Feb-2019
freq,88179,6976,38011,9770,2090,38826,63490,58350,46305,123768,128411,70603,70603,1370,17879,1130,1132,114498,123797,124903,125061,111630,6360,155,128411,1,1,1,1,1,1,1,102516,128410,2,2,2

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [7]:
'13.56%'.strip('%')

'13.56'

Apply the function to the `int_rate` column

In [8]:
type('13.56%'.strip('%'))

str

In [9]:
float('13.56%'.strip('%'))

13.56

In [10]:
type(float('13.56%'.strip('%')))

float

In [0]:
df['int_rate']=df['int_rate'].str.strip('%').astype(float)

In [13]:
(df['int_rate']/100).head()

0    0.1356
1    0.1894
2    0.1797
3    0.1894
4    0.1614
Name: int_rate, dtype: float64

In [14]:
string='13.56%'

def remove_percent(string):
  return float (string.strip('%'))

remove_percent(string)

13.56

In [15]:
df["int_rate"]= df['int_rate'].apply(remove_percent)

AttributeError: ignored

In [16]:
df['int_rate'].apply(remove_percent)

AttributeError: ignored

### Clean `emp_title`

Look at top 20 titles

In [17]:
df['emp_title'].value_counts().head(20)

Teacher                     2090
Manager                     1773
Registered Nurse             952
Driver                       924
RN                           726
Supervisor                   697
Sales                        580
Project Manager              526
General Manager              523
Office Manager               521
Owner                        420
Director                     402
Operations Manager           387
Truck Driver                 387
Nurse                        326
Engineer                     325
Sales Manager                304
manager                      301
Supervisor                   270
Administrative Assistant     269
Name: emp_title, dtype: int64

How often is `emp_title` null?

In [18]:
df['emp_title'].isnull().sum()

20947

Clean the title and handle missing values

In [19]:
import numpy as np

examples=['owner', 'Supervisor', 'Project Manager', np.nan];

def clean_title(x):
  if isinstance(x, str):
    return x.strip().title()
  else:
    return 'Unknown'
[clean_title(x) for x in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
df['emp_title']= df['emp_title'].apply(clean_title)

In [21]:
df['emp_title'].head(10)

0                   Chef
1             Postmaster
2         Administrative
3          It Supervisor
4               Mechanic
5           Director Coe
6        Account Manager
7     Assistant Director
8    Legal Assistant Iii
9                Unknown
Name: emp_title, dtype: object

In [22]:
df['emp_title'].value_counts().head(20)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [24]:
df['emp_title_manager']=df['emp_title'].str.contains('Manager')

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
9    False
Name: emp_title_manager, dtype: bool

In [25]:
df['emp_title_manager'].value_counts(normalize=True)

False    0.860745
True     0.139255
Name: emp_title_manager, dtype: float64

In [26]:
df.groupby('emp_title_manager')['int_rate'].mean()

emp_title_manager
False    12.958054
True     12.761840
Name: int_rate, dtype: float64

In [27]:
df['emp_title'].nunique()

34902

In [28]:
df.isnull().sum().sort_values(ascending=False)/len(df)

id                                            1.000000
member_id                                     1.000000
url                                           1.000000
desc                                          1.000000
hardship_length                               0.999992
hardship_amount                               0.999992
hardship_type                                 0.999992
hardship_reason                               0.999992
hardship_status                               0.999992
hardship_last_payment_amount                  0.999992
hardship_payoff_balance_amount                0.999992
orig_projected_additional_accrued_interest    0.999992
hardship_loan_status                          0.999992
hardship_dpd                                  0.999992
deferral_term                                 0.999992
payment_plan_start_date                       0.999992
hardship_end_date                             0.999992
hardship_start_date                           0.999992
settlement_date                               0.999984
settlement_percentage                         0.999984
settlement_term                               0.999984
settlement_amount                             0.999984
debt_settlement_flag_date                     0.999984
settlement_status                             0.999984
sec_app_mths_since_last_major_derog           0.959864
verification_status_joint                     0.884372
mths_since_last_record                        0.879684
sec_app_revol_util                            0.871320
sec_app_earliest_cr_line                      0.869311
annual_inc_joint                              0.869311
dti_joint                                     0.869311
revol_bal_joint                               0.869311
sec_app_collections_12_mths_ex_med            0.869311
sec_app_inq_last_6mths                        0.869311
sec_app_mort_acc                              0.869311
sec_app_open_acc                              0.869311
sec_app_open_act_il                           0.869311
sec_app_num_rev_accts                         0.869311
sec_app_chargeoff_within_12_mths              0.869311
mths_since_recent_bc_dlq                      0.803998
mths_since_last_major_derog                   0.772763
mths_since_recent_revol_delinq                0.713563
mths_since_last_delinq                        0.562222
il_util                                       0.157882
mths_since_recent_inq                         0.124965
emp_length                                    0.091144
mths_since_rcnt_il                            0.034872
mo_sin_old_il_acct                            0.034872
next_pymnt_d                                  0.027030
num_tl_120dpd_2m                              0.022264
bc_util                                       0.013659
percent_bc_gt_75                              0.013176
bc_open_to_buy                                0.013169
mths_since_recent_bc                          0.012390
dti                                           0.001846
last_pymnt_d                                  0.001262
revol_util                                    0.001215
all_util                                      0.000288
avg_cur_bal                                   0.000101
last_credit_pull_d                            0.000008
loan_status                                   0.000000
total_pymnt                                   0.000000
int_rate                                      0.000000
out_prncp_inv                                 0.000000
installment                                   0.000000
total_pymnt_inv                               0.000000
total_rec_late_fee                            0.000000
total_rec_prncp                               0.000000
total_rec_int                                 0.000000
initial_list_status                           0.000000
recoveries                                    0.000000
collection_recovery_fee                       0.000000
term                                          0.000000
funded_amnt_inv                               0.000000
funded_amnt                                   0.000000
last_pymnt_amnt                               0.000000
loan_amnt                                     0.000000
out_prncp                                     0.000000
grade                                         0.000000
total_acc                                     0.000000
revol_bal                                     0.000000
verification_status                           0.000000
purpose                                       0.000000
title                                         0.000000
zip_code                                      0.000000
addr_state                                    0.000000
annual_inc                                    0.000000
home_ownership                                0.000000
delinq_2yrs                                   0.000000
earliest_cr_line                              0.000000
inq_last_6mths                                0.000000
emp_title                                     0.000000
sub_grade                                     0.000000
open_acc                                      0.000000
pub_rec                                       0.000000
pymnt_plan                                    0.000000
issue_d                                       0.000000
emp_title_manager                             0.000000
collections_12_mths_ex_med                    0.000000
policy_code                                   0.000000
num_actv_rev_tl                               0.000000
num_bc_sats                                   0.000000
num_bc_tl                                     0.000000
num_il_tl                                     0.000000
num_op_rev_tl                                 0.000000
num_rev_accts                                 0.000000
num_rev_tl_bal_gt_0                           0.000000
num_sats                                      0.000000
num_tl_30dpd                                  0.000000
num_tl_90g_dpd_24m                            0.000000
num_tl_op_past_12m                            0.000000
pct_tl_nvr_dlq                                0.000000
pub_rec_bankruptcies                          0.000000
tax_liens                                     0.000000
tot_hi_cred_lim                               0.000000
total_bal_ex_mort                             0.000000
total_bc_limit                                0.000000
total_il_high_credit_limit                    0.000000
hardship_flag                                 0.000000
disbursement_method                           0.000000
debt_settlement_flag                          0.000000
num_actv_bc_tl                                0.000000
num_accts_ever_120_pd                         0.000000
mort_acc                                      0.000000
open_rv_12m                                   0.000000
application_type                              0.000000
acc_now_delinq                                0.000000
tot_coll_amt                                  0.000000
tot_cur_bal                                   0.000000
open_acc_6m                                   0.000000
open_act_il                                   0.000000
open_il_12m                                   0.000000
open_il_24m                                   0.000000
total_bal_il                                  0.000000
open_rv_24m                                   0.000000
mo_sin_rcnt_tl                                0.000000
max_bal_bc                                    0.000000
total_rev_hi_lim                              0.000000
inq_fi                                        0.000000
inq_last_12m                                  0.000000
acc_open_past_24mths                          0.000000
chargeoff_within_12_mths                      0.000000
delinq_amnt                                   0.000000
mo_sin_old_rev_tl_op                          0.000000
mo_sin_rcnt_rev_tl_op                         0.000000
total_cu_tl                                   0.000000
dtype: float64

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [29]:
df['issue_d'].head().values

array(['Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018'],
      dtype=object)

In [30]:
df['issue_d'].describe()

count       128412
unique           3
top       Oct-2018
freq         46305
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [32]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [33]:
df['issue_d'].describe()

count                  128412
unique                      3
top       2018-10-01 00:00:00
freq                    46305
first     2018-10-01 00:00:00
last      2018-12-01 00:00:00
Name: issue_d, dtype: object

In [0]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

In [35]:
df.shape

(128412, 148)

In [36]:
df['issue_month'].sample(n=10).values

array([10, 11, 11, 10, 11, 10, 10, 11, 11, 10])

In [0]:
df['earliest_cr_line']=pd.to_datetime(df['earliest_cr_line'],infer_datetime_format=True)

In [38]:
df['earliest_cr_line'].head()

0   2001-04-01
1   1987-06-01
2   2011-04-01
3   2006-02-01
4   2000-12-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [0]:
df['days_from_earliest_credit_to_issue']=(df['issue_d']-df['earliest_cr_line']).dt.days

In [40]:
df['days_from_earliest_credit_to_issue'].describe()

count    128412.000000
mean       5859.891490
std        2886.535578
min        1126.000000
25%        4049.000000
50%        5266.000000
75%        7244.000000
max       25171.000000
Name: days_from_earliest_credit_to_issue, dtype: float64

In [41]:
25171/365

68.96164383561644

In [42]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
for col in ['last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
  df[col]= pd.to_datetime(df[col], infer_datetime_format=True)

In [44]:
df.describe(include='datetime')

,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
count,128412,128412,128250,124941,128411
unique,3,644,5,3,7
top,2018-10-01 00:00:00,2006-08-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-02-01 00:00:00
freq,46305,1130,123797,124903,125061
first,2018-10-01 00:00:00,1950-01-01 00:00:00,2018-10-01 00:00:00,2019-02-01 00:00:00,2018-08-01 00:00:00
last,2018-12-01 00:00:00,2015-11-01 00:00:00,2019-02-01 00:00:00,2019-04-01 00:00:00,2019-02-01 00:00:00

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [45]:
df['term'].value_counts(dropna=False)

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [46]:
df['loan_status'].value_counts(dropna=False)

Current               123768
Fully Paid              3438
Late (31-120 days)       509
In Grace Period          441
Late (16-30 days)        223
Charged Off               33
Name: loan_status, dtype: int64

In [47]:
df.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_year,issue_month,days_from_earliest_credit_to_issue
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,2001-04-01,1,NaN,45.0,9,1,4341,10.3%,34,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,2019-02-01,84.92,2019-03-01,2019-02-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,6453
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,1987-06-01,0,71.0,75.0,13,1,12315,24.2%,44,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,2019-02-01,777.23,2019-03-01,2019-02-01,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,11506
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,2011-04-01,0,NaN,NaN,8,0,4599,19.1%,13,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.0,0.0,0.0,2019-02-01,180.69,2019-03-01,2019-02-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,2801
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,It Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,985xx,WA,16.74,0,2006-02-01,0,NaN,NaN,10,0,5468,78.1%,13,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.0,0.0,0.0,2019-02-01,146.51,2019-03-01,2019-02-01,0,NaN,1,Individual,NaN,NaN,NaN,0,686,305049,1,5,3,5,5.0,30683,68.0,0,0,3761,70.0,7000,2,4,3,5,30505.0,1239.0,75.2,0,0,62.0,154,64,5,3,64.0,NaN,5.0,NaN,0,1,2,1,2,7,2,3,2,10,0.0,0,0,3,100.0,100.0,0,0,385183,36151,5000,44984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,4686
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,26.35,0,2000-12-01,0,NaN,NaN,12,0,829,3.6%,26,w,29339.02,29339.02,1423.21,1423.21,660.98,762.23,0.0,0.0,0.0,2019-02-01,731.78,2019-03-01,2019-02-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,116007,3,5,3,5,4.0,28845,89.0,2,4,516,54.0,23100,1,0,0,9,9667.0,8471.0,8.9,0,0,53.0,216,2,2,2,2.0,NaN,13.0,NaN,0,2,2,3,8,9,6,15,2,12,0.0,0,0,5,92.3,0.0,0,0,157548,29674,9300,32332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,6574

In [0]:
#Let's remove the months and convert each string to an integer
def remove_end(string):
  return int (string.strip(' months'))

df['term']= df['term'].apply(remove_end)

In [55]:
#Let's check the result
df['term'].head()

0    36
1    60
2    36
3    36
4    60
Name: term, dtype: int64

In [0]:
#Let's create the binaries in the 'loan_status_is_great' column
df['loan_status_is_great']= df['term']

for x in range (0, len(df['term'])):
  if df['loan_status'][x]== 'Current' or df['loan_status'][x]=="Fully Paid":
    df['loan_status_is_great']=1
  else:
    df['loan_status_is_great']=0

In [60]:
print(df['loan_status'])

0                    Current
1                    Current
2                    Current
3                    Current
4                    Current
5                    Current
6                    Current
7                    Current
8                    Current
9                    Current
10                   Current
11                   Current
12                   Current
13                   Current
14                   Current
15                   Current
16                   Current
17                   Current
18                   Current
19                   Current
20                   Current
21                   Current
22                   Current
23                   Current
24                   Current
25                   Current
26                   Current
27                   Current
28                   Current
29                   Current
30                   Current
31                   Current
32                   Current
33                   Current
34                   Current
35                   Current
36                   Current
37                   Current
38                   Current
39                   Current
40                   Current
41                   Current
42                   Current
43                   Current
44                   Current
45                   Current
46                   Current
47                   Current
48                   Current
49                   Current
50                   Current
51                   Current
52                   Current
53                   Current
54                   Current
55                   Current
56                   Current
57                   Current
58                   Current
59                   Current
60                   Current
61                   Current
62                   Current
63                   Current
64                   Current
65                   Current
66                   Current
67                   Current
68                   Current
69                   Current
70                   Current
71                   Current
72                   Current
73                   Current
74                   Current
75                   Current
76                   Current
77                   Current
78                   Current
79                   Current
80                   Current
81                   Current
82                   Current
83                   Current
84                   Current
85                   Current
86                   Current
87                   Current
88                   Current
89                   Current
90                   Current
91                   Current
92                   Current
93                   Current
94                   Current
95                   Current
96                   Current
97                   Current
98                   Current
99                   Current
100               Fully Paid
101                  Current
102                  Current
103                  Current
104                  Current
105                  Current
106                  Current
107                  Current
108                  Current
109                  Current
110                  Current
111                  Current
112                  Current
113                  Current
114                  Current
115                  Current
116                  Current
117                  Current
118                  Current
119                  Current
120                  Current
121                  Current
122                  Current
123                  Current
124                  Current
125                  Current
126                  Current
127                  Current
128                  Current
129                  Current
130                  Current
131                  Current
132                  Current
133                  Current
134                  Current
135                  Current
136                  Current
137                  Current
138                  Current
139                  Current
140                  Current
141                  Current
142                  Current
143                  Current
144                  Current
145                  Current
146                  Current
147                  Current
148                  Current
149                  Current
150                  Current
151                  Current
152               Fully Paid
153                  Current
154                  Current
155                  Current
156                  Current
157                  Current
158                  Current
159                  Current
160                  Current
161                  Current
162                  Current
163                  Current
164                  Current
165                  Current
166                  Current
167                  Current
168                  Current
169                  Current
170               Fully Paid
171                  Current
172                  Current
173                  Current
174                  Current
175                  Current
176                  Current
177                  Current
178                  Current
179                  Current
180                  Current
181                  Current
182                  Current
183                  Current
184                  Current
185                  Current
186               Fully Paid
187                  Current
188                  Current
189                  Current
190                  Current
191                  Current
192                  Current
193                  Current
194                  Current
195                  Current
196                  Current
197                  Current
198                  Current
199                  Current
200                  Current
201                  Current
202                  Current
203                  Current
204                  Current
205                  Current
206                  Current
207                  Current
208                  Current
209                  Current
210                  Current
211                  Current
212                  Current
213                  Current
214                  Current
215               Fully Paid
216                  Current
217                  Current
218                  Current
219                  Current
220                  Current
221                  Current
222                  Current
223                  Current
224                  Current
225                  Current
226                  Current
227                  Current
228                  Current
229                  Current
230                  Current
231                  Current
232                  Current
233                  Current
234                  Current
235                  Current
236                  Current
237                  Current
238                  Current
239                  Current
240                  Current
241                  Current
242                  Current
243                  Current
244                  Current
245                  Current
246                  Current
247                  Current
248                  Current
249                  Current
                 ...
128162               Current
128163               Current
128164               Current
128165               Current
128166               Current
128167               Current
128168               Current
128169               Current
128170               Current
128171               Current
128172               Current
128173               Current
128174               Current
128175               Current
128176               Current
128177               Current
128178               Current
128179               Current
128180               Current
128181               Current
128182               Current
128183               Current
128184               Current
128185               Current
128186               Current
128187       In Grace Period
128188               Current
128189               Current
128190               Current
128191               Current
128192               Current
128193               Current
128194               Current
128195               Current
128196               Current
128197               Current
128198               Current
128199               Current
128200               Current
128201               Current
128202           Charged Off
128203               Current
128204               Current
128205               Current
128206               Current
128207    Late (31-120 days)
128208               Current
128209               Current
128210               Current
128211               Current
128212               Current
128213               Current
128214               Current
128215               Current
128216               Current
128217               Current
128218               Current
128219               Current
128220               Current
128221               Current
128222               Current
128223               Current
128224               Current
128225               Current
128226               Current
128227               Current
128228               Current
128229               Current
128230               Current
128231               Current
128232               Current
128233               Current
128234               Current
128235               Current
128236               Current
128237               Current
128238               Current
128239               Current
128240               Current
128241               Current
128242               Current
128243               Current
128244               Current
128245     Late (16-30 days)
128246               Current
128247               Current
128248               Current
128249               Current
128250               Current
128251               Current
128252               Current
128253               Current
128254               Current
128255               Current
128256               Current
128257               Current
128258               Current
128259               Current
128260               Current
128261               Current
128262               Current
128263               Current
128264               Current
128265               Current
128266               Current
128267               Current
128268               Current
128269               Current
128270               Current
128271               Current
128272               Current
128273               Current
128274               Current
128275               Current
128276               Current
128277               Current
128278               Current
128279               Current
128280               Current
128281               Current
128282               Current
128283               Current
128284               Current
128285            Fully Paid
128286               Current
128287               Current
128288               Current
128289               Current
128290               Current
128291               Current
128292               Current
128293               Current
128294     Late (16-30 days)
128295               Current
128296               Current
128297               Current
128298               Current
128299               Current
128300               Current
128301               Current
128302               Current
128303               Current
128304               Current
128305               Current
128306               Current
128307               Current
128308               Current
128309               Current
128310               Current
128311               Current
128312               Current
128313               Current
128314               Current
128315               Current
128316               Current
128317               Current
128318               Current
128319               Current
128320               Current
128321               Current
128322               Current
128323               Current
128324               Current
128325               Current
128326            Fully Paid
128327               Current
128328               Current
128329               Current
128330               Current
128331               Current
128332               Current
128333               Current
128334    Late (31-120 days)
128335               Current
128336               Current
128337               Current
128338               Current
128339               Current
128340               Current
128341               Current
128342               Current
128343               Current
128344               Current
128345               Current
128346               Current
128347               Current
128348               Current
128349               Current
128350               Current
128351               Current
128352               Current
128353               Current
128354               Current
128355               Current
128356               Current
128357               Current
128358               Current
128359               Current
128360               Current
128361               Current
128362               Current
128363               Current
128364               Current
128365               Current
128366               Current
128367               Current
128368               Current
128369               Current
128370               Current
128371               Current
128372               Current
128373               Current
128374            Fully Paid
128375               Current
128376               Current
128377               Current
128378               Current
128379               Current
128380               Current
128381               Current
128382               Current
128383               Current
128384               Current
128385               Current
128386               Current
128387               Current
128388               Current
128389               Current
128390               Current
128391               Current
128392               Current
128393               Current
128394            Fully Paid
128395               Current
128396               Current
128397               Current
128398               Current
128399               Current
128400               Current
128401               Current
128402               Current
128403               Current
128404               Current
128405               Current
128406               Current
128407           Charged Off
128408               Current
128409               Current
128410               Current
128411               Current
Name: loan_status, Length: 128412, dtype: object

In [0]:
#Let's extract the months from the last payment column
df['last_pymnt_d_month']=df['last_pymnt_d'].dt.month

In [0]:
#Let's extract the year from the last payment column
df['last_pymnt_d_year']=df['last_pymnt_d'].dt.year

In [63]:
df['last_pymnt_d_month'].head()

0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
Name: last_pymnt_d_month, dtype: float64

In [64]:
df['last_pymnt_d_year'].head()

0    2019.0
1    2019.0
2    2019.0
3    2019.0
4    2019.0
Name: last_pymnt_d_year, dtype: float64

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01