_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

In [ ]:
!wget https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip

--2019-01-17 10:20:52--  https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q3.csv.zip.1’

.zip.1                  [    <=>             ]  12.78M  2.10MB/s

In [1]:
!unzip LoanStats_2018Q3.csv.zip

unzip:  cannot find or open LoanStats_2018Q3.csv.zip, LoanStats_2018Q3.csv.zip.zip or LoanStats_2018Q3.csv.zip.ZIP.

In [2]:
!head LoanStats_2018Q3.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","20000","20000","20000"," 60 months"," 17.97%","507.55","D","D1","Motor Vehicle Operator","7 years","RENT","68000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","254xx","WV","15.8","0","Feb-2009","1","30","118","11","1","13483","69.1%","26","w","19580.78","19580.78","975.17","975.17","419.22","555.95","0.0","0.0","0.0","Dec-2018","507.55","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","194908","0","2","0","2","17","45299","93","0","1","9815","86","19500","1","4","2","5","19491","2185","81.8","0","0","115","94","13","7","4","25","","2","30","0","1","3","2","4","11","8","10","3","11","0","0","0","1","92.3","50","1","0","205625","58782","12000","48733","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 13.56%","576.02","C","C1","Firefighter","7 years","MORTGAGE","61000","Verified","Sep-2018","Current","n","","","major_purchase","Major purchase","770xx","TX","16.74","0","Jan-2009","0","","","5","0","6299","48.5%","14","w","24109.45","24109.45","1567.98","1567.98","890.55","677.43","0.0","0.0","0.0","Dec-2018","576.02","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","204007","1","2","0","1","19","13862","37","0","0","0","40","13000","0","7","4","2","40801","1500","0","0","0","54","116","26","3","1","74","","4","","0","0","1","1","2","5","2","8","1","5","0","0","0","1","100","0","0","0","234573","20161","1500","37273","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 36 months"," 18.94%","1098.78","D","D2","","< 1 year","RENT","100000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","300xx","GA","16.07","0","Mar-2008","1","","114","6","1","14574","70.1%","9","w","28739.57","28739.57","2134.43","2134.43","1260.43","874.00","0.0","0.0","0.0","Dec-2018","1098.78","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","44048","1","2","1","1","1","29474","69","1","2","8521","69","20800","1","0","2","3","8810","5226","73.6","0","0","126","104","11","1","0","17","","1","","0","2","2","2","2","4","4","5","2","6","0","0","0","2","100","0","1","0","63636","44048","19800","42836","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","6000","6000","6000"," 36 months","  7.84%","187.58","A","A4","","n/a","RENT","30000","Not Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","923xx","CA","5.44","0","Apr-2000","0","","104","8","1","5936","34.5%","11","w","5702.27","5702.27","369.93","369.93","297.73","72.20","0.0","0.0","0.0","Dec-2018","187.58","Jan-2019","Dec-2018","0","","1","Individual","","","","0","350","5936","0","0","0","1","23","0","","1","4","2913","35","17200","2","0","0","5","848","7698","35.9","0","0","139","221","7","7","0","7","","18","","0","2","3","4","4","2","8","9","3","8","0","0","0","1","100","33.3","1","0","17200","5936","12000","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","10650","10650","10650"," 36 months","  7.84%","332.95","A","A4","","n/a","RENT","28000","Verified","Sep-2018","Current","n","","","medical","Medical expenses","430xx","OH","16.89","0","Nov-2002","0","","","3","0","37","0.3%","3","w","10121.54","10121.54","656.62","656.62","528.46","128.16","0.0","0.0","0.0","Dec-2018","332.95","Jan-2019","Dec-2018","0","","1","Joint App","43000","14.01","Source Verified","0","0","18254","0","1","0","1","16","18217","81","0","0","0","54","11500","1","1","0","1","6085","","","0","0","16","190","113","16","0","","","16","","0","0","1","0","0","1","2","2","2","3","0","0","0","0","100","","0","0","33876","18254","0","22376","2024","Oct-1996","0","0","8","18.7","1","9","0","0","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","9000","9000","9000"," 36 months","  6.11%","274.25","A","A1","","n/a","OWN","25000","Not Verified","Sep-2018","Current","n","","","credit_card","Credit card refinancing","224xx","VA","12.1","0","Apr-1999","0","56","","6","0","8996","33.8%","18","w","8541.98","8541.98","550.03","550.03","458.02","92.01","0.0","0.0","0.0","Dec-2018","274.25","Jan-2019","Dec-2018","0","56","1","Individual","","","","0","160","8996","0","0","0","0","66","0","","0","1","6920","34","26600","0","0","0","1","1799","13466","35.3","0","0","66","233","14","14","2","77","","14","56","2","2","4","3","4","1","6","15","4","6","0","0","0","0","83.3","0","0","0","26600","8996","20800","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","20000","20000","20000"," 36 months","  6.67%","614.53","A","A2","General Manager","< 1 year","MORTGAGE","125000","Not Verified","Sep-2018","Current","n","","","house","Home buying","750xx","TX","15.55","1","Jul-2003","0","21","","24","0","5832","11.4%","36","w","18990.48","18990.48","1214.24","1214.24","1009.52","204.72","0.0","0.0","0.0","Dec-2018","614.53","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","63577","2","1","0","1","22","54244","","2","4","3048","17","51100","1","0","6","6","3027","36050","11.9","0","0","148","182","6","6","2","24","21","1","21","0","5","6","16","19","6","22","26","6","24","0","0","0","2","97.2","7.7","0","0","133998","63577","40900","78764","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","20000","20000","20000"," 36 months","  7.84%","625.26","A","A4","Teacher","10+ years","MORTGAGE","48186","Not Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","641xx","MO","24.68","0","Aug-1996","0","","","17","0","23822","58.8%","38","w","18506.50","18506.50","1803.14","1803.14","1493.50","309.64","0.0","0.0","0.0","Dec-2018","625.26","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","191246","0","9","0","2","16","14800","48","1","1","11800","54","40500","1","0","0","3","11250","13078","57.8","0","0","265","239","8","8","2","8","","16","","0","3","4","6","7","27","7","9","4","17","0","0","0","1","100","16.7","0","0","234182","38622","31000","30832","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""

## Load LendingClub data

In [3]:
import pandas as pd
df = pd.read_csv('LoanStats_2018Q3.csv', skiprows=1,skipfooter=2,engine='python')

df.shape

(128194, 145)

In [4]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500
df.head().T

,0,1,2,3,4
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,20000,25000,30000,6000,10650
funded_amnt,20000,25000,30000,6000,10650
funded_amnt_inv,20000,25000,30000,6000,10650
term,60 months,60 months,36 months,36 months,36 months
int_rate,17.97%,13.56%,18.94%,7.84%,7.84%
installment,507.55,576.02,1098.78,187.58,332.95
grade,D,C,D,A,A
sub_grade,D1,C1,D2,A4,A4
emp_title,Motor Vehicle Operator,Firefighter,NaN,NaN,NaN
emp_length,7 years,7 years,< 1 year,NaN,NaN
home_ownership,RENT,MORTGAGE,RENT,RENT,RENT
annual_inc,68000,61000,100000,30000,28000
verification_status,Source Verified,Verified,Source Verified,Not Verified,Verified
issue_d,Sep-2018,Sep-2018,Sep-2018,Sep-2018,Sep-2018
loan_status,Current,Current,Current,Current,Current
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,NaN,NaN,NaN,NaN,NaN
purpose,debt_consolidation,major_purchase,debt_consolidation,debt_consolidation,medical
title,Debt consolidation,Major purchase,Debt consolidation,Debt consolidation,Medical expenses
zip_code,254xx,770xx,300xx,923xx,430xx
addr_state,WV,TX,GA,CA,OH
dti,15.8,16.74,16.07,5.44,16.89
delinq_2yrs,0,0,0,0,0
earliest_cr_line,Feb-2009,Jan-2009,Mar-2008,Apr-2000,Nov-2002
inq_last_6mths,1,0,1,0,0
mths_since_last_delinq,30,NaN,NaN,NaN,NaN
mths_since_last_record,118,NaN,114,104,NaN
open_acc,11,5,6,8,3
pub_rec,1,0,1,1,0
revol_bal,13483,6299,14574,5936,37
revol_util,69.1%,48.5%,70.1%,34.5%,0.3%
total_acc,26,14,9,11,3
initial_list_status,w,w,w,w,w
out_prncp,19580.8,24109.5,28739.6,5702.27,10121.5
out_prncp_inv,19580.8,24109.5,28739.6,5702.27,10121.5
total_pymnt,975.17,1567.98,2134.43,369.93,656.62
total_pymnt_inv,975.17,1567.98,2134.43,369.93,656.62
total_rec_prncp,419.22,890.55,1260.43,297.73,528.46
total_rec_int,555.95,677.43,874,72.2,128.16
total_rec_late_fee,0,0,0,0,0
recoveries,0,0,0,0,0
collection_recovery_fee,0,0,0,0,0
last_pymnt_d,Dec-2018,Dec-2018,Dec-2018,Dec-2018,Dec-2018
last_pymnt_amnt,507.55,576.02,1098.78,187.58,332.95
next_pymnt_d,Jan-2019,Jan-2019,Jan-2019,Jan-2019,Jan-2019
last_credit_pull_d,Dec-2018,Dec-2018,Dec-2018,Dec-2018,Dec-2018
collections_12_mths_ex_med,0,0,0,0,0
mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
policy_code,1,1,1,1,1
application_type,Individual,Individual,Individual,Individual,Joint App
annual_inc_joint,NaN,NaN,NaN,NaN,43000
dti_joint,NaN,NaN,NaN,NaN,14.01
verification_status_joint,NaN,NaN,NaN,NaN,Source Verified
acc_now_delinq,0,0,0,0,0
tot_coll_amt,0,0,0,350,0
tot_cur_bal,194908,204007,44048,5936,18254
open_acc_6m,0,1,1,0,0
open_act_il,2,2,2,0,1
open_il_12m,0,0,1,0,0
open_il_24m,2,1,1,1,1
mths_since_rcnt_il,17,19,1,23,16
total_bal_il,45299,13862,29474,0,18217
il_util,93,37,69,NaN,81
open_rv_12m,0,0,1,1,0
open_rv_24m,1,0,2,4,0
max_bal_bc,9815,0,8521,2913,0
all_util,86,40,69,35,54
total_rev_hi_lim,19500,13000,20800,17200,11500
inq_fi,1,0,1,2,1
total_cu_tl,4,7,0,0,1
inq_last_12m,2,4,2,0,0
acc_open_past_24mths,5,2,3,5,1
avg_cur_bal,19491,40801,8810,848,6085
bc_open_to_buy,2185,1500,5226,7698,NaN
bc_util,81.8,0,73.6,35.9,NaN
chargeoff_within_12_mths,0,0,0,0,0
delinq_amnt,0,0,0,0,0
mo_sin_old_il_acct,115,54,126,139,16
mo_sin_old_rev_tl_op,94,116,104,221,190
mo_sin_rcnt_rev_tl_op,13,26,11,7,113
mo_sin_rcnt_tl,7,3,1,7,16
mort_acc,4,1,0,0,0
mths_since_recent_bc,25,74,17,7,NaN
mths_since_recent_bc_dlq,NaN,NaN,NaN,NaN,NaN
mths_since_recent_inq,2,4,1,18,16
mths_since_recent_revol_delinq,30,NaN,NaN,NaN,NaN
num_accts_ever_120_pd,0,0,0,0,0
num_actv_bc_tl,1,0,2,2,0
num_actv_rev_tl,3,1,2,3,1
num_bc_sats,2,1,2,4,0
num_bc_tl,4,2,2,4,0
num_il_tl,11,5,4,2,1
num_op_rev_tl,8,2,4,8,2
num_rev_accts,10,8,5,9,2
num_rev_tl_bal_gt_0,3,1,2,3,2
num_sats,11,5,6,8,3
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,0,0
num_tl_op_past_12m,1,1,2,1,0
pct_tl_nvr_dlq,92.3,100,100,100,100
percent_bc_gt_75,50,0,0,33.3,NaN
pub_rec_bankruptcies,1,0,1,1,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,205625,234573,63636,17200,33876
total_bal_ex_mort,58782,20161,44048,5936,18254
total_bc_limit,12000,1500,19800,12000,0
total_il_high_credit_limit,48733,37273,42836,0,22376
revol_bal_joint,NaN,NaN,NaN,NaN,2024
sec_app_earliest_cr_line,NaN,NaN,NaN,NaN,Oct-1996
sec_app_inq_last_6mths,NaN,NaN,NaN,NaN,0
sec_app_mort_acc,NaN,NaN,NaN,NaN,0
sec_app_open_acc,NaN,NaN,NaN,NaN,8
sec_app_revol_util,NaN,NaN,NaN,NaN,18.7
sec_app_open_act_il,NaN,NaN,NaN,NaN,1
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,9
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,0
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,0
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
disbursement_method,DirectPay,Cash,Cash,DirectPay,Cash
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN

In [5]:
df['hardship_payoff_balance_amount'].isnull().sum() / len(df)

0.999898591197716

## Work with strings

In [6]:
import numpy as np

def all_numeric(df):
    return all((df.dtypes==np.number) |
               (df.dtypes==bool))

def no_nulls(df):
    return not any(df.isnull().sum())

def ready_for_sklearn(df):
    return all_numeric(df) and no_nulls(df)

In [7]:
ready_for_sklearn(df)

False

In [9]:
all_numeric(df)

False

In [10]:
df.select_dtypes('object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128194 entries, 0 to 128193
Data columns (total 37 columns):
term                         128194 non-null object
int_rate                     128194 non-null object
grade                        128194 non-null object
sub_grade                    128194 non-null object
emp_title                    114757 non-null object
emp_length                   117807 non-null object
home_ownership               128194 non-null object
verification_status          128194 non-null object
issue_d                      128194 non-null object
loan_status                  128194 non-null object
pymnt_plan                   128194 non-null object
purpose                      128194 non-null object
title                        128194 non-null object
zip_code                     128194 non-null object
addr_state                   128194 non-null object
earliest_cr_line             128194 non-null object
revol_util                   128065 non-null object
initial_list_status          128194 non-null object
last_pymnt_d                 128048 non-null object
next_pymnt_d                 123298 non-null object
last_credit_pull_d           128190 non-null object
application_type             128194 non-null object
verification_status_joint    15729 non-null object
sec_app_earliest_cr_line     17785 non-null object
hardship_flag                128194 non-null object
hardship_type                13 non-null object
hardship_reason              13 non-null object
hardship_status              13 non-null object
hardship_start_date          13 non-null object
hardship_end_date            13 non-null object
payment_plan_start_date      13 non-null object
hardship_loan_status         13 non-null object
disbursement_method          128194 non-null object
debt_settlement_flag         128194 non-null object
debt_settlement_flag_date    5 non-null object
settlement_status            5 non-null object
settlement_date              5 non-null object
dtypes: object(37)
memory usage: 36.2+ MB

In [13]:
df.int_rate.head().values

array([' 17.97%', ' 13.56%', ' 18.94%', '  7.84%', '  7.84%'],
      dtype=object)

In [162]:
def remove_percent(string):
    return float(string.strip('%'))

In [15]:
df['int_rate'] = df['int_rate'].apply(remove_percent)

In [16]:
df['int_rate'].head()

0    17.97
1    13.56
2    18.94
3     7.84
4     7.84
Name: int_rate, dtype: float64

In [17]:
df['emp_title'].value_counts().head(20)

Teacher               2294
Manager               2075
Owner                 1231
Driver                1089
Registered Nurse       944
Supervisor             810
RN                     757
Sales                  726
Project Manager        637
General Manager        548
Office Manager         542
Director               482
owner                  398
Engineer               383
Truck Driver           367
Operations Manager     366
President              350
Sales Manager          323
Supervisor             321
Server                 319
Name: emp_title, dtype: int64

In [18]:
df['emp_title'].value_counts().head(20).index

Index(['Teacher', 'Manager', 'Owner', 'Driver', 'Registered Nurse',
       'Supervisor', 'RN', 'Sales', 'Project Manager', 'General Manager',
       'Office Manager', 'Director', 'owner', 'Engineer', 'Truck Driver',
       'Operations Manager', 'President', 'Sales Manager', 'Supervisor ',
       'Server'],
      dtype='object')

In [19]:
df['emp_title'].isnull().sum()

13437

In [26]:
examples = ['owner', 'Supervisor', 'Project manager',
           np.nan]

def clean_title(x):
    if isinstance(x,str):
        return x.strip().title()
    else:
        return 'Unknown'

for example in examples:
    print(clean_title(example))

Owner
Supervisor
Project Manager
Unknown

In [27]:
df['emp_title'] = df['emp_title'].apply(clean_title)

In [28]:
df['emp_title'].value_counts().head(20)

Unknown                     13437
Teacher                      2843
Manager                      2749
Owner                        1856
Driver                       1498
Registered Nurse             1386
Supervisor                   1345
Sales                         980
Truck Driver                  921
Rn                            905
Office Manager                846
Project Manager               835
General Manager               809
Director                      585
Operations Manager            516
Sales Manager                 510
Engineer                      474
Administrative Assistant      466
Store Manager                 466
President                     464
Name: emp_title, dtype: int64

In [29]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')

In [30]:
df['emp_title_manager'].value_counts()

False    109498
True      18696
Name: emp_title_manager, dtype: int64

In [31]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager
0,NaN,NaN,20000,20000,20000,60 months,17.97,507.55,D,D1,Motor Vehicle Operator,7 years,RENT,68000.0,Source Verified,Sep-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,254xx,WV,15.80,0,Feb-2009,1,30.0,118.0,11,1,13483,69.1%,26,w,19580.78,19580.78,975.17,975.17,419.22,555.95,0.0,0.0,0.0,Dec-2018,507.55,Jan-2019,Dec-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,194908,0,2,0,2,17.0,45299,93.0,0,1,9815,86.0,19500,1,4,2,5,19491.0,2185.0,81.8,0,0,115.0,94,13,7,4,25.0,NaN,2.0,30.0,0,1,3,2,4,11,8,10,3,11,0.0,0,0,1,92.3,50.0,1,0,205625,58782,12000,48733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False
1,NaN,NaN,25000,25000,25000,60 months,13.56,576.02,C,C1,Firefighter,7 years,MORTGAGE,61000.0,Verified,Sep-2018,Current,n,NaN,NaN,major_purchase,Major purchase,770xx,TX,16.74,0,Jan-2009,0,NaN,NaN,5,0,6299,48.5%,14,w,24109.45,24109.45,1567.98,1567.98,890.55,677.43,0.0,0.0,0.0,Dec-2018,576.02,Jan-2019,Dec-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,204007,1,2,0,1,19.0,13862,37.0,0,0,0,40.0,13000,0,7,4,2,40801.0,1500.0,0.0,0,0,54.0,116,26,3,1,74.0,NaN,4.0,NaN,0,0,1,1,2,5,2,8,1,5,0.0,0,0,1,100.0,0.0,0,0,234573,20161,1500,37273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False
2,NaN,NaN,30000,30000,30000,36 months,18.94,1098.78,D,D2,Unknown,< 1 year,RENT,100000.0,Source Verified,Sep-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,300xx,GA,16.07,0,Mar-2008,1,NaN,114.0,6,1,14574,70.1%,9,w,28739.57,28739.57,2134.43,2134.43,1260.43,874.00,0.0,0.0,0.0,Dec-2018,1098.78,Jan-2019,Dec-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,44048,1,2,1,1,1.0,29474,69.0,1,2,8521,69.0,20800,1,0,2,3,8810.0,5226.0,73.6,0,0,126.0,104,11,1,0,17.0,NaN,1.0,NaN,0,2,2,2,2,4,4,5,2,6,0.0,0,0,2,100.0,0.0,1,0,63636,44048,19800,42836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False
3,NaN,NaN,6000,6000,6000,36 months,7.84,187.58,A,A4,Unknown,NaN,RENT,30000.0,Not Verified,Sep-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,923xx,CA,5.44,0,Apr-2000,0,NaN,104.0,8,1,5936,34.5%,11,w,5702.27,5702.27,369.93,369.93,297.73,72.20,0.0,0.0,0.0,Dec-2018,187.58,Jan-2019,Dec-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,350,5936,0,0,0,1,23.0,0,NaN,1,4,2913,35.0,17200,2,0,0,5,848.0,7698.0,35.9,0,0,139.0,221,7,7,0,7.0,NaN,18.0,NaN,0,2,3,4,4,2,8,9,3,8,0.0,0,0,1,100.0,33.3,1,0,17200,5936,12000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False
4,NaN,NaN,10650,10650,10650,36 months,7.84,332.95,A,A4,Unknown,NaN,RENT,28000.0,Verified,Sep-2018,Current,n,NaN,NaN,medical,Medical expenses,430xx,OH,16.89,0,Nov-2002,0,NaN,NaN,3,0,37,0.3%,3,w,10121.54,10121.54,656.62,656.62,528.46,128.16,0.0,0.0,0.0,Dec-2018,332.95,Jan-2019,Dec-2018,0,NaN,1,Joint App,43000.0,14.01,Source Verified,0,0,18254,0,1,0,1,16.0,18217,81.0,0,0,0,54.0,11500,1,1,0,1,6085.0,NaN,NaN,0,0,16.0,190,113,16,0,NaN,NaN,16.0,NaN,0,0,1,0,0,1,2,2,2,3,0.0,0,0,0,100.0,NaN,0,0,33876,18254,0,22376,2024.0,Oct-1996,0.0,0.0,8.0,18.7,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False

In [33]:
df.shape

(128194, 146)

## Work with dates

In [34]:
df['issue_d'].head().values

array(['Sep-2018', 'Sep-2018', 'Sep-2018', 'Sep-2018', 'Sep-2018'],
      dtype=object)

In [35]:
df['issue_d'] = pd.to_datetime(df['issue_d'],
                               infer_datetime_format=True)

In [36]:
df['issue_d'].head().values

array(['2018-09-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2018-09-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2018-09-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [37]:
df['issue_d'].describe()

count                  128194
unique                      3
top       2018-08-01 00:00:00
freq                    46079
first     2018-07-01 00:00:00
last      2018-09-01 00:00:00
Name: issue_d, dtype: object

In [38]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month']= df['issue_d'].dt.month

In [39]:
df['issue_month'].sample(n=10).values

array([8, 7, 9, 9, 8, 9, 8, 7, 7, 7])

In [40]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'],
                                        infer_datetime_format=True)

In [41]:
df['days_from_earliest_credit_to_issue'] = (
    df['issue_d'] - df['earliest_cr_line']).dt.days

In [43]:
df['days_from_earliest_credit_to_issue'].head().values

array([3499, 3530, 3836, 6727, 5783])

In [44]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [45]:
for col in ['last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
    df[col] = pd.to_datetime(df[col], 
                             infer_datetime_format=True)

In [48]:
df['loan_status'].value_counts()

Current               121082
Fully Paid              4786
In Grace Period          948
Late (31-120 days)       920
Late (16-30 days)        348
Charged Off              110
Name: loan_status, dtype: int64

# ASSIGNMENT

Replicate the lesson code.

Convert the term column from string to integer.

Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

Make last_pymnt_d_month and last_pymnt_d_year columns.

In [49]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_year,issue_month,days_from_earliest_credit_to_issue
0,NaN,NaN,20000,20000,20000,60 months,17.97,507.55,D,D1,Motor Vehicle Operator,7 years,RENT,68000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,254xx,WV,15.80,0,2009-02-01,1,30.0,118.0,11,1,13483,69.1%,26,w,19580.78,19580.78,975.17,975.17,419.22,555.95,0.0,0.0,0.0,2018-12-01,507.55,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,194908,0,2,0,2,17.0,45299,93.0,0,1,9815,86.0,19500,1,4,2,5,19491.0,2185.0,81.8,0,0,115.0,94,13,7,4,25.0,NaN,2.0,30.0,0,1,3,2,4,11,8,10,3,11,0.0,0,0,1,92.3,50.0,1,0,205625,58782,12000,48733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3499
1,NaN,NaN,25000,25000,25000,60 months,13.56,576.02,C,C1,Firefighter,7 years,MORTGAGE,61000.0,Verified,2018-09-01,Current,n,NaN,NaN,major_purchase,Major purchase,770xx,TX,16.74,0,2009-01-01,0,NaN,NaN,5,0,6299,48.5%,14,w,24109.45,24109.45,1567.98,1567.98,890.55,677.43,0.0,0.0,0.0,2018-12-01,576.02,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,204007,1,2,0,1,19.0,13862,37.0,0,0,0,40.0,13000,0,7,4,2,40801.0,1500.0,0.0,0,0,54.0,116,26,3,1,74.0,NaN,4.0,NaN,0,0,1,1,2,5,2,8,1,5,0.0,0,0,1,100.0,0.0,0,0,234573,20161,1500,37273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3530
2,NaN,NaN,30000,30000,30000,36 months,18.94,1098.78,D,D2,Unknown,< 1 year,RENT,100000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,300xx,GA,16.07,0,2008-03-01,1,NaN,114.0,6,1,14574,70.1%,9,w,28739.57,28739.57,2134.43,2134.43,1260.43,874.00,0.0,0.0,0.0,2018-12-01,1098.78,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,44048,1,2,1,1,1.0,29474,69.0,1,2,8521,69.0,20800,1,0,2,3,8810.0,5226.0,73.6,0,0,126.0,104,11,1,0,17.0,NaN,1.0,NaN,0,2,2,2,2,4,4,5,2,6,0.0,0,0,2,100.0,0.0,1,0,63636,44048,19800,42836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3836
3,NaN,NaN,6000,6000,6000,36 months,7.84,187.58,A,A4,Unknown,NaN,RENT,30000.0,Not Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,923xx,CA,5.44,0,2000-04-01,0,NaN,104.0,8,1,5936,34.5%,11,w,5702.27,5702.27,369.93,369.93,297.73,72.20,0.0,0.0,0.0,2018-12-01,187.58,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,350,5936,0,0,0,1,23.0,0,NaN,1,4,2913,35.0,17200,2,0,0,5,848.0,7698.0,35.9,0,0,139.0,221,7,7,0,7.0,NaN,18.0,NaN,0,2,3,4,4,2,8,9,3,8,0.0,0,0,1,100.0,33.3,1,0,17200,5936,12000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,6727
4,NaN,NaN,10650,10650,10650,36 months,7.84,332.95,A,A4,Unknown,NaN,RENT,28000.0,Verified,2018-09-01,Current,n,NaN,NaN,medical,Medical expenses,430xx,OH,16.89,0,2002-11-01,0,NaN,NaN,3,0,37,0.3%,3,w,10121.54,10121.54,656.62,656.62,528.46,128.16,0.0,0.0,0.0,2018-12-01,332.95,2019-01-01,2018-12-01,0,NaN,1,Joint App,43000.0,14.01,Source Verified,0,0,18254,0,1,0,1,16.0,18217,81.0,0,0,0,54.0,11500,1,1,0,1,6085.0,NaN,NaN,0,0,16.0,190,113,16,0,NaN,NaN,16.0,NaN,0,0,1,0,0,1,2,2,2,3,0.0,0,0,0,100.0,NaN,0,0,33876,18254,0,22376,2024.0,Oct-1996,0.0,0.0,8.0,18.7,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,5783

In [50]:
## term from string to int

df['term'].isnull().sum()

0

In [51]:
def remove_months(string):
    return float(string.strip('months'))
df['term'] = df['term'].apply(remove_months)
df['term'].head()

0    60.0
1    60.0
2    36.0
3    36.0
4    36.0
Name: term, dtype: float64

In [89]:
df['loan_status'].value_counts()

Current               121082
Fully Paid              4786
In Grace Period          948
Late (31-120 days)       920
Late (16-30 days)        348
Charged Off              110
Name: loan_status, dtype: int64

In [90]:
df_copy.shape

(128194, 150)

In [70]:
## Make a column named loan_status_is_great. It should contain the integer 1
## if loan_status is Current" or "Fully Paid." 
## Else it should contain the integer 0.

#first approach lmao
# def is_great(status):

# for status in df_copy:
#     if df_copy.contains('Current', case=False):
#         return status.astype(int)
#     if df_copy.contains('Fully Paid', case=False, regex=True):
#         return status.astype(int)
#     else:
#         return status.astype(int)

In [100]:
df_copy = df.copy()

In [108]:
df_copy['loan_status'].replace(to_replace='Fully Paid', value='Current', inplace=True)

In [109]:
df_copy['loan_status'].value_counts()

Current               125868
In Grace Period          948
Late (31-120 days)       920
Late (16-30 days)        348
Charged Off              110
Name: loan_status, dtype: int64

In [114]:
df['loan_status_is_great'] = df_copy['loan_status'].str.contains('Current').astype(int)
# df_copy['loan_status_is_great'] =

df['loan_status_is_great'].value_counts()

1    125868
0      2326
Name: loan_status_is_great, dtype: int64

In [115]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_year,issue_month,days_from_earliest_credit_to_issue,loan_status_is_great
0,NaN,NaN,20000,20000,20000,60.0,17.97,507.55,D,D1,Motor Vehicle Operator,7 years,RENT,68000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,254xx,WV,15.80,0,2009-02-01,1,30.0,118.0,11,1,13483,69.1%,26,w,19580.78,19580.78,975.17,975.17,419.22,555.95,0.0,0.0,0.0,2018-12-01,507.55,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,194908,0,2,0,2,17.0,45299,93.0,0,1,9815,86.0,19500,1,4,2,5,19491.0,2185.0,81.8,0,0,115.0,94,13,7,4,25.0,NaN,2.0,30.0,0,1,3,2,4,11,8,10,3,11,0.0,0,0,1,92.3,50.0,1,0,205625,58782,12000,48733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3499,1
1,NaN,NaN,25000,25000,25000,60.0,13.56,576.02,C,C1,Firefighter,7 years,MORTGAGE,61000.0,Verified,2018-09-01,Current,n,NaN,NaN,major_purchase,Major purchase,770xx,TX,16.74,0,2009-01-01,0,NaN,NaN,5,0,6299,48.5%,14,w,24109.45,24109.45,1567.98,1567.98,890.55,677.43,0.0,0.0,0.0,2018-12-01,576.02,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,204007,1,2,0,1,19.0,13862,37.0,0,0,0,40.0,13000,0,7,4,2,40801.0,1500.0,0.0,0,0,54.0,116,26,3,1,74.0,NaN,4.0,NaN,0,0,1,1,2,5,2,8,1,5,0.0,0,0,1,100.0,0.0,0,0,234573,20161,1500,37273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3530,1
2,NaN,NaN,30000,30000,30000,36.0,18.94,1098.78,D,D2,Unknown,< 1 year,RENT,100000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,300xx,GA,16.07,0,2008-03-01,1,NaN,114.0,6,1,14574,70.1%,9,w,28739.57,28739.57,2134.43,2134.43,1260.43,874.00,0.0,0.0,0.0,2018-12-01,1098.78,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,44048,1,2,1,1,1.0,29474,69.0,1,2,8521,69.0,20800,1,0,2,3,8810.0,5226.0,73.6,0,0,126.0,104,11,1,0,17.0,NaN,1.0,NaN,0,2,2,2,2,4,4,5,2,6,0.0,0,0,2,100.0,0.0,1,0,63636,44048,19800,42836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3836,1
3,NaN,NaN,6000,6000,6000,36.0,7.84,187.58,A,A4,Unknown,NaN,RENT,30000.0,Not Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,923xx,CA,5.44,0,2000-04-01,0,NaN,104.0,8,1,5936,34.5%,11,w,5702.27,5702.27,369.93,369.93,297.73,72.20,0.0,0.0,0.0,2018-12-01,187.58,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,350,5936,0,0,0,1,23.0,0,NaN,1,4,2913,35.0,17200,2,0,0,5,848.0,7698.0,35.9,0,0,139.0,221,7,7,0,7.0,NaN,18.0,NaN,0,2,3,4,4,2,8,9,3,8,0.0,0,0,1,100.0,33.3,1,0,17200,5936,12000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,6727,1
4,NaN,NaN,10650,10650,10650,36.0,7.84,332.95,A,A4,Unknown,NaN,RENT,28000.0,Verified,2018-09-01,Current,n,NaN,NaN,medical,Medical expenses,430xx,OH,16.89,0,2002-11-01,0,NaN,NaN,3,0,37,0.3%,3,w,10121.54,10121.54,656.62,656.62,528.46,128.16,0.0,0.0,0.0,2018-12-01,332.95,2019-01-01,2018-12-01,0,NaN,1,Joint App,43000.0,14.01,Source Verified,0,0,18254,0,1,0,1,16.0,18217,81.0,0,0,0,54.0,11500,1,1,0,1,6085.0,NaN,NaN,0,0,16.0,190,113,16,0,NaN,NaN,16.0,NaN,0,0,1,0,0,1,2,2,2,3,0.0,0,0,0,100.0,NaN,0,0,33876,18254,0,22376,2024.0,Oct-1996,0.0,0.0,8.0,18.7,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,5783,1

In [118]:
### Make last_pymnt_d_month and last_pymnt_d_year columns. 
df['last_pymnt_d'].describe()

count                  128048
unique                      6
top       2018-12-01 00:00:00
freq                   116465
first     2018-07-01 00:00:00
last      2018-12-01 00:00:00
Name: last_pymnt_d, dtype: object

In [125]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], format='%Y/%m/%d')

In [126]:
df['last_pymnt_d'].describe()

count                  128048
unique                      6
top       2018-12-01 00:00:00
freq                   116465
first     2018-07-01 00:00:00
last      2018-12-01 00:00:00
Name: last_pymnt_d, dtype: object

In [123]:
import datetime as dt

In [133]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month

In [135]:
df['last_pymnt_d_month']

0         12.0
1         12.0
2         12.0
3         12.0
4         12.0
5         12.0
6         12.0
7         12.0
8         12.0
9         12.0
10        12.0
11        12.0
12        12.0
13        12.0
14        12.0
15        12.0
16        12.0
17        12.0
18        12.0
19        12.0
20        11.0
21        12.0
22        12.0
23        12.0
24        12.0
25        12.0
26        12.0
27        12.0
28        12.0
29        12.0
30        12.0
31        12.0
32        12.0
33        12.0
34        12.0
35        12.0
36        12.0
37        12.0
38        12.0
39        12.0
40        12.0
41        12.0
42        12.0
43        12.0
44        12.0
45        12.0
46        12.0
47        12.0
48        12.0
49        12.0
50        12.0
51        12.0
52        12.0
53        12.0
54        12.0
55        12.0
56        12.0
57        12.0
58        12.0
59        12.0
60        12.0
61        12.0
62        12.0
63        12.0
64        12.0
65        12.0
66        12.0
67        12.0
68        12.0
69        12.0
70        12.0
71        12.0
72        12.0
73        12.0
74        12.0
75        12.0
76        12.0
77        12.0
78        12.0
79        12.0
80        12.0
81        12.0
82        12.0
83        12.0
84        12.0
85        12.0
86        12.0
87        12.0
88        12.0
89        12.0
90        12.0
91        12.0
92        12.0
93        12.0
94        12.0
95        12.0
96        12.0
97        12.0
98        12.0
99        11.0
100       12.0
101       12.0
102       12.0
103       12.0
104       12.0
105       12.0
106       12.0
107       12.0
108       12.0
109       12.0
110       12.0
111       12.0
112       10.0
113       12.0
114       12.0
115       12.0
116       12.0
117       12.0
118       12.0
119       12.0
120       12.0
121       12.0
122       12.0
123       12.0
124       12.0
125       12.0
126       12.0
127       12.0
128       12.0
129       12.0
130       12.0
131       12.0
132       12.0
133       12.0
134       12.0
135       12.0
136       12.0
137       12.0
138       12.0
139       12.0
140       12.0
141       12.0
142       12.0
143       12.0
144       12.0
145       12.0
146       12.0
147       12.0
148       12.0
149       12.0
150       12.0
151       12.0
152       12.0
153       12.0
154       12.0
155       12.0
156       12.0
157       12.0
158       12.0
159       12.0
160       12.0
161       12.0
162       12.0
163       12.0
164       12.0
165       12.0
166       12.0
167       12.0
168       12.0
169       12.0
170       12.0
171       12.0
172       12.0
173       12.0
174       12.0
175       12.0
176       12.0
177       12.0
178       12.0
179       12.0
180       12.0
181       12.0
182       12.0
183       12.0
184       12.0
185       12.0
186       12.0
187       12.0
188       12.0
189       12.0
190       12.0
191       12.0
192       12.0
193       12.0
194       12.0
195       12.0
196       12.0
197       12.0
198       12.0
199       12.0
200       12.0
201       12.0
202       12.0
203       12.0
204       12.0
205       10.0
206       12.0
207       12.0
208       12.0
209       12.0
210       12.0
211       12.0
212       12.0
213       12.0
214       12.0
215       12.0
216       12.0
217       12.0
218       12.0
219       12.0
220       12.0
221       12.0
222       12.0
223       12.0
224       12.0
225       12.0
226       12.0
227       12.0
228       12.0
229       12.0
230       12.0
231       12.0
232       12.0
233       12.0
234       12.0
235       12.0
236       12.0
237       12.0
238       12.0
239       12.0
240       12.0
241       12.0
242       12.0
243       12.0
244       12.0
245       12.0
246       12.0
247       12.0
248       12.0
249       12.0
          ...
127944    12.0
127945    12.0
127946    12.0
127947    12.0
127948    12.0
127949    12.0
127950    12.0
127951    12.0
127952    12.0
127953    12.0
127954    12.0
127955    12.0
127956    12.0
127957    12.0
127958    12.0
127959    12.0
127960     9.0
127961    12.0
127962    12.0
127963     9.0
127964    12.0
127965    12.0
127966    12.0
127967    12.0
127968    12.0
127969    12.0
127970    12.0
127971    11.0
127972    12.0
127973    12.0
127974    12.0
127975    12.0
127976    12.0
127977    12.0
127978    12.0
127979    10.0
127980    12.0
127981    12.0
127982    12.0
127983    12.0
127984    12.0
127985    12.0
127986    12.0
127987    12.0
127988    12.0
127989    12.0
127990    12.0
127991    11.0
127992    12.0
127993    12.0
127994    12.0
127995    12.0
127996    12.0
127997    12.0
127998    12.0
127999    12.0
128000    12.0
128001    12.0
128002    12.0
128003    12.0
128004    12.0
128005    12.0
128006    12.0
128007    12.0
128008    12.0
128009    12.0
128010    12.0
128011    12.0
128012    12.0
128013    12.0
128014    11.0
128015    12.0
128016    10.0
128017    12.0
128018    12.0
128019    12.0
128020    12.0
128021    12.0
128022    12.0
128023    12.0
128024    12.0
128025    12.0
128026    12.0
128027    12.0
128028    12.0
128029    12.0
128030    12.0
128031    10.0
128032    12.0
128033    12.0
128034    12.0
128035    12.0
128036    12.0
128037    12.0
128038    12.0
128039    12.0
128040    12.0
128041     8.0
128042    12.0
128043    12.0
128044    12.0
128045    12.0
128046    12.0
128047    12.0
128048    12.0
128049    12.0
128050    12.0
128051    12.0
128052    12.0
128053    12.0
128054    12.0
128055    12.0
128056    12.0
128057    12.0
128058    12.0
128059    12.0
128060    12.0
128061    12.0
128062    12.0
128063    10.0
128064    12.0
128065    12.0
128066    12.0
128067    12.0
128068    12.0
128069    12.0
128070    12.0
128071    12.0
128072    12.0
128073    12.0
128074    12.0
128075    12.0
128076    12.0
128077    12.0
128078    12.0
128079    12.0
128080    12.0
128081    11.0
128082    12.0
128083    12.0
128084    12.0
128085    12.0
128086    12.0
128087    12.0
128088    12.0
128089    12.0
128090    12.0
128091    12.0
128092    12.0
128093    12.0
128094     7.0
128095    12.0
128096    12.0
128097    10.0
128098    12.0
128099    12.0
128100    12.0
128101    12.0
128102    12.0
128103    12.0
128104    12.0
128105    12.0
128106    12.0
128107    12.0
128108    12.0
128109    12.0
128110    12.0
128111    12.0
128112    12.0
128113    12.0
128114    12.0
128115    12.0
128116    12.0
128117    12.0
128118    12.0
128119    12.0
128120    12.0
128121    12.0
128122     9.0
128123    12.0
128124    12.0
128125    12.0
128126    12.0
128127    12.0
128128    12.0
128129    12.0
128130    12.0
128131    12.0
128132    12.0
128133    12.0
128134    12.0
128135    12.0
128136    12.0
128137    12.0
128138    12.0
128139    12.0
128140    12.0
128141    12.0
128142    12.0
128143    12.0
128144    12.0
128145    12.0
128146    12.0
128147    12.0
128148    12.0
128149    12.0
128150    12.0
128151    12.0
128152    12.0
128153    12.0
128154    12.0
128155    12.0
128156     9.0
128157    12.0
128158    12.0
128159    12.0
128160    12.0
128161    12.0
128162    12.0
128163    12.0
128164    12.0
128165    12.0
128166    12.0
128167    12.0
128168    12.0
128169    12.0
128170    12.0
128171    12.0
128172    12.0
128173    12.0
128174    12.0
128175    12.0
128176    12.0
128177    12.0
128178    12.0
128179    12.0
128180    12.0
128181    12.0
128182     9.0
128183    12.0
128184    12.0
128185    10.0
128186    12.0
128187    12.0
128188    12.0
128189    12.0
128190    12.0
128191    12.0
128192    12.0
128193    12.0
Name: last_pymnt_d_month, Length: 128194, dtype: float64

In [136]:
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [137]:
df['last_pymnt_d_year']

0         2018.0
1         2018.0
2         2018.0
3         2018.0
4         2018.0
5         2018.0
6         2018.0
7         2018.0
8         2018.0
9         2018.0
10        2018.0
11        2018.0
12        2018.0
13        2018.0
14        2018.0
15        2018.0
16        2018.0
17        2018.0
18        2018.0
19        2018.0
20        2018.0
21        2018.0
22        2018.0
23        2018.0
24        2018.0
25        2018.0
26        2018.0
27        2018.0
28        2018.0
29        2018.0
30        2018.0
31        2018.0
32        2018.0
33        2018.0
34        2018.0
35        2018.0
36        2018.0
37        2018.0
38        2018.0
39        2018.0
40        2018.0
41        2018.0
42        2018.0
43        2018.0
44        2018.0
45        2018.0
46        2018.0
47        2018.0
48        2018.0
49        2018.0
50        2018.0
51        2018.0
52        2018.0
53        2018.0
54        2018.0
55        2018.0
56        2018.0
57        2018.0
58        2018.0
59        2018.0
60        2018.0
61        2018.0
62        2018.0
63        2018.0
64        2018.0
65        2018.0
66        2018.0
67        2018.0
68        2018.0
69        2018.0
70        2018.0
71        2018.0
72        2018.0
73        2018.0
74        2018.0
75        2018.0
76        2018.0
77        2018.0
78        2018.0
79        2018.0
80        2018.0
81        2018.0
82        2018.0
83        2018.0
84        2018.0
85        2018.0
86        2018.0
87        2018.0
88        2018.0
89        2018.0
90        2018.0
91        2018.0
92        2018.0
93        2018.0
94        2018.0
95        2018.0
96        2018.0
97        2018.0
98        2018.0
99        2018.0
100       2018.0
101       2018.0
102       2018.0
103       2018.0
104       2018.0
105       2018.0
106       2018.0
107       2018.0
108       2018.0
109       2018.0
110       2018.0
111       2018.0
112       2018.0
113       2018.0
114       2018.0
115       2018.0
116       2018.0
117       2018.0
118       2018.0
119       2018.0
120       2018.0
121       2018.0
122       2018.0
123       2018.0
124       2018.0
125       2018.0
126       2018.0
127       2018.0
128       2018.0
129       2018.0
130       2018.0
131       2018.0
132       2018.0
133       2018.0
134       2018.0
135       2018.0
136       2018.0
137       2018.0
138       2018.0
139       2018.0
140       2018.0
141       2018.0
142       2018.0
143       2018.0
144       2018.0
145       2018.0
146       2018.0
147       2018.0
148       2018.0
149       2018.0
150       2018.0
151       2018.0
152       2018.0
153       2018.0
154       2018.0
155       2018.0
156       2018.0
157       2018.0
158       2018.0
159       2018.0
160       2018.0
161       2018.0
162       2018.0
163       2018.0
164       2018.0
165       2018.0
166       2018.0
167       2018.0
168       2018.0
169       2018.0
170       2018.0
171       2018.0
172       2018.0
173       2018.0
174       2018.0
175       2018.0
176       2018.0
177       2018.0
178       2018.0
179       2018.0
180       2018.0
181       2018.0
182       2018.0
183       2018.0
184       2018.0
185       2018.0
186       2018.0
187       2018.0
188       2018.0
189       2018.0
190       2018.0
191       2018.0
192       2018.0
193       2018.0
194       2018.0
195       2018.0
196       2018.0
197       2018.0
198       2018.0
199       2018.0
200       2018.0
201       2018.0
202       2018.0
203       2018.0
204       2018.0
205       2018.0
206       2018.0
207       2018.0
208       2018.0
209       2018.0
210       2018.0
211       2018.0
212       2018.0
213       2018.0
214       2018.0
215       2018.0
216       2018.0
217       2018.0
218       2018.0
219       2018.0
220       2018.0
221       2018.0
222       2018.0
223       2018.0
224       2018.0
225       2018.0
226       2018.0
227       2018.0
228       2018.0
229       2018.0
230       2018.0
231       2018.0
232       2018.0
233       2018.0
234       2018.0
235       2018.0
236       2018.0
237       2018.0
238       2018.0
239       2018.0
240       2018.0
241       2018.0
242       2018.0
243       2018.0
244       2018.0
245       2018.0
246       2018.0
247       2018.0
248       2018.0
249       2018.0
           ...
127944    2018.0
127945    2018.0
127946    2018.0
127947    2018.0
127948    2018.0
127949    2018.0
127950    2018.0
127951    2018.0
127952    2018.0
127953    2018.0
127954    2018.0
127955    2018.0
127956    2018.0
127957    2018.0
127958    2018.0
127959    2018.0
127960    2018.0
127961    2018.0
127962    2018.0
127963    2018.0
127964    2018.0
127965    2018.0
127966    2018.0
127967    2018.0
127968    2018.0
127969    2018.0
127970    2018.0
127971    2018.0
127972    2018.0
127973    2018.0
127974    2018.0
127975    2018.0
127976    2018.0
127977    2018.0
127978    2018.0
127979    2018.0
127980    2018.0
127981    2018.0
127982    2018.0
127983    2018.0
127984    2018.0
127985    2018.0
127986    2018.0
127987    2018.0
127988    2018.0
127989    2018.0
127990    2018.0
127991    2018.0
127992    2018.0
127993    2018.0
127994    2018.0
127995    2018.0
127996    2018.0
127997    2018.0
127998    2018.0
127999    2018.0
128000    2018.0
128001    2018.0
128002    2018.0
128003    2018.0
128004    2018.0
128005    2018.0
128006    2018.0
128007    2018.0
128008    2018.0
128009    2018.0
128010    2018.0
128011    2018.0
128012    2018.0
128013    2018.0
128014    2018.0
128015    2018.0
128016    2018.0
128017    2018.0
128018    2018.0
128019    2018.0
128020    2018.0
128021    2018.0
128022    2018.0
128023    2018.0
128024    2018.0
128025    2018.0
128026    2018.0
128027    2018.0
128028    2018.0
128029    2018.0
128030    2018.0
128031    2018.0
128032    2018.0
128033    2018.0
128034    2018.0
128035    2018.0
128036    2018.0
128037    2018.0
128038    2018.0
128039    2018.0
128040    2018.0
128041    2018.0
128042    2018.0
128043    2018.0
128044    2018.0
128045    2018.0
128046    2018.0
128047    2018.0
128048    2018.0
128049    2018.0
128050    2018.0
128051    2018.0
128052    2018.0
128053    2018.0
128054    2018.0
128055    2018.0
128056    2018.0
128057    2018.0
128058    2018.0
128059    2018.0
128060    2018.0
128061    2018.0
128062    2018.0
128063    2018.0
128064    2018.0
128065    2018.0
128066    2018.0
128067    2018.0
128068    2018.0
128069    2018.0
128070    2018.0
128071    2018.0
128072    2018.0
128073    2018.0
128074    2018.0
128075    2018.0
128076    2018.0
128077    2018.0
128078    2018.0
128079    2018.0
128080    2018.0
128081    2018.0
128082    2018.0
128083    2018.0
128084    2018.0
128085    2018.0
128086    2018.0
128087    2018.0
128088    2018.0
128089    2018.0
128090    2018.0
128091    2018.0
128092    2018.0
128093    2018.0
128094    2018.0
128095    2018.0
128096    2018.0
128097    2018.0
128098    2018.0
128099    2018.0
128100    2018.0
128101    2018.0
128102    2018.0
128103    2018.0
128104    2018.0
128105    2018.0
128106    2018.0
128107    2018.0
128108    2018.0
128109    2018.0
128110    2018.0
128111    2018.0
128112    2018.0
128113    2018.0
128114    2018.0
128115    2018.0
128116    2018.0
128117    2018.0
128118    2018.0
128119    2018.0
128120    2018.0
128121    2018.0
128122    2018.0
128123    2018.0
128124    2018.0
128125    2018.0
128126    2018.0
128127    2018.0
128128    2018.0
128129    2018.0
128130    2018.0
128131    2018.0
128132    2018.0
128133    2018.0
128134    2018.0
128135    2018.0
128136    2018.0
128137    2018.0
128138    2018.0
128139    2018.0
128140    2018.0
128141    2018.0
128142    2018.0
128143    2018.0
128144    2018.0
128145    2018.0
128146    2018.0
128147    2018.0
128148    2018.0
128149    2018.0
128150    2018.0
128151    2018.0
128152    2018.0
128153    2018.0
128154    2018.0
128155    2018.0
128156    2018.0
128157    2018.0
128158    2018.0
128159    2018.0
128160    2018.0
128161    2018.0
128162    2018.0
128163    2018.0
128164    2018.0
128165    2018.0
128166    2018.0
128167    2018.0
128168    2018.0
128169    2018.0
128170    2018.0
128171    2018.0
128172    2018.0
128173    2018.0
128174    2018.0
128175    2018.0
128176    2018.0
128177    2018.0
128178    2018.0
128179    2018.0
128180    2018.0
128181    2018.0
128182    2018.0
128183    2018.0
128184    2018.0
128185    2018.0
128186    2018.0
128187    2018.0
128188    2018.0
128189    2018.0
128190    2018.0
128191    2018.0
128192    2018.0
128193    2018.0
Name: last_pymnt_d_year, Length: 128194, dtype: float64

## Load Instacart data

Let's return to the dataset of [3 Million Instacart Orders](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)

If necessary, uncomment and run the cells below to re-download and extract the data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

Here's a list of the six CSV filenames

In [0]:
#%cd instacart_2017_05_01

In [0]:
#!ls -lh

#Load the CSV files with pandas

In [0]:
#

## Do feature engineering#

In [138]:
### stretch for the emp_title col
# There's one other column in the dataframe with percent signs. 
#Remove them and convert to floats. You'll need to handle missing values.
# Modify the emp_title column to replace titles with 'Other'
# if the title is not in the top 20.
# Take initiatve and work on your own ideas!
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_year,issue_month,days_from_earliest_credit_to_issue,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,NaN,NaN,20000,20000,20000,60.0,17.97,507.55,D,D1,Motor Vehicle Operator,7 years,RENT,68000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,254xx,WV,15.80,0,2009-02-01,1,30.0,118.0,11,1,13483,69.1%,26,w,19580.78,19580.78,975.17,975.17,419.22,555.95,0.0,0.0,0.0,2018-12-01,507.55,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,194908,0,2,0,2,17.0,45299,93.0,0,1,9815,86.0,19500,1,4,2,5,19491.0,2185.0,81.8,0,0,115.0,94,13,7,4,25.0,NaN,2.0,30.0,0,1,3,2,4,11,8,10,3,11,0.0,0,0,1,92.3,50.0,1,0,205625,58782,12000,48733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3499,1,12.0,2018.0
1,NaN,NaN,25000,25000,25000,60.0,13.56,576.02,C,C1,Firefighter,7 years,MORTGAGE,61000.0,Verified,2018-09-01,Current,n,NaN,NaN,major_purchase,Major purchase,770xx,TX,16.74,0,2009-01-01,0,NaN,NaN,5,0,6299,48.5%,14,w,24109.45,24109.45,1567.98,1567.98,890.55,677.43,0.0,0.0,0.0,2018-12-01,576.02,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,204007,1,2,0,1,19.0,13862,37.0,0,0,0,40.0,13000,0,7,4,2,40801.0,1500.0,0.0,0,0,54.0,116,26,3,1,74.0,NaN,4.0,NaN,0,0,1,1,2,5,2,8,1,5,0.0,0,0,1,100.0,0.0,0,0,234573,20161,1500,37273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3530,1,12.0,2018.0
2,NaN,NaN,30000,30000,30000,36.0,18.94,1098.78,D,D2,Unknown,< 1 year,RENT,100000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,300xx,GA,16.07,0,2008-03-01,1,NaN,114.0,6,1,14574,70.1%,9,w,28739.57,28739.57,2134.43,2134.43,1260.43,874.00,0.0,0.0,0.0,2018-12-01,1098.78,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,44048,1,2,1,1,1.0,29474,69.0,1,2,8521,69.0,20800,1,0,2,3,8810.0,5226.0,73.6,0,0,126.0,104,11,1,0,17.0,NaN,1.0,NaN,0,2,2,2,2,4,4,5,2,6,0.0,0,0,2,100.0,0.0,1,0,63636,44048,19800,42836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3836,1,12.0,2018.0
3,NaN,NaN,6000,6000,6000,36.0,7.84,187.58,A,A4,Unknown,NaN,RENT,30000.0,Not Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,923xx,CA,5.44,0,2000-04-01,0,NaN,104.0,8,1,5936,34.5%,11,w,5702.27,5702.27,369.93,369.93,297.73,72.20,0.0,0.0,0.0,2018-12-01,187.58,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,350,5936,0,0,0,1,23.0,0,NaN,1,4,2913,35.0,17200,2,0,0,5,848.0,7698.0,35.9,0,0,139.0,221,7,7,0,7.0,NaN,18.0,NaN,0,2,3,4,4,2,8,9,3,8,0.0,0,0,1,100.0,33.3,1,0,17200,5936,12000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,6727,1,12.0,2018.0
4,NaN,NaN,10650,10650,10650,36.0,7.84,332.95,A,A4,Unknown,NaN,RENT,28000.0,Verified,2018-09-01,Current,n,NaN,NaN,medical,Medical expenses,430xx,OH,16.89,0,2002-11-01,0,NaN,NaN,3,0,37,0.3%,3,w,10121.54,10121.54,656.62,656.62,528.46,128.16,0.0,0.0,0.0,2018-12-01,332.95,2019-01-01,2018-12-01,0,NaN,1,Joint App,43000.0,14.01,Source Verified,0,0,18254,0,1,0,1,16.0,18217,81.0,0,0,0,54.0,11500,1,1,0,1,6085.0,NaN,NaN,0,0,16.0,190,113,16,0,NaN,NaN,16.0,NaN,0,0,1,0,0,1,2,2,2,3,0.0,0,0,0,100.0,NaN,0,0,33876,18254,0,22376,2024.0,Oct-1996,0.0,0.0,8.0,18.7,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,5783,1,12.0,2018.0

In [139]:
df['revol_util'].isnull().sum()

129

In [142]:
df['revol_util'].value_counts().head(20)

0%       1060
48%       220
37%       219
32%       217
39%       217
38%       215
35.9%     214
46%       211
36.1%     211
33.5%     208
30%       207
35%       207
35.2%     206
40.9%     206
34.4%     205
43%       205
47%       205
52%       205
56%       204
34.3%     204
Name: revol_util, dtype: int64

In [153]:
# def clean_nan(x):
#     if isinstance(x, np.nan):

# df['revol_util'].fillna(df['revol_util'].mean())
#too soon

# x = '68%'

# def remove_percent(x):
#     return float(x.strip('%'))

In [163]:
df['revol_util'] = df['revol_util'].apply(remove_percent)

AttributeError: 'float' object has no attribute 'strip'