_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

In [5]:
!mkdir -p downloads
%cd downloads

/Users/work/.work/src/projects/lambdaschool/unit-1/DS-Unit-1-Sprint-2-Data-Wrangling/module4-make-features/downloads

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip

--2019-01-17 09:11:56--  https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q3.csv.zip’

LoanStats_2018Q3.cs     [           <=>      ]  21.42M   647KB/s    in 32s

2019-01-17 09:12:29 (686 KB/s) - ‘LoanStats_2018Q3.csv.zip’ saved [22461905]

In [9]:
!unzip LoanStats_2018Q3.csv.zip

Archive:  LoanStats_2018Q3.csv.zip
  inflating: LoanStats_2018Q3.csv

In [24]:
!head -3 LoanStats_2018Q3.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","20000","20000","20000"," 60 months"," 17.97%","507.55","D","D1","Motor Vehicle Operator","7 years","RENT","68000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","254xx","WV","15.8","0","Feb-2009","1","30","118","11","1","13483","69.1%","26","w","19580.78","19580.78","975.17","975.17","419.22","555.95","0.0","0.0","0.0","Dec-2018","507.55","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","194908","0","2","0","2","17","45299","93","0","1","9815","86","19500","1","4","2","5","19491","2185","81.8","0","0","115","94","13","7","4","25","","2","30","0","1","3","2","4","11","8","10","3","11","0","0","0","1","92.3","50","1","0","205625","58782","12000","48733","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Load LendingClub data

In [101]:
file = 'LoanStats_2018Q3.csv'
loans = pd.read_csv(file, skiprows=1, skipfooter=3)

/Users/work/.pyenv/versions/3.6.4/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

In [102]:
pd.options.display.max_columns = len(loans.columns)
loans.head().T

,0,1,2,3,4
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,20000,25000,30000,6000,10650
funded_amnt,20000,25000,30000,6000,10650
funded_amnt_inv,20000,25000,30000,6000,10650
term,60 months,60 months,36 months,36 months,36 months
int_rate,17.97%,13.56%,18.94%,7.84%,7.84%
installment,507.55,576.02,1098.78,187.58,332.95
grade,D,C,D,A,A
sub_grade,D1,C1,D2,A4,A4
emp_title,Motor Vehicle Operator,Firefighter,NaN,NaN,NaN
emp_length,7 years,7 years,< 1 year,NaN,NaN
home_ownership,RENT,MORTGAGE,RENT,RENT,RENT
annual_inc,68000,61000,100000,30000,28000
verification_status,Source Verified,Verified,Source Verified,Not Verified,Verified
issue_d,Sep-2018,Sep-2018,Sep-2018,Sep-2018,Sep-2018
loan_status,Current,Current,Current,Current,Current
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,NaN,NaN,NaN,NaN,NaN
purpose,debt_consolidation,major_purchase,debt_consolidation,debt_consolidation,medical
title,Debt consolidation,Major purchase,Debt consolidation,Debt consolidation,Medical expenses
zip_code,254xx,770xx,300xx,923xx,430xx
addr_state,WV,TX,GA,CA,OH
dti,15.8,16.74,16.07,5.44,16.89
delinq_2yrs,0,0,0,0,0
earliest_cr_line,Feb-2009,Jan-2009,Mar-2008,Apr-2000,Nov-2002
inq_last_6mths,1,0,1,0,0
mths_since_last_delinq,30,NaN,NaN,NaN,NaN
mths_since_last_record,118,NaN,114,104,NaN
...,...,...,...,...,...
sec_app_open_acc,NaN,NaN,NaN,NaN,8
sec_app_revol_util,NaN,NaN,NaN,NaN,18.7
sec_app_open_act_il,NaN,NaN,NaN,NaN,1
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,9
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,0
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,0
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
disbursement_method,DirectPay,Cash,Cash,DirectPay,Cash
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN

In [103]:
def drop_empty_columns(df):
    df_size = len(df)
    columns_to_drop = [column for column in df if df[column].isna().sum()/df_size == 1.0]
    
    return df.drop(columns=columns_to_drop)

cleanly_loans = drop_empty_columns(loans)
cleanly_loans.shape, loans.shape

((128194, 141), (128194, 145))

In [104]:
loans['emp_title'].value_counts().head(20)

Teacher               2294
Manager               2075
Owner                 1231
Driver                1089
Registered Nurse       944
Supervisor             810
RN                     757
Sales                  726
Project Manager        637
General Manager        548
Office Manager         542
Director               482
owner                  398
Engineer               383
Truck Driver           367
Operations Manager     366
President              350
Sales Manager          323
Supervisor             321
Server                 319
Name: emp_title, dtype: int64

## Work with strings

In [105]:
import numpy as np

def all_numeric(df):
    return all((df.dtypes==np.number) | 
               (df.dtypes==bool))

def no_nulls(df):
    return not any(df.isnull().sum())

def ready_for_sklearn(df):
    return all_numeric(df) and no_nulls(df)

In [106]:
ready_for_sklearn(cleanly_loans), ready_for_sklearn(loans)

(False, False)

In [107]:
loans.select_dtypes('object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128194 entries, 0 to 128193
Data columns (total 37 columns):
term                         128194 non-null object
int_rate                     128194 non-null object
grade                        128194 non-null object
sub_grade                    128194 non-null object
emp_title                    114757 non-null object
emp_length                   117807 non-null object
home_ownership               128194 non-null object
verification_status          128194 non-null object
issue_d                      128194 non-null object
loan_status                  128194 non-null object
pymnt_plan                   128194 non-null object
purpose                      128194 non-null object
title                        128194 non-null object
zip_code                     128194 non-null object
addr_state                   128194 non-null object
earliest_cr_line             128194 non-null object
revol_util                   128065 non-null object
initial_list_status          128194 non-null object
last_pymnt_d                 128048 non-null object
next_pymnt_d                 123298 non-null object
last_credit_pull_d           128190 non-null object
application_type             128194 non-null object
verification_status_joint    15729 non-null object
sec_app_earliest_cr_line     17785 non-null object
hardship_flag                128194 non-null object
hardship_type                13 non-null object
hardship_reason              13 non-null object
hardship_status              13 non-null object
hardship_start_date          13 non-null object
hardship_end_date            13 non-null object
payment_plan_start_date      13 non-null object
hardship_loan_status         13 non-null object
disbursement_method          128194 non-null object
debt_settlement_flag         128194 non-null object
debt_settlement_flag_date    5 non-null object
settlement_status            5 non-null object
settlement_date              5 non-null object
dtypes: object(37)
memory usage: 36.2+ MB

In [108]:
loans.int_rate.head().values

array([' 17.97%', ' 13.56%', ' 18.94%', '  7.84%', '  7.84%'],
      dtype=object)

In [109]:
def is_manager(titles):
    return titles.str.contains('Manager')
    
loans['emp_title'].value_counts(), is_manager(loans['emp_title'])

(Teacher                                  2294
 Manager                                  2075
 Owner                                    1231
 Driver                                   1089
 Registered Nurse                          944
 Supervisor                                810
 RN                                        757
 Sales                                     726
 Project Manager                           637
 General Manager                           548
 Office Manager                            542
 Director                                  482
 owner                                     398
 Engineer                                  383
 Truck Driver                              367
 Operations Manager                        366
 President                                 350
 Sales Manager                             323
 Supervisor                                321
 Server                                    319
 Nurse                                     317
 teacher                                   311
 Administrative Assistant                  304
 Accountant                                303
 manager                                   303
 Account Manager                           288
 Manager                                   281
 Technician                                269
 Vice President                            260
 Store Manager                             258
                                          ...
 Master Mariner                              1
 Services Specialist                         1
 Sales Coordiantor                           1
 dietary supervisor                          1
 department manager                          1
 Painter, bodyshop manager                   1
 Director of Statewide Sales                 1
 Window tinted                               1
 nurse practtioner                           1
 Notary Public                               1
 Mechanico                                   1
  Senior account manager                     1
 casino games dealer                         1
 USPFO-Warehouse Supervisor                  1
 Sr. Mortgage Underwriter                    1
 hose assembly                               1
 Wireless Tech                               1
 Operatioanal Risk                           1
 Supervisor Electrician                      1
 Engineering assistant                       1
 Fire/Rescue Captain                         1
 Tax Services Manager                        1
 Outpatient Dietitian                        1
 dump truck driver                           1
 Sales and Research                          1
 RN case Manager                             1
 Senior Regional Sales Executive             1
 Finance Assistant                           1
 Principal Project Controls Specialist       1
 Mailhandler/MEO Driver                      1
 Name: emp_title, Length: 44627, dtype: int64, 0         False
 1         False
 2           NaN
 3           NaN
 4           NaN
 5           NaN
 6          True
 7         False
 8         False
 9         False
 10        False
 11         True
 12        False
 13        False
 14        False
 15        False
 16        False
 17        False
 18        False
 19          NaN
 20         True
 21        False
 22        False
 23        False
 24        False
 25          NaN
 26         True
 27        False
 28        False
 29        False
           ...
 128164    False
 128165    False
 128166    False
 128167    False
 128168      NaN
 128169    False
 128170    False
 128171    False
 128172    False
 128173    False
 128174      NaN
 128175    False
 128176    False
 128177    False
 128178    False
 128179      NaN
 128180      NaN
 128181    False
 128182    False
 128183    False
 128184    False
 128185      NaN
 128186    False
 128187      NaN
 128188    False
 128189    False
 128190    False
 128191    False
 128192    False
 128193    False
 Name: emp_title, Length: 128194, dtype: object)

## Work with dates

In [110]:
loans['issue_d'] = pd.to_datetime(loans['issue_d'], infer_datetime_format=True)

In [111]:
loans.issue_d.describe()

count                  128194
unique                      3
top       2018-08-01 00:00:00
freq                    46079
first     2018-07-01 00:00:00
last      2018-09-01 00:00:00
Name: issue_d, dtype: object

In [112]:
loans['issue_year'] = loans['issue_d'].dt.year
loans['issue_month'] = loans['issue_d'].dt.month

In [113]:
loans['earliest_cr_line'] = pd.to_datetime(loans['earliest_cr_line'], infer_datetime_format=True)

In [114]:
(loans['issue_d'] - loans['earliest_cr_line']).head()

0   3499 days
1   3530 days
2   3836 days
3   6727 days
4   5783 days
dtype: timedelta64[ns]

In [115]:
loans['days_from_earliest_credit_to_issue'] = loans['issue_d'] - loans['earliest_cr_line']

ASSIGNMENT

    Replicate the lesson code.

    Convert the term column from string to integer.

    Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

    Make last_pymnt_d_month and last_pymnt_d_year columns.

STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:

    There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
    Modify the emp_title column to replace titles with 'Other' if the title is not in the top 20.
    Process the dataframe so that ready_for_sklearn(df) returns True. You can drop columns, or select the subset of numeric columns with no missing values. (Or you can try automating the process to handle missing values and convert objects to numbers!)
    Take initiatve and work on your own ideas!

Instacart options:

    Read Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera, especially the Feature Engineering section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
    Read and replicate parts of Simple Exploration Notebook - Instacart. (It's the Python Notebook with the most upvotes for this Kaggle competition.)
    Take initiative and work on your own ideas!

## Assignment

In [116]:
loans['term'] = pd.to_numeric(loans['term'].str.replace(' months', ''))
loans['term'].dtype

dtype('int64')

In [117]:
loans['loan_status_is_great'] = (
    loans['loan_status'].isin(['Fully Paid', 'Current']).astype('int64')
)

pd.crosstab(loans['loan_status'], loans['loan_status_is_great'])

loan_status_is_great    0       1
loan_status
Charged Off           110       0
Current                 0  121082
Fully Paid              0    4786
In Grace Period       948       0
Late (16-30 days)     348       0
Late (31-120 days)    920       0

In [118]:
loans['last_pymnt_d'] = (
    pd.to_datetime(loans['last_pymnt_d'], infer_datetime_format=True)
)

loans['last_pymnt_d'].head()

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [119]:
loans['last_pymnt_d_month'] = loans['last_pymnt_d'].dt.month
loans['last_pymnt_d_year'] = loans['last_pymnt_d'].dt.year

In [120]:
loans[['last_pymnt_d', 'last_pymnt_d_year', 'last_pymnt_d_month']].sample(5)

       last_pymnt_d  last_pymnt_d_year  last_pymnt_d_month
112307   2018-12-01             2018.0                12.0
66121    2018-12-01             2018.0                12.0
44252    2018-12-01             2018.0                12.0
18198    2018-12-01             2018.0                12.0
78505    2018-12-01             2018.0                12.0

## Stretch

#### LendingClub

In [121]:
top_20_employee_titles = (
    loans['emp_title'].value_counts()[:20].index.tolist()
)
is_not_in_top_20 = ~loans['emp_title'].isin(top_20_employee_titles)

loans.loc[is_not_in_top_20, 'emp_title'] = 'Other'

In [122]:
loans[['emp_title']].sample(10)

       emp_title
39753      Other
104129     Other
28580      Other
102761     Other
35004         RN
9327       Other
29299      Other
850        Other
35654      Other
19271      Other

In [126]:
loans['emp_title'].value_counts()

Other                 113232
Teacher                 2294
Manager                 2075
Owner                   1231
Driver                  1089
Registered Nurse         944
Supervisor               810
RN                       757
Sales                    726
Project Manager          637
General Manager          548
Office Manager           542
Director                 482
owner                    398
Engineer                 383
Truck Driver             367
Operations Manager       366
President                350
Sales Manager            323
Supervisor               321
Server                   319
Name: emp_title, dtype: int64

In [135]:
loans['int_rate'] = (
    loans['int_rate'].str.replace('%', '').fillna(0).astype('float64')
)

loans['int_rate'].sample(5)

55853     13.56
26159     13.56
102792    16.91
123029    19.92
64006     11.55
Name: int_rate, dtype: float64

#### Instacart

In [138]:
%cd instacart_2017_05_01

/Users/work/.work/src/projects/lambdaschool/unit-1/DS-Unit-1-Sprint-2-Data-Wrangling/module4-make-features/downloads/instacart_2017_05_01

In [139]:
!ls

aisles.csv                order_products__prior.csv orders.csv
departments.csv           order_products__train.csv products.csv

In [142]:
pd.options.mode.chained_assignment = None

order_products_train_df = pd.read_csv("order_products__train.csv")
order_products_prior_df = pd.read_csv("order_products__prior.csv")
orders_df = pd.read_csv("orders.csv")
products_df = pd.read_csv("products.csv")
aisles_df = pd.read_csv("aisles.csv")
departments_df = pd.read_csv("departments.csv")

In [143]:
orders_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [168]:
orders_df['user_id'].unique().size

206209