_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip

--2019-01-17 20:55:13--  https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q3.csv.zip’

LoanStats_2018Q3.cs     [                <=> ]  21.42M   883KB/s    in 25s

2019-01-17 20:55:39 (878 KB/s) - ‘LoanStats_2018Q3.csv.zip’ saved [22461905]

In [2]:
!unzip LoanStats_2018Q3.csv.zip

Archive:  LoanStats_2018Q3.csv.zip
  inflating: LoanStats_2018Q3.csv

In [3]:
!head LoanStats_2018Q3.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","20000","20000","20000"," 60 months"," 17.97%","507.55","D","D1","Motor Vehicle Operator","7 years","RENT","68000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","254xx","WV","15.8","0","Feb-2009","1","30","118","11","1","13483","69.1%","26","w","19580.78","19580.78","975.17","975.17","419.22","555.95","0.0","0.0","0.0","Dec-2018","507.55","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","194908","0","2","0","2","17","45299","93","0","1","9815","86","19500","1","4","2","5","19491","2185","81.8","0","0","115","94","13","7","4","25","","2","30","0","1","3","2","4","11","8","10","3","11","0","0","0","1","92.3","50","1","0","205625","58782","12000","48733","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 13.56%","576.02","C","C1","Firefighter","7 years","MORTGAGE","61000","Verified","Sep-2018","Current","n","","","major_purchase","Major purchase","770xx","TX","16.74","0","Jan-2009","0","","","5","0","6299","48.5%","14","w","24109.45","24109.45","1567.98","1567.98","890.55","677.43","0.0","0.0","0.0","Dec-2018","576.02","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","204007","1","2","0","1","19","13862","37","0","0","0","40","13000","0","7","4","2","40801","1500","0","0","0","54","116","26","3","1","74","","4","","0","0","1","1","2","5","2","8","1","5","0","0","0","1","100","0","0","0","234573","20161","1500","37273","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 36 months"," 18.94%","1098.78","D","D2","","< 1 year","RENT","100000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","300xx","GA","16.07","0","Mar-2008","1","","114","6","1","14574","70.1%","9","w","28739.57","28739.57","2134.43","2134.43","1260.43","874.00","0.0","0.0","0.0","Dec-2018","1098.78","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","44048","1","2","1","1","1","29474","69","1","2","8521","69","20800","1","0","2","3","8810","5226","73.6","0","0","126","104","11","1","0","17","","1","","0","2","2","2","2","4","4","5","2","6","0","0","0","2","100","0","1","0","63636","44048","19800","42836","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","6000","6000","6000"," 36 months","  7.84%","187.58","A","A4","","n/a","RENT","30000","Not Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","923xx","CA","5.44","0","Apr-2000","0","","104","8","1","5936","34.5%","11","w","5702.27","5702.27","369.93","369.93","297.73","72.20","0.0","0.0","0.0","Dec-2018","187.58","Jan-2019","Dec-2018","0","","1","Individual","","","","0","350","5936","0","0","0","1","23","0","","1","4","2913","35","17200","2","0","0","5","848","7698","35.9","0","0","139","221","7","7","0","7","","18","","0","2","3","4","4","2","8","9","3","8","0","0","0","1","100","33.3","1","0","17200","5936","12000","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","10650","10650","10650"," 36 months","  7.84%","332.95","A","A4","","n/a","RENT","28000","Verified","Sep-2018","Current","n","","","medical","Medical expenses","430xx","OH","16.89","0","Nov-2002","0","","","3","0","37","0.3%","3","w","10121.54","10121.54","656.62","656.62","528.46","128.16","0.0","0.0","0.0","Dec-2018","332.95","Jan-2019","Dec-2018","0","","1","Joint App","43000","14.01","Source Verified","0","0","18254","0","1","0","1","16","18217","81","0","0","0","54","11500","1","1","0","1","6085","","","0","0","16","190","113","16","0","","","16","","0","0","1","0","0","1","2","2","2","3","0","0","0","0","100","","0","0","33876","18254","0","22376","2024","Oct-1996","0","0","8","18.7","1","9","0","0","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","9000","9000","9000"," 36 months","  6.11%","274.25","A","A1","","n/a","OWN","25000","Not Verified","Sep-2018","Current","n","","","credit_card","Credit card refinancing","224xx","VA","12.1","0","Apr-1999","0","56","","6","0","8996","33.8%","18","w","8541.98","8541.98","550.03","550.03","458.02","92.01","0.0","0.0","0.0","Dec-2018","274.25","Jan-2019","Dec-2018","0","56","1","Individual","","","","0","160","8996","0","0","0","0","66","0","","0","1","6920","34","26600","0","0","0","1","1799","13466","35.3","0","0","66","233","14","14","2","77","","14","56","2","2","4","3","4","1","6","15","4","6","0","0","0","0","83.3","0","0","0","26600","8996","20800","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","20000","20000","20000"," 36 months","  6.67%","614.53","A","A2","General Manager","< 1 year","MORTGAGE","125000","Not Verified","Sep-2018","Current","n","","","house","Home buying","750xx","TX","15.55","1","Jul-2003","0","21","","24","0","5832","11.4%","36","w","18990.48","18990.48","1214.24","1214.24","1009.52","204.72","0.0","0.0","0.0","Dec-2018","614.53","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","63577","2","1","0","1","22","54244","","2","4","3048","17","51100","1","0","6","6","3027","36050","11.9","0","0","148","182","6","6","2","24","21","1","21","0","5","6","16","19","6","22","26","6","24","0","0","0","2","97.2","7.7","0","0","133998","63577","40900","78764","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","20000","20000","20000"," 36 months","  7.84%","625.26","A","A4","Teacher","10+ years","MORTGAGE","48186","Not Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","641xx","MO","24.68","0","Aug-1996","0","","","17","0","23822","58.8%","38","w","18506.50","18506.50","1803.14","1803.14","1493.50","309.64","0.0","0.0","0.0","Dec-2018","625.26","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","191246","0","9","0","2","16","14800","48","1","1","11800","54","40500","1","0","0","3","11250","13078","57.8","0","0","265","239","8","8","2","8","","16","","0","3","4","6","7","27","7","9","4","17","0","0","0","1","100","16.7","0","0","234182","38622","31000","30832","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""

In [4]:
!tail LoanStats_2018Q3.csv

"","","12000","12000","12000"," 36 months"," 14.03%","410.31","C","C2","Medical Support Staff","10+ years","OWN","53414","Source Verified","Jul-2018","Current","n","","","home_improvement","Home improvement","136xx","NY","25.68","0","Mar-1997","0","","","8","0","6527","44.4%","20","w","10618.01","10618.01","2037.52","2037.52","1381.99","655.53","0.0","0.0","0.0","Dec-2018","410.31","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","29869","0","2","0","2","13","23342","73","0","0","3977","64","14700","1","1","0","2","3734","7173","47.6","0","0","139","255","42","13","0","66","","18","","0","2","2","5","9","8","6","12","2","8","0","0","0","0","100","40","0","0","46792","29869","13700","32092","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 16.46%","176.93","C","C5","Labor Worker","3 years","MORTGAGE","57000","Not Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","781xx","TX","33.09","0","Jul-2008","0","25","","11","0","7449","41.4%","47","w","4443.20","4443.20","875.51","875.51","556.80","318.71","0.0","0.0","0.0","Dec-2018","176.93","Jan-2019","Dec-2018","0","","1","Individual","","","","0","236","45088","1","5","3","4","7","37639","58","1","2","0","54","18000","3","10","1","6","4099","","","0","0","119","80","1","1","0","","","8","25","0","0","4","0","1","39","6","8","4","11","0","0","0","4","93.6","","0","0","83496","45088","0","65496","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months","  6.19%","152.55","A","A2","Host/cashier","4 years","RENT","22000","Not Verified","Jul-2018","Current","n","","","credit_card","Credit card refinancing","731xx","OK","11.67","0","Apr-2001","0","","","6","0","7118","23.3%","19","w","4359.64","4359.64","759.31","759.31","640.36","118.95","0.0","0.0","0.0","Dec-2018","152.55","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","7118","1","0","0","0","127","0","","1","1","3841","23","30500","1","0","0","1","1186","23382","23.3","0","0","168","206","3","3","0","3","","17","","0","3","3","6","10","4","6","15","3","6","0","0","0","1","100","0","0","0","30500","7118","30500","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","20000","20000","20000"," 36 months"," 15.49%","698.12","C","C4","Client manager","10+ years","MORTGAGE","80000","Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","913xx","CA","22.14","0","Apr-1994","0","43","","27","0","28994","63%","47","w","17742.70","17742.70","3456.18","3456.18","2257.30","1198.88","0.0","0.0","0.0","Dec-2018","698.12","Jan-2019","Dec-2018","0","43","1","Individual","","","","0","0","314886","0","1","0","0","37","15336","61","1","9","5067","64","46000","1","6","0","10","11662","3359","83.8","0","0","129","186","10","10","3","10","43","13","43","3","8","22","8","15","6","24","36","22","27","0","0","0","1","93.6","75","0","0","349879","47229","20700","25295","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 11.05%","327.63","B","B4","Operator","5 years","RENT","60000","Not Verified","Jul-2018","Current","n","","","credit_card","Credit card refinancing","952xx","CA","10.72","0","Apr-2015","0","27","","8","0","2301","28.1%","12","w","8800.60","8800.60","1628.94","1628.94","1199.40","429.54","0.0","0.0","0.0","Dec-2018","327.63","Jan-2019","Dec-2018","0","27","1","Individual","","","","0","0","9572","0","2","1","1","12","7271","60","3","4","1624","47","8200","0","0","1","5","1197","3099","42.6","0","0","34","38","9","9","0","11","","9","","1","3","3","5","6","3","6","8","3","8","0","0","0","4","100","20","0","0","20377","9572","5400","12177","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 16.46%","141.54","C","C5","jewelry","5 years","RENT","9600","Source Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","925xx","CA","14.5","1","Nov-2014","0","15","","5","0","3545","45.4%","5","w","3554.58","3554.58","700.38","700.38","445.42","254.96","0.0","0.0","0.0","Dec-2018","141.54","Jan-2019","Dec-2018","0","","1","Individual","","","","0","0","3545","1","0","0","0","","0","","1","2","1515","45","7800","0","0","0","2","709","285","84.2","0","0","","43","1","1","0","33","","","15","0","1","3","1","1","0","5","5","3","5","0","0","0","1","80","100","0","0","7800","3545","1800","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""


Total amount funded in policy code 1: 2063142975
Total amount funded in policy code 2: 823319310

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [5]:
import pandas as pd

df = pd.read_csv('LoanStats_2018Q3.csv', skiprows=1, skipfooter=2)
df.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

(128194, 145)

In [6]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500
df.head().T # .T transposes the df

,0,1,2,3,4
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,20000,25000,30000,6000,10650
funded_amnt,20000,25000,30000,6000,10650
funded_amnt_inv,20000,25000,30000,6000,10650
term,60 months,60 months,36 months,36 months,36 months
int_rate,17.97%,13.56%,18.94%,7.84%,7.84%
installment,507.55,576.02,1098.78,187.58,332.95
grade,D,C,D,A,A
sub_grade,D1,C1,D2,A4,A4
emp_title,Motor Vehicle Operator,Firefighter,NaN,NaN,NaN
emp_length,7 years,7 years,< 1 year,NaN,NaN
home_ownership,RENT,MORTGAGE,RENT,RENT,RENT
annual_inc,68000,61000,100000,30000,28000
verification_status,Source Verified,Verified,Source Verified,Not Verified,Verified
issue_d,Sep-2018,Sep-2018,Sep-2018,Sep-2018,Sep-2018
loan_status,Current,Current,Current,Current,Current
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,NaN,NaN,NaN,NaN,NaN
purpose,debt_consolidation,major_purchase,debt_consolidation,debt_consolidation,medical
title,Debt consolidation,Major purchase,Debt consolidation,Debt consolidation,Medical expenses
zip_code,254xx,770xx,300xx,923xx,430xx
addr_state,WV,TX,GA,CA,OH
dti,15.8,16.74,16.07,5.44,16.89
delinq_2yrs,0,0,0,0,0
earliest_cr_line,Feb-2009,Jan-2009,Mar-2008,Apr-2000,Nov-2002
inq_last_6mths,1,0,1,0,0
mths_since_last_delinq,30,NaN,NaN,NaN,NaN
mths_since_last_record,118,NaN,114,104,NaN
open_acc,11,5,6,8,3
pub_rec,1,0,1,1,0
revol_bal,13483,6299,14574,5936,37
revol_util,69.1%,48.5%,70.1%,34.5%,0.3%
total_acc,26,14,9,11,3
initial_list_status,w,w,w,w,w
out_prncp,19580.8,24109.5,28739.6,5702.27,10121.5
out_prncp_inv,19580.8,24109.5,28739.6,5702.27,10121.5
total_pymnt,975.17,1567.98,2134.43,369.93,656.62
total_pymnt_inv,975.17,1567.98,2134.43,369.93,656.62
total_rec_prncp,419.22,890.55,1260.43,297.73,528.46
total_rec_int,555.95,677.43,874,72.2,128.16
total_rec_late_fee,0,0,0,0,0
recoveries,0,0,0,0,0
collection_recovery_fee,0,0,0,0,0
last_pymnt_d,Dec-2018,Dec-2018,Dec-2018,Dec-2018,Dec-2018
last_pymnt_amnt,507.55,576.02,1098.78,187.58,332.95
next_pymnt_d,Jan-2019,Jan-2019,Jan-2019,Jan-2019,Jan-2019
last_credit_pull_d,Dec-2018,Dec-2018,Dec-2018,Dec-2018,Dec-2018
collections_12_mths_ex_med,0,0,0,0,0
mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
policy_code,1,1,1,1,1
application_type,Individual,Individual,Individual,Individual,Joint App
annual_inc_joint,NaN,NaN,NaN,NaN,43000
dti_joint,NaN,NaN,NaN,NaN,14.01
verification_status_joint,NaN,NaN,NaN,NaN,Source Verified
acc_now_delinq,0,0,0,0,0
tot_coll_amt,0,0,0,350,0
tot_cur_bal,194908,204007,44048,5936,18254
open_acc_6m,0,1,1,0,0
open_act_il,2,2,2,0,1
open_il_12m,0,0,1,0,0
open_il_24m,2,1,1,1,1
mths_since_rcnt_il,17,19,1,23,16
total_bal_il,45299,13862,29474,0,18217
il_util,93,37,69,NaN,81
open_rv_12m,0,0,1,1,0
open_rv_24m,1,0,2,4,0
max_bal_bc,9815,0,8521,2913,0
all_util,86,40,69,35,54
total_rev_hi_lim,19500,13000,20800,17200,11500
inq_fi,1,0,1,2,1
total_cu_tl,4,7,0,0,1
inq_last_12m,2,4,2,0,0
acc_open_past_24mths,5,2,3,5,1
avg_cur_bal,19491,40801,8810,848,6085
bc_open_to_buy,2185,1500,5226,7698,NaN
bc_util,81.8,0,73.6,35.9,NaN
chargeoff_within_12_mths,0,0,0,0,0
delinq_amnt,0,0,0,0,0
mo_sin_old_il_acct,115,54,126,139,16
mo_sin_old_rev_tl_op,94,116,104,221,190
mo_sin_rcnt_rev_tl_op,13,26,11,7,113
mo_sin_rcnt_tl,7,3,1,7,16
mort_acc,4,1,0,0,0
mths_since_recent_bc,25,74,17,7,NaN
mths_since_recent_bc_dlq,NaN,NaN,NaN,NaN,NaN
mths_since_recent_inq,2,4,1,18,16
mths_since_recent_revol_delinq,30,NaN,NaN,NaN,NaN
num_accts_ever_120_pd,0,0,0,0,0
num_actv_bc_tl,1,0,2,2,0
num_actv_rev_tl,3,1,2,3,1
num_bc_sats,2,1,2,4,0
num_bc_tl,4,2,2,4,0
num_il_tl,11,5,4,2,1
num_op_rev_tl,8,2,4,8,2
num_rev_accts,10,8,5,9,2
num_rev_tl_bal_gt_0,3,1,2,3,2
num_sats,11,5,6,8,3
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,0,0
num_tl_op_past_12m,1,1,2,1,0
pct_tl_nvr_dlq,92.3,100,100,100,100
percent_bc_gt_75,50,0,0,33.3,NaN
pub_rec_bankruptcies,1,0,1,1,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,205625,234573,63636,17200,33876
total_bal_ex_mort,58782,20161,44048,5936,18254
total_bc_limit,12000,1500,19800,12000,0
total_il_high_credit_limit,48733,37273,42836,0,22376
revol_bal_joint,NaN,NaN,NaN,NaN,2024
sec_app_earliest_cr_line,NaN,NaN,NaN,NaN,Oct-1996
sec_app_inq_last_6mths,NaN,NaN,NaN,NaN,0
sec_app_mort_acc,NaN,NaN,NaN,NaN,0
sec_app_open_acc,NaN,NaN,NaN,NaN,8
sec_app_revol_util,NaN,NaN,NaN,NaN,18.7
sec_app_open_act_il,NaN,NaN,NaN,NaN,1
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,9
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,0
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,0
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
disbursement_method,DirectPay,Cash,Cash,DirectPay,Cash
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN

In [7]:
# Some columns very sparse -- This column is 99% blank
df['hardship_payoff_balance_amount'].isnull().sum() / len(df)

0.999898591197716

## Work with strings

For machine learning, we usually want to replace strings with numbers

In [0]:
import numpy as np

def all_numeric(df):
  return all ((df.dtypes==np.number) |
             (df.dtypes==bool))

def no_nulls(df):
  return not any(df.isnull().sum())

def ready_for_sklearn(df):
  return all_numeric(df) and no_nulls(df)

In [9]:
# See which columns are numbers
df.dtypes==np.number

id                                             True
member_id                                      True
loan_amnt                                     False
funded_amnt                                   False
funded_amnt_inv                               False
term                                          False
int_rate                                      False
installment                                    True
grade                                         False
sub_grade                                     False
emp_title                                     False
emp_length                                    False
home_ownership                                False
annual_inc                                     True
verification_status                           False
issue_d                                       False
loan_status                                   False
pymnt_plan                                    False
url                                            True
desc                                           True
purpose                                       False
title                                         False
zip_code                                      False
addr_state                                    False
dti                                            True
delinq_2yrs                                   False
earliest_cr_line                              False
inq_last_6mths                                False
mths_since_last_delinq                         True
mths_since_last_record                         True
open_acc                                      False
pub_rec                                       False
revol_bal                                     False
revol_util                                    False
total_acc                                     False
initial_list_status                           False
out_prncp                                      True
out_prncp_inv                                  True
total_pymnt                                    True
total_pymnt_inv                                True
total_rec_prncp                                True
total_rec_int                                  True
total_rec_late_fee                             True
recoveries                                     True
collection_recovery_fee                        True
last_pymnt_d                                  False
last_pymnt_amnt                                True
next_pymnt_d                                  False
last_credit_pull_d                            False
collections_12_mths_ex_med                    False
mths_since_last_major_derog                    True
policy_code                                   False
application_type                              False
annual_inc_joint                               True
dti_joint                                      True
verification_status_joint                     False
acc_now_delinq                                False
tot_coll_amt                                  False
tot_cur_bal                                   False
open_acc_6m                                   False
open_act_il                                   False
open_il_12m                                   False
open_il_24m                                   False
mths_since_rcnt_il                             True
total_bal_il                                  False
il_util                                        True
open_rv_12m                                   False
open_rv_24m                                   False
max_bal_bc                                    False
all_util                                       True
total_rev_hi_lim                              False
inq_fi                                        False
total_cu_tl                                   False
inq_last_12m                                  False
acc_open_past_24mths                          False
avg_cur_bal                                    True
bc_open_to_buy                                 True
bc_util                                        True
chargeoff_within_12_mths                      False
delinq_amnt                                   False
mo_sin_old_il_acct                             True
mo_sin_old_rev_tl_op                          False
mo_sin_rcnt_rev_tl_op                         False
mo_sin_rcnt_tl                                False
mort_acc                                      False
mths_since_recent_bc                           True
mths_since_recent_bc_dlq                       True
mths_since_recent_inq                          True
mths_since_recent_revol_delinq                 True
num_accts_ever_120_pd                         False
num_actv_bc_tl                                False
num_actv_rev_tl                               False
num_bc_sats                                   False
num_bc_tl                                     False
num_il_tl                                     False
num_op_rev_tl                                 False
num_rev_accts                                 False
num_rev_tl_bal_gt_0                           False
num_sats                                      False
num_tl_120dpd_2m                               True
num_tl_30dpd                                  False
num_tl_90g_dpd_24m                            False
num_tl_op_past_12m                            False
pct_tl_nvr_dlq                                 True
percent_bc_gt_75                               True
pub_rec_bankruptcies                          False
tax_liens                                     False
tot_hi_cred_lim                               False
total_bal_ex_mort                             False
total_bc_limit                                False
total_il_high_credit_limit                    False
revol_bal_joint                                True
sec_app_earliest_cr_line                      False
sec_app_inq_last_6mths                         True
sec_app_mort_acc                               True
sec_app_open_acc                               True
sec_app_revol_util                             True
sec_app_open_act_il                            True
sec_app_num_rev_accts                          True
sec_app_chargeoff_within_12_mths               True
sec_app_collections_12_mths_ex_med             True
sec_app_mths_since_last_major_derog            True
hardship_flag                                 False
hardship_type                                 False
hardship_reason                               False
hardship_status                               False
deferral_term                                  True
hardship_amount                                True
hardship_start_date                           False
hardship_end_date                             False
payment_plan_start_date                       False
hardship_length                                True
hardship_dpd                                   True
hardship_loan_status                          False
orig_projected_additional_accrued_interest     True
hardship_payoff_balance_amount                 True
hardship_last_payment_amount                   True
disbursement_method                           False
debt_settlement_flag                          False
debt_settlement_flag_date                     False
settlement_status                             False
settlement_date                               False
settlement_amount                              True
settlement_percentage                          True
settlement_term                                True
dtype: bool

In [10]:
# Using all function to see if all columns are numbers
all(df.dtypes==np.number)

False

In [11]:
# Seeing if df is ready for ML -- it's not
ready_for_sklearn(df)

False

In [12]:
# Seeing if df is all numeric -- it's not
all_numeric(df)

False

We can get info which columns have dtype or object (string)

In [13]:
# Looking at all columns that are objects
df.select_dtypes('object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128194 entries, 0 to 128193
Data columns (total 37 columns):
term                         128194 non-null object
int_rate                     128194 non-null object
grade                        128194 non-null object
sub_grade                    128194 non-null object
emp_title                    114757 non-null object
emp_length                   117807 non-null object
home_ownership               128194 non-null object
verification_status          128194 non-null object
issue_d                      128194 non-null object
loan_status                  128194 non-null object
pymnt_plan                   128194 non-null object
purpose                      128194 non-null object
title                        128194 non-null object
zip_code                     128194 non-null object
addr_state                   128194 non-null object
earliest_cr_line             128194 non-null object
revol_util                   128065 non-null object
initial_list_status          128194 non-null object
last_pymnt_d                 128048 non-null object
next_pymnt_d                 123298 non-null object
last_credit_pull_d           128190 non-null object
application_type             128194 non-null object
verification_status_joint    15729 non-null object
sec_app_earliest_cr_line     17785 non-null object
hardship_flag                128194 non-null object
hardship_type                13 non-null object
hardship_reason              13 non-null object
hardship_status              13 non-null object
hardship_start_date          13 non-null object
hardship_end_date            13 non-null object
payment_plan_start_date      13 non-null object
hardship_loan_status         13 non-null object
disbursement_method          128194 non-null object
debt_settlement_flag         128194 non-null object
debt_settlement_flag_date    5 non-null object
settlement_status            5 non-null object
settlement_date              5 non-null object
dtypes: object(37)
memory usage: 36.2+ MB

**Convert Int rate**

In [14]:
# looking at first 5 values of int_rate column -- they are strings
df.int_rate.head().values

array([' 17.97%', ' 13.56%', ' 18.94%', '  7.84%', '  7.84%'],
      dtype=object)

Define a function to remove percent signs from strings and convert to floats

In [0]:
string = '17.97%' # Start with simple example

# string.replace('%', '')
# float(string.replace('%', '')) # wrap the above in float

In [17]:
def remove_percent(string):
  return float(string.strip('%'))

remove_percent(string)

17.97

Apply the function to the int_rate column

In [0]:
# Changing int_rate column to float -- raising error 
df['int_rate'] = df['int_rate'].apply(remove_percent)

In [19]:
# Column is now floats
df['int_rate'].head()

0    17.97
1    13.56
2    18.94
3     7.84
4     7.84
Name: int_rate, dtype: float64

**Clean emp_title**

Look at top 20 titles

In [20]:
# Looking at first 20 emp_title values (descending)
df['emp_title'].value_counts().head(20)

Teacher               2294
Manager               2075
Owner                 1231
Driver                1089
Registered Nurse       944
Supervisor             810
RN                     757
Sales                  726
Project Manager        637
General Manager        548
Office Manager         542
Director               482
owner                  398
Engineer               383
Truck Driver           367
Operations Manager     366
President              350
Sales Manager          323
Supervisor             321
Server                 319
Name: emp_title, dtype: int64

In [21]:
# Getting closer look at formatting for these titles. One 'Supervisor' has extra space at end
df['emp_title'].value_counts().head(20).index

Index(['Teacher', 'Manager', 'Owner', 'Driver', 'Registered Nurse',
       'Supervisor', 'RN', 'Sales', 'Project Manager', 'General Manager',
       'Office Manager', 'Director', 'owner', 'Engineer', 'Truck Driver',
       'Operations Manager', 'President', 'Sales Manager', 'Supervisor ',
       'Server'],
      dtype='object')

How often is emp_title null?

In [22]:
df['emp_title'].isnull().sum()

13437

Clean title and handle missing values

In [23]:
examples = ['owner', 'Supervisor ', ' Project manager', np.nan] # simple example

def clean_title(x):
  if isinstance(x, str): # This checks if x is string-like
#   if type(x) == str  This checks if x is exactly string
    return x.strip().title()
#   elif np.nan:
#     return 'Unknown'
  else:
    return 'Unknown'

for example in examples:
  print(clean_title(example))

Owner
Supervisor
Project Manager
Unknown

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

In [25]:
df['emp_title'].value_counts().head(20)

Unknown                     13437
Teacher                      2843
Manager                      2749
Owner                        1856
Driver                       1498
Registered Nurse             1386
Supervisor                   1345
Sales                         980
Truck Driver                  921
Rn                            905
Office Manager                846
Project Manager               835
General Manager               809
Director                      585
Operations Manager            516
Sales Manager                 510
Engineer                      474
Administrative Assistant      466
Store Manager                 466
President                     464
Name: emp_title, dtype: int64

In [26]:
# To square int_rate, write like this:
df.int_rate ** 2

# Not like this:

# def square(x):
#   return x ** 2

# df.int_rate.apply(square)

0         322.9209
1         183.8736
2         358.7236
3          61.4656
4          61.4656
5          37.3321
6          44.4889
7          61.4656
8          51.9841
9         225.6004
10        225.6004
11         61.4656
12        183.8736
13         71.5716
14         51.9841
15         71.5716
16         71.5716
17        436.3921
18         37.3321
19        499.5225
20         51.9841
21        285.9481
22        260.4996
23         44.4889
24        183.8736
25         61.4656
26        183.8736
27         51.9841
28         44.4889
29         61.4656
30         44.4889
31        358.7236
32        162.0529
33        209.3809
34         37.3321
35        183.8736
36        133.4025
37         71.5716
38        285.9481
39        285.9481
40        109.6209
41         37.3321
42        122.3236
43        209.3809
44         44.4889
45         37.3321
46         71.5716
47         44.4889
48         61.4656
49         37.3321
50        101.6064
51         71.5716
52        499.5225
53        183.8736
54        209.3809
55         71.5716
56        285.9481
57        225.6004
58        358.7236
59        101.6064
60        260.4996
61        260.4996
62         61.4656
63        322.9209
64        183.8736
65        133.4025
66        183.8736
67         51.9841
68         71.5716
69        209.3809
70        133.4025
71         37.3321
72         37.3321
73        133.4025
74        499.5225
75        209.3809
76        322.9209
77        881.4961
78         44.4889
79         37.3321
80        358.7236
81        225.6004
82        260.4996
83        881.4961
84        122.3236
85        133.4025
86        109.6209
87        260.4996
88        322.9209
89         61.4656
90        101.6064
91        358.7236
92        225.6004
93        225.6004
94        162.0529
95        209.3809
96        547.5600
97        358.7236
98         44.4889
99        162.0529
100       225.6004
101        51.9841
102       101.6064
103       322.9209
104        71.5716
105        37.3321
106       162.0529
107       322.9209
108       225.6004
109       358.7236
110       824.8384
111       260.4996
112       260.4996
113       101.6064
114        51.9841
115       225.6004
116        44.4889
117       285.9481
118        71.5716
119        71.5716
120       209.3809
121        61.4656
122       209.3809
123        37.3321
124       260.4996
125        44.4889
126       109.6209
127       285.9481
128       499.5225
129       260.4996
130        61.4656
131        37.3321
132        51.9841
133        61.4656
134       225.6004
135       133.4025
136       109.6209
137       285.9481
138       101.6064
139       162.0529
140       162.0529
141       101.6064
142       109.6209
143       101.6064
144        44.4889
145       101.6064
146       183.8736
147        37.3321
148       225.6004
149       162.0529
150       225.6004
151       285.9481
152        71.5716
153       322.9209
154       225.6004
155       396.8064
156       101.6064
157        44.4889
158       133.4025
159        44.4889
160       358.7236
161       692.2161
162        44.4889
163       209.3809
164       499.5225
165       225.6004
166        71.5716
167       225.6004
168        37.3321
169       499.5225
170       322.9209
171       396.8064
172        51.9841
173       396.8064
174       133.4025
175       225.6004
176        44.4889
177        71.5716
178       122.3236
179        44.4889
180       436.3921
181        61.4656
182        44.4889
183       285.9481
184        61.4656
185        61.4656
186        61.4656
187       109.6209
188        61.4656
189        37.3321
190       358.7236
191       209.3809
192       133.4025
193       101.6064
194       225.6004
195        71.5716
196       209.3809
197       322.9209
198       109.6209
199       183.8736
200       285.9481
201       285.9481
202       225.6004
203       225.6004
204       499.5225
205       436.3921
206       162.0529
207        51.9841
208       209.3809
209       285.9481
210        71.5716
211       133.4025
212       436.3921
213       285.9481
214       436.3921
215       109.6209
216       122.3236
217       183.8736
218       109.6209
219       183.8736
220        37.3321
221       396.8064
222        37.3321
223       109.6209
224       133.4025
225       101.6064
226       122.3236
227       101.6064
228       436.3921
229       209.3809
230       122.3236
231       209.3809
232       358.7236
233       122.3236
234        51.9841
235       133.4025
236        44.4889
237       260.4996
238        51.9841
239        61.4656
240        37.3321
241       358.7236
242        61.4656
243        61.4656
244       162.0529
245       109.6209
246        37.3321
247        44.4889
248        44.4889
249       133.4025
            ...
127944    196.8409
127945     46.6489
127946     65.2864
127947    239.9401
127948    524.4100
127949    305.2009
127950     91.7764
127951     91.7764
127952    666.1561
127953    101.4049
127954    170.5636
127955     28.1961
127956    569.7769
127957     28.1961
127958    239.9401
127959     28.1961
127960    305.2009
127961     46.6489
127962    270.9316
127963    210.8304
127964    170.5636
127965     65.2864
127966     65.2864
127967    122.1025
127968    477.4225
127969    305.2009
127970     38.3161
127971    270.9316
127972     55.6516
127973    617.0256
127974    147.1369
127975    147.1369
127976     28.1961
127977    210.8304
127978     28.1961
127979    524.4100
127980    196.8409
127981     91.7764
127982     91.7764
127983    569.7769
127984     28.1961
127985     55.6516
127986    147.1369
127987     55.6516
127988    415.7521
127989     91.7764
127990     65.2864
127991    210.8304
127992    101.4049
127993    377.1364
127994    617.0256
127995     28.1961
127996     38.3161
127997     91.7764
127998     46.6489
127999     46.6489
128000    270.9316
128001    716.6329
128002    122.1025
128003    716.6329
128004     46.6489
128005    111.5136
128006    377.1364
128007    210.8304
128008     28.1961
128009     65.2864
128010    101.4049
128011    210.8304
128012    210.8304
128013    170.5636
128014    196.8409
128015     46.6489
128016    239.9401
128017    716.6329
128018    170.5636
128019    239.9401
128020    170.5636
128021    377.1364
128022    305.2009
128023     28.1961
128024    196.8409
128025    122.1025
128026     46.6489
128027     28.1961
128028     65.2864
128029     38.3161
128030    569.7769
128031    239.9401
128032    210.8304
128033     38.3161
128034     28.1961
128035    210.8304
128036     28.1961
128037    210.8304
128038     65.2864
128039    210.8304
128040    666.1561
128041    305.2009
128042    210.8304
128043     38.3161
128044    196.8409
128045    305.2009
128046    239.9401
128047    111.5136
128048    270.9316
128049     28.1961
128050    305.2009
128051     55.6516
128052     38.3161
128053     38.3161
128054    524.4100
128055     46.6489
128056    111.5136
128057     46.6489
128058    122.1025
128059    477.4225
128060     65.2864
128061     38.3161
128062     46.6489
128063    305.2009
128064     28.1961
128065    270.9316
128066     28.1961
128067    617.0256
128068    210.8304
128069    340.4025
128070    340.4025
128071     65.2864
128072     28.1961
128073    170.5636
128074    617.0256
128075    210.8304
128076     28.1961
128077    170.5636
128078     65.2864
128079    270.9316
128080    210.8304
128081     65.2864
128082     55.6516
128083     55.6516
128084    210.8304
128085    196.8409
128086     28.1961
128087    716.6329
128088     55.6516
128089    340.4025
128090     28.1961
128091    210.8304
128092    305.2009
128093     46.6489
128094    196.8409
128095    305.2009
128096    270.9316
128097    239.9401
128098    196.8409
128099     55.6516
128100    170.5636
128101    569.7769
128102    122.1025
128103    210.8304
128104    122.1025
128105     28.1961
128106    305.2009
128107    617.0256
128108    210.8304
128109    210.8304
128110    239.9401
128111     65.2864
128112    524.4100
128113    270.9316
128114     38.3161
128115    239.9401
128116    617.0256
128117     28.1961
128118    170.5636
128119    196.8409
128120    147.1369
128121    239.9401
128122    569.7769
128123     65.2864
128124    170.5636
128125    569.7769
128126     28.1961
128127     65.2864
128128    210.8304
128129    239.9401
128130     65.2864
128131    170.5636
128132     55.6516
128133    170.5636
128134    170.5636
128135    569.7769
128136    524.4100
128137     55.6516
128138     28.1961
128139    617.0256
128140    270.9316
128141     55.6516
128142     46.6489
128143    170.5636
128144     55.6516
128145     65.2864
128146    210.8304
128147     55.6516
128148     28.1961
128149    270.9316
128150     28.1961
128151     46.6489
128152    111.5136
128153     55.6516
128154    270.9316
128155    170.5636
128156    196.8409
128157    170.5636
128158    270.9316
128159     38.3161
128160    196.8409
128161    340.4025
128162    170.5636
128163     55.6516
128164    239.9401
128165     46.6489
128166    270.9316
128167    239.9401
128168    477.4225
128169     28.1961
128170    122.1025
128171     55.6516
128172     28.1961
128173     46.6489
128174    111.5136
128175     55.6516
128176    270.9316
128177     46.6489
128178    111.5136
128179    122.1025
128180    617.0256
128181    122.1025
128182    147.1369
128183    101.4049
128184    170.5636
128185    340.4025
128186    239.9401
128187    111.5136
128188    196.8409
128189    270.9316
128190     38.3161
128191    239.9401
128192    122.1025
128193    270.9316
Name: int_rate, Length: 128194, dtype: float64

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
# Boolean column, True if 'emp_title' contains 'Manager', otherwise False

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')

In [29]:
# Look at value counts of new emp_title_manager column
df['emp_title_manager'].value_counts()

False    109498
True      18696
Name: emp_title_manager, dtype: int64

In [30]:
# See that it's on the df
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager
0,NaN,NaN,20000,20000,20000,60 months,17.97,507.55,D,D1,Motor Vehicle Operator,7 years,RENT,68000.0,Source Verified,Sep-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,254xx,WV,15.80,0,Feb-2009,1,30.0,118.0,11,1,13483,69.1%,26,w,19580.78,19580.78,975.17,975.17,419.22,555.95,0.0,0.0,0.0,Dec-2018,507.55,Jan-2019,Dec-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,194908,0,2,0,2,17.0,45299,93.0,0,1,9815,86.0,19500,1,4,2,5,19491.0,2185.0,81.8,0,0,115.0,94,13,7,4,25.0,NaN,2.0,30.0,0,1,3,2,4,11,8,10,3,11,0.0,0,0,1,92.3,50.0,1,0,205625,58782,12000,48733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False
1,NaN,NaN,25000,25000,25000,60 months,13.56,576.02,C,C1,Firefighter,7 years,MORTGAGE,61000.0,Verified,Sep-2018,Current,n,NaN,NaN,major_purchase,Major purchase,770xx,TX,16.74,0,Jan-2009,0,NaN,NaN,5,0,6299,48.5%,14,w,24109.45,24109.45,1567.98,1567.98,890.55,677.43,0.0,0.0,0.0,Dec-2018,576.02,Jan-2019,Dec-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,204007,1,2,0,1,19.0,13862,37.0,0,0,0,40.0,13000,0,7,4,2,40801.0,1500.0,0.0,0,0,54.0,116,26,3,1,74.0,NaN,4.0,NaN,0,0,1,1,2,5,2,8,1,5,0.0,0,0,1,100.0,0.0,0,0,234573,20161,1500,37273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False
2,NaN,NaN,30000,30000,30000,36 months,18.94,1098.78,D,D2,Unknown,< 1 year,RENT,100000.0,Source Verified,Sep-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,300xx,GA,16.07,0,Mar-2008,1,NaN,114.0,6,1,14574,70.1%,9,w,28739.57,28739.57,2134.43,2134.43,1260.43,874.00,0.0,0.0,0.0,Dec-2018,1098.78,Jan-2019,Dec-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,44048,1,2,1,1,1.0,29474,69.0,1,2,8521,69.0,20800,1,0,2,3,8810.0,5226.0,73.6,0,0,126.0,104,11,1,0,17.0,NaN,1.0,NaN,0,2,2,2,2,4,4,5,2,6,0.0,0,0,2,100.0,0.0,1,0,63636,44048,19800,42836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False
3,NaN,NaN,6000,6000,6000,36 months,7.84,187.58,A,A4,Unknown,NaN,RENT,30000.0,Not Verified,Sep-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,923xx,CA,5.44,0,Apr-2000,0,NaN,104.0,8,1,5936,34.5%,11,w,5702.27,5702.27,369.93,369.93,297.73,72.20,0.0,0.0,0.0,Dec-2018,187.58,Jan-2019,Dec-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,350,5936,0,0,0,1,23.0,0,NaN,1,4,2913,35.0,17200,2,0,0,5,848.0,7698.0,35.9,0,0,139.0,221,7,7,0,7.0,NaN,18.0,NaN,0,2,3,4,4,2,8,9,3,8,0.0,0,0,1,100.0,33.3,1,0,17200,5936,12000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False
4,NaN,NaN,10650,10650,10650,36 months,7.84,332.95,A,A4,Unknown,NaN,RENT,28000.0,Verified,Sep-2018,Current,n,NaN,NaN,medical,Medical expenses,430xx,OH,16.89,0,Nov-2002,0,NaN,NaN,3,0,37,0.3%,3,w,10121.54,10121.54,656.62,656.62,528.46,128.16,0.0,0.0,0.0,Dec-2018,332.95,Jan-2019,Dec-2018,0,NaN,1,Joint App,43000.0,14.01,Source Verified,0,0,18254,0,1,0,1,16.0,18217,81.0,0,0,0,54.0,11500,1,1,0,1,6085.0,NaN,NaN,0,0,16.0,190,113,16,0,NaN,NaN,16.0,NaN,0,0,1,0,0,1,2,2,2,3,0.0,0,0,0,100.0,NaN,0,0,33876,18254,0,22376,2024.0,Oct-1996,0.0,0.0,8.0,18.7,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False

In [31]:
df.shape

(128194, 146)

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [32]:
# See first few values of issue_d
df['issue_d'].head().values

array(['Sep-2018', 'Sep-2018', 'Sep-2018', 'Sep-2018', 'Sep-2018'],
      dtype=object)

In [0]:
# Change issue_d column to datetime format
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [34]:
# Look at new values
df['issue_d'].head().values

array(['2018-09-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2018-09-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2018-09-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [35]:
df['issue_d'].describe()

count                  128194
unique                      3
top       2018-08-01 00:00:00
freq                    46079
first     2018-07-01 00:00:00
last      2018-09-01 00:00:00
Name: issue_d, dtype: object

In [0]:
# Creating two new columns with just the year and month of issue_d
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

In [37]:
# Check new column with random sample
df['issue_month'].sample(n=10).values

array([9, 8, 9, 8, 7, 8, 9, 8, 7, 7])

In [38]:
# See values of earliest_cr_line column
df['earliest_cr_line'].head().values

array(['Feb-2009', 'Jan-2009', 'Mar-2008', 'Apr-2000', 'Nov-2002'],
      dtype=object)

In [0]:
# Change column to datetime format
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [0]:
# Creat new column by subtrating earliest_cr_line from issue_d, in days
df['days_from_earliest_credit_to_issue'] = (
    df['issue_d'] - df['earliest_cr_line']).dt.days

In [41]:
# Looking at value of new column
df['days_from_earliest_credit_to_issue'].head().values

array([3499, 3530, 3836, 6727, 5783])

In [42]:
# List comprehension to see all columns that end in '_d'
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
# Taking above list and using another list comprehension to change all columns
# in list to datetime format
for col in ['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
  df[col] = pd.to_datetime(df[col], infer_datetime_format=True)

In [44]:
df['loan_status'].value_counts()

Current               121082
Fully Paid              4786
In Grace Period          948
Late (31-120 days)       920
Late (16-30 days)        348
Charged Off              110
Name: loan_status, dtype: int64

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [45]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_year,issue_month,days_from_earliest_credit_to_issue
0,NaN,NaN,20000,20000,20000,60 months,17.97,507.55,D,D1,Motor Vehicle Operator,7 years,RENT,68000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,254xx,WV,15.80,0,2009-02-01,1,30.0,118.0,11,1,13483,69.1%,26,w,19580.78,19580.78,975.17,975.17,419.22,555.95,0.0,0.0,0.0,2018-12-01,507.55,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,194908,0,2,0,2,17.0,45299,93.0,0,1,9815,86.0,19500,1,4,2,5,19491.0,2185.0,81.8,0,0,115.0,94,13,7,4,25.0,NaN,2.0,30.0,0,1,3,2,4,11,8,10,3,11,0.0,0,0,1,92.3,50.0,1,0,205625,58782,12000,48733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3499
1,NaN,NaN,25000,25000,25000,60 months,13.56,576.02,C,C1,Firefighter,7 years,MORTGAGE,61000.0,Verified,2018-09-01,Current,n,NaN,NaN,major_purchase,Major purchase,770xx,TX,16.74,0,2009-01-01,0,NaN,NaN,5,0,6299,48.5%,14,w,24109.45,24109.45,1567.98,1567.98,890.55,677.43,0.0,0.0,0.0,2018-12-01,576.02,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,204007,1,2,0,1,19.0,13862,37.0,0,0,0,40.0,13000,0,7,4,2,40801.0,1500.0,0.0,0,0,54.0,116,26,3,1,74.0,NaN,4.0,NaN,0,0,1,1,2,5,2,8,1,5,0.0,0,0,1,100.0,0.0,0,0,234573,20161,1500,37273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3530
2,NaN,NaN,30000,30000,30000,36 months,18.94,1098.78,D,D2,Unknown,< 1 year,RENT,100000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,300xx,GA,16.07,0,2008-03-01,1,NaN,114.0,6,1,14574,70.1%,9,w,28739.57,28739.57,2134.43,2134.43,1260.43,874.00,0.0,0.0,0.0,2018-12-01,1098.78,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,44048,1,2,1,1,1.0,29474,69.0,1,2,8521,69.0,20800,1,0,2,3,8810.0,5226.0,73.6,0,0,126.0,104,11,1,0,17.0,NaN,1.0,NaN,0,2,2,2,2,4,4,5,2,6,0.0,0,0,2,100.0,0.0,1,0,63636,44048,19800,42836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3836
3,NaN,NaN,6000,6000,6000,36 months,7.84,187.58,A,A4,Unknown,NaN,RENT,30000.0,Not Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,923xx,CA,5.44,0,2000-04-01,0,NaN,104.0,8,1,5936,34.5%,11,w,5702.27,5702.27,369.93,369.93,297.73,72.20,0.0,0.0,0.0,2018-12-01,187.58,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,350,5936,0,0,0,1,23.0,0,NaN,1,4,2913,35.0,17200,2,0,0,5,848.0,7698.0,35.9,0,0,139.0,221,7,7,0,7.0,NaN,18.0,NaN,0,2,3,4,4,2,8,9,3,8,0.0,0,0,1,100.0,33.3,1,0,17200,5936,12000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,6727
4,NaN,NaN,10650,10650,10650,36 months,7.84,332.95,A,A4,Unknown,NaN,RENT,28000.0,Verified,2018-09-01,Current,n,NaN,NaN,medical,Medical expenses,430xx,OH,16.89,0,2002-11-01,0,NaN,NaN,3,0,37,0.3%,3,w,10121.54,10121.54,656.62,656.62,528.46,128.16,0.0,0.0,0.0,2018-12-01,332.95,2019-01-01,2018-12-01,0,NaN,1,Joint App,43000.0,14.01,Source Verified,0,0,18254,0,1,0,1,16.0,18217,81.0,0,0,0,54.0,11500,1,1,0,1,6085.0,NaN,NaN,0,0,16.0,190,113,16,0,NaN,NaN,16.0,NaN,0,0,1,0,0,1,2,2,2,3,0.0,0,0,0,100.0,NaN,0,0,33876,18254,0,22376,2024.0,Oct-1996,0.0,0.0,8.0,18.7,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,5783

**Converting 'term' column from string to integer**

In [46]:
df.term.value_counts()

 36 months    89574
 60 months    38620
Name: term, dtype: int64

In [47]:
df.term.values

array([' 60 months', ' 60 months', ' 36 months', ..., ' 36 months',
       ' 36 months', ' 36 months'], dtype=object)

In [0]:
# Putting 'in months' in the term header for clarity
df = df.rename(index=str, columns={'term': 'term (in months)'})

In [52]:
test = '60 months' # Test example

def turn_to_int(string):
  return int(string.replace('months', ''))

turn_to_int(test)

60

In [0]:
df['term (in months)'] = df['term (in months)'].apply(turn_to_int)

In [55]:
df['term (in months)'].values

array([60, 60, 36, ..., 36, 36, 36])

**Making loan_status_is_great column**

In [63]:
df['loan_status'].value_counts()

Current               121082
Fully Paid              4786
In Grace Period          948
Late (31-120 days)       920
Late (16-30 days)        348
Charged Off              110
Name: loan_status, dtype: int64

In [69]:
test2 = 'Late (31-120 days)'

def status_great(string):
  if string == 'Current':
    return 1
  elif string == 'Fully Paid':
    return 1
  else:
    return 0
  
status_great(test2)

0

In [0]:
df['loan_status_is_great'] = df['loan_status'].apply(status_great)

In [71]:
df['loan_status_is_great'].value_counts()

1    125868
0      2326
Name: loan_status_is_great, dtype: int64

In [72]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term (in months),int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_year,issue_month,days_from_earliest_credit_to_issue,loan_status_is_great
0,NaN,NaN,20000,20000,20000,60,17.97,507.55,D,D1,Motor Vehicle Operator,7 years,RENT,68000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,254xx,WV,15.80,0,2009-02-01,1,30.0,118.0,11,1,13483,69.1%,26,w,19580.78,19580.78,975.17,975.17,419.22,555.95,0.0,0.0,0.0,2018-12-01,507.55,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,194908,0,2,0,2,17.0,45299,93.0,0,1,9815,86.0,19500,1,4,2,5,19491.0,2185.0,81.8,0,0,115.0,94,13,7,4,25.0,NaN,2.0,30.0,0,1,3,2,4,11,8,10,3,11,0.0,0,0,1,92.3,50.0,1,0,205625,58782,12000,48733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3499,1
1,NaN,NaN,25000,25000,25000,60,13.56,576.02,C,C1,Firefighter,7 years,MORTGAGE,61000.0,Verified,2018-09-01,Current,n,NaN,NaN,major_purchase,Major purchase,770xx,TX,16.74,0,2009-01-01,0,NaN,NaN,5,0,6299,48.5%,14,w,24109.45,24109.45,1567.98,1567.98,890.55,677.43,0.0,0.0,0.0,2018-12-01,576.02,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,204007,1,2,0,1,19.0,13862,37.0,0,0,0,40.0,13000,0,7,4,2,40801.0,1500.0,0.0,0,0,54.0,116,26,3,1,74.0,NaN,4.0,NaN,0,0,1,1,2,5,2,8,1,5,0.0,0,0,1,100.0,0.0,0,0,234573,20161,1500,37273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3530,1
2,NaN,NaN,30000,30000,30000,36,18.94,1098.78,D,D2,Unknown,< 1 year,RENT,100000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,300xx,GA,16.07,0,2008-03-01,1,NaN,114.0,6,1,14574,70.1%,9,w,28739.57,28739.57,2134.43,2134.43,1260.43,874.00,0.0,0.0,0.0,2018-12-01,1098.78,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,44048,1,2,1,1,1.0,29474,69.0,1,2,8521,69.0,20800,1,0,2,3,8810.0,5226.0,73.6,0,0,126.0,104,11,1,0,17.0,NaN,1.0,NaN,0,2,2,2,2,4,4,5,2,6,0.0,0,0,2,100.0,0.0,1,0,63636,44048,19800,42836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3836,1
3,NaN,NaN,6000,6000,6000,36,7.84,187.58,A,A4,Unknown,NaN,RENT,30000.0,Not Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,923xx,CA,5.44,0,2000-04-01,0,NaN,104.0,8,1,5936,34.5%,11,w,5702.27,5702.27,369.93,369.93,297.73,72.20,0.0,0.0,0.0,2018-12-01,187.58,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,350,5936,0,0,0,1,23.0,0,NaN,1,4,2913,35.0,17200,2,0,0,5,848.0,7698.0,35.9,0,0,139.0,221,7,7,0,7.0,NaN,18.0,NaN,0,2,3,4,4,2,8,9,3,8,0.0,0,0,1,100.0,33.3,1,0,17200,5936,12000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,6727,1
4,NaN,NaN,10650,10650,10650,36,7.84,332.95,A,A4,Unknown,NaN,RENT,28000.0,Verified,2018-09-01,Current,n,NaN,NaN,medical,Medical expenses,430xx,OH,16.89,0,2002-11-01,0,NaN,NaN,3,0,37,0.3%,3,w,10121.54,10121.54,656.62,656.62,528.46,128.16,0.0,0.0,0.0,2018-12-01,332.95,2019-01-01,2018-12-01,0,NaN,1,Joint App,43000.0,14.01,Source Verified,0,0,18254,0,1,0,1,16.0,18217,81.0,0,0,0,54.0,11500,1,1,0,1,6085.0,NaN,NaN,0,0,16.0,190,113,16,0,NaN,NaN,16.0,NaN,0,0,1,0,0,1,2,2,2,3,0.0,0,0,0,100.0,NaN,0,0,33876,18254,0,22376,2024.0,Oct-1996,0.0,0.0,8.0,18.7,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,5783,1

**Making last_pymnt_d_month and last_pymnt_d_year columns**

In [73]:
df['last_pymnt_d'].values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', ...,
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [79]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term (in months),int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_year,issue_month,days_from_earliest_credit_to_issue,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,NaN,NaN,20000,20000,20000,60,17.97,507.55,D,D1,Motor Vehicle Operator,7 years,RENT,68000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,254xx,WV,15.80,0,2009-02-01,1,30.0,118.0,11,1,13483,69.1%,26,w,19580.78,19580.78,975.17,975.17,419.22,555.95,0.0,0.0,0.0,2018-12-01,507.55,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,194908,0,2,0,2,17.0,45299,93.0,0,1,9815,86.0,19500,1,4,2,5,19491.0,2185.0,81.8,0,0,115.0,94,13,7,4,25.0,NaN,2.0,30.0,0,1,3,2,4,11,8,10,3,11,0.0,0,0,1,92.3,50.0,1,0,205625,58782,12000,48733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3499,1,12.0,2018.0
1,NaN,NaN,25000,25000,25000,60,13.56,576.02,C,C1,Firefighter,7 years,MORTGAGE,61000.0,Verified,2018-09-01,Current,n,NaN,NaN,major_purchase,Major purchase,770xx,TX,16.74,0,2009-01-01,0,NaN,NaN,5,0,6299,48.5%,14,w,24109.45,24109.45,1567.98,1567.98,890.55,677.43,0.0,0.0,0.0,2018-12-01,576.02,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,204007,1,2,0,1,19.0,13862,37.0,0,0,0,40.0,13000,0,7,4,2,40801.0,1500.0,0.0,0,0,54.0,116,26,3,1,74.0,NaN,4.0,NaN,0,0,1,1,2,5,2,8,1,5,0.0,0,0,1,100.0,0.0,0,0,234573,20161,1500,37273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3530,1,12.0,2018.0
2,NaN,NaN,30000,30000,30000,36,18.94,1098.78,D,D2,Unknown,< 1 year,RENT,100000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,300xx,GA,16.07,0,2008-03-01,1,NaN,114.0,6,1,14574,70.1%,9,w,28739.57,28739.57,2134.43,2134.43,1260.43,874.00,0.0,0.0,0.0,2018-12-01,1098.78,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,44048,1,2,1,1,1.0,29474,69.0,1,2,8521,69.0,20800,1,0,2,3,8810.0,5226.0,73.6,0,0,126.0,104,11,1,0,17.0,NaN,1.0,NaN,0,2,2,2,2,4,4,5,2,6,0.0,0,0,2,100.0,0.0,1,0,63636,44048,19800,42836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3836,1,12.0,2018.0
3,NaN,NaN,6000,6000,6000,36,7.84,187.58,A,A4,Unknown,NaN,RENT,30000.0,Not Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,923xx,CA,5.44,0,2000-04-01,0,NaN,104.0,8,1,5936,34.5%,11,w,5702.27,5702.27,369.93,369.93,297.73,72.20,0.0,0.0,0.0,2018-12-01,187.58,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,350,5936,0,0,0,1,23.0,0,NaN,1,4,2913,35.0,17200,2,0,0,5,848.0,7698.0,35.9,0,0,139.0,221,7,7,0,7.0,NaN,18.0,NaN,0,2,3,4,4,2,8,9,3,8,0.0,0,0,1,100.0,33.3,1,0,17200,5936,12000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,6727,1,12.0,2018.0
4,NaN,NaN,10650,10650,10650,36,7.84,332.95,A,A4,Unknown,NaN,RENT,28000.0,Verified,2018-09-01,Current,n,NaN,NaN,medical,Medical expenses,430xx,OH,16.89,0,2002-11-01,0,NaN,NaN,3,0,37,0.3%,3,w,10121.54,10121.54,656.62,656.62,528.46,128.16,0.0,0.0,0.0,2018-12-01,332.95,2019-01-01,2018-12-01,0,NaN,1,Joint App,43000.0,14.01,Source Verified,0,0,18254,0,1,0,1,16.0,18217,81.0,0,0,0,54.0,11500,1,1,0,1,6085.0,NaN,NaN,0,0,16.0,190,113,16,0,NaN,NaN,16.0,NaN,0,0,1,0,0,1,2,2,2,3,0.0,0,0,0,100.0,NaN,0,0,33876,18254,0,22376,2024.0,Oct-1996,0.0,0.0,8.0,18.7,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,5783,1,12.0,2018.0

In [81]:
df.shape

(128194, 152)

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Process the dataframe so that `ready_for_sklearn(df)` returns `True`. You can drop columns, or select the subset of numeric columns with no missing values. (Or you can try automating the process to handle missing values and convert objects to numbers!)
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01

## **More LendingClub**

In [82]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term (in months),int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_year,issue_month,days_from_earliest_credit_to_issue,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,NaN,NaN,20000,20000,20000,60,17.97,507.55,D,D1,Motor Vehicle Operator,7 years,RENT,68000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,254xx,WV,15.80,0,2009-02-01,1,30.0,118.0,11,1,13483,69.1%,26,w,19580.78,19580.78,975.17,975.17,419.22,555.95,0.0,0.0,0.0,2018-12-01,507.55,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,194908,0,2,0,2,17.0,45299,93.0,0,1,9815,86.0,19500,1,4,2,5,19491.0,2185.0,81.8,0,0,115.0,94,13,7,4,25.0,NaN,2.0,30.0,0,1,3,2,4,11,8,10,3,11,0.0,0,0,1,92.3,50.0,1,0,205625,58782,12000,48733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3499,1,12.0,2018.0
1,NaN,NaN,25000,25000,25000,60,13.56,576.02,C,C1,Firefighter,7 years,MORTGAGE,61000.0,Verified,2018-09-01,Current,n,NaN,NaN,major_purchase,Major purchase,770xx,TX,16.74,0,2009-01-01,0,NaN,NaN,5,0,6299,48.5%,14,w,24109.45,24109.45,1567.98,1567.98,890.55,677.43,0.0,0.0,0.0,2018-12-01,576.02,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,204007,1,2,0,1,19.0,13862,37.0,0,0,0,40.0,13000,0,7,4,2,40801.0,1500.0,0.0,0,0,54.0,116,26,3,1,74.0,NaN,4.0,NaN,0,0,1,1,2,5,2,8,1,5,0.0,0,0,1,100.0,0.0,0,0,234573,20161,1500,37273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3530,1,12.0,2018.0
2,NaN,NaN,30000,30000,30000,36,18.94,1098.78,D,D2,Unknown,< 1 year,RENT,100000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,300xx,GA,16.07,0,2008-03-01,1,NaN,114.0,6,1,14574,70.1%,9,w,28739.57,28739.57,2134.43,2134.43,1260.43,874.00,0.0,0.0,0.0,2018-12-01,1098.78,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,44048,1,2,1,1,1.0,29474,69.0,1,2,8521,69.0,20800,1,0,2,3,8810.0,5226.0,73.6,0,0,126.0,104,11,1,0,17.0,NaN,1.0,NaN,0,2,2,2,2,4,4,5,2,6,0.0,0,0,2,100.0,0.0,1,0,63636,44048,19800,42836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3836,1,12.0,2018.0
3,NaN,NaN,6000,6000,6000,36,7.84,187.58,A,A4,Unknown,NaN,RENT,30000.0,Not Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,923xx,CA,5.44,0,2000-04-01,0,NaN,104.0,8,1,5936,34.5%,11,w,5702.27,5702.27,369.93,369.93,297.73,72.20,0.0,0.0,0.0,2018-12-01,187.58,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,350,5936,0,0,0,1,23.0,0,NaN,1,4,2913,35.0,17200,2,0,0,5,848.0,7698.0,35.9,0,0,139.0,221,7,7,0,7.0,NaN,18.0,NaN,0,2,3,4,4,2,8,9,3,8,0.0,0,0,1,100.0,33.3,1,0,17200,5936,12000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,6727,1,12.0,2018.0
4,NaN,NaN,10650,10650,10650,36,7.84,332.95,A,A4,Unknown,NaN,RENT,28000.0,Verified,2018-09-01,Current,n,NaN,NaN,medical,Medical expenses,430xx,OH,16.89,0,2002-11-01,0,NaN,NaN,3,0,37,0.3%,3,w,10121.54,10121.54,656.62,656.62,528.46,128.16,0.0,0.0,0.0,2018-12-01,332.95,2019-01-01,2018-12-01,0,NaN,1,Joint App,43000.0,14.01,Source Verified,0,0,18254,0,1,0,1,16.0,18217,81.0,0,0,0,54.0,11500,1,1,0,1,6085.0,NaN,NaN,0,0,16.0,190,113,16,0,NaN,NaN,16.0,NaN,0,0,1,0,0,1,2,2,2,3,0.0,0,0,0,100.0,NaN,0,0,33876,18254,0,22376,2024.0,Oct-1996,0.0,0.0,8.0,18.7,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,5783,1,12.0,2018.0

**Converting revol_util column to floats and handling missing values**

In [84]:
df['revol_util'].values

array(['69.1%', '48.5%', '70.1%', ..., '63%', '28.1%', '45.4%'],
      dtype=object)

In [105]:
df['revol_util'].isnull().sum()

129

In [110]:
test3 = '10.6%'

def turn_to_float(string):
  if isinstance(string, str):
    return float(string.strip('%'))
  elif string == np.nan:
    return np.nan

turn_to_float(test3)

10.6

In [0]:
df['revol_util'] = df['revol_util'].apply(turn_to_float)

In [113]:
df['revol_util'].isnull().sum()

129

In [114]:
df['revol_util'].mean()

44.45021668683871

In [0]:
df['revol_util'] = df['revol_util'].fillna(df['revol_util'].mean)

In [117]:
df['revol_util'].isnull().sum()

0

**Modifying emp_title column to replace titles with 'Other' if the title is not in the top 20. **

In [125]:
top_twenty = df['emp_title'].value_counts().head(20).reset_index()
top_twenty

                       index  emp_title
0                    Unknown      13437
1                    Teacher       2843
2                    Manager       2749
3                      Owner       1856
4                     Driver       1498
5           Registered Nurse       1386
6                 Supervisor       1345
7                      Sales        980
8               Truck Driver        921
9                         Rn        905
10            Office Manager        846
11           Project Manager        835
12           General Manager        809
13                  Director        585
14        Operations Manager        516
15             Sales Manager        510
16                  Engineer        474
17  Administrative Assistant        466
18             Store Manager        466
19                 President        464

In [132]:
test4 = 'Basketball Player'

def replace_with_other(string):
  if string in top_twenty['index'].tolist():
    return string
  else:
    return 'Other'
  
replace_with_other(test4)

'Other'

In [0]:
df['emp_title'] = df['emp_title'].apply(replace_with_other)

In [138]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term (in months),int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_year,issue_month,days_from_earliest_credit_to_issue,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,NaN,NaN,20000,20000,20000,60,17.97,507.55,D,D1,Other,7 years,RENT,68000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,254xx,WV,15.80,0,2009-02-01,1,30.0,118.0,11,1,13483,69.1,26,w,19580.78,19580.78,975.17,975.17,419.22,555.95,0.0,0.0,0.0,2018-12-01,507.55,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,194908,0,2,0,2,17.0,45299,93.0,0,1,9815,86.0,19500,1,4,2,5,19491.0,2185.0,81.8,0,0,115.0,94,13,7,4,25.0,NaN,2.0,30.0,0,1,3,2,4,11,8,10,3,11,0.0,0,0,1,92.3,50.0,1,0,205625,58782,12000,48733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3499,1,12.0,2018.0
1,NaN,NaN,25000,25000,25000,60,13.56,576.02,C,C1,Other,7 years,MORTGAGE,61000.0,Verified,2018-09-01,Current,n,NaN,NaN,major_purchase,Major purchase,770xx,TX,16.74,0,2009-01-01,0,NaN,NaN,5,0,6299,48.5,14,w,24109.45,24109.45,1567.98,1567.98,890.55,677.43,0.0,0.0,0.0,2018-12-01,576.02,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,204007,1,2,0,1,19.0,13862,37.0,0,0,0,40.0,13000,0,7,4,2,40801.0,1500.0,0.0,0,0,54.0,116,26,3,1,74.0,NaN,4.0,NaN,0,0,1,1,2,5,2,8,1,5,0.0,0,0,1,100.0,0.0,0,0,234573,20161,1500,37273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3530,1,12.0,2018.0
2,NaN,NaN,30000,30000,30000,36,18.94,1098.78,D,D2,Unknown,< 1 year,RENT,100000.0,Source Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,300xx,GA,16.07,0,2008-03-01,1,NaN,114.0,6,1,14574,70.1,9,w,28739.57,28739.57,2134.43,2134.43,1260.43,874.00,0.0,0.0,0.0,2018-12-01,1098.78,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,0,44048,1,2,1,1,1.0,29474,69.0,1,2,8521,69.0,20800,1,0,2,3,8810.0,5226.0,73.6,0,0,126.0,104,11,1,0,17.0,NaN,1.0,NaN,0,2,2,2,2,4,4,5,2,6,0.0,0,0,2,100.0,0.0,1,0,63636,44048,19800,42836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,3836,1,12.0,2018.0
3,NaN,NaN,6000,6000,6000,36,7.84,187.58,A,A4,Unknown,NaN,RENT,30000.0,Not Verified,2018-09-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,923xx,CA,5.44,0,2000-04-01,0,NaN,104.0,8,1,5936,34.5,11,w,5702.27,5702.27,369.93,369.93,297.73,72.20,0.0,0.0,0.0,2018-12-01,187.58,2019-01-01,2018-12-01,0,NaN,1,Individual,NaN,NaN,NaN,0,350,5936,0,0,0,1,23.0,0,NaN,1,4,2913,35.0,17200,2,0,0,5,848.0,7698.0,35.9,0,0,139.0,221,7,7,0,7.0,NaN,18.0,NaN,0,2,3,4,4,2,8,9,3,8,0.0,0,0,1,100.0,33.3,1,0,17200,5936,12000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,6727,1,12.0,2018.0
4,NaN,NaN,10650,10650,10650,36,7.84,332.95,A,A4,Unknown,NaN,RENT,28000.0,Verified,2018-09-01,Current,n,NaN,NaN,medical,Medical expenses,430xx,OH,16.89,0,2002-11-01,0,NaN,NaN,3,0,37,0.3,3,w,10121.54,10121.54,656.62,656.62,528.46,128.16,0.0,0.0,0.0,2018-12-01,332.95,2019-01-01,2018-12-01,0,NaN,1,Joint App,43000.0,14.01,Source Verified,0,0,18254,0,1,0,1,16.0,18217,81.0,0,0,0,54.0,11500,1,1,0,1,6085.0,NaN,NaN,0,0,16.0,190,113,16,0,NaN,NaN,16.0,NaN,0,0,1,0,0,1,2,2,2,3,0.0,0,0,0,100.0,NaN,0,0,33876,18254,0,22376,2024.0,Oct-1996,0.0,0.0,8.0,18.7,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,9,5783,1,12.0,2018.0

**Processing  dataframe so that ready_for_sklearn(df) returns True.**

In [0]:
# import numpy as np

# def all_numeric(df):
#   return all ((df.dtypes==np.number) |
#              (df.dtypes==bool))

# def no_nulls(df):
#   return not any(df.isnull().sum())

# def ready_for_sklearn(df):
#   return all_numeric(df) and no_nulls(df)

In [141]:
df.shape

(128194, 152)

In [140]:
df['id'].isnull().sum()

128194

In [0]:
df = df.drop('id', axis=1)

In [145]:
df['member_id'].isnull().sum()

128194

In [0]:
df = df.drop('member_id', axis=1)

In [149]:
df['loan_amnt'].isnull().sum()

0

In [152]:
df['funded_amnt'].isnull().sum(), df['funded_amnt'].dtype

(0, dtype('int64'))

In [153]:
df['funded_amnt_inv'].isnull().sum(), df['funded_amnt_inv'].dtype

(0, dtype('int64'))

In [154]:
df['int_rate'].isnull().sum(), df['int_rate'].dtype

(0, dtype('float64'))

In [155]:
df['installment'].isnull().sum(), df['installment'].dtype

(0, dtype('float64'))

In [157]:
df['emp_length'].isnull().sum(), df['emp_length'].dtype

(10387, dtype('O'))

In [158]:
df['emp_length'].value_counts()

10+ years    42035
2 years      11407
< 1 year     11353
3 years      10540
1 year        8295
4 years       8238
5 years       8103
6 years       5750
7 years       4629
8 years       4311
9 years       3146
Name: emp_length, dtype: int64