<a href="https://colab.research.google.com/github/lineality/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/module1/GGA_Asmnt_v4_LS_DS_121_Join_and_Reshape_Data_Assignment_Geoffrey_Gordon_Ashbrook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Assignment Submission for Geoffrey Gordon Ashbrook 2019.09 DS8


_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

# New Section

In [0]:
#libraries#library Imports
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import seaborn as sns

In [6]:
!ls

instacart_2017_05_01
instacart_online_grocery_shopping_2017_05_01.tar.gz
instacart_online_grocery_shopping_2017_05_01.tar.gz.1
instacart_online_grocery_shopping_2017_05_01.tar.gz.2
sample_data

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [5]:
!ls -lh *.csv

ls: cannot access '*.csv': No such file or directory

In [4]:
#where am I?
import os
os.getcwd()

'/content'

In [7]:
#change directoreis to instacart
%cd instacart_2017_05_01/

/content/instacart_2017_05_01

In [8]:
#check
!ls

aisles.csv	 order_products__prior.csv  orders.csv
departments.csv  order_products__train.csv  products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.


Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

Literally, this is asking how many orders were placed that contained that item:

##df needed:

order prior

order train

products


##df not needed:

aisles

departments

orders

##Plan:

The question is, for each item, how many orders were made that contained that item. 

We need to find where the items are listed (in: products), where relevant information about those items are listed (again products: order_ID is relevant), where the orders are listed (OPPrior, OPTrain). 

Which are the relevant and irrelvant data frames? 

Relevant:
products (name and id number)
OPP, OPT (id number number or orders)

Merge: two order lists (oPP, opt)
filter out other orders

Use:
subset_products = products.loc[product_id, product_name]
subset.head()

merged_orders = pd.merge(order_products__train, order_products__prior, how='inner', on='order_id')

subset_merged_orders = merged_orders.loc[product_id, order_id]
subset.head()

merged


The plan is to merge the two df's we need into one.

Then slim down the df to only the rows we need.

Q: counting lines?

In [0]:
#products.head(2)

In [0]:
#did not work...trying alternatibve

#subset_products = products.loc[product_id, product_name]
#subset_products.head()

#Step 1: removed un-needed columns

using .drop

In [0]:
#Use .drop to remove extra columns
#resource: documentation for library
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

subset_products = products.drop(columns=['aisle_id', 'department_id'])

In [57]:
#checking
#this worked
subset_products.head(5)

   product_id                                       product_name
0           1                         Chocolate Sandwich Cookies
1           2                                   All-Seasons Salt
2           3               Robust Golden Unsweetened Oolong Tea
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4           5                          Green Chile Anytime Sauce

In [0]:
#remove extranous columns from order-prior-train Data frames
subset_order_products__prior = order_products__prior.drop(columns=['add_to_cart_order', 'reordered'])

In [50]:
#checking
subset_order_products__prior.head(2)

   order_id  product_id
0         2       33120
1         2       28985

In [0]:
#remove extranous columns
subset_order_products__train = order_products__train.drop(columns=['add_to_cart_order', 'reordered'])

In [51]:
#checking
subset_order_products__train.head(2)

   order_id  product_id
0         1       49302
1         1       11109

## Step 2: concatonate the two order_prior_train files
making one file of order information

In [0]:


all_orders = pd.concat([subset_order_products__train, subset_order_products__prior])

In [55]:
all_orders.head()

   order_id  product_id
0         1       49302
1         1       11109
2         1       10246
3         1       49683
4         1       43633

In [56]:
all_orders.shape

(33819106, 2)

##Step 3: Merge the product name and product order files, matching them along the lines of product ID

In [0]:
#orders_products = pd.merge(subset_products, all_orders, how='inner', on='order_id')

In [0]:
# Using .merge to create a combined file
# resource = https://chrisalbon.com/python/data_wrangling/pandas_join_merge_dataframe/
orders_products = pd.merge(subset_products, all_orders, on='product_id')

In [62]:
orders_products.shape

(33819106, 3)

In [63]:
orders_products.head(5)

   product_id                product_name  order_id
0           1  Chocolate Sandwich Cookies      6695
1           1  Chocolate Sandwich Cookies     48361
2           1  Chocolate Sandwich Cookies     63770
3           1  Chocolate Sandwich Cookies     75339
4           1  Chocolate Sandwich Cookies    240996

## Step 4: filter out just the top ten shopping items:

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.


Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.


##Plan: Filtering Steps 4 & 5


To filter out the not-top-ten products, we will use two steps:

Step 4. Make a new boolean column called 'Keep_This' marked 'ok' if the product names match the top ten sellers.

use filter to fill a new column with boolean yes if contains X
orders_products[keep_this] = df['product_name'].str.contains('Banana', 'Bag of Organic Bananas', 'Organic Strawberries', 'Organic Baby Spinach', 'Organic Hass Avocado','Organic Avocado', 'Large Lemon', 'Strawberries', 'Limes', 'Organic Whole Milk')

Step 5
returns the whole df but only those parts that contain the boolean yes
Top10_orders_and_products = (df[keep_this] == True)
df[Top10_orders_and_products].head()

In [0]:
#Step 4 use filter to fill a new column with boolean yes if contains X
#orders_products['keep_this1'] = orders_products['product_name'].str.contains('Banana', 'Bag of Organic Bananas', 'Organic Strawberries', 'Organic Baby Spinach','Organic Hass Avocado')

#orders_products['keep_this2'] = orders_products['product_name'].str.contains('Organic Avocado', 'Large Lemon', 'Strawberries', 'Limes', 'Organic Whole Milk')

In [0]:
#Step 5
#returns the whole df but only those parts that contain the boolean yes
Top10_orders_and_products = (df[keep_this] == True)
df[Top10_orders_and_products].head()

In [0]:
# Make a new Column, boolean, all false
orders_products['keep_this'] = False

In [74]:
orders_products.head(2)

   product_id                product_name  order_id  keep_this
0           1  Chocolate Sandwich Cookies      6695      False
1           1  Chocolate Sandwich Cookies     48361      False

In [0]:
if orders_products['product_name'].str.contains('Bag of Organic Bananas') == True:
  orders_products['keep_this'] = True

In [0]:
#make a list:
top_10 = ['Bag of Organic Bananas', 'Organic Strawberries', 'Organic Baby Spinach', 'Organic Hass Avocado','Organic Avocado', 'Large Lemon', 'Strawberries', 'Limes', 'Organic Whole Milk']

These are my target columns (or data to eventually be columns, or tidy rows?)

Banana
Bag of Organic Bananas
Organic Strawberries
Organic Baby Spinach
Organic Hass Avocado
Organic Avocado
Large Lemon
Strawberries
Limes
Organic Whole Milk

*   List item
*   List item

These are the available dataframes:
aisles
dept
ordered prior
ordered train
orders
products




---

we shall: load and examine each dataframe

In [0]:
#aisles = pd.read_csv('aisles.csv')
#print(aisles.shape)
#aisles.head()

In [0]:

print(departments.shape)
departments.head(5)

In [40]:
order_products__prior = pd.read_csv('order_products__prior.csv')
print(order_products__prior.shape)
order_products__prior.head(5)

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [41]:
order_products__train = pd.read_csv('order_products__train.csv')
print (order_products__train.shape)
order_products__train.head(5)

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [0]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.head(5)

In [0]:
products = pd.read_csv('products.csv')
print(products.shape)
products.head(5)

In [0]:
product_name

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
flights = sns.load_dataset('flights')

In [0]:
##### YOUR CODE HERE #####

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####